{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-06-30",
        "endpointPrefix": "cognito-identity",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Cognito Identity",
        "serviceId": "Cognito Identity",
        "signatureVersion": "v4",
        "targetPrefix": "AWSCognitoIdentityService",
        "uid": "cognito-identity-2014-06-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
            "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
            "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
        ]
    },
    "operations": {
        "CreateIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolName",
                    "AllowUnauthenticatedIdentities"
                ],
                "members": {
                    "IdentityPoolName": {},
                    "AllowUnauthenticatedIdentities": {
                        "type": "boolean"
                    },
                    "AllowClassicFlow": {
                        "type": "boolean"
                    },
                    "SupportedLoginProviders": {
                        "shape": "S5"
                    },
                    "DeveloperProviderName": {},
                    "OpenIdConnectProviderARNs": {
                        "shape": "S9"
                    },
                    "CognitoIdentityProviders": {
                        "shape": "Sb"
                    },
                    "SamlProviderARNs": {
                        "shape": "Sg"
                    },
                    "IdentityPoolTags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityIdsToDelete"
                ],
                "members": {
                    "IdentityIdsToDelete": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedIdentityIds": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityId": {},
                                "ErrorCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DeleteIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {}
                }
            },
            "output": {
                "shape": "Sv"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "DescribeIdentityPool": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetCredentialsForIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "CustomRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Credentials": {
                        "type": "structure",
                        "members": {
                            "AccessKeyId": {},
                            "SecretKey": {},
                            "SessionToken": {},
                            "Expiration": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetId": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "AccountId": {},
                    "IdentityPoolId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetOpenIdToken": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetOpenIdTokenForDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Logins"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    },
                    "TokenDuration": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "Token": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "GetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "MaxResults"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "HideDisabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "Identities": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListIdentityPools": {
            "input": {
                "type": "structure",
                "required": [
                    "MaxResults"
                ],
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPools": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "IdentityPoolId": {},
                                "IdentityPoolName": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "LookupDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityId": {},
                    "DeveloperUserIdentifier": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {},
                    "DeveloperUserIdentifierList": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "MergeDeveloperIdentities": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceUserIdentifier",
                    "DestinationUserIdentifier",
                    "DeveloperProviderName",
                    "IdentityPoolId"
                ],
                "members": {
                    "SourceUserIdentifier": {},
                    "DestinationUserIdentifier": {},
                    "DeveloperProviderName": {},
                    "IdentityPoolId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "SetIdentityPoolRoles": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "Roles"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "Roles": {
                        "shape": "S1c"
                    },
                    "RoleMappings": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "SetPrincipalTagAttributeMap": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityPoolId",
                    "IdentityProviderName"
                ],
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityPoolId": {},
                    "IdentityProviderName": {},
                    "UseDefaults": {
                        "type": "boolean"
                    },
                    "PrincipalTags": {
                        "shape": "S1s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "UnlinkDeveloperIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "IdentityPoolId",
                    "DeveloperProviderName",
                    "DeveloperUserIdentifier"
                ],
                "members": {
                    "IdentityId": {},
                    "IdentityPoolId": {},
                    "DeveloperProviderName": {},
                    "DeveloperUserIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "UnlinkIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "IdentityId",
                    "Logins",
                    "LoginsToRemove"
                ],
                "members": {
                    "IdentityId": {},
                    "Logins": {
                        "shape": "S10"
                    },
                    "LoginsToRemove": {
                        "shape": "Sw"
                    }
                }
            },
            "authtype": "none",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        },
        "UpdateIdentityPool": {
            "input": {
                "shape": "Sk"
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5UHDXNGUE6BHPAVUBBHKLL2UDBM7ML2J4CAZQFCM4AMLOWBPAOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/44XMOG5RVRTDI4V5J6CV45HXDVTT7OKF2IWMNMVGXZ736OEGUVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DK3K6DKVEVJNXJPACO5FGBSLGERC265E5GPJS3L5MITNXIMXXFIQ/vendors.sdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMBDSZGN45XRSRIO4VDPOJMZAKISL7TKTL5EFN52OJ6JJOR34K6Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWM43VNXRBVJYZTEQJ27FZ27H2CC5Y2EOSXUOECWIKHWP5LHZTJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2RNA65VYZUJQKYL235UGUTKRIYJOIXBB2EIFS63BGOQ7MTROU32A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QYZ224FYKIEFEREUVONLE73BKYY2RW6TY4IE3VJFBCXHRE7YLLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4EMUKK7ELLGCT2LC42VHEMLM3CW6DH7EQXY3IDIN2UKQOTWL6AAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6A2LEE4EWOR2ORAKDNIRQ2PKGK7LBA4ZEXRCXULK5T6YV5JLTWVQ/dynamic-common-8459.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47RSJLBBKQDSTZMORQNFUEI45R4BMXKRTO5CG3JZBP3KWLOKQFYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQLI3SV7VWEFBF657QFNNSFOUQXK4KS3YF6P6VYKFBX3JRORVRSQ/index.fms.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4373LRPRMLNQ2VICBHWWZUDQF2G6IO7YBYKJAS2RREP52FIQPCA/vendors.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.console.api.aws/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Libraries.js",
                "https://cdn.assets.as2.amazonaws.com/AWSConsole-IAM-Widgets-Public-PolicyEditorP3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZ2EPWTZ5TAX5TUI5L2LVOFBZUHZJWKDM44HKULB2PXO4GRBEHQA/vendor.awssdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S9": {
            "type": "list",
            "member": {}
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sg": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "AllowClassicFlow": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S5"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S9"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sb"
                },
                "SamlProviderARNs": {
                    "shape": "Sg"
                },
                "IdentityPoolTags": {
                    "shape": "Sh"
                }
            }
        },
        "Sv": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sw"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sw": {
            "type": "list",
            "member": {}
        },
        "S10": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1c": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1e": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S1s": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S4": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "Sa": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "ProviderName": {},
                    "ClientId": {},
                    "ServerSideTokenCheck": {
                        "type": "boolean"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sj": {
            "type": "structure",
            "required": [
                "IdentityPoolId",
                "IdentityPoolName",
                "AllowUnauthenticatedIdentities"
            ],
            "members": {
                "IdentityPoolId": {},
                "IdentityPoolName": {},
                "AllowUnauthenticatedIdentities": {
                    "type": "boolean"
                },
                "SupportedLoginProviders": {
                    "shape": "S4"
                },
                "DeveloperProviderName": {},
                "OpenIdConnectProviderARNs": {
                    "shape": "S8"
                },
                "CognitoIdentityProviders": {
                    "shape": "Sa"
                },
                "SamlProviderARNs": {
                    "shape": "Sf"
                },
                "IdentityPoolTags": {
                    "shape": "Sg"
                }
            }
        },
        "Su": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Sv"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Sz": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1b": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1d": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Claim",
                                        "MatchType",
                                        "Value",
                                        "RoleARN"
                                    ],
                                    "members": {
                                        "Claim": {},
                                        "MatchType": {},
                                        "Value": {},
                                        "RoleARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "IdentityId": {},
                "Logins": {
                    "shape": "Ss"
                },
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastModifiedDate": {
                    "type": "timestamp"
                }
            }
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "S18": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1a": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "Type"
                ],
                "members": {
                    "Type": {},
                    "AmbiguousRoleResolution": {},
                    "RulesConfiguration": {
                        "type": "structure",
                        "required": [
                            "Rules"
                        ],
                        "members": {
                            "Rules": {
                                "type": "list",
[...]
