{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-01",
        "endpointPrefix": "healthlake",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "HealthLake",
        "serviceFullName": "Amazon HealthLake",
        "serviceId": "HealthLake",
        "signatureVersion": "v4",
        "signingName": "healthlake",
        "targetPrefix": "HealthLake",
        "uid": "colossusfrontend-2017-07-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEFV4LBIU7SMEZFY6LPA2HZP2GXGEEDARHFIOCWP4XO6QMTXHUPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
        ]
    },
    "operations": {
        "CreateFHIRDatastore": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreTypeVersion"
                ],
                "members": {
                    "DatastoreName": {},
                    "DatastoreTypeVersion": {},
                    "SseConfiguration": {
                        "shape": "S4",
                        "internalonly": true
                    },
                    "PreloadDataConfig": {
                        "shape": "S8"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "DatastoreArn",
                    "DatastoreStatus",
                    "DatastoreEndpoint"
                ],
                "members": {
                    "DatastoreId": {},
                    "DatastoreArn": {},
                    "DatastoreStatus": {},
                    "DatastoreEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "DeleteFHIRDatastore": {
            "input": {
                "type": "structure",
                "members": {
                    "DatastoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "DatastoreArn",
                    "DatastoreStatus",
                    "DatastoreEndpoint"
                ],
                "members": {
                    "DatastoreId": {},
                    "DatastoreArn": {},
                    "DatastoreStatus": {},
                    "DatastoreEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "DescribeFHIRDatastore": {
            "input": {
                "type": "structure",
                "members": {
                    "DatastoreId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastoreProperties"
                ],
                "members": {
                    "DatastoreProperties": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "DescribeFHIRExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "JobId"
                ],
                "members": {
                    "DatastoreId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportJobProperties"
                ],
                "members": {
                    "ExportJobProperties": {
                        "shape": "Su"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "DescribeFHIRImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId",
                    "JobId"
                ],
                "members": {
                    "DatastoreId": {},
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ImportJobProperties"
                ],
                "members": {
                    "ImportJobProperties": {
                        "shape": "S14"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "ListFHIRDatastores": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "DatastoreName": {},
                            "DatastoreStatus": {},
                            "CreatedBefore": {
                                "type": "timestamp"
                            },
                            "CreatedAfter": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DatastorePropertiesList"
                ],
                "members": {
                    "DatastorePropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "So"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "ListFHIRExportJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId"
                ],
                "members": {
                    "DatastoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "JobStatus": {},
                    "SubmittedBefore": {
                        "type": "timestamp"
                    },
                    "SubmittedAfter": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ExportJobPropertiesList"
                ],
                "members": {
                    "ExportJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "Su"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "ListFHIRImportJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "DatastoreId"
                ],
                "members": {
                    "DatastoreId": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "JobStatus": {},
                    "SubmittedBefore": {
                        "type": "timestamp"
                    },
                    "SubmittedAfter": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ImportJobPropertiesList"
                ],
                "members": {
                    "ImportJobPropertiesList": {
                        "type": "list",
                        "member": {
                            "shape": "S14"
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN"
                ],
                "members": {
                    "ResourceARN": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "StartFHIRExportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "OutputDataConfig",
                    "DatastoreId",
                    "DataAccessRoleArn",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "OutputDataConfig": {
                        "shape": "Sx"
                    },
                    "DatastoreId": {},
                    "DataAccessRoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "JobStatus"
                ],
                "members": {
                    "JobId": {},
                    "JobStatus": {},
                    "DatastoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "StartFHIRImportJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "DatastoreId",
                    "DataAccessRoleArn",
                    "ClientToken"
                ],
                "members": {
                    "JobName": {},
                    "InputDataConfig": {
                        "shape": "S15"
                    },
                    "JobOutputDataConfig": {
                        "shape": "Sx",
                        "internalonly": true
                    },
                    "DatastoreId": {},
                    "DataAccessRoleArn": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobId",
                    "JobStatus"
                ],
                "members": {
                    "JobId": {},
                    "JobStatus": {},
                    "DatastoreId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "Tags"
                ],
                "members": {
                    "ResourceARN": {},
                    "Tags": {
                        "shape": "Sb"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceARN",
                    "TagKeys"
                ],
                "members": {
                    "ResourceARN": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PWGEKMAFYVLA4GFEGBNRB4U6HLIV3CC6Q2ALL5LQY5Q6HAR5MPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6N3IXBWPAZKABMWJY5NDS3GOZP4P7IAZITK7UGR3C22OAAEWJQOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKJMS7FRZL37EIDAQ2ODOGVUFPPPT652K2KCVSM4BTLKIGOOGLTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZ7R3E2VN3DPF5CQYJOFJUUY4GPEMCG3FUF2Q73N6XLIQ2QB4PEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUR6RLEMNLBYZFR5B3W3IXOYJJMRYZMLJLJCDZYTIYC2AN22QRLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOZYWOMJ72LWIEWXBQCGOUVHFI4KO6LCRJTR2Q5HL2AIDLAIJLWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKMUSUEZN33XC5W3BFPFPQX2MPXQG3W6L3POV72CVQOPLOYSG3PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQS62R6CDTGME4XLVTK4VBJBOLLPRVWHKQT3FF6GGTQI75RK6LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TCWYM32UG5BYGWXIUHCR2IQVY5GG6GSK6LL2SOVB6S5HKEISHKUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TC6PXPFJBCMXOWUQS4XPI4VJOTDBIIUGWAKOTUW5RH7IPABPPUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHVKYFG7M56RDLFQEEUGEZJIJF7FCINCXPQEZZB3BLTH3G2NMD4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6XYMI7HW5M5LW2TF3DSYLBZBL5VG7EZJKATPMTM76HHPVGFIFIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TUIJK7ZTV4GBVV52YK2BANU7CFQGPQKMLVMUSIMESB5CMKHEX6CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UQSJHKMV4O44PWPBVIW2ILCZAEHZZUINQRPBZIW2XBNS6MJ6GR3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUNXNKINGHJ2Y3S4L4XNJCEJZEUM3NXBLP7MDXM7624YTQ6QOXYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36LGV4RSWBNDOSFNETJLRRN3MGLW56FULN7MERIYSXHLN43JHHHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LRFB7WODVNL3CRKOXQIVIN2KZ6OPZUW4CHFJ7EH5VI3FNIEANKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WK45TZUFZX2SUWT6H22BNK33UP25ZCSKDIJRRMRWD4BEF6BY4XKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKOGLI5PCUJBFSZDG6WSVS3KUFSFBES3N242DNINQR7S3WQEKNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RFYSO6L3MMNXNMI23JUYKAVWDWICPTZISNLDL7QUS7CCOTRKIVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFJNF4Q4TYAOVZ4ZLQ2SPE6CZQZC4WGJ3ENLXRV2AO2LGLZI5ZQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFEMY3BZDY5M7HAF5GPM2UWV6YNP4XJ4HWTJLEQXT33EN5ZU3MCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R23VBW5OLCVOZT62IKOSO5PC3G524LGHYNWNGZFW2AYABBTJ3IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDVZW233BIZ2MV7LHCFGW7N6DLITDPVBWCI5E75OE727M5BZ2ERQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S4": {
            "type": "structure",
            "required": [
                "KmsEncryptionConfig"
            ],
            "members": {
                "KmsEncryptionConfig": {
                    "type": "structure",
                    "required": [
                        "CmkType"
                    ],
                    "members": {
                        "CmkType": {
                            "type": "string",
                            "internalonly": true
                        },
                        "KmsKeyId": {
                            "shape": "S7"
                        }
                    },
                    "internalonly": true
                }
            },
            "internalonly": true
        },
        "S7": {
            "type": "string",
            "internalonly": true
        },
        "S8": {
            "type": "structure",
            "required": [
                "PreloadDataType"
            ],
            "members": {
                "PreloadDataType": {}
            }
        },
        "Sb": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "So": {
            "type": "structure",
            "required": [
                "DatastoreId",
                "DatastoreArn",
                "DatastoreStatus",
                "DatastoreTypeVersion",
                "DatastoreEndpoint"
            ],
            "members": {
                "DatastoreId": {},
                "DatastoreArn": {},
                "DatastoreName": {},
                "DatastoreStatus": {},
                "CreatedAt": {
                    "type": "timestamp"
                },
                "DatastoreTypeVersion": {},
                "DatastoreEndpoint": {},
                "SseConfiguration": {
                    "shape": "S4"
                },
                "PreloadDataConfig": {
                    "shape": "S8"
                }
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "OutputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "OutputDataConfig": {
                    "shape": "Sx"
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "S3Uri": {},
                "S3Configuration": {
                    "internalonly": true,
                    "type": "structure",
                    "required": [
                        "S3Uri",
                        "KmsKeyId"
                    ],
                    "members": {
                        "S3Uri": {},
                        "KmsKeyId": {
                            "shape": "S7"
                        }
                    }
                }
            },
            "union": true
        },
        "S14": {
            "type": "structure",
            "required": [
                "JobId",
                "JobStatus",
                "SubmitTime",
                "DatastoreId",
                "InputDataConfig"
            ],
            "members": {
                "JobId": {},
                "JobName": {},
                "JobStatus": {},
                "SubmitTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                },
                "DatastoreId": {},
                "InputDataConfig": {
                    "shape": "S15"
                },
                "JobOutputDataConfig": {
                    "shape": "Sx",
                    "internalonly": true
                },
                "DataAccessRoleArn": {},
                "Message": {}
            }
        },
        "S15": {
            "type": "structure",
            "members": {
                "S3Uri": {}
            },
            "union": true
        }
    }
}