{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2025-09-22",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "aco-automation",
        "jsonVersion": "1.0",
        "protocol": "json",
        "protocols": [
            "json"
        ],
        "serviceFullName": "Compute Optimizer Automation Service",
        "serviceId": "Compute Optimizer Automation",
        "signatureVersion": "v4",
        "signingName": "aco-automation",
        "targetPrefix": "ComputeOptimizerAutomationService",
        "uid": "compute-optimizer-automation-2025-09-22",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateAccounts": {
            "input": {
                "type": "structure",
                "required": [
                    "accountIds"
                ],
                "members": {
                    "accountIds": {
                        "shape": "S2"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S2"
                    },
                    "errors": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "CreateAutomationRule": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "ruleType",
                    "recommendedActionTypes",
                    "schedule",
                    "status"
                ],
                "members": {
                    "name": {},
                    "description": {},
                    "ruleType": {},
                    "organizationConfiguration": {
                        "shape": "Sc"
                    },
                    "priority": {},
                    "recommendedActionTypes": {
                        "shape": "Se"
                    },
                    "criteria": {
                        "shape": "Sg"
                    },
                    "schedule": {
                        "shape": "St"
                    },
                    "status": {},
                    "tags": {
                        "shape": "Sv"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ruleArn": {},
                    "ruleId": {},
                    "name": {},
                    "description": {},
                    "ruleType": {},
                    "ruleRevision": {
                        "type": "long"
                    },
                    "organizationConfiguration": {
                        "shape": "Sc"
                    },
                    "priority": {},
                    "recommendedActionTypes": {
                        "shape": "Se"
                    },
                    "criteria": {
                        "shape": "Sg"
                    },
                    "schedule": {
                        "shape": "St"
                    },
                    "status": {},
                    "tags": {
                        "shape": "Sv"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "DeleteAutomationRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ruleArn",
                    "ruleRevision"
                ],
                "members": {
                    "ruleArn": {},
                    "ruleRevision": {
                        "type": "long"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "DisassociateAccounts": {
            "input": {
                "type": "structure",
                "required": [
                    "accountIds"
                ],
                "members": {
                    "accountIds": {
                        "shape": "S2"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "S2"
                    },
                    "errors": {
                        "shape": "S6"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetAutomationEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "eventId"
                ],
                "members": {
                    "eventId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "automationEvent"
                ],
                "members": {
                    "automationEvent": {
                        "type": "structure",
                        "members": {
                            "eventId": {},
                            "eventDescription": {},
                            "eventType": {},
                            "resourceArn": {},
                            "resourceId": {},
                            "recommendedActionId": {},
                            "accountId": {},
                            "region": {},
                            "ruleId": {},
                            "resourceType": {},
                            "startTimestamp": {
                                "type": "timestamp"
                            },
                            "completedTimestamp": {
                                "type": "timestamp"
                            },
                            "eventStatus": {},
                            "eventStatusReason": {},
                            "estimatedMonthlySavings": {
                                "shape": "S1b"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetAutomationRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ruleArn"
                ],
                "members": {
                    "ruleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "automationRule"
                ],
                "members": {
                    "automationRule": {
                        "type": "structure",
                        "members": {
                            "ruleArn": {},
                            "ruleId": {},
                            "name": {},
                            "description": {},
                            "ruleType": {},
                            "ruleRevision": {
                                "type": "long"
                            },
                            "accountId": {},
                            "organizationConfiguration": {
                                "shape": "Sc"
                            },
                            "priority": {},
                            "recommendedActionTypes": {
                                "shape": "Se"
                            },
                            "criteria": {
                                "shape": "Sg"
                            },
                            "schedule": {
                                "shape": "St"
                            },
                            "status": {},
                            "tags": {
                                "shape": "Sv"
                            },
                            "createdTimestamp": {
                                "type": "timestamp"
                            },
                            "lastUpdatedTimestamp": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEnrollmentConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "statusReason",
                    "lastUpdatedTimestamp"
                ],
                "members": {
                    "status": {},
                    "statusReason": {},
                    "organizationRuleMode": {},
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAccounts": {
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accounts"
                ],
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "accountId",
                                "status",
                                "organizationRuleMode",
                                "statusReason",
                                "lastUpdatedTimestamp"
                            ],
                            "members": {
                                "accountId": {},
                                "status": {},
                                "organizationRuleMode": {},
                                "statusReason": {},
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAutomationEventSteps": {
            "input": {
                "type": "structure",
                "required": [
                    "eventId"
                ],
                "members": {
                    "eventId": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "automationEventSteps": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventId": {},
                                "stepId": {},
                                "stepType": {},
                                "resourceId": {},
                                "stepStatus": {},
                                "startTimestamp": {
                                    "type": "timestamp"
                                },
                                "completedTimestamp": {
                                    "type": "timestamp"
                                },
                                "estimatedMonthlySavings": {
                                    "shape": "S1b"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAutomationEventSummaries": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "shape": "S1v"
                    },
                    "startDateInclusive": {},
                    "endDateExclusive": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "automationEventSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "key": {},
                                "dimensions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "key",
                                            "value"
                                        ],
                                        "members": {
                                            "key": {},
                                            "value": {}
                                        }
                                    }
                                },
                                "timePeriod": {
                                    "type": "structure",
                                    "members": {
                                        "startTimeInclusive": {
                                            "type": "timestamp"
                                        },
                                        "endTimeExclusive": {
                                            "type": "timestamp"
                                        }
                                    }
                                },
                                "total": {
                                    "type": "structure",
                                    "members": {
                                        "automationEventCount": {
                                            "type": "integer"
                                        },
                                        "estimatedMonthlySavings": {
                                            "shape": "S1b"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAutomationEvents": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "shape": "S1v"
                    },
                    "startTimeInclusive": {
                        "type": "timestamp"
                    },
                    "endTimeExclusive": {
                        "type": "timestamp"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "automationEvents": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "eventId": {},
                                "eventDescription": {},
                                "eventType": {},
                                "eventStatus": {},
                                "eventStatusReason": {},
                                "resourceArn": {},
                                "resourceId": {},
                                "recommendedActionId": {},
                                "accountId": {},
                                "region": {},
                                "ruleId": {},
                                "resourceType": {},
                                "startTimestamp": {
                                    "type": "timestamp"
                                },
                                "completedTimestamp": {
                                    "type": "timestamp"
                                },
                                "estimatedMonthlySavings": {
                                    "shape": "S1b"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAutomationRulePreview": {
            "input": {
                "type": "structure",
                "required": [
                    "ruleType",
                    "recommendedActionTypes"
                ],
                "members": {
                    "ruleType": {},
                    "organizationScope": {
                        "shape": "S2e"
                    },
                    "recommendedActionTypes": {
                        "shape": "Se"
                    },
                    "criteria": {
                        "shape": "Sg"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "previewResults": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendedActionId": {},
                                "resourceArn": {},
                                "resourceId": {},
                                "accountId": {},
                                "region": {},
                                "resourceType": {},
                                "lookBackPeriodInDays": {
                                    "type": "integer"
                                },
                                "recommendedActionType": {},
                                "currentResourceSummary": {},
                                "currentResourceDetails": {
                                    "shape": "S2j"
                                },
                                "recommendedResourceSummary": {},
                                "recommendedResourceDetails": {
                                    "shape": "S2j"
                                },
                                "restartNeeded": {
                                    "type": "boolean"
                                },
                                "estimatedMonthlySavings": {
                                    "shape": "S1b"
                                },
                                "resourceTags": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAutomationRulePreviewSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "ruleType",
                    "recommendedActionTypes"
                ],
                "members": {
                    "ruleType": {},
                    "organizationScope": {
                        "shape": "S2e"
                    },
                    "recommendedActionTypes": {
                        "shape": "Se"
                    },
                    "criteria": {
                        "shape": "Sg"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "previewSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "total"
                            ],
                            "members": {
                                "key": {},
                                "total": {
                                    "type": "structure",
                                    "required": [
                                        "recommendedActionCount",
                                        "estimatedMonthlySavings"
                                    ],
                                    "members": {
                                        "recommendedActionCount": {
                                            "type": "integer"
                                        },
                                        "estimatedMonthlySavings": {
                                            "shape": "S1b"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListAutomationRules": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "S1y"
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "automationRules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ruleArn": {},
                                "ruleId": {},
                                "name": {},
                                "description": {},
                                "ruleType": {},
                                "ruleRevision": {
                                    "type": "long"
                                },
                                "accountId": {},
                                "organizationConfiguration": {
                                    "shape": "Sc"
                                },
                                "priority": {},
                                "recommendedActionTypes": {
                                    "shape": "Se"
                                },
                                "schedule": {
                                    "shape": "St"
                                },
                                "status": {},
                                "createdTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListRecommendedActionSummaries": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "shape": "S32"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedActionSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "key",
                                "total"
                            ],
                            "members": {
                                "key": {},
                                "total": {
                                    "type": "structure",
                                    "required": [
                                        "recommendedActionCount",
                                        "estimatedMonthlySavings"
                                    ],
                                    "members": {
                                        "recommendedActionCount": {
                                            "type": "integer"
                                        },
                                        "estimatedMonthlySavings": {
                                            "shape": "S1b"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListRecommendedActions": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "shape": "S32"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendedActionId": {},
                                "resourceArn": {},
                                "resourceId": {},
                                "accountId": {},
                                "region": {},
                                "resourceType": {},
                                "lookBackPeriodInDays": {
                                    "type": "integer"
                                },
                                "recommendedActionType": {},
                                "currentResourceSummary": {},
                                "currentResourceDetails": {
                                    "shape": "S2j"
                                },
                                "recommendedResourceSummary": {},
                                "recommendedResourceDetails": {
                                    "shape": "S2j"
                                },
                                "restartNeeded": {
                                    "type": "boolean"
                                },
                                "estimatedMonthlySavings": {
                                    "shape": "S1b"
                                },
                                "resourceTags": {
                                    "shape": "Sv"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sv"
                    }
                }
            },
            "readonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "RollbackAutomationEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "eventId"
                ],
                "members": {
                    "eventId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "eventId": {},
                    "eventStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "StartAutomationEvent": {
            "input": {
                "type": "structure",
                "required": [
                    "recommendedActionId"
                ],
                "members": {
                    "recommendedActionId": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "automationEvent"
                ],
                "members": {
                    "automationEvent": {
                        "type": "structure",
                        "members": {
                            "recommendedActionId": {},
                            "automationEventId": {},
                            "status": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "ruleRevision",
                    "tags"
                ],
                "members": {
                    "resourceArn": {},
                    "ruleRevision": {
                        "type": "long"
                    },
                    "tags": {
                        "shape": "Sv"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "ruleRevision",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {},
                    "ruleRevision": {
                        "type": "long"
                    },
                    "tagKeys": {
                        "type": "list",
                        "member": {}
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "UpdateAutomationRule": {
            "input": {
                "type": "structure",
                "required": [
                    "ruleArn",
                    "ruleRevision"
                ],
                "members": {
                    "ruleArn": {},
                    "ruleRevision": {
                        "type": "long"
                    },
                    "name": {},
                    "description": {},
                    "ruleType": {},
                    "organizationConfiguration": {
                        "shape": "Sc"
                    },
                    "priority": {},
                    "recommendedActionTypes": {
                        "shape": "Se"
                    },
                    "criteria": {
                        "shape": "Sg"
                    },
                    "schedule": {
                        "shape": "St"
                    },
                    "status": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ruleArn": {},
                    "ruleRevision": {
                        "type": "long"
                    },
                    "name": {},
                    "description": {},
                    "ruleType": {},
                    "organizationConfiguration": {
                        "shape": "Sc"
                    },
                    "priority": {},
                    "recommendedActionTypes": {
                        "shape": "Se"
                    },
                    "criteria": {
                        "shape": "Sg"
                    },
                    "schedule": {
                        "shape": "St"
                    },
                    "status": {},
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "UpdateEnrollmentConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "status",
                    "statusReason",
                    "lastUpdatedTimestamp"
                ],
                "members": {
                    "status": {},
                    "statusReason": {},
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "list",
            "member": {}
        },
        "S6": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "ruleApplyOrder": {},
                "accountIds": {
                    "shape": "S6"
                }
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "region": {
                    "shape": "Sh"
                },
                "resourceArn": {
                    "shape": "Sh"
                },
                "ebsVolumeType": {
                    "shape": "Sh"
                },
                "ebsVolumeSizeInGib": {
                    "shape": "Sj"
                },
                "estimatedMonthlySavings": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "comparison": {},
                            "values": {
                                "type": "list",
                                "member": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                },
                "resourceTag": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "comparison": {},
                            "key": {},
                            "values": {
                                "shape": "S6"
                            }
                        }
                    }
                },
                "lookBackPeriodInDays": {
                    "shape": "Sj"
                },
                "restartNeeded": {
                    "shape": "Sh"
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "comparison": {},
                    "values": {
                        "shape": "S6"
                    }
                }
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "comparison": {},
                    "values": {
                        "type": "list",
                        "member": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "St": {
            "type": "structure",
            "members": {
                "scheduleExpression": {},
                "scheduleExpressionTimezone": {},
                "executionWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "Sv": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S1b": {
            "type": "structure",
            "required": [
                "currency",
                "beforeDiscountSavings",
                "afterDiscountSavings",
                "savingsEstimationMode"
            ],
            "members": {
                "currency": {},
                "beforeDiscountSavings": {
                    "type": "double"
                },
                "afterDiscountSavings": {
                    "type": "double"
                },
                "savingsEstimationMode": {}
            }
        },
        "S1v": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "values"
                ],
                "members": {
                    "name": {},
                    "values": {
                        "shape": "S1y"
                    }
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {}
        },
        "S2e": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "shape": "S6"
                }
            }
        },
        "S2j": {
            "type": "structure",
            "members": {
                "ebsVolume": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "sizeInGib": {
                                    "type": "integer"
                                },
                                "iops": {
                                    "type": "integer"
                                },
                                "throughput": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "S32": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "values"
                ],
                "members": {
                    "name": {},
                    "values": {
                        "shape": "S1y"
                    }
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "comparison": {},
                    "values": {
                        "shape": "Sl"
                    }
                }
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "Sn": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "comparison": {},
                    "values": {
                        "type": "list",
                        "member": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "Sx": {
            "type": "structure",
            "members": {
                "scheduleExpression": {},
                "scheduleExpressionTimezone": {},
                "executionWindowInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "key",
                    "value"
                ],
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S1m": {
            "type": "structure",
            "required": [
                "currency",
                "beforeDiscountSavings",
                "afterDiscountSavings",
                "savingsEstimationMode"
            ],
            "members": {
                "currency": {},
                "beforeDiscountSavings": {
                    "type": "double"
                },
                "afterDiscountSavings": {
                    "type": "double"
                },
                "savingsEstimationMode": {}
            }
        },
        "S29": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "values"
                ],
                "members": {
                    "name": {},
                    "values": {
                        "shape": "S2c"
                    }
                }
            }
        },
        "S2c": {
            "type": "list",
            "member": {}
        },
        "S2t": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "shape": "Se"
                }
            }
        },
        "S2y": {
            "type": "structure",
            "members": {
                "ebsVolume": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "type": {},
                                "sizeInGib": {
                                    "type": "integer"
                                },
                                "iops": {
                                    "type": "integer"
                                },
                                "throughput": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "union": true
        },
        "S3h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "name",
                    "values"
                ],
                "members": {
                    "name": {},
                    "values": {
                        "shape": "S2c"
                    }
                }
            }
        }
    }
}