{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-30",
        "endpointPrefix": "comprehendmedical",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "ComprehendMedical",
        "serviceFullName": "AWS Comprehend Medical",
        "serviceId": "ComprehendMedical",
        "signatureVersion": "v4",
        "signingName": "comprehendmedical",
        "targetPrefix": "ComprehendMedical_20181030",
        "uid": "comprehendmedical-2018-10-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "DescribeEntitiesDetectionV2Job": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobProperties": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeICD10CMInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobProperties": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribePHIDetectionJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobProperties": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeRxNormInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobProperties": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DetectEntities": {
            "input": {
                "type": "structure",
                "required": [
                    "Text"
                ],
                "members": {
                    "Text": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Entities",
                    "ModelVersion"
                ],
                "members": {
                    "Entities": {
                        "shape": "Sr"
                    },
                    "UnmappedAttributes": {
                        "shape": "S14"
                    },
                    "PaginationToken": {},
                    "ModelVersion": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "This operation is deprecated, use DetectEntitiesV2 instead.",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DetectEntitiesV2": {
            "input": {
                "type": "structure",
                "required": [
                    "Text"
                ],
                "members": {
                    "Text": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Entities",
                    "ModelVersion"
                ],
                "members": {
                    "Entities": {
                        "shape": "Sr"
                    },
                    "UnmappedAttributes": {
                        "shape": "S14"
                    },
                    "PaginationToken": {},
                    "ModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DetectPHI": {
            "input": {
                "type": "structure",
                "required": [
                    "Text"
                ],
                "members": {
                    "Text": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Entities",
                    "ModelVersion"
                ],
                "members": {
                    "Entities": {
                        "shape": "Sr"
                    },
                    "PaginationToken": {},
                    "ModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "InferICD10CM": {
            "input": {
                "type": "structure",
                "required": [
                    "Text"
                ],
                "members": {
                    "Text": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Entities"
                ],
                "members": {
                    "Entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {
                                    "type": "integer"
                                },
                                "Text": {},
                                "Category": {},
                                "Type": {},
                                "Score": {
                                    "type": "float"
                                },
                                "BeginOffset": {
                                    "type": "integer"
                                },
                                "EndOffset": {
                                    "type": "integer"
                                },
                                "Attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Type": {},
                                            "Score": {
                                                "type": "float"
                                            },
                                            "RelationshipScore": {
                                                "type": "float"
                                            },
                                            "Id": {
                                                "type": "integer"
                                            },
                                            "BeginOffset": {
                                                "type": "integer"
                                            },
                                            "EndOffset": {
                                                "type": "integer"
                                            },
                                            "Text": {},
                                            "Traits": {
                                                "shape": "S1k"
                                            }
                                        }
                                    }
                                },
                                "Traits": {
                                    "shape": "S1k"
                                },
                                "ICD10CMConcepts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Description": {},
                                            "Code": {},
                                            "Score": {
                                                "type": "float"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "PaginationToken": {},
                    "ModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "InferRxNorm": {
            "input": {
                "type": "structure",
                "required": [
                    "Text"
                ],
                "members": {
                    "Text": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Entities"
                ],
                "members": {
                    "Entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {
                                    "type": "integer"
                                },
                                "Text": {},
                                "Category": {},
                                "Type": {},
                                "Score": {
                                    "type": "float"
                                },
                                "BeginOffset": {
                                    "type": "integer"
                                },
                                "EndOffset": {
                                    "type": "integer"
                                },
                                "Attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Type": {},
                                            "Score": {
                                                "type": "float"
                                            },
                                            "RelationshipScore": {
                                                "type": "float"
                                            },
                                            "Id": {
                                                "type": "integer"
                                            },
                                            "BeginOffset": {
                                                "type": "integer"
                                            },
                                            "EndOffset": {
                                                "type": "integer"
                                            },
                                            "Text": {},
                                            "Traits": {
                                                "shape": "S1y"
                                            }
                                        }
                                    }
                                },
                                "Traits": {
                                    "shape": "S1y"
                                },
                                "RxNormConcepts": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Description": {},
                                            "Code": {},
                                            "Score": {
                                                "type": "float"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "PaginationToken": {},
                    "ModelVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListEntitiesDetectionV2Jobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "shape": "S24"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobPropertiesList": {
                        "shape": "S27"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListICD10CMInferenceJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "shape": "S24"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobPropertiesList": {
                        "shape": "S27"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListPHIDetectionJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "shape": "S24"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobPropertiesList": {
                        "shape": "S27"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "ListRxNormInferenceJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "shape": "S24"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobPropertiesList": {
                        "shape": "S27"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartEntitiesDetectionV2Job": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "LanguageCode"
                ],
                "members": {
                    "InputDataConfig": {
                        "shape": "S9"
                    },
                    "OutputDataConfig": {
                        "shape": "Sc"
                    },
                    "DataAccessRoleArn": {},
                    "JobName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "KMSKey": {},
                    "LanguageCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartICD10CMInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "LanguageCode"
                ],
                "members": {
                    "InputDataConfig": {
                        "shape": "S9"
                    },
                    "OutputDataConfig": {
                        "shape": "Sc"
                    },
                    "DataAccessRoleArn": {},
                    "JobName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "KMSKey": {},
                    "LanguageCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartPHIDetectionJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "LanguageCode"
                ],
                "members": {
                    "InputDataConfig": {
                        "shape": "S9"
                    },
                    "OutputDataConfig": {
                        "shape": "Sc"
                    },
                    "DataAccessRoleArn": {},
                    "JobName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "KMSKey": {},
                    "LanguageCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StartRxNormInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "InputDataConfig",
                    "OutputDataConfig",
                    "DataAccessRoleArn",
                    "LanguageCode"
                ],
                "members": {
                    "InputDataConfig": {
                        "shape": "S9"
                    },
                    "OutputDataConfig": {
                        "shape": "Sc"
                    },
                    "DataAccessRoleArn": {},
                    "JobName": {},
                    "ClientRequestToken": {
                        "idempotencyToken": true
                    },
                    "KMSKey": {},
                    "LanguageCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StopEntitiesDetectionV2Job": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StopICD10CMInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StopPHIDetectionJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "StopRxNormInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeSNOMEDCTInferenceJob": {
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComprehendMedicalAsyncJobProperties": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAZCCI7TODOVQ4SNOKKVUU7XEDCJE5BB55BTDLS47U4NCV4XDCRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYSNDDJYGXI6W3XXD3KW6DLB4TWMK7KQMB7YSNMX3ESHPEFO6WGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "InferSNOMEDCT": {
            "input": {
                "type": "structure",
                "required": [
                    "Text"
                ],
                "members": {
                    "Text": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Entities"
                ],
                "members": {
                    "Entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {
                                    "type": "integer"
                                },
                                "Text": {},
                                "Category": {},
                                "Type": {},
                                "Score": {
                                    "type": "float"
                                },
                                "BeginOffset": {
                                    "type": "integer"
                                },
                                "EndOffset": {
                                    "type": "integer"
                                },
                                "Attributes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Category": {},
                                            "Type": {},
                                            "Score": {
                                                "type": "float"
                                            },
                                            "RelationshipScore": {
                                                "type": "float"
                                            },
                                            "RelationshipType": {},
                                            "Id": {
                                                "type": "integer"
                                            },
                                            "BeginOffset": {
                                                "type": "integer"
                                            },
                                            "EndOffset": {
                                                "type": "integer"
                                            },
                                            "Text": {},
                                            "Traits": {
                                                "shape": "S2g"
                                            },
                                            "SNOMEDCTConcepts": {
                                                "shape": "S2j"
                                            }
                                        }
                                    }
                                },
                                "Traits": {
                                    "shape": "S2g"
                                },
                                "SNOMEDCTConcepts": {
                                    "shape": "S2j"
                                }
                            }
                        }
                    },
                    "PaginationToken": {},
                    "ModelVersion": {},
                    "SNOMEDCTDetails": {
                        "type": "structure",
                        "members": {
                            "Edition": {},
                            "Language": {},
                            "VersionDate": {}
                        }
                    },
                    "Characters": {
                        "type": "structure",
                        "members": {
                            "OriginalTextCharacters": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAZCCI7TODOVQ4SNOKKVUU7XEDCJE5BB55BTDLS47U4NCV4XDCRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCVGGL3PEAD25JH7LVWP27BEGZNJ2KGTRCLF6GV3TXR32FNZXURA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZKFX5TSSQ2E7KJ7Z4JRSFEQDQKPJJDVRXP7XKHMEYU4BLWJM4DQ/awsSdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHZOI6AD4FI3MDZLL3J767DRKWMO2HJXFL3LJG6R5MBOTY32RVGA/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
[...]
