{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Compute Optimizer",
        "serviceId": "Compute Optimizer",
        "signatureVersion": "v4",
        "signingName": "compute-optimizer",
        "targetPrefix": "ComputeOptimizerService",
        "uid": "compute-optimizer-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
        ]
    },
    "operations": {
        "DeleteRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType",
                    "recommendationPreferenceNames"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "recommendationPreferenceNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "DescribeRecommendationExportJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "jobIds": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "s3": {
                                            "shape": "Sn"
                                        }
                                    }
                                },
                                "resourceType": {},
                                "status": {},
                                "creationTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "failureReason": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "ExportAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "ExportEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "ExportEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "ExportLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "autoScalingGroupRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "autoScalingGroupArn": {},
                                "autoScalingGroupName": {},
                                "finding": {},
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "currentConfiguration": {
                                    "shape": "S27"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S27"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "volumeRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "volumeArn": {},
                                "accountId": {},
                                "currentConfiguration": {
                                    "shape": "S35"
                                },
                                "finding": {},
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "volumeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S35"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceArn": {},
                                "accountId": {},
                                "instanceName": {},
                                "currentInstanceType": {},
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "platformDifferences": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "recommendationSources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "recommendationSourceArn": {},
                                            "recommendationSourceType": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetEC2RecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "instanceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedOptionProjectedMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendedInstanceType": {},
                                "rank": {
                                    "type": "integer"
                                },
                                "projectedMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "timestamps": {
                                                "type": "list",
                                                "member": {
                                                    "type": "timestamp"
                                                }
                                            },
                                            "values": {
                                                "type": "list",
                                                "member": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetEffectiveRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enhancedInfrastructureMetrics": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetEnrollmentStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "memberAccountsEnrolled": {
                        "type": "boolean"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "numberOfMemberAccountsOptedIn": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetEnrollmentStatusesForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountEnrollmentStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "status": {},
                                "statusReason": {},
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "lambdaFunctionRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "functionVersion": {},
                                "accountId": {},
                                "currentMemorySize": {
                                    "type": "integer"
                                },
                                "numberOfInvocations": {
                                    "type": "long"
                                },
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookbackPeriodInDays": {
                                    "type": "double"
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "memorySizeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "statistic": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationPreferencesDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "scope": {
                                    "shape": "S3"
                                },
                                "resourceType": {},
                                "enhancedInfrastructureMetrics": {},
                                "inferredWorkloadTypes": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetRecommendationSummaries": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "summaries": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {
                                                "type": "double"
                                            },
                                            "reasonCodeSummaries": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "recommendationResourceType": {},
                                "accountId": {},
                                "savingsOpportunity": {
                                    "shape": "S2h"
                                },
                                "currentPerformanceRiskRatings": {
                                    "type": "structure",
                                    "members": {
                                        "high": {
                                            "type": "long"
                                        },
                                        "medium": {
                                            "type": "long"
                                        },
                                        "low": {
                                            "type": "long"
                                        },
                                        "veryLow": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "PutRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "enhancedInfrastructureMetrics": {},
                    "inferredWorkloadTypes": {},
                    "externalMetricsPreference": {
                        "shape": "S2s"
                    },
                    "lookBackPeriod": {},
                    "utilizationThresholdPreferences": {
                        "shape": "S3n"
                    },
                    "preferredResources": {
                        "shape": "S3t"
                    },
                    "costImpactAfterDiscounts": {},
                    "savingsEstimationMode": {},
                    "utilizationPreferences": {
                        "shape": "S3n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "UpdateEnrollmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "ExportECSServiceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCXZFX3AG6QWNNCXTNDRUO7LW73NTY7DCC2ZEYULWNAQTOZ5AGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDNII25FONBHY6Y3ZZUASF4HTPVET5M2IQHLMOQS2EYWTXMNZ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIAGOYUGLUVTPJ3H6U5Z4QFWH5GXRZTZMAUTDVK6MQ6C2CJD62HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YIVJ4XKZ5AUS6WAGHT5BHWKPAV2MEIG7YYB74NNTS6Z4D4GXRWZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7272NXSKO2YYTTSFCVND4SPPHBC6C7A4BRSW4NKB4CCB4UDO5CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOVZ44ZWSK2CNZMR42GLFLUDDSOW5NZQF44NDPBJCDL2BALRXJLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM3S4IQEGJ6BMIISZADQRPQKC7YMWNLR3NNHN7MR7JV6LWOSRGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6ONSIDCOBFUXNDROPWOVAQ7ZKOZ3DRXMKO3WTJYJZX5GIABFCZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HGQIYQS5LB3C6DW5YBR6EZG5HQB4XRNNIQBJMLDRJ7YVE6YXTFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A3GOMSKKRY4V6XNAQLZNQP7ERSFVDABOOBBIT4A5URVIHCOZH4LQ/vendors.js"
            ]
        },
        "GetECSServiceRecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceArn",
                    "stat",
                    "period",
                    "startTime",
[...]
