{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Compute Optimizer",
        "serviceId": "Compute Optimizer",
        "signatureVersion": "v4",
        "signingName": "compute-optimizer",
        "targetPrefix": "ComputeOptimizerService",
        "uid": "compute-optimizer-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js"
        ]
    },
    "operations": {
        "DeleteRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType",
                    "recommendationPreferenceNames"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "recommendationPreferenceNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js"
            ]
        },
        "DescribeRecommendationExportJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "jobIds": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "s3": {
                                            "shape": "Sn"
                                        }
                                    }
                                },
                                "resourceType": {},
                                "status": {},
                                "creationTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "failureReason": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js"
            ]
        },
        "ExportAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js"
            ]
        },
        "ExportEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ExportEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js"
            ]
        },
        "ExportLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "autoScalingGroupRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "autoScalingGroupArn": {},
                                "autoScalingGroupName": {},
                                "finding": {},
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "currentConfiguration": {
                                    "shape": "S27"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S27"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "volumeRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "volumeArn": {},
                                "accountId": {},
                                "currentConfiguration": {
                                    "shape": "S35"
                                },
                                "finding": {},
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "volumeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S35"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js"
            ]
        },
        "GetEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceArn": {},
                                "accountId": {},
                                "instanceName": {},
                                "currentInstanceType": {},
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "platformDifferences": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "recommendationSources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "recommendationSourceArn": {},
                                            "recommendationSourceType": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetEC2RecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "instanceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedOptionProjectedMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendedInstanceType": {},
                                "rank": {
                                    "type": "integer"
                                },
                                "projectedMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "timestamps": {
                                                "type": "list",
                                                "member": {
                                                    "type": "timestamp"
                                                }
                                            },
                                            "values": {
                                                "type": "list",
                                                "member": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetEffectiveRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enhancedInfrastructureMetrics": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js"
            ]
        },
        "GetEnrollmentStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "memberAccountsEnrolled": {
                        "type": "boolean"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "numberOfMemberAccountsOptedIn": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetEnrollmentStatusesForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountEnrollmentStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "status": {},
                                "statusReason": {},
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "lambdaFunctionRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "functionVersion": {},
                                "accountId": {},
                                "currentMemorySize": {
                                    "type": "integer"
                                },
                                "numberOfInvocations": {
                                    "type": "long"
                                },
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookbackPeriodInDays": {
                                    "type": "double"
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "memorySizeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "statistic": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js"
            ]
        },
        "GetRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationPreferencesDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "scope": {
                                    "shape": "S3"
                                },
                                "resourceType": {},
                                "enhancedInfrastructureMetrics": {},
                                "inferredWorkloadTypes": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js"
            ]
        },
        "GetRecommendationSummaries": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "summaries": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {
                                                "type": "double"
                                            },
                                            "reasonCodeSummaries": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "recommendationResourceType": {},
                                "accountId": {},
                                "savingsOpportunity": {
                                    "shape": "S2h"
                                },
                                "currentPerformanceRiskRatings": {
                                    "type": "structure",
                                    "members": {
                                        "high": {
                                            "type": "long"
                                        },
                                        "medium": {
                                            "type": "long"
                                        },
                                        "low": {
                                            "type": "long"
                                        },
                                        "veryLow": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "PutRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "enhancedInfrastructureMetrics": {},
                    "inferredWorkloadTypes": {},
                    "externalMetricsPreference": {
                        "shape": "S2s"
                    },
                    "lookBackPeriod": {},
                    "utilizationThresholdPreferences": {
                        "shape": "S3n"
                    },
                    "preferredResources": {
                        "shape": "S3t"
                    },
                    "costImpactAfterDiscounts": {},
                    "savingsEstimationMode": {},
                    "utilizationPreferences": {
                        "shape": "S3n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGXJYSD7GBMSM73N4NTWFPX7FUYXTRPKJDAM2OQHWZ5MDFASHA6Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JXAJQ37EIDSMICFYWKQZKOPT4GV4GYUZIXR7NXJXBJO6YYLIFHQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYIIW5KJBUGBUOEUXC5VRT6I2I3UJ4MH766X7LXWYOBLZ5PJMVCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js"
            ]
        },
        "UpdateEnrollmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTEQ62VWQNGGTDIPW2THVKHJO6RVUT5VEHPN35GJH3FJE73GQ6DA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DJXBHB56OX3KYZEQCC2A7H4Q5TRSY73CRFSKEPNPGWOGJO5WNTNQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVQLSJCOSBLQHKX7ACEZMOBCR2B4W3JBTVLIO2UADB5YME4WCD6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIQRSFKCUJZ345GTYWLGHRGGJCVMNHSIHMOFFXF53XXNIIAAHDA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3MYMMCZQIOFBD63JJLMTHU2IFOHKOVVGBEFL26TZJ3V3F6SRNCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBUHQ7OO4JTA6X2SRDAO5SPZURFAOKS6IWX4GZYTMLCW6QGCPGHA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ExportECSServiceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4NQV7FGP2YPXS6WU2BKXDIZJACDBPFLHI3GH7Q327MPKREIM6CA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X4NQV7FGP2YPXS6WU2BKXDIZJACDBPFLHI3GH7Q327MPKREIM6CA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JN6MG6IR75SRLGHO5VH336ZJQQJFHTKH2KRLTF6Z3VGPRFTX4SIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XR42RKMWI273EWSJKS5GXVZNHIYYCYASTBPHPFF7O3U7W5CGUR2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJAE5UHFRDH2MQ2NWQT6O6T5K4VHO5VPHKO35K2MZRP5MSC7VFXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KLSS2OYZRSUNW4RHAAVNQ6EJ3QVBQXS6A553KD4EQ4MCKB3IENOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFNDWPNG73HKXJS2U2YSO67ZNUHWTLOWLK7LPOQ2HVXZJXSWU7TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6O74WYFP6TCSO7BTLJYXVYE6FRDA6H5D26RHIPMQURRXAC76FIOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7BUIAZJJKVFJYJ5KNOQUE4G3OE3RRBQDZCN7OVWTU7ECRGRIG2A/main.js"
            ]
        },
        "GetECSServiceRecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "serviceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
[...]
