{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Compute Optimizer",
        "serviceId": "Compute Optimizer",
        "signatureVersion": "v4",
        "signingName": "compute-optimizer",
        "targetPrefix": "ComputeOptimizerService",
        "uid": "compute-optimizer-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
        ]
    },
    "operations": {
        "DeleteRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType",
                    "recommendationPreferenceNames"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "recommendationPreferenceNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeRecommendationExportJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "jobIds": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "s3": {
                                            "shape": "Sn"
                                        }
                                    }
                                },
                                "resourceType": {},
                                "status": {},
                                "creationTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "failureReason": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "ExportAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "ExportEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExportEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "ExportLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "autoScalingGroupRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "autoScalingGroupArn": {},
                                "autoScalingGroupName": {},
                                "finding": {},
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "currentConfiguration": {
                                    "shape": "S27"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S27"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "GetEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "volumeRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "volumeArn": {},
                                "accountId": {},
                                "currentConfiguration": {
                                    "shape": "S35"
                                },
                                "finding": {},
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "volumeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S35"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "GetEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceArn": {},
                                "accountId": {},
                                "instanceName": {},
                                "currentInstanceType": {},
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "platformDifferences": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "recommendationSources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "recommendationSourceArn": {},
                                            "recommendationSourceType": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "GetEC2RecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "instanceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedOptionProjectedMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendedInstanceType": {},
                                "rank": {
                                    "type": "integer"
                                },
                                "projectedMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "timestamps": {
                                                "type": "list",
                                                "member": {
                                                    "type": "timestamp"
                                                }
                                            },
                                            "values": {
                                                "type": "list",
                                                "member": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "GetEffectiveRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enhancedInfrastructureMetrics": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetEnrollmentStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "memberAccountsEnrolled": {
                        "type": "boolean"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "numberOfMemberAccountsOptedIn": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "GetEnrollmentStatusesForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountEnrollmentStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "status": {},
                                "statusReason": {},
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "lambdaFunctionRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "functionVersion": {},
                                "accountId": {},
                                "currentMemorySize": {
                                    "type": "integer"
                                },
                                "numberOfInvocations": {
                                    "type": "long"
                                },
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookbackPeriodInDays": {
                                    "type": "double"
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "memorySizeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "statistic": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "GetRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationPreferencesDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "scope": {
                                    "shape": "S3"
                                },
                                "resourceType": {},
                                "enhancedInfrastructureMetrics": {},
                                "inferredWorkloadTypes": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetRecommendationSummaries": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "summaries": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {
                                                "type": "double"
                                            },
                                            "reasonCodeSummaries": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "recommendationResourceType": {},
                                "accountId": {},
                                "savingsOpportunity": {
                                    "shape": "S2h"
                                },
                                "currentPerformanceRiskRatings": {
                                    "type": "structure",
                                    "members": {
                                        "high": {
                                            "type": "long"
                                        },
                                        "medium": {
                                            "type": "long"
                                        },
                                        "low": {
                                            "type": "long"
                                        },
                                        "veryLow": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "PutRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "enhancedInfrastructureMetrics": {},
                    "inferredWorkloadTypes": {},
                    "externalMetricsPreference": {
                        "shape": "S2s"
                    },
                    "lookBackPeriod": {},
                    "utilizationThresholdPreferences": {
                        "shape": "S3n"
                    },
                    "preferredResources": {
                        "shape": "S3t"
                    },
                    "costImpactAfterDiscounts": {},
                    "savingsEstimationMode": {},
                    "utilizationPreferences": {
                        "shape": "S3n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7MWT364HGICTYYUIWJU6FIFA7HCLMVRMDIZBOZTW4KB7VJE6CATA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IMVBK76G7ZFDJBPSBKCXMH7RXGOGYIS3XBXAJWR4BC4PZBXSRNA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TY43GU5ZGY7BZFE3YFTON4MZODKRQXE4DGMCQM7QPD7HQN4Q5WQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateEnrollmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNQQECFNOKCFRHPQNJVVNQHZIR4RDQ4J53DXV6VZ6XXNBPMXA24Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEEVZCYPNLKJIAAHR4VN2VJXVXP5PYESPXOSFZCHKHCAPRNCWCCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRMP27DKU6Y4Z7E3H5ODBICOYTSLZBLSAT7NEA45MHKZZZVUYGZA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQNDFTT64D274H266KZM22VYVTJMGOOPS5KF43WKA346WY7MJVEQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMRBXAMUJXBDDUVBOOIJPZIT4INMN76UVIDDFHYMWCHWEKPJMC3A/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4K2I6IRALJT6H26WVMNEQS2KBGGN37GJAYG4EI7QEAQSIFSS6QOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5IDCJEYRWI6Y5RSNP6SBNKM4PCIDT3FC4QTQHSMTVZP4GEAK3AQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XKXEAB25SYPES2F6XNW3ZWMCSA4LYULRRQZGUTNZYGBWSIJBYCQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NN2JJJ77ZF3DCF4KCSKASVAJVXWOKY62ZGB4BBYHMHVAAIKY7HCA/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4YEPSPMWUNWH523U2WBAUGXR7JZLHGFI3RQLLWW3YJRSQCNOJDQ/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js"
            ]
        },
        "ExportECSServiceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKI2QOV7U7BZFGMUXLRDJOEB2WJX4SRF7A6XARV64ANFON7MDOXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWBADWYJBA67JDPYFNVZDDECX4K64EZ3UAHGVEIPIUZ4QQ2KWDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GR3L27DKUOH24UDO7IW7JH6KKSS2SDFPJ2DVLXRAGRHRPFH7AIPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HN6I2VYJ6ZSOOOLSUJDVK3MKKTGNT2SJ5IA25YUBXNZIJVX74WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGKCLUWBI7ADGSD3G5TWUK2YXEIW7UIJXBRBVIGY2SKV2G2ACI6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUY334YQLUHTCVDAW65TVW7C2QGIDNJFJYN63AY2AC7ASXTXNTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPXIBJ6VGIR4UXGVB522WUYQDMFG5AZOH3U3OBLYWCQHGZUYLNEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RNSM5JP4P5JD2RHJLBZIQ6LD2OD3C7NCK42KT6EYLLLAQLGSLBGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZXBKV23ZBLPPPAMGVNKIKWIO7HAO4HXVRNJKLI2L2B5RZF62SXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/errorHandler.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/analyticsInit.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UM65FGVV2RWAGJWXIVQ5ZBPRL72WXO2RJJHJHM7I3KLOI6FJ72WA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HCVPEULBN2XR4NRO3ZDWFUKYU5G42IZ47HOYB644PBIYZADGRMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AN6LWOCVJYCM2WESHSKVQ2FDRLKEZSFGZL63LBMA4LUZYIOFK6PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RUJH36AEWXEMF6V7J6XJ3WPKHG7QMGBULSP2T3I5ZV4ASUNCXNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetECSServiceRecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "serviceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedOptionProjectedMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
[...]
