{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-01",
        "endpointPrefix": "compute-optimizer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS Compute Optimizer",
        "serviceId": "Compute Optimizer",
        "signatureVersion": "v4",
        "signingName": "compute-optimizer",
        "targetPrefix": "ComputeOptimizerService",
        "uid": "compute-optimizer-2019-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
        ]
    },
    "operations": {
        "DeleteRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType",
                    "recommendationPreferenceNames"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "recommendationPreferenceNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "DescribeRecommendationExportJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "jobIds": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendationExportJobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobId": {},
                                "destination": {
                                    "type": "structure",
                                    "members": {
                                        "s3": {
                                            "shape": "Sn"
                                        }
                                    }
                                },
                                "resourceType": {},
                                "status": {},
                                "creationTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "failureReason": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ExportAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ExportEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ExportEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ExportLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetAutoScalingGroupRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "autoScalingGroupArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "autoScalingGroupRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "autoScalingGroupArn": {},
                                "autoScalingGroupName": {},
                                "finding": {},
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "currentConfiguration": {
                                    "shape": "S27"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S27"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEBSVolumeRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "volumeArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "S1c"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "volumeRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "volumeArn": {},
                                "accountId": {},
                                "currentConfiguration": {
                                    "shape": "S35"
                                },
                                "finding": {},
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "volumeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "configuration": {
                                                "shape": "S35"
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEC2InstanceRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "instanceArns": {
                        "type": "list",
                        "member": {}
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "filters": {
                        "shape": "Sy"
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "instanceRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "instanceArn": {},
                                "accountId": {},
                                "instanceName": {},
                                "currentInstanceType": {},
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "utilizationMetrics": {
                                    "shape": "S21"
                                },
                                "lookBackPeriodInDays": {
                                    "type": "double"
                                },
                                "recommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "instanceType": {},
                                            "projectedUtilizationMetrics": {
                                                "shape": "S2e"
                                            },
                                            "platformDifferences": {
                                                "type": "list",
                                                "member": {}
                                            },
                                            "performanceRisk": {
                                                "type": "double"
                                            },
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            },
                                            "migrationEffort": {}
                                        }
                                    }
                                },
                                "recommendationSources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "recommendationSourceArn": {},
                                            "recommendationSourceType": {}
                                        }
                                    }
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "currentPerformanceRisk": {},
                                "effectiveRecommendationPreferences": {
                                    "shape": "S2p"
                                },
                                "inferredWorkloadTypes": {
                                    "shape": "S2s"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEC2RecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "instanceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "instanceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "recommendationPreferences": {
                        "shape": "S17"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "recommendedOptionProjectedMetrics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "recommendedInstanceType": {},
                                "rank": {
                                    "type": "integer"
                                },
                                "projectedMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "timestamps": {
                                                "type": "list",
                                                "member": {
                                                    "type": "timestamp"
                                                }
                                            },
                                            "values": {
                                                "type": "list",
                                                "member": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEffectiveRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "enhancedInfrastructureMetrics": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEnrollmentStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {},
                    "memberAccountsEnrolled": {
                        "type": "boolean"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "numberOfMemberAccountsOptedIn": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetEnrollmentStatusesForOrganization": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sf"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountEnrollmentStatuses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "status": {},
                                "statusReason": {},
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BJZQ7PXXAFWF4Q4XMJN7PXE3C2K5VFRAMVDZGTJASX5MHRFY4RIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetLambdaFunctionRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "functionArns": {
                        "type": "list",
                        "member": {}
                    },
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "lambdaFunctionRecommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "functionArn": {},
                                "functionVersion": {},
                                "accountId": {},
                                "currentMemorySize": {
                                    "type": "integer"
                                },
                                "numberOfInvocations": {
                                    "type": "long"
                                },
                                "utilizationMetrics": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "statistic": {},
                                            "value": {
                                                "type": "double"
                                            }
                                        }
                                    }
                                },
                                "lookbackPeriodInDays": {
                                    "type": "double"
                                },
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "finding": {},
                                "findingReasonCodes": {
                                    "type": "list",
                                    "member": {}
                                },
                                "memorySizeRecommendationOptions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "rank": {
                                                "type": "integer"
                                            },
                                            "memorySize": {
                                                "type": "integer"
                                            },
                                            "projectedUtilizationMetrics": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "statistic": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            },
                                            "savingsOpportunity": {
                                                "shape": "S2h"
                                            }
                                        }
                                    }
                                },
                                "currentPerformanceRisk": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationPreferencesDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "scope": {
                                    "shape": "S3"
                                },
                                "resourceType": {},
                                "enhancedInfrastructureMetrics": {},
                                "inferredWorkloadTypes": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetRecommendationSummaries": {
            "input": {
                "type": "structure",
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "recommendationSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "summaries": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "name": {},
                                            "value": {
                                                "type": "double"
                                            },
                                            "reasonCodeSummaries": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "name": {},
                                                        "value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "recommendationResourceType": {},
                                "accountId": {},
                                "savingsOpportunity": {
                                    "shape": "S2h"
                                },
                                "currentPerformanceRiskRatings": {
                                    "type": "structure",
                                    "members": {
                                        "high": {
                                            "type": "long"
                                        },
                                        "medium": {
                                            "type": "long"
                                        },
                                        "low": {
                                            "type": "long"
                                        },
                                        "veryLow": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "PutRecommendationPreferences": {
            "input": {
                "type": "structure",
                "required": [
                    "resourceType"
                ],
                "members": {
                    "resourceType": {},
                    "scope": {
                        "shape": "S3"
                    },
                    "enhancedInfrastructureMetrics": {},
                    "inferredWorkloadTypes": {},
                    "externalMetricsPreference": {
                        "shape": "S2s"
                    },
                    "lookBackPeriod": {},
                    "utilizationThresholdPreferences": {
                        "shape": "S3n"
                    },
                    "preferredResources": {
                        "shape": "S3t"
                    },
                    "costImpactAfterDiscounts": {},
                    "savingsEstimationMode": {},
                    "utilizationPreferences": {
                        "shape": "S3n"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "UpdateEnrollmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "status": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {},
                    "statusReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QVS5B6MZ7M3JNXLXU3H5XRV7MGG3T2YGGP5GV3V47YGNE3LONTFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "ExportECSServiceRecommendations": {
            "input": {
                "type": "structure",
                "required": [
                    "s3DestinationConfig"
                ],
                "members": {
                    "accountIds": {
                        "shape": "Sw"
                    },
                    "filters": {
                        "shape": "S1n"
                    },
                    "fieldsToExport": {
                        "type": "list",
                        "member": {}
                    },
                    "s3DestinationConfig": {
                        "shape": "S13"
                    },
                    "fileFormat": {},
                    "includeMemberAccounts": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobId": {},
                    "s3Destination": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YBMS4WTTTWSWRAKZS7QO53QK6NYHTPTPKTOXAINQPXL3L3GJEW6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75YFAJXMCOUH3VUT3VXVMPLADMBKZLFH5UNOLYLIRRWKOMBSQSQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEXAWC3ICJLFWPADRWYCJZHV3QZ7DDE5T4DRDOHEA2YHK7FJ3LTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75TSZFGA67IOSRC45DKF4IP4KDKG4XSSEBIHTSYYUUHMR6SA6OFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWMNKXHTBVXV7ZSAZWEHDIWBM2KEPB6F7GQMXPNS5QMO3EJEV5CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2EO6UKN52QOGY243MAEKJFCKLDW67Q52SSKDCEZZU7YT325HQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWMFXMRCTRFMXC354M23DQ2P6C6SPGYJ7KZLKSWRFAHU5FVLNXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF7KLRDHYC2XYPES7JK5FD44FTWLW7XSZOPKMBWPYPIQSLC2ANVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2L7MTAX4VJ6453E46PMMPUYNPSVSX3J3ZTNWLCOBPOSPRKGUGLFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3XBWKEEHM5F6KG5B734OKV6KA66IAZEWLINED7AGCK7KFIJXHUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YROUUI7EYXLFWHPQDUWSEBOZJ2W6BXEFRG43BCLIHRBEREEUVVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIORAY3PNAMJ5BCDJ3PHZOQFVS7B6TVGU5GVVM3QZXEZNGKT4RDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYS2BG6PLVMYKTHFQDJ7ZYFLYPWIVWBAQJDTHZ74HW6BA3SRCYXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ7TKQVF4Y7UK6X7SNXREJGABONAAHNY6GVBTEN4AKAYHDFSBA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPS73NBUPRCZQRJJUX3B6Z2K4IJEZWGXEAWOSHQKUEEMLZDGMK4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FLKSY3RVVFCURZCVHWCBDM4DGU3H4WUETN7QS5QOO2ZAQ4Y7SLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N76ISRLRT4QEIB5MYPT2OCSU72PENI36HANWRUNCK5CSVJ2KNXRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVTPZ4HX23GXJY4YBJMIC7G4DZFPGPT3RG556QSGJPU3XPKCGDTQ/vendors.js"
            ]
        },
        "GetECSServiceRecommendationProjectedMetrics": {
            "input": {
                "type": "structure",
                "required": [
                    "serviceArn",
                    "stat",
                    "period",
                    "startTime",
                    "endTime"
                ],
                "members": {
                    "serviceArn": {},
                    "stat": {},
                    "period": {
                        "type": "integer"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
[...]
