{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-30",
        "endpointPrefix": "connect-campaigns",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonConnectCampaignService",
        "serviceId": "ConnectCampaigns",
        "signatureVersion": "v4",
        "signingName": "connect-campaigns",
        "uid": "connectcampaigns-2021-01-30",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateCampaign": {
            "http": {
                "method": "PUT",
                "requestUri": "/campaigns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "dialerConfig",
                    "name",
                    "outboundCallConfig"
                ],
                "members": {
                    "connectInstanceId": {},
                    "dialerConfig": {
                        "shape": "S3"
                    },
                    "name": {},
                    "outboundCallConfig": {
                        "shape": "S8"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteCampaign": {
            "http": {
                "method": "DELETE",
                "requestUri": "/campaigns/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteConnectInstanceConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DeleteInstanceOnboardingJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "DescribeCampaign": {
            "http": {
                "method": "GET",
                "requestUri": "/campaigns/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaign": {
                        "type": "structure",
                        "required": [
                            "arn",
                            "connectInstanceId",
                            "dialerConfig",
                            "id",
                            "name",
                            "outboundCallConfig"
                        ],
                        "members": {
                            "arn": {},
                            "connectInstanceId": {},
                            "dialerConfig": {
                                "shape": "S3"
                            },
                            "id": {},
                            "name": {},
                            "outboundCallConfig": {
                                "shape": "S8"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetCampaignState": {
            "http": {
                "method": "GET",
                "requestUri": "/campaigns/{id}/state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "state": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetCampaignStateBatch": {
            "http": {
                "requestUri": "/campaigns-state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignIds"
                ],
                "members": {
                    "campaignIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignId": {},
                                "failureCode": {}
                            }
                        }
                    },
                    "successfulRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignId": {},
                                "state": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetConnectInstanceConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceConfig": {
                        "type": "structure",
                        "required": [
                            "connectInstanceId",
                            "encryptionConfig",
                            "serviceLinkedRoleArn"
                        ],
                        "members": {
                            "connectInstanceId": {},
                            "encryptionConfig": {
                                "shape": "S14"
                            },
                            "serviceLinkedRoleArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "GetInstanceOnboardingJobStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceOnboardingJobStatus": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ListCampaigns": {
            "http": {
                "requestUri": "/campaigns-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "instanceIdFilter": {
                                "type": "structure",
                                "required": [
                                    "operator",
                                    "value"
                                ],
                                "members": {
                                    "operator": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "connectInstanceId",
                                "id",
                                "name"
                            ],
                            "members": {
                                "arn": {},
                                "connectInstanceId": {},
                                "id": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "PauseCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/pause",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "PutDialRequestBatch": {
            "http": {
                "method": "PUT",
                "requestUri": "/campaigns/{id}/dial-requests",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dialRequests",
                    "id"
                ],
                "members": {
                    "dialRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributes",
                                "clientToken",
                                "expirationTime",
                                "phoneNumber"
                            ],
                            "members": {
                                "attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {},
                                    "sensitive": true
                                },
                                "clientToken": {},
                                "expirationTime": {
                                    "type": "timestamp",
                                    "timestampFormat": "iso8601"
                                },
                                "phoneNumber": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "clientToken": {},
                                "failureCode": {},
                                "id": {}
                            }
                        }
                    },
                    "successfulRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "clientToken": {},
                                "id": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "ResumeCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/resume",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "StartCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "StartInstanceOnboardingJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "encryptionConfig"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "encryptionConfig": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceOnboardingJobStatus": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "StopCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "tags"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "tagKeys"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "UpdateCampaignDialerConfig": {
            "http": {
                "requestUri": "/campaigns/{id}/dialer-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dialerConfig",
                    "id"
                ],
                "members": {
                    "dialerConfig": {
                        "shape": "S3"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "UpdateCampaignName": {
            "http": {
                "requestUri": "/campaigns/{id}/name",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "name"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "UpdateCampaignOutboundCallConfig": {
            "http": {
                "requestUri": "/campaigns/{id}/outbound-call-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "answerMachineDetectionConfig": {
                        "shape": "S9"
                    },
                    "connectContactFlowId": {},
                    "connectSourcePhoneNumber": {},
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js"
            ]
        },
        "PutConnectInstanceConfig": {
            "http": {
                "method": "PUT",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "encryptionConfig"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "encryptionConfig": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceConfigRequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZAWFNVUCQB4JEXKWL6F6FFT4P7AKYYGWM37WX2KLWL77FLPV6YAQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "structure",
            "members": {
                "predictiveDialerConfig": {
                    "type": "structure",
                    "required": [
                        "bandwidthAllocation"
                    ],
                    "members": {
                        "bandwidthAllocation": {
                            "type": "double"
                        }
                    }
                },
                "progressiveDialerConfig": {
                    "type": "structure",
                    "required": [
                        "bandwidthAllocation"
                    ],
                    "members": {
                        "bandwidthAllocation": {
                            "type": "double"
                        }
                    }
                }
            },
            "union": true
        },
        "S8": {
            "type": "structure",
            "required": [
                "connectContactFlowId",
                "connectQueueId"
            ],
            "members": {
                "answerMachineDetectionConfig": {
                    "shape": "S9"
                },
                "connectContactFlowId": {},
                "connectQueueId": {},
                "connectSourcePhoneNumber": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "enableAnswerMachineDetection"
            ],
            "members": {
                "enableAnswerMachineDetection": {
                    "type": "boolean"
                }
            }
        },
        "Se": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S14": {
            "type": "structure",
            "required": [
                "enabled"
            ],
            "members": {
                "enabled": {
                    "type": "boolean"
                },
                "encryptionType": {},
                "keyArn": {}
            }
        },
        "S1b": {
            "type": "structure",
            "required": [
                "connectInstanceId",
                "status"
            ],
            "members": {
                "connectInstanceId": {},
                "failureCode": {},
                "status": {}
            }
        }
    }
}