{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-21",
        "endpointPrefix": "contact-lens",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon Connect Contact Lens",
        "serviceFullName": "Amazon Connect Contact Lens",
        "serviceId": "Connect Contact Lens",
        "signatureVersion": "v4",
        "signingName": "connect",
        "uid": "connect-contact-lens-2020-08-21",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "ListRealtimeContactAnalysisSegments": {
            "http": {
                "requestUri": "/realtime-contact-analysis/analysis-segments"
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "ContactId"
                ],
                "members": {
                    "InstanceId": {},
                    "ContactId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Segments"
                ],
                "members": {
                    "Segments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Transcript": {
                                    "type": "structure",
                                    "required": [
                                        "Id",
                                        "ParticipantId",
                                        "ParticipantRole",
                                        "Content",
                                        "BeginOffsetMillis",
                                        "EndOffsetMillis",
                                        "Sentiment"
                                    ],
                                    "members": {
                                        "Id": {},
                                        "ParticipantId": {},
                                        "ParticipantRole": {},
                                        "Content": {},
                                        "BeginOffsetMillis": {
                                            "type": "integer"
                                        },
                                        "EndOffsetMillis": {
                                            "type": "integer"
                                        },
                                        "Sentiment": {},
                                        "IssuesDetected": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "CharacterOffsets"
                                                ],
                                                "members": {
                                                    "CharacterOffsets": {
                                                        "type": "structure",
                                                        "required": [
                                                            "BeginOffsetChar",
                                                            "EndOffsetChar"
                                                        ],
                                                        "members": {
                                                            "BeginOffsetChar": {
                                                                "type": "integer"
                                                            },
                                                            "EndOffsetChar": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Categories": {
                                    "type": "structure",
                                    "required": [
                                        "MatchedCategories",
                                        "MatchedDetails"
                                    ],
                                    "members": {
                                        "MatchedCategories": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "MatchedDetails": {
                                            "type": "map",
                                            "key": {},
                                            "value": {
                                                "type": "structure",
                                                "required": [
                                                    "PointsOfInterest"
                                                ],
                                                "members": {
                                                    "PointsOfInterest": {
                                                        "type": "list",
                                                        "member": {
                                                            "type": "structure",
                                                            "required": [
                                                                "BeginOffsetMillis",
                                                                "EndOffsetMillis"
                                                            ],
                                                            "members": {
                                                                "BeginOffsetMillis": {
                                                                    "type": "integer"
                                                                },
                                                                "EndOffsetMillis": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        }
    },
    "shapes": {}
}