{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-01-30",
        "endpointPrefix": "connect-campaigns",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AmazonConnectCampaignService",
        "serviceId": "ConnectCampaigns",
        "signatureVersion": "v4",
        "signingName": "connect-campaigns",
        "uid": "connectcampaigns-2021-01-30",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateCampaign": {
            "http": {
                "method": "PUT",
                "requestUri": "/campaigns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "dialerConfig",
                    "name",
                    "outboundCallConfig"
                ],
                "members": {
                    "connectInstanceId": {},
                    "dialerConfig": {
                        "shape": "S3"
                    },
                    "name": {},
                    "outboundCallConfig": {
                        "shape": "S8"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {},
                    "id": {},
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DeleteCampaign": {
            "http": {
                "method": "DELETE",
                "requestUri": "/campaigns/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DeleteConnectInstanceConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DeleteInstanceOnboardingJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "DescribeCampaign": {
            "http": {
                "method": "GET",
                "requestUri": "/campaigns/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaign": {
                        "type": "structure",
                        "required": [
                            "arn",
                            "connectInstanceId",
                            "dialerConfig",
                            "id",
                            "name",
                            "outboundCallConfig"
                        ],
                        "members": {
                            "arn": {},
                            "connectInstanceId": {},
                            "dialerConfig": {
                                "shape": "S3"
                            },
                            "id": {},
                            "name": {},
                            "outboundCallConfig": {
                                "shape": "S8"
                            },
                            "tags": {
                                "shape": "Se"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "GetCampaignState": {
            "http": {
                "method": "GET",
                "requestUri": "/campaigns/{id}/state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "state": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "GetCampaignStateBatch": {
            "http": {
                "requestUri": "/campaigns-state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignIds"
                ],
                "members": {
                    "campaignIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignId": {},
                                "failureCode": {}
                            }
                        }
                    },
                    "successfulRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignId": {},
                                "state": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "GetConnectInstanceConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceConfig": {
                        "type": "structure",
                        "required": [
                            "connectInstanceId",
                            "encryptionConfig",
                            "serviceLinkedRoleArn"
                        ],
                        "members": {
                            "connectInstanceId": {},
                            "encryptionConfig": {
                                "shape": "S14"
                            },
                            "serviceLinkedRoleArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "GetInstanceOnboardingJobStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceOnboardingJobStatus": {
                        "shape": "S1b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListCampaigns": {
            "http": {
                "requestUri": "/campaigns-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "instanceIdFilter": {
                                "type": "structure",
                                "required": [
                                    "operator",
                                    "value"
                                ],
                                "members": {
                                    "operator": {},
                                    "value": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaignSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "arn",
                                "connectInstanceId",
                                "id",
                                "name"
                            ],
                            "members": {
                                "arn": {},
                                "connectInstanceId": {},
                                "id": {},
                                "name": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "PauseCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/pause",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "PutDialRequestBatch": {
            "http": {
                "method": "PUT",
                "requestUri": "/campaigns/{id}/dial-requests",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dialRequests",
                    "id"
                ],
                "members": {
                    "dialRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "attributes",
                                "clientToken",
                                "expirationTime",
                                "phoneNumber"
                            ],
                            "members": {
                                "attributes": {
                                    "type": "map",
                                    "key": {},
                                    "value": {},
                                    "sensitive": true
                                },
                                "clientToken": {},
                                "expirationTime": {
                                    "type": "timestamp",
                                    "timestampFormat": "iso8601"
                                },
                                "phoneNumber": {
                                    "type": "string",
                                    "sensitive": true
                                }
                            }
                        }
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "clientToken": {},
                                "failureCode": {},
                                "id": {}
                            }
                        }
                    },
                    "successfulRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "clientToken": {},
                                "id": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "ResumeCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/resume",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "StartCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "StartInstanceOnboardingJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "encryptionConfig"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "encryptionConfig": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceOnboardingJobStatus": {
                        "shape": "S1b"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "StopCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "tags"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "tags": {
                        "shape": "Se"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn",
                    "tagKeys"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UpdateCampaignDialerConfig": {
            "http": {
                "requestUri": "/campaigns/{id}/dialer-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dialerConfig",
                    "id"
                ],
                "members": {
                    "dialerConfig": {
                        "shape": "S3"
                    },
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UpdateCampaignName": {
            "http": {
                "requestUri": "/campaigns/{id}/name",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "name"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "UpdateCampaignOutboundCallConfig": {
            "http": {
                "requestUri": "/campaigns/{id}/outbound-call-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "answerMachineDetectionConfig": {
                        "shape": "S9"
                    },
                    "connectContactFlowId": {},
                    "connectSourcePhoneNumber": {},
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js"
            ]
        },
        "PutConnectInstanceConfig": {
            "http": {
                "method": "PUT",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "encryptionConfig"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "encryptionConfig": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "instanceConfigRequestId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
[...]
