{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-04-23",
        "auth": [
            "aws.auth#sigv4"
        ],
        "endpointPrefix": "connect-campaigns",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AmazonConnectCampaignServiceV2",
        "serviceId": "ConnectCampaignsV2",
        "signatureVersion": "v4",
        "signingName": "connect-campaigns",
        "uid": "connectcampaignsv2-2024-04-23",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
        ]
    },
    "operations": {
        "CreateCampaign": {
            "http": {
                "method": "PUT",
                "requestUri": "/campaigns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "type",
                    "connectInstanceId",
                    "channelConfig"
                ],
                "members": {
                    "name": {},
                    "type": {},
                    "connectInstanceId": {},
                    "channelConfig": {
                        "shape": "S5"
                    },
                    "source": {
                        "shape": "Ss"
                    },
                    "connectCampaignFlowArn": {},
                    "schedule": {
                        "shape": "St"
                    },
                    "communicationTimeConfig": {
                        "shape": "Sx"
                    },
                    "communicationLimitsOverride": {
                        "shape": "S1d"
                    },
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "id": {},
                    "arn": {},
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteCampaign": {
            "http": {
                "method": "DELETE",
                "requestUri": "/campaigns/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteCampaignChannelConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/campaigns/{id}/channel-config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "channel"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "channel": {
                        "location": "querystring",
                        "locationName": "channel"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteCampaignCommunicationLimits": {
            "http": {
                "method": "DELETE",
                "requestUri": "/campaigns/{id}/communication-limits",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "config"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "config": {
                        "location": "querystring",
                        "locationName": "config"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteCampaignCommunicationTime": {
            "http": {
                "method": "DELETE",
                "requestUri": "/campaigns/{id}/communication-time",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "config"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "config": {
                        "location": "querystring",
                        "locationName": "config"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteConnectInstanceConfig": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "campaignDeletionPolicy": {
                        "location": "querystring",
                        "locationName": "campaignDeletionPolicy"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteConnectInstanceIntegration": {
            "http": {
                "requestUri": "/connect-instance/{connectInstanceId}/integrations/delete",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "integrationIdentifier"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "integrationIdentifier": {
                        "type": "structure",
                        "members": {
                            "customerProfiles": {
                                "type": "structure",
                                "required": [
                                    "domainArn"
                                ],
                                "members": {
                                    "domainArn": {}
                                }
                            },
                            "qConnect": {
                                "type": "structure",
                                "required": [
                                    "knowledgeBaseArn"
                                ],
                                "members": {
                                    "knowledgeBaseArn": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DeleteInstanceOnboardingJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "DescribeCampaign": {
            "http": {
                "method": "GET",
                "requestUri": "/campaigns/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "campaign": {
                        "type": "structure",
                        "required": [
                            "id",
                            "arn",
                            "name",
                            "type",
                            "connectInstanceId",
                            "channelConfig"
                        ],
                        "members": {
                            "id": {},
                            "arn": {},
                            "name": {},
                            "type": {},
                            "connectInstanceId": {},
                            "channelConfig": {
                                "shape": "S5"
                            },
                            "source": {
                                "shape": "Ss"
                            },
                            "connectCampaignFlowArn": {},
                            "schedule": {
                                "shape": "St"
                            },
                            "communicationTimeConfig": {
                                "shape": "Sx"
                            },
                            "communicationLimitsOverride": {
                                "shape": "S1d"
                            },
                            "tags": {
                                "shape": "S1k"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetCampaignState": {
            "http": {
                "method": "GET",
                "requestUri": "/campaigns/{id}/state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "state": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetCampaignStateBatch": {
            "http": {
                "requestUri": "/campaigns-state",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "campaignIds"
                ],
                "members": {
                    "campaignIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignId": {},
                                "state": {}
                            }
                        }
                    },
                    "failedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "campaignId": {},
                                "failureCode": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetConnectInstanceConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/config",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceConfig": {
                        "type": "structure",
                        "required": [
                            "connectInstanceId",
                            "serviceLinkedRoleArn",
                            "encryptionConfig"
                        ],
                        "members": {
                            "connectInstanceId": {},
                            "serviceLinkedRoleArn": {},
                            "encryptionConfig": {
                                "shape": "S2m"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetInstanceCommunicationLimits": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/communication-limits",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "communicationLimitsConfig": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "GetInstanceOnboardingJobStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/onboarding",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "connectInstanceOnboardingJobStatus": {
                        "shape": "S2u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListCampaigns": {
            "http": {
                "requestUri": "/campaigns-summary",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "filters": {
                        "type": "structure",
                        "members": {
                            "instanceIdFilter": {
                                "type": "structure",
                                "required": [
                                    "value",
                                    "operator"
                                ],
                                "members": {
                                    "value": {},
                                    "operator": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "campaignSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "arn",
                                "name",
                                "connectInstanceId",
                                "type",
                                "channels"
                            ],
                            "members": {
                                "id": {},
                                "arn": {},
                                "name": {},
                                "connectInstanceId": {},
                                "type": {},
                                "channels": {
                                    "type": "list",
                                    "member": {}
                                },
                                "schedule": {
                                    "shape": "St"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListConnectInstanceIntegrations": {
            "http": {
                "method": "GET",
                "requestUri": "/connect-instance/{connectInstanceId}/integrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "integrationSummaryList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "customerProfiles": {
                                    "type": "structure",
                                    "required": [
                                        "domainArn",
                                        "objectTypeNames"
                                    ],
                                    "members": {
                                        "domainArn": {},
                                        "objectTypeNames": {
                                            "shape": "S3c"
                                        }
                                    }
                                },
                                "qConnect": {
                                    "type": "structure",
                                    "required": [
                                        "knowledgeBaseArn"
                                    ],
                                    "members": {
                                        "knowledgeBaseArn": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{arn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "arn"
                ],
                "members": {
                    "arn": {
                        "location": "uri",
                        "locationName": "arn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "PauseCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/pause",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "PutConnectInstanceIntegration": {
            "http": {
                "method": "PUT",
                "requestUri": "/connect-instance/{connectInstanceId}/integrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "integrationConfig"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "integrationConfig": {
                        "type": "structure",
                        "members": {
                            "customerProfiles": {
                                "type": "structure",
                                "required": [
                                    "domainArn",
                                    "objectTypeNames"
                                ],
                                "members": {
                                    "domainArn": {},
                                    "objectTypeNames": {
                                        "shape": "S3c"
                                    }
                                }
                            },
                            "qConnect": {
                                "type": "structure",
                                "required": [
                                    "knowledgeBaseArn"
                                ],
                                "members": {
                                    "knowledgeBaseArn": {}
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "PutInstanceCommunicationLimits": {
            "http": {
                "method": "PUT",
                "requestUri": "/connect-instance/{connectInstanceId}/communication-limits",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "connectInstanceId",
                    "communicationLimitsConfig"
                ],
                "members": {
                    "connectInstanceId": {
                        "location": "uri",
                        "locationName": "connectInstanceId"
                    },
                    "communicationLimitsConfig": {
                        "shape": "S1d"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "PutOutboundRequestBatch": {
            "http": {
                "method": "PUT",
                "requestUri": "/campaigns/{id}/outbound-requests",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "outboundRequests"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "outboundRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clientToken",
                                "expirationTime",
                                "channelParameters"
                            ],
                            "members": {
                                "clientToken": {},
                                "expirationTime": {
                                    "shape": "Su"
                                },
                                "channelParameters": {
                                    "type": "structure",
                                    "members": {
                                        "voiceChannelParameters": {
                                            "type": "structure",
                                            "required": [
                                                "destinationPhoneNumber",
                                                "attributes"
                                            ],
                                            "members": {
                                                "destinationPhoneNumber": {
                                                    "shape": "S3u"
                                                },
                                                "attributes": {
                                                    "shape": "S3v"
                                                },
                                                "connectSourcePhoneNumber": {},
                                                "answerMachineDetectionConfig": {
                                                    "shape": "Sh"
                                                }
                                            }
                                        },
                                        "smsChannelParameters": {
                                            "type": "structure",
                                            "required": [
                                                "destinationPhoneNumber",
                                                "templateParameters"
                                            ],
                                            "members": {
                                                "destinationPhoneNumber": {
                                                    "shape": "S3u"
                                                },
                                                "connectSourcePhoneNumberArn": {},
                                                "templateArn": {},
                                                "templateParameters": {
                                                    "shape": "S3v"
                                                }
                                            }
                                        },
                                        "emailChannelParameters": {
                                            "type": "structure",
                                            "required": [
                                                "destinationEmailAddress",
                                                "templateParameters"
                                            ],
                                            "members": {
                                                "destinationEmailAddress": {
                                                    "shape": "Sq"
                                                },
                                                "connectSourceEmailAddress": {
                                                    "shape": "Sq"
                                                },
                                                "templateArn": {},
                                                "templateParameters": {
                                                    "shape": "S3v"
                                                }
                                            }
                                        }
                                    },
                                    "union": true
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "successfulRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "clientToken": {},
                                "id": {}
                            }
                        }
                    },
                    "failedRequests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "clientToken": {},
                                "id": {},
                                "failureCode": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHUMLNLDHR2V4AFNLTO5APR73UCKZ22Y6NQMT4WHXRFQDKTX45OA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGEG6FIWU4ADNYN3PDRTO4QDDH3PWULAHFNN6MP6DIHFXPEHQRLA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBYD4LXX55LSNMNM7IPFR73DD344DBR6GFG67VK3P2NPHLQNWIYA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PVFJPSLK3LJNCPGJQN3ZBJ7ND3AZUISLGJJBHJJSITLSPI52PTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD7GAMSCZ2WTUXZIQDY2D7PVW3MO5CX3QLKMAEQH6Q2DN4EG4HCQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EX7JTC2HCC5QRU6TZAQPZ3IUTT6Q2AKABS2WFKJEX2A4FZRUTBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PXORUNJAPJ4S4ZQIJPEFLXG5XYJUSAJRRRNBUAA46KGKFZYNNXNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZMDVB2NBKYCDHPBNKZ5E2YW5YTAOIF5ASPUAHTWVGRR2KBOUXXA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js"
            ]
        },
        "ResumeCampaign": {
            "http": {
                "requestUri": "/campaigns/{id}/resume",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6VTXEO25634OMZ4PJPGYPKZHXBEUWRNNIHORC6AH3CANIDZBJPA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ODZUJK3SOXYLY4VK4PE7DQHNHRPXC6E5ZJNIPFJAUR7PUW6EIGNA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UKOLAX73KFQQSZQHO3KMQLA2ZMXCAILVQDZKOBV3C3OQ5C366NA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEW23QJEMRUUUBHLY7EVAVXU6YCZZZ447A3HJ3XOUH43KVBP52A/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYLYCPPP4EXUFH2BJECGMIZUNDWJBDLF2SCCIVRVRU4TI6MHSAKA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FB7IA6KWAJKMDLBUEFEMVCVWEPJSGM4MZGGHSPSYV75NEXD7J7Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4IDRQMHMJKE7E7P6DMAFKEWFPDTPUCCXFSQYELM75MGJQOWEUYA/main.min.js",
[...]
