{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "consoleapp",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Console Mobile App",
        "serviceId": "ConsoleApp",
        "signatureVersion": "v4",
        "signingName": "consoleapp",
        "uid": "consoleapp-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMNZO2JGOQJVZL45HWEMDZUE7GQOX4253OK2MRNNNKDWTQPAREZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
        ]
    },
    "operations": {
        "DescribeHealth": {
            "name": "DescribeHealth",
            "http": {
                "method": "GET",
                "requestUri": "/health",
                "responseCode": 200
            },
            "output": {
                "shape": "DescribeHealthResponse"
            },
            "errors": [
                {
                    "shape": "UnhealthyServiceException"
                }
            ],
            "documentation": "<p>Check the health of a service. A 200 response indicates a healthy service.</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js"
            ]
        },
        "GetDeviceIdentity": {
            "name": "GetDeviceIdentity",
            "http": {
                "method": "GET",
                "requestUri": "/device-identities/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDeviceIdentityRequest"
            },
            "output": {
                "shape": "GetDeviceIdentityResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        },
        "ListDeviceIdentities": {
            "name": "ListDeviceIdentities",
            "http": {
                "method": "GET",
                "requestUri": "/device-identities",
                "responseCode": 200
            },
            "input": {
                "shape": "ListDeviceIdentitiesRequest"
            },
            "output": {
                "shape": "ListDeviceIdentitiesResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6DWFWJ7AV5BE42AMG4RT2QMEPDFXTD7A5EBXD64UL6F5INUV4ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGDU5ZN7P2XF47KZSMGG66R6LKWECESKD5MRPN5A2HVIOOHAIOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZVU4GFI3G4CX6OFX4UTWSTDDVI5MZZTHEBEPCH56CU2GMKBIDTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH5KEPTSBTX7GAE23YCR5MON7UEG7DVD6TL53TJUBSUCK2UXRSXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OCE3ATZU5RM4DMGYFYOKI22ETFP2GOJA6CJAGIRLVDQ5YANWWAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JYOJJEBENAPQECQHLSIBXDSE2CXW7TMZVT6BU6ZEAYYWGP75WRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZYIFXKL4OKHZOYQFWUMTLIMW4DOKBDZ46HRUI5V57VLSUEH7FQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ4UIVIFQXKA6TIUUB6LJ2AE2V4NZQZAFH27QNDSUHAH76NMICYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3GJARTSGGIHG2FLXFSUAQ6BCMGGSC6VG6VHPMZTA4FG5LLJUXAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5DYIBUJMRKDXGVI2WB6S6COZEIR7YZYUTOQQBXXHXVNZ4DIKTOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W4P6OA2JQM3VRTWX47EC45XCSF242EYHDD35ILWOJM4Y2FLC34MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AC5VKO3YX3LT3QHT37JGSTA3DR3XNHN4KC2PN55D4KDT5USOCX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWNJ5XQPRXX4AOR4VSJLMGGDYP3EAF2NHP7QV2FHCLP32COOGBKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXGITJY3LLQYJ5NPOBQ4TQFUSIJAMP6QZCBWPT5F3BHGDEI6ZY4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUSZMPQQ7AOMKMPYQGO6ATPVWKC3RDSA3OSSFD3GC3KSQSK54JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XB5KXEP2V2GUTT3LQVMDE7AV4B4ZSKBN4RV5SFFKTW3OHUUS5U2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NG5T2TSPMMVJB4YAECBWY3TUWDVOLND3K3WPARCOG5CTVJFTPMMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F7BYKT6PWJZ6BBE2ONRFJDKBBANO7UIONNDECE3EDDE46VCDLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETQNW6LZXHNMFWPQB2726LGMHGUORIURZIIE2SQBXG3ARXXIVYPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7SCLNFMSXNGZECS4TH5XWTIZ2WCC2XGEC3SQ7C5IGY3HLZH6ELA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4GIUITOLFZAH72LSASJ2I34QKCEXAXVXEF3OVBECMOO5SHIIBGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ILEJSB2WGXMAWVCCRQHSHTDXSGTW362JXRFZQTSU2BDNGUXD4KMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A2DMQNYVW5ROMMRX74TLON7MZYW3GHEQYIV2YNWCXVF7BXUTFW5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "CreatedTime": {
            "type": "timestamp",
            "documentation": "<p>Time that resource was created.</p>",
            "timestampFormat": "iso8601"
        },
        "DescribeHealthResponse": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>Contains message for health response</p>"
                }
            }
        },
        "DeviceIdString": {
            "type": "string",
            "documentation": "<p>A unique identifier for identifying a device</p>",
            "max": 1024,
            "min": 1
        },
        "DeviceIdentities": {
            "type": "list",
            "member": {
                "shape": "DeviceIdentityData"
            }
        },
        "DeviceIdentityArnString": {
            "type": "string",
            "documentation": "<p>A unique identifier for an identity on a device</p>",
            "min": 1,
            "pattern": "arn:aws:consoleapp::[0-9]{12}:device/{1}[w].*/{1}identity/{1}[w].*"
        },
        "DeviceIdentityData": {
            "type": "structure",
            "required": [
                "deviceIdentityArn",
                "identityArn",
                "identityId",
                "identityType",
                "deviceId",
                "deviceName",
                "pushNotificationStatus",
                "updatedTime",
                "createdTime"
            ],
            "members": {
                "deviceIdentityArn": {
                    "shape": "DeviceIdentityArnString"
                },
                "identityArn": {
                    "shape": "IdentityArnString"
                },
                "identityId": {
                    "shape": "IdentityIdString"
                },
                "identityType": {
                    "shape": "IdentityPrincipalType"
                },
                "deviceId": {
                    "shape": "DeviceIdString"
                },
                "deviceName": {
                    "shape": "DeviceNameString"
                },
                "pushNotificationStatus": {
                    "shape": "PushStatusType"
                },
                "updatedTime": {
                    "shape": "UpdatedTime"
                },
                "createdTime": {
                    "shape": "CreatedTime"
                }
            }
        },
        "DeviceModelString": {
            "type": "string",
            "documentation": "<p>Device model</p>",
            "min": 1
        },
        "DeviceNameString": {
            "type": "string",
            "documentation": "<p>A device name</p>",
            "max": 1024,
            "min": 1
        },
        "ErrorMessage": {
            "type": "string"
        },
        "GetDeviceIdentityRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "DeviceIdentityArnString",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "GetDeviceIdentityResponse": {
            "type": "structure",
            "required": [
                "deviceIdentityArn",
                "identityArn",
                "identityId",
                "identityType",
                "deviceId",
                "deviceName",
                "deviceModel",
                "platform",
                "pushNotificationStatus",
                "updatedTime",
                "createdTime"
            ],
            "members": {
                "deviceIdentityArn": {
                    "shape": "DeviceIdentityArnString"
                },
                "identityArn": {
                    "shape": "IdentityArnString"
                },
                "identityId": {
                    "shape": "IdentityIdString"
                },
                "identityType": {
                    "shape": "IdentityPrincipalType"
                },
                "deviceId": {
                    "shape": "DeviceIdString"
                },
                "deviceName": {
                    "shape": "DeviceNameString"
                },
                "deviceModel": {
                    "shape": "DeviceModelString"
                },
                "platform": {
                    "shape": "PlatformType"
                },
                "pushNotificationStatus": {
                    "shape": "PushStatusType"
                },
                "updatedTime": {
                    "shape": "UpdatedTime"
                },
                "createdTime": {
                    "shape": "CreatedTime"
                }
            }
        },
        "IdentityArnString": {
            "type": "string",
            "documentation": "<p>User Identity Arn</p>",
            "min": 1
        },
        "IdentityIdString": {
            "type": "string",
            "documentation": "<p>Identity Id</p>",
            "min": 1
        },
        "IdentityPrincipalType": {
            "type": "string",
            "documentation": "<p>Identity Type</p>",
            "enum": [
                "ACCOUNT",
                "USER",
                "ASSUMED_ROLE"
            ]
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListDeviceIdentitiesRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "shape": "ListDeviceIdentitiesRequestMaxResultsInteger",
                    "location": "querystring",
                    "locationName": "maxResults"
                },
                "nextToken": {
                    "shape": "NextToken",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListDeviceIdentitiesRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 100,
            "min": 1
        },
        "ListDeviceIdentitiesResponse": {
            "type": "structure",
            "required": [
                "deviceIdentities"
            ],
            "members": {
                "deviceIdentities": {
                    "shape": "DeviceIdentities"
                },
                "nextToken": {
                    "shape": "NextToken"
                }
            }
        },
        "NextToken": {
            "type": "string",
            "documentation": "<p>If the response does not contain the complete result set, additional results may be retrieved in subsequent requests using this pagination token.</p>"
        },
        "PlatformType": {
            "type": "string",
            "documentation": "<p>Platform is 'IOS' or 'ANDROID'</p>",
            "enum": [
                "IOS",
                "ANDROID"
            ]
        },
        "PushStatusType": {
            "type": "string",
            "documentation": "<p>Push status is 'NOT_ACTIVATED' or 'ACTIVE or 'INACTIVE'</p>",
            "enum": [
                "NOT_ACTIVATED",
                "ACTIVE",
                "INACTIVE"
            ]
        },
        "ResourceId": {
            "type": "string"
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                }
            },
            "error": {
                "httpStatusCode": 404,
                "senderFault": true
            },
            "exception": true
        },
        "ServiceCode": {
            "type": "string"
        },
        "String": {
            "type": "string"
        },
        "ThrottlingException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "serviceCode": {
                    "shape": "ServiceCode"
                },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true,
            "retryable": {
                "throttling": false
            }
        },
        "UnhealthyServiceException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>Service is currently unhealthy</p>",
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true
        },
        "UpdatedTime": {
            "type": "timestamp",
            "documentation": "<p>Time that resource was updated.</p>",
            "timestampFormat": "iso8601"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "reason": {
                    "shape": "ValidationExceptionReason"
                },
                "message": {
                    "shape": "ErrorMessage"
                },
                "fieldList": {
                    "shape": "ValidationExceptionFieldList"
                }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "name",
                "message"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "message": {
                    "shape": "String"
                }
            }
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        },
        "ValidationExceptionReason": {
            "type": "string",
            "enum": [
                "fieldValidationFailed",
                "other"
            ]
        }
    }
}