{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "consoleapp",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Console Mobile App",
        "serviceId": "ConsoleApp",
        "signatureVersion": "v4",
        "signingName": "consoleapp",
        "uid": "consoleapp-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4BAPIEGHZ5CEYV7I56DR75ED6AYLRR44HBVLDRXYRURINEXCOLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
        ]
    },
    "operations": {
        "DescribeHealth": {
            "name": "DescribeHealth",
            "http": {
                "method": "GET",
                "requestUri": "/health",
                "responseCode": 200
            },
            "output": {
                "shape": "DescribeHealthResponse"
            },
            "errors": [
                {
                    "shape": "UnhealthyServiceException"
                }
            ],
            "documentation": "<p>Check the health of a service. A 200 response indicates a healthy service.</p>",
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6BNLC63TCWAWBTZTGNHC6Z7WJCWQP3NOKAHHBPRUEWUUR6WQMAA/vendors.js"
            ]
        },
        "GetDeviceIdentity": {
            "name": "GetDeviceIdentity",
            "http": {
                "method": "GET",
                "requestUri": "/device-identities/{arn}",
                "responseCode": 200
            },
            "input": {
                "shape": "GetDeviceIdentityRequest"
            },
            "output": {
                "shape": "GetDeviceIdentityResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "ResourceNotFoundException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
            ]
        },
        "ListDeviceIdentities": {
            "name": "ListDeviceIdentities",
            "http": {
                "method": "GET",
                "requestUri": "/device-identities",
                "responseCode": 200
            },
            "input": {
                "shape": "ListDeviceIdentitiesRequest"
            },
            "output": {
                "shape": "ListDeviceIdentitiesResponse"
            },
            "errors": [
                {
                    "shape": "AccessDeniedException"
                },
                {
                    "shape": "ValidationException"
                },
                {
                    "shape": "ThrottlingException"
                },
                {
                    "shape": "InternalServerException"
                }
            ],
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/I7YG7NCDOU4BWZRBOOYUSIABMM7O564PY6EYJZP6SZSIBJZWFFSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIIB4W3PWJ4PDAZHXNRG6P65XFJS4QP3PLGLZ7JLIVNOPRMNQAFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOLLX3EP2XFV6B4L2MSJQLBNXVSFNZK6NLC4O4E7V74N5KU2QVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MMFPEADZAMMGLOMCM4ADKYJ3QJEOYEIVMNH7JTCH7KDASAIEDUSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIXV72X3WE2JNMVUFDYGGTNKB3QJXUK63MGBSVE2XAW7UD2NP2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NTFVLRM5DSBHFLM4POPZDY7OODJGHM4FP54SAHJ3ZFSU4S3DC2NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LDUJWWA5Q7E3YZGCKT7UI6BJM7BEHQEEHR2PW2M3Q4BJRJZBCDOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNKQUSFBCEAL6MJH4WFEKMA2C3AB43TZNISDAH2PQJZHF6P5VUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4YRZT5QWWMY3FPLF2ABBNYKHRD3GLF5CGSENCCB76YL23BK6GCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJEDNDUE7OYWYHZXIPPR4DKVAUM3VEPKINABTJGBPMWGTBDZAOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LHSWFYJFBDRCKGOZFVAMVXXSFIP3L37GTTTWQEDZB3ZQMZDIQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBH3XX3RI56SVM2SXXMHOZQHQHY4RFSEARAD5OYAYTGTUINACEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPDMF43QO66WIU42YEBJVP4CPD3FC44X3NDGRY5WATIN7QOSUX2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWSV5FOYX7K2WHF7JZ7XTNM2SYT4RXCXLG5FCREB6C6SPAXQQQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QUR5DXPJK75CBCDKHOHUJHQDX4QC662EMQSCSRGIARV3GRL3VM6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4VC2W2TSVP5HFVZMDIPZIACJSSXEUOMAQRKPOCPDBZO2WGEYTXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JOOEXISQLLUKPEOQJ5O4K4MDOBX55L2VVQAWTL2YQLNEF5DLDEZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYCEBKOZKZXTXONZDMD7IG5RFIYSL5YJJPUP4TLGCSE74KL6TAEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YUEWQV2HOZWMFRG3M2OKKZG3HR7GE42CGCSCQ5PXEJXRG5UUTNHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW6BKSO4UDWO3FPOD3MOGC3H5AKKXL4FVJSEVX3IXQEHPVJBX7ZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/74M425YKMKOJXBMCGHOYPDUPIN3QFMJ524SZXGXOPZ77VVMVWI2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUW7LJEKWS4DM33BFJFGWEKIWJ3E2XVVOKPNXSHXJCVGNT5FIMZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHU7FBN5YMGNGUZREAK6RUGXIOMPYZBTQKBY3N2OY33ZIZ7J5WJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKE7HYMG6ENWSFHBCYKPGK7XOGNRSTXOO7ZKQ6HRWVBMHNKIMFIQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "AccessDeniedException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 403,
                "senderFault": true
            },
            "exception": true
        },
        "CreatedTime": {
            "type": "timestamp",
            "documentation": "<p>Time that resource was created.</p>",
            "timestampFormat": "iso8601"
        },
        "DescribeHealthResponse": {
            "type": "structure",
            "members": {
                "message": {
                    "shape": "String",
                    "documentation": "<p>Contains message for health response</p>"
                }
            }
        },
        "DeviceIdString": {
            "type": "string",
            "documentation": "<p>A unique identifier for identifying a device</p>",
            "max": 1024,
            "min": 1
        },
        "DeviceIdentities": {
            "type": "list",
            "member": {
                "shape": "DeviceIdentityData"
            }
        },
        "DeviceIdentityArnString": {
            "type": "string",
            "documentation": "<p>A unique identifier for an identity on a device</p>",
            "min": 1,
            "pattern": "arn:aws:consoleapp::[0-9]{12}:device/{1}[w].*/{1}identity/{1}[w].*"
        },
        "DeviceIdentityData": {
            "type": "structure",
            "required": [
                "deviceIdentityArn",
                "identityArn",
                "identityId",
                "identityType",
                "deviceId",
                "deviceName",
                "pushNotificationStatus",
                "updatedTime",
                "createdTime"
            ],
            "members": {
                "deviceIdentityArn": {
                    "shape": "DeviceIdentityArnString"
                },
                "identityArn": {
                    "shape": "IdentityArnString"
                },
                "identityId": {
                    "shape": "IdentityIdString"
                },
                "identityType": {
                    "shape": "IdentityPrincipalType"
                },
                "deviceId": {
                    "shape": "DeviceIdString"
                },
                "deviceName": {
                    "shape": "DeviceNameString"
                },
                "pushNotificationStatus": {
                    "shape": "PushStatusType"
                },
                "updatedTime": {
                    "shape": "UpdatedTime"
                },
                "createdTime": {
                    "shape": "CreatedTime"
                }
            }
        },
        "DeviceModelString": {
            "type": "string",
            "documentation": "<p>Device model</p>",
            "min": 1
        },
        "DeviceNameString": {
            "type": "string",
            "documentation": "<p>A device name</p>",
            "max": 1024,
            "min": 1
        },
        "ErrorMessage": {
            "type": "string"
        },
        "GetDeviceIdentityRequest": {
            "type": "structure",
            "required": [
                "arn"
            ],
            "members": {
                "arn": {
                    "shape": "DeviceIdentityArnString",
                    "location": "uri",
                    "locationName": "arn"
                }
            }
        },
        "GetDeviceIdentityResponse": {
            "type": "structure",
            "required": [
                "deviceIdentityArn",
                "identityArn",
                "identityId",
                "identityType",
                "deviceId",
                "deviceName",
                "deviceModel",
                "platform",
                "pushNotificationStatus",
                "updatedTime",
                "createdTime"
            ],
            "members": {
                "deviceIdentityArn": {
                    "shape": "DeviceIdentityArnString"
                },
                "identityArn": {
                    "shape": "IdentityArnString"
                },
                "identityId": {
                    "shape": "IdentityIdString"
                },
                "identityType": {
                    "shape": "IdentityPrincipalType"
                },
                "deviceId": {
                    "shape": "DeviceIdString"
                },
                "deviceName": {
                    "shape": "DeviceNameString"
                },
                "deviceModel": {
                    "shape": "DeviceModelString"
                },
                "platform": {
                    "shape": "PlatformType"
                },
                "pushNotificationStatus": {
                    "shape": "PushStatusType"
                },
                "updatedTime": {
                    "shape": "UpdatedTime"
                },
                "createdTime": {
                    "shape": "CreatedTime"
                }
            }
        },
        "IdentityArnString": {
            "type": "string",
            "documentation": "<p>User Identity Arn</p>",
            "min": 1
        },
        "IdentityIdString": {
            "type": "string",
            "documentation": "<p>Identity Id</p>",
            "min": 1
        },
        "IdentityPrincipalType": {
            "type": "string",
            "documentation": "<p>Identity Type</p>",
            "enum": [
                "ACCOUNT",
                "USER",
                "ASSUMED_ROLE"
            ]
        },
        "Integer": {
            "type": "integer",
            "box": true
        },
        "InternalServerException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                }
            },
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true,
            "retryable": {
                "throttling": false
            }
        },
        "ListDeviceIdentitiesRequest": {
            "type": "structure",
            "members": {
                "maxResults": {
                    "shape": "ListDeviceIdentitiesRequestMaxResultsInteger",
                    "location": "querystring",
                    "locationName": "maxResults"
                },
                "nextToken": {
                    "shape": "NextToken",
                    "location": "querystring",
                    "locationName": "nextToken"
                }
            }
        },
        "ListDeviceIdentitiesRequestMaxResultsInteger": {
            "type": "integer",
            "box": true,
            "max": 100,
            "min": 1
        },
        "ListDeviceIdentitiesResponse": {
            "type": "structure",
            "required": [
                "deviceIdentities"
            ],
            "members": {
                "deviceIdentities": {
                    "shape": "DeviceIdentities"
                },
                "nextToken": {
                    "shape": "NextToken"
                }
            }
        },
        "NextToken": {
            "type": "string",
            "documentation": "<p>If the response does not contain the complete result set, additional results may be retrieved in subsequent requests using this pagination token.</p>"
        },
        "PlatformType": {
            "type": "string",
            "documentation": "<p>Platform is 'IOS' or 'ANDROID'</p>",
            "enum": [
                "IOS",
                "ANDROID"
            ]
        },
        "PushStatusType": {
            "type": "string",
            "documentation": "<p>Push status is 'NOT_ACTIVATED' or 'ACTIVE or 'INACTIVE'</p>",
            "enum": [
                "NOT_ACTIVATED",
                "ACTIVE",
                "INACTIVE"
            ]
        },
        "ResourceId": {
            "type": "string"
        },
        "ResourceNotFoundException": {
            "type": "structure",
            "required": [
                "message",
                "resourceId"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "resourceId": {
                    "shape": "ResourceId"
                }
            },
            "error": {
                "httpStatusCode": 404,
                "senderFault": true
            },
            "exception": true
        },
        "ServiceCode": {
            "type": "string"
        },
        "String": {
            "type": "string"
        },
        "ThrottlingException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "ErrorMessage"
                },
                "serviceCode": {
                    "shape": "ServiceCode"
                },
                "retryAfterSeconds": {
                    "shape": "Integer",
                    "location": "header",
                    "locationName": "Retry-After"
                }
            },
            "error": {
                "httpStatusCode": 429,
                "senderFault": true
            },
            "exception": true,
            "retryable": {
                "throttling": false
            }
        },
        "UnhealthyServiceException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "message": {
                    "shape": "String"
                }
            },
            "documentation": "<p>Service is currently unhealthy</p>",
            "error": {
                "httpStatusCode": 500
            },
            "exception": true,
            "fault": true
        },
        "UpdatedTime": {
            "type": "timestamp",
            "documentation": "<p>Time that resource was updated.</p>",
            "timestampFormat": "iso8601"
        },
        "ValidationException": {
            "type": "structure",
            "required": [
                "message"
            ],
            "members": {
                "reason": {
                    "shape": "ValidationExceptionReason"
                },
                "message": {
                    "shape": "ErrorMessage"
                },
                "fieldList": {
                    "shape": "ValidationExceptionFieldList"
                }
            },
            "error": {
                "httpStatusCode": 400,
                "senderFault": true
            },
            "exception": true
        },
        "ValidationExceptionField": {
            "type": "structure",
            "required": [
                "name",
                "message"
            ],
            "members": {
                "name": {
                    "shape": "String"
                },
                "message": {
                    "shape": "String"
                }
            }
        },
        "ValidationExceptionFieldList": {
            "type": "list",
            "member": {
                "shape": "ValidationExceptionField"
            }
        },
        "ValidationExceptionReason": {
            "type": "string",
            "enum": [
                "fieldValidationFailed",
                "other"
            ]
        },
        "AppVersionString": {
            "type": "string",
            "documentation": "<p>App version</p>",
            "min": 1
        }
    }
}