{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "controlcatalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Control Catalog",
        "serviceId": "ControlCatalog",
        "signatureVersion": "v4",
        "signingName": "controlcatalog",
        "uid": "controlcatalog-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "ListCommonControls": {
            "http": {
                "requestUri": "/common-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CommonControlFilter": {
                        "type": "structure",
                        "members": {
                            "Objectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommonControls"
                ],
                "members": {
                    "CommonControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name",
                                "Objective"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Objective": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {},
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Domains"
                ],
                "members": {
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListObjectives": {
            "http": {
                "requestUri": "/objectives",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ObjectiveFilter": {
                        "type": "structure",
                        "members": {
                            "Domains": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Objectives"
                ],
                "members": {
                    "NextToken": {},
                    "Objectives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        }
    }
}