{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "controlcatalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Control Catalog",
        "serviceId": "ControlCatalog",
        "signatureVersion": "v4",
        "signingName": "controlcatalog",
        "uid": "controlcatalog-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WOYW4XNSQNHFX2LYATSS53YP54NSM7VOUNB4BQDD626HRO6JHY2Q/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIK5HLOSSHQL5ZWPS6C5HF7LQQIJRZDM4KLZGLZTU5AJOSYGLOWQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
        ]
    },
    "operations": {
        "ListCommonControls": {
            "http": {
                "requestUri": "/common-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CommonControlFilter": {
                        "type": "structure",
                        "members": {
                            "Objectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommonControls"
                ],
                "members": {
                    "CommonControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name",
                                "Objective"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Objective": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {},
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOYW4XNSQNHFX2LYATSS53YP54NSM7VOUNB4BQDD626HRO6JHY2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIK5HLOSSHQL5ZWPS6C5HF7LQQIJRZDM4KLZGLZTU5AJOSYGLOWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Domains"
                ],
                "members": {
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOYW4XNSQNHFX2LYATSS53YP54NSM7VOUNB4BQDD626HRO6JHY2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIK5HLOSSHQL5ZWPS6C5HF7LQQIJRZDM4KLZGLZTU5AJOSYGLOWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListObjectives": {
            "http": {
                "requestUri": "/objectives",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ObjectiveFilter": {
                        "type": "structure",
                        "members": {
                            "Domains": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Objectives"
                ],
                "members": {
                    "NextToken": {},
                    "Objectives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOYW4XNSQNHFX2LYATSS53YP54NSM7VOUNB4BQDD626HRO6JHY2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIK5HLOSSHQL5ZWPS6C5HF7LQQIJRZDM4KLZGLZTU5AJOSYGLOWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetControl": {
            "http": {
                "requestUri": "/get-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ControlArn"
                ],
                "members": {
                    "ControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ControlDetails"
                ],
                "members": {
                    "ControlDetails": {
                        "type": "structure",
                        "required": [
                            "Arn",
                            "Name",
                            "Description",
                            "Behavior",
                            "RegionConfiguration",
                            "CreateTime",
                            "LastUpdateTime"
                        ],
                        "members": {
                            "Arn": {},
                            "Name": {},
                            "Description": {},
                            "Behavior": {},
                            "RegionConfiguration": {
                                "type": "structure",
                                "required": [
                                    "Scope"
                                ],
                                "members": {
                                    "Scope": {},
                                    "DeployableRegions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "Name": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "LastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOYW4XNSQNHFX2LYATSS53YP54NSM7VOUNB4BQDD626HRO6JHY2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIK5HLOSSHQL5ZWPS6C5HF7LQQIJRZDM4KLZGLZTU5AJOSYGLOWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListControls": {
            "http": {
                "requestUri": "/list-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Controls"
                ],
                "members": {
                    "Controls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Name",
                                "Description",
                                "CreateTime",
                                "LastUpdateTime"
                            ],
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "Description": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WOYW4XNSQNHFX2LYATSS53YP54NSM7VOUNB4BQDD626HRO6JHY2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIK5HLOSSHQL5ZWPS6C5HF7LQQIJRZDM4KLZGLZTU5AJOSYGLOWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA6VG7O2YMAUSU4KQOS36KJQRL2Y267N6XPLQ55Q54BBN6TEFW2Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        }
    }
}