{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-26",
        "endpointPrefix": "controltower",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Control Tower",
        "serviceId": "ControlTower",
        "signatureVersion": "v4",
        "signingName": "controltower",
        "targetPrefix": "AWSBlackbeardService",
        "uid": "controltower-2018-11-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
        ]
    },
    "operations": {
        "CreateBlueprintVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Type",
                    "DeploymentOrder",
                    "DeploymentType",
                    "Version",
                    "RegionalPreference",
                    "OnAccountType",
                    "Description",
                    "SourceBucket"
                ],
                "members": {
                    "Id": {},
                    "Type": {},
                    "DeploymentOrder": {
                        "type": "integer"
                    },
                    "DeploymentType": {},
                    "Version": {
                        "type": "integer"
                    },
                    "RegionalPreference": {},
                    "OnAccountType": {
                        "type": "list",
                        "member": {}
                    },
                    "Description": {},
                    "SourceBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "CreateGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DisplayName",
                    "Type",
                    "Behavior",
                    "RegionalPreference",
                    "SourceBucket",
                    "Version"
                ],
                "members": {
                    "Name": {},
                    "DisplayName": {},
                    "Type": {},
                    "Category": {},
                    "Behavior": {},
                    "Description": {},
                    "RegionalPreference": {},
                    "DeploymentType": {},
                    "SourceBucket": {},
                    "Location": {},
                    "IntentLocation": {},
                    "LambdaLocation": {},
                    "SCPSid": {},
                    "Version": {},
                    "EnabledOnOU": {},
                    "Visibility": {},
                    "ReleaseDate": {
                        "type": "timestamp"
                    },
                    "ControlOwner": {},
                    "DeploymentOwner": {},
                    "Severity": {},
                    "Relationships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Version": {},
                                "RelationshipType": {}
                            }
                        }
                    },
                    "Resources": {
                        "type": "list",
                        "member": {}
                    },
                    "GuardrailVersionMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "CreateManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEmail",
                    "AccountName",
                    "ParentOrganizationalUnitName",
                    "IdempotencyToken"
                ],
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "AccountName": {},
                    "ParentOrganizationalUnitName": {},
                    "SSOUserEmail": {},
                    "SSOUserFirstName": {},
                    "SSOUserLastName": {},
                    "ProvisionedProductId": {},
                    "IdempotencyToken": {},
                    "NetworkConfiguration": {
                        "shape": "S1f"
                    },
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DeleteAccountData": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEventMessage"
                ],
                "members": {
                    "AccountEventMessage": {
                        "type": "structure",
                        "required": [
                            "accountId",
                            "eventId",
                            "publishTimestamp",
                            "reasonCode",
                            "topicName"
                        ],
                        "members": {
                            "accountId": {},
                            "eventId": {},
                            "publishTimestamp": {
                                "type": "timestamp"
                            },
                            "reasonCode": {},
                            "topicName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DeleteLandingZone": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DeregisterManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DeregisterOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlTowerManagedAccount": {
                        "type": "boolean"
                    },
                    "AccountStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeAccountFactoryConfig": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountFactoryConfig": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeCoreService": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountType"
                ],
                "members": {
                    "AccountType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "StackSetARN": {},
                    "CoreResourceMappings": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName"
                ],
                "members": {
                    "GuardrailName": {},
                    "ControlIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Behavior": {},
                    "Type": {},
                    "Category": {},
                    "Description": {},
                    "EnabledSummary": {},
                    "GuardrailTemplate": {},
                    "ServiceControlPolicy": {},
                    "GuardrailTemplateBlueprint": {},
                    "ServiceControlPolicyBlueprint": {},
                    "LatestVersion": {},
                    "TargetOuType": {},
                    "UniqueResourceIdentifier": {},
                    "ImplementationType": {},
                    "Artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Content": {}
                            }
                        }
                    },
                    "Aliases": {
                        "type": "list",
                        "member": {}
                    },
                    "SupportedRegions": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeGuardrailForTarget": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName",
                    "TargetId"
                ],
                "members": {
                    "GuardrailName": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GuardrailDetails": {
                        "type": "structure",
                        "members": {
                            "Guardrail": {
                                "shape": "S3i"
                            },
                            "State": {},
                            "StateMessage": {},
                            "Version": {},
                            "Regions": {
                                "shape": "S1o"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeLandingZoneConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationOutput": {
                        "type": "structure",
                        "members": {
                            "RegionConfigurationList": {
                                "shape": "S3p"
                            },
                            "OrganizationStructureOutput": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "OrganizationalUnitName": {},
                                        "OrganizationalUnitType": {},
                                        "OrganizationalUnitId": {},
                                        "AccountsOutput": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "AccountName": {},
                                                    "AccountEmail": {},
                                                    "AccountType": {},
                                                    "AccountId": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "KmsKeyArn": {},
                            "DenyUngovernedRegions": {},
                            "CloudTrailType": {},
                            "LoggingConfiguration": {
                                "shape": "S41"
                            },
                            "AccessConfiguration": {
                                "type": "structure",
                                "members": {
                                    "IdentityCenterStatus": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeManagedAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "CreateManagedAccountExecutionId": {},
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedAccount": {
                        "shape": "S48"
                    },
                    "SSOUserPortal": {},
                    "RegionVPCCIDRMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "VPCCIDR": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeManagedOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "MaxChildrenOrganizationalUnitResults": {
                        "type": "integer"
                    },
                    "ChildrenOrganizationalUnitNextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnitId": {},
                    "OrganizationalUnitName": {},
                    "OrganizationalUnitType": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "ChildrenOrganizationalUnits": {
                        "shape": "S4q"
                    },
                    "ChildrenOrganizationalUnitNextToken": {},
                    "OrganizationalUnitStatus": {},
                    "LastOperationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeRegisterOrganizationalUnitOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {},
                    "PercentageComplete": {
                        "type": "integer"
                    },
                    "Status": {},
                    "ErrorMessage": {},
                    "TotalSteps": {
                        "type": "integer"
                    },
                    "CurrentStep": {
                        "type": "integer"
                    },
                    "CurrentStepName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DescribeSingleSignOn": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "UserPortalUrl": {},
                    "PermissionSetList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PermissionSetId": {},
                                "PermissionSetName": {},
                                "PermissionSetDescription": {},
                                "ManagedPolicyArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DisableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "EnableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetAccountInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountEmail": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountEmail": {},
                    "AccountWithEmailExists": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetAvailableUpdates": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "BaselineUpdateAvailable": {
                        "type": "boolean"
                    },
                    "LandingZoneUpdateAvailable": {
                        "type": "boolean"
                    },
                    "GuardrailUpdateAvailable": {
                        "type": "boolean"
                    },
                    "UserLandingZoneVersion": {},
                    "ServiceLandingZoneVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetGuardrailComplianceStatus": {
            "input": {
                "type": "structure",
                "members": {
                    "GuardrailName": {},
                    "AccountId": {},
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComplianceStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
[...]
