{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "controlcatalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Control Catalog",
        "serviceId": "ControlCatalog",
        "signatureVersion": "v4",
        "signingName": "controlcatalog",
        "uid": "controlcatalog-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
        ]
    },
    "operations": {
        "ListCommonControls": {
            "http": {
                "requestUri": "/common-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CommonControlFilter": {
                        "type": "structure",
                        "members": {
                            "Objectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommonControls"
                ],
                "members": {
                    "CommonControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name",
                                "Objective"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Objective": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {},
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Domains"
                ],
                "members": {
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "ListObjectives": {
            "http": {
                "requestUri": "/objectives",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ObjectiveFilter": {
                        "type": "structure",
                        "members": {
                            "Domains": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Objectives"
                ],
                "members": {
                    "NextToken": {},
                    "Objectives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetControl": {
            "http": {
                "requestUri": "/get-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ControlArn"
                ],
                "members": {
                    "ControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ControlDetails"
                ],
                "members": {
                    "ControlDetails": {
                        "type": "structure",
                        "required": [
                            "Arn",
                            "Name",
                            "Description",
                            "Behavior",
                            "RegionConfiguration",
                            "CreateTime",
                            "LastUpdateTime"
                        ],
                        "members": {
                            "Arn": {},
                            "Name": {},
                            "Description": {},
                            "Behavior": {},
                            "RegionConfiguration": {
                                "type": "structure",
                                "required": [
                                    "Scope"
                                ],
                                "members": {
                                    "Scope": {},
                                    "DeployableRegions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "Name": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "LastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "ListControls": {
            "http": {
                "requestUri": "/list-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "Filter": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "Behaviors": {
                                "type": "list",
                                "member": {},
                                "internalonly": true
                            },
                            "Implementation": {
                                "type": "structure",
                                "members": {
                                    "Types": {
                                        "type": "list",
                                        "member": {},
                                        "internalonly": true
                                    },
                                    "Identifiers": {
                                        "type": "list",
                                        "member": {},
                                        "internalonly": true
                                    }
                                },
                                "internalonly": true
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Controls"
                ],
                "members": {
                    "Controls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Name",
                                "Description",
                                "CreateTime",
                                "LastUpdateTime"
                            ],
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "Description": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "ListControlMappings": {
            "http": {
                "requestUri": "/list-control-mappings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "FrameworkFilterList": {
                                "type": "list",
                                "member": {},
                                "internalonly": true
                            },
                            "ControlArnFilterList": {
                                "type": "list",
                                "member": {},
                                "internalonly": true
                            },
                            "CommonControlArnFilterList": {
                                "type": "list",
                                "member": {},
                                "internalonly": true
                            },
                            "MappingTypeFilterList": {
                                "type": "list",
                                "member": {
                                    "shape": "S17"
                                },
                                "internalonly": true
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "ControlMappings"
                ],
                "members": {
                    "ControlMappings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "ControlArn",
                                "MappingType",
                                "Mapping"
                            ],
                            "members": {
                                "ControlArn": {},
                                "MappingType": {
                                    "shape": "S17"
                                },
                                "Mapping": {
                                    "type": "structure",
                                    "members": {
                                        "FrameworkMappingDetails": {
                                            "type": "structure",
                                            "required": [
                                                "Framework",
                                                "PUCK"
                                            ],
                                            "members": {
                                                "Framework": {},
                                                "PUCK": {}
                                            },
                                            "internalonly": true
                                        },
                                        "CommonControlMappingDetails": {
                                            "type": "structure",
                                            "required": [
                                                "CommonControlArn"
                                            ],
                                            "members": {
                                                "CommonControlArn": {}
                                            },
                                            "internalonly": true
                                        }
                                    },
                                    "internalonly": true,
                                    "union": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "NextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJHZKCGZVKKWMEURNZ6S2SHNR5FMQ235SIG3QWWABVXG6HNFMXKA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRVSNZSMU27RHW72VVK5PJJQZD2LBRYQQJEVMJY27CICHNMMA7GQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5VD7MOO3LMF44YHP5G2J6XCPMDJZNLBZEJWYYIRUMEQ3MXIIIF7A/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetMitigation": {
            "http": {
                "requestUri": "/get-mitigation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "MitigationArn"
                ],
                "members": {
                    "MitigationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "GovernedResource": {},
                    "ConfigurationObjective": {},
                    "Status": {},
                    "CreateTime": {
                        "type": "timestamp"
                    },
                    "LastUpdateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js"
            ]
        },
        "GetThreat": {
            "http": {
                "requestUri": "/get-threat",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ThreatArn"
                ],
                "members": {
                    "ThreatArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Arn",
                    "ThreatTypes",
                    "Source",
                    "Prerequisites",
                    "Action",
                    "ServiceName",
                    "CreateTime",
                    "LastUpdateTime"
                ],
                "members": {
                    "Arn": {},
                    "ThreatTypes": {
                        "shape": "Ss"
                    },
                    "Source": {},
                    "Prerequisites": {
                        "type": "list",
                        "member": {}
                    },
                    "Action": {},
                    "ServiceName": {},
                    "Mitigations": {
                        "type": "list",
                        "member": {}
                    },
                    "Status": {},
                    "CreateTime": {
                        "type": "timestamp"
                    },
                    "LastUpdateTime": {
                        "type": "timestamp"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js"
            ]
        },
        "ListMitigations": {
            "http": {
                "requestUri": "/list-mitigations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "GovernedServices": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Mitigations"
                ],
                "members": {
                    "Mitigations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "ConfigurationObjective": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js"
            ]
        },
        "ListThreats": {
            "http": {
                "requestUri": "/list-threats",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filter": {
                        "type": "structure",
                        "members": {
                            "ServiceName": {},
                            "MitigationArn": {}
                        }
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Threats"
                ],
                "members": {
                    "Threats": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Arn": {},
                                "ServiceName": {},
                                "ThreatTypes": {
                                    "shape": "Ss"
                                },
                                "CreateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27KFFVCUG6SPA2F7MBVALT25HZUJ4DKNBHBF3CTAEKF2I5EMMJTQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQTH7YWSAE6VJ2ZK6SUC7PZNXD424R6BKDGEZFPRZYCKSUPPRWPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WABOGX74Y5RSOGKZQBBVVLJ7Z6AWKUIJKR2VHIISZJ4JMGYY7DQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sa": {
            "type": "structure",
            "required": [
                "Type"
            ],
            "members": {
                "Type": {}
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "S4": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "string",
            "internalonly": true
        },
        "Su": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sj": {
            "type": "list",
            "member": {
                "shape": "Sk"
            },
            "internalonly": true
        },
        "Sk": {
            "type": "string",
            "internalonly": true
        },
        "Sw": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "S17": {
            "type": "string",
            "internalonly": true
        },
        "S13": {
            "type": "string",
            "internalonly": true
        },
        "Ss": {
            "type": "list",
            "member": {}
        },
        "S1a": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "S1b": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1p": {
            "type": "string",
            "internalonly": true
        },
        "Sr": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Service",
                    "Action",
                    "Parameters"
                ],
                "members": {
                    "Service": {},
                    "Action": {},
                    "Parameters": {
                        "type": "list",
                        "member": {}
                    }
                }
            }
        },
        "Sz": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {}
        },
        "S1f": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "S1n": {
            "type": "list",
            "member": {}
        },
        "S1t": {
            "type": "string",
            "internalonly": true
        },
        "Sy": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "S15": {
            "type": "list",
            "member": {}
        }
    }
}