{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "controlcatalog",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Control Catalog",
        "serviceId": "ControlCatalog",
        "signatureVersion": "v4",
        "signingName": "controlcatalog",
        "uid": "controlcatalog-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGY7AFZ6GROYXACIHV5UBEHT5JXFSOB2PMAYQ5GFMZOYSRBJKWQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XF5VPZZZH22VOHN3ZV4GRRKF7XWDR3NETVM7IA5CLW5L2KR7OIQA/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBBL5DZA2F7AJGIAWV65LQIGNK7CSDGCTOV6AE4WU6LS7U2HKUPA/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IBTIMYLADMGP66PC4AV5KYMT2LO3P5365IUZHF7LHPXALP7UQKIQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL67BPTHNTHSFYNJMCPWDOBMHH7K2N2MBXIGSC4NTLF6WGO53MMQ/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "ListCommonControls": {
            "http": {
                "requestUri": "/common-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "CommonControlFilter": {
                        "type": "structure",
                        "members": {
                            "Objectives": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CommonControls"
                ],
                "members": {
                    "CommonControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name",
                                "Objective"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Objective": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {},
                                        "Name": {}
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGY7AFZ6GROYXACIHV5UBEHT5JXFSOB2PMAYQ5GFMZOYSRBJKWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5VPZZZH22VOHN3ZV4GRRKF7XWDR3NETVM7IA5CLW5L2KR7OIQA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBBL5DZA2F7AJGIAWV65LQIGNK7CSDGCTOV6AE4WU6LS7U2HKUPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBTIMYLADMGP66PC4AV5KYMT2LO3P5365IUZHF7LHPXALP7UQKIQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL67BPTHNTHSFYNJMCPWDOBMHH7K2N2MBXIGSC4NTLF6WGO53MMQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListDomains": {
            "http": {
                "requestUri": "/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Domains"
                ],
                "members": {
                    "Domains": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGY7AFZ6GROYXACIHV5UBEHT5JXFSOB2PMAYQ5GFMZOYSRBJKWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5VPZZZH22VOHN3ZV4GRRKF7XWDR3NETVM7IA5CLW5L2KR7OIQA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBBL5DZA2F7AJGIAWV65LQIGNK7CSDGCTOV6AE4WU6LS7U2HKUPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBTIMYLADMGP66PC4AV5KYMT2LO3P5365IUZHF7LHPXALP7UQKIQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL67BPTHNTHSFYNJMCPWDOBMHH7K2N2MBXIGSC4NTLF6WGO53MMQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListObjectives": {
            "http": {
                "requestUri": "/objectives",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ObjectiveFilter": {
                        "type": "structure",
                        "members": {
                            "Domains": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Arn": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Objectives"
                ],
                "members": {
                    "NextToken": {},
                    "Objectives": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreateTime",
                                "Description",
                                "Domain",
                                "LastUpdateTime",
                                "Name"
                            ],
                            "members": {
                                "Arn": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "Domain": {
                                    "shape": "Se"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                },
                                "Name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGY7AFZ6GROYXACIHV5UBEHT5JXFSOB2PMAYQ5GFMZOYSRBJKWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5VPZZZH22VOHN3ZV4GRRKF7XWDR3NETVM7IA5CLW5L2KR7OIQA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBBL5DZA2F7AJGIAWV65LQIGNK7CSDGCTOV6AE4WU6LS7U2HKUPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBTIMYLADMGP66PC4AV5KYMT2LO3P5365IUZHF7LHPXALP7UQKIQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL67BPTHNTHSFYNJMCPWDOBMHH7K2N2MBXIGSC4NTLF6WGO53MMQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetControl": {
            "http": {
                "requestUri": "/get-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ControlArn"
                ],
                "members": {
                    "ControlArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ControlDetails"
                ],
                "members": {
                    "ControlDetails": {
                        "type": "structure",
                        "required": [
                            "Arn",
                            "Name",
                            "Description",
                            "Behavior",
                            "RegionConfiguration",
                            "CreateTime",
                            "LastUpdateTime"
                        ],
                        "members": {
                            "Arn": {},
                            "Name": {},
                            "Description": {},
                            "Behavior": {},
                            "RegionConfiguration": {
                                "type": "structure",
                                "required": [
                                    "Scope"
                                ],
                                "members": {
                                    "Scope": {},
                                    "DeployableRegions": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "Name": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "CreateTime": {
                                "type": "timestamp"
                            },
                            "LastUpdateTime": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGY7AFZ6GROYXACIHV5UBEHT5JXFSOB2PMAYQ5GFMZOYSRBJKWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5VPZZZH22VOHN3ZV4GRRKF7XWDR3NETVM7IA5CLW5L2KR7OIQA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBBL5DZA2F7AJGIAWV65LQIGNK7CSDGCTOV6AE4WU6LS7U2HKUPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBTIMYLADMGP66PC4AV5KYMT2LO3P5365IUZHF7LHPXALP7UQKIQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL67BPTHNTHSFYNJMCPWDOBMHH7K2N2MBXIGSC4NTLF6WGO53MMQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js"
            ]
        },
        "ListControls": {
            "http": {
                "requestUri": "/list-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Controls"
                ],
                "members": {
                    "Controls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "Name",
                                "Description",
                                "CreateTime",
                                "LastUpdateTime"
                            ],
                            "members": {
                                "Arn": {},
                                "Name": {},
                                "Description": {},
                                "CreateTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZGY7AFZ6GROYXACIHV5UBEHT5JXFSOB2PMAYQ5GFMZOYSRBJKWQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XF5VPZZZH22VOHN3ZV4GRRKF7XWDR3NETVM7IA5CLW5L2KR7OIQA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBBL5DZA2F7AJGIAWV65LQIGNK7CSDGCTOV6AE4WU6LS7U2HKUPA/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBTIMYLADMGP66PC4AV5KYMT2LO3P5365IUZHF7LHPXALP7UQKIQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL67BPTHNTHSFYNJMCPWDOBMHH7K2N2MBXIGSC4NTLF6WGO53MMQ/vendor.awsui.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6F433DHK7YR5HPYZNCVKO7TG65JA2LVVJR6J6PPHGI6V7S4KEC4Q/vendor.awsui.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sn": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sl": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        },
        "Sp": {
            "type": "structure",
            "members": {
                "Arn": {},
                "Name": {}
            }
        }
    }
}