{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-26",
        "endpointPrefix": "controltower",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Control Tower",
        "serviceId": "ControlTower",
        "signatureVersion": "v4",
        "signingName": "controltower",
        "targetPrefix": "AWSBlackbeardService",
        "uid": "controltower-2018-11-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
        ]
    },
    "operations": {
        "CreateBlueprintVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Type",
                    "DeploymentOrder",
                    "DeploymentType",
                    "Version",
                    "RegionalPreference",
                    "OnAccountType",
                    "Description",
                    "SourceBucket"
                ],
                "members": {
                    "Id": {},
                    "Type": {},
                    "DeploymentOrder": {
                        "type": "integer"
                    },
                    "DeploymentType": {},
                    "Version": {
                        "type": "integer"
                    },
                    "RegionalPreference": {},
                    "OnAccountType": {
                        "type": "list",
                        "member": {}
                    },
                    "Description": {},
                    "SourceBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "CreateGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DisplayName",
                    "Type",
                    "Behavior",
                    "RegionalPreference",
                    "SourceBucket",
                    "Version"
                ],
                "members": {
                    "Name": {},
                    "DisplayName": {},
                    "Type": {},
                    "Category": {},
                    "Behavior": {},
                    "Description": {},
                    "RegionalPreference": {},
                    "DeploymentType": {},
                    "SourceBucket": {},
                    "Location": {},
                    "IntentLocation": {},
                    "LambdaLocation": {},
                    "SCPSid": {},
                    "Version": {},
                    "EnabledOnOU": {},
                    "Visibility": {},
                    "ReleaseDate": {
                        "type": "timestamp"
                    },
                    "ControlOwner": {},
                    "DeploymentOwner": {},
                    "Severity": {},
                    "Relationships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Version": {},
                                "RelationshipType": {}
                            }
                        }
                    },
                    "Resources": {
                        "type": "list",
                        "member": {}
                    },
                    "GuardrailVersionMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "CreateManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEmail",
                    "AccountName",
                    "ParentOrganizationalUnitName",
                    "IdempotencyToken"
                ],
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "AccountName": {},
                    "ParentOrganizationalUnitName": {},
                    "SSOUserEmail": {},
                    "SSOUserFirstName": {},
                    "SSOUserLastName": {},
                    "ProvisionedProductId": {},
                    "IdempotencyToken": {},
                    "NetworkConfiguration": {
                        "shape": "S1f"
                    },
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DeleteAccountData": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEventMessage"
                ],
                "members": {
                    "AccountEventMessage": {
                        "type": "structure",
                        "required": [
                            "accountId",
                            "eventId",
                            "publishTimestamp",
                            "reasonCode",
                            "topicName"
                        ],
                        "members": {
                            "accountId": {},
                            "eventId": {},
                            "publishTimestamp": {
                                "type": "timestamp"
                            },
                            "reasonCode": {},
                            "topicName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DeleteLandingZone": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DeregisterManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DeregisterOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlTowerManagedAccount": {
                        "type": "boolean"
                    },
                    "AccountStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeAccountFactoryConfig": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountFactoryConfig": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeCoreService": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountType"
                ],
                "members": {
                    "AccountType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "StackSetARN": {},
                    "CoreResourceMappings": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName"
                ],
                "members": {
                    "GuardrailName": {},
                    "ControlIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Behavior": {},
                    "Type": {},
                    "Category": {},
                    "Description": {},
                    "EnabledSummary": {},
                    "GuardrailTemplate": {},
                    "ServiceControlPolicy": {},
                    "GuardrailTemplateBlueprint": {},
                    "ServiceControlPolicyBlueprint": {},
                    "LatestVersion": {},
                    "TargetOuType": {},
                    "UniqueResourceIdentifier": {},
                    "ImplementationType": {},
                    "Artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Content": {}
                            }
                        }
                    },
                    "Aliases": {
                        "type": "list",
                        "member": {}
                    },
                    "SupportedRegions": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeGuardrailForTarget": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName",
                    "TargetId"
                ],
                "members": {
                    "GuardrailName": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GuardrailDetails": {
                        "type": "structure",
                        "members": {
                            "Guardrail": {
                                "shape": "S3i"
                            },
                            "State": {},
                            "StateMessage": {},
                            "Version": {},
                            "Regions": {
                                "shape": "S1o"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeLandingZoneConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationOutput": {
                        "type": "structure",
                        "members": {
                            "RegionConfigurationList": {
                                "shape": "S3p"
                            },
                            "OrganizationStructureOutput": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "OrganizationalUnitName": {},
                                        "OrganizationalUnitType": {},
                                        "OrganizationalUnitId": {},
                                        "AccountsOutput": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "AccountName": {},
                                                    "AccountEmail": {},
                                                    "AccountType": {},
                                                    "AccountId": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "KmsKeyArn": {},
                            "DenyUngovernedRegions": {},
                            "CloudTrailType": {},
                            "LoggingConfiguration": {
                                "shape": "S41"
                            },
                            "AccessConfiguration": {
                                "type": "structure",
                                "members": {
                                    "IdentityCenterStatus": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeManagedAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "CreateManagedAccountExecutionId": {},
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedAccount": {
                        "shape": "S48"
                    },
                    "SSOUserPortal": {},
                    "RegionVPCCIDRMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "VPCCIDR": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeManagedOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "MaxChildrenOrganizationalUnitResults": {
                        "type": "integer"
                    },
                    "ChildrenOrganizationalUnitNextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnitId": {},
                    "OrganizationalUnitName": {},
                    "OrganizationalUnitType": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "ChildrenOrganizationalUnits": {
                        "shape": "S4q"
                    },
                    "ChildrenOrganizationalUnitNextToken": {},
                    "OrganizationalUnitStatus": {},
                    "LastOperationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeRegisterOrganizationalUnitOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {},
                    "PercentageComplete": {
                        "type": "integer"
                    },
                    "Status": {},
                    "ErrorMessage": {},
                    "TotalSteps": {
                        "type": "integer"
                    },
                    "CurrentStep": {
                        "type": "integer"
                    },
                    "CurrentStepName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DescribeSingleSignOn": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "UserPortalUrl": {},
                    "PermissionSetList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PermissionSetId": {},
                                "PermissionSetName": {},
                                "PermissionSetDescription": {},
                                "ManagedPolicyArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "DisableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "EnableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "GetAccountInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountEmail": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountEmail": {},
                    "AccountWithEmailExists": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "GetAvailableUpdates": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "BaselineUpdateAvailable": {
                        "type": "boolean"
                    },
                    "LandingZoneUpdateAvailable": {
                        "type": "boolean"
                    },
                    "GuardrailUpdateAvailable": {
                        "type": "boolean"
                    },
                    "UserLandingZoneVersion": {},
                    "ServiceLandingZoneVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "GetGuardrailComplianceStatus": {
            "input": {
                "type": "structure",
                "members": {
                    "GuardrailName": {},
                    "AccountId": {},
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComplianceStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BEWGKAQHIJ3W5H6YLNSC7AEIBTH4ZNMPLYF6XP6R6IGZNT2DQFSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RKPCACHJKH7B544ZSTP6MXAHCEBTAGY74YRB3WQZCN3B43FVK2A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K5UO4R7NQ42222X4T2TKAE3DBSZOGYBTSM66QKQM5MGAKAH326Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QKB7GSKANFK5BLCK62AKOMKJVGSDGYJE4QMYMCIHGNYUAVPC5CZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6X5LWJ5KKPPK7TUPGKS6PID5KW7SKM2QFXT2BKU6JCPRRBXRKUFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XXTXYDUW6CA2UP22ACIWT4HD7RDSOPZ3G6CP4JWJNWUJELEVZPMA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H32JCUZNFL2XPX63UK5VBR6BDHKSATLV6A4A5KPDM7XD6KYV6HKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXFVUGAX57DJRGGBDXWJ5TBVFU6PJGAMVFKN6SCRWHTTFYDN4EDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3BJVFB6R7J4NHVDFU3WDLZJVO34B2DUJMTWWIM4HUK47UENK25Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFWTXVFUKLSTOJSU3I5KVWSPAAQCQNZILWZKLYOVL2OORGRDJTNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OSP7QKNHVPXZFO6TRXMRCMPGI6NJO7RHP37NWRCMCZX43664N72A/vendors.min.js"
            ]
        },
        "GetLandingZoneDriftStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DriftDetails": {
                        "shape": "S5s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF3HKSAAJYJL73GKNX4UE73E45TVKBCFTXMBI4GIQCPYOEGAPMOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KKGLWGLSHP4FO2VMYWXUGJEK25WPNH6AXXX6NGMRJZLLSBV5F25A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5HLOORQVUP5KZBFGP642KEBTY46ZGDLKJR2R3NTABVUEBDYS6BQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/666NPL3K5DO3KHOYLHJ55OGR2Y5DFX6FBSEUD2MYBAXA6DSUITEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7OO2GJH7FYGWBXFCIY73P7ITGV2UDZM6PWX55L6ZDKTHBQM7HLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5XSBKYTFLLD4GSL5IBHFXCVSQHLEFGXPEFSUWH3VISBXSZD7VXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIEILK6ARTHNT4I74HNEG7ENEWNKCYBHRJCIO74ZFTUL3F43QWVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7FUYVDVBPC3ELOLNWWQGLCWYNKI7OO74QIBAJ2EGOLJFMDHJOCQ/vendors.min.js",
[...]
