{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-26",
        "endpointPrefix": "controltower",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Control Tower",
        "serviceId": "ControlTower",
        "signatureVersion": "v4",
        "signingName": "controltower",
        "targetPrefix": "AWSBlackbeardService",
        "uid": "controltower-2018-11-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
        ]
    },
    "operations": {
        "CreateBlueprintVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Type",
                    "DeploymentOrder",
                    "DeploymentType",
                    "Version",
                    "RegionalPreference",
                    "OnAccountType",
                    "Description",
                    "SourceBucket"
                ],
                "members": {
                    "Id": {},
                    "Type": {},
                    "DeploymentOrder": {
                        "type": "integer"
                    },
                    "DeploymentType": {},
                    "Version": {
                        "type": "integer"
                    },
                    "RegionalPreference": {},
                    "OnAccountType": {
                        "type": "list",
                        "member": {}
                    },
                    "Description": {},
                    "SourceBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "CreateGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DisplayName",
                    "Type",
                    "Behavior",
                    "RegionalPreference",
                    "SourceBucket",
                    "Version"
                ],
                "members": {
                    "Name": {},
                    "DisplayName": {},
                    "Type": {},
                    "Category": {},
                    "Behavior": {},
                    "Description": {},
                    "RegionalPreference": {},
                    "DeploymentType": {},
                    "SourceBucket": {},
                    "Location": {},
                    "IntentLocation": {},
                    "LambdaLocation": {},
                    "SCPSid": {},
                    "Version": {},
                    "EnabledOnOU": {},
                    "Visibility": {},
                    "ReleaseDate": {
                        "type": "timestamp"
                    },
                    "ControlOwner": {},
                    "DeploymentOwner": {},
                    "Severity": {},
                    "Relationships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Version": {},
                                "RelationshipType": {}
                            }
                        }
                    },
                    "Resources": {
                        "type": "list",
                        "member": {}
                    },
                    "GuardrailVersionMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "CreateManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEmail",
                    "AccountName",
                    "ParentOrganizationalUnitName",
                    "IdempotencyToken"
                ],
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "AccountName": {},
                    "ParentOrganizationalUnitName": {},
                    "SSOUserEmail": {},
                    "SSOUserFirstName": {},
                    "SSOUserLastName": {},
                    "ProvisionedProductId": {},
                    "IdempotencyToken": {},
                    "NetworkConfiguration": {
                        "shape": "S1f"
                    },
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeleteAccountData": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEventMessage"
                ],
                "members": {
                    "AccountEventMessage": {
                        "type": "structure",
                        "required": [
                            "accountId",
                            "eventId",
                            "publishTimestamp",
                            "reasonCode",
                            "topicName"
                        ],
                        "members": {
                            "accountId": {},
                            "eventId": {},
                            "publishTimestamp": {
                                "type": "timestamp"
                            },
                            "reasonCode": {},
                            "topicName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "DeleteLandingZone": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "DeregisterManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DeregisterOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlTowerManagedAccount": {
                        "type": "boolean"
                    },
                    "AccountStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeAccountFactoryConfig": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountFactoryConfig": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeCoreService": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountType"
                ],
                "members": {
                    "AccountType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "StackSetARN": {},
                    "CoreResourceMappings": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName"
                ],
                "members": {
                    "GuardrailName": {},
                    "ControlIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Behavior": {},
                    "Type": {},
                    "Category": {},
                    "Description": {},
                    "EnabledSummary": {},
                    "GuardrailTemplate": {},
                    "ServiceControlPolicy": {},
                    "GuardrailTemplateBlueprint": {},
                    "ServiceControlPolicyBlueprint": {},
                    "LatestVersion": {},
                    "TargetOuType": {},
                    "UniqueResourceIdentifier": {},
                    "ImplementationType": {},
                    "Artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Content": {}
                            }
                        }
                    },
                    "Aliases": {
                        "type": "list",
                        "member": {}
                    },
                    "SupportedRegions": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeGuardrailForTarget": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName",
                    "TargetId"
                ],
                "members": {
                    "GuardrailName": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GuardrailDetails": {
                        "type": "structure",
                        "members": {
                            "Guardrail": {
                                "shape": "S3i"
                            },
                            "State": {},
                            "StateMessage": {},
                            "Version": {},
                            "Regions": {
                                "shape": "S1o"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeLandingZoneConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationOutput": {
                        "type": "structure",
                        "members": {
                            "RegionConfigurationList": {
                                "shape": "S3p"
                            },
                            "OrganizationStructureOutput": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "OrganizationalUnitName": {},
                                        "OrganizationalUnitType": {},
                                        "OrganizationalUnitId": {},
                                        "AccountsOutput": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "AccountName": {},
                                                    "AccountEmail": {},
                                                    "AccountType": {},
                                                    "AccountId": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "KmsKeyArn": {},
                            "DenyUngovernedRegions": {},
                            "CloudTrailType": {},
                            "LoggingConfiguration": {
                                "shape": "S41"
                            },
                            "AccessConfiguration": {
                                "type": "structure",
                                "members": {
                                    "IdentityCenterStatus": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeManagedAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "CreateManagedAccountExecutionId": {},
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedAccount": {
                        "shape": "S48"
                    },
                    "SSOUserPortal": {},
                    "RegionVPCCIDRMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "VPCCIDR": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "DescribeManagedOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "MaxChildrenOrganizationalUnitResults": {
                        "type": "integer"
                    },
                    "ChildrenOrganizationalUnitNextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnitId": {},
                    "OrganizationalUnitName": {},
                    "OrganizationalUnitType": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "ChildrenOrganizationalUnits": {
                        "shape": "S4q"
                    },
                    "ChildrenOrganizationalUnitNextToken": {},
                    "OrganizationalUnitStatus": {},
                    "LastOperationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "DescribeRegisterOrganizationalUnitOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {},
                    "PercentageComplete": {
                        "type": "integer"
                    },
                    "Status": {},
                    "ErrorMessage": {},
                    "TotalSteps": {
                        "type": "integer"
                    },
                    "CurrentStep": {
                        "type": "integer"
                    },
                    "CurrentStepName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "DescribeSingleSignOn": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "UserPortalUrl": {},
                    "PermissionSetList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PermissionSetId": {},
                                "PermissionSetName": {},
                                "PermissionSetDescription": {},
                                "ManagedPolicyArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHHL6UI2XX7EBAUIRY277BGPSYP4LSZXZQUDVVHIRPINITPPKJFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAJ4G7MOGOHUYDVGFHNXLIPQSV76SUCM43A5W4ZCLF7ZOSPGKTUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IAKWGPYHF76UGV5HOU7B4L3GDIHLNBTXJLXSHOKVKPRVZU6NZJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHJDE6PK4NLBCAICCHT6FVG7DRGLK2GY3ABQLNH7W3Q3B7VS6K6Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EDO56MWIOAOTNAYGG2B7PDACLW66A7N6NJEP24KKS4OMKP3HLNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5Q33NKB57BBM7WEKX7GCJAZLEN3VZUZXP3KDTFW5U2SIGUONU7A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD42WTCGDTSS7F2KASEEL455TBUJV7TWNAUBQ6L2KFCYRX6OW76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WFHKGM4JMQZ4BHO2KY24VTCELE7HFQTZYB45G4JCQL67DMG75WQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js"
            ]
        },
        "DisableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHHL6UI2XX7EBAUIRY277BGPSYP4LSZXZQUDVVHIRPINITPPKJFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAJ4G7MOGOHUYDVGFHNXLIPQSV76SUCM43A5W4ZCLF7ZOSPGKTUQ/vendors.min.js"
            ]
        },
        "EnableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHHL6UI2XX7EBAUIRY277BGPSYP4LSZXZQUDVVHIRPINITPPKJFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAJ4G7MOGOHUYDVGFHNXLIPQSV76SUCM43A5W4ZCLF7ZOSPGKTUQ/vendors.min.js"
            ]
        },
        "GetAccountInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountEmail": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountEmail": {},
                    "AccountWithEmailExists": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetAvailableUpdates": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "BaselineUpdateAvailable": {
                        "type": "boolean"
                    },
                    "LandingZoneUpdateAvailable": {
                        "type": "boolean"
                    },
                    "GuardrailUpdateAvailable": {
                        "type": "boolean"
                    },
                    "UserLandingZoneVersion": {},
                    "ServiceLandingZoneVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHHL6UI2XX7EBAUIRY277BGPSYP4LSZXZQUDVVHIRPINITPPKJFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAJ4G7MOGOHUYDVGFHNXLIPQSV76SUCM43A5W4ZCLF7ZOSPGKTUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IAKWGPYHF76UGV5HOU7B4L3GDIHLNBTXJLXSHOKVKPRVZU6NZJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CHJDE6PK4NLBCAICCHT6FVG7DRGLK2GY3ABQLNH7W3Q3B7VS6K6Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6EDO56MWIOAOTNAYGG2B7PDACLW66A7N6NJEP24KKS4OMKP3HLNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5Q33NKB57BBM7WEKX7GCJAZLEN3VZUZXP3KDTFW5U2SIGUONU7A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD42WTCGDTSS7F2KASEEL455TBUJV7TWNAUBQ6L2KFCYRX6OW76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4WFHKGM4JMQZ4BHO2KY24VTCELE7HFQTZYB45G4JCQL67DMG75WQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js"
            ]
        },
        "GetGuardrailComplianceStatus": {
            "input": {
                "type": "structure",
                "members": {
                    "GuardrailName": {},
                    "AccountId": {},
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComplianceStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HCSWSUDRCKFNY7QGFM7EHOZ5K5MFLPFBMHBGAUXJUHF35JHV4ABA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU7KBJ4V5SZHDCDFPUYIMP4VA4MEPNSGY42KZZZVYT3MV2ADCJKA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPFJFSGQVOMDFXVKC6R4D3OSSQ7XXNHK2IIFGUERMBDPD533RFZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVOT3K2SJ7MAN6GMOWRMKEJTK2AOOMZX6OXGFEDVD2CIH4VWRFEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA7WIIWTNZ5XYHNKJVAIX26FVHU3YOTTM3E22RKG4WFTL4JV76Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYJSV6H5RU6NWVK5DN5KMSE5H6S2SKT5I3KFVISFWBFXFJF7EYTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXEJTRNI4EFSFKIMENWFHFZAAM4AP73GZOWEP6TZCYCE45I5ILEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VONNBXACRWV7UNGNQUZF4SBAIXIYZQ6CXU74U4W52KY377O4QIQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67VMVTN73ICUR4S5P6M4XRB5CWTQDX7FJKGDIYGUFZZUXIHAVKUA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGRL73TX5KRZKVGT64CQZOPN6RWUGQCESIR74CTGLJSFCC2ZBOEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKLKGJ7I73KIDMA7QZFKUVJ55HBR4KQONTDTVWFRKBKIJQPHVPVQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OEK7OCHEKFTPFFR3PKWYPBK3MOJLKGPLK4BWFEJDA43LL67VEVAA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJDMDFMXMT6EO6Y73S2Q42YOTPU7Z4UYBVKTLZ3VX5JAOXYBHVRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/67ROVJ7Z2UR334WVWBZZRF5UPLUQN7JZO4RF5GC5CZFLYH7BCGTA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVE2PCVRRSQWIQ6S4UJMT6EBTYWXAL5MFVBB3JKFCU3FDUMBJF2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIJH3NHFH73QSQYY6ZJP72E3IQVL7SYAFDUEKA2LU5Q7XJG3I7ZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WWU3OR6FEHJBURMVYECWMO2TXXZAWW3IQVRUHTXRQOZTMFYX4RXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYLNMCNTV46XAXTYMXV5HIGEMHQD7HXCWZYZHBNMEB3X2Y33DR3A/vendors.min.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKFE75FT62XYFYNW3XGEIVRQQFKET6WGOZMBJHHCKR5ZFD6YCEQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FGFSXX37FG4E3CR4QYXG57Z3EWJMTTL255JTXTE5PB3UQFHDOA4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJ53QNJMFBPX6DA4DSXADIKZM5IANMBB2AIALGV2E4YZRAPSJMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGXMCPA6QC5XDEDVT3VCP6IZAHJ2PJPJE56JSCC3VC7O47HNBBSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LWJB75P2F5RONECIYK2OZXOXDE7Y6P65GMIYYXR3KVLKMB6GNYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32ZLHSFMLR7M2VSFN24OU3T5L5KNULXWLKJFFT7B3UZIZGIZNMWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKYAQAPDCH64KGZHCY3ZOSOGGOIF4CY4K2XLQS2J36VH74UW6W4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKZPS4SAP4GVK5KFDOP7QK5DHHFKZGURWNXDM7VAUSW4QNTJG2CA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2PJHVT5LCHTJ5WAW35UBRL3AEWUNPNPZSRP72MOXBOPDGKE7HDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DRZYZ4UO624W5P5XAYZBHJOUCUVQA22OLPKKND7KNWS2JIBPCMMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I4NVTMPCQG4RIH2IWF2FEEBRVNPQQ3GP3JM4A4KNOOKDJYIPHRBQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIZR2CMIRNS7PZCF3XLEGHDIB3Q6STXJKWJDRKSEANWDNDMX5ZKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VZKUSPYBK7T6R7WVJXXCZLJQWI2SZCVLJLQ5ABC7UC4KIJDIMNA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOI5IMDI55TF5YUCNKRMIBDEIBFY4VZSJ7UVXQLRBLLNVEHBNKPA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWX2KTDZ42M7GZ3SYUOO6GANWDOLEWRU4NQ4JCQN345O3ZV4A7IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIRQQEGDLQ2MWWCXJOIRVJGRFK3ZDCMABQDLGKMSZHG52YUSJVTQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AFJAE37OKYOQPH6I7HH7TRGF4YEPLXCI22VM3X5PIIP2KXSOJAFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DA62YXIBIHULSJWN2JO3KZNFBEMS5PQEROZPUD2RTDYGLIQAH7PA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O5TJNWBXYVA3PQT4DPB6U7LVOX7AVDXBSQBAPLXPC4HOSC6VYVIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3VZZU5DACJAWZNS6CK5PCMGWGYNKK6VQBLH7EDPJ4AXRAVCXHEA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5XSXWAVWV43VU4HWMKQWDYPFR5IGKAFXXE6CNYUTZ4U6LP3TH3Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFVMEK3XKVII5KWXJM5ZEBOA7YQXXVCHEUCGLZLVT5V6VCZUFJBA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMNNDYNPK3UHA244GWJXCG3JS32LUDVSBJ5XDXYJDYVR3Z5K5NSA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHOMJHOX2II6W7K6SQGZF4WLGWHRVHTW5OT4AMHVUYUQ3KQLJX6A/vendors.min.js"
            ]
        },
        "GetLandingZoneDriftStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DriftDetails": {
                        "shape": "S5s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6X5OFLZKIOE2OLZBNGMGVOP2OET75SJTTW24OECHN5J6UZJFCXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YD34Y6KWL46UQCEAMQQUKWWLYYLYOPZH47GLLHCE6XE6KD335HWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFJ76NLLP2YMBDG4ED3PJPNEBGYLDNDNKDOMRXOG34YQDDWQWQZA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O2XEIEPHNIMJUQDDIUEJQPKXOWXDC4VVJL52EPRURWNGYIWQKKGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRRR7XLFERLQCSU2HA7HEQVC45QUDKHMRWZNS335XXHR4FWRXMYA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UAUJUTHJSUI4QLHZ7V47VR4PZGXLLQEVEVP6CYVB5NGYCTP5VTRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6D3XPCW6U4OTN5ZK3K5WKO45F2AKTTBGKARFEZOPOFPLDCS7FC7Q/vendors.min.js",
[...]
