{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-26",
        "endpointPrefix": "controltower",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Control Tower",
        "serviceId": "ControlTower",
        "signatureVersion": "v4",
        "signingName": "controltower",
        "targetPrefix": "AWSBlackbeardService",
        "uid": "controltower-2018-11-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTS37YF2IP5ABGGMJQNEZ7OY7Y7PPRQKKAB54UK35BWRIFSSNAWQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
        ]
    },
    "operations": {
        "CreateBlueprintVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "Id",
                    "Type",
                    "DeploymentOrder",
                    "DeploymentType",
                    "Version",
                    "RegionalPreference",
                    "OnAccountType",
                    "Description",
                    "SourceBucket"
                ],
                "members": {
                    "Id": {},
                    "Type": {},
                    "DeploymentOrder": {
                        "type": "integer"
                    },
                    "DeploymentType": {},
                    "Version": {
                        "type": "integer"
                    },
                    "RegionalPreference": {},
                    "OnAccountType": {
                        "type": "list",
                        "member": {}
                    },
                    "Description": {},
                    "SourceBucket": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "CreateGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "DisplayName",
                    "Type",
                    "Behavior",
                    "RegionalPreference",
                    "SourceBucket",
                    "Version"
                ],
                "members": {
                    "Name": {},
                    "DisplayName": {},
                    "Type": {},
                    "Category": {},
                    "Behavior": {},
                    "Description": {},
                    "RegionalPreference": {},
                    "DeploymentType": {},
                    "SourceBucket": {},
                    "Location": {},
                    "IntentLocation": {},
                    "LambdaLocation": {},
                    "SCPSid": {},
                    "Version": {},
                    "EnabledOnOU": {},
                    "Visibility": {},
                    "ReleaseDate": {
                        "type": "timestamp"
                    },
                    "ControlOwner": {},
                    "DeploymentOwner": {},
                    "Severity": {},
                    "Relationships": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identifier": {},
                                "Version": {},
                                "RelationshipType": {}
                            }
                        }
                    },
                    "Resources": {
                        "type": "list",
                        "member": {}
                    },
                    "GuardrailVersionMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "CreateManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEmail",
                    "AccountName",
                    "ParentOrganizationalUnitName",
                    "IdempotencyToken"
                ],
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "AccountName": {},
                    "ParentOrganizationalUnitName": {},
                    "SSOUserEmail": {},
                    "SSOUserFirstName": {},
                    "SSOUserLastName": {},
                    "ProvisionedProductId": {},
                    "IdempotencyToken": {},
                    "NetworkConfiguration": {
                        "shape": "S1f"
                    },
                    "Blueprints": {
                        "type": "list",
                        "member": {
                            "shape": "S1i"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreateManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DeleteAccountData": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountEventMessage"
                ],
                "members": {
                    "AccountEventMessage": {
                        "type": "structure",
                        "required": [
                            "accountId",
                            "eventId",
                            "publishTimestamp",
                            "reasonCode",
                            "topicName"
                        ],
                        "members": {
                            "accountId": {},
                            "eventId": {},
                            "publishTimestamp": {
                                "type": "timestamp"
                            },
                            "reasonCode": {},
                            "topicName": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DeleteLandingZone": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DeregisterManagedAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DeregisterOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeAccount": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountId"
                ],
                "members": {
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ControlTowerManagedAccount": {
                        "type": "boolean"
                    },
                    "AccountStatus": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeAccountFactoryConfig": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountFactoryConfig": {
                        "shape": "S2h"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeCoreService": {
            "input": {
                "type": "structure",
                "required": [
                    "AccountType"
                ],
                "members": {
                    "AccountType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "AccountEmail": {},
                    "StackSetARN": {},
                    "CoreResourceMappings": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName"
                ],
                "members": {
                    "GuardrailName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DisplayName": {},
                    "Behavior": {},
                    "Type": {},
                    "Category": {},
                    "Description": {},
                    "EnabledSummary": {},
                    "GuardrailTemplate": {},
                    "ServiceControlPolicy": {},
                    "GuardrailTemplateBlueprint": {},
                    "ServiceControlPolicyBlueprint": {},
                    "LatestVersion": {},
                    "TargetOuType": {},
                    "UniqueResourceIdentifier": {},
                    "ImplementationType": {},
                    "Artifacts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Content": {}
                            }
                        }
                    },
                    "Aliases": {
                        "type": "list",
                        "member": {}
                    },
                    "SupportedRegions": {
                        "shape": "S1o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeGuardrailForTarget": {
            "input": {
                "type": "structure",
                "required": [
                    "GuardrailName",
                    "TargetId"
                ],
                "members": {
                    "GuardrailName": {},
                    "TargetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GuardrailDetails": {
                        "type": "structure",
                        "members": {
                            "Guardrail": {
                                "shape": "S3i"
                            },
                            "State": {},
                            "StateMessage": {},
                            "Version": {},
                            "Regions": {
                                "shape": "S1o"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeLandingZoneConfiguration": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConfigurationOutput": {
                        "type": "structure",
                        "members": {
                            "RegionConfigurationList": {
                                "shape": "S3p"
                            },
                            "OrganizationStructureOutput": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "OrganizationalUnitName": {},
                                        "OrganizationalUnitType": {},
                                        "OrganizationalUnitId": {},
                                        "AccountsOutput": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "AccountName": {},
                                                    "AccountEmail": {},
                                                    "AccountType": {},
                                                    "AccountId": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "KmsKeyArn": {},
                            "DenyUngovernedRegions": {},
                            "CloudTrailType": {},
                            "LoggingConfiguration": {
                                "shape": "S41"
                            },
                            "AccessConfiguration": {
                                "type": "structure",
                                "members": {
                                    "IdentityCenterStatus": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeManagedAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountId": {},
                    "CreateManagedAccountExecutionId": {},
                    "DeregisterManagedAccountExecutionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ManagedAccount": {
                        "shape": "S48"
                    },
                    "SSOUserPortal": {},
                    "RegionVPCCIDRMap": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "VPCCIDR": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeManagedOrganizationalUnit": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "MaxChildrenOrganizationalUnitResults": {
                        "type": "integer"
                    },
                    "ChildrenOrganizationalUnitNextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OrganizationalUnitId": {},
                    "OrganizationalUnitName": {},
                    "OrganizationalUnitType": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "ChildrenOrganizationalUnits": {
                        "shape": "S4q"
                    },
                    "ChildrenOrganizationalUnitNextToken": {},
                    "OrganizationalUnitStatus": {},
                    "LastOperationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeRegisterOrganizationalUnitOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "OperationId"
                ],
                "members": {
                    "OperationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "OperationId": {},
                    "PercentageComplete": {
                        "type": "integer"
                    },
                    "Status": {},
                    "ErrorMessage": {},
                    "TotalSteps": {
                        "type": "integer"
                    },
                    "CurrentStep": {
                        "type": "integer"
                    },
                    "CurrentStepName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DescribeSingleSignOn": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "UserPortalUrl": {},
                    "PermissionSetList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PermissionSetId": {},
                                "PermissionSetName": {},
                                "PermissionSetDescription": {},
                                "ManagedPolicyArn": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DisableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "EnableGuardrail": {
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationalUnitId",
                    "GuardrailName"
                ],
                "members": {
                    "OrganizationalUnitId": {},
                    "GuardrailName": {},
                    "RegionList": {
                        "shape": "S1o",
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetAccountInfo": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountEmail": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountEmail": {},
                    "AccountWithEmailExists": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetAvailableUpdates": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "BaselineUpdateAvailable": {
                        "type": "boolean"
                    },
                    "LandingZoneUpdateAvailable": {
                        "type": "boolean"
                    },
                    "GuardrailUpdateAvailable": {
                        "type": "boolean"
                    },
                    "UserLandingZoneVersion": {},
                    "ServiceLandingZoneVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetGuardrailComplianceStatus": {
            "input": {
                "type": "structure",
                "members": {
                    "GuardrailName": {},
                    "AccountId": {},
                    "OrganizationalUnitId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ComplianceStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetHomeRegion": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "HomeRegion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetLandingZoneDriftStatus": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DriftDetails": {
                        "shape": "S5s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
[...]
