{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "controltower",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Control Tower",
        "serviceId": "ControlTower",
        "signatureVersion": "v4",
        "signingName": "controltower",
        "uid": "controltower-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
        ]
    },
    "operations": {
        "DisableControl": {
            "http": {
                "requestUri": "/disable-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {},
                    "targetIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "EnableControl": {
            "http": {
                "requestUri": "/enable-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {},
                    "targetIdentifier": {},
                    "parameters": {
                        "shape": "Sc",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Sk",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetControlOperation": {
            "http": {
                "requestUri": "/get-control-operation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "controlOperation"
                ],
                "members": {
                    "controlOperation": {
                        "type": "structure",
                        "members": {
                            "endTime": {
                                "shape": "Sb"
                            },
                            "operationType": {},
                            "startTime": {
                                "shape": "Sb"
                            },
                            "status": {},
                            "statusMessage": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ListEnabledControls": {
            "http": {
                "requestUri": "/list-enabled-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetIdentifier"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "targetIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabledControls"
                ],
                "members": {
                    "enabledControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "controlIdentifier": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "AssociateControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlAssociations/{controlIdentifier}/{targetIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {
                        "location": "uri",
                        "locationName": "controlIdentifier"
                    },
                    "targetIdentifier": {
                        "location": "uri",
                        "locationName": "targetIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with EnableControl",
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "BatchEnableControl": {
            "http": {
                "requestUri": "/batch-enable-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enableControls"
                ],
                "members": {
                    "enableControls": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "processedEnabledControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "targetIdentifier": {},
                                "controlIdentifier": {},
                                "operationIdentifier": {}
                            }
                        }
                    },
                    "unprocessedEnabledControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "controlIdentifier": {},
                                "targetIdentifier": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "DisassociateControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlAssociations/{controlIdentifier}/{targetIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {
                        "location": "uri",
                        "locationName": "controlIdentifier"
                    },
                    "targetIdentifier": {
                        "location": "uri",
                        "locationName": "targetIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with DisableControl",
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "GetComplianceEvaluation": {
            "http": {
                "requestUri": "/get-compliance-evaluation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "evaluationIdentifier"
                ],
                "members": {
                    "evaluationIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "complianceEvaluation"
                ],
                "members": {
                    "complianceEvaluation": {
                        "type": "structure",
                        "required": [
                            "evaluationStatus",
                            "evaluationIdentifier"
                        ],
                        "members": {
                            "evaluationStatus": {},
                            "evaluationIdentifier": {},
                            "complianceStatus": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6VHUM2XT5WMGTGFOZWHIOBTXQUQP2BHXMIBZPRCZSJRN6LZ3BRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OVZ2PZBMFPWYH6LPJHKPT7OBIT36OUSD7WNMU4F5GJPWICH7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72XHZUQEAUD3B7B5X5C6UOGQFSZFTPCCZU64X3VP2DBBYDSVVHA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTB4GTX4H37HTEBE37XB3VPMDRUH4DFX7QJHC3KDXM2BBANOBDFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN3WYKSJOO2UIXFMN6KQK4VARITQ3YS4KXH62UKCQLBVMCOJ5PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNL6OMYOLA6H6IKQ6NLASPU23FEEEBYI3UZN2KC2GFP4TDOWSFWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXKP5I5CU5UWGOGJ77FO6ETFVXAZO6E6VPIK7QXRYP7DFXUPNJLQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQBV43LILA2WYDKUKQGVWCF6GSVL5YI2MH6VUNYHTO3LMTVFPJXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVNSBGRATT2F445ODS2AJB4OTGKLBYFS5BNJ6AW2PQ4CKAZW66SQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GV4V2O7JNHONXYSWRYHRW3YPGOZ53JR2FVGGF3D235QXZF4RCQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGR34ELUQEVBGFDPQO2KS3GE36RVEXDOKMMZ32EKZFZV3BCTQMKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPRE7AK2HF5W34RGLES4YNYJRGYQ64UCG5LXQWNBGYOEFPE4ZJ7A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MX4DY7IVPQ3ENOFDIS5NBXB6PK74NRJCXFF6K726SQKLUJEU5G4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3HZW2ATQRQPOXRZNLXDOWSZ7AFGUEYH3SOFE44IJNNATGKS75PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36FWTTSJX42GXGBQMP44V5LZKPKAWM4GFU7CBMFKUUDNOYPTNVYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JD35NBYDBGSEETILTCXIIWECLNITAPMQEGDEHPNAA2TKZAUUF5IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZU4THMKZJECI236YBUTAM3TATKPCHLQQOR7XKNBQLSGFUOZCBKDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5GSR5BC3UFQXKOXDSHFMGHK6FKVXBC7QOABT54QCQL22YVKVLAQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WM6G3PPSN5W4SR54I4UE3G3DI2NAIYLA36BYDGPE34X5RQSSBMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J247P55CVGFKDHB3XFN4RBQTOMSWQT5DSVECLJJ723DLDAGKVZ6Q/vendors.min.js"
            ]
        },
        "GetControlAssociationOperationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/controlAssociationOperation/status/{operationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {
                        "location": "uri",
                        "locationName": "operationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "controlAssociationOperationStatus"
                ],
                "members": {
                    "controlAssociationOperationStatus": {
                        "type": "structure",
                        "members": {
                            "operationType": {
                                "type": "string",
                                "deprecated": true
                            },
                            "startTime": {
                                "shape": "Su"
                            },
                            "endTime": {
                                "shape": "Su"
                            },
                            "status": {
                                "type": "string",
                                "deprecated": true
                            },
                            "statusMessage": {}
                        },
                        "deprecated": true
                    }
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with GetControlOperation",
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "ListControlsForTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/control/list/{targetIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetIdentifier"
                ],
                "members": {
                    "targetIdentifier": {
                        "location": "uri",
                        "locationName": "targetIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "controls"
                ],
                "members": {
                    "controls": {
                        "type": "list",
                        "member": {
                            "shape": "S15"
                        }
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with ListEnabledControls",
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "StartComplianceEvaluation": {
            "http": {
                "requestUri": "/start-compliance-evaluation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetIdentifier"
                ],
                "members": {
                    "targetIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "evaluationIdentifier"
                ],
                "members": {
                    "evaluationIdentifier": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6VHUM2XT5WMGTGFOZWHIOBTXQUQP2BHXMIBZPRCZSJRN6LZ3BRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OVZ2PZBMFPWYH6LPJHKPT7OBIT36OUSD7WNMU4F5GJPWICH7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72XHZUQEAUD3B7B5X5C6UOGQFSZFTPCCZU64X3VP2DBBYDSVVHA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTB4GTX4H37HTEBE37XB3VPMDRUH4DFX7QJHC3KDXM2BBANOBDFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN3WYKSJOO2UIXFMN6KQK4VARITQ3YS4KXH62UKCQLBVMCOJ5PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNL6OMYOLA6H6IKQ6NLASPU23FEEEBYI3UZN2KC2GFP4TDOWSFWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXKP5I5CU5UWGOGJ77FO6ETFVXAZO6E6VPIK7QXRYP7DFXUPNJLQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQBV43LILA2WYDKUKQGVWCF6GSVL5YI2MH6VUNYHTO3LMTVFPJXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVNSBGRATT2F445ODS2AJB4OTGKLBYFS5BNJ6AW2PQ4CKAZW66SQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GV4V2O7JNHONXYSWRYHRW3YPGOZ53JR2FVGGF3D235QXZF4RCQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGR34ELUQEVBGFDPQO2KS3GE36RVEXDOKMMZ32EKZFZV3BCTQMKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPRE7AK2HF5W34RGLES4YNYJRGYQ64UCG5LXQWNBGYOEFPE4ZJ7A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MX4DY7IVPQ3ENOFDIS5NBXB6PK74NRJCXFF6K726SQKLUJEU5G4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3HZW2ATQRQPOXRZNLXDOWSZ7AFGUEYH3SOFE44IJNNATGKS75PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36FWTTSJX42GXGBQMP44V5LZKPKAWM4GFU7CBMFKUUDNOYPTNVYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JD35NBYDBGSEETILTCXIIWECLNITAPMQEGDEHPNAA2TKZAUUF5IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZU4THMKZJECI236YBUTAM3TATKPCHLQQOR7XKNBQLSGFUOZCBKDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5GSR5BC3UFQXKOXDSHFMGHK6FKVXBC7QOABT54QCQL22YVKVLAQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WM6G3PPSN5W4SR54I4UE3G3DI2NAIYLA36BYDGPE34X5RQSSBMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J247P55CVGFKDHB3XFN4RBQTOMSWQT5DSVECLJJ723DLDAGKVZ6Q/vendors.min.js"
            ]
        },
        "UpdateEnabledControl": {
            "http": {
                "requestUri": "/update-enabled-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {},
                    "targetIdentifier": {},
                    "controlVersion": {},
                    "parameters": {
                        "shape": "Sc",
                        "internalonly": true
                    },
                    "enabledControlIdentifier": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetEnabledControl": {
            "http": {
                "requestUri": "/get-enabled-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledControlIdentifier"
                ],
                "members": {
                    "enabledControlIdentifier": {
                        "shape": "Sm"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabledControlDetails"
                ],
                "members": {
                    "enabledControlDetails": {
                        "type": "structure",
                        "members": {
                            "arn": {
                                "shape": "Sm"
                            },
                            "controlIdentifier": {},
                            "targetIdentifier": {},
                            "targetRegions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {
                                            "type": "string",
                                            "internalonly": true
                                        }
                                    },
                                    "internalonly": true
                                },
                                "internalonly": true
                            },
                            "statusSummary": {
                                "shape": "Ss"
                            },
                            "driftStatusSummary": {
                                "shape": "Su"
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ResetEnabledControl": {
            "http": {
                "requestUri": "/reset-enabled-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "enabledControlIdentifier": {
                        "shape": "Sm"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ListControls": {
            "http": {
                "requestUri": "/list-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "controls"
                ],
                "members": {
                    "controls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {
                                    "shape": "Sm"
                                },
                                "name": {},
                                "description": {},
                                "behavior": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetBaseline": {
            "http": {
                "requestUri": "/get-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineIdentifier"
                ],
                "members": {
                    "baselineIdentifier": {
                        "shape": "S9"
                    },
                    "baselineId": {
                        "shape": "Sh"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "baselineDetail"
                ],
                "members": {
                    "baselineDetail": {
                        "type": "structure",
                        "required": [
                            "baselineIdentifier",
                            "name"
                        ],
                        "members": {
                            "baselineIdentifier": {
                                "shape": "S9"
                            },
                            "name": {}
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ListBaselines": {
            "http": {
                "requestUri": "/list-baselines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "baselines"
                ],
                "members": {
                    "baselines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "baselineIdentifier",
                                "name"
                            ],
                            "members": {
                                "baselineIdentifier": {},
                                "name": {}
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetControl": {
            "http": {
                "requestUri": "/get-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier"
                ],
                "members": {
                    "controlIdentifier": {}
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "controlDetails"
                ],
                "members": {
                    "controlDetails": {
                        "type": "structure",
                        "members": {
                            "arn": {
                                "shape": "Sm",
                                "internalonly": true
                            },
                            "name": {
                                "internalonly": true
                            },
                            "description": {
                                "internalonly": true
                            },
                            "behavior": {
                                "shape": "Sn",
                                "internalonly": true
                            },
                            "supportedRegions": {
                                "internalonly": true,
                                "type": "list",
                                "member": {
                                    "shape": "Sp"
                                }
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "EnableBaseline": {
            "http": {
                "requestUri": "/enable-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineIdentifier",
                    "target"
                ],
                "members": {
                    "baselineIdentifier": {
                        "shape": "S7"
                    },
                    "target": {
                        "shape": "S7"
                    },
                    "targetIdentifier": {
                        "shape": "S5"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier",
                    "baselineOperation"
                ],
                "members": {
                    "operationIdentifier": {},
                    "baselineOperation": {
                        "type": "structure",
                        "members": {
                            "operationType": {},
                            "status": {},
                            "startTime": {
                                "shape": "Sc"
                            },
                            "endTime": {
                                "shape": "Sc"
                            },
                            "statusMessage": {}
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetLandingZone": {
            "http": {
                "requestUri": "/get-landingzone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "landingZoneIdentifier"
                ],
                "members": {
                    "landingZoneIdentifier": {}
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "landingZone"
                ],
                "members": {
                    "landingZone": {
                        "type": "structure",
                        "members": {
                            "landingZoneIdentifier": {
                                "shape": "S7"
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ListLandingZones": {
            "http": {
                "requestUri": "/list-landingzone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer",
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "landingZones"
                ],
                "members": {
                    "landingZones": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "landingZoneIdentifier": {
                                    "shape": "S7"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "DisableBaseline": {
            "http": {
                "requestUri": "/disable-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledBaselineIdentifier"
                ],
                "members": {
                    "enabledBaselineIdentifier": {
                        "shape": "S2"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                },
                "internalonly": true
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "GetEnabledBaseline": {
            "http": {
                "requestUri": "/get-enabled-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledBaselineIdentifier"
                ],
                "members": {
                    "enabledBaselineIdentifier": {
                        "shape": "S2"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {
                        "shape": "S2"
                    },
                    "baselineIdentifier": {},
                    "targetIdentifier": {},
                    "statusSummary": {
                        "shape": "S11"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ListEnabledBaselines": {
            "http": {
                "requestUri": "/list-enabled-baselines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "targetIdentifiers": {
                                "shape": "S1o"
                            },
                            "baselineIdentifiers": {
                                "shape": "S1o"
                            }
                        },
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer",
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabledBaselines"
                ],
                "members": {
                    "enabledBaselines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {
                                    "shape": "S2"
                                },
                                "baselineIdentifier": {},
                                "targetIdentifier": {},
                                "statusSummary": {
                                    "shape": "S11"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTBKIYB2KLPVIOW7KF7VIR5IIWXDUVN7YRJNGES7WIUFZMMGMIKQ/vendors.min.js"
            ]
        },
        "ResetEnabledBaseline": {
            "http": {
                "requestUri": "/reset-enabled-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledBaselineIdentifier"
                ],
                "members": {
                    "enabledBaselineIdentifier": {
                        "shape": "S2"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXBUWYLS2TPCZ67X3Y3CERANISHHUINBJZIDU5OZWHT5XLLNF7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHNLL774DPDBVS643COBZ7XAIVHO3E4NLIML3V6QAINJRXZG6VOA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDTZXQIPO7RT55GNJRMY22KFHNXYCAMYISTHRJ2YKJVSDXBSYIIA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WQ57ZC4XH6VSKJGCWSEWAMAELNI4ILCGIDNKZKYTQWIHDXJKGMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCYNYDLDAVPNX7PKA7ECEQVC7P75BYL3LUX3EUPSBSVVMH3SBVZQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IP3NEZBMKZCC7K7MENSQ5Z7WIHELLDBDCEIBNOEDMF4EB7XHCUCQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43D32SFYGU34EQTW5PANQ2OO4L7KPSNHR772QU34MK2QWI4ZFYJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7AYRYW3B3EBMKTP75ZTWSR4J67G6ANI2XKZJ4EGAB2TB2FURDJQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGH25MAMNYTM5YRTNAA6QJAAMD2VPHTVYQVQGK5YCUMYMMDAICMQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ITT43GJRG7423R3HQ4Y2EFBWBPMZO67YHZSOF7IM63DFHG6OSA2Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R6W7FNHG46ICCQDT5YZMYZFBNJCTE4WXAFWGMGNFB4TT7NWSVGLA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XYO4FD726FKRLVWP6OMWWGOPRRX22RS5QAR2O5PLNT7LMK6HP4NQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVCSB73NOJRGLOYRNWHTI5DZLWM62KZ6PP4MR4Z6QHLGBEVZJH4Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6GN4EY7EIAUHPBH2BKV6PKM7LYJ4HPS55TND467NMZ6FF7UMGXGQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRDW3DIKD25FL7GSM2WNDI3PFTTP3YGDMV4TPDG34GSWPNQBBA7Q/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYKUAFRMT4Y272DIJ4MPVY7RNZNU5TEQSBJFCXTUWNLSWWDKINWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HRM7LIG734VTC5NTVMRURRFRWGWIM6MNPJ2TVYV2XY4BKGZHHEQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNC37RZFGKJKKJXLRXTXTEHATB53TDEAP7ENEC3BFOQV23UPHMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C22SY53BBYM4K4YXWHXNGM4FEZQB7IXBSS2GPC5WB5T36QUW4YWA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XOWAHA2ZYDJAGUEGU5Y5TEVMH3GJOUYAYGTCEVPGNNNYXZWOCDQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3O3THWJ7ZXLLMTVAN6AFXJXZYC4BV54LB6RHWDTHGYBVQBGD46XA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6E2METWVAY3U2CRE73TDWGI3DXNOIYRZOCWUWGBR62AVBLXGDFRQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZFWK6ZVF4CLEXKTHYPHAOBM5WKDCRIULRTNQKFWA6VGW3A5TUUQ/vendors.min.js",
[...]
