{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "controltower",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Control Tower",
        "serviceId": "ControlTower",
        "signatureVersion": "v4",
        "signingName": "controltower",
        "uid": "controltower-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
        ]
    },
    "operations": {
        "DisableControl": {
            "http": {
                "requestUri": "/disable-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {},
                    "targetIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "EnableControl": {
            "http": {
                "requestUri": "/enable-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {},
                    "targetIdentifier": {},
                    "parameters": {
                        "shape": "Sc",
                        "internalonly": true
                    },
                    "tags": {
                        "shape": "Sk",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetControlOperation": {
            "http": {
                "requestUri": "/get-control-operation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "controlOperation"
                ],
                "members": {
                    "controlOperation": {
                        "type": "structure",
                        "members": {
                            "endTime": {
                                "shape": "Sb"
                            },
                            "operationType": {},
                            "startTime": {
                                "shape": "Sb"
                            },
                            "status": {},
                            "statusMessage": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListEnabledControls": {
            "http": {
                "requestUri": "/list-enabled-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetIdentifier"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "targetIdentifier": {},
                    "filter": {
                        "internalonly": true,
                        "type": "structure",
                        "members": {
                            "controlIdentifiers": {
                                "shape": "S2k"
                            },
                            "statuses": {
                                "type": "list",
                                "member": {},
                                "internalonly": true
                            },
                            "driftStatuses": {
                                "type": "list",
                                "member": {},
                                "internalonly": true
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabledControls"
                ],
                "members": {
                    "enabledControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "controlIdentifier": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "AssociateControl": {
            "http": {
                "method": "PUT",
                "requestUri": "/controlAssociations/{controlIdentifier}/{targetIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {
                        "location": "uri",
                        "locationName": "controlIdentifier"
                    },
                    "targetIdentifier": {
                        "location": "uri",
                        "locationName": "targetIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with EnableControl",
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "BatchEnableControl": {
            "http": {
                "requestUri": "/batch-enable-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enableControls"
                ],
                "members": {
                    "enableControls": {
                        "type": "list",
                        "member": {
                            "shape": "S8"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "processedEnabledControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "targetIdentifier": {},
                                "controlIdentifier": {},
                                "operationIdentifier": {}
                            }
                        }
                    },
                    "unprocessedEnabledControls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "errorCode": {},
                                "errorMessage": {},
                                "controlIdentifier": {},
                                "targetIdentifier": {}
                            }
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "DisassociateControl": {
            "http": {
                "method": "DELETE",
                "requestUri": "/controlAssociations/{controlIdentifier}/{targetIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {
                        "location": "uri",
                        "locationName": "controlIdentifier"
                    },
                    "targetIdentifier": {
                        "location": "uri",
                        "locationName": "targetIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with DisableControl",
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "GetComplianceEvaluation": {
            "http": {
                "requestUri": "/get-compliance-evaluation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "evaluationIdentifier"
                ],
                "members": {
                    "evaluationIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "complianceEvaluation"
                ],
                "members": {
                    "complianceEvaluation": {
                        "type": "structure",
                        "required": [
                            "evaluationStatus",
                            "evaluationIdentifier"
                        ],
                        "members": {
                            "evaluationStatus": {},
                            "evaluationIdentifier": {},
                            "complianceStatus": {}
                        }
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6VHUM2XT5WMGTGFOZWHIOBTXQUQP2BHXMIBZPRCZSJRN6LZ3BRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OVZ2PZBMFPWYH6LPJHKPT7OBIT36OUSD7WNMU4F5GJPWICH7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72XHZUQEAUD3B7B5X5C6UOGQFSZFTPCCZU64X3VP2DBBYDSVVHA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTB4GTX4H37HTEBE37XB3VPMDRUH4DFX7QJHC3KDXM2BBANOBDFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN3WYKSJOO2UIXFMN6KQK4VARITQ3YS4KXH62UKCQLBVMCOJ5PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNL6OMYOLA6H6IKQ6NLASPU23FEEEBYI3UZN2KC2GFP4TDOWSFWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXKP5I5CU5UWGOGJ77FO6ETFVXAZO6E6VPIK7QXRYP7DFXUPNJLQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQBV43LILA2WYDKUKQGVWCF6GSVL5YI2MH6VUNYHTO3LMTVFPJXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVNSBGRATT2F445ODS2AJB4OTGKLBYFS5BNJ6AW2PQ4CKAZW66SQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GV4V2O7JNHONXYSWRYHRW3YPGOZ53JR2FVGGF3D235QXZF4RCQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGR34ELUQEVBGFDPQO2KS3GE36RVEXDOKMMZ32EKZFZV3BCTQMKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPRE7AK2HF5W34RGLES4YNYJRGYQ64UCG5LXQWNBGYOEFPE4ZJ7A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MX4DY7IVPQ3ENOFDIS5NBXB6PK74NRJCXFF6K726SQKLUJEU5G4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3HZW2ATQRQPOXRZNLXDOWSZ7AFGUEYH3SOFE44IJNNATGKS75PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36FWTTSJX42GXGBQMP44V5LZKPKAWM4GFU7CBMFKUUDNOYPTNVYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JD35NBYDBGSEETILTCXIIWECLNITAPMQEGDEHPNAA2TKZAUUF5IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZU4THMKZJECI236YBUTAM3TATKPCHLQQOR7XKNBQLSGFUOZCBKDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5GSR5BC3UFQXKOXDSHFMGHK6FKVXBC7QOABT54QCQL22YVKVLAQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WM6G3PPSN5W4SR54I4UE3G3DI2NAIYLA36BYDGPE34X5RQSSBMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J247P55CVGFKDHB3XFN4RBQTOMSWQT5DSVECLJJ723DLDAGKVZ6Q/vendors.min.js"
            ]
        },
        "GetControlAssociationOperationStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/controlAssociationOperation/status/{operationIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {
                        "location": "uri",
                        "locationName": "operationIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "controlAssociationOperationStatus"
                ],
                "members": {
                    "controlAssociationOperationStatus": {
                        "type": "structure",
                        "members": {
                            "operationType": {
                                "type": "string",
                                "deprecated": true
                            },
                            "startTime": {
                                "shape": "Su"
                            },
                            "endTime": {
                                "shape": "Su"
                            },
                            "status": {
                                "type": "string",
                                "deprecated": true
                            },
                            "statusMessage": {}
                        },
                        "deprecated": true
                    }
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with GetControlOperation",
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "ListControlsForTarget": {
            "http": {
                "method": "GET",
                "requestUri": "/control/list/{targetIdentifier}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetIdentifier"
                ],
                "members": {
                    "targetIdentifier": {
                        "location": "uri",
                        "locationName": "targetIdentifier"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "controls"
                ],
                "members": {
                    "controls": {
                        "type": "list",
                        "member": {
                            "shape": "S15"
                        }
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "deprecatedMessage": "Replaced with ListEnabledControls",
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js"
            ]
        },
        "StartComplianceEvaluation": {
            "http": {
                "requestUri": "/start-compliance-evaluation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "targetIdentifier"
                ],
                "members": {
                    "targetIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "evaluationIdentifier"
                ],
                "members": {
                    "evaluationIdentifier": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFPXGYJ4Y3G6YEU37N5NF2M7NB5LZMMTQJPJ3DHR36CM5V7P2KXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6VHUM2XT5WMGTGFOZWHIOBTXQUQP2BHXMIBZPRCZSJRN6LZ3BRA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4OVZ2PZBMFPWYH6LPJHKPT7OBIT36OUSD7WNMU4F5GJPWICH7DA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N72XHZUQEAUD3B7B5X5C6UOGQFSZFTPCCZU64X3VP2DBBYDSVVHA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTB4GTX4H37HTEBE37XB3VPMDRUH4DFX7QJHC3KDXM2BBANOBDFA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ONN3WYKSJOO2UIXFMN6KQK4VARITQ3YS4KXH62UKCQLBVMCOJ5PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNL6OMYOLA6H6IKQ6NLASPU23FEEEBYI3UZN2KC2GFP4TDOWSFWQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXKP5I5CU5UWGOGJ77FO6ETFVXAZO6E6VPIK7QXRYP7DFXUPNJLQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQBV43LILA2WYDKUKQGVWCF6GSVL5YI2MH6VUNYHTO3LMTVFPJXA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVNSBGRATT2F445ODS2AJB4OTGKLBYFS5BNJ6AW2PQ4CKAZW66SQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GV4V2O7JNHONXYSWRYHRW3YPGOZ53JR2FVGGF3D235QXZF4RCQA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGR34ELUQEVBGFDPQO2KS3GE36RVEXDOKMMZ32EKZFZV3BCTQMKQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPRE7AK2HF5W34RGLES4YNYJRGYQ64UCG5LXQWNBGYOEFPE4ZJ7A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MX4DY7IVPQ3ENOFDIS5NBXB6PK74NRJCXFF6K726SQKLUJEU5G4A/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S3HZW2ATQRQPOXRZNLXDOWSZ7AFGUEYH3SOFE44IJNNATGKS75PQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36FWTTSJX42GXGBQMP44V5LZKPKAWM4GFU7CBMFKUUDNOYPTNVYQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JD35NBYDBGSEETILTCXIIWECLNITAPMQEGDEHPNAA2TKZAUUF5IQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZU4THMKZJECI236YBUTAM3TATKPCHLQQOR7XKNBQLSGFUOZCBKDA/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5GSR5BC3UFQXKOXDSHFMGHK6FKVXBC7QOABT54QCQL22YVKVLAQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WM6G3PPSN5W4SR54I4UE3G3DI2NAIYLA36BYDGPE34X5RQSSBMSQ/vendors.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J247P55CVGFKDHB3XFN4RBQTOMSWQT5DSVECLJJ723DLDAGKVZ6Q/vendors.min.js"
            ]
        },
        "UpdateEnabledControl": {
            "http": {
                "requestUri": "/update-enabled-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier",
                    "targetIdentifier"
                ],
                "members": {
                    "controlIdentifier": {},
                    "targetIdentifier": {},
                    "controlVersion": {},
                    "parameters": {
                        "shape": "Sc",
                        "internalonly": true
                    },
                    "enabledControlIdentifier": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetEnabledControl": {
            "http": {
                "requestUri": "/get-enabled-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledControlIdentifier"
                ],
                "members": {
                    "enabledControlIdentifier": {
                        "shape": "Sm"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabledControlDetails"
                ],
                "members": {
                    "enabledControlDetails": {
                        "type": "structure",
                        "members": {
                            "arn": {
                                "shape": "Sm"
                            },
                            "controlIdentifier": {},
                            "targetIdentifier": {},
                            "targetRegions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "name": {
                                            "type": "string",
                                            "internalonly": true
                                        }
                                    },
                                    "internalonly": true
                                },
                                "internalonly": true
                            },
                            "statusSummary": {
                                "shape": "Ss"
                            },
                            "driftStatusSummary": {
                                "shape": "Su"
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ResetEnabledControl": {
            "http": {
                "requestUri": "/reset-enabled-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "enabledControlIdentifier": {
                        "shape": "Sm"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListControls": {
            "http": {
                "requestUri": "/list-controls",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "controls"
                ],
                "members": {
                    "controls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {
                                    "shape": "Sm"
                                },
                                "name": {},
                                "description": {},
                                "behavior": {
                                    "type": "string",
                                    "internalonly": true
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC3WDMBBEWNZ7LHXPQQZQ5FNIFMO6RA3GJYXK5CBYYA2HJKWAWWA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P37APNEG7SYB5MDLHVZYVBFWPV2WTOJX77JPG2LGXW2VGVSGE2ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MCH3GCQ5NK3SU6APSBAVNCSSIP7OLKHNVSW32YVTVFLFOIZSZ3Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQP7KCKGRKOZE3M6F6BNTPLKBKK7W3ZHSEGI2CLXXI6JIIC3IIQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L47QAOQQ5CDYBEXHO3R2IM2TSLR444JFLHYWBA7Z7344QZVKLWKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFLAVPMWYJSDQLBKEUT3WT2VPASIPXJJLPASVQGN3DBDG5X46WHA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js"
            ]
        },
        "GetBaseline": {
            "http": {
                "requestUri": "/get-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineIdentifier"
                ],
                "members": {
                    "baselineIdentifier": {
                        "shape": "S9"
                    },
                    "baselineId": {
                        "shape": "Sh"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "baselineDetail"
                ],
                "members": {
                    "baselineDetail": {
                        "type": "structure",
                        "required": [
                            "baselineIdentifier",
                            "name"
                        ],
                        "members": {
                            "baselineIdentifier": {
                                "shape": "S9"
                            },
                            "name": {}
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListBaselines": {
            "http": {
                "requestUri": "/list-baselines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "baselines"
                ],
                "members": {
                    "baselines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "baselineIdentifier",
                                "name"
                            ],
                            "members": {
                                "baselineIdentifier": {},
                                "name": {}
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetControl": {
            "http": {
                "requestUri": "/get-control",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "controlIdentifier"
                ],
                "members": {
                    "controlIdentifier": {}
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "controlDetails"
                ],
                "members": {
                    "controlDetails": {
                        "type": "structure",
                        "members": {
                            "arn": {
                                "shape": "Sm",
                                "internalonly": true
                            },
                            "name": {
                                "internalonly": true
                            },
                            "description": {
                                "internalonly": true
                            },
                            "behavior": {
                                "shape": "Sn",
                                "internalonly": true
                            },
                            "supportedRegions": {
                                "internalonly": true,
                                "type": "list",
                                "member": {
                                    "shape": "Sp"
                                }
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KC3WDMBBEWNZ7LHXPQQZQ5FNIFMO6RA3GJYXK5CBYYA2HJKWAWWA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P37APNEG7SYB5MDLHVZYVBFWPV2WTOJX77JPG2LGXW2VGVSGE2ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MCH3GCQ5NK3SU6APSBAVNCSSIP7OLKHNVSW32YVTVFLFOIZSZ3Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQP7KCKGRKOZE3M6F6BNTPLKBKK7W3ZHSEGI2CLXXI6JIIC3IIQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L47QAOQQ5CDYBEXHO3R2IM2TSLR444JFLHYWBA7Z7344QZVKLWKQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFLAVPMWYJSDQLBKEUT3WT2VPASIPXJJLPASVQGN3DBDG5X46WHA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3IBW3OUF4XAXHR3RULOCIQ32XB2UHT7DFSGLGH2SHUP65ZUX7PQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UBPX62PRM26RBHP6PM2TKSHHUVUCJTELOSFTMJTK6DVEVFPSICSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4E6Y22IRN4LCYJA7CRC7ORIGRF3Z7FNJ5RT6O6KSTXUVRRUCQPA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/37SMZ6ZFG2YZFMZWK4NRPAJFFHCLFYIMPJYNZSGVLTQ3BWUZ4BDA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C64ANL72SD2ET7IWVFY326ZAF2RRK5KTDKSQMJ7HYS3IXOYYKVQA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5V5FD5BXLS7YVWM35PUUM46QJTFALL5KX7GOSZEYJK4AJWOAYGMQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7F4UHPX7CL6MGBBIC44R6WJBQRKKJ4VTKT3FIT6F7PEXJGVI5UA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HUB63DXCJQPJ3MU4PBSDIKWCHD5NJ64ZXSDZKCCOPIIRLMCNJ4Q/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PI3Z6R2MAWOAONRS76NRW5FJPGVY4FE3Q5EMY63AP7WJRKXQ5AQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YYASJK7JW4YXH6PACNB7YVB3W5VAXFPVN7XIIMV4XIIPGT4FYDLQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD6SYFFE6KYCQDMBZIEPLIZP4ADR6EBQEGJS7IPJEKZ34TEFP5OA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCM7TN4PUSAQ6NWMBS42KUNN5N4EDHEY2JSNSSI6DFLCSGOYU2JA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI77UKK3VYTY5VUM46HXOHDVFRVLBXAW335WIIC3E43XSE2SRMEQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66755AOSNKEIZEE7QH6R5SMGV4WZV5UKP5ERQWSXXPY75365SXA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XMDLJTFTPPDITMCKMSVTOS4GVWLGODDJKPCAPGCTYVFJSN347EA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UUZUSOADSN6X6DFWRRGLSVBXWQRFKSOQYQIWYXHYFLSESVTH6YBA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMDKKVOAOQSM2DCBNPPAAY2GSA2MDFN2IXNPBPS53GO553AUWPSQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GC4MNXEEC3WNUVSG73HSX3Y6YLBD73WQDXEZYDVGSWHLEL4RRKKQ/vendors.awssdk.min.js"
            ]
        },
        "EnableBaseline": {
            "http": {
                "requestUri": "/enable-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "baselineIdentifier",
                    "target"
                ],
                "members": {
                    "baselineIdentifier": {
                        "shape": "S7"
                    },
                    "target": {
                        "shape": "S7"
                    },
                    "targetIdentifier": {
                        "shape": "S5"
                    },
                    "baselineVersion": {
                        "shape": "Sk"
                    },
                    "parameters": {
                        "shape": "Sl"
                    },
                    "tags": {
                        "shape": "S4"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier",
                    "baselineOperation"
                ],
                "members": {
                    "operationIdentifier": {},
                    "baselineOperation": {
                        "type": "structure",
                        "members": {
                            "operationType": {},
                            "status": {},
                            "startTime": {
                                "shape": "Sc"
                            },
                            "endTime": {
                                "shape": "Sc"
                            },
                            "statusMessage": {}
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetLandingZone": {
            "http": {
                "requestUri": "/get-landingzone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "landingZoneIdentifier"
                ],
                "members": {
                    "landingZoneIdentifier": {}
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "landingZone"
                ],
                "members": {
                    "landingZone": {
                        "type": "structure",
                        "members": {
                            "landingZoneIdentifier": {
                                "shape": "S7"
                            }
                        },
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListLandingZones": {
            "http": {
                "requestUri": "/list-landingzone",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer",
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "landingZones"
                ],
                "members": {
                    "landingZones": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "landingZoneIdentifier": {
                                    "shape": "S7"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "DisableBaseline": {
            "http": {
                "requestUri": "/disable-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledBaselineIdentifier"
                ],
                "members": {
                    "enabledBaselineIdentifier": {
                        "shape": "S2"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                },
                "internalonly": true
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "GetEnabledBaseline": {
            "http": {
                "requestUri": "/get-enabled-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledBaselineIdentifier"
                ],
                "members": {
                    "enabledBaselineIdentifier": {
                        "shape": "S2"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "members": {
                    "arn": {
                        "shape": "S2"
                    },
                    "baselineIdentifier": {},
                    "targetIdentifier": {},
                    "statusSummary": {
                        "shape": "S11"
                    }
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ListEnabledBaselines": {
            "http": {
                "requestUri": "/list-enabled-baselines",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "filter"
                ],
                "members": {
                    "filter": {
                        "type": "structure",
                        "members": {
                            "targetIdentifiers": {
                                "shape": "S1o"
                            },
                            "baselineIdentifiers": {
                                "shape": "S1o"
                            }
                        },
                        "internalonly": true
                    },
                    "nextToken": {},
                    "maxResults": {
                        "type": "integer",
                        "internalonly": true
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "enabledBaselines"
                ],
                "members": {
                    "enabledBaselines": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {
                                    "shape": "S2"
                                },
                                "baselineIdentifier": {},
                                "targetIdentifier": {},
                                "statusSummary": {
                                    "shape": "S11"
                                }
                            },
                            "internalonly": true
                        },
                        "internalonly": true
                    },
                    "nextToken": {}
                },
                "internalonly": true
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIRA7GMSQ77PAGTLTOS4IXNPZJTV7CWM2STLDKCJQMEJTNF25NRA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2J27J6SKQCJKBGB45V4GF4WPCMOZDQSMJ4TAVLJY6MKVSLGAERYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDC6QADCLAKXNYPDDNXK4GW222DOTWEBKOQ7XYDZMV4VHDHZKCIA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SC5ONX5F5O3S27V4ZJKDZBOL2U2CHBWOFGECX5LJ6C7FDQVYKWCQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHBO2AY3VXUP6YI5IR47HDX4FZN72NXJ53YDCGVBDNKD45LN4C6A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5XPHGVUKMGG7QNFPS4IHYCB7HUC25KEEHND3HR3ZXVVISXYZ3CA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DG24ZFBN6D3FEFCM7LYIYPTPOYZFRN2XXXM4HYADATVTVJWGZSBQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QEODAENL5LPX3NUONNZQLRIFC3U3VPUYCZC5FDJ7UUDR2TVFS6QQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SSPG4BWDFAFFSUNINIW2ONTEST6WPYSXMDV4BJUAPXXHI5SO3ZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DETE7IRCN5UZNH3DQEOAEHOOLFFCND5WGXCZMHASIZXMDI34TYQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4Z3Q3JY7B67RUXYVXWYTIOWESU2SPVMVLRJHHNAYHMF2ZTSRDWSA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNIVOSVQKOUFZBIRVA4LOSAPGSWKM5O2YK32UO6TNWY6K6GDUDNQ/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CMLEB3RQNRU4O7HS3VYQVODODGGI22U42POOUWTULGNPYWPBOEZA/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKN6M5CDAHPSOX5SISTEH7QTXE5OTAX7KZ6ZOBMMXGDWQX7N6Z5A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KFK4IEDVWONVM3OCUN4XXGOIVENMNRYWJUCPBXXLGAS57MME2Y4A/vendors.awssdk.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HYVT3EMPI7WFCR6TLBHVZB4ML6L3PNOZJOJD537IFE33VY246PTQ/vendors.min.js"
            ]
        },
        "ResetEnabledBaseline": {
            "http": {
                "requestUri": "/reset-enabled-baseline",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "enabledBaselineIdentifier"
                ],
                "members": {
                    "enabledBaselineIdentifier": {
                        "shape": "S2"
                    }
                },
                "internalonly": true
            },
            "output": {
                "type": "structure",
                "required": [
                    "operationIdentifier"
                ],
                "members": {
                    "operationIdentifier": {}
                },
[...]
