{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-07-26",
        "endpointPrefix": "cost-optimization-hub",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "Cost Optimization Hub",
        "serviceId": "Cost Optimization Hub",
        "signatureVersion": "v4",
        "signingName": "cost-optimization-hub",
        "targetPrefix": "CostOptimizationHubService",
        "uid": "cost-optimization-hub-2022-07-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDIPGRMMIJFDGWIH2B7JCWFVII22LSIHBSDICBN44Z22462W67RQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "GetPreferences": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberAccountDiscountVisibility": {},
                    "savingsEstimationMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetRecommendation": {
            "input": {
                "type": "structure",
                "required": [
                    "recommendationId"
                ],
                "members": {
                    "recommendationId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountId": {},
                    "actionType": {},
                    "costCalculationLookbackPeriodInDays": {
                        "type": "integer"
                    },
                    "currencyCode": {},
                    "currentResourceDetails": {
                        "shape": "Sa"
                    },
                    "currentResourceType": {},
                    "estimatedMonthlyCost": {
                        "type": "double"
                    },
                    "estimatedMonthlySavings": {
                        "type": "double"
                    },
                    "estimatedSavingsOverCostCalculationLookbackPeriod": {
                        "type": "double"
                    },
                    "estimatedSavingsPercentage": {
                        "type": "double"
                    },
                    "implementationEffort": {},
                    "lastRefreshTimestamp": {
                        "type": "timestamp"
                    },
                    "recommendationId": {},
                    "recommendationLookbackPeriodInDays": {
                        "type": "integer"
                    },
                    "recommendedResourceDetails": {
                        "shape": "Sa"
                    },
                    "recommendedResourceType": {},
                    "region": {},
                    "resourceArn": {},
                    "resourceId": {},
                    "restartNeeded": {
                        "type": "boolean"
                    },
                    "rollbackPossible": {
                        "type": "boolean"
                    },
                    "source": {},
                    "tags": {
                        "shape": "S1k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListEnrollmentStatuses": {
            "input": {
                "type": "structure",
                "members": {
                    "accountId": {},
                    "includeOrganizationInfo": {
                        "type": "boolean"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "createdTimestamp": {
                                    "type": "timestamp"
                                },
                                "lastUpdatedTimestamp": {
                                    "type": "timestamp"
                                },
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListRecommendationSummaries": {
            "input": {
                "type": "structure",
                "required": [
                    "groupBy"
                ],
                "members": {
                    "filter": {
                        "shape": "S1w"
                    },
                    "groupBy": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "currencyCode": {},
                    "estimatedTotalDedupedSavings": {
                        "type": "double"
                    },
                    "groupBy": {},
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "estimatedMonthlySavings": {
                                    "type": "double"
                                },
                                "group": {},
                                "recommendationCount": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListRecommendations": {
            "input": {
                "type": "structure",
                "members": {
                    "filter": {
                        "shape": "S1w"
                    },
                    "includeAllRecommendations": {
                        "type": "boolean"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "orderBy": {
                        "type": "structure",
                        "members": {
                            "dimension": {},
                            "order": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "actionType": {},
                                "currencyCode": {},
                                "currentResourceSummary": {},
                                "currentResourceType": {},
                                "estimatedMonthlyCost": {
                                    "type": "double"
                                },
                                "estimatedMonthlySavings": {
                                    "type": "double"
                                },
                                "estimatedSavingsPercentage": {
                                    "type": "double"
                                },
                                "implementationEffort": {},
                                "lastRefreshTimestamp": {
                                    "type": "timestamp"
                                },
                                "recommendationId": {},
                                "recommendationLookbackPeriodInDays": {
                                    "type": "integer"
                                },
                                "recommendedResourceSummary": {},
                                "recommendedResourceType": {},
                                "region": {},
                                "resourceArn": {},
                                "resourceId": {},
                                "restartNeeded": {
                                    "type": "boolean"
                                },
                                "rollbackPossible": {
                                    "type": "boolean"
                                },
                                "source": {},
                                "tags": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateEnrollmentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "status"
                ],
                "members": {
                    "includeMemberAccounts": {
                        "type": "boolean"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdatePreferences": {
            "input": {
                "type": "structure",
                "members": {
                    "memberAccountDiscountVisibility": {},
                    "savingsEstimationMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "memberAccountDiscountVisibility": {},
                    "savingsEstimationMode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/IAO72QOG4HILD3DFAL6SR3JNUGULS4STZNYCYL3ICORWBSVTFOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXZSBDFANFLMWWQR2N2KERIOX6EP6Z5EB2FNXDUPFZNWEB4UJHEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BPT42Q6YILPEUOTJF36OFJOYA7PWFJ4UMRI7WDWQHW4SRU4BYHXA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFP62HYEV425J45GXOZZGTNI7NBOO6H3DTTEZ6UOOC44ZEV5XZEA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7GUEQSLQTHEXWH4ABCPARAJTE5EEC3N27IYFKJAYWNUAHQ73VRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJA45JT5NTJS6TZPOK72CQVSMGGYRE4WZF4YX76V57WE62MPBWAA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6NP3ZZFWIC67DQRLD3EKQXVBLEPKZC5F45AATJ5QNICPRLXIFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQDWQCILPOD7AFZAM3K2QUPKXUPK6ONAD4BX6OKZN322SPOSEMDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3YUS6EZMNJM5SRAHAISVBMDTCWSEINBHMEJLD7AQ7ZPDTHCMMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "members": {
                "computeSavingsPlans": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "hourlyCommitment": {},
                                "paymentOption": {},
                                "term": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sd"
                        }
                    }
                },
                "ebsVolume": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "attachmentState": {},
                                "performance": {
                                    "type": "structure",
                                    "members": {
                                        "iops": {
                                            "type": "double"
                                        },
                                        "throughput": {
                                            "type": "double"
                                        }
                                    }
                                },
                                "storage": {
                                    "type": "structure",
                                    "members": {
                                        "sizeInGb": {
                                            "type": "double"
                                        },
                                        "type": {}
                                    }
                                }
                            }
                        },
                        "costCalculation": {
                            "shape": "Sk"
                        }
                    }
                },
                "ec2AutoScalingGroup": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "instance": {
                                    "shape": "Sr"
                                }
                            }
                        },
                        "costCalculation": {
                            "shape": "Sk"
                        }
                    }
                },
                "ec2Instance": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "instance": {
                                    "shape": "Sr"
                                }
                            }
                        },
                        "costCalculation": {
                            "shape": "Sk"
                        }
                    }
                },
                "ec2InstanceSavingsPlans": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "hourlyCommitment": {},
                                "instanceFamily": {},
                                "paymentOption": {},
                                "savingsPlansRegion": {},
                                "term": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sd"
                        }
                    }
                },
                "ec2ReservedInstances": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "currentGeneration": {},
                                "instanceFamily": {},
                                "instanceType": {},
                                "monthlyRecurringCost": {},
                                "normalizedUnitsToPurchase": {},
                                "numberOfInstancesToPurchase": {},
                                "offeringClass": {},
                                "paymentOption": {},
                                "platform": {},
                                "reservedInstancesRegion": {},
                                "service": {},
                                "sizeFlexEligible": {
                                    "type": "boolean"
                                },
                                "tenancy": {},
                                "term": {},
                                "upfrontCost": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sz"
                        }
                    }
                },
                "ecsService": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "compute": {
                                    "shape": "S13"
                                }
                            }
                        },
                        "costCalculation": {
                            "shape": "Sk"
                        }
                    }
                },
                "elastiCacheReservedInstances": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "currentGeneration": {},
                                "instanceFamily": {},
                                "instanceType": {},
                                "monthlyRecurringCost": {},
                                "normalizedUnitsToPurchase": {},
                                "numberOfInstancesToPurchase": {},
                                "paymentOption": {},
                                "reservedInstancesRegion": {},
                                "service": {},
                                "sizeFlexEligible": {
                                    "type": "boolean"
                                },
                                "term": {},
                                "upfrontCost": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sz"
                        }
                    }
                },
                "lambdaFunction": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "compute": {
                                    "shape": "S13"
                                }
                            }
                        },
                        "costCalculation": {
                            "shape": "Sk"
                        }
                    }
                },
                "openSearchReservedInstances": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "currentGeneration": {},
                                "instanceType": {},
                                "monthlyRecurringCost": {},
                                "normalizedUnitsToPurchase": {},
                                "numberOfInstancesToPurchase": {},
                                "paymentOption": {},
                                "reservedInstancesRegion": {},
                                "service": {},
                                "sizeFlexEligible": {
                                    "type": "boolean"
                                },
                                "term": {},
                                "upfrontCost": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sz"
                        }
                    }
                },
                "rdsReservedInstances": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "currentGeneration": {},
                                "databaseEdition": {},
                                "databaseEngine": {},
                                "deploymentOption": {},
                                "instanceFamily": {},
                                "instanceType": {},
                                "licenseModel": {},
                                "monthlyRecurringCost": {},
                                "normalizedUnitsToPurchase": {},
                                "numberOfInstancesToPurchase": {},
                                "paymentOption": {},
                                "reservedInstancesRegion": {},
                                "service": {},
                                "sizeFlexEligible": {
                                    "type": "boolean"
                                },
                                "term": {},
                                "upfrontCost": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sz"
                        }
                    }
                },
                "redshiftReservedInstances": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "currentGeneration": {},
                                "instanceFamily": {},
                                "instanceType": {},
                                "monthlyRecurringCost": {},
                                "normalizedUnitsToPurchase": {},
                                "numberOfInstancesToPurchase": {},
                                "paymentOption": {},
                                "reservedInstancesRegion": {},
                                "service": {},
                                "sizeFlexEligible": {
                                    "type": "boolean"
                                },
                                "term": {},
                                "upfrontCost": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sz"
                        }
                    }
                },
                "sageMakerSavingsPlans": {
                    "type": "structure",
                    "members": {
                        "configuration": {
                            "type": "structure",
                            "members": {
                                "accountScope": {},
                                "hourlyCommitment": {},
                                "paymentOption": {},
                                "term": {}
                            }
                        },
                        "costCalculation": {
                            "shape": "Sd"
                        }
                    }
                }
            },
            "union": true
        },
        "Sd": {
            "type": "structure",
            "members": {
                "pricing": {
                    "type": "structure",
                    "members": {
                        "estimatedMonthlyCommitment": {
                            "type": "double"
                        },
                        "estimatedOnDemandCost": {
                            "type": "double"
                        },
                        "monthlySavingsPlansEligibleCost": {
                            "type": "double"
                        },
                        "savingsPercentage": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "Sk": {
            "type": "structure",
            "members": {
                "pricing": {
                    "type": "structure",
                    "members": {
                        "estimatedCostAfterDiscounts": {
                            "type": "double"
                        },
                        "estimatedCostBeforeDiscounts": {
                            "type": "double"
                        },
                        "estimatedDiscounts": {
                            "type": "structure",
                            "members": {
                                "otherDiscount": {
                                    "type": "double"
                                },
                                "reservedInstancesDiscount": {
                                    "type": "double"
                                },
                                "savingsPlansDiscount": {
                                    "type": "double"
                                }
                            }
                        },
                        "estimatedNetUnusedAmortizedCommitments": {
                            "type": "double"
                        }
                    }
                },
                "usages": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "operation": {},
                            "productCode": {},
                            "unit": {},
                            "usageAmount": {
                                "type": "double"
                            },
                            "usageType": {}
                        }
                    }
                }
            }
        },
        "Sr": {
            "type": "structure",
            "members": {
                "type": {}
            }
        },
        "Sz": {
            "type": "structure",
            "members": {
                "pricing": {
                    "type": "structure",
                    "members": {
                        "estimatedMonthlyAmortizedReservationCost": {
                            "type": "double"
                        },
                        "estimatedOnDemandCost": {
                            "type": "double"
                        },
                        "monthlyReservationEligibleCost": {
                            "type": "double"
                        },
                        "savingsPercentage": {
                            "type": "double"
                        }
                    }
                }
            }
        },
        "S13": {
            "type": "structure",
            "members": {
                "architecture": {},
                "memorySizeInMB": {
                    "type": "integer"
                },
                "platform": {},
                "vCpu": {
                    "type": "double"
                }
            }
        },
        "S1k": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "key": {},
                    "value": {}
                }
            }
        },
        "S1w": {
            "type": "structure",
            "members": {
                "accountIds": {
                    "type": "list",
                    "member": {}
                },
                "actionTypes": {
                    "type": "list",
                    "member": {}
                },
                "implementationEfforts": {
                    "type": "list",
                    "member": {}
                },
                "recommendationIds": {
                    "type": "list",
                    "member": {}
                },
                "regions": {
                    "type": "list",
                    "member": {}
                },
                "resourceArns": {
                    "type": "list",
                    "member": {}
                },
                "resourceIds": {
                    "type": "list",
                    "member": {}
                },
                "resourceTypes": {
                    "type": "list",
                    "member": {}
                },
                "restartNeeded": {
                    "type": "boolean"
                },
                "rollbackPossible": {
                    "type": "boolean"
                },
                "tags": {
                    "shape": "S1k"
                }
            }
        }
    }
}