{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-01-06",
        "endpointPrefix": "cur",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Cost and Usage Report Service",
        "serviceId": "Cost and Usage Report Service",
        "signatureVersion": "v4",
        "signingName": "cur",
        "targetPrefix": "AWSOrigamiServiceGatewayService",
        "uid": "cur-2017-01-06",
        "download_location": [
            "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "DeleteReportDefinition": {
            "input": {
                "type": "structure",
                "members": {
                    "ReportName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResponseMessage": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeReportDefinitions": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReportDefinitions": {
                        "type": "list",
                        "member": {
                            "shape": "Sa"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ModifyReportDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportName",
                    "ReportDefinition"
                ],
                "members": {
                    "ReportName": {},
                    "ReportDefinition": {
                        "shape": "Sa"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "PutReportDefinition": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportDefinition"
                ],
                "members": {
                    "ReportDefinition": {
                        "shape": "Sa"
                    },
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportName"
                ],
                "members": {
                    "ReportName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOAPC66LH3SGSYWSCXD62LW3QT7SV2LMKT7GMPOGTCPUOXL7TXLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportName",
                    "Tags"
                ],
                "members": {
                    "ReportName": {},
                    "Tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOAPC66LH3SGSYWSCXD62LW3QT7SV2LMKT7GMPOGTCPUOXL7TXLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ReportName",
                    "TagKeys"
                ],
                "members": {
                    "ReportName": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOAPC66LH3SGSYWSCXD62LW3QT7SV2LMKT7GMPOGTCPUOXL7TXLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2SRD7ZQJMHYPWIAOT3Z5YTTC363ALKHVUDAJUNVOKREY64QKBAKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4TOHDG2WFJQ6LFAV6YYMOBGQZH4HE6VWLWYQTHAJ3X6MKLBTJ6Q/app.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LCMYQJG2EJ25KQO2AYPFKSS57X3IQETXRSS7FVUMIPX7Y7GJL32A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YDFTDIA6BQLN667IN26Y7YR63QMAYYPDU3OKHZS53VUBXMUWXD5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAEAOOC4BPR2WZA3AIGHZHVLYACFRUDYYGGB72QORNKULMKJL7DA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OM7BPWFFHM7AGLOGYKTPS2IIF5SVI6JZVF54CDP2BINXBONMS6WA/vendors.js",
                "https://iotwireless.us-east-1.prod.console.iot.aws.dev/static/js/iotwireless.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "structure",
            "required": [
                "ReportName",
                "TimeUnit",
                "Format",
                "Compression",
                "AdditionalSchemaElements",
                "S3Bucket",
                "S3Prefix",
                "S3Region"
            ],
            "members": {
                "ReportName": {},
                "TimeUnit": {},
                "Format": {},
                "Compression": {},
                "AdditionalSchemaElements": {
                    "type": "list",
                    "member": {}
                },
                "S3Bucket": {},
                "S3Prefix": {},
                "S3Region": {},
                "AdditionalArtifacts": {
                    "type": "list",
                    "member": {}
                },
                "RefreshClosedReports": {
                    "type": "boolean"
                },
                "ReportVersioning": {}
            }
        },
        "St": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        }
    }
}