{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-15",
        "endpointPrefix": "profile",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Customer Profiles",
        "serviceFullName": "Amazon Connect Customer Profiles",
        "serviceId": "Customer Profiles",
        "signatureVersion": "v4",
        "signingName": "profile",
        "uid": "customer-profiles-2020-08-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
        ]
    },
    "operations": {
        "AddProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "Sb"
                    },
                    "Tags": {
                        "shape": "Sr"
                    },
                    "RuleBasedMatching": {
                        "shape": "S1c"
                    },
                    "DataVault": {
                        "shape": "S33"
                    },
                    "DataStore": {
                        "shape": "S34"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "Sv"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "CreateIntegrationWorkflow": {
            "http": {
                "requestUri": "/domains/{DomainName}/workflows/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowType",
                    "IntegrationConfig",
                    "ObjectTypeName",
                    "RoleArn"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowType": {},
                    "IntegrationConfig": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "FlowDefinition"
                                ],
                                "members": {
                                    "FlowDefinition": {
                                        "shape": "S11"
                                    },
                                    "Batches": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "StartTime",
                                                "EndTime"
                                            ],
                                            "members": {
                                                "StartTime": {
                                                    "type": "timestamp"
                                                },
                                                "EndTime": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ObjectTypeName": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Message"
                ],
                "members": {
                    "WorkflowId": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "AccountNumber": {},
                    "AdditionalInformation": {},
                    "PartyType": {},
                    "BusinessName": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {},
                    "BirthDate": {},
                    "Gender": {},
                    "PhoneNumber": {},
                    "MobilePhoneNumber": {},
                    "HomePhoneNumber": {},
                    "BusinessPhoneNumber": {},
                    "EmailAddress": {},
                    "PersonalEmailAddress": {},
                    "BusinessEmailAddress": {},
                    "Address": {
                        "shape": "S2h"
                    },
                    "ShippingAddress": {
                        "shape": "S2h"
                    },
                    "MailingAddress": {
                        "shape": "S2h"
                    },
                    "BillingAddress": {
                        "shape": "S2h"
                    },
                    "Attributes": {
                        "shape": "S2i"
                    },
                    "PartyTypeString": {},
                    "GenderString": {},
                    "ProfileType": {
                        "shape": "S11"
                    },
                    "EngagementPreferences": {
                        "shape": "S12"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteProfileObject": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/objects/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ProfileObjectUniqueKey",
                    "ObjectTypeName",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "ProfileObjectUniqueKey": {},
                    "ObjectTypeName": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteProfileObjectType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetAutoMergingPreview": {
            "http": {
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/auto-merging-preview"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Consolidation",
                    "ConflictResolution"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Consolidation": {
                        "shape": "Sh"
                    },
                    "ConflictResolution": {
                        "shape": "Sk"
                    },
                    "MinAllowedConfidenceScoreForMerging": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "NumberOfMatchesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesWillBeMerged": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Stats": {
                        "type": "structure",
                        "members": {
                            "ProfileCount": {
                                "type": "long"
                            },
                            "MeteringProfileCount": {
                                "type": "long"
                            },
                            "ObjectCount": {
                                "type": "long"
                            },
                            "TotalSize": {
                                "type": "long"
                            }
                        }
                    },
                    "Matching": {
                        "shape": "Sv"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetIdentityResolutionJob": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/{JobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "JobId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "JobId": {},
                    "Status": {},
                    "Message": {},
                    "JobStartTime": {
                        "type": "timestamp"
                    },
                    "JobEndTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "JobExpirationTime": {
                        "type": "timestamp"
                    },
                    "AutoMerging": {
                        "shape": "Sg"
                    },
                    "ExportingLocation": {
                        "shape": "S38"
                    },
                    "JobStats": {
                        "shape": "S3b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "Uri": {},
                    "ObjectTypeName": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    },
                    "ObjectTypeNames": {
                        "shape": "S3e"
                    },
                    "WorkflowId": {},
                    "IsUnstructured": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetMatches": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/matches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MatchGenerationDate": {
                        "type": "timestamp"
                    },
                    "PotentialMatches": {
                        "type": "integer"
                    },
                    "Matches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MatchId": {},
                                "ProfileIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ConfidenceScore": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetProfileObjectType": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObjectTypeName",
                    "Description"
                ],
                "members": {
                    "ObjectTypeName": {},
                    "Description": {},
                    "TemplateId": {},
                    "ExpirationDays": {
                        "type": "integer"
                    },
                    "EncryptionKey": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S3r"
                    },
                    "Keys": {
                        "shape": "S3u"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetProfileObjectTypeTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateId"
                ],
                "members": {
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "TemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateId": {},
                    "SourceName": {},
                    "SourceObject": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S3r"
                    },
                    "Keys": {
                        "shape": "S3u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Status": {},
                    "ErrorDescription": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Attributes": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "SourceConnectorType",
                                    "ConnectorProfileName"
                                ],
                                "members": {
                                    "SourceConnectorType": {},
                                    "ConnectorProfileName": {},
                                    "RoleArn": {}
                                }
                            }
                        }
                    },
                    "Metrics": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "RecordsProcessed",
                                    "StepsCompleted",
                                    "TotalSteps"
                                ],
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "StepsCompleted": {
                                        "type": "long"
                                    },
                                    "TotalSteps": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "GetWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}/steps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppflowIntegration": {
                                    "type": "structure",
                                    "required": [
                                        "FlowName",
                                        "Status",
                                        "ExecutionMessage",
                                        "RecordsProcessed",
                                        "BatchRecordsStartTime",
                                        "BatchRecordsEndTime",
                                        "CreatedAt",
                                        "LastUpdatedAt"
                                    ],
                                    "members": {
                                        "FlowName": {},
                                        "Status": {},
                                        "ExecutionMessage": {},
                                        "RecordsProcessed": {
                                            "type": "long"
                                        },
                                        "BatchRecordsStartTime": {},
                                        "BatchRecordsEndTime": {},
                                        "CreatedAt": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdatedAt": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CO7D7H56RMVISA5DG6GXKOJTBTYN4TCLCUBTY6MTEUUDNBK6RIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3KDQFEZ4PFUTJ672ZDRLNYFIZFWJQHXHXM4FZZFLM7NZI463TWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YA2JIKKMXVA2QMBIOCYSEPKUBKV5GTPOYU6HH4MH3A3WW2TYA7QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTRGRZQ3UYHH7XJBTHPESZ2IQ4C3BARSJXDR5RIEVRA3TPKMCAOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SIQRKHHHWWJXFE7UOXREQQ4CXEZJWNLIDUT7VA6W4GGL67EXUEXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKS4LEI7DQFRZ34IL4E652Q76PCRQ2SG7XHHKOVWHD3LLXH2QHCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZBQTVWRRO4SUEJJQLSGX7HHJNITWLJLSPMPFOISTLFCEIEN2IXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3R7EDNJ62CJTQ4VMIYOP2U24Q6IWUZHBHSFZ2NVU74UQ2RIBVLWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGRR45YHYJRG2COP3HI3C2TQRED6FEA7VURK74F4P6HM3OCPQAKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LRFWPMVYMGSRTTOAUVV5IDGWEBDMBMHKT6CNOGD3FDTCBXOCRVBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.js"
            ]
        },
        "ListAccountIntegrations": {
            "http": {
                "requestUri": "/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Uri"
                ],
                "members": {
                    "Uri": {},
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "IncludeHidden": {
                        "location": "querystring",
                        "locationName": "include-hidden",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "shape": "S4g"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFCEKSCW6XLR47PDJTA6RGI3AVYFMYNZTOSUHBP6LP52TQXBHFDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYJUIYXTGTY4JZVDUULADQELCJ5QPEVMK6QKHKVFHKYJHUB3DHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AA5OGR4FPKVYJHS2EGWCWGOTXRPE4644EPZUFMYMBVJO4HWKFQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QDF4Y3PNZCPSR6KH5QW23SSX5WMK5W3EYHNGPBSRXAH37AHATAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LXF25SRJZFCROR456Q64IAO4GXXUWJEWQQDYT4CTR7ZE44V2ROOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HNI7BSY6ZATJN6ANQ3JG4Z3CSWRDCOER3P6OYVCELVF3CFFCRJOQ/vendors.js",
[...]
