{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-08-15",
        "endpointPrefix": "profile",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Customer Profiles",
        "serviceFullName": "Amazon Connect Customer Profiles",
        "serviceId": "Customer Profiles",
        "signatureVersion": "v4",
        "signingName": "profile",
        "uid": "customer-profiles-2020-08-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AddProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "Sb"
                    },
                    "Tags": {
                        "shape": "Sr"
                    },
                    "RuleBasedMatching": {
                        "shape": "S1c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "DefaultExpirationDays",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Matching": {
                        "shape": "Sv"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateIntegrationWorkflow": {
            "http": {
                "requestUri": "/domains/{DomainName}/workflows/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowType",
                    "IntegrationConfig",
                    "ObjectTypeName",
                    "RoleArn"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowType": {},
                    "IntegrationConfig": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "FlowDefinition"
                                ],
                                "members": {
                                    "FlowDefinition": {
                                        "shape": "S11"
                                    },
                                    "Batches": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "StartTime",
                                                "EndTime"
                                            ],
                                            "members": {
                                                "StartTime": {
                                                    "type": "timestamp"
                                                },
                                                "EndTime": {
                                                    "type": "timestamp"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "ObjectTypeName": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "WorkflowId",
                    "Message"
                ],
                "members": {
                    "WorkflowId": {},
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLHBXVFXGG5A377M7Z3RQTB74TLYIECQUMXULNSL3HFQEZER53QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K7HRPXQ6W3NYLULGGOTMR6Z6JNHVDDZUV53IJA7RUDQCSKAN5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U3DVUIOBQDYWE7QDBHV72F3JWC54LY24GTD7C4FPL3FTK6U7L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "AccountNumber": {},
                    "AdditionalInformation": {},
                    "PartyType": {},
                    "BusinessName": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {},
                    "BirthDate": {},
                    "Gender": {},
                    "PhoneNumber": {},
                    "MobilePhoneNumber": {},
                    "HomePhoneNumber": {},
                    "BusinessPhoneNumber": {},
                    "EmailAddress": {},
                    "PersonalEmailAddress": {},
                    "BusinessEmailAddress": {},
                    "Address": {
                        "shape": "S2h"
                    },
                    "ShippingAddress": {
                        "shape": "S2h"
                    },
                    "MailingAddress": {
                        "shape": "S2h"
                    },
                    "BillingAddress": {
                        "shape": "S2h"
                    },
                    "Attributes": {
                        "shape": "S2i"
                    },
                    "PartyTypeString": {},
                    "GenderString": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProfileId"
                ],
                "members": {
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProfile": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProfileKey": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/keys/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "KeyName",
                    "Values",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "KeyName": {},
                    "Values": {
                        "shape": "S4"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProfileObject": {
            "http": {
                "requestUri": "/domains/{DomainName}/profiles/objects/delete"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ProfileId",
                    "ProfileObjectUniqueKey",
                    "ObjectTypeName",
                    "DomainName"
                ],
                "members": {
                    "ProfileId": {},
                    "ProfileObjectUniqueKey": {},
                    "ObjectTypeName": {},
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteProfileObjectType": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Message"
                ],
                "members": {
                    "Message": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLHBXVFXGG5A377M7Z3RQTB74TLYIECQUMXULNSL3HFQEZER53QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K7HRPXQ6W3NYLULGGOTMR6Z6JNHVDDZUV53IJA7RUDQCSKAN5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U3DVUIOBQDYWE7QDBHV72F3JWC54LY24GTD7C4FPL3FTK6U7L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetAutoMergingPreview": {
            "http": {
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/auto-merging-preview"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Consolidation",
                    "ConflictResolution"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Consolidation": {
                        "shape": "Sh"
                    },
                    "ConflictResolution": {
                        "shape": "Sk"
                    },
                    "MinAllowedConfidenceScoreForMerging": {
                        "type": "double"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "NumberOfMatchesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesInSample": {
                        "type": "long"
                    },
                    "NumberOfProfilesWillBeMerged": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLHBXVFXGG5A377M7Z3RQTB74TLYIECQUMXULNSL3HFQEZER53QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K7HRPXQ6W3NYLULGGOTMR6Z6JNHVDDZUV53IJA7RUDQCSKAN5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U3DVUIOBQDYWE7QDBHV72F3JWC54LY24GTD7C4FPL3FTK6U7L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "DefaultExpirationDays": {
                        "type": "integer"
                    },
                    "DefaultEncryptionKey": {},
                    "DeadLetterQueueUrl": {},
                    "Stats": {
                        "type": "structure",
                        "members": {
                            "ProfileCount": {
                                "type": "long"
                            },
                            "MeteringProfileCount": {
                                "type": "long"
                            },
                            "ObjectCount": {
                                "type": "long"
                            },
                            "TotalSize": {
                                "type": "long"
                            }
                        }
                    },
                    "Matching": {
                        "shape": "Sv"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetIdentityResolutionJob": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/identity-resolution-jobs/{JobId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "JobId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainName": {},
                    "JobId": {},
                    "Status": {},
                    "Message": {},
                    "JobStartTime": {
                        "type": "timestamp"
                    },
                    "JobEndTime": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "JobExpirationTime": {
                        "type": "timestamp"
                    },
                    "AutoMerging": {
                        "shape": "Sg"
                    },
                    "ExportingLocation": {
                        "shape": "S38"
                    },
                    "JobStats": {
                        "shape": "S3b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLHBXVFXGG5A377M7Z3RQTB74TLYIECQUMXULNSL3HFQEZER53QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K7HRPXQ6W3NYLULGGOTMR6Z6JNHVDDZUV53IJA7RUDQCSKAN5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U3DVUIOBQDYWE7QDBHV72F3JWC54LY24GTD7C4FPL3FTK6U7L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetIntegration": {
            "http": {
                "requestUri": "/domains/{DomainName}/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Uri": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Uri",
                    "CreatedAt",
                    "LastUpdatedAt"
                ],
                "members": {
                    "DomainName": {},
                    "Uri": {},
                    "ObjectTypeName": {},
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    },
                    "ObjectTypeNames": {
                        "shape": "S3e"
                    },
                    "WorkflowId": {},
                    "IsUnstructured": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetMatches": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/matches"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MatchGenerationDate": {
                        "type": "timestamp"
                    },
                    "PotentialMatches": {
                        "type": "integer"
                    },
                    "Matches": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MatchId": {},
                                "ProfileIds": {
                                    "type": "list",
                                    "member": {}
                                },
                                "ConfidenceScore": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JDNZ6YXC7FZZF4CINSIMYPC5ENFRQKYWKEBKZAMGGN6I7YHZABOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNYLIVUDPZNBOCJXWTBS6KCZ7OMIFKX7M75APCUK23GNZPXXR6UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProfileObjectType": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/object-types/{ObjectTypeName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "ObjectTypeName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ObjectTypeName": {
                        "location": "uri",
                        "locationName": "ObjectTypeName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ObjectTypeName",
                    "Description"
                ],
                "members": {
                    "ObjectTypeName": {},
                    "Description": {},
                    "TemplateId": {},
                    "ExpirationDays": {
                        "type": "integer"
                    },
                    "EncryptionKey": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S3r"
                    },
                    "Keys": {
                        "shape": "S3u"
                    },
                    "CreatedAt": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetProfileObjectTypeTemplate": {
            "http": {
                "method": "GET",
                "requestUri": "/templates/{TemplateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateId"
                ],
                "members": {
                    "TemplateId": {
                        "location": "uri",
                        "locationName": "TemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TemplateId": {},
                    "SourceName": {},
                    "SourceObject": {},
                    "AllowProfileCreation": {
                        "type": "boolean"
                    },
                    "SourceLastUpdatedTimestampFormat": {},
                    "Fields": {
                        "shape": "S3r"
                    },
                    "Keys": {
                        "shape": "S3u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Status": {},
                    "ErrorDescription": {},
                    "StartDate": {
                        "type": "timestamp"
                    },
                    "LastUpdatedAt": {
                        "type": "timestamp"
                    },
                    "Attributes": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "SourceConnectorType",
                                    "ConnectorProfileName"
                                ],
                                "members": {
                                    "SourceConnectorType": {},
                                    "ConnectorProfileName": {},
                                    "RoleArn": {}
                                }
                            }
                        }
                    },
                    "Metrics": {
                        "type": "structure",
                        "members": {
                            "AppflowIntegration": {
                                "type": "structure",
                                "required": [
                                    "RecordsProcessed",
                                    "StepsCompleted",
                                    "TotalSteps"
                                ],
                                "members": {
                                    "RecordsProcessed": {
                                        "type": "long"
                                    },
                                    "StepsCompleted": {
                                        "type": "long"
                                    },
                                    "TotalSteps": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLHBXVFXGG5A377M7Z3RQTB74TLYIECQUMXULNSL3HFQEZER53QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K7HRPXQ6W3NYLULGGOTMR6Z6JNHVDDZUV53IJA7RUDQCSKAN5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U3DVUIOBQDYWE7QDBHV72F3JWC54LY24GTD7C4FPL3FTK6U7L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetWorkflowSteps": {
            "http": {
                "method": "GET",
                "requestUri": "/domains/{DomainName}/workflows/{WorkflowId}/steps"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "WorkflowId"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "WorkflowId": {
                        "location": "uri",
                        "locationName": "WorkflowId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "WorkflowId": {},
                    "WorkflowType": {},
                    "Items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AppflowIntegration": {
                                    "type": "structure",
                                    "required": [
                                        "FlowName",
                                        "Status",
                                        "ExecutionMessage",
                                        "RecordsProcessed",
                                        "BatchRecordsStartTime",
                                        "BatchRecordsEndTime",
                                        "CreatedAt",
                                        "LastUpdatedAt"
                                    ],
                                    "members": {
                                        "FlowName": {},
                                        "Status": {},
                                        "ExecutionMessage": {},
                                        "RecordsProcessed": {
                                            "type": "long"
                                        },
                                        "BatchRecordsStartTime": {},
                                        "BatchRecordsEndTime": {},
                                        "CreatedAt": {
                                            "type": "timestamp"
                                        },
                                        "LastUpdatedAt": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VAXX4UZL6U3I5MMUPGTW2IE4HHK4KQOYL6O6O3GZSV6JJON7EVTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M52G2WUGNJZJIZX4EDS23ZTPTY7RWZOK3WDJEPSOHHJ3V2VP7HQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/22SANF7UWZQDJHNIQMKNNJBU5NMAQ7EU4ROXIMJGAT7V3VEJO5MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7EWDZWTOXNU4X7PU2BU2LMZOIQAVSFQ7764OGCZUKYTQI4TJLAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLHBXVFXGG5A377M7Z3RQTB74TLYIECQUMXULNSL3HFQEZER53QA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K7HRPXQ6W3NYLULGGOTMR6Z6JNHVDDZUV53IJA7RUDQCSKAN5OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6U3DVUIOBQDYWE7QDBHV72F3JWC54LY24GTD7C4FPL3FTK6U7L5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3ZCWHLB4IJ2SCE7PKRBWTQB3SEJDAIT7QISQMWTU7BDIPFTKH3PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QXCYHNJFVQH2HYOUM3LB3ZNJJGSDJ6T5JUP66XGCVKVQMZGOIIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEFWEEJJW4MX3QOKJFAX5JI6ZJGLXE3BITFFYI5CI6JL36N6DORA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NGK36DYUOBPYSI3GWIHAUUKZ544CTUV3VQJ3LBJ7M6UZ3YPZT3LA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListAccountIntegrations": {
            "http": {
                "requestUri": "/integrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Uri"
                ],
                "members": {
                    "Uri": {},
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "max-results",
                        "type": "integer"
                    },
                    "IncludeHidden": {
                        "location": "querystring",
                        "locationName": "include-hidden",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "shape": "S4g"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRQL4DIXIV27Z76LB3BKLTHN4U5BGPJDNNYJJUCS6HFJOXCBLEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F36S5HF6LU4KPI5XIEZW7HAWY5EP7SD45HUCYZYQOQUOSICTYOWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFYMZKK72WAWTRPHP34GQLZG5ODPISDD7Y36EC4KCMEF6KZ4TO6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.js",
[...]
