{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "dataexchange",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Data Exchange",
        "serviceId": "DataExchange",
        "signatureVersion": "v4",
        "signingName": "dataexchange",
        "uid": "dataexchange-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/jobs/{JobId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateDataSet": {
            "http": {
                "requestUri": "/v1/data-sets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetType",
                    "Description",
                    "Name"
                ],
                "members": {
                    "AssetType": {},
                    "Description": {},
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Description": {},
                    "Id": {},
                    "Name": {},
                    "Origin": {},
                    "OriginDetails": {
                        "shape": "Sd"
                    },
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateEventAction": {
            "http": {
                "requestUri": "/v1/event-actions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "Event"
                ],
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Id": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6RBIHKAWURWSFDWWFFQVK3CYUHNAHPDETVMADUB73EINZFKIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLICGNCIUM4B3XMY4ULBCW6MYXCQICZNSRZK7YTVPCU6YQZ2J2RQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GTGMLLBC2BD2XE7BUWX6TX3AB6NJ7URYLOZL7SWLC62B7RKV3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDSZS2GVM3YOSGVYEVZWCHDM3XU4XJNMAXFGMPCV7FVTMHU3YLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/v1/jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Details",
                    "Type"
                ],
                "members": {
                    "Details": {
                        "type": "structure",
                        "members": {
                            "ExportAssetToSignedUrl": {
                                "type": "structure",
                                "required": [
                                    "AssetId",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetId": {},
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ExportAssetsToS3": {
                                "type": "structure",
                                "required": [
                                    "AssetDestinations",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetDestinations": {
                                        "shape": "Sr"
                                    },
                                    "DataSetId": {},
                                    "Encryption": {
                                        "shape": "Sh"
                                    },
                                    "RevisionId": {}
                                }
                            },
                            "ExportRevisionsToS3": {
                                "type": "structure",
                                "required": [
                                    "DataSetId",
                                    "RevisionDestinations"
                                ],
                                "members": {
                                    "DataSetId": {},
                                    "Encryption": {
                                        "shape": "Sh"
                                    },
                                    "RevisionDestinations": {
                                        "shape": "Su"
                                    }
                                }
                            },
                            "ImportAssetFromSignedUrl": {
                                "type": "structure",
                                "required": [
                                    "AssetName",
                                    "DataSetId",
                                    "Md5Hash",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetName": {},
                                    "DataSetId": {},
                                    "Md5Hash": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromS3": {
                                "type": "structure",
                                "required": [
                                    "AssetSources",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSources": {
                                        "shape": "S10"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromRedshiftDataShares": {
                                "type": "structure",
                                "required": [
                                    "AssetSources",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSources": {
                                        "shape": "S13"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetFromApiGatewayApi": {
                                "type": "structure",
                                "required": [
                                    "ApiId",
                                    "ApiName",
                                    "ApiSpecificationMd5Hash",
                                    "DataSetId",
                                    "ProtocolType",
                                    "RevisionId",
                                    "Stage"
                                ],
                                "members": {
                                    "ApiDescription": {},
                                    "ApiId": {},
                                    "ApiKey": {},
                                    "ApiName": {},
                                    "ApiSpecificationMd5Hash": {},
                                    "DataSetId": {},
                                    "ProtocolType": {},
                                    "RevisionId": {},
                                    "Stage": {}
                                }
                            },
                            "CreateS3DataAccessFromS3Bucket": {
                                "type": "structure",
                                "required": [
                                    "AssetSource",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSource": {
                                        "shape": "S19"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromLakeFormationTagPolicy": {
                                "type": "structure",
                                "required": [
                                    "CatalogId",
                                    "RoleArn",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "CatalogId": {},
                                    "Database": {
                                        "shape": "S1d"
                                    },
                                    "Table": {
                                        "shape": "S1k"
                                    },
                                    "RoleArn": {},
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            }
                        }
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Details": {
                        "shape": "S1q"
                    },
                    "Errors": {
                        "shape": "S20"
                    },
                    "Id": {},
                    "State": {},
                    "Type": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateRevision": {
            "http": {
                "requestUri": "/v1/data-sets/{DataSetId}/revisions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "Comment": {},
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Comment": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Finalized": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    },
                    "RevocationComment": {},
                    "Revoked": {
                        "type": "boolean"
                    },
                    "RevokedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteAsset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetId",
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "AssetId": {
                        "location": "uri",
                        "locationName": "AssetId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteDataSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteEventAction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/event-actions/{EventActionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventActionId"
                ],
                "members": {
                    "EventActionId": {
                        "location": "uri",
                        "locationName": "EventActionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6RBIHKAWURWSFDWWFFQVK3CYUHNAHPDETVMADUB73EINZFKIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLICGNCIUM4B3XMY4ULBCW6MYXCQICZNSRZK7YTVPCU6YQZ2J2RQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GTGMLLBC2BD2XE7BUWX6TX3AB6NJ7URYLOZL7SWLC62B7RKV3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDSZS2GVM3YOSGVYEVZWCHDM3XU4XJNMAXFGMPCV7FVTMHU3YLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteRevision": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "GetAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetId",
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "AssetId": {
                        "location": "uri",
                        "locationName": "AssetId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetDetails": {
                        "shape": "S2k"
                    },
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Id": {},
                    "Name": {},
                    "RevisionId": {},
                    "SourceId": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "GetDataSet": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Description": {},
                    "Id": {},
                    "Name": {},
                    "Origin": {},
                    "OriginDetails": {
                        "shape": "Sd"
                    },
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "GetEventAction": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/event-actions/{EventActionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventActionId"
                ],
                "members": {
                    "EventActionId": {
                        "location": "uri",
                        "locationName": "EventActionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Id": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6RBIHKAWURWSFDWWFFQVK3CYUHNAHPDETVMADUB73EINZFKIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLICGNCIUM4B3XMY4ULBCW6MYXCQICZNSRZK7YTVPCU6YQZ2J2RQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GTGMLLBC2BD2XE7BUWX6TX3AB6NJ7URYLOZL7SWLC62B7RKV3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDSZS2GVM3YOSGVYEVZWCHDM3XU4XJNMAXFGMPCV7FVTMHU3YLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/jobs/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Details": {
                        "shape": "S1q"
                    },
                    "Errors": {
                        "shape": "S20"
                    },
                    "Id": {},
                    "State": {},
                    "Type": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "GetRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Comment": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Finalized": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    },
                    "RevocationComment": {},
                    "Revoked": {
                        "type": "boolean"
                    },
                    "RevokedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListDataSetRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Revisions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreatedAt",
                                "DataSetId",
                                "Id",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "Comment": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "DataSetId": {},
                                "Finalized": {
                                    "type": "boolean"
                                },
                                "Id": {},
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                },
                                "RevocationComment": {},
                                "Revoked": {
                                    "type": "boolean"
                                },
                                "RevokedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListDataSets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Origin": {
                        "location": "querystring",
                        "locationName": "origin"
                    },
                    "OriginDetailsAcceptanceState": {
                        "location": "querystring",
                        "locationName": "originDetailsAcceptanceState",
                        "type": "list",
                        "member": {}
                    },
                    "OriginDetailsEntitledBy": {
                        "location": "querystring",
                        "locationName": "originDetailsEntitledBy",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "AssetType",
                                "CreatedAt",
                                "Description",
                                "Id",
                                "Name",
                                "Origin",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "AssetType": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Description": {},
                                "Id": {},
                                "Name": {},
                                "Origin": {},
                                "OriginDetails": {
                                    "shape": "Sd"
                                },
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListEventActions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/event-actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EventSourceId": {
                        "location": "querystring",
                        "locationName": "eventSourceId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Action",
                                "Arn",
                                "CreatedAt",
                                "Event",
                                "Id",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Action": {
                                    "shape": "Sf"
                                },
                                "Arn": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Event": {
                                    "shape": "Sk"
                                },
                                "Id": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2K6RBIHKAWURWSFDWWFFQVK3CYUHNAHPDETVMADUB73EINZFKIKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLICGNCIUM4B3XMY4ULBCW6MYXCQICZNSRZK7YTVPCU6YQZ2J2RQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GTGMLLBC2BD2XE7BUWX6TX3AB6NJ7URYLOZL7SWLC62B7RKV3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDSZS2GVM3YOSGVYEVZWCHDM3XU4XJNMAXFGMPCV7FVTMHU3YLYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DataSetId": {
                        "location": "querystring",
                        "locationName": "dataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RevisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreatedAt",
                                "Details",
                                "Id",
                                "State",
                                "Type",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Details": {
                                    "shape": "S1q"
                                },
                                "Errors": {
                                    "shape": "S20"
                                },
                                "Id": {},
                                "State": {},
                                "Type": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListRevisionAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Assets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "AssetDetails",
                                "AssetType",
                                "CreatedAt",
                                "DataSetId",
                                "Id",
                                "Name",
                                "RevisionId",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "AssetDetails": {
                                    "shape": "S2k"
                                },
                                "AssetType": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "DataSetId": {},
                                "Id": {},
                                "Name": {},
                                "RevisionId": {},
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S7",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
[...]
