{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "databrew",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Glue DataBrew",
        "serviceId": "DataBrew",
        "signatureVersion": "v4",
        "signingName": "databrew",
        "uid": "databrew-2017-07-25",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
        ]
    },
    "operations": {
        "BatchDeleteRecipeVersion": {
            "http": {
                "requestUri": "/recipes/{name}/batchDeleteRecipeVersion"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersions"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "RecipeVersion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateDataset": {
            "http": {
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Input"
                ],
                "members": {
                    "Name": {},
                    "Format": {},
                    "FormatOptions": {
                        "shape": "Sd"
                    },
                    "Input": {
                        "shape": "So"
                    },
                    "PathOptions": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateProfileJob": {
            "http": {
                "requestUri": "/profileJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatasetName",
                    "Name",
                    "OutputLocation",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "OutputLocation": {
                        "shape": "Sp"
                    },
                    "Configuration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatasetName",
                    "Name",
                    "RecipeName",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "Name": {},
                    "RecipeName": {},
                    "Sample": {
                        "shape": "S2q"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateRecipe": {
            "http": {
                "requestUri": "/recipes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Name": {},
                    "Steps": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateRecipeJob": {
            "http": {
                "requestUri": "/recipeJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "ProjectName": {},
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateRuleset": {
            "http": {
                "requestUri": "/rulesets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "TargetArn",
                    "Rules"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "TargetArn": {},
                    "Rules": {
                        "shape": "S3r"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CronExpression",
                    "Name"
                ],
                "members": {
                    "JobNames": {
                        "shape": "S41"
                    },
                    "CronExpression": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/jobs/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DeleteRecipeVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recipes/{name}/recipeVersion/{recipeVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersion"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersion": {
                        "location": "uri",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersion"
                ],
                "members": {
                    "Name": {},
                    "RecipeVersion": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DeleteRuleset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rulesets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name",
                    "Input"
                ],
                "members": {
                    "CreatedBy": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "Format": {},
                    "FormatOptions": {
                        "shape": "Sd"
                    },
                    "Input": {
                        "shape": "So"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "Source": {},
                    "PathOptions": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "Type": {},
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "ProjectName": {},
                    "ProfileConfiguration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "ResourceArn": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}/jobRun/{runId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RunId"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RunId": {
                        "location": "uri",
                        "locationName": "runId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobName"
                ],
                "members": {
                    "Attempt": {
                        "type": "integer"
                    },
                    "CompletedOn": {
                        "type": "timestamp"
                    },
                    "DatasetName": {},
                    "ErrorMessage": {},
                    "ExecutionTime": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "ProfileConfiguration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RunId": {},
                    "State": {},
                    "LogSubscription": {},
                    "LogGroupName": {},
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "StartedBy": {},
                    "StartedOn": {
                        "type": "timestamp"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "DatasetName": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "Name": {},
                    "RecipeName": {},
                    "ResourceArn": {},
                    "Sample": {
                        "shape": "S2q"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "SessionStatus": {},
                    "OpenedBy": {},
                    "OpenDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeRecipe": {
            "http": {
                "method": "GET",
                "requestUri": "/recipes/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersion": {
                        "location": "querystring",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreatedBy": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ProjectName": {},
                    "PublishedBy": {},
                    "PublishedDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "Name": {},
                    "Steps": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "ResourceArn": {},
                    "RecipeVersion": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeRuleset": {
            "http": {
                "method": "GET",
                "requestUri": "/rulesets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "TargetArn": {},
                    "Rules": {
                        "shape": "S3r"
                    },
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "DescribeSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "JobNames": {
                        "shape": "S41"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ResourceArn": {},
                    "CronExpression": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datasets"
                ],
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Input"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreatedBy": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Format": {},
                                "FormatOptions": {
                                    "shape": "Sd"
                                },
                                "Input": {
                                    "shape": "So"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedBy": {},
                                "Source": {},
                                "PathOptions": {
                                    "shape": "S13"
                                },
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "ResourceArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListJobRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}/jobRuns"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobRuns"
                ],
                "members": {
                    "JobRuns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Attempt": {
                                    "type": "integer"
                                },
                                "CompletedOn": {
                                    "type": "timestamp"
                                },
                                "DatasetName": {},
                                "ErrorMessage": {},
                                "ExecutionTime": {
                                    "type": "integer"
                                },
                                "JobName": {},
                                "RunId": {},
                                "State": {},
                                "LogSubscription": {},
                                "LogGroupName": {},
                                "Outputs": {
                                    "shape": "S36"
                                },
                                "DataCatalogOutputs": {
                                    "shape": "S3f"
                                },
                                "DatabaseOutputs": {
                                    "shape": "S3j"
                                },
                                "RecipeReference": {
                                    "shape": "S3m"
                                },
                                "StartedBy": {},
                                "StartedOn": {
                                    "type": "timestamp"
                                },
                                "JobSample": {
                                    "shape": "S2k"
                                },
                                "ValidationConfigurations": {
                                    "shape": "S2g"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs"
            },
            "input": {
                "type": "structure",
                "members": {
                    "DatasetName": {
                        "location": "querystring",
                        "locationName": "datasetName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "ProjectName": {
                        "location": "querystring",
                        "locationName": "projectName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Jobs"
                ],
                "members": {
                    "Jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreatedBy": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "DatasetName": {},
                                "EncryptionKeyArn": {},
                                "EncryptionMode": {},
                                "Name": {},
                                "Type": {},
                                "LastModifiedBy": {},
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "LogSubscription": {},
                                "MaxCapacity": {
                                    "type": "integer"
                                },
                                "MaxRetries": {
                                    "type": "integer"
                                },
                                "Outputs": {
                                    "shape": "S36"
                                },
                                "DataCatalogOutputs": {
                                    "shape": "S3f"
                                },
                                "DatabaseOutputs": {
                                    "shape": "S3j"
                                },
                                "ProjectName": {},
                                "RecipeReference": {
                                    "shape": "S3m"
                                },
                                "ResourceArn": {},
                                "RoleArn": {},
                                "Timeout": {
                                    "type": "integer"
                                },
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "JobSample": {
                                    "shape": "S2k"
                                },
                                "ValidationConfigurations": {
                                    "shape": "S2g"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListProjects": {
            "http": {
                "method": "GET",
                "requestUri": "/projects"
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Projects"
                ],
                "members": {
                    "Projects": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "RecipeName"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "CreatedBy": {},
                                "DatasetName": {},
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedBy": {},
                                "Name": {},
                                "RecipeName": {},
                                "ResourceArn": {},
                                "Sample": {
                                    "shape": "S2q"
                                },
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "RoleArn": {},
                                "OpenedBy": {},
                                "OpenDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListRecipeVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/recipeVersions"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Name": {
                        "location": "querystring",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Recipes"
                ],
                "members": {
                    "NextToken": {},
                    "Recipes": {
                        "shape": "S5v"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListRecipes": {
            "http": {
                "method": "GET",
                "requestUri": "/recipes"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RecipeVersion": {
                        "location": "querystring",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Recipes"
                ],
                "members": {
                    "Recipes": {
                        "shape": "S5v"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListRulesets": {
            "http": {
                "method": "GET",
                "requestUri": "/rulesets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "TargetArn": {
                        "location": "querystring",
                        "locationName": "targetArn"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Rulesets"
                ],
                "members": {
                    "Rulesets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "TargetArn"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreatedBy": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "Description": {},
                                "LastModifiedBy": {},
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "ResourceArn": {},
                                "RuleCount": {
                                    "type": "integer"
                                },
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "TargetArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListSchedules": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules"
            },
            "input": {
                "type": "structure",
                "members": {
                    "JobName": {
                        "location": "querystring",
                        "locationName": "jobName"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Schedules"
                ],
                "members": {
                    "Schedules": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreatedBy": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "JobNames": {
                                    "shape": "S41"
                                },
                                "LastModifiedBy": {},
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "ResourceArn": {},
                                "CronExpression": {},
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "Name": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "PublishRecipe": {
            "http": {
                "requestUri": "/recipes/{name}/publishRecipe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Description": {},
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "SendProjectSessionAction": {
            "http": {
                "method": "PUT",
                "requestUri": "/projects/{name}/sendProjectSessionAction"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Preview": {
                        "type": "boolean"
                    },
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeStep": {
                        "shape": "S2x"
                    },
                    "StepIndex": {
                        "type": "integer"
                    },
                    "ClientSessionId": {
                        "shape": "S6f"
                    },
                    "ViewFrame": {
                        "type": "structure",
                        "required": [
                            "StartColumnIndex"
                        ],
                        "members": {
                            "StartColumnIndex": {
                                "type": "integer"
                            },
                            "ColumnRange": {
                                "type": "integer"
                            },
                            "HiddenColumns": {
                                "type": "list",
                                "member": {}
                            },
                            "StartRowIndex": {
                                "type": "integer"
                            },
                            "RowRange": {
                                "type": "integer"
                            },
                            "Analytics": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Result": {},
                    "Name": {},
                    "ActionId": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMHBFGMLQFEL6GSGSZRDYPOLFWHZDCUE2UFSSDDZNWSLF2GJFHUQ/main.tb.js"
            ]
        },
        "StartJobRun": {
            "http": {
                "requestUri": "/jobs/{name}/startJobRun"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "RunId"
                ],
                "members": {
                    "RunId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HH4UGRW62CRJBWZASVKWF3T77SFUP5VHIFLMAKUEMY5RJZMBWWEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MMCAE3DPC2YWBNYKLJLZXPWXC3H3AG7SOAFU3ID3QNODN4TT5LA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCWCOSLOXTIBQBVV6WWMJMAY7YLYUVTKNIUV6E2N5J3TWLU7PPXA/vendors.js",
[...]
