{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "dataexchange",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Data Exchange",
        "serviceId": "DataExchange",
        "signatureVersion": "v4",
        "signingName": "dataexchange",
        "uid": "dataexchange-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZG7BS7LUXNTNZCKZYL2ENBDFC6ZBCDQGZFGN3KYMU5NMESMGA47A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/jobs/{JobId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateDataSet": {
            "http": {
                "requestUri": "/v1/data-sets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetType",
                    "Description",
                    "Name"
                ],
                "members": {
                    "AssetType": {},
                    "Description": {},
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Description": {},
                    "Id": {},
                    "Name": {},
                    "Origin": {},
                    "OriginDetails": {
                        "shape": "Sd"
                    },
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateEventAction": {
            "http": {
                "requestUri": "/v1/event-actions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "Event"
                ],
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Event": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Id": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPLUJY56GGYWL7X74TXQONZJODLTHBY3GWHHFSZCIEYHG3R52XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CHY3FVTYCQ7IDNQY25GDKJRLKQ7VLNBZSDPARB2OMZNDIF5LGFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZG7BS7LUXNTNZCKZYL2ENBDFC6ZBCDQGZFGN3KYMU5NMESMGA47A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/v1/jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Details",
                    "Type"
                ],
                "members": {
                    "Details": {
                        "type": "structure",
                        "members": {
                            "ExportAssetToSignedUrl": {
                                "type": "structure",
                                "required": [
                                    "AssetId",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetId": {},
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ExportAssetsToS3": {
                                "type": "structure",
                                "required": [
                                    "AssetDestinations",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetDestinations": {
                                        "shape": "Sr"
                                    },
                                    "DataSetId": {},
                                    "Encryption": {
                                        "shape": "Sh"
                                    },
                                    "RevisionId": {}
                                }
                            },
                            "ExportRevisionsToS3": {
                                "type": "structure",
                                "required": [
                                    "DataSetId",
                                    "RevisionDestinations"
                                ],
                                "members": {
                                    "DataSetId": {},
                                    "Encryption": {
                                        "shape": "Sh"
                                    },
                                    "RevisionDestinations": {
                                        "shape": "Su"
                                    }
                                }
                            },
                            "ImportAssetFromSignedUrl": {
                                "type": "structure",
                                "required": [
                                    "AssetName",
                                    "DataSetId",
                                    "Md5Hash",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetName": {},
                                    "DataSetId": {},
                                    "Md5Hash": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromS3": {
                                "type": "structure",
                                "required": [
                                    "AssetSources",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSources": {
                                        "shape": "S10"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromRedshiftDataShares": {
                                "type": "structure",
                                "required": [
                                    "AssetSources",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSources": {
                                        "shape": "S13"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetFromApiGatewayApi": {
                                "type": "structure",
                                "required": [
                                    "ApiId",
                                    "ApiName",
                                    "ApiSpecificationMd5Hash",
                                    "DataSetId",
                                    "ProtocolType",
                                    "RevisionId",
                                    "Stage"
                                ],
                                "members": {
                                    "ApiDescription": {},
                                    "ApiId": {},
                                    "ApiKey": {},
                                    "ApiName": {},
                                    "ApiSpecificationMd5Hash": {},
                                    "DataSetId": {},
                                    "ProtocolType": {},
                                    "RevisionId": {},
                                    "Stage": {}
                                }
                            },
                            "CreateS3DataAccessFromS3Bucket": {
                                "type": "structure",
                                "required": [
                                    "AssetSource",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSource": {
                                        "shape": "S19"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromLakeFormationTagPolicy": {
                                "type": "structure",
                                "required": [
                                    "CatalogId",
                                    "RoleArn",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "CatalogId": {},
                                    "Database": {
                                        "shape": "S1d"
                                    },
                                    "Table": {
                                        "shape": "S1k"
                                    },
                                    "RoleArn": {},
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            }
                        }
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Details": {
                        "shape": "S1q"
                    },
                    "Errors": {
                        "shape": "S20"
                    },
                    "Id": {},
                    "State": {},
                    "Type": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "CreateRevision": {
            "http": {
                "requestUri": "/v1/data-sets/{DataSetId}/revisions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "Comment": {},
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Comment": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Finalized": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    },
                    "RevocationComment": {},
                    "Revoked": {
                        "type": "boolean"
                    },
                    "RevokedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteAsset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetId",
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "AssetId": {
                        "location": "uri",
                        "locationName": "AssetId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteDataSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteEventAction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/event-actions/{EventActionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventActionId"
                ],
                "members": {
                    "EventActionId": {
                        "location": "uri",
                        "locationName": "EventActionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPLUJY56GGYWL7X74TXQONZJODLTHBY3GWHHFSZCIEYHG3R52XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CHY3FVTYCQ7IDNQY25GDKJRLKQ7VLNBZSDPARB2OMZNDIF5LGFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZG7BS7LUXNTNZCKZYL2ENBDFC6ZBCDQGZFGN3KYMU5NMESMGA47A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteRevision": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetId",
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "AssetId": {
                        "location": "uri",
                        "locationName": "AssetId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetDetails": {
                        "shape": "S2k"
                    },
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Id": {},
                    "Name": {},
                    "RevisionId": {},
                    "SourceId": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetDataSet": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Description": {},
                    "Id": {},
                    "Name": {},
                    "Origin": {},
                    "OriginDetails": {
                        "shape": "Sd"
                    },
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetEventAction": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/event-actions/{EventActionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventActionId"
                ],
                "members": {
                    "EventActionId": {
                        "location": "uri",
                        "locationName": "EventActionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Id": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPLUJY56GGYWL7X74TXQONZJODLTHBY3GWHHFSZCIEYHG3R52XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CHY3FVTYCQ7IDNQY25GDKJRLKQ7VLNBZSDPARB2OMZNDIF5LGFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZG7BS7LUXNTNZCKZYL2ENBDFC6ZBCDQGZFGN3KYMU5NMESMGA47A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/jobs/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Details": {
                        "shape": "S1q"
                    },
                    "Errors": {
                        "shape": "S20"
                    },
                    "Id": {},
                    "State": {},
                    "Type": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Comment": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Finalized": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    },
                    "RevocationComment": {},
                    "Revoked": {
                        "type": "boolean"
                    },
                    "RevokedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListDataSetRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Revisions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreatedAt",
                                "DataSetId",
                                "Id",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "Comment": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "DataSetId": {},
                                "Finalized": {
                                    "type": "boolean"
                                },
                                "Id": {},
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                },
                                "RevocationComment": {},
                                "Revoked": {
                                    "type": "boolean"
                                },
                                "RevokedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListDataSets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Origin": {
                        "location": "querystring",
                        "locationName": "origin"
                    },
                    "OriginDetailsAcceptanceState": {
                        "location": "querystring",
                        "locationName": "originDetailsAcceptanceState",
                        "type": "list",
                        "member": {}
                    },
                    "OriginDetailsEntitledBy": {
                        "location": "querystring",
                        "locationName": "originDetailsEntitledBy",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "AssetType",
                                "CreatedAt",
                                "Description",
                                "Id",
                                "Name",
                                "Origin",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "AssetType": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Description": {},
                                "Id": {},
                                "Name": {},
                                "Origin": {},
                                "OriginDetails": {
                                    "shape": "Sd"
                                },
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListEventActions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/event-actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EventSourceId": {
                        "location": "querystring",
                        "locationName": "eventSourceId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Action",
                                "Arn",
                                "CreatedAt",
                                "Event",
                                "Id",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Action": {
                                    "shape": "Sf"
                                },
                                "Arn": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Event": {
                                    "shape": "Sk"
                                },
                                "Id": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FPLUJY56GGYWL7X74TXQONZJODLTHBY3GWHHFSZCIEYHG3R52XDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CHY3FVTYCQ7IDNQY25GDKJRLKQ7VLNBZSDPARB2OMZNDIF5LGFFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZG7BS7LUXNTNZCKZYL2ENBDFC6ZBCDQGZFGN3KYMU5NMESMGA47A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DataSetId": {
                        "location": "querystring",
                        "locationName": "dataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RevisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreatedAt",
                                "Details",
                                "Id",
                                "State",
                                "Type",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Details": {
                                    "shape": "S1q"
                                },
                                "Errors": {
                                    "shape": "S20"
                                },
                                "Id": {},
                                "State": {},
                                "Type": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListRevisionAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Assets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "AssetDetails",
                                "AssetType",
                                "CreatedAt",
                                "DataSetId",
                                "Id",
                                "Name",
                                "RevisionId",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "AssetDetails": {
                                    "shape": "S2k"
                                },
                                "AssetType": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "DataSetId": {},
                                "Id": {},
                                "Name": {},
                                "RevisionId": {},
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HXTUDT6BWCHEXFAOB3L3FFNJCWI3OAB7EA2ACULIJWBQONQLVJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIEBEX6KSP62AMLWY3ISQXABHXBZVGLX2BVIOCT4XHHEEXWJSOHA/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EZWJL76NEAPWTTOSO5TXDLJAYX3IO7KZUR3RKGSMUDELJ7YFYUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS7EFQCI75273F2KNUSMF7J4R7WMFUGABY42XHBJHPGABX5E3DA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YSYMS6E4KKJILEB77LHHJ7UR5IENZSVSEFVYYFF47CZU4L3LEFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S7",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CQLQ7CL7FZFXX43YO5BURF7CR2CR5Z2TLG3HUWQKMM36HO5Z4AWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
[...]
