{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-15",
        "endpointPrefix": "data-protection-appliance",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Backup Data Protection Gateway",
        "serviceId": "DPG",
        "signatureVersion": "v4",
        "uid": "data-protection-appliance-2018-11-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
        ]
    },
    "operations": {
        "DeregisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/deregister-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplianceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "DescribeAppliance": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "DescribeResource": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resource-id"
                    },
                    "ContainerId": {
                        "location": "querystring",
                        "locationName": "container-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "DiscoverResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/discover-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "Name",
                    "ConnectivityInfo",
                    "CredentialInfo"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "Name": {},
                    "ConnectivityInfo": {},
                    "CredentialInfo": {},
                    "AwsTags": {
                        "shape": "Sb"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceContainerId"
                ],
                "members": {
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "ListAppliances": {
            "http": {
                "method": "GET",
                "requestUri": "/list-appliances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplianceInfos"
                ],
                "members": {
                    "ApplianceInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "ListResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/list-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceContainerId": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "RegisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/register-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceName",
                    "PartnerId",
                    "ApplianceRole",
                    "EnablePartnerDataAccess"
                ],
                "members": {
                    "ApplianceName": {},
                    "PartnerId": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActivationToken": {},
                    "ApplianceId": {},
                    "ApplianceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "RemoveResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/remove-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "ResourceContainerId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "UpdateAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/update-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ApplianceName": {},
                    "ApplianceDescription": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "ListPartners": {
            "http": {
                "method": "GET",
                "requestUri": "/list-partners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PartnerInfos"
                ],
                "members": {
                    "PartnerInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "PartnerId": {},
                                "MinimumApplianceVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GH7PTEVJIG6ZYQJWCKNGUCZ5D2SWWPLAEI6RL5PNZTZUXL7MKYEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJB4ZV63SDQYGOXEG6VJCNL2MYN4SCJ4M76FHSI7IMOPMWZFTOEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4OPR2WJ7PNIKPBQANCZMCBIGB4345Z6LENSBTWBXIXYXOJR4WTQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWKQXOI5PSN3FOVZSJLAY4DNC4CLHYOGJ2J44VBH44CBAZC6B5LQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVDCV3S3SUBUN4HWXO44YPZY2ZD3LLMBYWDFSVP2ZMDWJWLMPGXA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4YTEE6FGLMXQVLQOSOTKTCM5ZT536QQ3DUO4FOLCYXTXRPCQK7RA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBM6RH4EUZHCJQP2DDYXZOXVJWATTWT5CAJ5S4GKGLLM6CYZLXQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXN62TIYPVKHLPEA5V7BFAPRTQY4J4PVBGS4EB6A3CGNSQCJSUVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DQ3THMUIJIVTE226PTKLQHRM57GZX6Z5MDHYBYYLEW63WM23Y35A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SCTMLXGN2JENRRDQKTM5UIIRYTFOPTGMA5L56DTIUC5O7WDAIWWQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFEQ45ZJK2QJ7UBCRC5IOVE2ELCZDGTQ4EQH3XGVSMND36UTNATQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYONY6AB7V4LUTNXQIABII2FHANO5Y25LCMSICQGZOIIUHWCTICQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VSWFPJUEKN2X7CISLXGUSXWS2VZXJLYRUUQ3DRZ5R6GLYVAK34QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Id",
                "Arn",
                "Name",
                "ActivationDate",
                "Version",
                "LastUpdateDate",
                "Status",
                "PartnerId",
                "IsPartnerDataAccessEnabled",
                "ApplianceRole",
                "AwsTags",
                "ApplianceTags"
            ],
            "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "ActivationDate": {
                    "type": "timestamp"
                },
                "Version": {
                    "type": "long"
                },
                "LastUpdateDate": {
                    "type": "timestamp"
                },
                "LastHeartbeatDate": {
                    "type": "timestamp"
                },
                "Description": {},
                "Status": {},
                "PartnerId": {},
                "PartnerName": {},
                "IsPartnerDataAccessEnabled": {
                    "type": "boolean"
                },
                "ApplianceRole": {},
                "AwsTags": {
                    "shape": "Sb"
                },
                "ApplianceTags": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "ApplianceId": {},
                "Id": {},
                "ContainderId": {},
                "IsResourceContainer": {
                    "type": "boolean"
                },
                "ConnectivityInfo": {},
                "Arn": {},
                "Name": {},
                "Category": {},
                "Type": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastUpdateTime": {
                    "type": "timestamp"
                },
                "LastSuccessfulBackupTime": {
                    "type": "timestamp"
                },
                "Tags": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "key": {},
                            "value": {}
                        }
                    }
                },
                "Status": {},
                "StatusMessage": {},
                "MetadataMap": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}