{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-15",
        "endpointPrefix": "data-protection-appliance",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Backup Data Protection Gateway",
        "serviceId": "DPG",
        "signatureVersion": "v4",
        "uid": "data-protection-appliance-2018-11-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
        ]
    },
    "operations": {
        "DeregisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/deregister-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplianceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "DescribeAppliance": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "DescribeResource": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resource-id"
                    },
                    "ContainerId": {
                        "location": "querystring",
                        "locationName": "container-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "DiscoverResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/discover-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "Name",
                    "ConnectivityInfo",
                    "CredentialInfo"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "Name": {},
                    "ConnectivityInfo": {},
                    "CredentialInfo": {},
                    "AwsTags": {
                        "shape": "Sb"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceContainerId"
                ],
                "members": {
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "ListAppliances": {
            "http": {
                "method": "GET",
                "requestUri": "/list-appliances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplianceInfos"
                ],
                "members": {
                    "ApplianceInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "ListResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/list-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceContainerId": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "RegisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/register-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceName",
                    "PartnerId",
                    "ApplianceRole",
                    "EnablePartnerDataAccess"
                ],
                "members": {
                    "ApplianceName": {},
                    "PartnerId": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActivationToken": {},
                    "ApplianceId": {},
                    "ApplianceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "RemoveResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/remove-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "ResourceContainerId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "UpdateAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/update-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ApplianceName": {},
                    "ApplianceDescription": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        },
        "ListPartners": {
            "http": {
                "method": "GET",
                "requestUri": "/list-partners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PartnerInfos"
                ],
                "members": {
                    "PartnerInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "PartnerId": {},
                                "MinimumApplianceVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3HLXEWKPYVYJQCS2BX44VCR7JWOQZ7XJ2ULOAUTIBWRJUIXMAFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PR5AEGYTSG52QAON3F6ARGJR5ZPOJ4GUBNFABSHVRGAPDIWRYAIQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU5NWGI7TGQTE7NQ3K5WHNHRYEETA2QIVQZM2BTKXXZS2RFLDZQA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBZP7AIO7ITP6NRAJ434ZOE42PO5CFQLITOEA4YQHPV5MFL4K7BQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I33TWBBPBGNCOXRFA2S6PNPXNBUUVLYCK7UCVEGG3XS2DDXLHDBA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWCQP7XG4FDUXV5EXLEHJQLQ2A3Q6YATU6AWMMON6HLLGQ4YW3QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JEZ5O4OGQZU5BEUB75EBFMZXT3WRVPHKZSGOD6BYCUXFJFANRD2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2WHR35GU34MRJ4VWBRRLY6UHYU3CEAQMVWCQTVDLG3FOMPV27VA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RGCQMEUHZ6RDPILD55PXMOXMCKYIJY6KCM727G2HLV42ONVGG72Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVM35FOPTG5BY7BZ2WV5RONPCONMCEWWVK5UA2YQNN7JTPCMQD7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OILFBQ2JZKD7HVU7CUGONCNACYUFYRMNN4UQX7GH5BWU2HVIOI5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NHLCA7XXD77XPB535LRT2LMOO4MNMY4KSHB2FRM7UVSGXW7NHUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QDQF54STUGKDURUFTMZ7FDHC7TZTDMORV7QLYBUBHTT4LSQZDDJA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RPWJMVF7BBJRICMGCBGCOTGGKXFQP3YMC6UZV3TH65AVOX53VFQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HOB5WTEB5Z66PFEYUTRWUE6Z2NZUNTOIRLUBCXFVN6H6EZRJVMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2COVLD4KW24B5CKBUTF24CL6PILW5PYN3PVEV4F2GY2OODAC7XA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUOIZLNKATGRFUIXJZ3OXNFEYNMV3FBOWPJZQAK32K5ODWXATGCA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJLUZF7MLE5F3IKY53XN47WKH4S5SMQVCFSSZ254VSV3ZEP4RPBQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HB5XFKTBEBF5PHGEPK3ZDOIC5QFK3Q47QWLDZX7VBBTRDNXFHNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Id",
                "Arn",
                "Name",
                "ActivationDate",
                "Version",
                "LastUpdateDate",
                "Status",
                "PartnerId",
                "IsPartnerDataAccessEnabled",
                "ApplianceRole",
                "AwsTags",
                "ApplianceTags"
            ],
            "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "ActivationDate": {
                    "type": "timestamp"
                },
                "Version": {
                    "type": "long"
                },
                "LastUpdateDate": {
                    "type": "timestamp"
                },
                "LastHeartbeatDate": {
                    "type": "timestamp"
                },
                "Description": {},
                "Status": {},
                "PartnerId": {},
                "PartnerName": {},
                "IsPartnerDataAccessEnabled": {
                    "type": "boolean"
                },
                "ApplianceRole": {},
                "AwsTags": {
                    "shape": "Sb"
                },
                "ApplianceTags": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "ApplianceId": {},
                "Id": {},
                "ContainderId": {},
                "IsResourceContainer": {
                    "type": "boolean"
                },
                "ConnectivityInfo": {},
                "Arn": {},
                "Name": {},
                "Category": {},
                "Type": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastUpdateTime": {
                    "type": "timestamp"
                },
                "LastSuccessfulBackupTime": {
                    "type": "timestamp"
                },
                "Tags": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "key": {},
                            "value": {}
                        }
                    }
                },
                "Status": {},
                "StatusMessage": {},
                "MetadataMap": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}