{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "databrew",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Glue DataBrew",
        "serviceId": "DataBrew",
        "signatureVersion": "v4",
        "signingName": "databrew",
        "uid": "databrew-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NABP362NH6QTNIQMFNG5HRPHIQNK2ASQAKJXZSH34TLAK4RVHJDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
        ]
    },
    "operations": {
        "BatchDeleteRecipeVersion": {
            "http": {
                "requestUri": "/recipes/{name}/batchDeleteRecipeVersion"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersions"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "RecipeVersion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateDataset": {
            "http": {
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Input"
                ],
                "members": {
                    "Name": {},
                    "Format": {},
                    "FormatOptions": {
                        "shape": "Sd"
                    },
                    "Input": {
                        "shape": "So"
                    },
                    "PathOptions": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateProfileJob": {
            "http": {
                "requestUri": "/profileJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatasetName",
                    "Name",
                    "OutputLocation",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "OutputLocation": {
                        "shape": "Sp"
                    },
                    "Configuration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatasetName",
                    "Name",
                    "RecipeName",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "Name": {},
                    "RecipeName": {},
                    "Sample": {
                        "shape": "S2q"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateRecipe": {
            "http": {
                "requestUri": "/recipes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Name": {},
                    "Steps": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateRecipeJob": {
            "http": {
                "requestUri": "/recipeJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "ProjectName": {},
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateRuleset": {
            "http": {
                "requestUri": "/rulesets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "TargetArn",
                    "Rules"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "TargetArn": {},
                    "Rules": {
                        "shape": "S3r"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NABP362NH6QTNIQMFNG5HRPHIQNK2ASQAKJXZSH34TLAK4RVHJDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CronExpression",
                    "Name"
                ],
                "members": {
                    "JobNames": {
                        "shape": "S41"
                    },
                    "CronExpression": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/jobs/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DeleteRecipeVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recipes/{name}/recipeVersion/{recipeVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersion"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersion": {
                        "location": "uri",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersion"
                ],
                "members": {
                    "Name": {},
                    "RecipeVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DeleteRuleset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rulesets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NABP362NH6QTNIQMFNG5HRPHIQNK2ASQAKJXZSH34TLAK4RVHJDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name",
                    "Input"
                ],
                "members": {
                    "CreatedBy": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "Format": {},
                    "FormatOptions": {
                        "shape": "Sd"
                    },
                    "Input": {
                        "shape": "So"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "Source": {},
                    "PathOptions": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "Type": {},
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "ProjectName": {},
                    "ProfileConfiguration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "ResourceArn": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}/jobRun/{runId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RunId"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RunId": {
                        "location": "uri",
                        "locationName": "runId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobName"
                ],
                "members": {
                    "Attempt": {
                        "type": "integer"
                    },
                    "CompletedOn": {
                        "type": "timestamp"
                    },
                    "DatasetName": {},
                    "ErrorMessage": {},
                    "ExecutionTime": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "ProfileConfiguration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RunId": {},
                    "State": {},
                    "LogSubscription": {},
                    "LogGroupName": {},
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "StartedBy": {},
                    "StartedOn": {
                        "type": "timestamp"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "DatasetName": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "Name": {},
                    "RecipeName": {},
                    "ResourceArn": {},
                    "Sample": {
                        "shape": "S2q"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "SessionStatus": {},
                    "OpenedBy": {},
                    "OpenDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeRecipe": {
            "http": {
                "method": "GET",
                "requestUri": "/recipes/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersion": {
                        "location": "querystring",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreatedBy": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ProjectName": {},
                    "PublishedBy": {},
                    "PublishedDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "Name": {},
                    "Steps": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "ResourceArn": {},
                    "RecipeVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeRuleset": {
            "http": {
                "method": "GET",
                "requestUri": "/rulesets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "TargetArn": {},
                    "Rules": {
                        "shape": "S3r"
                    },
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KSYZYRLBHRTTMTB43LPW3YESUHAKY75U4LSQLQ7XF74ZAJWFWLQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMSN4GT4TQRZGEQHJKQ62VRC5FP3Z626QAOHHQDOD6UJVDS4QEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M4GXYWBH452T7MLSD5V55VD55JJUEHDJ47O47AA4NXANRHTJ3UXQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POOLO6KSQUEJKZ5HRMSVE7DW5NY6IK25RLUP2KWQVCSCD2GWFDCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TC4NHSL6KLWJJ6NI3SIWTDWMBIRWWUFCGPSMDDIOUIXVTJU2OYGQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NABP362NH6QTNIQMFNG5HRPHIQNK2ASQAKJXZSH34TLAK4RVHJDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "DescribeSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "JobNames": {
                        "shape": "S41"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ResourceArn": {},
                    "CronExpression": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datasets"
                ],
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Input"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreatedBy": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Format": {},
                                "FormatOptions": {
                                    "shape": "Sd"
                                },
                                "Input": {
                                    "shape": "So"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedBy": {},
                                "Source": {},
                                "PathOptions": {
                                    "shape": "S13"
                                },
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "ResourceArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3Q356LRM4XIJHPZ7F5ZULLT7YRMFXVFAQT7YXYT6DHHEMWRDLYQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NSHNJOT2QU3UHRL5L335FPBGIXNO57CFONJMWFVJRT3KG63UPQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKQHRDAVAO6Q6ICSKNWKLBUW4SQLUXTXPKXF56FIPMZOXYSBT5FQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HST4SVFFEP5FIAHOM7ERIW7LL3CX2X2GBKWB6Q5W3IZ6RUNRODYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5SRADPUQR7OGCGYB24VYTTYYVQ5VTNW4WPJDSWSEHKSU2NOW6NQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZMKV444HHDCE64RNXHVWJ4MBEUGKCZNZTHGWOIBS7KASLBNJX7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDT4FTTNFJPFD2WNAMHJ6CHLE6HQTXRSL4V4SQMXTULJUXDYHUIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PXRMKSCJDGOJV2S7RTDV6YZMCA4DESD7ZWQOQG6XFRMZDKXA2PA/vendors.js"
            ]
[...]
