{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "dataexchange",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Data Exchange",
        "serviceId": "DataExchange",
        "signatureVersion": "v4",
        "signingName": "dataexchange",
        "uid": "dataexchange-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
        ]
    },
    "operations": {
        "CancelJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/jobs/{JobId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "CreateDataSet": {
            "http": {
                "requestUri": "/v1/data-sets",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetType",
                    "Description",
                    "Name"
                ],
                "members": {
                    "AssetType": {},
                    "Description": {},
                    "Name": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Description": {},
                    "Id": {},
                    "Name": {},
                    "Origin": {},
                    "OriginDetails": {
                        "shape": "Sd"
                    },
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "CreateEventAction": {
            "http": {
                "requestUri": "/v1/event-actions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "Event"
                ],
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Event": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Id": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HNLA2R24P2O3LB2OBXTOODIN4PPCT56M72ORDKZVWSMN3C32AWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/v1/jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "Details",
                    "Type"
                ],
                "members": {
                    "Details": {
                        "type": "structure",
                        "members": {
                            "ExportAssetToSignedUrl": {
                                "type": "structure",
                                "required": [
                                    "AssetId",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetId": {},
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ExportAssetsToS3": {
                                "type": "structure",
                                "required": [
                                    "AssetDestinations",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetDestinations": {
                                        "shape": "Sr"
                                    },
                                    "DataSetId": {},
                                    "Encryption": {
                                        "shape": "Sh"
                                    },
                                    "RevisionId": {}
                                }
                            },
                            "ExportRevisionsToS3": {
                                "type": "structure",
                                "required": [
                                    "DataSetId",
                                    "RevisionDestinations"
                                ],
                                "members": {
                                    "DataSetId": {},
                                    "Encryption": {
                                        "shape": "Sh"
                                    },
                                    "RevisionDestinations": {
                                        "shape": "Su"
                                    }
                                }
                            },
                            "ImportAssetFromSignedUrl": {
                                "type": "structure",
                                "required": [
                                    "AssetName",
                                    "DataSetId",
                                    "Md5Hash",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetName": {},
                                    "DataSetId": {},
                                    "Md5Hash": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromS3": {
                                "type": "structure",
                                "required": [
                                    "AssetSources",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSources": {
                                        "shape": "S10"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromRedshiftDataShares": {
                                "type": "structure",
                                "required": [
                                    "AssetSources",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSources": {
                                        "shape": "S13"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetFromApiGatewayApi": {
                                "type": "structure",
                                "required": [
                                    "ApiId",
                                    "ApiName",
                                    "ApiSpecificationMd5Hash",
                                    "DataSetId",
                                    "ProtocolType",
                                    "RevisionId",
                                    "Stage"
                                ],
                                "members": {
                                    "ApiDescription": {},
                                    "ApiId": {},
                                    "ApiKey": {},
                                    "ApiName": {},
                                    "ApiSpecificationMd5Hash": {},
                                    "DataSetId": {},
                                    "ProtocolType": {},
                                    "RevisionId": {},
                                    "Stage": {}
                                }
                            },
                            "CreateS3DataAccessFromS3Bucket": {
                                "type": "structure",
                                "required": [
                                    "AssetSource",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "AssetSource": {
                                        "shape": "S19"
                                    },
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            },
                            "ImportAssetsFromLakeFormationTagPolicy": {
                                "type": "structure",
                                "required": [
                                    "CatalogId",
                                    "RoleArn",
                                    "DataSetId",
                                    "RevisionId"
                                ],
                                "members": {
                                    "CatalogId": {},
                                    "Database": {
                                        "shape": "S1d"
                                    },
                                    "Table": {
                                        "shape": "S1k"
                                    },
                                    "RoleArn": {},
                                    "DataSetId": {},
                                    "RevisionId": {}
                                }
                            }
                        }
                    },
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Details": {
                        "shape": "S1q"
                    },
                    "Errors": {
                        "shape": "S20"
                    },
                    "Id": {},
                    "State": {},
                    "Type": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "CreateRevision": {
            "http": {
                "requestUri": "/v1/data-sets/{DataSetId}/revisions",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "Comment": {},
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Comment": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Finalized": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    },
                    "RevocationComment": {},
                    "Revoked": {
                        "type": "boolean"
                    },
                    "RevokedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "DeleteAsset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetId",
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "AssetId": {
                        "location": "uri",
                        "locationName": "AssetId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "DeleteDataSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "DeleteEventAction": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/event-actions/{EventActionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventActionId"
                ],
                "members": {
                    "EventActionId": {
                        "location": "uri",
                        "locationName": "EventActionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HNLA2R24P2O3LB2OBXTOODIN4PPCT56M72ORDKZVWSMN3C32AWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "DeleteRevision": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "GetAsset": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AssetId",
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "AssetId": {
                        "location": "uri",
                        "locationName": "AssetId"
                    },
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetDetails": {
                        "shape": "S2k"
                    },
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Id": {},
                    "Name": {},
                    "RevisionId": {},
                    "SourceId": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "GetDataSet": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Description": {},
                    "Id": {},
                    "Name": {},
                    "Origin": {},
                    "OriginDetails": {
                        "shape": "Sd"
                    },
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "GetEventAction": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/event-actions/{EventActionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventActionId"
                ],
                "members": {
                    "EventActionId": {
                        "location": "uri",
                        "locationName": "EventActionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Action": {
                        "shape": "Sf"
                    },
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Event": {
                        "shape": "Sk"
                    },
                    "Id": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HNLA2R24P2O3LB2OBXTOODIN4PPCT56M72ORDKZVWSMN3C32AWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "GetJob": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/jobs/{JobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "JobId"
                ],
                "members": {
                    "JobId": {
                        "location": "uri",
                        "locationName": "JobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "Details": {
                        "shape": "S1q"
                    },
                    "Errors": {
                        "shape": "S20"
                    },
                    "Id": {},
                    "State": {},
                    "Type": {},
                    "UpdatedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "GetRevision": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Comment": {},
                    "CreatedAt": {
                        "shape": "Sa"
                    },
                    "DataSetId": {},
                    "Finalized": {
                        "type": "boolean"
                    },
                    "Id": {},
                    "SourceId": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "UpdatedAt": {
                        "shape": "Sa"
                    },
                    "RevocationComment": {},
                    "Revoked": {
                        "type": "boolean"
                    },
                    "RevokedAt": {
                        "shape": "Sa"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "ListDataSetRevisions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "Revisions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreatedAt",
                                "DataSetId",
                                "Id",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "Comment": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "DataSetId": {},
                                "Finalized": {
                                    "type": "boolean"
                                },
                                "Id": {},
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                },
                                "RevocationComment": {},
                                "Revoked": {
                                    "type": "boolean"
                                },
                                "RevokedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "ListDataSets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "Origin": {
                        "location": "querystring",
                        "locationName": "origin"
                    },
                    "OriginDetailsAcceptanceState": {
                        "location": "querystring",
                        "locationName": "originDetailsAcceptanceState",
                        "type": "list",
                        "member": {}
                    },
                    "OriginDetailsEntitledBy": {
                        "location": "querystring",
                        "locationName": "originDetailsEntitledBy",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataSets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "AssetType",
                                "CreatedAt",
                                "Description",
                                "Id",
                                "Name",
                                "Origin",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "AssetType": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Description": {},
                                "Id": {},
                                "Name": {},
                                "Origin": {},
                                "OriginDetails": {
                                    "shape": "Sd"
                                },
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "ListEventActions": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/event-actions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EventSourceId": {
                        "location": "querystring",
                        "locationName": "eventSourceId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventActions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Action",
                                "Arn",
                                "CreatedAt",
                                "Event",
                                "Id",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Action": {
                                    "shape": "Sf"
                                },
                                "Arn": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Event": {
                                    "shape": "Sk"
                                },
                                "Id": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESEGRFVSMLZB4OD5EWX3VZEJN4UPQDZMOIONOIVOFKEUZHBCVO3A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HNLA2R24P2O3LB2OBXTOODIN4PPCT56M72ORDKZVWSMN3C32AWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "ListJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "DataSetId": {
                        "location": "querystring",
                        "locationName": "dataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RevisionId": {
                        "location": "querystring",
                        "locationName": "revisionId"
                    },
                    "Type": {
                        "location": "querystring",
                        "locationName": "type",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "CreatedAt",
                                "Details",
                                "Id",
                                "State",
                                "Type",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "Details": {
                                    "shape": "S1q"
                                },
                                "Errors": {
                                    "shape": "S20"
                                },
                                "Id": {},
                                "State": {},
                                "Type": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "ListRevisionAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DataSetId",
                    "RevisionId"
                ],
                "members": {
                    "DataSetId": {
                        "location": "uri",
                        "locationName": "DataSetId"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "RevisionId": {
                        "location": "uri",
                        "locationName": "RevisionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Assets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Arn",
                                "AssetDetails",
                                "AssetType",
                                "CreatedAt",
                                "DataSetId",
                                "Id",
                                "Name",
                                "RevisionId",
                                "UpdatedAt"
                            ],
                            "members": {
                                "Arn": {},
                                "AssetDetails": {
                                    "shape": "S2k"
                                },
                                "AssetType": {},
                                "CreatedAt": {
                                    "shape": "Sa"
                                },
                                "DataSetId": {},
                                "Id": {},
                                "Name": {},
                                "RevisionId": {},
                                "SourceId": {},
                                "UpdatedAt": {
                                    "shape": "Sa"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUOU7NIBE4AC5I22HR33VGL2K5346VNKBPITDFJD5PNTYH3GYJA/vendors~main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVJZDSMURCSWRLAX5FEPUSRN35MX4FQ3IE5VELFWCSL33TDHDAZA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OSAG5Q3FDN6TADTT57LZ7ZGSGFWBRIKSNLHK7HLN2VKWZHAVAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Z4FTZRIWTANLNWTOXV6QH2GYDG3PIMULHDQQQYNXARRHXLSARBCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LYANCP6HMAHNX24AOKWK4QEGXFY6NQK7K4ZLUK7P2PL2P3MRY7A/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/W2LPMJALL7OB454SOJI45C27Q4C4N272JTMLB7XMWHWTT5XHUBBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLRY3WB4PADQIODRPUPMTRSDWNY7MT53XHEBF3UQHHQDJEVDIFUQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IGZL2WD7TVIRDZHPGN34ERQ6XVDC4PX3FZUS3GMJR6AID7IOARUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P4E5OXJALI6TUTL3A6LDIGY3Y26SUIDB3UJRWQVRQSFTEQS5B5TA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGTUCXKF2TLHPHJQAGZ7WXMBWWVVLNGR572BMZMUUX6ECAXNZJJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OGQIEMF5VDBPQ45DCJE6S53X7JWKIEDCXGQOVG73N3WQD5WOQNBA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{ResourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "ResourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S7",
                        "locationName": "tags"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FZKNQT7MVTVOB7VUMUOMY3PZ5ENAYJMBPCJ2H6RHRTGEQ4Y5YGKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QJAGDTCFSFHZYP4QSBLXYZHEYCFDTNUMTRMV3KUP7LSAN4NZ2AQ/vendors~main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JCWFKT6EJIC45QF6N7ICCH4NYDL62LVLRATGHJXRRJUYHKJ6ZMDA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DKLA6RUM32XPG3S346CLZWAPGLHLDETNHXLIIPYNRQRKLXM3K22Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX5X5J5ORUNKE6SCRRSP2VR4UPZ3H4VAJEYORC2TADB5IDI4ZLYQ/main.tb.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VZIIB7W2I663ED4YD2744DOKJ6NCDAVNC62QNNW5ZLTWPG7KVSEQ/vendors.js",
[...]
