{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "databrew",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Glue DataBrew",
        "serviceId": "DataBrew",
        "signatureVersion": "v4",
        "signingName": "databrew",
        "uid": "databrew-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
        ]
    },
    "operations": {
        "BatchDeleteRecipeVersion": {
            "http": {
                "requestUri": "/recipes/{name}/batchDeleteRecipeVersion"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersions"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersions": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {},
                                "ErrorMessage": {},
                                "RecipeVersion": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateDataset": {
            "http": {
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Input"
                ],
                "members": {
                    "Name": {},
                    "Format": {},
                    "FormatOptions": {
                        "shape": "Sd"
                    },
                    "Input": {
                        "shape": "So"
                    },
                    "PathOptions": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateProfileJob": {
            "http": {
                "requestUri": "/profileJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatasetName",
                    "Name",
                    "OutputLocation",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "OutputLocation": {
                        "shape": "Sp"
                    },
                    "Configuration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/projects"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DatasetName",
                    "Name",
                    "RecipeName",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "Name": {},
                    "RecipeName": {},
                    "Sample": {
                        "shape": "S2q"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateRecipe": {
            "http": {
                "requestUri": "/recipes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Steps"
                ],
                "members": {
                    "Description": {},
                    "Name": {},
                    "Steps": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateRecipeJob": {
            "http": {
                "requestUri": "/recipeJobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoleArn"
                ],
                "members": {
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "ProjectName": {},
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateRuleset": {
            "http": {
                "requestUri": "/rulesets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "TargetArn",
                    "Rules"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "TargetArn": {},
                    "Rules": {
                        "shape": "S3r"
                    },
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQ2HFAF53PVAVIH7NQCQ4DZOCMIVUWEIHAH7J7KX7AYX5THIY6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "CreateSchedule": {
            "http": {
                "requestUri": "/schedules"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CronExpression",
                    "Name"
                ],
                "members": {
                    "JobNames": {
                        "shape": "S41"
                    },
                    "CronExpression": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteDataset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/datasets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "method": "DELETE",
                "requestUri": "/jobs/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteProject": {
            "http": {
                "method": "DELETE",
                "requestUri": "/projects/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteRecipeVersion": {
            "http": {
                "method": "DELETE",
                "requestUri": "/recipes/{name}/recipeVersion/{recipeVersion}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersion"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersion": {
                        "location": "uri",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name",
                    "RecipeVersion"
                ],
                "members": {
                    "Name": {},
                    "RecipeVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteRuleset": {
            "http": {
                "method": "DELETE",
                "requestUri": "/rulesets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQ2HFAF53PVAVIH7NQCQ4DZOCMIVUWEIHAH7J7KX7AYX5THIY6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DeleteSchedule": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schedules/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeDataset": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name",
                    "Input"
                ],
                "members": {
                    "CreatedBy": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "Format": {},
                    "FormatOptions": {
                        "shape": "Sd"
                    },
                    "Input": {
                        "shape": "So"
                    },
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "Source": {},
                    "PathOptions": {
                        "shape": "S13"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeJob": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "DatasetName": {},
                    "EncryptionKeyArn": {},
                    "EncryptionMode": {},
                    "Name": {},
                    "Type": {},
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LogSubscription": {},
                    "MaxCapacity": {
                        "type": "integer"
                    },
                    "MaxRetries": {
                        "type": "integer"
                    },
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "ProjectName": {},
                    "ProfileConfiguration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "ResourceArn": {},
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}/jobRun/{runId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RunId"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RunId": {
                        "location": "uri",
                        "locationName": "runId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "JobName"
                ],
                "members": {
                    "Attempt": {
                        "type": "integer"
                    },
                    "CompletedOn": {
                        "type": "timestamp"
                    },
                    "DatasetName": {},
                    "ErrorMessage": {},
                    "ExecutionTime": {
                        "type": "integer"
                    },
                    "JobName": {},
                    "ProfileConfiguration": {
                        "shape": "S1x"
                    },
                    "ValidationConfigurations": {
                        "shape": "S2g"
                    },
                    "RunId": {},
                    "State": {},
                    "LogSubscription": {},
                    "LogGroupName": {},
                    "Outputs": {
                        "shape": "S36"
                    },
                    "DataCatalogOutputs": {
                        "shape": "S3f"
                    },
                    "DatabaseOutputs": {
                        "shape": "S3j"
                    },
                    "RecipeReference": {
                        "shape": "S3m"
                    },
                    "StartedBy": {},
                    "StartedOn": {
                        "type": "timestamp"
                    },
                    "JobSample": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeProject": {
            "http": {
                "method": "GET",
                "requestUri": "/projects/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "DatasetName": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "Name": {},
                    "RecipeName": {},
                    "ResourceArn": {},
                    "Sample": {
                        "shape": "S2q"
                    },
                    "RoleArn": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "SessionStatus": {},
                    "OpenedBy": {},
                    "OpenDate": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeRecipe": {
            "http": {
                "method": "GET",
                "requestUri": "/recipes/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "RecipeVersion": {
                        "location": "querystring",
                        "locationName": "recipeVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreatedBy": {},
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ProjectName": {},
                    "PublishedBy": {},
                    "PublishedDate": {
                        "type": "timestamp"
                    },
                    "Description": {},
                    "Name": {},
                    "Steps": {
                        "shape": "S2w"
                    },
                    "Tags": {
                        "shape": "S1m"
                    },
                    "ResourceArn": {},
                    "RecipeVersion": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeRuleset": {
            "http": {
                "method": "GET",
                "requestUri": "/rulesets/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "TargetArn": {},
                    "Rules": {
                        "shape": "S3r"
                    },
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOU7XOZBJY4CQI4N3HHJURNZVSFLEYRWNXUVNEH5W6CTKC27PVXA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDILZBVSXJ7YOBF6WXNJMMTGBWAZEQAWWH4J53KPFIVBUUQEKILA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WYWUJKOYOEIM72WOUQ3BSUNU2K7J4BFAVZWEJ4GLCV7GOP2JOJ4A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXQ2HFAF53PVAVIH7NQCQ4DZOCMIVUWEIHAH7J7KX7AYX5THIY6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T25AGOGDR4COCR3D2XZBXRJ4RFUYXR2ERWXSLFJMQZVO36U5KRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "DescribeSchedule": {
            "http": {
                "method": "GET",
                "requestUri": "/schedules/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "CreateDate": {
                        "type": "timestamp"
                    },
                    "CreatedBy": {},
                    "JobNames": {
                        "shape": "S41"
                    },
                    "LastModifiedBy": {},
                    "LastModifiedDate": {
                        "type": "timestamp"
                    },
                    "ResourceArn": {},
                    "CronExpression": {},
                    "Tags": {
                        "shape": "S1m"
                    },
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListDatasets": {
            "http": {
                "method": "GET",
                "requestUri": "/datasets"
            },
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Datasets"
                ],
                "members": {
                    "Datasets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Input"
                            ],
                            "members": {
                                "AccountId": {},
                                "CreatedBy": {},
                                "CreateDate": {
                                    "type": "timestamp"
                                },
                                "Name": {},
                                "Format": {},
                                "FormatOptions": {
                                    "shape": "Sd"
                                },
                                "Input": {
                                    "shape": "So"
                                },
                                "LastModifiedDate": {
                                    "type": "timestamp"
                                },
                                "LastModifiedBy": {},
                                "Source": {},
                                "PathOptions": {
                                    "shape": "S13"
                                },
                                "Tags": {
                                    "shape": "S1m"
                                },
                                "ResourceArn": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJ4AVK3UQGYFAKJEKRDMTDWTMDMKGLT5YECHO7TNHOFQ3RF77K6Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6AR75ZSRUDDPZIS6OPDJQP6HXTHRIPIEAZWMAJXEUIXLWWPXRWUA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PQNAWZOFNMWTI7AW54JZ7DF5SC6X26Q7KDIPBBCNWUS4OYVJIPFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TMMRZ2NWR3YIAXR7OY32PMF4CDJ66BL5KENWXJANAB46VTLOITLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24OIX3ZZO57QPNU7Z6GF2DSLGJWH6ULU5BPZI5YY6XI3ZTGE7IPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RQBDPNC7WBOSAAUSECAA3TAWY2E2WP3QJVIPLQ6A34HFIZ5VCJDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ON7FKUZQZQBYB2VIT7T3BCPWHPKNKQL7QIVPMNCJBXOOJDJSKX2A/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDCZFXSUTUKPCO67NOWA4YIR7ZP3CWHYY2KYZLZ3M7WEXDTHFGKQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UZZR2OMV4AV73FGJHY7Z57PS353K4MURO7DOC4B2VAQXQQBAHRCA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRPM7X4XVNMNFR7GTKGVLV47OWYXC3QAWINZNLNIB43SECYZIVBA/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5QLCLUGVB4SNRIZ7HUZ23WK7O3YBOXC6KJ4B4QTUOPYPSXUCF7Q/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COREOTLFHMUYCCUCRSJKAZ5HANJVJJTIKCQP6BBACQKPOQLWZ6BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVRS7ZQ6EEAJCRZG5NOKL2V2BYIVT2Z6KZDYSVRCM5VMRBF5DUDQ/main.tb.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UPR6RX27NXNYIHK33OWIICVP6PWWBGQJ6ETZ5YDQ6G5JFMGPGYIQ/main.tb.js"
            ]
        },
        "ListJobRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/jobs/{name}/jobRuns"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
[...]
