{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-15",
        "endpointPrefix": "data-protection-appliance",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Backup Data Protection Gateway",
        "serviceId": "DPG",
        "signatureVersion": "v4",
        "uid": "data-protection-appliance-2018-11-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
        ]
    },
    "operations": {
        "DeregisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/deregister-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplianceId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "DescribeAppliance": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "DescribeResource": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resource-id"
                    },
                    "ContainerId": {
                        "location": "querystring",
                        "locationName": "container-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "DiscoverResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/discover-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "Name",
                    "ConnectivityInfo",
                    "CredentialInfo"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "Name": {},
                    "ConnectivityInfo": {},
                    "CredentialInfo": {},
                    "AwsTags": {
                        "shape": "Sb"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceContainerId"
                ],
                "members": {
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "ListAppliances": {
            "http": {
                "method": "GET",
                "requestUri": "/list-appliances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplianceInfos"
                ],
                "members": {
                    "ApplianceInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "ListResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/list-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceContainerId": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "RegisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/register-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceName",
                    "PartnerId",
                    "ApplianceRole",
                    "EnablePartnerDataAccess"
                ],
                "members": {
                    "ApplianceName": {},
                    "PartnerId": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActivationToken": {},
                    "ApplianceId": {},
                    "ApplianceName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "RemoveResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/remove-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "ResourceContainerId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "UpdateAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/update-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ApplianceName": {},
                    "ApplianceDescription": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        },
        "ListPartners": {
            "http": {
                "method": "GET",
                "requestUri": "/list-partners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PartnerInfos"
                ],
                "members": {
                    "PartnerInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "PartnerId": {},
                                "MinimumApplianceVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5A2AIWVQVGRKFSP3SRGVSQB43LBT3WE72YCF2V2PTFNQNGQYW5OA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CCH2ZF3RBRZPV634PNVDBTRTTCHB3LRQ77CYVR72PCE4UV22BNOQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3NVVJDE7FO2U7LQZGSD4G6ZC6UYL7B63FLZE2XN22K6EES3PIYDQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEY6QCK4QOZZMYQWLQB3ZXZGJXGOSBLE3QAI44TZL7AEJMOZBN4A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7I4QPG2PLFEFOU7JLBF7IJROR2PAC3CWFLSDS4CLUEQGMMTKXMQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VBGWHPC6OCIB5HVN2JYBFSQC7LLDXU3TFNV2HBXLSPTVJZSD2WEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JBEZIJDOX2ZJ6SEEGP4IZFPM2KUFNEK7EYOZID7CIM3O36YLJE7A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y66DFOM5D5FIHYN3DLNXDHU7QEXMRWOG7NDVAPQRABFO2L5FBPYQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3OPDYPLZCGNE63WW6H4SOVFCI3ETGZOTQLDJLVZIIRACCWTQGNA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTHV4NARQABTFNJ3X4B73KJYU6JRA3IALEEFNQ4TAKKRLJ4PAMFA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRGDNZYI6AWZMQF6K2PI37B2HYIN3O6ZKRIYYB3DQ4WUIOUG4E5Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JWBMTWVQLMEUZYGK3TDUXZV5CIPQ2FNPYWMPYXE724MTH62N2YQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIR4JHNXC73TT6D4PH5IXWHYE5OWEJFYJMXMMYCTWAAAZ3OBZMYA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPZFLL6VLHF5AMYZLDW2UREKR72VOOSTI7LX4S44KSU2NCZCPKRQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQT2PYDOJ3W7HO26C5ACFOJ5KC73ZZOJIL5QKG4B22LX7NEWI4CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTLS4I5R5H7ILMPLIEL2ZLC7FWT72NXXFK2PGNQ4GOWYXUXDRARQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Id",
                "Arn",
                "Name",
                "ActivationDate",
                "Version",
                "LastUpdateDate",
                "Status",
                "PartnerId",
                "IsPartnerDataAccessEnabled",
                "ApplianceRole",
                "AwsTags",
                "ApplianceTags"
            ],
            "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "ActivationDate": {
                    "type": "timestamp"
                },
                "Version": {
                    "type": "long"
                },
                "LastUpdateDate": {
                    "type": "timestamp"
                },
                "LastHeartbeatDate": {
                    "type": "timestamp"
                },
                "Description": {},
                "Status": {},
                "PartnerId": {},
                "PartnerName": {},
                "IsPartnerDataAccessEnabled": {
                    "type": "boolean"
                },
                "ApplianceRole": {},
                "AwsTags": {
                    "shape": "Sb"
                },
                "ApplianceTags": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "ApplianceId": {},
                "Id": {},
                "ContainderId": {},
                "IsResourceContainer": {
                    "type": "boolean"
                },
                "ConnectivityInfo": {},
                "Arn": {},
                "Name": {},
                "Category": {},
                "Type": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastUpdateTime": {
                    "type": "timestamp"
                },
                "LastSuccessfulBackupTime": {
                    "type": "timestamp"
                },
                "Tags": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "key": {},
                            "value": {}
                        }
                    }
                },
                "Status": {},
                "StatusMessage": {},
                "MetadataMap": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}