{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "datazonecontrol",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "datazone",
        "serviceFullName": "DataZoneControl",
        "serviceId": "DataZoneControl",
        "signatureVersion": "v4",
        "signingName": "datazonecontrol",
        "uid": "datazonecontrol-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
        ]
    },
    "operations": {
        "AssociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/associate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "BatchCreateUserProfiles": {
            "http": {
                "requestUri": "/user-profiles/{environmentId}/batch-create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfiles"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "userRole": {},
                                "clientToken": {
                                    "idempotencyToken": true
                                },
                                "username": {},
                                "iamPrincipalArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdUserProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "userId": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "error": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateAccountAssociationInvitation": {
            "http": {
                "requestUri": "/environments/{environmentId}/create-account-association-invitation/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "title",
                    "dataSourceType",
                    "region",
                    "dataSourceConfiguration"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "title": {
                        "shape": "Sm"
                    },
                    "dataSourceType": {},
                    "region": {},
                    "dataSourceConfiguration": {
                        "shape": "Sp"
                    },
                    "publicationConfiguration": {
                        "shape": "S11"
                    },
                    "subscriptionConfiguration": {
                        "shape": "S18"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentName",
                    "projectCodebuildRoleArn"
                ],
                "members": {
                    "environmentName": {
                        "shape": "S1k"
                    },
                    "description": {
                        "shape": "S1l"
                    },
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S1e"
                    },
                    "enableAwsSsoAuth": {
                        "type": "boolean"
                    },
                    "enableSelfAccountAssociation": {
                        "type": "boolean"
                    },
                    "projectCodebuildRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "projectBootstrapRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "domainExecutionRoleArn": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/create-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId",
                    "groupName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    },
                    "groupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateMetadataCollectorRun": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/delete-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "DeleteMetadataCollectorRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs/{metadataCollectorRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId",
                    "metadataCollectorRunId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "metadataCollectorRunId": {
                        "location": "uri",
                        "locationName": "metadataCollectorRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "DissociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/dissociate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetAssociatedDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/associated-account/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "domainId": {},
                    "domainTitle": {},
                    "domainDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/data-source/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataSourceId"
                ],
                "members": {
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetDataSourceByEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "domainId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainId": {},
                    "parentDomainId": {},
                    "domainTitle": {},
                    "domainDescription": {},
                    "domainStatus": {},
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "shape": "S2k"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetMetadataCollector": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorId",
                    "title",
                    "dataSourceId",
                    "publishingContractId",
                    "environmentId",
                    "enabled",
                    "frequencyConfiguration",
                    "dataAssetFilterConfigurations",
                    "dataAssetPublishConfiguration",
                    "executionOrder",
                    "lastModifiedTime",
                    "creationTime"
                ],
                "members": {
                    "metadataCollectorId": {},
                    "title": {
                        "shape": "Sm"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "dataSourceId": {},
                    "publishingContractId": {},
                    "environmentId": {},
                    "enabled": {
                        "type": "boolean"
                    },
                    "frequencyConfiguration": {
                        "shape": "S2r"
                    },
                    "dataAssetFilterConfigurations": {
                        "shape": "S2u"
                    },
                    "dataAssetPublishConfiguration": {
                        "shape": "S37"
                    },
                    "executionOrder": {
                        "type": "integer"
                    },
                    "lastRunStatus": {},
                    "lastRunTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetUserPortalLoginAuthCode": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/user-portal-login-auth-code",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authCodeUrl"
                ],
                "members": {
                    "authCodeUrl": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "GetUserProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/user-profiles/{environmentId}/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userProfile": {
                        "shape": "S3g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "ListAccountAssociationInvitations": {
            "http": {
                "method": "GET",
                "requestUri": "/list-association-invitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedEnvironments": {
                        "shape": "S3m"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "ListAllAssociatedAccountsForEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/all-level-associated-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "domainId": {},
                                "creationTime": {},
                                "status": {},
                                "associationProperty": {},
                                "description": {},
                                "lastModifiedTime": {},
                                "failureDetails": {
                                    "shape": "S3u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CT6C4J46HR5SUUUFSOOMLB4FH6ETPOVPHZD44LT4FT7THBQK7FJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
[...]
