{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "datazonecontrol",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "datazone",
        "serviceFullName": "DataZoneControl",
        "serviceId": "DataZoneControl",
        "signatureVersion": "v4",
        "signingName": "datazonecontrol",
        "uid": "datazonecontrol-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/associate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "BatchCreateUserProfiles": {
            "http": {
                "requestUri": "/user-profiles/{environmentId}/batch-create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfiles"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "userRole": {},
                                "clientToken": {
                                    "idempotencyToken": true
                                },
                                "username": {},
                                "iamPrincipalArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdUserProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "userId": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "error": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "CreateAccountAssociationInvitation": {
            "http": {
                "requestUri": "/environments/{environmentId}/create-account-association-invitation/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "title",
                    "dataSourceType",
                    "region",
                    "dataSourceConfiguration"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "title": {
                        "shape": "Sm"
                    },
                    "dataSourceType": {},
                    "region": {},
                    "dataSourceConfiguration": {
                        "shape": "Sp"
                    },
                    "publicationConfiguration": {
                        "shape": "S11"
                    },
                    "subscriptionConfiguration": {
                        "shape": "S18"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentName",
                    "projectCodebuildRoleArn"
                ],
                "members": {
                    "environmentName": {
                        "shape": "S1k"
                    },
                    "description": {
                        "shape": "S1l"
                    },
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S1e"
                    },
                    "enableAwsSsoAuth": {
                        "type": "boolean"
                    },
                    "enableSelfAccountAssociation": {
                        "type": "boolean"
                    },
                    "projectCodebuildRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "projectBootstrapRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "domainExecutionRoleArn": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/create-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId",
                    "groupName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    },
                    "groupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "CreateMetadataCollectorRun": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/delete-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "DeleteMetadataCollectorRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs/{metadataCollectorRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId",
                    "metadataCollectorRunId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "metadataCollectorRunId": {
                        "location": "uri",
                        "locationName": "metadataCollectorRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "DissociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/dissociate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetAssociatedDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/associated-account/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "domainId": {},
                    "domainTitle": {},
                    "domainDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/data-source/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataSourceId"
                ],
                "members": {
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "GetDataSourceByEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "domainId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainId": {},
                    "parentDomainId": {},
                    "domainTitle": {},
                    "domainDescription": {},
                    "domainStatus": {},
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "shape": "S2k"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetMetadataCollector": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorId",
                    "title",
                    "dataSourceId",
                    "publishingContractId",
                    "environmentId",
                    "enabled",
                    "frequencyConfiguration",
                    "dataAssetFilterConfigurations",
                    "dataAssetPublishConfiguration",
                    "executionOrder",
                    "lastModifiedTime",
                    "creationTime"
                ],
                "members": {
                    "metadataCollectorId": {},
                    "title": {
                        "shape": "Sm"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "dataSourceId": {},
                    "publishingContractId": {},
                    "environmentId": {},
                    "enabled": {
                        "type": "boolean"
                    },
                    "frequencyConfiguration": {
                        "shape": "S2r"
                    },
                    "dataAssetFilterConfigurations": {
                        "shape": "S2u"
                    },
                    "dataAssetPublishConfiguration": {
                        "shape": "S37"
                    },
                    "executionOrder": {
                        "type": "integer"
                    },
                    "lastRunStatus": {},
                    "lastRunTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetUserPortalLoginAuthCode": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/user-portal-login-auth-code",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authCodeUrl"
                ],
                "members": {
                    "authCodeUrl": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "GetUserProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/user-profiles/{environmentId}/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userProfile": {
                        "shape": "S3g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDR3DT2S44OWZQBKVYB7J3ZTPCBVUQXH7I4ZFAZRRZBN2EPLFRCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VGGYKLLZNUDF2B4M4ZBUB5NXZXQQ5XE5ZPYU4QVLDHTD5FPMVBDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JO554RGHRYEASJLQIT4YBDPDUORTLF2P5NLRDAUV646EYJQRSBSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMPDNYXAMVWUMC7UN3HY6WDX7ZP2FAIPTK2UEFFZNQKIXQNT6MNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4CWSM7OXHCQ7WBQKEQF7HE66VORHADSFNX5XLS7QVGCFSHIA55WA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZVRMNGEWNRBU3EGHOUUULBPULHNTOZXGYWGF4B72J6DKJCM5BUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3O34UPCE454VSF7FHSF6RUQ6O6FOZZWMXHSD5YNK3JVO6CQDGOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTQQSYILMFQTQY52OQQ6IJD4NZKGTY6BGD4WGWDBENO2BEHB77FQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ZCFRM7XKBA2I2TCRUKTOY4KXKAK73KDN5ALV43H4KWGUBBPL7SA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TX7RDR7UHWA3KVXF4GRJTUWQKYBG65U7N2SMOGQPMIU2PZ2YOTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQVWRFCR5PTOYA5FSKMV66PKM2DRVUD6UI6UA4TU2R6RRBAHNQNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FO5ZPNWP6DFFBRX77SCZVW6V4TIMXDSUVKCUPP24NCCSCWH7RXPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZRYG6PH6CYYYBDD2R4MF7L42AHF5TML7FK775A6I427KNIINFTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js"
            ]
        },
        "ListAccountAssociationInvitations": {
            "http": {
                "method": "GET",
                "requestUri": "/list-association-invitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedEnvironments": {
                        "shape": "S3m"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListAllAssociatedAccountsForEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/all-level-associated-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "domainId": {},
                                "creationTime": {},
                                "status": {},
                                "associationProperty": {},
                                "description": {},
                                "lastModifiedTime": {},
                                "failureDetails": {
                                    "shape": "S3u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXOU7CD23IVMR7YXFZHGKXVQXTY5ID52JIJTC63CC7ZI7LDF52HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTAYJA3KV5DN43ZYUGBDCCICLPVAIM62Q6RENEUT7KSBZFEMF4HQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2KRKNTPZA7DOELDUJ3USGKVP26CYXZHXBGMXGJ3W7XRHXODNHUQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DITKDTNFE2X73RGMVSIEBDI3QDKCPCQG73UALZLXRXOXGHV35VOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L734N5CC5MRF3PFWC6SWG2AJK3GG65LGEBJUG5LECT5J2ZUHJUIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CUCZAIW7GQDCZSFMSOZNYNUMEYUFRT7SUV65ONOZMRIOV5IOJRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4QNDZ24Z7L6F3NWJSGOF6TFUVX5QM5LVJ3FMOPNB2WGC2PYOATQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W2YYFQLOSBATLPJPMSTLBHSJVVT5QJOKKV6VNPELSNNCB56QBUYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4WMXZJ7XV2NGECKD26MMLV4ZJUVKTGDYEYHCPFW4NB4HOVU74MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7LNQRB7NQJLA5QPV5BMME6HKHXWH3BJAQOAIFOSKAECWB2GK6YFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK6WTQHBLOIBMCDFF3Q436THKNE4I6C3KKEWVAXO7PWB4AL2VZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLSUCMCT3VLYSZMYWA5OJROIDBSBJJEIKNH5HXUQT5N2VZLISNEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGDCJKILVVCRSYHAACDUAH4WDCOG7S5LSDAEL3HHCEEH36LXJVNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIJY3FU27CTCBQZPJKPC3CBZB2224B5ET76GY3VGZHLGKIWM2LYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M7G3MMOTYPMVG5LMXXYM5X5ZXTYFXPJKCCNAHXMS7MYG3DU3STTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7X3LQ6LXTOQKT547JT76H2BRHXT7CYHZPP5WICYKKTYP47ATYEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YKEY7FSXK2BXDWVNWS3QEN4BRMNENGELZ6L3HW634L74YOFED5A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P7KP4DUS45QJQTZPLK7MM67JA4NYBVXHVKFNZOTG4ZAEG4X43ZGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XZTNEATZL76WRPHBL6OHCLODED2S2VRYTZ5GDBLV22LUHJNZARDQ/vendors.js"
            ]
        },
        "ListAssociatedAccounts": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/associated-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAccounts": {
                        "type": "list",
                        "member": {
                            "shape": "S3z"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GMPQC7SM6QXPYQNGK5W75OSJAJI5ZTPO5S7BJ2POSGZ2LVZY3AAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZD5EXEKH4KSH7T26MBFQXUTXAZGTCQC5XVVTTOXIEHMMQWDA4TQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OP62ONXDOPHG7LJ7VGS7UC3Y4TU7JXFYOXOKRG4MSJ2BZJSX2VFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QC5H4AZGA7I5DPKCHVGZPVMYIZT55UDAD7MJ5GAQGMEXLAOXWTAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGCIS4MHRI3CFSBZWHQX2O7VJNWCGC4OWHJ4A7ZB56QML4ZTQVYQ/amzn.js",
[...]
