{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "datazone",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "datazone",
        "serviceFullName": "DataZonePreview",
        "serviceId": "DataZonePreview",
        "signatureVersion": "v4",
        "signingName": "datazone",
        "uid": "datazonepreview-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
        ]
    },
    "operations": {
        "AcceptProjectMembership": {
            "http": {
                "requestUri": "/environments/{environmentId}/acceptProjectMembership/{requestId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "requestId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    },
                    "reasonDescription": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectMembershipRequest": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "AssociateUserToDomain": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/user-profiles/{userProfileId}/domain-associations/{domainId}/designation/{designation}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfileId",
                    "domainId",
                    "designation"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfileId": {
                        "location": "uri",
                        "locationName": "userProfileId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "designation": {
                        "location": "uri",
                        "locationName": "designation"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "BatchGetSubscriptions": {
            "http": {
                "requestUri": "/environments/{environmentId}/subscriptions/batch-get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "authorizedPrincipal": {
                                    "shape": "Sk"
                                },
                                "dataAssetId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "shape": "Sp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "BulkGetDataAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/bulk-get-data-assets/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetIds": {
                        "location": "querystring",
                        "locationName": "dataAssetIds",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataAssets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "environmentId": {},
                                "dataAssetId": {},
                                "dataAssetType": {},
                                "dataSourceType": {},
                                "dataAssetExternalIdentifier": {
                                    "shape": "S13"
                                },
                                "domainId": {},
                                "name": {
                                    "shape": "S13"
                                },
                                "description": {
                                    "shape": "S13"
                                },
                                "technicalName": {
                                    "shape": "S13"
                                },
                                "technicalDescription": {
                                    "shape": "S13"
                                },
                                "createdTime": {
                                    "type": "timestamp"
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CancelProjectMembershipRequest": {
            "http": {
                "requestUri": "/environments/{environmentId}/cancelProjectMembershipRequest/{requestId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "requestId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    },
                    "reasonDescription": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "membershipRequest": {
                        "shape": "S6"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CancelSubscriptionRequest": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/subscription-requests/{requestId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "requestId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "requestorId",
                    "requestId",
                    "requestStatus",
                    "authorizedPrincipals",
                    "createdTimestamp",
                    "lastUpdatedTimestamp",
                    "businessReason",
                    "subscriptions"
                ],
                "members": {
                    "requestorId": {},
                    "requestId": {},
                    "requestStatus": {},
                    "authorizedPrincipals": {
                        "shape": "Su"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "expirationTimestamp": {
                        "type": "timestamp"
                    },
                    "businessReason": {
                        "shape": "S19"
                    },
                    "subscriptions": {
                        "shape": "S1a"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CheckProfileAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/check-profile-association/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "profileId",
                    "entityId",
                    "userDesignation"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    },
                    "entityId": {},
                    "userDesignation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssociationExists": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CorsPreflight": {
            "http": {
                "method": "OPTIONS",
                "requestUri": "/{proxy+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "proxy"
                ],
                "members": {
                    "proxy": {
                        "location": "uri",
                        "locationName": "proxy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "allowCredentials": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Credentials",
                        "type": "boolean"
                    },
                    "allowOrigin": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Origin"
                    },
                    "allowMethod": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Methods"
                    },
                    "allowHeaders": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Headers"
                    },
                    "maxAge": {
                        "location": "header",
                        "locationName": "Access-Control-Max-Age",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateBusinessGlossary": {
            "http": {
                "requestUri": "/environments/{environmentId}/business-glossaries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "businessGlossaryTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "parentBusinessGlossaryId": {},
                    "businessGlossaryTitle": {
                        "shape": "S1q"
                    },
                    "businessGlossaryDescription": {
                        "shape": "S1r"
                    },
                    "status": {},
                    "previousId": {},
                    "nextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "businessGlossaryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateDataAsset": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "externalIdentifier",
                    "dataAssetType",
                    "dataSourceType",
                    "publishingAgreementId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "externalIdentifier": {
                        "shape": "S13"
                    },
                    "dataAssetType": {},
                    "dataSourceType": {},
                    "dataSource": {},
                    "name": {
                        "shape": "S13"
                    },
                    "description": {
                        "shape": "S13"
                    },
                    "piiInfo": {
                        "shape": "S1w"
                    },
                    "classification": {
                        "shape": "S1y"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "publishingAgreementId": {},
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataAssetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateDataAssetMetadataTemplateAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/data-asset-metadata-template-associations/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "metadataTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {},
                    "metadataTemplateId": {},
                    "metadataTemplateFieldAssociations": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "validationFailed": {
                        "type": "boolean"
                    },
                    "validationFailedFieldAssociations": {
                        "shape": "S2f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateDataAssetVersion": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-assets/{dataAssetId}/data-asset-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "technicalMetadataSnapshotJsonString",
                    "technicalMetadataTemplateIds"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {
                        "location": "uri",
                        "locationName": "dataAssetId"
                    },
                    "technicalMetadataSnapshotJsonString": {},
                    "technicalName": {
                        "shape": "S13"
                    },
                    "technicalDescription": {
                        "shape": "S13"
                    },
                    "metadataCollectorId": {},
                    "metadataCollectorRunId": {},
                    "technicalMetadataTemplateIds": {
                        "shape": "S2i"
                    },
                    "schemaTechnicalMetadataTemplateIds": {
                        "shape": "S2i"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataAssetId": {},
                    "version": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/environments/{environmentId}/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "DomainTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "parentDomainId": {},
                    "DomainTitle": {},
                    "DomainDescription": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateDomainMetadataTemplateAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/domain-metadata-template-associations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "domainId",
                    "metadataTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "domainId": {},
                    "metadataTemplateId": {},
                    "metadataTemplateFieldAssociations": {
                        "shape": "S26"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "validationFailed": {
                        "type": "boolean"
                    },
                    "validationFailedFieldAssociations": {
                        "shape": "S2f"
                    },
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateMetadataCollector": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "title",
                    "publishingContractId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "title": {
                        "shape": "S2t"
                    },
                    "description": {
                        "shape": "S2u"
                    },
                    "publishingContractId": {},
                    "enabled": {
                        "type": "boolean"
                    },
                    "frequencyConfiguration": {
                        "shape": "S2w"
                    },
                    "dataAssetFilterConfigurations": {
                        "shape": "S2z"
                    },
                    "dataAssetPublishConfiguration": {
                        "shape": "S3c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorId"
                ],
                "members": {
                    "metadataCollectorId": {},
                    "metadataCollectorStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateMetadataCollectorRun": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateMetadataTemplate": {
            "http": {
                "requestUri": "/environment/{environmentId}/metadata-templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "metadataTemplateTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "metadataTemplateTitle": {
                        "shape": "S3k"
                    },
                    "metadataTemplateDescription": {
                        "shape": "S3l"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "metadataTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateMetadataTemplateField": {
            "http": {
                "requestUri": "/environment/{environmentId}/metadata-templates/{metadataTemplateId}/fields",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "metadataTemplateId",
                    "fieldTypeConfig",
                    "fieldTitle",
                    "fieldType"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "metadataTemplateId": {
                        "location": "uri",
                        "locationName": "metadataTemplateId"
                    },
                    "fieldTypeConfig": {
                        "shape": "S3p"
                    },
                    "fieldTitle": {
                        "shape": "S3z"
                    },
                    "fieldType": {},
                    "fieldDescription": {
                        "shape": "S41"
                    },
                    "fieldRequired": {
                        "type": "boolean"
                    },
                    "fieldSearchable": {
                        "type": "boolean"
                    },
                    "fieldStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataTemplateId",
                    "fieldId"
                ],
                "members": {
                    "metadataTemplateId": {},
                    "fieldId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/environments/{environmentId}/projects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "name",
                    "projectProfileId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "name": {},
                    "description": {
                        "shape": "S46"
                    },
                    "projectProfileId": {},
                    "customAttributes": {
                        "shape": "S48"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectId": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateProjectMembership": {
            "http": {
                "requestUri": "/environments/{environmentId}/createProjectMemberships/{projectId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "projectId",
                    "userDesignation",
                    "requesterProfileId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "projectId": {
                        "shape": "S7",
                        "location": "uri",
                        "locationName": "projectId"
                    },
                    "userDesignation": {},
                    "requesterProfileId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreateProjectProfile": {
            "http": {
                "requestUri": "/environments/{environmentId}/project-profiles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "name",
                    "domainId",
                    "projectConfiguration",
                    "capabilityConfigurations"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "name": {},
                    "description": {
                        "shape": "S4i"
                    },
                    "domainId": {},
                    "projectConfiguration": {
                        "shape": "S4j"
                    },
                    "capabilityConfigurations": {
                        "shape": "S4p"
                    },
                    "accessControlEntities": {
                        "shape": "S4t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPQ7WEEIODTZSBVZOUSNMQRLL4XYECEEFH7YSTIFVAUUGVXX3MWQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NK2TA6SOPRIY7DZMXOTP54EWYSHUMVQXSEDBEFY3DT6DQELXALQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JLGUXW7M4XI7Y6SG2UI2UJPMS5J2RXQZZJEH3UZVWBTLDXUDXRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HRAAWJNULJBBD7PKLXFBZTW7TIXFYKZ3BRIS6VHOTUD4ZEMNS2Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKGFTA77F3G6A4ZJT4X6Y3EDNOKONNXD4PIPMQYYHZM5IRYEAMNA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD6XUOBMDG5PURUT6T4QCEQTGLMLHTRTGHWMCVIVJSJB2U6EKY4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPI7FYHYZKA2EKXMPVZJJ5KS7EBJ2HPEFWD5XPNCRA7FCPV2FTCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HQ5HSQGNMF2DSIAFT2CZPYGUOWY4S35H776UH7L6FHFSKIMT6YRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56LOY26OEU45I3TTPBEUCMPJNN55AZISMQTSVBUUBLPS3BXVK6VQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGU7PQW3CKP4SJ3QIMCX46UHML6LPGGRLNKLRAWUR2TE5ZHBYCGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DYFZFAV5QVR4ECV7XJMIBIVF37GDJOQDCW5LUFYYT7MAFBCUYVSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNSF2B4MLTB4ILTP5MIRPPBO22S6NCLMO5I35M6NXQ7EYQUP2WXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUXLZX5TVJICHQ5KKJIFAZTQZRQTO7D6EO26LYKKACENJFUAYKXA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUGLH7VWZT3RUK2OCXR5J6C2CDKIIZFHHS3NA2Z2FKCSJF2UJMKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NHYRNRHGK4X6BALGQ6ONJVECQRNIXTT53TKRNBBL7PF5VEPZEGMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKUMYIBOCURLDQKJ6X3UMXP5T4ORIEQWN3SHN3VE2FIJQGPD5H3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXN5UFK6ZGRHMV4J2TIEMR4LLYJAOZQNCNUIIU7H3OJS5XRBCBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCLNUJ4LYPY6JSQMRYLAFZMZZ4H7HAZ72FX3F6WH57QTAWMHCXRA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRFNGGIATF7S655NDUOBOYFYHOI7TSK6NEZHAA3PMMSPXAIXD2CQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WXWLYMGK473YXJRD2XRJPUX4D2PSTCWGG3OHW4KAIZNTWSRKVBCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HPYFQJNO2SKXTWKX7UWZ6DFJWLIEFIBEJ3MORZYEFAP4LTU5QPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F66WR7GZFVLSEQDHO3WZL7FBZWCC7VB4TWECDYRRJQQJ7DWF4QXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDAQ5AREMYTEHIEWGWFL3VD4RVGNECUN5VEH2KOI2JH6CCUZGDZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FA6DUZVIMC2LRQRCEAKWRG65H7ODPQ3CYJUDLINQEWRDFIDOO5MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BUSTJYX6KQXBO2HDZYTR47PQOL3HL6KCUIT4KT7F3NLYCN453FNQ/amzn.js"
            ]
        },
        "CreatePublishingAgreement": {
            "http": {
                "requestUri": "/environments/{environmentId}/publishing-agreements",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "title",
                    "publishingAgreementTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "title": {
                        "shape": "S4z"
                    },
                    "publishingAgreementTemplateId": {},
                    "description": {
                        "shape": "S50"
[...]
