{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "datazonecontrol",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "datazone",
        "serviceFullName": "DataZoneControl",
        "serviceId": "DataZoneControl",
        "signatureVersion": "v4",
        "signingName": "datazonecontrol",
        "uid": "datazonecontrol-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
        ]
    },
    "operations": {
        "AssociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/associate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "BatchCreateUserProfiles": {
            "http": {
                "requestUri": "/user-profiles/{environmentId}/batch-create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfiles"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "userRole": {},
                                "clientToken": {
                                    "idempotencyToken": true
                                },
                                "username": {},
                                "iamPrincipalArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdUserProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "userId": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "error": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateAccountAssociationInvitation": {
            "http": {
                "requestUri": "/environments/{environmentId}/create-account-association-invitation/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "title",
                    "dataSourceType",
                    "region",
                    "dataSourceConfiguration"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "title": {
                        "shape": "Sm"
                    },
                    "dataSourceType": {},
                    "region": {},
                    "dataSourceConfiguration": {
                        "shape": "Sp"
                    },
                    "publicationConfiguration": {
                        "shape": "S11"
                    },
                    "subscriptionConfiguration": {
                        "shape": "S18"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentName",
                    "projectCodebuildRoleArn"
                ],
                "members": {
                    "environmentName": {
                        "shape": "S1k"
                    },
                    "description": {
                        "shape": "S1l"
                    },
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S1e"
                    },
                    "enableAwsSsoAuth": {
                        "type": "boolean"
                    },
                    "enableSelfAccountAssociation": {
                        "type": "boolean"
                    },
                    "projectCodebuildRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "projectBootstrapRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "domainExecutionRoleArn": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/create-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId",
                    "groupName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    },
                    "groupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "CreateMetadataCollectorRun": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/delete-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DeleteMetadataCollectorRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs/{metadataCollectorRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId",
                    "metadataCollectorRunId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "metadataCollectorRunId": {
                        "location": "uri",
                        "locationName": "metadataCollectorRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "DissociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/dissociate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetAssociatedDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/associated-account/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "domainId": {},
                    "domainTitle": {},
                    "domainDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/data-source/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataSourceId"
                ],
                "members": {
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetDataSourceByEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "domainId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainId": {},
                    "parentDomainId": {},
                    "domainTitle": {},
                    "domainDescription": {},
                    "domainStatus": {},
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "shape": "S2k"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetMetadataCollector": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorId",
                    "title",
                    "dataSourceId",
                    "publishingContractId",
                    "environmentId",
                    "enabled",
                    "frequencyConfiguration",
                    "dataAssetFilterConfigurations",
                    "dataAssetPublishConfiguration",
                    "executionOrder",
                    "lastModifiedTime",
                    "creationTime"
                ],
                "members": {
                    "metadataCollectorId": {},
                    "title": {
                        "shape": "Sm"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "dataSourceId": {},
                    "publishingContractId": {},
                    "environmentId": {},
                    "enabled": {
                        "type": "boolean"
                    },
                    "frequencyConfiguration": {
                        "shape": "S2r"
                    },
                    "dataAssetFilterConfigurations": {
                        "shape": "S2u"
                    },
                    "dataAssetPublishConfiguration": {
                        "shape": "S37"
                    },
                    "executionOrder": {
                        "type": "integer"
                    },
                    "lastRunStatus": {},
                    "lastRunTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetUserPortalLoginAuthCode": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/user-portal-login-auth-code",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authCodeUrl"
                ],
                "members": {
                    "authCodeUrl": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "GetUserProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/user-profiles/{environmentId}/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userProfile": {
                        "shape": "S3g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "ListAccountAssociationInvitations": {
            "http": {
                "method": "GET",
                "requestUri": "/list-association-invitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedEnvironments": {
                        "shape": "S3m"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R4ZFMZVBHH7VW4XJ6QTAE3C5NQPF777FORSUIRN3DLGFPPIQDS7A/amzn.js"
            ]
        },
        "ListAllAssociatedAccountsForEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/all-level-associated-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "domainId": {},
                                "creationTime": {},
                                "status": {},
                                "associationProperty": {},
                                "description": {},
                                "lastModifiedTime": {},
                                "failureDetails": {
                                    "shape": "S3u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MBKM36EQVHFF5ZUGJLBH7QCCHISUBHGNKLNU3IVWWD2425QMBXQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQWMEIUK3ZEZKZQOGMB2DOGKLZJQ55TRBNK5VQMXJ5LA3JBMMNAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUIAOPAGPT2R7LVPED3LKRVJONTI576NT4K6MAOH37C4SJK4EAOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BKFBWKXE77KXUHPFW6STYMA3AWIRIRD35HVF7EBWQCPK35AAVG4A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4DARD5BOMTTMZ4ZKIPSPBC3W25WFYBZGXMZ2AKXWZG6KSMIN4JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D4HSAFYEATFINSIWGZZL2HCG6NKVLZTQ33XLRZQHAWMOKLSO6ZLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5KPVIEWAB3CLKREW433THA2KSIZNGV5C32LYVPRHCLIDDA4745Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFU5GKAYA7PITZHFKFVLQN6R6LIXX7RIIM6LTBMS574DBCHNUETA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VDWIHKXRMSVI75TZWWI3OKQMRRZAA4WDGHSMCQY6S7KPVIJOF4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EOZMNGLHCAOTENFBI6NZDMBX3G4GZKR25KQ5M225RZW6GDCZMQCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7BKVUOEEDQGTLRHYJUICH7Y5EPKO2LXGWKEF5SBH4HBXI3EDVCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VN74WUGQHOUU5KAIF5XYNAEHXYUVWFSXXR6YUCK7FZE3SUGWZ57Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y53JYECIG35IA2WJBOBNMCGISO5ML6KPIC672NZ3TBNFISMA7NIQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP3CNERBTUIZG32OIMCTJSFOHUW734H5OVOAVN7KI4PM3XOF2L7A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWARCODG62YTMRQE3XWTGIG37MC3BGQGKI7AIZG5XEPRXRXLBAEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UX6C4CSFFJSIO45QRESXXRLF55L75YUR56BGVESINM4Z2PTDQBQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJL3FAO6ZOQ4G73CNQP2XSZPLFBR2MJXZFQ7I4ZQL7PK45FIV3GQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4NQ7H73EWJSVVOKIRMIRB6SMW7L3VSXULGQFWSEHKUU4XJY7BTA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRW7FRLSTZANJ5X6UBQGPPI7DIZQE6V2RN2DVTZBFZCSIYGN6TRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T7CEKWNM3K5RCTEWUG75HJLZBNYA7GEOAFXKN6PLGBKYDZZLPOBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47BK7C77PCID4O7YGPAISJEAYBXGMTDUTM2F2JKAIJY3F4BRBOWA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVHY22UHR3MWLF6S5VRVRBXEQ3FKU6HU3JOSI7NLSUDBZSAADFPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SZOTCJOQWOSGQFXU3AZY5PVBFUYD3LQ6IHO64ZUIWEQHUW6GXYRQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5NKG3HDKDB7QETWX3M6PBQOBT44QFTJOU55TPSGTVH2K45YBRGIA/amzn.js",
[...]
