{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "datazone",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "datazone",
        "serviceFullName": "DataZone",
        "serviceId": "DataZone",
        "signatureVersion": "v4",
        "signingName": "datazone",
        "uid": "datazone-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
        ]
    },
    "operations": {
        "AcceptPrediction": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/data-assets/{dataAssetId}/accept-prediction",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "prediction"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {
                        "location": "uri",
                        "locationName": "dataAssetId"
                    },
                    "prediction": {
                        "shape": "S4"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "AcceptProjectMembership": {
            "http": {
                "requestUri": "/environments/{environmentId}/acceptProjectMembership/{requestId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "requestId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    },
                    "reasonDescription": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectMembershipRequest": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "AssociateUserToDomain": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/user-profiles/{userProfileId}/domain-associations/{domainId}/designation/{designation}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfileId",
                    "domainId",
                    "designation"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfileId": {
                        "location": "uri",
                        "locationName": "userProfileId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "designation": {
                        "location": "uri",
                        "locationName": "designation"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "BatchAcceptPredictions": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/data-assets/{dataAssetId}/batch-accept-predictions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "predictions"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {
                        "location": "uri",
                        "locationName": "dataAssetId"
                    },
                    "predictions": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "predictions",
                    "errors"
                ],
                "members": {
                    "predictions": {
                        "shape": "Sq"
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "prediction",
                                "code",
                                "message"
                            ],
                            "members": {
                                "prediction": {
                                    "shape": "S4"
                                },
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "BatchCreateUserProfiles": {
            "http": {
                "requestUri": "/environments/{environmentId}/user-profiles/batch-create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfiles"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {},
                                "userRole": {},
                                "clientToken": {
                                    "idempotencyToken": true
                                },
                                "username": {},
                                "iamPrincipalArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdUserProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {},
                                "username": {},
                                "userId": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {},
                                "username": {},
                                "error": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "BatchGetSubscriptions": {
            "http": {
                "requestUri": "/environments/{environmentId}/subscriptions/batch-get",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requests": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "authorizedPrincipal": {
                                    "shape": "S16"
                                },
                                "dataAssetId": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "subscriptions": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "BatchRejectPredictions": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/data-assets/{dataAssetId}/batch-reject-predictions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "predictions"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {
                        "location": "uri",
                        "locationName": "dataAssetId"
                    },
                    "predictions": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "predictions",
                    "errors"
                ],
                "members": {
                    "predictions": {
                        "shape": "Sq"
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "prediction",
                                "code",
                                "message"
                            ],
                            "members": {
                                "prediction": {
                                    "shape": "S4"
                                },
                                "code": {},
                                "message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "BulkGetDataAssets": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/bulk-get-data-assets/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetIds": {
                        "location": "querystring",
                        "locationName": "dataAssetIds",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataAssets": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "environmentId": {},
                                "dataAssetId": {},
                                "dataAssetType": {},
                                "dataAssetExternalIdentifier": {
                                    "shape": "S1q"
                                },
                                "domainId": {},
                                "name": {
                                    "shape": "S1q"
                                },
                                "description": {
                                    "shape": "S1q"
                                },
                                "technicalName": {
                                    "shape": "S1q"
                                },
                                "technicalDescription": {
                                    "shape": "S1q"
                                },
                                "createdTime": {
                                    "type": "timestamp"
                                },
                                "lastModifiedTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CancelProjectMembershipRequest": {
            "http": {
                "requestUri": "/environments/{environmentId}/cancelProjectMembershipRequest/{requestId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "requestId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    },
                    "reasonDescription": {
                        "shape": "Sc"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "membershipRequest": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CancelSubscriptionRequest": {
            "http": {
                "method": "PUT",
                "requestUri": "/environments/{environmentId}/subscription-requests/{requestId}/cancel",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "requestId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "requestId": {
                        "location": "uri",
                        "locationName": "requestId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "subscriptionRequestId": {
                        "location": "uri",
                        "locationName": "subscriptionRequestId"
                    },
                    "decisionComment": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "requestorId",
                    "requestId",
                    "requestStatus",
                    "authorizedPrincipals",
                    "createdTimestamp",
                    "lastUpdatedTimestamp",
                    "businessReason",
                    "subscriptions"
                ],
                "members": {
                    "requestorId": {},
                    "requestId": {},
                    "requestStatus": {},
                    "authorizedPrincipals": {
                        "shape": "S1e"
                    },
                    "createdTimestamp": {
                        "type": "timestamp"
                    },
                    "lastUpdatedTimestamp": {
                        "type": "timestamp"
                    },
                    "expirationTimestamp": {
                        "type": "timestamp"
                    },
                    "businessReason": {
                        "shape": "S1w"
                    },
                    "subscriptions": {
                        "shape": "S1x"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB4NWFWZKZPWWNCL6LOKO65V5XAOAC4JHZB2DKXRUXWD2PDGXHIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2QFTNLSAMX2WWMT7NCIYGNFHRXEYM4H5JAQ2M4IUT5XDNARL2EA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LL6FFE2Q7SM6GRTFCBNOPA5W5TKB25K72STVCESDLRJPQ5EUZBOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS5MQZEBPAJPQ3K2QKVE7ND2PZCV6OIWLWBHEY6KBDZFNRNW4DFA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KBFIIZPW72OFPIT376PXIQJFH47GYKWH654XZUFFFLHPK6YHGE4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW7ZRQQ5MUZFKLD4JK5UF335CDHXB6ZO6SS6VVNRVGQYCPCLJE4Q/amzn.js"
            ]
        },
        "CheckProfileAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/check-profile-association/{profileId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "profileId",
                    "entityId",
                    "userDesignation"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "profileId": {
                        "location": "uri",
                        "locationName": "profileId"
                    },
                    "entityId": {},
                    "userDesignation": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AssociationExists": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CorsPreflight": {
            "http": {
                "method": "OPTIONS",
                "requestUri": "/{proxy+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "proxy"
                ],
                "members": {
                    "proxy": {
                        "location": "uri",
                        "locationName": "proxy"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "allowCredentials": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Credentials",
                        "type": "boolean"
                    },
                    "allowOrigin": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Origin"
                    },
                    "allowMethod": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Methods"
                    },
                    "allowHeaders": {
                        "location": "header",
                        "locationName": "Access-Control-Allow-Headers"
                    },
                    "maxAge": {
                        "location": "header",
                        "locationName": "Access-Control-Max-Age",
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateAssetCollection": {
            "http": {
                "requestUri": "/environments/{environmentId}/asset-collections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "name",
                    "publishingAgreementId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "name": {},
                    "description": {},
                    "clientIdempotencyToken": {
                        "idempotencyToken": true
                    },
                    "publishingAgreementId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "assetCollectionId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateBusinessGlossary": {
            "http": {
                "requestUri": "/environments/{environmentId}/business-glossaries",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "businessGlossaryTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "parentBusinessGlossaryId": {},
                    "businessGlossaryTitle": {
                        "shape": "S2h"
                    },
                    "businessGlossaryDescription": {
                        "shape": "S2i"
                    },
                    "status": {},
                    "previousId": {},
                    "nextId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "businessGlossaryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateCustomPickList": {
            "http": {
                "requestUri": "/environments/{environmentId}/custom-pick-lists",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "customPickListResourceKey",
                    "customPickListTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "customPickListResourceKey": {},
                    "customPickListTitle": {},
                    "customPickListDescription": {},
                    "customPickListStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "customPickListId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateCustomPickListItem": {
            "http": {
                "requestUri": "/environments/{environmentId}/custom-pick-lists/{customPickListId}/items",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "customPickListId",
                    "itemTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "customPickListId": {
                        "location": "uri",
                        "locationName": "customPickListId"
                    },
                    "itemTitle": {},
                    "itemDescription": {},
                    "itemState": {},
                    "previousId": {},
                    "nextId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "customPickListId",
                    "itemId"
                ],
                "members": {
                    "customPickListId": {},
                    "itemId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateDataAsset": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-assets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "externalIdentifier",
                    "dataAssetType",
                    "dataSourceType",
                    "publishingAgreementId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "externalIdentifier": {
                        "shape": "S1q"
                    },
                    "dataAssetType": {},
                    "dataSourceType": {},
                    "dataSource": {},
                    "name": {
                        "shape": "S1q"
                    },
                    "description": {
                        "shape": "S1q"
                    },
                    "piiInfo": {
                        "shape": "S2z"
                    },
                    "classification": {
                        "shape": "S31"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "publishingAgreementId": {},
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataAssetId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateDataAssetMetadataTemplateAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/data-asset-metadata-template-associations/",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "metadataTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {},
                    "metadataTemplateId": {},
                    "metadataTemplateFieldAssociations": {
                        "shape": "S38"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "validationFailed": {
                        "type": "boolean"
                    },
                    "validationFailedFieldAssociations": {
                        "shape": "S3i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateDataAssetSchemaMetadataTemplateAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/data-asset-schema-metadata-template-associations/daId/{dataAssetId}/mtId/{metadataTemplateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "metadataTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {
                        "location": "uri",
                        "locationName": "dataAssetId"
                    },
                    "metadataTemplateId": {
                        "location": "uri",
                        "locationName": "metadataTemplateId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateDataAssetVersion": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-assets/{dataAssetId}/data-asset-versions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataAssetId",
                    "technicalMetadataSnapshotJsonString",
                    "technicalMetadataTemplateIds"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataAssetId": {
                        "location": "uri",
                        "locationName": "dataAssetId"
                    },
                    "technicalMetadataSnapshotJsonString": {},
                    "technicalName": {
                        "shape": "S1q"
                    },
                    "technicalDescription": {
                        "shape": "S1q"
                    },
                    "metadataCollectorId": {},
                    "metadataCollectorRunId": {},
                    "technicalMetadataTemplateIds": {
                        "shape": "S3o"
                    },
                    "schemaTechnicalMetadataTemplateIds": {
                        "shape": "S3o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataAssetId": {},
                    "version": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateDomain": {
            "http": {
                "requestUri": "/environments/{environmentId}/domains",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "DomainTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "parentDomainId": {},
                    "DomainTitle": {},
                    "DomainDescription": {},
                    "name": {},
                    "description": {},
                    "awsSsoAuthMode": {},
                    "domainS3Location": {},
                    "domainExecutionRole": {},
                    "manageAccessRoleArn": {},
                    "provisioningRoleArn": {},
                    "deletePolicy": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "ssoAuthMode": {},
                    "kmsKeyIdentifier": {},
                    "tags": {
                        "shape": "S31"
                    },
                    "singleSignOn": {
                        "shape": "S3j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateDomainMetadataTemplateAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/domain-metadata-template-associations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "domainId",
                    "metadataTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "domainId": {},
                    "metadataTemplateId": {},
                    "metadataTemplateFieldAssociations": {
                        "shape": "S38"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "validationFailed": {
                        "type": "boolean"
                    },
                    "validationFailedFieldAssociations": {
                        "shape": "S3i"
                    },
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateGroupProfile": {
            "http": {
                "requestUri": "/environments/{environmentId}/create-group-profile/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId",
                    "groupName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    },
                    "groupName": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "domainIdentifier": {
                        "location": "uri",
                        "locationName": "domainIdentifier"
                    },
                    "groupIdentifier": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateMetadataCollector": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "title",
                    "publishingContractId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "title": {
                        "shape": "S41"
                    },
                    "description": {
                        "shape": "S42"
                    },
                    "publishingContractId": {},
                    "enabled": {
                        "type": "boolean"
                    },
                    "frequencyConfiguration": {
                        "shape": "S44"
                    },
                    "dataAssetFilterConfigurations": {
                        "shape": "S47"
                    },
                    "dataAssetPublishConfiguration": {
                        "shape": "S4k"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorId"
                ],
                "members": {
                    "metadataCollectorId": {},
                    "metadataCollectorStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateMetadataCollectorMetadataTemplateAssociation": {
            "http": {
                "requestUri": "/environment/{environmentId}/collector-metadata-template-associations/data-sources/{dataSourceId}/mcId/{metadataCollectorId}/mtId/{metadataTemplateId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "metadataCollectorId",
                    "dataSourceId",
                    "metadataTemplateId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataTemplateId": {
                        "location": "uri",
                        "locationName": "metadataTemplateId"
                    },
                    "metadataTemplateFieldAssociations": {
                        "shape": "S38"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "validationFailed": {
                        "type": "boolean"
                    },
                    "validationFailedFieldAssociations": {
                        "shape": "S3i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateMetadataCollectorRun": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateMetadataTemplate": {
            "http": {
                "requestUri": "/environment/{environmentId}/metadata-templates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "metadataTemplateTitle"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "metadataTemplateTitle": {
                        "shape": "S4u"
                    },
                    "metadataTemplateDescription": {
                        "shape": "S4v"
                    },
                    "status": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "metadataTemplateId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateMetadataTemplateField": {
            "http": {
                "requestUri": "/environment/{environmentId}/metadata-templates/{metadataTemplateId}/fields",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "metadataTemplateId",
                    "fieldTypeConfig",
                    "fieldTitle",
                    "fieldType"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "metadataTemplateId": {
                        "location": "uri",
                        "locationName": "metadataTemplateId"
                    },
                    "fieldTypeConfig": {
                        "shape": "S4z"
                    },
                    "fieldTitle": {
                        "shape": "S5b"
                    },
                    "fieldType": {},
                    "fieldDescription": {
                        "shape": "S5d"
                    },
                    "fieldRequired": {
                        "type": "boolean"
                    },
                    "fieldSearchable": {
                        "type": "boolean"
                    },
                    "fieldStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataTemplateId",
                    "fieldId"
                ],
                "members": {
                    "metadataTemplateId": {},
                    "fieldId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDF75PMO24WEROBBQGXMHPDA447JAGHIS3UOTUR7CFDJRVDDCMPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYNNGXITMA6VMP4ONPPML6SHAXBUHPQBZSQ2YHFYA2LINYZI7KPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJM57FCYWH7II2QAEWPVVPMEHQQXGFK265YAWQM5UX46IIJ45OQQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SHGWOWO4SC5DZSWGDCM2Y5TB2M5NHZOXR2HEBZSVHCOMFRRJHYA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HB445S5NBAVV5UO3N772ZEY3C5YZSUL464E35SMAKWO6MOFSHFMA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3I7HVGQUWZ5TDBDA6NJGLIMDJZ2UG3X4LIUNEHQGFJG3UTAX6TEQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSDNOYP3Q6NBLH24JH6PP5Y6QNI2MG7CF4HKOCDLZZS37AMEDL4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/75SIMLSJBOXSOGLMVXWMXSAYLSF33JN74RTVUWUMMATTA2F2D5ZQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFD3TA2NJWHYGI6TYJGFRRUN3GP5STVS4RRNVRFH2H3Q3NE3V4OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DKXFRUJUH57NKPUEV7U33DMKAL5334IHMUZANQL5QA4MUMV5S6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VWCJGCU7KUM7NSDP6ZVGPHIQ4Y44AZBTUH3IABBTY7O7XVRYCKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S223BSB7OYZPJ25B7G7QJAJ2JJ6M4UJZMS5XY4S7QLBCA2VN5HDQ/amzn.js"
            ]
        },
        "CreateProject": {
            "http": {
                "requestUri": "/environments/{environmentId}/projects",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "name",
                    "projectProfileId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "name": {},
                    "description": {
                        "shape": "S5i"
                    },
                    "projectProfileId": {},
                    "customAttributes": {
                        "shape": "S5k"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "namespace": {},
                    "tags": {
                        "shape": "S3e"
                    },
                    "glossaryTerms": {
                        "shape": "S14"
                    },
                    "domainIdentifier": {
                        "location": "uri",
                        "locationName": "domainIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "projectId": {
                        "shape": "Sf"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateProjectMembership": {
            "http": {
                "requestUri": "/environments/{environmentId}/createProjectMemberships/{projectId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "projectId",
                    "userDesignation",
                    "requesterProfileId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "projectId": {
                        "shape": "Sf",
                        "location": "uri",
                        "locationName": "projectId"
                    },
                    "userDesignation": {},
                    "requesterProfileId": {},
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    },
                    "member": {
                        "shape": "S3h"
                    },
                    "designation": {},
                    "domainIdentifier": {
                        "location": "uri",
                        "locationName": "domainIdentifier"
                    },
                    "projectIdentifier": {
                        "location": "uri",
                        "locationName": "projectIdentifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
[...]
