{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "datazonecontrol",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "ripServiceName": "datazone",
        "serviceFullName": "DataZoneControl",
        "serviceId": "DataZoneControl",
        "signatureVersion": "v4",
        "signingName": "datazonecontrol",
        "uid": "datazonecontrol-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
        ]
    },
    "operations": {
        "AssociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/associate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "BatchCreateUserProfiles": {
            "http": {
                "requestUri": "/user-profiles/{environmentId}/batch-create",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userProfiles"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "userRole": {},
                                "clientToken": {
                                    "idempotencyToken": true
                                },
                                "username": {},
                                "iamPrincipalArn": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "createdUserProfiles": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "userId": {}
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "email": {
                                    "shape": "Sb"
                                },
                                "username": {},
                                "error": {}
                            }
                        }
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateAccountAssociationInvitation": {
            "http": {
                "requestUri": "/environments/{environmentId}/create-account-association-invitation/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "description": {},
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateDataSource": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "title",
                    "dataSourceType",
                    "region",
                    "dataSourceConfiguration"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "title": {
                        "shape": "Sm"
                    },
                    "dataSourceType": {},
                    "region": {},
                    "dataSourceConfiguration": {
                        "shape": "Sp"
                    },
                    "publicationConfiguration": {
                        "shape": "S11"
                    },
                    "subscriptionConfiguration": {
                        "shape": "S18"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateEnvironment": {
            "http": {
                "requestUri": "/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentName",
                    "projectCodebuildRoleArn"
                ],
                "members": {
                    "environmentName": {
                        "shape": "S1k"
                    },
                    "description": {
                        "shape": "S1l"
                    },
                    "kmsKeyId": {},
                    "tags": {
                        "shape": "S1e"
                    },
                    "enableAwsSsoAuth": {
                        "type": "boolean"
                    },
                    "enableSelfAccountAssociation": {
                        "type": "boolean"
                    },
                    "projectCodebuildRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "projectBootstrapRoleArn": {
                        "type": "string",
                        "sensitive": true
                    },
                    "domainExecutionRoleArn": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "tags": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/create-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId",
                    "groupName"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    },
                    "groupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "CreateMetadataCollectorRun": {
            "http": {
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteDataSource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "dataSourceId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteEnvironment": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/environment/{environmentId}/delete-group/{groupId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "groupId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "groupId": {
                        "location": "uri",
                        "locationName": "groupId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DeleteMetadataCollectorRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}/metadata-collector-runs/{metadataCollectorRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId",
                    "metadataCollectorRunId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    },
                    "metadataCollectorRunId": {
                        "location": "uri",
                        "locationName": "metadataCollectorRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorRunId"
                ],
                "members": {
                    "metadataCollectorRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "DissociateAccount": {
            "http": {
                "requestUri": "/environments/{environmentId}/dissociate-account/{accountId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "accountId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetAssociatedDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/associated-account/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "domainId"
                ],
                "members": {
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "environmentId": {},
                    "domainId": {},
                    "domainTitle": {},
                    "domainDescription": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetDataSource": {
            "http": {
                "method": "GET",
                "requestUri": "/data-source/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "dataSourceId"
                ],
                "members": {
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetDataSourceByEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    }
                }
            },
            "output": {
                "shape": "S2b"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/domains/{domainId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "domainId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "domainId": {
                        "location": "uri",
                        "locationName": "domainId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "domainId": {},
                    "parentDomainId": {},
                    "domainTitle": {},
                    "domainDescription": {},
                    "domainStatus": {},
                    "createdTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "shape": "S2k"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetMetadataCollector": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/data-sources/{dataSourceId}/metadata-collectors/{metadataCollectorId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "dataSourceId",
                    "metadataCollectorId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "dataSourceId": {
                        "location": "uri",
                        "locationName": "dataSourceId"
                    },
                    "metadataCollectorId": {
                        "location": "uri",
                        "locationName": "metadataCollectorId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "metadataCollectorId",
                    "title",
                    "dataSourceId",
                    "publishingContractId",
                    "environmentId",
                    "enabled",
                    "frequencyConfiguration",
                    "dataAssetFilterConfigurations",
                    "dataAssetPublishConfiguration",
                    "executionOrder",
                    "lastModifiedTime",
                    "creationTime"
                ],
                "members": {
                    "metadataCollectorId": {},
                    "title": {
                        "shape": "Sm"
                    },
                    "description": {
                        "shape": "S1d"
                    },
                    "dataSourceId": {},
                    "publishingContractId": {},
                    "environmentId": {},
                    "enabled": {
                        "type": "boolean"
                    },
                    "frequencyConfiguration": {
                        "shape": "S2r"
                    },
                    "dataAssetFilterConfigurations": {
                        "shape": "S2u"
                    },
                    "dataAssetPublishConfiguration": {
                        "shape": "S37"
                    },
                    "executionOrder": {
                        "type": "integer"
                    },
                    "lastRunStatus": {},
                    "lastRunTime": {
                        "type": "timestamp"
                    },
                    "lastModifiedTime": {
                        "type": "timestamp"
                    },
                    "creationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetUserPortalLoginAuthCode": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/user-portal-login-auth-code",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "authCodeUrl"
                ],
                "members": {
                    "authCodeUrl": {
                        "type": "string",
                        "sensitive": true
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "GetUserProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/user-profiles/{environmentId}/{userId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId",
                    "userId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "userId": {
                        "location": "uri",
                        "locationName": "userId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "userProfile": {
                        "shape": "S3g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOZAKXLMREA5J2ZTUQ6AVFIP7ZWYIAZXVFFBWBQICDYAEY2GZL6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5XFSDVDRZ6AGCZ6JNHE5QRZUK2QPMGKLPZTPKVVUUJ3OFYELX2KQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQWSVLPZPZTDZRMBWIQOBN4UZAHJCBEDDLMAUYUV3KTCEPFGQ5OQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4OEBBPTNXTDIQBJUEY3AF24Y4MSYNGRQPN5T5YXAHDISGUSBU2YQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XE2UDORMALXPXJXUTKOV6MRB6OEYJGLAPOZ6Z7SXID4AVP5DYENA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NDMUBDJ6NVKQZ5SXEJDV5KHRX3DFJSI7DGX2PVGBIHDRZW6VCNQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAccountAssociationInvitations": {
            "http": {
                "method": "GET",
                "requestUri": "/list-association-invitations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedEnvironments": {
                        "shape": "S3m"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAllAssociatedAccountsForEnvironment": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/all-level-associated-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAccounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountId": {},
                                "domainId": {},
                                "creationTime": {},
                                "status": {},
                                "associationProperty": {},
                                "description": {},
                                "lastModifiedTime": {},
                                "failureDetails": {
                                    "shape": "S3u"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XSVKGL4JQYE3QRCLZKSHK3CCUF3BIE6FUC4O7SS5UNR7P6PRXA4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3FWMNOTMY2TCVMOJUQQ2LYU2KVLSXQBUGH4P4WH2I7HCVZKI6IA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM5XWF2DJD3JBCBSFG74GSIPQ4WFTAGA7PBMPHJN4VMJWOCFR5BA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z52T27ZOCSX3U7TVQN7HLZA6JJX3BFPINNCLPPGLW56LCQH4JFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEMVW66RXZLSOG7IBDAFZWL5D45PL2FUB645ZSMM6JQFEUQOQ62Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCMLJ4SK3JGHBRQYNIYPKNMPBCY4Z4BMUEEOPE7UXYU57LPHOJEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LX4WAIAVAYXV6P3BB55Z6WFSQAUNUMVXZWAZW5JYDWBDGQVLC37Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FPOBBQEV5PZZOQUZM7F5LIQORYV5YMRSUWGD4QKSNMKUTEDHHRCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHTMQHZQJF63BMFCLDKQOQGJW5EAWQQKJVXDGYC2EWCXDQBFYIHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E55IBXPOLYKM4UQQGIHOFQQV5VWTFCPH7VKX2PBQTJ75MAZREJVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBJDAUNFQM6BGZQLDT6QVLCGMKFB5VDQ6Q3MMGM6YNJLSR2FMOKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BNP7IGIXSIIHGZZBMWKRQO2GRM2JJR56IN7YOWTFRRY2FIEU4UFQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKKEMKNR7564THEOR4YD65JFOQ6QEETOGXPR24Q6TYCLQOEBHCCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YRH54NGYHRJME55TR7ATQCNUA57TQWN5EB6Q3R3PDX75IL246MCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UWWHEBF5DEVGASQR5C4NEDVJIJU5R2ZAQFTT5XNANIFG2IIAXSSQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3HNHPNVQYHN3YRCKTOBHPRSCG4AIM776OFHHTIVK7FKLKQLSTGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7UFB2J3OEOPHSPC56AQUKPXYRNRDSFDDGUFR5CUMII44R5OUTLA/amzn.js"
            ]
        },
        "ListAssociatedAccounts": {
            "http": {
                "method": "GET",
                "requestUri": "/environments/{environmentId}/associated-accounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "environmentId"
                ],
                "members": {
                    "environmentId": {
                        "location": "uri",
                        "locationName": "environmentId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "associatedAccounts": {
                        "type": "list",
                        "member": {
                            "shape": "S3z"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MB4HNHDXKUQYDJ2DZSSBLFQQXXCA3O4WLZNX5RABDF2E737HVVQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HR54VDVJKNKTTFHGJM3BJJHYDGBD5TETO7KPD337OCRC2QFO5JCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RIQRG7BPOURWOPKXC7KL7EGZ7AGXLHPOC274VATIF535DP6GWB5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZF54HWO7KZ226KICRYTFRY2TXUT6BAKHB5GGSYJNGGYKPCMJVFWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLDOPSZLK2BALBJMVBXOGVAITZQ3WF24DIORM6IKTF5PBCSYDHBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJ5VJPDYTKF3ZYFAZXYHBOIMNK3I4YTL2BZGC4U2XX32SZWNGJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RSN7C6VHQLEUX5PDFCMD7WT2AAF3PPCLRZWA4UFJILOA3455GTQ/amzn.js",
[...]
