{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-15",
        "endpointPrefix": "data-protection-appliance",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Backup Data Protection Gateway",
        "serviceId": "DPG",
        "signatureVersion": "v4",
        "uid": "data-protection-appliance-2018-11-15",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
        ]
    },
    "operations": {
        "DeregisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/deregister-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplianceId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "DescribeAppliance": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "DescribeResource": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resource-id"
                    },
                    "ContainerId": {
                        "location": "querystring",
                        "locationName": "container-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "DiscoverResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/discover-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "Name",
                    "ConnectivityInfo",
                    "CredentialInfo"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "Name": {},
                    "ConnectivityInfo": {},
                    "CredentialInfo": {},
                    "AwsTags": {
                        "shape": "Sb"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceContainerId"
                ],
                "members": {
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListAppliances": {
            "http": {
                "method": "GET",
                "requestUri": "/list-appliances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplianceInfos"
                ],
                "members": {
                    "ApplianceInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/list-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceContainerId": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "RegisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/register-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceName",
                    "PartnerId",
                    "ApplianceRole",
                    "EnablePartnerDataAccess"
                ],
                "members": {
                    "ApplianceName": {},
                    "PartnerId": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActivationToken": {},
                    "ApplianceId": {},
                    "ApplianceName": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "RemoveResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/remove-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "ResourceContainerId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "UpdateAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/update-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ApplianceName": {},
                    "ApplianceDescription": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/K3JIW6V4ZS2KP7HTBHTOABOOZJOTI7ZLA5N7RDA5JYFFZLJ2BZ4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EAYXNEKH45ZMYZ5BLORKRNPU3SPE57SICVXSR4N6TJBEZ7XVNVRQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        },
        "ListPartners": {
            "http": {
                "method": "GET",
                "requestUri": "/list-partners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PartnerInfos"
                ],
                "members": {
                    "PartnerInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "PartnerId": {},
                                "MinimumApplianceVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/XTVPH2BNQMGRS77RNSGON66LZZK7QT3PTDZCLFPU7K3BVEUUEMPQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VIDHHAOL3L6FAJUYPBFY2KZLF5DX7HXKBZ6QLGKRYQQRKPDG5XBQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FOELCCQOZSK47EPEJJFVJTI4HBYKFT2HKNXKVMJLVBFFCRXBOGQQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RNKCK7ZUDBN3TO6XPCGSAGNOSSB62VEDZ5DL2OCOY2B3JBXOZICQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AJQ6IBHWKWXGYBOMN7RFCKB3MPG5AKHLH6WQUZ3NGG2PZWMINBLA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XPBIY7DPLJOGOCA4YATCT7JU7FMJH7AVNJSL5TQB4XQZMCX24ZUQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5DXOLVEYWYUEZHPZD6MNSGGOQTLSDKFZAAQG5K7HDVIVHMJSSR3A/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4MXWXCQXTGEXPAD5RFWYCGHCJTVZSE7Q5U6WC2NJ7JIPOF2T6KIQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J7HB5GX54KLZLCWP6QGTTPVC5CFWUFN7XSNC3SIGWESCGAW6RH4Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSTYLEAJUB452J3W4BAJ5HAUTHJRQ7UM43TPIZ23UYMCRIHJJWJA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/A3YCBSIQZOPOT46SWYW6O44XXKYFIXQOLOE2IJ7VECIV22TQVETQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MPSGSRDVDNKDXRXKE2S5U7EBNGFHIMQDBP7GW75WJXBLHKFK6YGQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KCRD2LQ5EGVUFH5QLFYE2VT6V65S45HMBLMCPMKL4E7ZNLMVP37Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/L4UJ6LE4HMNXUVON6DY3WPHR2RMVH4U4TFJQPIJ6F6TNNJGS5GVA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XHRF7ABHAG4LHSU7AHFF2YADOYLW733QVJEJFZWFNYK5FWQ4GBIA/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LXVP2GC47DAAHA3IIN4C5JTOM23WBAVSYQADINC6VGGUFRONRK5Q/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V34PHF262TWX4645BUEWFTXJPZQMQI6VEXYXO34GODSXUKSXEDTQ/vendor-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UJMQVMOOG7BQQRSDJDK5WNUQSAVE443MO2LUS7Y7WMXCJNW6MAFQ/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Id",
                "Arn",
                "Name",
                "ActivationDate",
                "Version",
                "LastUpdateDate",
                "Status",
                "PartnerId",
                "IsPartnerDataAccessEnabled",
                "ApplianceRole",
                "AwsTags",
                "ApplianceTags"
            ],
            "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "ActivationDate": {
                    "type": "timestamp"
                },
                "Version": {
                    "type": "long"
                },
                "LastUpdateDate": {
                    "type": "timestamp"
                },
                "LastHeartbeatDate": {
                    "type": "timestamp"
                },
                "Description": {},
                "Status": {},
                "PartnerId": {},
                "PartnerName": {},
                "IsPartnerDataAccessEnabled": {
                    "type": "boolean"
                },
                "ApplianceRole": {},
                "AwsTags": {
                    "shape": "Sb"
                },
                "ApplianceTags": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "ApplianceId": {},
                "Id": {},
                "ContainderId": {},
                "IsResourceContainer": {
                    "type": "boolean"
                },
                "ConnectivityInfo": {},
                "Arn": {},
                "Name": {},
                "Category": {},
                "Type": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastUpdateTime": {
                    "type": "timestamp"
                },
                "LastSuccessfulBackupTime": {
                    "type": "timestamp"
                },
                "Tags": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "key": {},
                            "value": {}
                        }
                    }
                },
                "Status": {},
                "StatusMessage": {},
                "MetadataMap": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}