{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-15",
        "endpointPrefix": "data-protection-appliance",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Backup Data Protection Gateway",
        "serviceId": "DPG",
        "signatureVersion": "v4",
        "uid": "data-protection-appliance-2018-11-15",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3ARG6K6TF5XGYJCJZBANLILBVEUMRTIY5PY3ON6FGMWZ7JGGWGGA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
        ]
    },
    "operations": {
        "DeregisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/deregister-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "ApplianceId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DescribeAppliance": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DescribeResource": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-resource",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceId"
                ],
                "members": {
                    "ApplianceId": {
                        "location": "querystring",
                        "locationName": "appliance-id"
                    },
                    "ResourceId": {
                        "location": "querystring",
                        "locationName": "resource-id"
                    },
                    "ContainerId": {
                        "location": "querystring",
                        "locationName": "container-id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "DiscoverResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/discover-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "Name",
                    "ConnectivityInfo",
                    "CredentialInfo"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "Name": {},
                    "ConnectivityInfo": {},
                    "CredentialInfo": {},
                    "AwsTags": {
                        "shape": "Sb"
                    },
                    "IdempotencyToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ResourceContainerId"
                ],
                "members": {
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListAppliances": {
            "http": {
                "method": "GET",
                "requestUri": "/list-appliances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApplianceInfos"
                ],
                "members": {
                    "ApplianceInfos": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/list-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceContainerId": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Resources"
                ],
                "members": {
                    "Resources": {
                        "type": "list",
                        "member": {
                            "shape": "Sg"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "RegisterAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/register-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceName",
                    "PartnerId",
                    "ApplianceRole",
                    "EnablePartnerDataAccess"
                ],
                "members": {
                    "ApplianceName": {},
                    "PartnerId": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    },
                    "Description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActivationToken": {},
                    "ApplianceId": {},
                    "ApplianceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "RemoveResources": {
            "http": {
                "method": "PUT",
                "requestUri": "/remove-resources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId",
                    "ResourceCategory",
                    "ResourceType",
                    "ResourceContainerId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ResourceCategory": {},
                    "ResourceType": {},
                    "ResourceContainerId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "UpdateAppliance": {
            "http": {
                "method": "PUT",
                "requestUri": "/update-appliance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ApplianceId"
                ],
                "members": {
                    "ApplianceId": {},
                    "ApplianceName": {},
                    "ApplianceDescription": {},
                    "ApplianceRole": {},
                    "EnablePartnerDataAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Appliance"
                ],
                "members": {
                    "Appliance": {
                        "shape": "S5"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        },
        "ListPartners": {
            "http": {
                "method": "GET",
                "requestUri": "/list-partners",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "next-token"
                    },
                    "Limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PartnerInfos"
                ],
                "members": {
                    "PartnerInfos": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "PartnerId": {},
                                "MinimumApplianceVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UI2DDZDZDNUITMUDLVPY3YGCZAQAMVDUF2TWH5UQJWK5UNB4PEZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UT4HL35TNWMDOUMBOTBBOQ2OKN2VY2RCPTBANURC2QOZ3PUOWZSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMVAKN76NG3I3I6CTW7FIM4JAPJBDXMBP25WBIXLR3TU2D5KAHUA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERGXZXBYBSIBC55WT52EN4OQDPQHHOCTLGQUXSXNYFUXJUYFFF7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B6QTDU5ZZKUUBF3F4YSM5NKRKFLKT44SWQWN3OCMVVWJVUTJHM6A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/532OT6IXNDFKQRE7MGZEI72AX7LD6R4P2FRZT52O37FKFR3JIJVQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VOWEDAHLRLRFOUEIOMJWRLQ7LZOMWRP67QMB5TUNHQLKN5W7JUPQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSUPDV6CGY6K5O7PYU5OIIU2BGAX6EZ7YMVYEKAOIG7WVPR4D7CA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/244I5RWMTGH5W26LSH74WJ2WGVSVEFXZNXYFWUUS4FX55AMCZXQQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6USK5IMZIVK6VWRELVKSLFVSD5DOAZDEI4VHIMXVLYJXM7OX7UNQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z53NLIII4RIOLZN333YRSPWFAC6ZZFIXIQYTNJEYEBLB5AAIBKKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQN5TGOCSBVZFA4QYQOD3CTNOQVMQ2Q2V5ST6OLAIQFB4SOWFQHA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3BRNZ3XXTFUORHHKXULFVXS43YMLT2MBILXTWW5FVRJUDQIK5ZQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Id",
                "Arn",
                "Name",
                "ActivationDate",
                "Version",
                "LastUpdateDate",
                "Status",
                "PartnerId",
                "IsPartnerDataAccessEnabled",
                "ApplianceRole",
                "AwsTags",
                "ApplianceTags"
            ],
            "members": {
                "Id": {},
                "Arn": {},
                "Name": {},
                "ActivationDate": {
                    "type": "timestamp"
                },
                "Version": {
                    "type": "long"
                },
                "LastUpdateDate": {
                    "type": "timestamp"
                },
                "LastHeartbeatDate": {
                    "type": "timestamp"
                },
                "Description": {},
                "Status": {},
                "PartnerId": {},
                "PartnerName": {},
                "IsPartnerDataAccessEnabled": {
                    "type": "boolean"
                },
                "ApplianceRole": {},
                "AwsTags": {
                    "shape": "Sb"
                },
                "ApplianceTags": {
                    "shape": "Sb"
                }
            }
        },
        "Sb": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sg": {
            "type": "structure",
            "members": {
                "ApplianceId": {},
                "Id": {},
                "ContainderId": {},
                "IsResourceContainer": {
                    "type": "boolean"
                },
                "ConnectivityInfo": {},
                "Arn": {},
                "Name": {},
                "Category": {},
                "Type": {},
                "CreationDate": {
                    "type": "timestamp"
                },
                "LastUpdateTime": {
                    "type": "timestamp"
                },
                "LastSuccessfulBackupTime": {
                    "type": "timestamp"
                },
                "Tags": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "key": {},
                            "value": {}
                        }
                    }
                },
                "Status": {},
                "StatusMessage": {},
                "MetadataMap": {
                    "type": "map",
                    "key": {},
                    "value": {}
                }
            }
        }
    }
}