{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-11-09",
        "endpointPrefix": "datasync",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "DataSync",
        "serviceFullName": "AWS DataSync",
        "serviceId": "DataSync",
        "signatureVersion": "v4",
        "signingName": "datasync",
        "targetPrefix": "FmrsService",
        "uid": "datasync-2018-11-09",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CancelTaskExecution": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskExecutionArn"
                ],
                "members": {
                    "TaskExecutionArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAgent": {
            "input": {
                "type": "structure",
                "required": [
                    "ActivationKey"
                ],
                "members": {
                    "ActivationKey": {},
                    "AgentName": {},
                    "Tags": {
                        "shape": "S7"
                    },
                    "VpcEndpointId": {},
                    "SubnetArns": {
                        "shape": "Sb"
                    },
                    "SecurityGroupArns": {
                        "shape": "Sd"
                    },
                    "RolloutGroups": {
                        "shape": "Sv"
                    },
                    "InternalControls": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AgentArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationEfs": {
            "input": {
                "type": "structure",
                "required": [
                    "EfsFilesystemArn",
                    "Ec2Config"
                ],
                "members": {
                    "Subdirectory": {},
                    "EfsFilesystemArn": {},
                    "Ec2Config": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "AccessPointArn": {},
                    "FileSystemAccessRoleArn": {},
                    "InTransitEncryption": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationFsxLustre": {
            "input": {
                "type": "structure",
                "required": [
                    "FsxFilesystemArn",
                    "SecurityGroupArns"
                ],
                "members": {
                    "FsxFilesystemArn": {},
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "Subdirectory": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationFsxOntap": {
            "input": {
                "type": "structure",
                "required": [
                    "Protocol",
                    "SecurityGroupArns",
                    "StorageVirtualMachineArn"
                ],
                "members": {
                    "Protocol": {
                        "shape": "Sw"
                    },
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "StorageVirtualMachineArn": {},
                    "Subdirectory": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationFsxOpenZfs": {
            "input": {
                "type": "structure",
                "required": [
                    "FsxFilesystemArn",
                    "Protocol",
                    "SecurityGroupArns"
                ],
                "members": {
                    "FsxFilesystemArn": {},
                    "Protocol": {
                        "shape": "Sw"
                    },
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "Subdirectory": {},
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationFsxWindows": {
            "input": {
                "type": "structure",
                "required": [
                    "FsxFilesystemArn",
                    "SecurityGroupArns",
                    "User",
                    "Password"
                ],
                "members": {
                    "Subdirectory": {},
                    "FsxFilesystemArn": {},
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "User": {},
                    "Domain": {},
                    "Password": {
                        "shape": "S14"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationHdfs": {
            "input": {
                "type": "structure",
                "required": [
                    "NameNodes",
                    "AuthenticationType",
                    "AgentArns"
                ],
                "members": {
                    "Subdirectory": {},
                    "NameNodes": {
                        "shape": "S1h"
                    },
                    "BlockSize": {
                        "type": "integer"
                    },
                    "ReplicationFactor": {
                        "type": "integer"
                    },
                    "KmsKeyProviderUri": {},
                    "QopConfiguration": {
                        "shape": "S1o"
                    },
                    "AuthenticationType": {},
                    "SimpleUser": {},
                    "KerberosPrincipal": {},
                    "KerberosKeytab": {
                        "type": "blob"
                    },
                    "KerberosKrb5Conf": {
                        "type": "blob"
                    },
                    "AgentArns": {
                        "shape": "S1w"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationNfs": {
            "input": {
                "type": "structure",
                "required": [
                    "Subdirectory",
                    "ServerHostname",
                    "OnPremConfig"
                ],
                "members": {
                    "Subdirectory": {},
                    "ServerHostname": {},
                    "OnPremConfig": {
                        "shape": "S21"
                    },
                    "MountOptions": {
                        "shape": "Sy"
                    },
                    "Tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationObjectStorage": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerHostname",
                    "BucketName",
                    "AgentArns"
                ],
                "members": {
                    "ServerHostname": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "ServerProtocol": {},
                    "Subdirectory": {},
                    "BucketName": {},
                    "AccessKey": {},
                    "SecretKey": {
                        "shape": "S29"
                    },
                    "AgentArns": {
                        "shape": "S1w"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "ServerCertificate": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationS3": {
            "input": {
                "type": "structure",
                "required": [
                    "S3BucketArn",
                    "S3Config"
                ],
                "members": {
                    "Subdirectory": {},
                    "S3BucketArn": {},
                    "S3StorageClass": {},
                    "S3Config": {
                        "shape": "S2f"
                    },
                    "AgentArns": {
                        "shape": "S1w"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "EbsCredentialConfig": {
                        "shape": "S3a"
                    },
                    "Ec2Config": {
                        "shape": "S1e"
                    },
                    "TestWriteAccess": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLocationSmb": {
            "input": {
                "type": "structure",
                "required": [
                    "Subdirectory",
                    "ServerHostname",
                    "User",
                    "Password",
                    "AgentArns"
                ],
                "members": {
                    "Subdirectory": {},
                    "ServerHostname": {},
                    "User": {},
                    "Domain": {},
                    "Password": {
                        "shape": "S14"
                    },
                    "AgentArns": {
                        "shape": "S1w"
                    },
                    "MountOptions": {
                        "shape": "S12"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "AuthenticationType": {},
                    "ActiveDirectoryDnsIps": {
                        "shape": "S3k"
                    },
                    "KerberosPrincipal": {},
                    "KerberosKeytab": {
                        "type": "blob"
                    },
                    "KerberosKrb5Conf": {
                        "type": "blob"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateTask": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceLocationArn",
                    "DestinationLocationArn"
                ],
                "members": {
                    "SourceLocationArn": {},
                    "DestinationLocationArn": {},
                    "CloudWatchLogGroupArn": {},
                    "Name": {},
                    "Options": {
                        "shape": "S2m"
                    },
                    "Excludes": {
                        "shape": "S32"
                    },
                    "Schedule": {
                        "shape": "S36"
                    },
                    "Tags": {
                        "shape": "S7"
                    },
                    "Includes": {
                        "shape": "S32"
                    },
                    "RequestToken": {},
                    "TaskReportConfig": {
                        "shape": "S4j"
                    },
                    "RolloutGroups": {
                        "shape": "Sv"
                    },
                    "ManifestConfig": {
                        "shape": "S4h"
                    },
                    "TaskVersion": {},
                    "TaskMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TaskArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteAgent": {
            "input": {
                "type": "structure",
                "required": [
                    "AgentArn"
                ],
                "members": {
                    "AgentArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLocation": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTask": {
            "input": {
                "type": "structure",
                "required": [
                    "TaskArn"
                ],
                "members": {
                    "TaskArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAgent": {
            "input": {
                "type": "structure",
                "required": [
                    "AgentArn"
                ],
                "members": {
                    "AgentArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AgentArn": {},
                    "Name": {},
                    "Status": {},
                    "LastConnectionTime": {
                        "type": "timestamp"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "EndpointType": {},
                    "PrivateLinkConfig": {
                        "type": "structure",
                        "members": {
                            "VpcEndpointId": {},
                            "PrivateLinkEndpoint": {},
                            "SubnetArns": {
                                "shape": "Sb"
                            },
                            "SecurityGroupArns": {
                                "shape": "Sd"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationEfs": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "Ec2Config": {
                        "shape": "Sk"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "AccessPointArn": {},
                    "FileSystemAccessRoleArn": {},
                    "InTransitEncryption": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationFsxLustre": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationFsxOntap": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LocationArn": {},
                    "LocationUri": {},
                    "Protocol": {
                        "shape": "Sw"
                    },
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "StorageVirtualMachineArn": {},
                    "FsxFilesystemArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationFsxOpenZfs": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "Protocol": {
                        "shape": "Sw"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationFsxWindows": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "SecurityGroupArns": {
                        "shape": "Sl"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "User": {},
                    "Domain": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationHdfs": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "NameNodes": {
                        "shape": "S1h"
                    },
                    "BlockSize": {
                        "type": "integer"
                    },
                    "ReplicationFactor": {
                        "type": "integer"
                    },
                    "KmsKeyProviderUri": {},
                    "QopConfiguration": {
                        "shape": "S1o"
                    },
                    "AuthenticationType": {},
                    "SimpleUser": {},
                    "KerberosPrincipal": {},
                    "AgentArns": {
                        "shape": "S1w"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZGIE6EUSL4JS7HYK4642OIXVOYD5ZIEQZ6QTZHGBROIMFB4ZY4NQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GWXRMPTM3HPRFIVISDGOIRSYVXPNNVU57JNBH537IE2NRG5XWQRQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/H5Y4H54CV6MEYZTD2PTFEGG6FQZAMWD42JVH4HNLXI5CPKPWGHYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VY4KIBWVZS57DKTMIW4ZVEEZI5OPE7ZRXDM4ANMI7AH5LAM2CDSA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDGM226C36EAZ54VEUOHJDJ2K6I3BTEINXZSVWUPRAG7IFLFDUAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/XVGG3AVRRADCQKNY4T2Q3YZHXKA7ELB7CLV3ESTB4N4G6XN4PREA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BQS6J7YSNXZPTMVB6OWMPPBGOYC3Z2USRIB5C2PUEQC6LMX2CS7Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WGOYEJXVISEFYJKZOGGT5P3MHAOU65ZCJWZZOOUBOPJ5AHRJ5M2A/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/25XZP5GSDIMITUHMH2BF2KTY667KWN5CCZ2XA7PYRTHPCKDAMY4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationNfs": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "OnPremConfig": {
                        "shape": "S21"
                    },
                    "MountOptions": {
                        "shape": "Sy"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V23UEZWSHYG6PKK5FPBQ3SJ5B5HPHIQHOMGGM4PTW7LZSNL4SFKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QEBTZMWJ73HLDEEA6IISGEUSB2VJBOOILIHQNKTIS2P3KZEJXRAQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HQHUSZJRCJYPB6CRBIAWNAX5ASAK3HRGNMWIZDMHMRGJO664Z2TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CSGIBHMMCJAW5QF4JBJRVZHT74HQAINUCNVRIOPHEZSNMRBRYVYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UR2CXLWH65CHNI4AWPDUSLVVMG3GSCDJC2CRMFCHIG37WHTXLEFA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SWMA57FWYG53GBSSOWWKPZVGOHEOGKW5WJPACSQ6DHSQCJRRY7XQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FJIGHIA55D75LLUMTYSDKGSWWYAQIMUJ3FICXRC76CJD3I6COKDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6B4CBVPZ2OKRWKAI3TJBJVTWXKGB3TRLKGSFVFI36K6HA4B6YKNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TBUE24MSJZX36HJ7P5LGQVVNW6IBKXIUZEXULS7GGUF76TMFJVBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WRRVFPGMR6II6Y6V3L43BNOU4EWFQX7YRY5M2R4DC2P2B7JH47XA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ARDXDHKURZVUNT6O2WNUUPOEX7WVURNMUJTAUEIYFAWU6XSU2UVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RMUXRVADRASD4L3S56L4SCYCLVW2XH7WG4D2A46XKWARSG73Z6SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeLocationObjectStorage": {
            "input": {
                "type": "structure",
                "required": [
                    "LocationArn"
                ],
                "members": {
                    "LocationArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LocationArn": {},
                    "LocationUri": {},
                    "AccessKey": {},
                    "ServerPort": {
                        "type": "integer"
                    },
                    "ServerProtocol": {},
                    "AgentArns": {
                        "shape": "S1w"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
[...]
