{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-01-26",
        "endpointPrefix": "datacatalog",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon DataCatalog",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonDataCatalog",
        "uid": "daylight-2016-01-26",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/5NBEUXXONT5UQSPHEQ2FX3AH3MKYSBSWXW3L3WMUGCUAXY4JJC3Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
        ]
    },
    "operations": {
        "AssociateColumnParametersForTable": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "columnParameters"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "columnParameters": {
                        "shape": "S4"
                    },
                    "skipArchive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "AssociateParametersForTable": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "parameters"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "parameters": {
                        "shape": "S6"
                    },
                    "skipArchive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "AssumeDecoratedRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLAssertion",
                    "RoleArn",
                    "PrincipalArn"
                ],
                "members": {
                    "SAMLAssertion": {},
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {
                        "shape": "Sj"
                    },
                    "SecretAccessKey": {
                        "shape": "Sk"
                    },
                    "SessionToken": {
                        "shape": "Sl"
                    },
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchCreatePartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "tableName",
                    "partitions"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tableName": {},
                    "partitions": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failed": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchDeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionNameList"
                ],
                "members": {
                    "catalogId": {},
                    "connectionNameList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "succeeded": {
                        "shape": "S13"
                    },
                    "failed": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S1k"
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchDeletePartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "tableName",
                    "partitionsToDelete"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tableName": {},
                    "partitionsToDelete": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failed": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchDeleteTableVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "versionIds"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "versionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tableName": {},
                                "versionId": {},
                                "errorDetail": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchDeleteTables": {
            "input": {
                "type": "structure",
                "required": [
                    "tablesToDelete"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tablesToDelete": {
                        "type": "list",
                        "member": {}
                    },
                    "transactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failed": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tableName": {},
                                "error": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchGetColumnStatisticsForTable": {
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "databaseName",
                                "tableName",
                                "columnNames"
                            ],
                            "members": {
                                "databaseName": {},
                                "tableName": {},
                                "columnNames": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "region": {},
                    "querySessionContext": {
                        "shape": "S2b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "columnStatisticsForTableList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "databaseName": {},
                                "tableName": {},
                                "columnStatisticsList": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "databaseName": {},
                                "tableName": {},
                                "columnErrors": {
                                    "shape": "S2x"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchGetInternalUnfilteredTable": {
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "entries": {
                        "shape": "S30"
                    },
                    "auditContext": {
                        "shape": "S36"
                    },
                    "SupportedPermissionTypes": {
                        "shape": "S3b"
                    },
                    "region": {},
                    "SupportedDialect": {
                        "shape": "S3l"
                    },
                    "returnBaseTablesForViews": {
                        "type": "boolean"
                    },
                    "parentResourceArn": {},
                    "rootResourceArn": {},
                    "querySessionContext": {
                        "shape": "S2b"
                    },
                    "Format": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tableList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "table": {
                                    "shape": "S3g"
                                },
                                "authorizedColumns": {
                                    "shape": "S13"
                                },
                                "isRegisteredWithLakeFormation": {
                                    "type": "boolean"
                                },
                                "useAdvancedFiltering": {
                                    "type": "boolean"
                                },
                                "rowFilter": {},
                                "combinedRowFilter": {},
                                "columnRowFilters": {
                                    "shape": "S3u"
                                },
                                "isAllowedToViewDataFilters": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchGetPartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "tableName",
                    "partitionsToGet"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tableName": {},
                    "partitionsToGet": {
                        "shape": "S3z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "partitions": {
                        "shape": "S41"
                    },
                    "unprocessedKeys": {
                        "shape": "S3z"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchGetTable": {
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "entries": {
                        "shape": "S30"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tableList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "table": {
                                    "shape": "S3g"
                                },
                                "useAdvancedFiltering": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchGrantPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S47"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S55"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchRevokePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S47"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S55"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "BatchUpdatePartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partitionValueList",
                                "partition"
                            ],
                            "members": {
                                "partitionValueList": {
                                    "shape": "S5c"
                                },
                                "partition": {
                                    "shape": "Sp"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failures": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "partitionValueList": {
                                    "shape": "S5c"
                                },
                                "error": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CheckPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "S4c"
                    },
                    "Permissions": {
                        "shape": "S51"
                    },
                    "TransactionId": {},
                    "OperationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "connectionType",
                    "matchCriteria",
                    "connectionProperties"
                ],
                "members": {
                    "catalogId": {},
                    "name": {},
                    "connectionType": {},
                    "description": {},
                    "matchCriteria": {
                        "shape": "S5k"
                    },
                    "connectionProperties": {
                        "shape": "S5l"
                    },
                    "physicalConnectionRequirements": {
                        "shape": "S5n"
                    },
                    "tags": {
                        "shape": "S5p"
                    },
                    "authenticationConfiguration": {
                        "shape": "S6c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateDataCellsFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "TableData"
                ],
                "members": {
                    "TableData": {
                        "shape": "S5u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "database"
                ],
                "members": {
                    "catalogId": {},
                    "database": {
                        "shape": "S5x"
                    },
                    "tags": {
                        "shape": "S5p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateFederationProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "shape": "S65"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateFunction": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "function"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "function": {
                        "shape": "S68"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "roleName",
                    "principalName",
                    "principalType"
                ],
                "members": {
                    "catalogId": {},
                    "roleName": {},
                    "principalName": {},
                    "principalType": {},
                    "grantorName": {},
                    "grantorPrincipalType": {},
                    "grantOption": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateLakeFormationOptIn": {
            "input": {
                "type": "structure",
                "required": [
                    "Principal",
                    "Resource"
                ],
                "members": {
                    "Principal": {
                        "shape": "S49"
                    },
                    "Resource": {
                        "shape": "S4c"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WAGV37BNKHFLUOB77FBEH55VZNS6PS6H75QVML4ZPANI3WQ6JH6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JPOJ4CLJMVOQJN3H346CSLHF44IQFKJFASW327G32QWCX455D7A/vendors.js"
            ]
        },
        "CreateNamespace": {
            "input": {
                "type": "structure",
                "required": [
                    "namespace"
                ],
                "members": {
                    "catalogId": {},
                    "namespace": {
                        "shape": "S6j"
                    },
                    "tags": {
                        "shape": "S5p"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWKI3FMLMPNBQ6RGSNG5CF3DIY7CJXYZWWOSJNDOHPZKBCKLISUA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6LGUBTFRHSXBOGFPOL6ZVEWKXVR6SSQZMB6R5DWCXC2S73ECIPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/4Z4HZ5BDL76HKQQRTO5SEQJ3KBYO6PWDBZFCGLIQ2H6VLWIFMN2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/KALRSYR62XZZSRILD6DJFJQHSFGQDQULDPE6UUQIWHZHHGQ7C3TQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/S7N33OZA4V7MSZDPLWSOVGKC23MSKONSXFZG3WRVGO4UMAIWXAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AYOZXSHXXXJTY76PLMBIJ3X6I226TTVHY3NHXKP3R7N6PVIN47SA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AMU2WLJTVHKQVOWYAOUDJAKX2ERJ55R76MX7M7OSQ24CTBFDZOTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/7FGGNVBWU5V7472FEGKF5FFATH3EGWUX2VWWGBYXRQ7QSND5JDVA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3OFZC6VQCNUNHD5E4FRZ5LYWOK6F3C5OFVORKWTKB3GBJHN5J24A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Q3WXV22URW66Z55IJ7PG6J56Z757VPJOQPC4CA3FSGWL26UKKQ6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LTT2ZXOM2XMEAW352S5TB2XFWQUUZ5IDNWQUDRX37IL2PSGA3OHQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3DOOQOPPYE4QU6O4GUS4OALMGQXXUENZTIMV64XV72JB6JRK34WA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6FAZHNYVN3RBRFT55HPMHTLGURIEJIJL3UCP6G5WTSSSYNDTBBGQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRBW4GDGSWI242ZLW467OKLAM2SPHKF6V37CFQH5JTXIIVCYMUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X3WAVXQTJRXOKDUT53OGS35CQFVLNGINUCOLD2K6IU2E3XOVKJTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EXHYJE5KGINECKRFOYUAJ4RLFSIN6CMY7YXWEZTXTIIGMLEY5G2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47VYJNTEZKX6L5BTRNG5OR2WWJO6JREYKWRZIONYJEUBD6ZNRTPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIIL3YTJYRMYI2HXMFWXX6UZX23JFGCTDVAFKMQYJASFW4443AXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3GXV32XBWKM6VACU2KFTEMSRMYU6HHXOJXJJ5PN4DRE62QHUZ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VD74SGZ4OGZGASIKN5T6THV7SKB3J3E4S4VNY6N342OEMYZNDQEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YTCIPE7SOT2C4J3AMS7QGBLIYA27BN24MVRIDIGEPU2DIOUGRQ/vendors.js",
[...]
