{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2016-01-26",
        "endpointPrefix": "datacatalog",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon DataCatalog",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonDataCatalog",
        "uid": "daylight-2016-01-26",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "AssociateColumnParametersForTable": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "columnParameters"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "columnParameters": {
                        "shape": "S4"
                    },
                    "skipArchive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "AssociateParametersForTable": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "parameters"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "parameters": {
                        "shape": "S6"
                    },
                    "skipArchive": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "AssumeDecoratedRoleWithSAML": {
            "input": {
                "type": "structure",
                "required": [
                    "SAMLAssertion",
                    "RoleArn",
                    "PrincipalArn"
                ],
                "members": {
                    "SAMLAssertion": {},
                    "RoleArn": {},
                    "PrincipalArn": {},
                    "DurationSeconds": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccessKeyId": {
                        "shape": "Sj"
                    },
                    "SecretAccessKey": {
                        "shape": "Sk"
                    },
                    "SessionToken": {
                        "shape": "Sl"
                    },
                    "Expiration": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchCreatePartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "tableName",
                    "partitions"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tableName": {},
                    "partitions": {
                        "shape": "So"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failed": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchDeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "connectionNameList"
                ],
                "members": {
                    "catalogId": {},
                    "connectionNameList": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "succeeded": {
                        "shape": "S13"
                    },
                    "failed": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S1k"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchDeletePartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "tableName",
                    "partitionsToDelete"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tableName": {},
                    "partitionsToDelete": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failed": {
                        "shape": "S1i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchDeleteTableVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "versionIds"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "versionIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tableName": {},
                                "versionId": {},
                                "errorDetail": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchDeleteTables": {
            "input": {
                "type": "structure",
                "required": [
                    "tablesToDelete"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tablesToDelete": {
                        "type": "list",
                        "member": {}
                    },
                    "transactionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failed": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "tableName": {},
                                "error": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGetColumnStatisticsForTable": {
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "databaseName",
                                "tableName",
                                "columnNames"
                            ],
                            "members": {
                                "databaseName": {},
                                "tableName": {},
                                "columnNames": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "region": {},
                    "querySessionContext": {
                        "shape": "S2b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "columnStatisticsForTableList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "databaseName": {},
                                "tableName": {},
                                "columnStatisticsList": {
                                    "shape": "S2d"
                                }
                            }
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "databaseName": {},
                                "tableName": {},
                                "columnErrors": {
                                    "shape": "S2x"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGetInternalUnfilteredTable": {
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "entries": {
                        "shape": "S30"
                    },
                    "auditContext": {
                        "shape": "S36"
                    },
                    "SupportedPermissionTypes": {
                        "shape": "S3b"
                    },
                    "region": {},
                    "SupportedDialect": {
                        "shape": "S3l"
                    },
                    "returnBaseTablesForViews": {
                        "type": "boolean"
                    },
                    "parentResourceArn": {},
                    "rootResourceArn": {},
                    "querySessionContext": {
                        "shape": "S2b"
                    },
                    "Format": {},
                    "catalogIdentifier": {},
                    "databaseIdentifier": {},
                    "federatedCatalogImmutableIdentifier": {},
                    "federatedDatabaseImmutableIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tableList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "table": {
                                    "shape": "S3g"
                                },
                                "authorizedColumns": {
                                    "shape": "S13"
                                },
                                "isRegisteredWithLakeFormation": {
                                    "type": "boolean"
                                },
                                "useAdvancedFiltering": {
                                    "type": "boolean"
                                },
                                "rowFilter": {},
                                "combinedRowFilter": {},
                                "columnRowFilters": {
                                    "shape": "S3u"
                                },
                                "isAllowedToViewDataFilters": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGetPartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "tableName",
                    "partitionsToGet"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "databaseName": {},
                    "tableName": {},
                    "partitionsToGet": {
                        "shape": "S3z"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "partitions": {
                        "shape": "S41"
                    },
                    "unprocessedKeys": {
                        "shape": "S3z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGetTable": {
            "input": {
                "type": "structure",
                "required": [
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "entries": {
                        "shape": "S30"
                    },
                    "catalogIdentifier": {},
                    "databaseIdentifier": {},
                    "federatedCatalogImmutableIdentifier": {},
                    "federatedDatabaseImmutableIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tableList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "table": {
                                    "shape": "S3g"
                                },
                                "useAdvancedFiltering": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "errors": {
                        "shape": "S3w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchGrantPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S47"
                    },
                    "Options": {
                        "shape": "S62"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S55"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchRevokePermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Entries"
                ],
                "members": {
                    "CatalogId": {},
                    "Entries": {
                        "shape": "S47"
                    },
                    "Options": {
                        "shape": "S62"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Failures": {
                        "shape": "S55"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "BatchUpdatePartitions": {
            "input": {
                "type": "structure",
                "required": [
                    "databaseName",
                    "tableName",
                    "entries"
                ],
                "members": {
                    "catalogId": {},
                    "databaseName": {},
                    "tableName": {},
                    "entries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partitionValueList",
                                "partition"
                            ],
                            "members": {
                                "partitionValueList": {
                                    "shape": "S5c"
                                },
                                "partition": {
                                    "shape": "Sp"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "failures": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "partitionValueList": {
                                    "shape": "S5c"
                                },
                                "error": {
                                    "shape": "S1k"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CheckPermissions": {
            "input": {
                "type": "structure",
                "required": [
                    "Resource"
                ],
                "members": {
                    "Resource": {
                        "shape": "S4c"
                    },
                    "Permissions": {
                        "shape": "S51"
                    },
                    "TransactionId": {},
                    "OperationName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "connectionType",
                    "matchCriteria",
                    "connectionProperties"
                ],
                "members": {
                    "catalogId": {},
                    "name": {},
                    "connectionType": {},
                    "description": {},
                    "matchCriteria": {
                        "shape": "S5k"
                    },
                    "connectionProperties": {
                        "shape": "S5l"
                    },
                    "physicalConnectionRequirements": {
                        "shape": "S5n"
                    },
                    "tags": {
                        "shape": "S5p"
                    },
                    "authenticationConfiguration": {
                        "shape": "S6c"
                    },
                    "SparkProperties": {
                        "shape": "S6u"
                    },
                    "AthenaProperties": {
                        "shape": "S6u"
                    },
                    "PythonProperties": {
                        "shape": "S6u"
                    },
                    "ConnectionSchemaVersion": {
                        "type": "integer"
                    },
                    "connectionTypeManagedByDNA": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateDataCellsFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "TableData"
                ],
                "members": {
                    "TableData": {
                        "shape": "S5u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateDatabase": {
            "input": {
                "type": "structure",
                "required": [
                    "database"
                ],
                "members": {
                    "catalogId": {},
                    "database": {
                        "shape": "S5x"
                    },
                    "tags": {
                        "shape": "S5p"
                    },
                    "catalogIdentifier": {},
                    "contextMap": {
                        "shape": "S3e"
                    },
                    "federatedCatalogImmutableIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateFederationProfile": {
            "input": {
                "type": "structure",
                "required": [
                    "Profile"
                ],
                "members": {
                    "Profile": {
                        "shape": "S65"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateFunction": {
            "input": {
                "type": "structure",
                "required": [
                    "namespaceName",
                    "function"
                ],
                "members": {
                    "catalogId": {},
                    "namespaceName": {},
                    "function": {
                        "shape": "S68"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateGrant": {
            "input": {
                "type": "structure",
                "required": [
                    "roleName",
                    "principalName",
                    "principalType"
                ],
                "members": {
                    "catalogId": {},
                    "roleName": {},
                    "principalName": {},
                    "principalType": {},
                    "grantorName": {},
                    "grantorPrincipalType": {},
                    "grantOption": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IFIYYDOD3OMALBUWNPBF5UN4P5JIM3YVWLOYILUPOJDX5W2Y3M3Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGVY5T6HU3JRG2CBGH2HJ52PO4PPHS7CHOIWF7XZWZOHNHGS7CQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/B6YWN2S2JUHCWV3LH7MADVBDUHFWAHWJFFEMSEKBWC5IHHXPEWWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEOPQZGUE7NZKBHIXLDRPH52GXHSZLJBKFK3RPFGK5HPDL2JJLXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NVMI3XDUSYZDVZTEGDQFAGT6NESPXY4VPFJUYHQYRFSNFOJZH77Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/J2CNKGJJOEVKF5N3ZL4QJP7FDNCEPJQDQZ27TH43LKPBDNUM4FAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/YRWTXJXUTEEKIEFA3VCPWNRMBYGKASCMFRG466K5BPAZEKJUPKUA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QFAKDXE2IIMH6ZFBHC7DC2JTSNXWMMO4FRDYL3PWJBUP7WGLFAZQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5KK3XV62QGFE6EHPHLIGSEYNMJYPTUTOBXX774W5FZVRYP2LFNQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/33Z2IQRAROCRBW3QOQPEVHNTWZLVPZY2BERB7TBN3Z26WUDO55MQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2NU7US7B6AOKH4MVCQOTM4AW3I3MZVMNQK34PM3S5XK6JLDGEL6A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DCNIASM5CLDQHRGAEGY6LKT5TBBHWNTV73AOYWNZDHX2ZNQVKVEA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3323PGVWNW2J3GVTFOWP7L42OL7LCST7MVAYCFFDATPQ2UA6GCA/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ULELWTS74X4VJWKBUDXFOO7JNM55IPIL7FZ2X4ST3BDE4QHGPC2A/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3VI5SJE52HKFVNI67OH5RV5NH4IAKRPAHF7BDZIO4SV5PBBHEJQ/vendors.sdk.js"
            ]
        },
        "CreateLakeFormationOptIn": {
            "input": {
                "type": "structure",
                "required": [
                    "Principal",
                    "Resource"
                ],
                "members": {
                    "Principal": {
                        "shape": "S49"
                    },
                    "Resource": {
                        "shape": "S4c"
                    },
                    "Condition": {
                        "shape": "S63"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMLELWC726NVOTCEOBGO3XFVRDEF4BFKXGM2O6WR6HICFOA675FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y27E5FZ5BVEGGPQTVCRPUQOTC4ZNS33TUNUT4VZIU4NYANKZ5DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZEQ57DK5RMMFYPQWSLNQ3ZUV3CFLCPVEEGKAL5D27QZN6QNSW2Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/6GJ3S7RWNBZZOHIAUXUU3DOURFPKJLQ5WMIG7F6TWOG3D3TMPEAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/Y3MCML5UL2Q2ZQUPJ4LSYSZ3KHEDRJNTQAN5KU363A2DXN6H3CCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X5OB6H5LBLLYFSKMW33ZOSPOGSKW5AOBEDK35SP5LFYKF4JJTGEQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BGMWDIBIPBXNBCENPHUMGGHLXTPR5FWSAJS2NQWCR5S2CWYOSVXQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NMSYN44UUPMSZQ3WEL3YW6RQP3LUEBLMYQLXGIWCHL2H55BWWEMA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JUV67VFKHCSPMOYSVUMSG5QTVHE2RM57FB3P3RCN3WVKPHDIIARA/vendors.js",
[...]
