{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-18",
        "endpointPrefix": "dbqms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Query Metadata Service",
        "serviceId": "dbqms",
        "signatureVersion": "v4",
        "targetPrefix": "DbaaQueryMetadataService",
        "uid": "dbqms-2018-10-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
            "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
        ]
    },
    "operations": {
        "CreateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "Description": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "CreateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "CreateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabName"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabName": {},
                    "QueryString": {},
                    "FavoriteQueryId": {},
                    "TabIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DeleteFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DeleteQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DeleteQueryMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DeleteTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DescribeFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorites": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DescribeQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "DescribeTabs": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tabs": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PartialTabs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TabId": {},
                                "TabName": {},
                                "TabIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "GetQueryString": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "ProductCode"
                ],
                "members": {
                    "QueryId": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryString": {},
                    "Source": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "ListQueryData": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "QueryId",
                    "Created"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Columns": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ColumnDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Index": {
                                    "type": "integer"
                                },
                                "Length": {
                                    "type": "integer"
                                },
                                "Nullable": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "Query"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Query": {
                        "type": "structure",
                        "members": {
                            "QueryString": {},
                            "Description": {},
                            "Expiration": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "integer"
                    },
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "UpdateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "GroupId": {},
                    "Description": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "QueryString": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "UpdateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "QueryStatus": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UOFLMEODR2EHCZ7KIDLAGPESIB2ZA4XCXYH4MAI64B7CIO2HJFJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26SCSMF6OXYZ4THT3PVVXVNAR4JFKDONGPCOYW3J3HTEBLNYAGHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVMU7GYLIYDQMKPKNOULW7G4G5UEVDAQV5Q4WX3VXCWXN4DEXQ2Q/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMYU7UWENMNGSL4UKNYXLHAJ2EKGE3AH7VELGOAVKK74UAVFPV3A/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3MVNHOICT7UGUSOQGO6PIC32G55TAKM2S5UWCFHVNUP7WWHMJAWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        },
        "UpdateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "TabName": {},
                    "TabIndex": {
                        "type": "integer"
                    },
                    "QueryString": {},
                    "FavoriteQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {},
                "BytesReturned": {
                    "type": "long"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {}
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}