{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-18",
        "endpointPrefix": "dbqms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Query Metadata Service",
        "serviceId": "dbqms",
        "signatureVersion": "v4",
        "targetPrefix": "DbaaQueryMetadataService",
        "uid": "dbqms-2018-10-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
        ]
    },
    "operations": {
        "CreateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "Description": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "CreateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "CreateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabName"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabName": {},
                    "QueryString": {},
                    "FavoriteQueryId": {},
                    "TabIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/207f1c519198b2770892f8fd71a614eaf5ecbb49/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DeleteFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DeleteQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DeleteQueryMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DeleteTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/207f1c519198b2770892f8fd71a614eaf5ecbb49/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DescribeFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorites": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DescribeQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "DescribeTabs": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tabs": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PartialTabs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TabId": {},
                                "TabName": {},
                                "TabIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/207f1c519198b2770892f8fd71a614eaf5ecbb49/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "GetQueryString": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "ProductCode"
                ],
                "members": {
                    "QueryId": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryString": {},
                    "Source": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "ListQueryData": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "QueryId",
                    "Created"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Columns": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ColumnDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Index": {
                                    "type": "integer"
                                },
                                "Length": {
                                    "type": "integer"
                                },
                                "Nullable": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "Query"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Query": {
                        "type": "structure",
                        "members": {
                            "QueryString": {},
                            "Description": {},
                            "Expiration": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "integer"
                    },
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X7ZPGLVZEKMQA4DZHK4CM4IGNGVJNZYOB5V5Q3UWADBFIFULUBUQ/awssdk.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "UpdateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "GroupId": {},
                    "Description": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "QueryString": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "UpdateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "QueryStatus": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HU6VGLWYUA56AX3Z72XLRRYTLE4BCYPT7YY6RIPZQSNWCC3IJY3A/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YMQNAEWMNXYZ4WUZZTTFQXXMPPZX5JBEWEEHO6CF5P726GVB3U4Q/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWGOMEDICOSZDHMXEJAMAU3QJOPIEJIKTXTKQFUKT3PYV6KJ7ASA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYFPQRPTKUSMVRVDKOI72Z5TN2ZG4Q4XB5FKAMXBHIXU6YPK2DFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VVASRPNLZND2P2ONLWG5HJDW45ZCLCY2RULPRYOVQ4IAXRPYIHPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FFGA42PMXXBWGS3Y7MTUG5X2VHFNYYITNRCODBFDKUADTXGC5X3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6L5F4FIWWTX7SJ36CLHED5ZU5ZACYCOZUB7SR6DURLDQX7VG6MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2C7TYSH6FUTV5OK6SYTTFIKDJOU3OISGBRVN6GCBFSWEXSH2NVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U75R4HDT2JQLKHEBYE7Q6Z32LTD7GXW7OU6ZIJVCJSOVQIQJFDEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5J5J4HHEXJ6XRDKFGQNX7ZPCG62JBFHGZSYWSH6I6UPJMW4CGCWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX77BCOFJSNBDB7EX7MG6ACXXVGRCGJBGQBWVU33OEALCGMQR4DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        },
        "UpdateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "TabName": {},
                    "TabIndex": {
                        "type": "integer"
                    },
                    "QueryString": {},
                    "FavoriteQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7SVMASHVD2CFUROKHYN7QGW6P7Y5TGDYLAYEUF64Q3JQG72AMNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YLCPBQJMFXEVS25COZUJ2NMGK2QPKYKJXTBY2RKY4IS5MS54Z4LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3Y4ULQJGQWILEQWBV2LZOPAFXKN2E743C3KIBVCDJUP6FVZNPQNA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/207f1c519198b2770892f8fd71a614eaf5ecbb49/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3S6QKDRCSLHTCRCQOFIM2WK2ZZTDDJPZIMVEMYOTGXGFJ6CY6CQ/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/bd12e77f84e15d4211e029fc0eb586df1d4ffda8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AVPMIVKDECR2OMQPVPCMGVNXJWLCGHCXOVED5QXO36LI6UHBPOQA/vendors.js",
                "https://dj1z41g2qjql6.cloudfront.net/097428cb75af60c960ece8d548f18617e6299061/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/6e5fe62ba89f7395b7a6eba351b5f1bbd49cd16d/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2676RIVLGPMKETRQ4HUXMZSDJKSIBLH2BQNUQVWFZ3DHI3A3RPRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34V4KBUJ6F4RW7H6L72MJG563VKHP4NHDXNB2UAEBH4ZIR7N37QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKJOZ2DMH6C2DPQBPH37LITHIIXV6LS6FQZSFFYGLSXTUUCPFHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KL3JPW46KELXWQJWYYFKYGBNVWIEBV5DCOONVSURSJ6T6S5MBOBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNAQ3SM534A7ZFPULGRIAGDUOEGSFG7B4WWZI4ASDI2W6EUDX3SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7JZZKQBIIJTYMR6GUE5UGQMDMC2TQYEW6OOIT24W5AYI66HKPMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/566BSGSQJVFIT4UKYGYLOHFIPP6CVLPAUZZXOITOIUAJVNNXVB2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PRKT5YOMMPM3BHFB27LGMGI6EHS7FNWTLLF3DD5BUIOWWAPEWYDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXKTNTNLF6X6HAZHD4AR5TRII27CACPBAVCJCMUVEUUWOJCBEOWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A5TW4QCIANBXS3GFI5DK2PHEKFVVDSMEEAPMBHWVQMUVDHTKWDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5WBLXHKC2TPZFHOEMRSQID2HZXEY3W4PEXVY2UUIJBNOGRH47SDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HI6XZUSXD7QTIQXLUSKQZU5K4MIJ52GGXYRD2IBVJWGPW2H54ZCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VR22MOSXO5CFH5VWGFWGZN4MQPWQ6CXNVPAC2YQL6NYW4VTXOE3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMPWWRHPPHJBPS6HICPD373DQ3HRTCSJQTWTYVEAIFCRIU5IPTXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {},
                "BytesReturned": {
                    "type": "long"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {}
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}