{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-18",
        "endpointPrefix": "dbqms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Query Metadata Service",
        "serviceId": "dbqms",
        "signatureVersion": "v4",
        "targetPrefix": "DbaaQueryMetadataService",
        "uid": "dbqms-2018-10-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
        ]
    },
    "operations": {
        "CreateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "Description": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "CreateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "CreateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabName"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabName": {},
                    "QueryString": {},
                    "FavoriteQueryId": {},
                    "TabIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DeleteFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DeleteQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DeleteQueryMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DeleteTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DescribeFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorites": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DescribeQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "DescribeTabs": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tabs": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PartialTabs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TabId": {},
                                "TabName": {},
                                "TabIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "GetQueryString": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "ProductCode"
                ],
                "members": {
                    "QueryId": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryString": {},
                    "Source": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "ListQueryData": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "QueryId",
                    "Created"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Columns": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ColumnDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Index": {
                                    "type": "integer"
                                },
                                "Length": {
                                    "type": "integer"
                                },
                                "Nullable": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "Query"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Query": {
                        "type": "structure",
                        "members": {
                            "QueryString": {},
                            "Description": {},
                            "Expiration": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "integer"
                    },
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "UpdateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "GroupId": {},
                    "Description": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "QueryString": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "UpdateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "QueryStatus": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAH6O6CPHBSTOJNUWBTGKZLZ7DCPBTVSHIWZKODZ7STLBF472FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TSJAOT7XFIOR6MMVUK3PEBOSSB22XYDJ7C6HVEF4HBAPEHLVHWPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE3LHT7B42OG5PTRYZF5A57J4RBV3PZT4GQ4BKMBUUTT6TZYPAXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COGVOW3BPJXD7RUIPB3Q264SFCNESYI4WSISBAHF4ISUT4A3ECGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ESIA6RFCHCEDRXB3YHSP2AMQGHQC34VPJUB44GHAOWEYG5GNBRYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G3TVBCOE5ZTBVHRLPHTXX5DM2TUAAXDB32XKGBGG4IP5PSNDGLQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        },
        "UpdateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "TabName": {},
                    "TabIndex": {
                        "type": "integer"
                    },
                    "QueryString": {},
                    "FavoriteQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MDE4GXEYGI54B3YL4IA62GWHMTNG6OR4JIPJGWYHF47EETRNKVHQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXYNYLVEEBWHLED2YL7L5WOGZXFJIVQZAH44PNRO2TO6L3SH4VFQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z4VQ2AOTWKJICWV3V57GDPUQBAO4YNPYXAETHSEFMG35NOP2KONQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZNWAHQ6RQGQBEQZZMOGGBZK4HV3F2YC7KUZ32QEMINDIKC6SGUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCSWSK6GSSEUOKAQEF3UBKW3DMC3N5JTSIE4Q4ZXHVIAGC3CKPIQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QSJFPW2SL5KSL7VHC4CIHS3C55Q4JEI276MFSJS5W2ZMSTYESTAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4QD37LZQ3UJSVFKXENDUB3GIUYUKGOMN6IH32ZTYYBCD25R26XLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQJDKBYQMHAHOTR3QVUWB4MZUJHUJ6SNI2PNLP4H5CDJO7FABM5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JID7A5M34UGQORXBNFV2HLFBMG2EG5QMA7KYSOHE6BEXJA4EOWXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PK5YBQT7YVOM2TDG25UGAO6K6ETHVZMNCBVL64SUBEL2CMLWGLPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUW7AKREQFI336MYHQNRLCLWNOJU4SDFQ2TDBP3PLNAG2KU7VFPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TZAKBDZD5AOJ2QE4VRAQNQWFCEIGQ3YT3HUB6GC5JOPI4O3R2XPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BGOWZ5WGDQ36JEFDTMBILQPVTH2GB3IPXYVV5C3ABPMZYTUNLJRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKOL7IHGUSPN22J45VSWJINH5EVPUUF7MCEKLQKRHWFKJ47S2H2Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VO67JA5KKE2GXZKSZ7SUQ7VELIV2GWK3H5EFFC6HGEWK4QHDHU4Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJ7WMITFXXTHYR27764P6A6YFQOKULXQ7FYKW66GAWZANLGU5MCA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MHE24FHE4NJPI2YTAVM5EZRJLMRENLIYVGKPWVTAPM6RZLQFKZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCXSRNSSIVWXFWQJPKX2B3C5MYTSVINRCL7PNUKRQGHKFJF6EPWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJGOAFTNJ3U4HPZP7SNPSHMZYRHZ6U5SBNR2HX72N7D2V7PURXNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YYUAWZ4HFRP7ZYKUOVRV6MDRM7JQIQY54DRCBBRG36UQCONZ6CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LKWSVPM2N3Z75ONSD3M564CWG3PPJEVI6GH3CSBVCM4PVJK5OVCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {},
                "BytesReturned": {
                    "type": "long"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {}
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}