{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-18",
        "endpointPrefix": "dbqms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Query Metadata Service",
        "serviceId": "dbqms",
        "signatureVersion": "v4",
        "targetPrefix": "DbaaQueryMetadataService",
        "uid": "dbqms-2018-10-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/TSGBRD2HNNGHUFDPUIZ4JDDV7ZI72UDMIJWEY46ND5MRWFCW4XXA/605.js",
            "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
            "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
            "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
            "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
            "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
            "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
        ]
    },
    "operations": {
        "CreateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "Description": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "CreateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "CreateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabName"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabName": {},
                    "QueryString": {},
                    "FavoriteQueryId": {},
                    "TabIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DeleteFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DeleteQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DeleteQueryMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DeleteTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DescribeFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorites": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DescribeQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "DescribeTabs": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tabs": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PartialTabs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TabId": {},
                                "TabName": {},
                                "TabIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "GetQueryString": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "ProductCode"
                ],
                "members": {
                    "QueryId": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryString": {},
                    "Source": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "ListQueryData": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "QueryId",
                    "Created"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Columns": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ColumnDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Index": {
                                    "type": "integer"
                                },
                                "Length": {
                                    "type": "integer"
                                },
                                "Nullable": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "Query"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Query": {
                        "type": "structure",
                        "members": {
                            "QueryString": {},
                            "Description": {},
                            "Expiration": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "integer"
                    },
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "UpdateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "GroupId": {},
                    "Description": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "QueryString": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "UpdateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "QueryStatus": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRPZCFAVPQM5TROIX7TRAF76N2F7PLUECVY7EJZ3NI7LJKFNXWTQ/956.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VA7VS6ZMXLON24PAZDOB25EDHU2OLMIKIAG2PASCNCGQ57JQT3WA/10.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GN2TEJ5VCGJYSP6FSXEIUOEJJ3EEDX4UWUMQ7V72Z2RX6225626A/446.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MFCDEXS53HNINYGLTC46EN6KUKLJB7BQBRTO4GRN553TRRYG7SQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIV6L6ZWG5APPHIFMCZCGXTV254CUWPCJ7L62TRD5KINKYXSJ72Q/249.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EBLNFDSJ2SKUJT6UVGYYRME4FPJX76WCUVYQRB7VEWZ5NFMZF5KQ/249.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/926.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        },
        "UpdateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "TabName": {},
                    "TabIndex": {
                        "type": "integer"
                    },
                    "QueryString": {},
                    "FavoriteQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PS2CBAELZDAWMS2T5CRUARO6PJNYDWKCRYAL5LUIWWNH7RXWWYKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O44PQVH4YUEOEBKUKQ4M2FCQ3DMXPP26CIC5MBFMLZ5O3HJTGLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b8ab742b-485c-4830-956c-7fa2d38a2449/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZBS2PC5BN4KWNL2WB7GDP4E43UAMPXDAZHWKADFNWDLRDRPJU3A/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/0641032c-953e-4868-ad5f-11f9dac13c2a/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/73L2LLVKXZNXU5KP54A2DIAWSPBDDHF4PA7YQZSJNOMOCUGWOLSQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9e803438-6608-423c-be3a-8b220d618674/main.js",
                "https://druat2d21o8vh.cloudfront.net/f72fd451-cc24-40f0-8c46-43bca7a60b6e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MUJIPXEJTV4VJTEP6MQUH2PD3BEFBYPNDBDCCWC7RK7GLZG4KFYQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMX2566YUSV43EBWP3IWGXC52GEDA4TTDTVZ5NE6TMVSZID6GTWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HGRIIQNOKALMOF3QUVB3YJSZRXXQBTEE4BLKHBGYU2AXI544UXUA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5NJ2JN4N5DHZDJXW37N2DAWJ3OEAHTTNMV4CSDPXKVZU4KKEESA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9aadee6f-337e-4ce1-ad2b-98f0c9024500/main.js",
                "https://druat2d21o8vh.cloudfront.net/533f7dad-d323-43e7-a47e-cf26531349e8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ID3MVALFTTGFU4FGRV3TE64AZFNVYALCDLHMBE3EP5BXUT63ESGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8a3b01b0-b82e-44c0-844e-20b88e72aa75/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ICOYUI3A6PFTJN3P6V72J6BA5RUD25NFTO6QU7DR2T3ZD5JMX6ZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/deda182e-63e3-490d-b2cb-5038c47e62fc/main.js",
                "https://druat2d21o8vh.cloudfront.net/e8ad6a85-bd8d-4738-baa8-57f9eca85bc4/main.js",
                "https://druat2d21o8vh.cloudfront.net/71a5b218-9a12-4243-a623-e0137813dac8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JIG4A3IZA2MV6ZIJQGDZWJA5XR4JXLWXF3TFF4ABKXUF5BUGTZ5A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9609e927-8f0a-41cf-ae6e-b05c0461c092/main.js",
                "https://druat2d21o8vh.cloudfront.net/b714bc6c-53ad-42bd-8e9c-a45128ba8220/main.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {},
                "BytesReturned": {
                    "type": "long"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {}
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}