{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-18",
        "endpointPrefix": "dbqms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Query Metadata Service",
        "serviceId": "dbqms",
        "signatureVersion": "v4",
        "targetPrefix": "DbaaQueryMetadataService",
        "uid": "dbqms-2018-10-18",
        "download_location": [
            "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
            "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
            "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
            "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
            "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
            "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
            "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
        ]
    },
    "operations": {
        "CreateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "Description": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "CreateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "CreateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabName"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabName": {},
                    "QueryString": {},
                    "FavoriteQueryId": {},
                    "TabIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DeleteFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DeleteQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DeleteQueryMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DeleteTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DescribeFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorites": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DescribeQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "DescribeTabs": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tabs": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PartialTabs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TabId": {},
                                "TabName": {},
                                "TabIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "GetQueryString": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "ProductCode"
                ],
                "members": {
                    "QueryId": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryString": {},
                    "Source": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "ListQueryData": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "QueryId",
                    "Created"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Columns": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ColumnDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Index": {
                                    "type": "integer"
                                },
                                "Length": {
                                    "type": "integer"
                                },
                                "Nullable": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "Query"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Query": {
                        "type": "structure",
                        "members": {
                            "QueryString": {},
                            "Description": {},
                            "Expiration": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "integer"
                    },
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "UpdateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "GroupId": {},
                    "Description": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "QueryString": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "UpdateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "QueryStatus": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5HIVMU2XAG3EDTLJFH6LZLIHAUGMQBVR73JW4WCLH25CO5MXU2EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HATA6EL6EEIK34T5WNGKOJ6K3Q44IABCMEKGCCCWZ5DHMZM2DSPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZDKY6GYU4BRTEYYD7KIR4CJ7HOIK5MB4YED7FKKR4ML6XIMJY2OA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2TDNCHZPOOM5KA25BABA3FJVARX74K36KCNFAK74FRKS5LLXUBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCTJ4MRRDQADDCI2B5HWMPAFCTMLH2CPY2KLCMKI6HRCVRBSLOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJWO6TEVOAXPPMFYDGJCXMEI3YULONAIYW7HF2X7QAFII376TGNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KZ6FCGD62AICSNXWU5DN5MLWWMKIEPMA7EIIVAHJRBZZG56OBSJA/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACK6ZSHP4O3DYGWQONTFZBJCH22MEVYKAWWXGYXGDWXQOYLDHRDA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VQVTB4MDM6H5ME42XPQI6Z6F7SYFK4XVI4APQLTL6O4YF4L3PLFQ/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CVL2BR27GEGODK76YRQ4AAOCY44GYJU4ASWHHTEXQP26YZZSPZAA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        },
        "UpdateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "TabName": {},
                    "TabIndex": {
                        "type": "integer"
                    },
                    "QueryString": {},
                    "FavoriteQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/8658175e-f21e-4d6c-9ebc-ab399d910b42/main.js",
                "https://druat2d21o8vh.cloudfront.net/c84834b0-f233-48d0-a52a-d1a4ffa0bea8/main.js",
                "https://druat2d21o8vh.cloudfront.net/177f0316-80c7-4c97-8840-3e86f8db19b1/main.js",
                "https://druat2d21o8vh.cloudfront.net/c926bc2c-080e-444e-a2d4-34172c3b8414/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETN3CUSIZ4BXRMLIZQPMUPQ6EG2RC3WP7XEG3VR4XMUY374DZE2Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/f368b10f-f3f7-4caa-98f6-571d24ba1fe2/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IKVTPTOYUDPLI5VJFDOPDCLODZNU56CKPPAHDFX7V4JQKPMDHHA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a5f25810-82cb-4533-b5cc-e02e78134967/main.js",
                "https://druat2d21o8vh.cloudfront.net/12db4597-ef11-43d9-bc15-8e315456f127/main.js",
                "https://druat2d21o8vh.cloudfront.net/f92bcc0c-bfb7-44a3-a3b4-93c15e0e0b82/main.js",
                "https://druat2d21o8vh.cloudfront.net/d30fe030-990d-4746-b916-1db577674742/main.js",
                "https://druat2d21o8vh.cloudfront.net/f20cd562-4b0c-40ad-b091-a8606ad5823c/main.js",
                "https://druat2d21o8vh.cloudfront.net/196a3abe-8c72-491d-8c9a-4bf82927003a/main.js",
                "https://druat2d21o8vh.cloudfront.net/8fb11fb9-7740-4e73-82d5-6fffb9bd488e/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DFZRJ4Q52H2ZGBVRHOWOB3E4XCU4H5PR2TRT7FK5VWGXMNW3FSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/1421c69e-489c-4a60-ac88-b67f6d09555f/main.js",
                "https://druat2d21o8vh.cloudfront.net/31ec16d0-7e46-42da-8ef3-732acc00315b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI3KQXL6JMMBHD5KUQP2HLO53JPZZEQ4IH6M2WROGNSYZHSSAXYQ/vendor.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {},
                "BytesReturned": {
                    "type": "long"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {}
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}