{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-10-18",
        "endpointPrefix": "dbqms",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Query Metadata Service",
        "serviceId": "dbqms",
        "signatureVersion": "v4",
        "targetPrefix": "DbaaQueryMetadataService",
        "uid": "dbqms-2018-10-18",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
            "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
            "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
            "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
        ]
    },
    "operations": {
        "CreateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "Description": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "CreateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId",
                    "QueryString",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryString": {},
                    "QueryStatus": {},
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "CreateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabName"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabName": {},
                    "QueryString": {},
                    "FavoriteQueryId": {},
                    "TabIndex": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        },
        "DeleteFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "DeleteQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "GroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "QueryIds": {
                        "shape": "Sl"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "DeleteQueryMetadata": {
            "input": {
                "type": "structure",
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        },
        "DeleteTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DeletedCount": {
                        "type": "integer"
                    },
                    "TabIds": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        },
        "DescribeFavoriteQueries": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorites": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "DescribeQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "QueryId": {},
                    "Filter": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "type": "list",
                        "member": {
                            "shape": "Sd"
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "DescribeTabs": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "GroupId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tabs": {
                        "type": "list",
                        "member": {
                            "shape": "Sh"
                        }
                    },
                    "PartialTabs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TabId": {},
                                "TabName": {},
                                "TabIndex": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        },
        "GetQueryString": {
            "input": {
                "type": "structure",
                "required": [
                    "QueryId",
                    "ProductCode"
                ],
                "members": {
                    "QueryId": {},
                    "ProductCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "QueryString": {},
                    "Source": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "ListQueryData": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "QueryId",
                    "Created"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Marker": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Rows": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Columns": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "ColumnDetails": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "Type": {},
                                "Index": {
                                    "type": "integer"
                                },
                                "Length": {
                                    "type": "integer"
                                },
                                "Nullable": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        },
        "StartQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "Database",
                    "DbUser",
                    "Query"
                ],
                "members": {
                    "ClusterIdentifier": {},
                    "Database": {},
                    "DbUser": {},
                    "Query": {
                        "type": "structure",
                        "members": {
                            "QueryString": {},
                            "Description": {},
                            "Expiration": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UpdateCount": {
                        "type": "integer"
                    },
                    "QueryId": {},
                    "Created": {
                        "type": "long"
                    },
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        },
        "UpdateFavoriteQuery": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "GroupId": {},
                    "Description": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "QueryString": {},
                    "QueryName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Favorite": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "UpdateQueryHistory": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "QueryId",
                    "QueryStatus"
                ],
                "members": {
                    "ProductCode": {},
                    "QueryId": {},
                    "QueryStatus": {},
                    "Expiration": {
                        "type": "long"
                    },
                    "AmznRequestId": {},
                    "QueryApiRunId": {},
                    "BytesReturned": {
                        "type": "long"
                    },
                    "ReadIOs": {
                        "type": "long"
                    },
                    "ProcessingTimeMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "History": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NNQZJJBHHSM7GKCV67NVIEWZDZHDEHCPXKLYT2J6B5DDFUT5QRWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MNRLR2NQBC3NA5WYWYUGHEYVLHORFKDOMXRSBPJA6OOAD3CZXPRA/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RP3QOLIJGC72UI3EO6J22DM6TPCQV35JY3Y2EEW42IA4KHTJC3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3WF3BFHS5MFK4FPUJZCSN3OLROGKUGDP2DHIBHJXAE7XE2KDS6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QBHSGWOBGKZELWU75KIBI5JRXHUF7NFCDO3HILEYEB26EROPFBHA/awssdk.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3KCEGKU4PITYYJEJSAEOJRODRYUCEZ75ZGNYYUF33KTD2C4DOFA/awssdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7R2OEHPPJKOXTICFR65P7NLPPGWJHVVFLYMPYV4RPGNWW7EQU6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UMG3RN67QQZK7KX7EGFD7RMZ6DPRKLPF4BKI3A6WP5UTGAHGMKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4DKKFRVOJPMOPRMYOPU2NGGPJKT5QEAJKUMT5X3I22ABHXQFLGFQ/vendors.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZGG5CYY5FJEL23ZYXBJXAWENT5RXTCLH6AKBPNDMH66LN3Y7KKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2HJZRBNS4LOMJC2FXNBJ56A24SSA4SNEMU7HMWOBL4LWX75VC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76LTCAZV4DEFMRRPMXHTTOAI4REQFWCQXZNYXA7ZET2WFKKRMVQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JVMDM5R3ABJMX6DR2WXRVKO4EHYEEM4LQZAIKQ33COV42NYZQHNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XCLX4CXFWJPFQVMWEWSYLS55HQMZCVNCJR6I3LZVXSL4LVVDNV4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js"
            ]
        },
        "UpdateTab": {
            "input": {
                "type": "structure",
                "required": [
                    "ProductCode",
                    "TabId"
                ],
                "members": {
                    "ProductCode": {},
                    "GroupId": {},
                    "TabId": {},
                    "TabName": {},
                    "TabIndex": {
                        "type": "integer"
                    },
                    "QueryString": {},
                    "FavoriteQueryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tab": {
                        "shape": "Sh"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UTPCZTEVCNM2DUR2MCEOOFBYMT44O6KBL5HB56UTJMN5NMGW3DAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWG3QEFHJEJAOJLEBEV6UEDFG2H5BVHSWVZZSWB44BVMY7I7EWNA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/225WOD7DOMLXFUHQKULIOJNTRJEZL3QPEPME5LGRBMGSZINFJ6IA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VNK3QPVBFAWMN6OFDG7FBOMRT2IH3EFJIPNQL63HJKWLGS3NU34Q/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/9f4d53fb-ad3d-4cf0-9a5d-2442a56fd36b/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N2MJB5OJEFMSYUWCLNF7AQQ5W6M5N2RRCDQ5WMXWNJ44XAVUQNRQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/a6df2b86-be98-4e46-9583-d8d2bd454abc/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3IJYET7UTCKRNQKANB2CBZJAODZHPZA54JHI7TKCE3JJT5ORXKSA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/b67831f1-8b0e-41f1-9ab7-275c630d76f8/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BF3GWKKEKHLLB2IONZ3XHWLBZXA6ITU3J3X5TDSZL4BHVH5XUUUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PCDUUPYK7HALKUIKAGPUSTBQUKTW2WPBP5LVPHG4BBJS6RXDM4VQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/6362d9eb-8726-4fbc-a962-e7f1a2c46955/main.js",
                "https://druat2d21o8vh.cloudfront.net/b417352b-a579-4a09-9c0c-f5aa3544ef23/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2WQAACUPUR44ZQR4Y42NVM6SJOO32GCAUOVHK5Q232ZNVM7AOQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UXWMOO42HEL25U5VLOM7BZLOYTRPKD6W3TL274GP3V7SX5V2FVEQ/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/ca6436b6-232d-407d-8dd6-ff23b45a36bd/main.js",
                "https://druat2d21o8vh.cloudfront.net/cc20aab2-2a27-4dc8-be75-728d6ddd66ab/main.js",
                "https://druat2d21o8vh.cloudfront.net/9329a883-ed06-4459-90c2-0e4fd8e505fb/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PF2YFXJZXTPZP6YEIBULL4AF7LT6R3LOBSJ52O2PR22KOPVMXGA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/764be44d-efac-4cc2-9555-10e13987e044/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAUFPWBVUFTXOLV2E5MVL56SG6SHXIXNONYVSNTLY4NV4EPSYUJA/vendor.js",
                "https://druat2d21o8vh.cloudfront.net/84e4a1d7-3b7e-46c6-ab74-03f609c64ed4/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js"
            ]
        }
    },
    "shapes": {
        "S7": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sd": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {},
                "BytesReturned": {
                    "type": "long"
                }
            }
        },
        "Sh": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "Sl": {
            "type": "list",
            "member": {}
        },
        "St": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                },
                "AmznRequestId": {},
                "QueryApiRunId": {}
            }
        },
        "Se": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "structure",
            "members": {
                "TabId": {},
                "TabName": {},
                "TabIndex": {
                    "type": "integer"
                },
                "GroupId": {},
                "QueryString": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "FavoriteQueryId": {}
            }
        },
        "S4": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryName": {},
                "Description": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "S9": {
            "type": "structure",
            "members": {
                "QueryId": {},
                "QueryString": {},
                "QueryStatus": {},
                "GroupId": {},
                "Created": {
                    "type": "long"
                },
                "Updated": {
                    "type": "long"
                },
                "Expiration": {
                    "type": "long"
                }
            }
        },
        "Sb": {
            "type": "list",
            "member": {}
        },
        "Sf": {
            "type": "list",
            "member": {}
        }
    }
}