{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-10-12",
        "endpointPrefix": "deadline",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWSDeadlineCloud",
        "serviceId": "deadline",
        "signatureVersion": "v4",
        "signingName": "deadline",
        "uid": "deadline-2023-10-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateMemberToFarm": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateMemberToFleet": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateMemberToJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "jobId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssociateMemberToQueue": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssumeFleetRoleForRead": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssumeFleetRoleForWorker": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "workerId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "workerId": {
                        "location": "uri",
                        "locationName": "workerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "scheduling."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssumeQueueRoleForRead": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssumeQueueRoleForUser": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AssumeQueueRoleForWorker": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "workerId",
                    "queueId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "workerId": {
                        "location": "uri",
                        "locationName": "workerId"
                    },
                    "queueId": {
                        "location": "querystring",
                        "locationName": "queueId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "scheduling."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchGetJobEntity": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "workerId",
                    "identifiers"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "workerId": {
                        "location": "uri",
                        "locationName": "workerId"
                    },
                    "identifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId"
                                    ],
                                    "members": {
                                        "jobId": {}
                                    }
                                },
                                "jobAttachmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId"
                                    ],
                                    "members": {
                                        "jobId": {}
                                    }
                                },
                                "stepDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "stepId"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "stepId": {}
                                    }
                                },
                                "environmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "environmentId"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "environmentId": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "entities",
                    "errors"
                ],
                "members": {
                    "entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "logGroupName",
                                        "schemaVersion"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "jobAttachmentSettings": {
                                            "shape": "S1b"
                                        },
                                        "jobRunAsUser": {
                                            "shape": "S1e"
                                        },
                                        "logGroupName": {},
                                        "queueRoleArn": {},
                                        "parameters": {
                                            "shape": "S1o"
                                        },
                                        "schemaVersion": {},
                                        "pathMappingRules": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "sourcePathFormat",
                                                    "sourcePath",
                                                    "destinationPath"
                                                ],
                                                "members": {
                                                    "sourcePathFormat": {},
                                                    "sourcePath": {},
                                                    "destinationPath": {}
                                                },
                                                "sensitive": true
                                            }
                                        }
                                    }
                                },
                                "jobAttachmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "attachments"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "attachments": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "stepDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "stepId",
                                        "schemaVersion",
                                        "template",
                                        "dependencies"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "stepId": {},
                                        "schemaVersion": {},
                                        "template": {
                                            "shape": "S29"
                                        },
                                        "dependencies": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "environmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "environmentId",
                                        "schemaVersion",
                                        "template"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "environmentId": {},
                                        "schemaVersion": {},
                                        "template": {
                                            "shape": "S29"
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "jobAttachmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "stepDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "stepId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "stepId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "environmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "environmentId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "environmentId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "scheduling."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CopyJobTemplate": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "jobId",
                    "queueId",
                    "targetS3Location"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "targetS3Location": {
                        "type": "structure",
                        "required": [
                            "bucketName",
                            "key"
                        ],
                        "members": {
                            "bucketName": {},
                            "key": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateType"
                ],
                "members": {
                    "templateType": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateBudget": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/budgets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "usageTrackingResource",
                    "displayName",
                    "approximateDollarLimit",
                    "actions",
                    "schedule"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "usageTrackingResource": {
                        "shape": "S2q"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "approximateDollarLimit": {
                        "type": "float"
                    },
                    "actions": {
                        "shape": "S2u"
                    },
                    "schedule": {
                        "shape": "S2y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "budgetId"
                ],
                "members": {
                    "budgetId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFarm": {
            "http": {
                "requestUri": "/2023-10-12/farms",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "farmId"
                ],
                "members": {
                    "farmId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateFleet": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/fleets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "displayName",
                    "roleArn",
                    "maxWorkerCount",
                    "configuration"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "roleArn": {},
                    "minWorkerCount": {
                        "type": "integer"
                    },
                    "maxWorkerCount": {
                        "type": "integer"
                    },
                    "configuration": {
                        "shape": "S3a"
                    },
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fleetId"
                ],
                "members": {
                    "fleetId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "template",
                    "templateType",
                    "priority"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "template": {
                        "type": "string",
                        "sensitive": true
                    },
                    "templateType": {},
                    "priority": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S1o"
                    },
                    "attachments": {
                        "shape": "S1y"
                    },
                    "storageProfileId": {},
                    "targetTaskRunStatus": {},
                    "maxFailedTasksCount": {
                        "type": "integer"
                    },
                    "maxRetriesPerTask": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLicenseEndpoint": {
            "http": {
                "requestUri": "/2023-10-12/license-endpoints",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "vpcId": {},
                    "subnetIds": {
                        "type": "list",
                        "member": {}
                    },
                    "securityGroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "licenseEndpointId"
                ],
                "members": {
                    "licenseEndpointId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMonitor": {
            "http": {
                "requestUri": "/2023-10-12/monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName",
                    "identityCenterInstanceArn",
                    "subdomain",
                    "roleArn"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "displayName": {},
                    "identityCenterInstanceArn": {},
                    "subdomain": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "monitorId",
                    "identityCenterApplicationArn"
                ],
                "members": {
                    "monitorId": {},
                    "identityCenterApplicationArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K37XR4HMSJSFKYZ7H44W33O5SOVHR3SB5WDZIR7YLVFNPJSPPFOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDO6TGRBFJAAASHY3UMPLZYULHHLWV2C3NA2M6726OORKHTH3D4Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GWHLMA4NIK753HFQSB6S262IA2MMOL7B3HANJAYAU3PP2ELQMWKQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AZQOWOJEHSR7ZKDS5DYYYF2W6JRF3JNMR2FU2M4PZJXZAZX225BQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONX53A2DJ5SUXSTXBTOQU7NINCNPWX5VCOKTWF6ZTENIJO3SDFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2CAJHRUWF5PCI4H2GJYFGBSLHYVR4QNTOCJ7TQXRVNQLV7OMEZA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7RCQJXEMJ5HSCDY4RTH44U27Y5KNRFG5B5WOL5YW4A5BHNH7AONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LWXIAR4JUV6NQROSJ3BN47QBPGVSS6L4UDW3UISWZ5RYM6WC4BUQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMonitorSession": {
            "http": {
                "requestUri": "/2023-10-12/monitor-sessions/{subdomain}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subdomain",
                    "parameters",
                    "codeVerifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "subdomain": {
                        "location": "uri",
                        "locationName": "subdomain"
                    },
                    "parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "codeVerifier": {
                        "location": "querystring",
                        "locationName": "code_verifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials",
                    "identityStoreId",
                    "sessionToken",
                    "userId",
                    "monitorId"
                ],
                "members": {
                    "credentials": {
                        "shape": "S4z"
                    },
                    "identityStoreId": {},
                    "sessionToken": {},
                    "userId": {},
                    "monitorId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
[...]
