{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-10-12",
        "endpointPrefix": "deadline-internal",
        "protocol": "rest-json",
        "protocols": [
            "rest-json"
        ],
        "serviceFullName": "AWSDeadlineCloud",
        "serviceId": "deadline",
        "signatureVersion": "v4",
        "signingName": "deadline",
        "uid": "deadline-internal-2023-10-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
        ]
    },
    "operations": {
        "AssociateMemberToFarm": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssociateMemberToFleet": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssociateMemberToJob": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "jobId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssociateMemberToQueue": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "principalId",
                    "principalType",
                    "identityStoreId",
                    "membershipLevel"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "principalId": {
                        "location": "uri",
                        "locationName": "principalId"
                    },
                    "principalType": {},
                    "identityStoreId": {},
                    "membershipLevel": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssumeFleetRoleForRead": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssumeFleetRoleForWorker": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "workerId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "workerId": {
                        "location": "uri",
                        "locationName": "workerId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "scheduling."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssumeQueueRoleForRead": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssumeQueueRoleForUser": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials"
                ],
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "AssumeQueueRoleForWorker": {
            "http": {
                "method": "GET",
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "workerId",
                    "queueId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "workerId": {
                        "location": "uri",
                        "locationName": "workerId"
                    },
                    "queueId": {
                        "location": "querystring",
                        "locationName": "queueId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "credentials": {
                        "shape": "Sk"
                    }
                },
                "sensitive": true
            },
            "endpoint": {
                "hostPrefix": "scheduling."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "BatchGetJobEntity": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "fleetId",
                    "workerId",
                    "identifiers"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "fleetId": {
                        "location": "uri",
                        "locationName": "fleetId"
                    },
                    "workerId": {
                        "location": "uri",
                        "locationName": "workerId"
                    },
                    "identifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId"
                                    ],
                                    "members": {
                                        "jobId": {}
                                    }
                                },
                                "jobAttachmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId"
                                    ],
                                    "members": {
                                        "jobId": {}
                                    }
                                },
                                "stepDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "stepId"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "stepId": {}
                                    }
                                },
                                "environmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "environmentId"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "environmentId": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "entities",
                    "errors"
                ],
                "members": {
                    "entities": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "logGroupName",
                                        "schemaVersion"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "jobAttachmentSettings": {
                                            "shape": "S1b"
                                        },
                                        "jobRunAsUser": {
                                            "shape": "S1e"
                                        },
                                        "logGroupName": {},
                                        "queueRoleArn": {},
                                        "parameters": {
                                            "shape": "S1o"
                                        },
                                        "schemaVersion": {},
                                        "pathMappingRules": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "required": [
                                                    "sourcePathFormat",
                                                    "sourcePath",
                                                    "destinationPath"
                                                ],
                                                "members": {
                                                    "sourcePathFormat": {},
                                                    "sourcePath": {},
                                                    "destinationPath": {}
                                                },
                                                "sensitive": true
                                            }
                                        }
                                    }
                                },
                                "jobAttachmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "attachments"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "attachments": {
                                            "shape": "S1y"
                                        }
                                    }
                                },
                                "stepDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "stepId",
                                        "schemaVersion",
                                        "template",
                                        "dependencies"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "stepId": {},
                                        "schemaVersion": {},
                                        "template": {
                                            "shape": "S29"
                                        },
                                        "dependencies": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "environmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "environmentId",
                                        "schemaVersion",
                                        "template"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "environmentId": {},
                                        "schemaVersion": {},
                                        "template": {
                                            "shape": "S29"
                                        }
                                    }
                                }
                            },
                            "union": true
                        }
                    },
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "jobDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "jobAttachmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "stepDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "stepId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "stepId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                },
                                "environmentDetails": {
                                    "type": "structure",
                                    "required": [
                                        "jobId",
                                        "environmentId",
                                        "code",
                                        "message"
                                    ],
                                    "members": {
                                        "jobId": {},
                                        "environmentId": {},
                                        "code": {},
                                        "message": {}
                                    }
                                }
                            },
                            "union": true
                        }
                    }
                }
            },
            "endpoint": {
                "hostPrefix": "scheduling."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CopyJobTemplate": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "jobId",
                    "queueId",
                    "targetS3Location"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "targetS3Location": {
                        "type": "structure",
                        "required": [
                            "bucketName",
                            "key"
                        ],
                        "members": {
                            "bucketName": {},
                            "key": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "templateType"
                ],
                "members": {
                    "templateType": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateBudget": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/budgets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "usageTrackingResource",
                    "displayName",
                    "approximateDollarLimit",
                    "actions",
                    "schedule"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "usageTrackingResource": {
                        "shape": "S2q"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "approximateDollarLimit": {
                        "type": "float"
                    },
                    "actions": {
                        "shape": "S2u"
                    },
                    "schedule": {
                        "shape": "S2y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "budgetId"
                ],
                "members": {
                    "budgetId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateFarm": {
            "http": {
                "requestUri": "/2023-10-12/farms",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "kmsKeyArn": {},
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "farmId"
                ],
                "members": {
                    "farmId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateFleet": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/fleets",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "displayName",
                    "roleArn",
                    "maxWorkerCount",
                    "configuration"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "roleArn": {},
                    "minWorkerCount": {
                        "type": "integer"
                    },
                    "maxWorkerCount": {
                        "type": "integer"
                    },
                    "configuration": {
                        "shape": "S3a"
                    },
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "fleetId"
                ],
                "members": {
                    "fleetId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateJob": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "template",
                    "templateType",
                    "priority"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "template": {
                        "type": "string",
                        "sensitive": true
                    },
                    "templateType": {},
                    "priority": {
                        "type": "integer"
                    },
                    "parameters": {
                        "shape": "S1o"
                    },
                    "attachments": {
                        "shape": "S1y"
                    },
                    "storageProfileId": {},
                    "targetTaskRunStatus": {},
                    "maxFailedTasksCount": {
                        "type": "integer"
                    },
                    "maxRetriesPerTask": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateLicenseEndpoint": {
            "http": {
                "requestUri": "/2023-10-12/license-endpoints",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "vpcId": {},
                    "subnetIds": {
                        "type": "list",
                        "member": {}
                    },
                    "securityGroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "licenseEndpointId"
                ],
                "members": {
                    "licenseEndpointId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateMonitor": {
            "http": {
                "requestUri": "/2023-10-12/monitors",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "displayName",
                    "identityCenterInstanceArn",
                    "subdomain",
                    "roleArn"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "displayName": {},
                    "identityCenterInstanceArn": {},
                    "subdomain": {},
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "monitorId",
                    "identityCenterApplicationArn"
                ],
                "members": {
                    "monitorId": {},
                    "identityCenterApplicationArn": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateMonitorSession": {
            "http": {
                "requestUri": "/2023-10-12/monitor-sessions/{subdomain}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "subdomain",
                    "parameters",
                    "codeVerifier"
                ],
                "members": {
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "subdomain": {
                        "location": "uri",
                        "locationName": "subdomain"
                    },
                    "parameters": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    },
                    "codeVerifier": {
                        "location": "querystring",
                        "locationName": "code_verifier"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "credentials",
                    "identityStoreId",
                    "sessionToken",
                    "userId",
                    "monitorId"
                ],
                "members": {
                    "credentials": {
                        "shape": "S4z"
                    },
                    "identityStoreId": {},
                    "sessionToken": {},
                    "userId": {},
                    "monitorId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateQueue": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/queues",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "displayName"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "displayName": {},
                    "description": {
                        "shape": "S2s"
                    },
                    "defaultBudgetAction": {},
                    "jobAttachmentSettings": {
                        "shape": "S1b"
                    },
                    "roleArn": {},
                    "jobRunAsUser": {
                        "shape": "S1e"
                    },
                    "requiredFileSystemLocationNames": {
                        "shape": "S52"
                    },
                    "allowedStorageProfileIds": {
                        "shape": "S53"
                    },
                    "tags": {
                        "shape": "S36"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queueId"
                ],
                "members": {
                    "queueId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateQueueEnvironment": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "priority",
                    "templateType",
                    "template"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "clientToken": {
                        "idempotencyToken": true,
                        "location": "header",
                        "locationName": "X-Amz-Client-Token"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {
                        "location": "uri",
                        "locationName": "queueId"
                    },
                    "priority": {
                        "type": "integer"
                    },
                    "templateType": {},
                    "template": {
                        "shape": "S58"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "queueEnvironmentId"
                ],
                "members": {
                    "queueEnvironmentId": {}
                }
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateQueueFleetAssociation": {
            "http": {
                "method": "PUT",
                "requestUri": "/2023-10-12/farms/{farmId}/queue-fleet-associations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "farmId",
                    "queueId",
                    "fleetId"
                ],
                "members": {
                    "dryRun": {
                        "location": "header",
                        "locationName": "X-Amz-Dryrun",
                        "type": "boolean"
                    },
                    "farmId": {
                        "location": "uri",
                        "locationName": "farmId"
                    },
                    "queueId": {},
                    "fleetId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "endpoint": {
                "hostPrefix": "management."
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OJKWXCWJOJKCKHM7USQCLN2MHLOOSQLZRQXCJX75MH3YNCLKPJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LIUEPOXAGSC77JXEVBBRZLCDFGSNOS4MRG3ORWM4OLPYL2QXUCVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YC4XRWB6DGHS2JYUUHJD6PRDGCOJJWXNIE4362FYD52LTSVMBT3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JUXGFPYUYYRB3XXHMKXPAP44YCP3FCJ2MJRRZI2WF5O4S6734EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMO2CPSRGBFIK2PAJXGWTRZFS2R75BHIOPPKEOPXEQNFBCRTUUJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBIVHJPBN5TOSQ2B2VOSJME4NSQVUGNXBXX5ZLQRVDF3MFVBJVFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFLBONTJPZO4LOOXCGWZ52E6DMPTXDIC7DQPFG2SBLBMDRS676CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3SPAMKWY27BSU4MAIK3NMPV2UGYZPKN3QG73PK2IHH7RA4NSI3CQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4ZLKQOSQXQONCUZ4CHCEODGMJ6PTRKSIQ3BPRFA553CMA7WSDMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4UA5JVYQITHJA542ANSBDA5VSKMVTZJHHBTDYKCKJOZI3KRFQOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GDAZGTKJOHUHYKETRTDGYNY5PSAVXRLVEC3FPCKHTOP4OS6SZSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTJI6TUJ663MOE27XE63DLWL7KOAZ563QXIL5E4J3XXM4OWYBCGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSDZKSA5DIUMJVDGDZOGR3GDWDRAXCOJ4OFVAEVUZMVR23VCSVSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/USO6WW2WVG3F2RESZXTZHU4VYTW74WX2ZGS7W552NRL5ICXKV54A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPRDVVYNEWCLYOWUSZ2WI3DJKANNIFZAEAPJCFH5KFLHDNHHHHIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CR76PNIPYCHAU62DLFCXB53WL7AWT2TERJXNVOPTFARYPCIKNMBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/APTQDAWYDB6I34KLCUKMVB5K6VN4EEF37IGBIRHV3SFHDJKHFLRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NEJSAIZCKOGUZECG3RQ4PWLF4MOGD7FBP7N6ZOHGVI2JXR3GVCWA/vendors.js"
            ]
        },
        "CreateStorageProfile": {
            "http": {
                "requestUri": "/2023-10-12/farms/{farmId}/storage-profiles",
[...]
