{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2024-02-08",
        "endpointPrefix": "deepracer",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceFullName": "AWS DeepRacer",
        "serviceId": "DeepRacer",
        "signatureVersion": "v4",
        "targetPrefix": "AwsSilverstoneCloudService",
        "uid": "deepracer-2024-02-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
        ]
    },
    "operations": {
        "AddLeaderboardAccessPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessToken"
                ],
                "members": {
                    "AccessToken": {
                        "shape": "S2"
                    },
                    "UserIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "AdminDescribeAccountKey": {
            "output": {
                "type": "structure",
                "required": [
                    "CustomerManagedKeyEnabled"
                ],
                "members": {
                    "AccountKeyArn": {},
                    "CustomerManagedKeyEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "AdminGetAccountConfig": {
            "output": {
                "type": "structure",
                "required": [
                    "MultiracerConfig"
                ],
                "members": {
                    "MultiracerConfig": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "AdminListAssociatedUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "UserState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AssociatedUsers"
                ],
                "members": {
                    "NextToken": {},
                    "AssociatedUsers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Alias",
                                "UserId",
                                "AssociatedOn",
                                "ComputeMinutesUsed",
                                "ComputeMinutesQueued",
                                "MaxTotalComputeMinutes",
                                "MaxModels",
                                "StorageBytesUsed",
                                "UserState"
                            ],
                            "members": {
                                "Alias": {},
                                "UserId": {},
                                "AssociatedOn": {
                                    "type": "long"
                                },
                                "ComputeMinutesUsed": {
                                    "type": "integer"
                                },
                                "ComputeMinutesQueued": {
                                    "type": "integer"
                                },
                                "MaxTotalComputeMinutes": {
                                    "type": "integer"
                                },
                                "MaxModels": {
                                    "type": "integer"
                                },
                                "StorageBytesUsed": {
                                    "type": "long"
                                },
                                "UserState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "AdminManageUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserIds",
                    "Action"
                ],
                "members": {
                    "UserIds": {
                        "shape": "S3"
                    },
                    "Action": {},
                    "Limits": {
                        "type": "structure",
                        "members": {
                            "MaxModels": {
                                "type": "integer"
                            },
                            "MaxComputeMinutes": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "AdminSetAccountConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "MultiracerConfig"
                ],
                "members": {
                    "MultiracerConfig": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "AdminUpdateAccountKey": {
            "input": {
                "type": "structure",
                "members": {
                    "AccountKeyArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "CloneReinforcementLearningModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArnToClone",
                    "ModelName",
                    "TrainingConfig"
                ],
                "members": {
                    "ModelArnToClone": {},
                    "ModelName": {},
                    "ModelDescription": {},
                    "TrainingConfig": {
                        "shape": "Sy"
                    },
                    "AutoSubmission": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "S1t"
                    },
                    "CarArn": {},
                    "CustomActionSpace": {
                        "shape": "S1y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "CreateCar": {
            "input": {
                "type": "structure",
                "required": [
                    "Car"
                ],
                "members": {
                    "Car": {
                        "shape": "S2c"
                    },
                    "Tags": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Car"
                ],
                "members": {
                    "Car": {
                        "shape": "S2c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "CreateLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "Definition",
                    "RaceConfig",
                    "Features"
                ],
                "members": {
                    "Definition": {
                        "shape": "S2w"
                    },
                    "RaceConfig": {
                        "shape": "S32"
                    },
                    "Features": {
                        "shape": "S3f"
                    },
                    "Tags": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "CreateLeaderboardAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccessToken"
                ],
                "members": {
                    "AccessToken": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "CreateLeaderboardSubmission": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn",
                    "LeaderboardArn"
                ],
                "members": {
                    "SubmissionDescription": {},
                    "ModelArn": {},
                    "LeaderboardArn": {},
                    "TermsAccepted": {
                        "type": "boolean"
                    },
                    "AutoSubmission": {
                        "shape": "S1r"
                    },
                    "SubmissionOverrides": {
                        "type": "structure",
                        "required": [
                            "AliasOverride",
                            "CarCustomizationOverride"
                        ],
                        "members": {
                            "AliasOverride": {},
                            "Email": {},
                            "CarCustomizationOverride": {
                                "shape": "S2d"
                            }
                        }
                    },
                    "UserId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "CreateReinforcementLearningModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName",
                    "ModelFramework",
                    "AgentAlgorithm",
                    "AgentNetwork",
                    "TrainingConfig"
                ],
                "members": {
                    "ModelName": {},
                    "ModelFramework": {},
                    "ModelDescription": {},
                    "AgentAlgorithm": {},
                    "AgentNetwork": {},
                    "TrainingConfig": {
                        "shape": "Sy"
                    },
                    "CarArn": {},
                    "AutoSubmission": {
                        "shape": "S1r"
                    },
                    "Tags": {
                        "shape": "S1t"
                    },
                    "CustomActionSpace": {
                        "shape": "S1y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "DeleteLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "DeleteModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "EditLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Definition",
                    "RaceConfig",
                    "Features"
                ],
                "members": {
                    "Arn": {},
                    "Definition": {
                        "shape": "S2w"
                    },
                    "RaceConfig": {
                        "shape": "S32"
                    },
                    "Features": {
                        "shape": "S3f"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetAccountConfig": {
            "output": {
                "type": "structure",
                "required": [
                    "MultiRacer"
                ],
                "members": {
                    "MultiRacer": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetAlias": {
            "output": {
                "type": "structure",
                "required": [
                    "Alias",
                    "UserId",
                    "ProfileId"
                ],
                "members": {
                    "Alias": {},
                    "TeamName": {},
                    "RacingDivisionConfig": {
                        "type": "structure",
                        "members": {
                            "RacingDivision": {},
                            "StartTime": {
                                "type": "long"
                            },
                            "EndTime": {
                                "type": "long"
                            }
                        }
                    },
                    "Rewards": {
                        "shape": "S47"
                    },
                    "UserAvatarConfig": {
                        "shape": "S4q"
                    },
                    "FirstRaceTime": {
                        "type": "long"
                    },
                    "MultiUserEnabled": {
                        "type": "boolean"
                    },
                    "MultiUserProfile": {
                        "type": "structure",
                        "required": [
                            "AssociatedOn",
                            "ComputeMinutesUsed",
                            "ComputeMinutesQueued",
                            "MaxTotalComputeMinutes",
                            "MaxModels",
                            "StorageBytesUsed",
                            "UserState"
                        ],
                        "members": {
                            "AssociatedOn": {
                                "type": "long"
                            },
                            "ComputeMinutesUsed": {
                                "type": "integer"
                            },
                            "ComputeMinutesQueued": {
                                "type": "integer"
                            },
                            "MaxTotalComputeMinutes": {
                                "type": "integer"
                            },
                            "MaxModels": {
                                "type": "integer"
                            },
                            "StorageBytesUsed": {
                                "type": "long"
                            },
                            "UserState": {}
                        }
                    },
                    "AlternativeEmail": {},
                    "CompetitionCountryCode": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {},
                    "UserId": {},
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetAssetUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "AssetType"
                ],
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "RoleArn": {},
                    "ModelArtifactsS3Bucket": {},
                    "ModelArtifactsS3Prefix": {},
                    "FirstCopy": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {},
                    "ProcessedFileCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetCar": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Car"
                ],
                "members": {
                    "Car": {
                        "shape": "S2c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetCars": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Cars"
                ],
                "members": {
                    "Cars": {
                        "type": "list",
                        "member": {
                            "shape": "S2c"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "EvaluationJobArn"
                ],
                "members": {
                    "EvaluationJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EvaluationJob"
                ],
                "members": {
                    "EvaluationJob": {
                        "shape": "S58"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetLatestUserSubmission": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardSubmission"
                ],
                "members": {
                    "LeaderboardSubmission": {
                        "shape": "S5o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Leaderboard": {
                        "shape": "S4d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Model"
                ],
                "members": {
                    "Model": {
                        "shape": "S62"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetRankedUserSubmission": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardSubmission"
                ],
                "members": {
                    "LeaderboardSubmission": {
                        "shape": "S5o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetRecords": {
            "output": {
                "type": "structure",
                "members": {
                    "TrackRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordItemKey": {},
                                "Rankings": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ItemName": {},
                                            "RankingValue": {
                                                "type": "long"
                                            },
                                            "MediaLink": {},
                                            "UserAvatarConfig": {
                                                "shape": "S4q"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetTrack": {
            "input": {
                "type": "structure",
                "required": [
                    "TrackArn"
                ],
                "members": {
                    "TrackArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Track"
                ],
                "members": {
                    "Track": {
                        "shape": "S6i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetTrainingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "TrainingJobArn"
                ],
                "members": {
                    "TrainingJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrainingJob"
                ],
                "members": {
                    "TrainingJob": {
                        "shape": "S6t"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "GetUserHistoricalData": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "HistoricalLeaderboardSubmissions"
                ],
                "members": {
                    "HistoricalLeaderboardSubmissions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Timestamp",
                                "GlobalRanking",
                                "RegionalRanking",
                                "CountryRanking",
                                "GlobalParticipantsCount",
                                "RegionalParticipantsCount",
                                "CountryParticipantsCount"
                            ],
                            "members": {
                                "Timestamp": {
                                    "type": "long"
                                },
                                "GlobalRanking": {
                                    "type": "integer"
                                },
                                "RegionalRanking": {
                                    "type": "integer"
                                },
                                "CountryRanking": {
                                    "type": "integer"
                                },
                                "GlobalParticipantsCount": {
                                    "type": "integer"
                                },
                                "RegionalParticipantsCount": {
                                    "type": "integer"
                                },
                                "CountryParticipantsCount": {
                                    "type": "integer"
                                },
                                "AvgLapTime": {
                                    "type": "long"
                                },
                                "BestLapTime": {
                                    "type": "long"
                                },
                                "AvgResets": {
                                    "type": "integer"
                                },
                                "CollisionCount": {
                                    "type": "integer"
                                },
                                "OffTrackCount": {
                                    "type": "integer"
                                },
                                "SubmissionCount": {
                                    "type": "integer"
                                },
                                "RankingScore": {
                                    "type": "long"
                                },
                                "JobArn": {},
                                "TotalLaps": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ImportModel": {
            "input": {
                "type": "structure",
                "required": [
                    "Type",
                    "Name",
                    "ModelArtifactsS3Path",
                    "RoleArn"
                ],
                "members": {
                    "ModelArn": {},
                    "Type": {},
                    "Name": {},
                    "Description": {},
                    "ModelArtifactsS3Path": {},
                    "RoleArn": {},
                    "TargetUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ListEvaluations": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SortBy": {},
                    "SortOrder": {},
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EvaluationJobs"
                ],
                "members": {
                    "EvaluationJobs": {
                        "shape": "S77"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ListLeaderboardEvaluations": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SortOrder": {},
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardEvaluationJobs"
                ],
                "members": {
                    "LeaderboardEvaluationJobs": {
                        "shape": "S77"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ListLeaderboardSubmissions": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "GetTopRacer": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardSubmissions"
                ],
                "members": {
                    "LeaderboardSubmissions": {
                        "type": "list",
                        "member": {
                            "shape": "S5o"
                        }
                    },
                    "LeagueTopRacers": {
                        "type": "structure",
                        "members": {
                            "Global": {
                                "shape": "S7e"
                            },
                            "Region": {
                                "shape": "S7e"
                            },
                            "Country": {
                                "shape": "S7e"
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ListLeaderboardWinners": {
            "input": {
                "type": "structure",
                "required": [
                    "WinnerCutoffTime"
                ],
                "members": {
                    "WinnerCutoffTime": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Recipients"
                ],
                "members": {
                    "Recipients": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Name": {},
                                "Type": {},
                                "Rewards": {
                                    "shape": "S47"
                                },
                                "UserAvatarConfig": {
                                    "shape": "S4q"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ListLeaderboards": {
            "input": {
                "type": "structure",
                "members": {
                    "LeagueType": {},
                    "LeaderboardAccessRoles": {
                        "shape": "S4n"
                    },
                    "CutoffTime": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Leaderboards"
                ],
                "members": {
                    "Leaderboards": {
                        "type": "list",
                        "member": {
                            "shape": "S4d"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4ZICZHH7725LM4QBIMMTOGFKWIFRNY7SW4LGNPS4OJWEXRHJGGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5H7MTHJARW35A572IPNUGN7TV7KP2APNICZ5JPU7MGY3PL2NFFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBG56TQFQJGLSFNSKTQGU2YZJSPFGKTQCPUE3FORYA53NOKLFNPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHM6DQ3VBZLA2C46DOFRQB3EWTZQGLRO7XBXJOITNL34UOHIC5XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DWHXDBP5BTJ2CQ2TCU2JJEZWKRDTUMEER52AHH4VLWTDM5PL54JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UN77Y5AMOZKAZRETJUTEKTPI5XHC6536Y56GSIY4Q6CSUQ6C7EUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFZ32KSQYKSEEKDYIQICYZLPIHICED66QTEIFPFU6CQAHZBTZ3HQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XPWAC4OZJOXQVBZAFH2M2X5NQ75U4GZSMP4ZVOAJKAE5BF4RIHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHLGUJCDC2BUQWLEHHW2A3SWVDMPWX62K7XTNUZGPUJO6HAFXBJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BBEUHGBXMW5OR4BJT5ZCPPQ4OGO37LM5D3SIMZKMIV5Z4AIS3I5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWWHVHKCLAISXJSWPZ5Z5Q7JIS7X4IEQ6JECK3R4OG5EK3FUAR2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5R74MX5Z4Q6FGCT3VIVYTVIH4ECFQ4XH4V6R3O4AQOQESYLWMB7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QJHF5W3T4ATJ3462EJW2KP2WHBGASBAQEFBDIKVEGSOKW2Z7GGRA/main.js"
            ]
        },
        "ListModels": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelType"
                ],
                "members": {
                    "ModelType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SortBy": {},
                    "SortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Models"
                ],
                "members": {
                    "Models": {
                        "type": "list",
                        "member": {
                            "shape": "S62"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXIXBRK7JZQRXZ7CVZLTXAZPY4RT4HMQCHN4Z7BB7OZL7WD2KPRA/main.js",
[...]
