{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-08-31",
        "endpointPrefix": "deeplens",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon Deeplens",
        "signatureVersion": "v4",
        "targetPrefix": "Deeplens",
        "uid": "deeplens-2017-08-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
        ]
    },
    "operations": {
        "AssociateServiceRoleToAccount": {
            "input": {
                "type": "structure",
                "members": {
                    "ServiceRoleArn": {},
                    "GreenGrassServiceRoleArn": {},
                    "IMRoleArn": {},
                    "GreenGrassGroupRoleArn": {},
                    "LambdaCreationRoleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "BatchGetDeployment": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Deployments"
                ],
                "members": {
                    "Deployments": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "Type",
                                "Status",
                                "LastReported"
                            ],
                            "members": {
                                "Id": {},
                                "Type": {},
                                "Status": {},
                                "Message": {},
                                "DetailMessage": {},
                                "LastReported": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "BatchGetDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceNames"
                ],
                "members": {
                    "DeviceNames": {
                        "shape": "Sh"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Devices",
                    "Errors"
                ],
                "members": {
                    "Devices": {
                        "type": "list",
                        "member": {
                            "shape": "Sk"
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {
                                    "type": "integer"
                                },
                                "Message": {},
                                "DeviceName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "BatchGetModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelNames"
                ],
                "members": {
                    "ModelNames": {
                        "shape": "S1j"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Models",
                    "Errors"
                ],
                "members": {
                    "Models": {
                        "type": "list",
                        "member": {
                            "shape": "S1n"
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {
                                    "type": "integer"
                                },
                                "Message": {},
                                "ModelName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "BatchGetProject": {
            "input": {
                "type": "structure",
                "required": [
                    "ProjectNames"
                ],
                "members": {
                    "ProjectNames": {
                        "shape": "S21"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Projects",
                    "Errors"
                ],
                "members": {
                    "Projects": {
                        "type": "list",
                        "member": {
                            "shape": "S25"
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ErrorCode": {
                                    "type": "integer"
                                },
                                "Message": {},
                                "ProjectName": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "CreateDeviceCertificates": {
            "output": {
                "type": "structure",
                "required": [
                    "Certificates",
                    "IotThingName"
                ],
                "members": {
                    "Certificates": {
                        "type": "blob"
                    },
                    "IotThingName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "CreateModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName",
                    "ModelDefinition"
                ],
                "members": {
                    "ModelName": {},
                    "ModelDefinition": {
                        "shape": "S1r"
                    },
                    "ModelDescription": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "CreateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ProjectDescription": {},
                    "DeviceFunctions": {
                        "shape": "S2a"
                    },
                    "DeviceModelName": {},
                    "PublisherArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProjectArn"
                ],
                "members": {
                    "ProjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "DeleteAssociatedResources": {
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "DeleteModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName"
                ],
                "members": {
                    "ModelName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "DeleteProject": {
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ProjectVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "DeployProject": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName",
                    "ProjectName"
                ],
                "members": {
                    "DeviceName": {},
                    "ProjectName": {},
                    "ProjectVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeploymentId"
                ],
                "members": {
                    "DeploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "DeregisterDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "GetAssociatedResources": {
            "output": {
                "type": "structure",
                "members": {
                    "ServiceRoleArn": {},
                    "GreenGrassServiceRoleArn": {},
                    "IMRoleArn": {},
                    "GreenGrassGroupRoleArn": {},
                    "LambdaCreationRoleArn": {},
                    "S3Bucket": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "GetDeploymentStatus": {
            "input": {
                "type": "structure",
                "required": [
                    "DeploymentId"
                ],
                "members": {
                    "DeploymentId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProjectDeploymentStatus"
                ],
                "members": {
                    "ProjectDeploymentStatus": {
                        "type": "structure",
                        "required": [
                            "DeploymentStatus",
                            "LastReported"
                        ],
                        "members": {
                            "DeploymentStatus": {},
                            "Message": {},
                            "DetailMessage": {},
                            "DeviceName": {},
                            "ProjectName": {},
                            "ProjectVersion": {
                                "type": "long"
                            },
                            "LastReported": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "GetDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Device"
                ],
                "members": {
                    "Device": {
                        "shape": "Sk"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "GetModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName"
                ],
                "members": {
                    "ModelName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Model"
                ],
                "members": {
                    "Model": {
                        "shape": "S1n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "GetProject": {
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ProjectVersion": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Project"
                ],
                "members": {
                    "Project": {
                        "shape": "S25"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "ImportProjectFromTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName",
                    "ProjectTemplateId"
                ],
                "members": {
                    "ProjectName": {},
                    "ProjectTemplateId": {},
                    "ProjectDescription": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProjectArn"
                ],
                "members": {
                    "ProjectArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "ListDeployments": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "DeviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeploymentIds"
                ],
                "members": {
                    "DeploymentIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "ListDevices": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeviceNames"
                ],
                "members": {
                    "DeviceNames": {
                        "shape": "Sh"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "ListModels": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelNames"
                ],
                "members": {
                    "ModelNames": {
                        "shape": "S1j"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "ListProjects": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProjectNames"
                ],
                "members": {
                    "ProjectNames": {
                        "shape": "S21"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "RegisterDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName",
                    "IotThingName"
                ],
                "members": {
                    "DeviceName": {},
                    "IotThingName": {},
                    "GreenGrassGroupRoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeviceArn"
                ],
                "members": {
                    "DeviceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "RemoveProject": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeploymentId"
                ],
                "members": {
                    "DeploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "ResetPassword": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName",
                    "DevicePassword"
                ],
                "members": {
                    "DeviceName": {},
                    "DevicePassword": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeploymentId"
                ],
                "members": {
                    "DeploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "StartLiveStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "StopLiveStream": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "UpdateDevice": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {},
                    "LogConfig": {
                        "shape": "S16"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DeviceName",
                    "LogConfig"
                ],
                "members": {
                    "DeviceName": {},
                    "LogConfig": {
                        "shape": "S16"
                    },
                    "DeploymentId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "UpdateProject": {
            "input": {
                "type": "structure",
                "required": [
                    "ProjectName"
                ],
                "members": {
                    "ProjectName": {},
                    "ProjectDescription": {},
                    "DeviceFunctions": {
                        "shape": "S2a"
                    },
                    "DeviceModelName": {},
                    "PublisherArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ProjectVersion"
                ],
                "members": {
                    "ProjectVersion": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        },
        "UpdateSoftware": {
            "input": {
                "type": "structure",
                "required": [
                    "DeviceName"
                ],
                "members": {
                    "DeviceName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RD2JVEVNWDPT5LS7HLUUNFIAM57ZIF2POVI5EFK44UGYP5PJEOSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QAVLJYCWSEKFIJ25DYYMXE7RMDQ22NJXY6MAQWT2UDJ5XUVRQ7ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBNR6CKIMP6XH7KWEUI6UUK7XHWVO2XLS3MYCNRIRQILQHGIZX4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV54CGIAQLB226QXYKQFHGV2MNCHP6L7CUKCK67GWOX4CBXIJP7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5X5IB2MDH2QVHIGTTDFLPY3PFXQ6U62SMT3FXFYO2D4URKGT4FIA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Sh": {
            "type": "list",
            "member": {}
        },
        "Sk": {
            "type": "structure",
            "required": [
                "DeviceName",
                "DeviceId",
                "DeviceArn",
                "GreenGrassGroupId",
                "GreenGrassCoreDefinitionId",
                "IotThingARN",
                "InputAcuityStreamARN"
            ],
            "members": {
                "DeviceName": {},
                "DeviceId": {},
                "DeviceArn": {},
                "DeviceVersion": {},
                "GreenGrassGroupId": {},
                "GreenGrassCoreDefinitionId": {},
                "GreenGrassCoreDefinitionVersionId": {},
                "IotThingARN": {},
                "IotThingName": {},
                "IotThingVersion": {},
                "IotCertificateARN": {},
                "InputAcuityStreamARN": {},
                "OutputAcuityStreamARN": {},
                "CurrentSoftwareVersion": {},
                "ActiveProjectName": {},
                "ActiveProjectVersion": {
                    "type": "long"
                },
                "RegistrationStatus": {},
                "DeviceStatus": {},
                "RegistrationMessage": {},
                "DateCreated": {
                    "type": "timestamp"
                },
                "LastContact": {
                    "type": "timestamp"
                },
                "InferenceOutputTopic": {},
                "IsUpdateAvailable": {
                    "type": "boolean"
                },
                "UpdateSoftwareStatus": {},
                "UpdateSoftwareMessage": {},
                "CurrentDeploymentId": {},
                "IpAddresses": {
                    "type": "list",
                    "member": {}
                },
                "GreenGrassGroupRoleArn": {},
                "LogConfig": {
                    "shape": "S16"
                },
                "LastFourDsn": {},
                "Errors": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Message": {}
                        }
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "Loggers"
            ],
            "members": {
                "Loggers": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "LoggerType",
                            "LoggerComponent",
                            "LoggerLevel"
                        ],
                        "members": {
                            "LoggerType": {},
                            "LoggerComponent": {},
                            "LoggerLevel": {}
                        }
                    }
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "S1n": {
            "type": "structure",
            "required": [
                "ModelName",
                "ModelId",
                "ModelArn",
                "ModelDefinition",
                "DateCreated"
            ],
            "members": {
                "ModelName": {},
                "ModelId": {},
                "ModelArn": {},
                "ModelDescription": {},
                "ModelDefinition": {
                    "shape": "S1r"
                },
                "DateCreated": {
                    "type": "timestamp"
                },
                "FinalModelLocation": {}
            }
        },
        "S1r": {
            "type": "structure",
            "members": {
                "IronManModelParams": {
                    "type": "structure",
                    "required": [
                        "IronManTrainingJobName"
                    ],
                    "members": {
                        "IronManTrainingJobName": {},
                        "CustomModelFramework": {}
                    }
                },
                "CustomModelParams": {
                    "type": "structure",
                    "required": [
                        "ModelArtifactS3Location"
                    ],
                    "members": {
                        "ModelArtifactS3Location": {},
                        "CustomModelFramework": {}
                    }
                }
            }
        },
        "S21": {
            "type": "list",
            "member": {}
        },
        "S25": {
            "type": "structure",
            "required": [
                "ProjectName",
                "ProjectArn",
                "ProjectVersion",
                "ProjectCreationStatus"
            ],
            "members": {
                "ProjectName": {},
                "ProjectId": {},
                "ProjectArn": {},
                "ProjectVersion": {
                    "type": "long"
                },
                "ProjectDescription": {},
                "DeviceFunctions": {
                    "shape": "S2a"
                },
                "DeviceModelName": {},
                "PublisherArn": {},
                "DateCreated": {
                    "type": "timestamp"
                },
                "DateModified": {
                    "type": "timestamp"
                },
                "ProjectCreationStatus": {}
            }
        },
        "S2a": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "LambdaFunctionARN",
                    "Executable",
                    "Memory",
                    "Timeout",
                    "IsPinned",
                    "IsSubscriber"
                ],
                "members": {
                    "LambdaFunctionARN": {},
                    "Executable": {},
                    "Memory": {
                        "type": "integer"
                    },
                    "Timeout": {
                        "type": "integer"
                    },
                    "IsPinned": {
                        "type": "boolean"
                    },
                    "IsSubscriber": {
                        "type": "boolean"
                    }
                }
            }
        }
    }
}