{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-04-01",
        "endpointPrefix": "deepracer-prod",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS DeepRacer",
        "serviceId": "DeepRacer",
        "signatureVersion": "v4",
        "signingName": "deepracer",
        "targetPrefix": "AwsSilverstoneCloudService",
        "uid": "deepracer-2019-04-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
        ]
    },
    "operations": {
        "AddLeaderboardAccessPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "AccessToken"
                ],
                "members": {
                    "AccessToken": {
                        "shape": "S2"
                    },
                    "UserIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "AdminGetAccountConfig": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "MultiracerConfig"
                ],
                "members": {
                    "MultiracerConfig": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "AdminListAssociatedResources": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AssociatedResources"
                ],
                "members": {
                    "NextToken": {},
                    "AssociatedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "UserId",
                                "Models"
                            ],
                            "members": {
                                "UserId": {},
                                "Models": {
                                    "shape": "Sh"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "AdminListAssociatedUsers": {
            "input": {
                "type": "structure",
                "members": {
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "UserState": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AssociatedUsers"
                ],
                "members": {
                    "NextToken": {},
                    "AssociatedUsers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Alias",
                                "UserId",
                                "AssociatedOn",
                                "ComputeMinutesUsed",
                                "ComputeMinutesQueued",
                                "MaxTotalComputeMinutes",
                                "MaxModels",
                                "StorageBytesUsed",
                                "UserState"
                            ],
                            "members": {
                                "Alias": {},
                                "UserId": {},
                                "AssociatedOn": {
                                    "type": "long"
                                },
                                "ComputeMinutesUsed": {
                                    "type": "integer"
                                },
                                "ComputeMinutesQueued": {
                                    "type": "integer"
                                },
                                "MaxTotalComputeMinutes": {
                                    "type": "integer"
                                },
                                "MaxModels": {
                                    "type": "integer"
                                },
                                "StorageBytesUsed": {
                                    "type": "long"
                                },
                                "UserState": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "AdminManageUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserIds",
                    "Action"
                ],
                "members": {
                    "UserIds": {
                        "shape": "S3"
                    },
                    "Action": {},
                    "Limits": {
                        "type": "structure",
                        "members": {
                            "MaxModels": {
                                "type": "integer"
                            },
                            "MaxComputeMinutes": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "AdminSetAccountConfig": {
            "input": {
                "type": "structure",
                "required": [
                    "MultiracerConfig"
                ],
                "members": {
                    "MultiracerConfig": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "CloneReinforcementLearningModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName",
                    "TrainingConfig"
                ],
                "members": {
                    "ModelArnToClone": {},
                    "ModelName": {},
                    "ModelDescription": {},
                    "TrainingConfig": {
                        "shape": "S1u"
                    },
                    "RoleArn": {},
                    "AutoSubmission": {
                        "shape": "S2o"
                    },
                    "Tags": {
                        "shape": "S2q"
                    },
                    "CarArn": {},
                    "CustomActionSpace": {
                        "shape": "S2u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "CreateCar": {
            "input": {
                "type": "structure",
                "required": [
                    "Car"
                ],
                "members": {
                    "Car": {
                        "shape": "S34"
                    },
                    "Tags": {
                        "shape": "S2q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Car": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "CreateLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "Definition",
                    "RaceConfig",
                    "Features"
                ],
                "members": {
                    "Definition": {
                        "shape": "S3d"
                    },
                    "RaceConfig": {
                        "shape": "S3k"
                    },
                    "Features": {
                        "shape": "S3w"
                    },
                    "Tags": {
                        "shape": "S2q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "CreateLeaderboardAccessToken": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "ExpirationTime": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AccessToken"
                ],
                "members": {
                    "AccessToken": {
                        "shape": "S2"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "CreateLeaderboardSubmission": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn",
                    "LeaderboardArn"
                ],
                "members": {
                    "SubmissionDescription": {},
                    "ModelArn": {},
                    "LeaderboardArn": {},
                    "TermsAccepted": {
                        "type": "boolean"
                    },
                    "RoleArn": {},
                    "AutoSubmission": {
                        "shape": "S2o"
                    },
                    "SubmissionOverrides": {
                        "type": "structure",
                        "required": [
                            "AliasOverride",
                            "CarCustomizationOverride"
                        ],
                        "members": {
                            "AliasOverride": {},
                            "Email": {},
                            "CarCustomizationOverride": {
                                "shape": "S35"
                            }
                        }
                    },
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "CreateReinforcementLearningModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelName",
                    "ModelFramework",
                    "AgentAlgorithm",
                    "AgentNetwork",
                    "TrainingConfig"
                ],
                "members": {
                    "ModelName": {},
                    "ModelFramework": {},
                    "ModelDescription": {},
                    "AgentAlgorithm": {},
                    "AgentNetwork": {},
                    "TrainingConfig": {
                        "shape": "S1u"
                    },
                    "CarArn": {},
                    "RoleArn": {},
                    "AutoSubmission": {
                        "shape": "S2o"
                    },
                    "Tags": {
                        "shape": "S2q"
                    },
                    "CustomActionSpace": {
                        "shape": "S2u"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "DeleteLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "DeleteModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "EditLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "Definition",
                    "RaceConfig",
                    "Features"
                ],
                "members": {
                    "Arn": {},
                    "Definition": {
                        "shape": "S3d"
                    },
                    "RaceConfig": {
                        "shape": "S3k"
                    },
                    "Features": {
                        "shape": "S3w"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetAccountConfig": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "MultiRacer"
                ],
                "members": {
                    "MultiRacer": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetAlias": {
            "output": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "TeamName": {},
                    "RacingDivisionsByRaceType": {
                        "type": "structure",
                        "members": {
                            "TimeTrialRacingDivision": {},
                            "ObjectAvoidanceRacingDivision": {},
                            "H2hRacingDivision": {}
                        }
                    },
                    "RacingDivisionConfig": {
                        "type": "structure",
                        "members": {
                            "RacingDivision": {},
                            "StartTime": {
                                "type": "long"
                            },
                            "EndTime": {
                                "type": "long"
                            }
                        }
                    },
                    "Rewards": {
                        "shape": "S4r"
                    },
                    "UserAvatarConfig": {
                        "shape": "S5a"
                    },
                    "FirstRaceTime": {
                        "type": "long"
                    },
                    "MultiUserEnabled": {
                        "type": "boolean"
                    },
                    "MultiUserProfile": {
                        "type": "structure",
                        "required": [
                            "AssociatedOn",
                            "ComputeMinutesUsed",
                            "ComputeMinutesQueued",
                            "MaxTotalComputeMinutes",
                            "MaxModels",
                            "StorageBytesUsed",
                            "UserState"
                        ],
                        "members": {
                            "AssociatedOn": {
                                "type": "long"
                            },
                            "ComputeMinutesUsed": {
                                "type": "integer"
                            },
                            "ComputeMinutesQueued": {
                                "type": "integer"
                            },
                            "MaxTotalComputeMinutes": {
                                "type": "integer"
                            },
                            "MaxModels": {
                                "type": "integer"
                            },
                            "StorageBytesUsed": {
                                "type": "long"
                            },
                            "UserState": {}
                        }
                    },
                    "AlternativeEmail": {},
                    "CompetitionCountryCode": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {},
                    "UserId": {},
                    "ProfileId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetAssetUrl": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn",
                    "AssetType"
                ],
                "members": {
                    "Arn": {},
                    "AssetType": {},
                    "RoleArn": {},
                    "ModelArtifactsS3Bucket": {},
                    "ModelArtifactsS3Prefix": {},
                    "FirstCopy": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Url": {},
                    "ProcessedFileCount": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetBYOAJob": {
            "input": {
                "type": "structure",
                "required": [
                    "BYOAJobArn"
                ],
                "members": {
                    "BYOAJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BYOAJob"
                ],
                "members": {
                    "BYOAJob": {
                        "shape": "S5o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetCar": {
            "input": {
                "type": "structure",
                "required": [
                    "Arn"
                ],
                "members": {
                    "Arn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Car": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetCars": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Cars": {
                        "type": "list",
                        "member": {
                            "shape": "S34"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "EvaluationJobArn"
                ],
                "members": {
                    "EvaluationJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EvaluationJob"
                ],
                "members": {
                    "EvaluationJob": {
                        "shape": "S6d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetLatestUserSubmission": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardSubmission"
                ],
                "members": {
                    "LeaderboardSubmission": {
                        "shape": "S6m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetLeaderboard": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Leaderboard": {
                        "shape": "S4x"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Model"
                ],
                "members": {
                    "Model": {
                        "shape": "Si"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetRankedUserSubmission": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "LeaderboardSubmission"
                ],
                "members": {
                    "LeaderboardSubmission": {
                        "shape": "S6m"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetRecords": {
            "output": {
                "type": "structure",
                "members": {
                    "TrackRecords": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RecordItemKey": {},
                                "Rankings": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ItemName": {},
                                            "RankingValue": {
                                                "type": "long"
                                            },
                                            "MediaLink": {},
                                            "UserAvatarConfig": {
                                                "shape": "S5a"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetTournament": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Tournament"
                ],
                "members": {
                    "TournamentStatus": {},
                    "Tournament": {
                        "type": "structure",
                        "members": {
                            "Races": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Racer1": {
                                            "shape": "S76"
                                        },
                                        "Racer2": {
                                            "shape": "S76"
                                        },
                                        "Winner": {},
                                        "ResultsAvailableTime": {
                                            "type": "long"
                                        },
                                        "VideoUrl": {},
                                        "RaceGroup": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetTrack": {
            "input": {
                "type": "structure",
                "required": [
                    "TrackArn"
                ],
                "members": {
                    "TrackArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Track"
                ],
                "members": {
                    "Track": {
                        "shape": "S79"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "GetTrainingJob": {
            "input": {
                "type": "structure",
                "required": [
                    "TrainingJobArn"
                ],
                "members": {
                    "TrainingJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TrainingJob"
                ],
                "members": {
                    "TrainingJob": {
                        "shape": "S7k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ImportModel": {
            "input": {
                "type": "structure",
                "required": [
                    "Type",
                    "Name",
                    "ModelArtifactsS3Path",
                    "RoleArn"
                ],
                "members": {
                    "ModelArn": {},
                    "Type": {},
                    "Name": {},
                    "Description": {},
                    "ModelArtifactsS3Path": {},
                    "RoleArn": {},
                    "TargetUserId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListBYOAJobs": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BYOAJobs": {
                        "type": "list",
                        "member": {
                            "shape": "S5o"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListEvaluations": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SortBy": {},
                    "SortOrder": {},
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EvaluationJobs": {
                        "shape": "S7x"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListLeaderboardEvaluations": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SortOrder": {},
                    "StatusEquals": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LeaderboardEvaluationJobs": {
                        "shape": "S7x"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListLeaderboardSubmissions": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "GetTopRacer": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LeaderboardSubmissions": {
                        "type": "list",
                        "member": {
                            "shape": "S6m"
                        }
                    },
                    "LeagueTopRacers": {
                        "type": "structure",
                        "members": {
                            "Global": {
                                "shape": "S84"
                            },
                            "Region": {
                                "shape": "S84"
                            },
                            "Country": {
                                "shape": "S84"
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListLeaderboardWinners": {
            "input": {
                "type": "structure",
                "required": [
                    "WinnerCutoffTime"
                ],
                "members": {
                    "WinnerCutoffTime": {
                        "type": "long"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Recipients": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Name": {},
                                "Type": {},
                                "Rewards": {
                                    "shape": "S4r"
                                },
                                "UserAvatarConfig": {
                                    "shape": "S5a"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListLeaderboards": {
            "input": {
                "type": "structure",
                "members": {
                    "LeagueType": {},
                    "LeaderboardAccessRoles": {
                        "shape": "S57"
                    },
                    "CutoffTime": {
                        "type": "long"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Leaderboards"
                ],
                "members": {
                    "Leaderboards": {
                        "type": "list",
                        "member": {
                            "shape": "S4x"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListModels": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelType"
                ],
                "members": {
                    "ModelType": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "SortBy": {},
                    "SortOrder": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Models": {
                        "shape": "Sh"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListPrivateLeaderboardParticipants": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "IncludeExtendedUserData": {
                        "type": "boolean"
                    },
                    "LeaderboardAccessRoles": {
                        "shape": "S57"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "PrivateLeaderboardParticipants"
                ],
                "members": {
                    "PrivateLeaderboardParticipants": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "UserId": {},
                                "Alias": {},
                                "JoinTime": {
                                    "type": "long"
                                },
                                "UserAvatarConfig": {
                                    "shape": "S5a"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListTagsForResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S2q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListTracks": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tracks": {
                        "type": "list",
                        "member": {
                            "shape": "S79"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "ListTrainingJobs": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {},
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrainingJobs": {
                        "type": "list",
                        "member": {
                            "shape": "S7k"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "PerformLeaderboardOperation": {
            "input": {
                "type": "structure",
                "required": [
                    "Operation"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "Operation": {},
                    "UserIds": {
                        "shape": "S3"
                    },
                    "EntryMode": {},
                    "NumberOfBackupResources": {
                        "type": "integer"
                    },
                    "ResourceIds": {
                        "type": "list",
                        "member": {}
                    },
                    "ReLaunch": {
                        "type": "boolean"
                    },
                    "GetConflictingEventSchedulesRequest": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "long"
                            },
                            "EndTime": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GetConflictingEventSchedulesResponse": {
                        "type": "structure",
                        "members": {
                            "EventScheduleList": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "StartTime",
                                        "EndTime"
                                    ],
                                    "members": {
                                        "LeaderboardArn": {},
                                        "StartTime": {
                                            "type": "long"
                                        },
                                        "EndTime": {
                                            "type": "long"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "RemoveLeaderboardAccessPermission": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "AccountId": {},
                    "UserId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "RunTournament": {
            "input": {
                "type": "structure",
                "required": [
                    "LeaderboardArn"
                ],
                "members": {
                    "LeaderboardArn": {},
                    "TournamentRacersOverride": {
                        "type": "list",
                        "member": {}
                    },
                    "TournamentConfig": {
                        "type": "structure",
                        "members": {
                            "MaxLaps": {
                                "type": "integer"
                            },
                            "ResettingBehavior": {
                                "shape": "S3n"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "SetAlias": {
            "input": {
                "type": "structure",
                "members": {
                    "Alias": {},
                    "UserAvatarConfig": {
                        "shape": "S5a"
                    },
                    "AlternativeEmail": {},
                    "CompetitionCountryCode": {},
                    "FirstName": {},
                    "MiddleName": {},
                    "LastName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "StartBYOAJob": {
            "input": {
                "type": "structure",
                "required": [
                    "TerminationConditions"
                ],
                "members": {
                    "Name": {},
                    "TerminationConditions": {
                        "shape": "S5x"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "BYOAJobArn"
                ],
                "members": {
                    "BYOAJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "StartEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn",
                    "EvaluationConfig"
                ],
                "members": {
                    "ModelArn": {},
                    "EvaluationConfig": {
                        "shape": "S6f"
                    },
                    "RoleArn": {
                        "deprecated": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "EvaluationJobArn"
                ],
                "members": {
                    "EvaluationJobArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "StopBYOAJob": {
            "input": {
                "type": "structure",
                "required": [
                    "BYOAJobArn"
                ],
                "members": {
                    "BYOAJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "StopEvaluation": {
            "input": {
                "type": "structure",
                "required": [
                    "EvaluationJobArn"
                ],
                "members": {
                    "EvaluationJobArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "StopTrainingReinforcementLearningModel": {
            "input": {
                "type": "structure",
                "required": [
                    "ModelArn"
                ],
                "members": {
                    "ModelArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "TagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {},
                    "Tags": {
                        "shape": "S2q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "TestRewardFunction": {
            "input": {
                "type": "structure",
                "required": [
                    "RewardFunctionCode"
                ],
                "members": {
                    "RewardFunctionCode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ErrorDetailsList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Type",
                                "Message"
                            ],
                            "members": {
                                "Type": {},
                                "Message": {},
                                "Line": {},
                                "LineNumber": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "UntagResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {},
                    "TagKeys": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "UpdateCar": {
            "input": {
                "type": "structure",
                "required": [
                    "Car"
                ],
                "members": {
                    "Car": {
                        "shape": "S34"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Car": {
                        "shape": "S34"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        },
        "VerifyResourcesExistForTagris": {
            "input": {
                "type": "structure",
                "required": [
                    "TagrisSweepList"
                ],
                "members": {
                    "TagrisSweepList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TagrisAccountId": {},
                                "TagrisAmazonResourceName": {},
                                "TagrisInternalId": {},
                                "TagrisVersion": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "TagrisSweepListResult"
                ],
                "members": {
                    "TagrisSweepListResult": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/BILDW6FPUZONKQJ7OH7ANP5P2SJH5QXRPMQCSKYFYBTZUODOUQZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AJS54SUDHZM7VZAGZILWQP72IT7QGR6YBVZYJPYZ3JMEYQ6RZOHA/main.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "string",
            "sensitive": true
        },
        "S3": {
            "type": "list",
            "member": {}
        },
        "S9": {
            "type": "structure",
            "required": [
                "MultiracerModeEnabled"
            ],
            "members": {
                "MultiracerModeEnabled": {
                    "type": "boolean"
                }
            }
        },
        "Sh": {
            "type": "list",
            "member": {
                "shape": "Si"
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "ModelType",
                "ModelName",
                "ModelArn",
                "WasImported",
                "CreationTime",
                "ModelFramework",
                "AgentAlgorithm",
                "AgentNetwork",
                "Status"
            ],
            "members": {
                "ModelType": {},
                "ModelName": {},
                "ModelArn": {},
                "ModelDescription": {},
                "WasImported": {
                    "type": "boolean"
                },
                "WasMigrated": {
                    "type": "boolean"
                },
                "CreatedInDataAccount": {
                    "type": "boolean"
                },
                "CreationTime": {
                    "type": "long"
                },
                "ModelFramework": {},
                "ModelArtifactS3Location": {},
                "AgentAlgorithm": {},
                "AgentNetwork": {},
                "Status": {},
                "CarArn": {},
                "CarConfiguration": {
                    "shape": "Su"
                },
                "Error": {
                    "type": "structure",
                    "members": {
                        "ErrorCode": {},
                        "Details": {}
                    }
                },
                "ModelPackagingComplete": {
                    "type": "boolean"
                },
                "ImportModelS3SrcLocation": {},
                "ModelSizeInGb": {
                    "type": "double"
                },
                "CreatedByAlias": {}
            }
        },
        "Su": {
            "type": "structure",
            "required": [
                "NeuralNetwork",
                "Sensors"
            ],
            "members": {
                "ActionSpace": {
                    "type": "structure",
                    "members": {
                        "MaximumSteeringAngle": {
                            "type": "double"
                        },
                        "SteeringGranularity": {
                            "type": "integer"
                        },
                        "MaximumSpeed": {
                            "type": "double"
                        },
                        "SpeedGranularity": {
                            "type": "integer"
                        },
                        "ContinuousSpeed": {
                            "type": "structure",
                            "required": [
                                "Low",
                                "High"
                            ],
                            "members": {
                                "Low": {
                                    "type": "double"
                                },
                                "High": {
                                    "type": "double"
                                }
                            }
                        },
                        "ContinuousSteeringAngle": {
                            "shape": "S12"
                        },
                        "ActionSpaceType": {}
                    }
                },
                "NeuralNetwork": {},
                "Sensors": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S12": {
            "type": "structure",
            "required": [
                "Low",
                "High"
            ],
            "members": {
                "Low": {
                    "type": "double"
                },
                "High": {
                    "type": "double"
                }
            }
        },
        "S1u": {
            "type": "structure",
            "required": [
                "ResourceConfig",
                "TrackConfig",
                "TerminationConditions"
            ],
            "members": {
                "RewardFunctionS3Source": {},
                "RewardFunction": {},
                "ModelMetadataS3Source": {},
                "ModelMetadata": {},
                "ResourceConfig": {
                    "type": "structure",
                    "required": [
                        "InstanceType",
                        "InstanceCount"
                    ],
                    "members": {
                        "InstanceType": {},
                        "InstanceCount": {
                            "type": "integer"
                        }
                    }
                },
                "TrackConfig": {
                    "type": "structure",
                    "required": [
                        "TrackArn"
                    ],
                    "members": {
                        "TrackArn": {},
                        "TrackFeatures": {
                            "shape": "S22"
                        }
                    }
                },
                "RaceType": {},
                "TerminationConditions": {
                    "type": "structure",
                    "required": [
                        "MaxTimeInMinutes"
                    ],
                    "members": {
                        "RewardScore": {
                            "type": "double"
                        },
                        "MaxTimeInMinutes": {
                            "type": "integer"
                        },
                        "MaxEpisodes": {
                            "type": "integer"
                        }
                    }
                },
                "Hyperparameters": {
                    "shape": "S28"
                },
                "PreprocessType": {},
                "PreprocessParameters": {
                    "shape": "S28"
                },
                "HeadToHeadConfig": {
                    "shape": "S2a"
                },
                "ObjectAvoidanceConfig": {
                    "shape": "S2l"
                }
            }
        },
        "S22": {
            "type": "structure",
            "required": [
                "Direction"
            ],
            "members": {
                "Direction": {}
            }
        },
        "S28": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2a": {
            "type": "structure",
            "required": [
                "HeadToHeadType"
            ],
            "members": {
                "HeadToHeadType": {},
                "PolicyModelArn": {},
                "PolicyModelName": {},
                "NumBotCars": {
                    "type": "integer"
                },
                "BotCarSpeed": {
                    "type": "double"
                },
                "EnableLaneChange": {
                    "type": "boolean"
                },
                "LowerLaneChangeTime": {
                    "type": "double"
                },
                "UpperLaneChangeTime": {
                    "type": "double"
                },
                "NumObstacles": {
                    "type": "integer"
                },
                "ObstaclePositions": {
                    "shape": "S2g"
                },
                "ObstacleType": {},
                "RandomizeLocation": {
                    "type": "boolean"
                }
            }
        },
        "S2g": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "LaneNumber",
                    "TrackPercentage"
                ],
                "members": {
                    "LaneNumber": {
                        "type": "integer"
                    },
                    "TrackPercentage": {
                        "type": "double"
                    }
                }
            }
        },
        "S2l": {
            "type": "structure",
            "required": [
                "NumObstacles",
                "ObstacleType",
                "RandomizeLocation"
            ],
            "members": {
                "NumObstacles": {
                    "type": "integer"
                },
                "ObstaclePositions": {
                    "shape": "S2g"
                },
                "ObstacleType": {},
                "RandomizeLocation": {
                    "type": "boolean"
                }
            }
        },
        "S2o": {
            "type": "structure",
            "required": [
                "LeaderboardArn"
            ],
            "members": {
                "LeaderboardArn": {},
                "AutoSubmissionStatus": {},
                "TermsAccepted": {
                    "type": "boolean"
                }
            }
        },
        "S2q": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Key",
                    "Value"
                ],
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S2u": {
            "type": "structure",
            "required": [
                "ActionSpaceType"
            ],
            "members": {
                "ActionSpaceType": {},
                "ContinuousActionSpace": {
                    "type": "structure",
                    "required": [
                        "Speed",
                        "SteeringAngle"
                    ],
                    "members": {
                        "Speed": {
                            "type": "structure",
                            "required": [
                                "Low",
                                "High"
                            ],
                            "members": {
                                "Low": {
                                    "type": "double"
                                },
                                "High": {
                                    "type": "double"
                                }
                            }
                        },
                        "SteeringAngle": {
                            "shape": "S12"
                        }
                    }
                },
                "DiscreteActionSpace": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Speed",
                            "SteeringAngle"
                        ],
                        "members": {
                            "Speed": {
                                "type": "double"
                            },
                            "SteeringAngle": {
                                "type": "double"
                            }
                        }
                    }
                }
            }
        },
        "S34": {
            "type": "structure",
            "required": [
                "Customization",
                "Configuration"
            ],
            "members": {
                "Arn": {},
                "Customization": {
                    "shape": "S35"
                },
                "Configuration": {
                    "shape": "Su"
                }
            }
        },
        "S35": {
            "type": "structure",
            "required": [
                "Name",
                "Color"
            ],
            "members": {
                "Name": {},
                "Color": {},
                "CarType": {},
                "Top": {
                    "shape": "S39"
                },
                "Sides": {
                    "shape": "S39"
                },
                "Back": {
                    "shape": "S39"
                }
            }
        },
        "S39": {
            "type": "structure",
            "members": {
                "Decal": {}
            }
        },
        "S3d": {
            "type": "structure",
            "required": [
                "Name",
                "Visibility",
                "LaunchTime",
                "CloseTime",
                "TrackArn",
                "LeagueType"
            ],
            "members": {
                "Name": {},
                "Description": {},
                "Visibility": {},
                "LaunchTime": {
                    "type": "long"
                },
                "CloseTime": {
                    "type": "long"
                },
                "TrackArn": {},
                "TrackFeatures": {
                    "shape": "S22"
                },
                "Division": {},
                "LeagueType": {},
                "Tags": {},
                "TermsConditionId": {}
            }
        },
        "S3k": {
            "type": "structure",
            "required": [
                "MinimumLaps",
                "RaceTypeConfig",
                "ResettingBehavior",
                "TerminationConditions",
                "TimingMethod"
            ],
            "members": {
                "MinimumLaps": {
                    "type": "integer"
                },
                "RaceTypeConfig": {
                    "type": "structure",
                    "required": [
                        "RaceType"
                    ],
                    "members": {
                        "RaceType": {},
                        "TimeTrial": {
                            "type": "structure",
                            "members": {}
                        },
                        "ObjectAvoidance": {
                            "shape": "S2l"
                        },
                        "HeadToHead": {
                            "shape": "S2a"
                        }
                    }
                },
                "ResettingBehavior": {
                    "shape": "S3n"
                },
                "TerminationConditions": {
                    "shape": "S3o"
                },
                "TimingMethod": {},
                "ParticipationConfig": {
                    "shape": "S3q"
                },
                "CarControlConfig": {
                    "shape": "S3v"
                },
                "Moderated": {
                    "type": "boolean"
                },
                "SubmissionsPerUser": {
                    "type": "integer"
                }
            }
        },
        "S3n": {
            "type": "structure",
            "members": {
                "IsContinuousLap": {
                    "type": "boolean"
                },
                "AllowReset": {
                    "type": "boolean"
                },
                "MaxResetTimes": {
                    "type": "integer"
                },
                "PenaltySeconds": {
                    "type": "integer"
                },
                "CutOffSeconds": {
                    "type": "integer"
                },
                "CollisionPenaltySeconds": {
                    "type": "double"
                },
                "OffTrackPenaltySeconds": {
                    "type": "double"
                }
            }
        },
        "S3o": {
            "type": "structure",
            "required": [
                "MaxLaps"
            ],
            "members": {
                "MaxLaps": {
                    "type": "integer"
                },
                "MaxTimeInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S3q": {
            "type": "structure",
            "required": [
                "EntryTypeConfig",
                "ViewType"
            ],
            "members": {
                "EntryTypeConfig": {
                    "type": "structure",
                    "required": [
                        "InvitationEntryType"
                    ],
                    "members": {
                        "InvitationEntryType": {},
                        "RacingDivisionEntryType": {}
                    }
                },
                "ViewType": {}
            }
        },
        "S3v": {
            "type": "structure",
            "required": [
                "CarSpeedControl"
            ],
            "members": {
                "CarSpeedControl": {
                    "type": "boolean"
                }
            }
        },
        "S3w": {
            "type": "structure",
            "members": {
                "Theme": {
                    "shape": "S3x"
                },
                "RacingDivisionEnabled": {
                    "type": "boolean"
                },
                "Playoff": {
                    "type": "structure",
                    "required": [
                        "PlayoffType"
                    ],
                    "members": {
                        "PlayoffType": {},
                        "LaunchTime": {
                            "type": "long"
                        },
                        "GrandPrix": {
                            "type": "structure",
                            "required": [
                                "RaceArn",
                                "ResultReleaseTime"
                            ],
                            "members": {
                                "RaceArn": {},
                                "ResultReleaseTime": {
                                    "type": "long"
                                }
                            }
                        },
                        "Tournament": {
                            "shape": "S42"
                        },
                        "Live": {
                            "type": "structure",
                            "required": [
                                "RaceArn"
                            ],
                            "members": {
                                "RaceArn": {}
                            }
                        }
                    }
                },
                "AttachedRewards": {
                    "shape": "S45"
                },
                "CountryStatsEnabled": {
                    "type": "boolean"
                }
            }
        },
        "S3x": {
            "type": "structure",
            "members": {
                "ThemeID": {}
            }
        },
        "S42": {
            "type": "structure",
            "required": [
                "Size",
                "ResultsReleaseTimes"
            ],
            "members": {
                "Size": {
                    "type": "integer"
                },
                "ResultsReleaseTimes": {
                    "type": "list",
                    "member": {
                        "type": "long"
                    }
                }
            }
        },
        "S45": {
            "type": "list",
            "member": {}
        },
        "S4r": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "RewardId": {},
                    "RewardName": {},
                    "RewardDescription": {},
                    "Type": {},
                    "Context": {
                        "type": "structure",
                        "members": {
                            "Leaderboard": {
                                "shape": "S4x"
                            },
                            "CountryCode": {}
                        }
                    },
                    "AwardedTime": {
                        "type": "long"
                    }
                }
            }
        },
        "S4x": {
            "type": "structure",
            "required": [
                "Arn",
                "Name",
                "Description",
                "LaunchTime",
                "CloseTime",
                "Status",
                "MinimumLaps",
                "ParticipantCount"
            ],
            "members": {
                "Arn": {},
                "Name": {},
                "Description": {},
                "LaunchTime": {
                    "type": "long"
                },
                "CloseTime": {
                    "type": "long"
                },
                "TrackArn": {},
                "TrackFeatures": {
                    "shape": "S22"
                },
                "Status": {},
                "MinimumLaps": {
                    "type": "integer"
                },
                "TotalLaps": {
                    "type": "integer"
                },
                "ParticipantCount": {
                    "type": "integer"
                },
                "HeadToHeadConfig": {
                    "shape": "S2a"
                },
                "ObjectAvoidanceConfig": {
                    "shape": "S2l"
                },
                "ResettingBehaviorConfig": {
                    "shape": "S3n"
                },
                "RaceType": {},
                "Visibility": {},
                "Tournament": {
                    "shape": "S42"
                },
                "TerminationConditions": {
                    "shape": "S3o"
                },
                "TimingMethod": {},
                "TermsConditionId": {},
                "TermsAccepted": {
                    "type": "boolean"
                },
                "WinnerAlias": {},
                "LeagueType": {},
                "PlayoffRaceTypeConfig": {
                    "type": "structure",
                    "members": {
                        "PlayoffRaceTypeID": {},
                        "PlayoffRaceArn": {},
                        "PlayoffReleaseTime": {
                            "type": "long"
                        },
                        "PlayoffResultReleaseTime": {
                            "type": "long"
                        }
                    }
                },
                "ThemeConfig": {
                    "shape": "S3x"
                },
                "NumOfTeamSubmissionsRequired": {
                    "type": "integer"
                },
                "WinningTeamName": {},
                "RacingDivisionEnabled": {
                    "type": "boolean"
                },
                "RacingDivision": {},
                "Tags": {},
                "AccessToken": {
                    "shape": "S2"
                },
                "ParticipationConfig": {
                    "shape": "S3q"
                },
                "CarControlConfig": {
                    "shape": "S3v"
                },
                "Moderated": {
                    "type": "boolean"
                },
                "ModerateConfig": {
                    "type": "structure",
                    "required": [
                        "RacersSubmissions"
                    ],
                    "members": {
                        "RacersSubmissions": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "UserId",
                                    "Alias",
                                    "SubmissionStatus"
                                ],
                                "members": {
                                    "UserId": {},
                                    "Alias": {},
                                    "ModelArn": {},
                                    "SubmissionStatus": {},
                                    "SubmissionTime": {
                                        "type": "long"
                                    },
                                    "EvaluationCompletedTime": {
                                        "type": "long"
                                    },
                                    "EvaluationStartTime": {
                                        "type": "long"
                                    },
                                    "UserIndex": {},
                                    "ClearedJob": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        },
                        "EntryMode": {}
                    }
                },
                "EventResourceConfig": {
                    "shape": "S55"
                },
                "LeaderboardAccessRoles": {
                    "shape": "S57"
                },
                "AttachedRewards": {
                    "shape": "S45"
                },
                "SubmissionsPerUser": {
                    "type": "integer"
                },
                "CountryStatsEnabled": {
                    "type": "boolean"
                }
            }
        },
        "S55": {
            "type": "structure",
            "required": [
                "ResourceId",
                "ResourceStatus"
            ],
            "members": {
                "ResourceId": {},
                "ResourceStatus": {},
                "ResourceCreationTime": {
                    "type": "long"
                },
                "ResourceFailoverTime": {
                    "type": "long"
                }
            }
        },
        "S57": {
            "type": "list",
            "member": {}
        },
        "S5a": {
            "type": "structure",
            "members": {
                "Accessories": {},
                "Clothing": {},
                "ClothingColor": {},
                "CountryCode": {},
                "Eyes": {},
                "Eyebrows": {},
                "FacialHair": {},
                "FacialHairColor": {},
                "HairColor": {},
                "HatColor": {},
                "Mouth": {},
                "SkinColor": {},
                "Top": {},
                "TshirtGraphic": {}
            }
        },
        "S5o": {
            "type": "structure",
            "required": [
                "JobArn",
                "ActivityJob"
            ],
            "members": {
                "JobArn": {},
                "Name": {},
                "ActivityJob": {
                    "shape": "S5p"
                },
                "Config": {
                    "type": "structure",
                    "required": [
                        "TerminationConditions"
                    ],
                    "members": {
                        "TerminationConditions": {
                            "shape": "S5x"
                        }
                    }
                },
                "EventResourceConfig": {
                    "shape": "S55"
                },
                "EventResourcesConfigs": {
                    "shape": "S5y"
                }
            }
        },
        "S5p": {
            "type": "structure",
            "required": [
                "CreationTime",
                "StartTime",
                "Status"
            ],
            "members": {
                "ModelArn": {},
                "CreationTime": {
                    "type": "long"
                },
                "FailureReason": {},
                "StartTime": {
                    "type": "long"
                },
                "EndTime": {
                    "type": "long"
                },
                "Status": {
                    "type": "structure",
                    "required": [
                        "JobStatus",
                        "TimeInMinutes",
                        "Units"
                    ],
                    "members": {
                        "JobStatus": {},
                        "Score": {
                            "type": "integer"
                        },
                        "TimeInMinutes": {
                            "type": "integer"
                        },
                        "Units": {
                            "type": "integer"
                        }
                    }
                },
                "MetricsS3Path": {},
                "MetricsPreSignedUrl": {},
                "Videos": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "KinesisVideoStreamArn": {},
                            "S3Location": {},
                            "KinesisVideoUrl": {},
                            "KinesisVideoUrlExpiry": {
                                "type": "long"
                            }
                        }
                    }
                },
                "LogDownloadComplete": {
                    "type": "boolean"
                },
                "VideoPreSignedUrl": {}
            }
        },
        "S5x": {
            "type": "structure",
            "required": [
                "MaxTimeInMinutes"
            ],
            "members": {
                "MaxTimeInMinutes": {
                    "type": "integer"
                }
            }
        },
        "S5y": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Type",
                    "Urls"
                ],
                "members": {
                    "Type": {},
                    "Metadata": {},
                    "Urls": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Protocol": {},
                                "Endpoint": {},
                                "Expiry": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "ResourceArn": {}
                }
            }
        },
        "S6d": {
            "type": "structure",
            "required": [
                "JobArn",
                "ActivityJob",
                "Config",
                "Metrics"
            ],
            "members": {
                "JobArn": {},
                "ActivityJob": {
                    "shape": "S5p"
                },
                "Config": {
                    "shape": "S6f"
                },
                "Metrics": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Trial": {
                                "type": "integer"
                            },
                            "ElapsedTimeInMilliseconds": {
                                "type": "integer"
                            },
                            "CompletionPercentage": {
                                "type": "integer"
                            },
                            "EpisodeStatus": {},
                            "ResetCount": {
                                "type": "integer"
                            },
                            "OffTrackCount": {
                                "type": "integer"
                            },
                            "CrashCount": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "RoboMakerJobArn": {},
                "LeaderboardArn": {}
            }
        },
        "S6f": {
            "type": "structure",
            "required": [
                "TrackArn",
                "TerminationConditions"
            ],
            "members": {
                "TrackArn": {},
                "TrackFeatures": {
                    "shape": "S22"
                },
                "TerminationConditions": {
                    "type": "structure",
                    "members": {
                        "MaxTimeInMinutes": {
                            "type": "integer"
                        },
                        "MaxLaps": {
                            "type": "integer"
                        }
                    }
                },
                "RaceType": {},
                "HeadToHeadConfig": {
                    "shape": "S2a"
                },
                "ObjectAvoidanceConfig": {
                    "shape": "S2l"
                },
                "ResettingBehaviorConfig": {
                    "shape": "S3n"
[...]
