{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "deepcomposer",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "DeepComposer - Model Management Service",
        "serviceId": "DeepComposer",
        "signatureVersion": "v4",
        "signingName": "deepcomposer",
        "uid": "deepcomposer-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateCoupon": {
            "http": {
                "requestUri": "/coupon",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "couponId"
                ],
                "members": {
                    "couponId": {},
                    "meta": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "CreateAudio": {
            "http": {
                "requestUri": "/audio",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "midi"
                ],
                "members": {
                    "midi": {
                        "type": "blob"
                    },
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "audio"
                ],
                "members": {
                    "audio": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "CreateComposition": {
            "http": {
                "requestUri": "/compositions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "inputMidi",
                    "modelId",
                    "name"
                ],
                "members": {
                    "description": {},
                    "inferenceHyperParameters": {
                        "type": "structure",
                        "required": [
                            "maxNotesAdded",
                            "maxPercentageOfInitialNotesRemoved",
                            "samplingIterations",
                            "temperature"
                        ],
                        "members": {
                            "maxNotesAdded": {
                                "type": "integer"
                            },
                            "maxPercentageOfInitialNotesRemoved": {
                                "type": "double"
                            },
                            "samplingIterations": {
                                "type": "integer"
                            },
                            "temperature": {
                                "type": "double"
                            }
                        }
                    },
                    "inputMidi": {
                        "type": "blob"
                    },
                    "inputMidiSource": {},
                    "modelId": {},
                    "modelType": {},
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "transformerInferenceHyperParameters": {
                        "type": "structure",
                        "required": [
                            "conditionalDuration",
                            "durationOfLongNotesToCut",
                            "generationDuration",
                            "numberOfEmptyTokensToIgnore",
                            "samplingTechnique",
                            "samplingThreshold",
                            "transformerTemperature"
                        ],
                        "members": {
                            "conditionalDuration": {
                                "type": "integer"
                            },
                            "durationOfLongNotesToCut": {
                                "type": "integer"
                            },
                            "generationDuration": {
                                "type": "integer"
                            },
                            "numberOfEmptyTokensToIgnore": {
                                "type": "integer"
                            },
                            "samplingTechnique": {},
                            "samplingThreshold": {
                                "type": "double"
                            },
                            "transformerTemperature": {
                                "type": "double"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "composition"
                ],
                "members": {
                    "composition": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "CreateManufacturerCoupon": {
            "http": {
                "requestUri": "/manufacturer-coupon",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id",
                    "valid"
                ],
                "members": {
                    "id": {},
                    "valid": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "CreateModel": {
            "http": {
                "requestUri": "/models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "trainingConfiguration"
                ],
                "members": {
                    "description": {},
                    "name": {},
                    "tags": {
                        "shape": "Sl"
                    },
                    "trainingConfiguration": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "model"
                ],
                "members": {
                    "model": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "DeleteAccount": {
            "http": {
                "method": "DELETE",
                "requestUri": "/account",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "DeleteComposition": {
            "http": {
                "method": "DELETE",
                "requestUri": "/compositions/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "DeleteModel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/models/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "DisassociateCoupon": {
            "http": {
                "method": "DELETE",
                "requestUri": "/coupon/{id}",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "GetAccount": {
            "http": {
                "method": "GET",
                "requestUri": "/account",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "account"
                ],
                "members": {
                    "account": {
                        "type": "structure",
                        "required": [
                            "isFreeTrial"
                        ],
                        "members": {
                            "freeTrialResetTime": {
                                "type": "timestamp"
                            },
                            "freeTrialTrainingJobCount": {
                                "type": "integer"
                            },
                            "isFreeTrial": {
                                "type": "boolean"
                            },
                            "keyboards": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "GetComposition": {
            "http": {
                "method": "GET",
                "requestUri": "/compositions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "composition"
                ],
                "members": {
                    "composition": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "GetModel": {
            "http": {
                "method": "GET",
                "requestUri": "/models/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "withDownloadUrl": {
                        "location": "querystring",
                        "locationName": "withDownloadUrl",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "model"
                ],
                "members": {
                    "model": {
                        "shape": "S1d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "GetModelValidationOutput": {
            "http": {
                "method": "GET",
                "requestUri": "/model-validation-outputs/{modelId}/epochs/{epoch}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "epoch",
                    "modelId"
                ],
                "members": {
                    "epoch": {
                        "location": "uri",
                        "locationName": "epoch"
                    },
                    "modelId": {
                        "location": "uri",
                        "locationName": "modelId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "epoch",
                    "modelId",
                    "output"
                ],
                "members": {
                    "epoch": {},
                    "modelId": {},
                    "output": {
                        "type": "blob"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "GetSampleModel": {
            "http": {
                "method": "GET",
                "requestUri": "/sample-models/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "sampleModel"
                ],
                "members": {
                    "sampleModel": {
                        "shape": "S22"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ListChartbusterChallenges": {
            "http": {
                "method": "GET",
                "requestUri": "/chartbusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "chartbusterChallenges"
                ],
                "members": {
                    "chartbusterChallenges": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "name"
                            ],
                            "members": {
                                "id": {},
                                "name": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ListCompositions": {
            "http": {
                "method": "GET",
                "requestUri": "/compositions",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "compositions"
                ],
                "members": {
                    "compositions": {
                        "type": "list",
                        "member": {
                            "shape": "Sv"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ListModels": {
            "http": {
                "method": "GET",
                "requestUri": "/models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "models"
                ],
                "members": {
                    "models": {
                        "type": "list",
                        "member": {
                            "shape": "S1d"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ListSampleModels": {
            "http": {
                "method": "GET",
                "requestUri": "/sample-models",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "sampleModelList"
                ],
                "members": {
                    "sampleModelList": {
                        "type": "list",
                        "member": {
                            "shape": "S22"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ListTrainingTopics": {
            "http": {
                "method": "GET",
                "requestUri": "/training-topics",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "networkArchitectureType": {
                        "location": "querystring",
                        "locationName": "networkArchitectureType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "topics"
                ],
                "members": {
                    "topics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "maxEpoch",
                                "minEpoch",
                                "name",
                                "networkArchitectureType",
                                "type"
                            ],
                            "members": {
                                "id": {},
                                "maxEpoch": {
                                    "type": "integer"
                                },
                                "minEpoch": {
                                    "type": "integer"
                                },
                                "name": {},
                                "networkArchitectureType": {},
                                "tracks": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "required": [
                                            "artist",
                                            "title"
                                        ],
                                        "members": {
                                            "artist": {},
                                            "midi": {
                                                "type": "blob"
                                            },
                                            "title": {}
                                        }
                                    }
                                },
                                "type": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "ProcessAesResourceEvent": {
            "http": {
                "requestUri": "/aes",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "eventId",
                    "publishTimestamp",
                    "reasonCode"
                ],
                "members": {
                    "eventId": {},
                    "publishTimestamp": {
                        "type": "timestamp"
                    },
                    "reasonCode": {},
                    "topicName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "accountStatus",
                    "responseCode"
                ],
                "members": {
                    "accountStatus": {},
                    "responseCode": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "SubmitChartbuster": {
            "http": {
                "requestUri": "/chartbusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "compositionId",
                    "soundCloudTrackId"
                ],
                "members": {
                    "chartbusterChallengeId": {},
                    "chartbusterCustomerUrl": {},
                    "compositionId": {},
                    "postProcessed": {
                        "type": "boolean"
                    },
                    "soundCloudTrackId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "soundCloudPlaylistUrl": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sl"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIZBQJYEPHXHNUPHH3NUAT6DRAH6VPJBWAEUQYBSRNEOTE4K3GMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOPZ5RTW2DSFR7N3NLI5TKNEWM6DUANT46GXZ5GJG2JRIBX457PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2ZPZ7SQ75YW5NVYNBA6MYKMGMVY4XMSZSFX7BDI4R4WGQTBEIPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUCMLXODRI3O3BZZEPOTOSQ3SFISRUSXFWJJPFCFXZ6VMGJVS3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VB4N5FCVS7WLCW4BMXOYA5QHG44ZP6FS4PW67VAEDS5S6KVGG7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7PRXID7VER5FAPYJRJGEAUGOA7FKOWNXSMRFVVGPGBG46Q6C2ROQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PATVJ7MKTRTS6B2BGGWUFPWDTJVZKCZE434YMFEIDO3EB5ZQPOJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SQ3ZVMGPNODZYJ5VVIKDE3QFG7VHTOE7WRIBW4BRNO2CMA27CXFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPIS3NKTJBHR7BCZ67JWGRXF72NASVMAPGC5TIZFJLVNM7ZZ75HQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UU42U5WPUO363RXLGHC7BPU4M43MIPQUB3ZJPFMCMO3GFFZPMMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNVT2EZRTJWTR3HAD2GVWGOUOIKB5BLGSDQGEYQTKAXHSGJRCKKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQLBYZ4KSZZUANCFDEWKDMZ4WNOELLPGIUGI4GFKY772NACZEHVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42HWWXDGNMPCESR53B27BRHACYTNXATGNBKR5KA3YPQIH4BNQORQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GCB657MPXD35EWGVTMHO77WX6252EVT6JTMOLKDGSFMGHVM7BOVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NWELCPNAG4JJVPMT4RULLME5HK7TESJ3LFNQCYR77TTPRC7ONNEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRA3V2UF6WN7KN2SEHXPNPBMXD6ESNJTUHT4QVUX23CZXZYGODCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMIZMA6ZNUCV2IZGTPL7KVBKXZELFVM4KADZABCANSLPK7J5DOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K2MV4DO7DY7OXIGBRTOWGHS6CGYINN5WGACTVJA2ENIQ2JN3GTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5QZBLBPSCZBEPJ6KGKHRJ5GSUQS4COVIKTPLNJFYAHMO6H3SQD7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E53GLQFHCMKARHZ4FPVC6PJ3RW6REDZUQ757CNVB73NJD3USMQ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2GIOB65XCLF2AVM2HREKFYQZ5JVQ3PPT3HTCFPQ65CG3HCQU26Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2IFBZXULWEE4HNMPQQBHJQFXFQK2PL6NDECGBAAYKR5BY62TH52A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHW6IHP6MAKSYIDJGPNLALWBWBJQXUGCGJAMZ32P2GD6BYSF4MQQ/vendors.js"
            ]
        },
        "UpdateComposition": {
            "http": {
                "method": "PATCH",
                "requestUri": "/compositions/{id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "id"
                ],
                "members": {
                    "description": {},
                    "id": {
                        "location": "uri",
                        "locationName": "id"
                    },
                    "name": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "composition"
                ],
                "members": {
                    "composition": {
                        "shape": "Sv"
                    }
                }
            },
            "download_location": [
[...]
