{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-12-01",
        "endpointPrefix": "devops-guru",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon DevOps Guru",
        "serviceId": "DevOps Guru",
        "signatureVersion": "v4",
        "signingName": "devops-guru",
        "uid": "devops-guru-2020-12-01",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "AddNotificationChannel": {
            "http": {
                "method": "PUT",
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Config"
                ],
                "members": {
                    "Config": {
                        "shape": "S2"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteInsight": {
            "http": {
                "method": "DELETE",
                "requestUri": "/insights/{Id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "DescribeAccountHealth": {
            "http": {
                "method": "GET",
                "requestUri": "/accounts/health",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "OpenReactiveInsights",
                    "OpenProactiveInsights",
                    "MetricsAnalyzed",
                    "ResourceHours"
                ],
                "members": {
                    "OpenReactiveInsights": {
                        "type": "integer"
                    },
                    "OpenProactiveInsights": {
                        "type": "integer"
                    },
                    "MetricsAnalyzed": {
                        "type": "integer"
                    },
                    "ResourceHours": {
                        "type": "long"
                    },
                    "AnalyzedResourceCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeAccountOverview": {
            "http": {
                "requestUri": "/accounts/overview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FromTime"
                ],
                "members": {
                    "FromTime": {
                        "type": "timestamp"
                    },
                    "ToTime": {
                        "type": "timestamp"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ReactiveInsights",
                    "ProactiveInsights",
                    "MeanTimeToRecoverInMilliseconds"
                ],
                "members": {
                    "ReactiveInsights": {
                        "type": "integer"
                    },
                    "ProactiveInsights": {
                        "type": "integer"
                    },
                    "MeanTimeToRecoverInMilliseconds": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeAnomaly": {
            "http": {
                "method": "GET",
                "requestUri": "/anomalies/{Id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "AccountId": {
                        "location": "querystring",
                        "locationName": "AccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveAnomaly": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Severity": {},
                            "Status": {},
                            "UpdateTime": {
                                "type": "timestamp"
                            },
                            "AnomalyTimeRange": {
                                "shape": "Sz"
                            },
                            "AnomalyReportedTimeRange": {
                                "shape": "S10"
                            },
                            "PredictionTimeRange": {
                                "shape": "S11"
                            },
                            "SourceDetails": {
                                "shape": "S12"
                            },
                            "AssociatedInsightId": {},
                            "ResourceCollection": {
                                "shape": "S2o"
                            },
                            "Limit": {
                                "type": "double"
                            },
                            "SourceMetadata": {
                                "shape": "S2y"
                            },
                            "AnomalyResources": {
                                "shape": "S32"
                            },
                            "Description": {}
                        }
                    },
                    "ReactiveAnomaly": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Severity": {},
                            "Status": {},
                            "AnomalyTimeRange": {
                                "shape": "Sz"
                            },
                            "AnomalyReportedTimeRange": {
                                "shape": "S10"
                            },
                            "SourceDetails": {
                                "shape": "S12"
                            },
                            "AssociatedInsightId": {},
                            "ResourceCollection": {
                                "shape": "S2o"
                            },
                            "Type": {},
                            "Name": {},
                            "Description": {},
                            "CausalAnomalyId": {},
                            "SourceMetadata": {
                                "shape": "S2y"
                            },
                            "AnomalyResources": {
                                "shape": "S32"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeEventSourcesConfig": {
            "http": {
                "requestUri": "/event-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSources": {
                        "shape": "S3a"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "DescribeFeedback": {
            "http": {
                "requestUri": "/feedback",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InsightId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "InsightFeedback": {
                        "shape": "S3g"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeInsight": {
            "http": {
                "method": "GET",
                "requestUri": "/insights/{Id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "AccountId": {
                        "location": "querystring",
                        "locationName": "AccountId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveInsight": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Severity": {},
                            "Status": {},
                            "InsightTimeRange": {
                                "shape": "S3n"
                            },
                            "PredictionTimeRange": {
                                "shape": "S11"
                            },
                            "ResourceCollection": {
                                "shape": "S2o"
                            },
                            "SsmOpsItemId": {},
                            "Description": {}
                        }
                    },
                    "ReactiveInsight": {
                        "type": "structure",
                        "members": {
                            "Id": {},
                            "Name": {},
                            "Severity": {},
                            "Status": {},
                            "InsightTimeRange": {
                                "shape": "S3n"
                            },
                            "ResourceCollection": {
                                "shape": "S2o"
                            },
                            "SsmOpsItemId": {},
                            "Description": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeOrganizationHealth": {
            "http": {
                "requestUri": "/organization/health",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "AccountIds": {
                        "shape": "S3s"
                    },
                    "OrganizationalUnitIds": {
                        "shape": "S3t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "OpenReactiveInsights",
                    "OpenProactiveInsights",
                    "MetricsAnalyzed",
                    "ResourceHours"
                ],
                "members": {
                    "OpenReactiveInsights": {
                        "type": "integer"
                    },
                    "OpenProactiveInsights": {
                        "type": "integer"
                    },
                    "MetricsAnalyzed": {
                        "type": "integer"
                    },
                    "ResourceHours": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "DescribeOrganizationOverview": {
            "http": {
                "requestUri": "/organization/overview",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "FromTime"
                ],
                "members": {
                    "FromTime": {
                        "type": "timestamp"
                    },
                    "ToTime": {
                        "type": "timestamp"
                    },
                    "AccountIds": {
                        "shape": "S3s"
                    },
                    "OrganizationalUnitIds": {
                        "shape": "S3t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ReactiveInsights",
                    "ProactiveInsights"
                ],
                "members": {
                    "ReactiveInsights": {
                        "type": "integer"
                    },
                    "ProactiveInsights": {
                        "type": "integer"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "DescribeOrganizationResourceCollectionHealth": {
            "http": {
                "requestUri": "/organization/health/resource-collection",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "OrganizationResourceCollectionType"
                ],
                "members": {
                    "OrganizationResourceCollectionType": {},
                    "AccountIds": {
                        "shape": "S3s"
                    },
                    "OrganizationalUnitIds": {
                        "shape": "S3t"
                    },
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFormation": {
                        "shape": "S43"
                    },
                    "Service": {
                        "shape": "S46"
                    },
                    "Account": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AccountId": {},
                                "Insight": {
                                    "type": "structure",
                                    "members": {
                                        "OpenProactiveInsights": {
                                            "type": "integer"
                                        },
                                        "OpenReactiveInsights": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {},
                    "Tags": {
                        "shape": "S4d"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "DescribeResourceCollectionHealth": {
            "http": {
                "method": "GET",
                "requestUri": "/accounts/health/resource-collection/{ResourceCollectionType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceCollectionType"
                ],
                "members": {
                    "ResourceCollectionType": {
                        "location": "uri",
                        "locationName": "ResourceCollectionType"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CloudFormation": {
                        "shape": "S43"
                    },
                    "Service": {
                        "shape": "S46"
                    },
                    "NextToken": {},
                    "Tags": {
                        "shape": "S4d"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeServiceIntegration": {
            "http": {
                "method": "GET",
                "requestUri": "/service-integrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceIntegration": {
                        "type": "structure",
                        "members": {
                            "OpsCenter": {
                                "type": "structure",
                                "members": {
                                    "OptInStatus": {}
                                }
                            },
                            "LogsAnomalyDetection": {
                                "type": "structure",
                                "members": {
                                    "OptInStatus": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetCostEstimation": {
            "http": {
                "method": "GET",
                "requestUri": "/cost-estimation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceCollection": {
                        "shape": "S4q"
                    },
                    "Status": {},
                    "Costs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "State": {},
                                "Count": {
                                    "type": "integer"
                                },
                                "UnitCost": {
                                    "type": "double"
                                },
                                "Cost": {
                                    "type": "double"
                                }
                            }
                        }
                    },
                    "TimeRange": {
                        "type": "structure",
                        "members": {
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "EndTime": {
                                "type": "timestamp"
                            }
                        }
                    },
                    "TotalCost": {
                        "type": "double"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetEventSourceCoverage": {
            "http": {
                "requestUri": "/event-source-coverage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "EventSourceFilter"
                ],
                "members": {
                    "EventSourceFilter": {
                        "type": "structure",
                        "members": {
                            "AmazonCloudWatch": {
                                "type": "structure",
                                "members": {
                                    "ResourceType": {}
                                }
                            }
                        }
                    },
                    "EventSourceResourceCollection": {
                        "shape": "S57"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Coverage": {
                        "type": "structure",
                        "members": {
                            "AmazonCloudWatch": {
                                "type": "structure",
                                "members": {
                                    "MetricAlarms": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "required": [
                                                "Name",
                                                "State"
                                            ],
                                            "members": {
                                                "Name": {},
                                                "State": {},
                                                "StateReason": {},
                                                "ResourceCollection": {
                                                    "shape": "S57"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "GetResourceCollection": {
            "http": {
                "method": "GET",
                "requestUri": "/resource-collections/{ResourceCollectionType}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceCollectionType"
                ],
                "members": {
                    "ResourceCollectionType": {
                        "location": "uri",
                        "locationName": "ResourceCollectionType"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceCollection": {
                        "type": "structure",
                        "members": {
                            "CloudFormation": {
                                "type": "structure",
                                "members": {
                                    "StackNames": {
                                        "shape": "S2q"
                                    }
                                }
                            },
                            "Tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "AppBoundaryKey",
                                        "TagValues"
                                    ],
                                    "members": {
                                        "AppBoundaryKey": {},
                                        "TagValues": {
                                            "shape": "S2v"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListAnomaliesForInsight": {
            "http": {
                "requestUri": "/anomalies/insight/{InsightId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InsightId"
                ],
                "members": {
                    "InsightId": {
                        "location": "uri",
                        "locationName": "InsightId"
                    },
                    "StartTimeRange": {
                        "shape": "S5s"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "AccountId": {},
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "ServiceCollection": {
                                "shape": "S5v"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveAnomalies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Severity": {},
                                "Status": {},
                                "UpdateTime": {
                                    "type": "timestamp"
                                },
                                "AnomalyTimeRange": {
                                    "shape": "Sz"
                                },
                                "AnomalyReportedTimeRange": {
                                    "shape": "S10"
                                },
                                "PredictionTimeRange": {
                                    "shape": "S11"
                                },
                                "SourceDetails": {
                                    "shape": "S12"
                                },
                                "AssociatedInsightId": {},
                                "ResourceCollection": {
                                    "shape": "S2o"
                                },
                                "Limit": {
                                    "type": "double"
                                },
                                "SourceMetadata": {
                                    "shape": "S2y"
                                },
                                "AnomalyResources": {
                                    "shape": "S32"
                                },
                                "Description": {}
                            }
                        }
                    },
                    "ReactiveAnomalies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Severity": {},
                                "Status": {},
                                "AnomalyTimeRange": {
                                    "shape": "Sz"
                                },
                                "AnomalyReportedTimeRange": {
                                    "shape": "S10"
                                },
                                "SourceDetails": {
                                    "shape": "S12"
                                },
                                "AssociatedInsightId": {},
                                "ResourceCollection": {
                                    "shape": "S2o"
                                },
                                "Type": {},
                                "Name": {},
                                "Description": {},
                                "CausalAnomalyId": {},
                                "SourceMetadata": {
                                    "shape": "S2y"
                                },
                                "AnomalyResources": {
                                    "shape": "S32"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListAnomalousLogGroups": {
            "http": {
                "requestUri": "/list-log-anomalies",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InsightId"
                ],
                "members": {
                    "InsightId": {},
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "InsightId",
                    "AnomalousLogGroups"
                ],
                "members": {
                    "InsightId": {},
                    "AnomalousLogGroups": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LogGroupName": {},
                                "ImpactStartTime": {
                                    "type": "timestamp"
                                },
                                "ImpactEndTime": {
                                    "type": "timestamp"
                                },
                                "NumberOfLogLinesScanned": {
                                    "type": "integer"
                                },
                                "LogAnomalyShowcases": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LogAnomalyClasses": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "LogStreamName": {},
                                                        "LogAnomalyType": {},
                                                        "LogAnomalyToken": {},
                                                        "LogEventId": {},
                                                        "Explanation": {},
                                                        "NumberOfLogLinesOccurrences": {
                                                            "type": "integer"
                                                        },
                                                        "LogEventTimestamp": {
                                                            "type": "timestamp"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "ListEvents": {
            "http": {
                "requestUri": "/events",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Filters"
                ],
                "members": {
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "InsightId": {},
                            "EventTimeRange": {
                                "type": "structure",
                                "required": [
                                    "FromTime",
                                    "ToTime"
                                ],
                                "members": {
                                    "FromTime": {
                                        "type": "timestamp"
                                    },
                                    "ToTime": {
                                        "type": "timestamp"
                                    }
                                }
                            },
                            "EventClass": {},
                            "EventSource": {},
                            "DataSource": {},
                            "ResourceCollection": {
                                "shape": "S2o"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "Events"
                ],
                "members": {
                    "Events": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceCollection": {
                                    "shape": "S2o"
                                },
                                "Id": {},
                                "Time": {
                                    "type": "timestamp"
                                },
                                "EventSource": {},
                                "Name": {},
                                "DataSource": {},
                                "EventClass": {},
                                "Resources": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Type": {},
                                            "Name": {},
                                            "Arn": {}
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListInsights": {
            "http": {
                "requestUri": "/insights",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "StatusFilter"
                ],
                "members": {
                    "StatusFilter": {
                        "shape": "S71"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveInsights": {
                        "shape": "S79"
                    },
                    "ReactiveInsights": {
                        "shape": "S7d"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListMonitoredResources": {
            "http": {
                "requestUri": "/monitoredResources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "structure",
                        "required": [
                            "ResourcePermission",
                            "ResourceTypeFilters"
                        ],
                        "members": {
                            "ResourcePermission": {},
                            "ResourceTypeFilters": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "MonitoredResourceIdentifiers"
                ],
                "members": {
                    "MonitoredResourceIdentifiers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "MonitoredResourceName": {},
                                "Type": {},
                                "ResourcePermission": {},
                                "LastUpdated": {
                                    "type": "timestamp"
                                },
                                "ResourceCollection": {
                                    "shape": "S2o"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "ListNotificationChannels": {
            "http": {
                "requestUri": "/channels",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Channels": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Config": {
                                    "shape": "S2"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListOrganizationInsights": {
            "http": {
                "requestUri": "/organization/insights",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "StatusFilter"
                ],
                "members": {
                    "StatusFilter": {
                        "shape": "S71"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "OrganizationalUnitIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveInsights": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "AccountId": {},
                                "OrganizationalUnitId": {},
                                "Name": {},
                                "Severity": {},
                                "Status": {},
                                "InsightTimeRange": {
                                    "shape": "S3n"
                                },
                                "PredictionTimeRange": {
                                    "shape": "S11"
                                },
                                "ResourceCollection": {
                                    "shape": "S2o"
                                },
                                "ServiceCollection": {
                                    "shape": "S5v"
                                }
                            }
                        }
                    },
                    "ReactiveInsights": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "AccountId": {},
                                "OrganizationalUnitId": {},
                                "Name": {},
                                "Severity": {},
                                "Status": {},
                                "InsightTimeRange": {
                                    "shape": "S3n"
                                },
                                "ResourceCollection": {
                                    "shape": "S2o"
                                },
                                "ServiceCollection": {
                                    "shape": "S5v"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "ListRecommendations": {
            "http": {
                "requestUri": "/recommendations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "InsightId"
                ],
                "members": {
                    "InsightId": {},
                    "NextToken": {},
                    "Locale": {},
                    "AccountId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Recommendations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Description": {},
                                "Link": {},
                                "Name": {},
                                "Reason": {},
                                "RelatedEvents": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Name": {},
                                            "Resources": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Name": {},
                                                        "Type": {}
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "RelatedAnomalies": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "Resources": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Name": {},
                                                        "Type": {}
                                                    }
                                                }
                                            },
                                            "SourceDetails": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "CloudWatchMetrics": {
                                                            "type": "list",
                                                            "member": {
                                                                "type": "structure",
                                                                "members": {
                                                                    "MetricName": {},
                                                                    "Namespace": {}
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "AnomalyId": {}
                                        }
                                    }
                                },
                                "Category": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "PutFeedback": {
            "http": {
                "method": "PUT",
                "requestUri": "/feedback",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "InsightFeedback": {
                        "shape": "S3g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "RemoveNotificationChannel": {
            "http": {
                "method": "DELETE",
                "requestUri": "/channels/{Id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "SearchInsights": {
            "http": {
                "requestUri": "/insights/search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "StartTimeRange",
                    "Type"
                ],
                "members": {
                    "StartTimeRange": {
                        "shape": "S5s"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Severities": {
                                "shape": "S6"
                            },
                            "Statuses": {
                                "shape": "S92"
                            },
                            "ResourceCollection": {
                                "shape": "S2o"
                            },
                            "ServiceCollection": {
                                "shape": "S5v"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveInsights": {
                        "shape": "S79"
                    },
                    "ReactiveInsights": {
                        "shape": "S7d"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "SearchOrganizationInsights": {
            "http": {
                "requestUri": "/organization/insights/search",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "AccountIds",
                    "StartTimeRange",
                    "Type"
                ],
                "members": {
                    "AccountIds": {
                        "type": "list",
                        "member": {}
                    },
                    "StartTimeRange": {
                        "shape": "S5s"
                    },
                    "Filters": {
                        "type": "structure",
                        "members": {
                            "Severities": {
                                "shape": "S6"
                            },
                            "Statuses": {
                                "shape": "S92"
                            },
                            "ResourceCollection": {
                                "shape": "S2o"
                            },
                            "ServiceCollection": {
                                "shape": "S5v"
                            }
                        }
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {},
                    "Type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ProactiveInsights": {
                        "shape": "S79"
                    },
                    "ReactiveInsights": {
                        "shape": "S7d"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "StartCostEstimation": {
            "http": {
                "method": "PUT",
                "requestUri": "/cost-estimation",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceCollection"
                ],
                "members": {
                    "ResourceCollection": {
                        "shape": "S4q"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateEventSourceCoverage": {
            "http": {
                "method": "PUT",
                "requestUri": "/event-source-coverage",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "EventSourceResourceCollection",
                    "Coverage"
                ],
                "members": {
                    "Action": {},
                    "EventSourceResourceCollection": {
                        "shape": "S57"
                    },
                    "Coverage": {
                        "type": "structure",
                        "members": {
                            "AmazonCloudWatch": {
                                "type": "structure",
                                "members": {
                                    "MetricAlarmNames": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "FailedResources": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "ResourceName": {},
                                "FailureReason": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "UpdateEventSourcesConfig": {
            "http": {
                "method": "PUT",
                "requestUri": "/event-sources",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "EventSources": {
                        "shape": "S3a"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        },
        "UpdateResourceCollection": {
            "http": {
                "method": "PUT",
                "requestUri": "/resource-collections",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Action",
                    "ResourceCollection"
                ],
                "members": {
                    "Action": {},
                    "ResourceCollection": {
                        "type": "structure",
                        "members": {
                            "CloudFormation": {
                                "type": "structure",
                                "members": {
                                    "StackNames": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "Tags": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "AppBoundaryKey",
                                        "TagValues"
                                    ],
                                    "members": {
                                        "AppBoundaryKey": {},
                                        "TagValues": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateServiceIntegration": {
            "http": {
                "method": "PUT",
                "requestUri": "/service-integrations",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ServiceIntegration"
                ],
                "members": {
                    "ServiceIntegration": {
                        "type": "structure",
                        "members": {
                            "OpsCenter": {
                                "type": "structure",
                                "members": {
                                    "OptInStatus": {}
                                }
                            },
                            "LogsAnomalyDetection": {
                                "type": "structure",
                                "members": {
                                    "OptInStatus": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateInsight": {
            "http": {
                "method": "PUT",
                "requestUri": "/insights/{Id}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "Id"
                ],
                "members": {
                    "Id": {
                        "location": "uri",
                        "locationName": "Id"
                    },
                    "Severity": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY2ASRPDJRZTPO2A2F4EM7FSSXVBDS2MQ3WNMKH7XW3EVMSXZBDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VZLIFBF7ZMMN3P2JYDU3QEE26KBVG5NQEB4M2MQODVKKYLGRAEWA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S2": {
            "type": "structure",
            "required": [
                "Sns"
            ],
            "members": {
                "Sns": {
                    "type": "structure",
                    "members": {
                        "TopicArn": {}
                    }
                },
                "Filters": {
                    "type": "structure",
                    "members": {
                        "Severities": {
                            "shape": "S6"
                        },
                        "MessageTypes": {
                            "type": "list",
                            "member": {}
                        }
                    }
                }
            }
        },
        "S6": {
            "type": "list",
            "member": {}
        },
        "Sz": {
            "type": "structure",
            "required": [
                "StartTime"
            ],
            "members": {
                "StartTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                }
            }
        },
        "S10": {
            "type": "structure",
            "required": [
                "OpenTime"
            ],
            "members": {
                "OpenTime": {
                    "type": "timestamp"
                },
                "CloseTime": {
                    "type": "timestamp"
                }
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "StartTime"
            ],
            "members": {
                "StartTime": {
                    "type": "timestamp"
                },
                "EndTime": {
                    "type": "timestamp"
                }
            }
        },
        "S12": {
            "type": "structure",
            "members": {
                "CloudWatchMetrics": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "MetricName": {},
                            "Namespace": {},
                            "Dimensions": {
                                "shape": "S17"
                            },
                            "Stat": {},
                            "Unit": {},
                            "Period": {
                                "type": "integer"
                            },
                            "Condition": {
                                "shape": "S1e"
                            },
                            "MetricDataSummary": {
                                "type": "structure",
                                "members": {
                                    "TimestampMetricValuePairList": {
                                        "type": "list",
                                        "member": {
                                            "type": "structure",
                                            "members": {
                                                "Timestamp": {
                                                    "type": "timestamp"
                                                },
                                                "MetricValue": {
                                                    "type": "double"
                                                }
                                            }
                                        }
                                    },
                                    "StatusCode": {}
                                }
                            }
                        }
                    }
                },
                "CloudWatchMetricExpressions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "MainExpression": {},
                            "Label": {},
                            "Period": {
                                "type": "integer"
                            },
                            "SupportingMetrics": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "MetricName": {},
                                        "Namespace": {},
                                        "Dimensions": {
                                            "shape": "S17"
                                        },
                                        "Stat": {},
                                        "Unit": {}
                                    }
                                }
                            },
                            "SupportingExpressions": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Id": {},
                                        "Expression": {}
                                    }
                                }
                            },
                            "Condition": {
                                "shape": "S1e"
                            }
                        }
                    }
                },
                "PerformanceInsightsMetrics": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "MetricDisplayName": {},
                            "Unit": {},
                            "MetricQuery": {
                                "shape": "S24"
                            },
                            "ReferenceData": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "ComparisonValues": {
                                            "type": "structure",
                                            "members": {
                                                "ReferenceScalar": {
                                                    "type": "structure",
                                                    "members": {
                                                        "Value": {
                                                            "type": "double"
                                                        }
                                                    }
                                                },
                                                "ReferenceMetric": {
                                                    "type": "structure",
                                                    "members": {
                                                        "MetricQuery": {
                                                            "shape": "S24"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
[...]
