{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2023-05-31",
        "endpointPrefix": "ds-data",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "AWS Directory Service Data",
        "serviceId": "DirectoryServiceData",
        "signatureVersion": "v4",
        "signingName": "ds-data",
        "uid": "directoryservicedata-2023-05-31",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/4L33XUUKVQ44TCWYYXZ6MSYIP3SWLFCT62SYS3K2OBQJSNFHLODQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
        ]
    },
    "operations": {
        "AddGroupMember": {
            "http": {
                "requestUri": "/GroupMemberships/AddGroupMember",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "GroupName",
                    "MemberName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "GroupName": {},
                    "MemberName": {},
                    "MemberRealm": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "CreateGroup": {
            "http": {
                "requestUri": "/Groups/CreateGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "GroupType": {},
                    "GroupScope": {},
                    "OtherAttributes": {
                        "shape": "Sb"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "SAMAccountName": {},
                    "SID": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "CreateUser": {
            "http": {
                "requestUri": "/Users/CreateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "EmailAddress": {
                        "shape": "Sm"
                    },
                    "GivenName": {
                        "shape": "Sn"
                    },
                    "Surname": {
                        "shape": "So"
                    },
                    "OtherAttributes": {
                        "shape": "Sb"
                    },
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "SID": {},
                    "SAMAccountName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "DeleteGroup": {
            "http": {
                "requestUri": "/Groups/DeleteGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "DeleteUser": {
            "http": {
                "requestUri": "/Users/DeleteUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "DescribeGroup": {
            "http": {
                "requestUri": "/Groups/DescribeGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "Realm": {},
                    "SAMAccountName": {},
                    "OtherAttributes": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "SID": {},
                    "SAMAccountName": {},
                    "DistinguishedName": {
                        "shape": "Sx"
                    },
                    "GroupType": {},
                    "GroupScope": {},
                    "OtherAttributes": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "DescribeUser": {
            "http": {
                "requestUri": "/Users/DescribeUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "OtherAttributes": {
                        "shape": "Sv"
                    },
                    "Realm": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "SID": {},
                    "SAMAccountName": {},
                    "DistinguishedName": {
                        "shape": "Sx"
                    },
                    "UserPrincipalName": {
                        "shape": "S10"
                    },
                    "EmailAddress": {
                        "shape": "Sm"
                    },
                    "GivenName": {
                        "shape": "Sn"
                    },
                    "Surname": {
                        "shape": "So"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "OtherAttributes": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "DisableUser": {
            "http": {
                "requestUri": "/Users/DisableUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "ListGroupMembers": {
            "http": {
                "requestUri": "/GroupMemberships/ListGroupMembers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "Realm": {},
                    "MemberRealm": {},
                    "SAMAccountName": {},
                    "NextToken": {
                        "shape": "S15"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "MemberRealm": {},
                    "Members": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "SID",
                                "SAMAccountName",
                                "MemberType"
                            ],
                            "members": {
                                "SID": {},
                                "SAMAccountName": {},
                                "MemberType": {}
                            }
                        }
                    },
                    "NextToken": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "ListGroups": {
            "http": {
                "requestUri": "/Groups/ListGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "Realm": {},
                    "NextToken": {
                        "shape": "S15"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Groups": {
                        "shape": "S1d"
                    },
                    "NextToken": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "ListGroupsForMember": {
            "http": {
                "requestUri": "/GroupMemberships/ListGroupsForMember",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "Realm": {},
                    "MemberRealm": {},
                    "SAMAccountName": {},
                    "NextToken": {
                        "shape": "S15"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "MemberRealm": {},
                    "Groups": {
                        "shape": "S1d"
                    },
                    "NextToken": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "ListUsers": {
            "http": {
                "requestUri": "/Users/ListUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "Realm": {},
                    "NextToken": {
                        "shape": "S15"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Users": {
                        "shape": "S1j"
                    },
                    "NextToken": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "RemoveGroupMember": {
            "http": {
                "requestUri": "/GroupMemberships/RemoveGroupMember",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "GroupName",
                    "MemberName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "GroupName": {},
                    "MemberName": {},
                    "MemberRealm": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "SearchGroups": {
            "http": {
                "requestUri": "/Groups/SearchGroups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SearchString",
                    "SearchAttributes"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SearchString": {
                        "shape": "S1o"
                    },
                    "SearchAttributes": {
                        "shape": "Sv"
                    },
                    "Realm": {},
                    "NextToken": {
                        "shape": "S15"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Groups": {
                        "shape": "S1d"
                    },
                    "NextToken": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "SearchUsers": {
            "http": {
                "requestUri": "/Users/SearchUsers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SearchString",
                    "SearchAttributes"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "Realm": {},
                    "SearchString": {
                        "shape": "S1o"
                    },
                    "SearchAttributes": {
                        "shape": "Sv"
                    },
                    "NextToken": {
                        "shape": "S15"
                    },
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Realm": {},
                    "Users": {
                        "shape": "S1j"
                    },
                    "NextToken": {
                        "shape": "S15"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "UpdateGroup": {
            "http": {
                "requestUri": "/Groups/UpdateGroup",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "GroupType": {},
                    "GroupScope": {},
                    "OtherAttributes": {
                        "shape": "Sb"
                    },
                    "UpdateType": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        },
        "UpdateUser": {
            "http": {
                "requestUri": "/Users/UpdateUser",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SAMAccountName"
                ],
                "members": {
                    "DirectoryId": {
                        "location": "querystring",
                        "locationName": "DirectoryId"
                    },
                    "SAMAccountName": {},
                    "EmailAddress": {
                        "shape": "Sm"
                    },
                    "GivenName": {
                        "shape": "Sn"
                    },
                    "Surname": {
                        "shape": "So"
                    },
                    "OtherAttributes": {
                        "shape": "Sb"
                    },
                    "UpdateType": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKTE3LSYZMCBPWKAOYRQGTACOHWL2YXILWLPJNZN6MNFNP7SQILQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHDROJ2BQNG6B52YUXD4VQYOY5WLATSWCPODIVOSHK73BP6J77IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWNCUGSDGDSPE5W66YPJE54L6EETU2FBQS4PFVURTIOLCXPEPG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NZZKO3H3ECMVMLF37V7FLGZAEQVRFTAIJBOBP7J7UERHWNLR2AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOJZP34ZDTCQ2GC5QIIBHZ23EGMV24H7LKBGO6NXH2D2FIL6BYOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QR3D3PFO5KBJSGZPYJD7UO6A7QXGYA2QD3MP37CYNLXGNZJ2RIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNESMIW23ZKAAPKIVH4U76QEOT2JSR4IUTE44XKTD6ZBWJDLOBOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6OJAIIKX3S7WPXWSKKRXJ7F2G4Q36NTBVRP3OKAC2U4QRT5GH4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXAO7B6JI3QCRBSD7YGFTEETG7EWSPIGEQ6TWLHMG6MGMRHSONBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SKCRJMZPDR474IK6D7DFBE3DHB47B2JA7YSR3S6IREDNP7SMIWOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/53XAUCL5YALYYH6HA5GNTUB65Y2VRFLB7LNQMVLS2C272VJRVUXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HTAYCVVYL5B2X3E4ZRFUBMUFDKA7U2ANTZTKGHIKWAJJG66O6HAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUYKSQ6QEEWEUME4VOBZN34YDMKLOYMDGSDP4BSZLOY5PGAR4ZZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABXGUXNQF5LJKBW5FSD5DIEIJBGTKY2U777C5U3KAHG6GTUHFY2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VI2X7YCHFJSBEEW4INEDLBX7MRKVK27TPLOLD222V4OX6PGCEACQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZVJNPRXK7RCFFACPBECG6VXPMJMP3QLRB2US7YT2D2LFQ7DNDOKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2SCJCEYDOQHSA54AIMD7I54JQKEFKNGBGTAWQCJ4UYCOXIXQKYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV74D52SI2U2NV7ZLVE5LZIWXQVEDASF2PC6PHGNB2AGVTD7TZTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQUXPM4HB6K47YE447G6UJXT6OCMJEVB3BGJ7A3YCSCIT6FNE2PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOKVY5AU5E5LHQFJMKJ7LTGX53UOELGJGRL6GU7GBH7TKOP2QBKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LQ6CU2M7LC2ZM4FTUUZPGGDQUS7MZSHKRRS2UCZ2WUR7JTXTJTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMSDK2Q323OMU7G2K67ULQ4E5RBFTS36S6JWV33SVAGMXPYI24JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FW2XTWPYZTI4JAIUTNBIACDWS245T6DZQ7XKAFGH2NARLFFIIQUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js"
            ]
        }
    },
    "shapes": {
        "Sb": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "S": {
                        "shape": "Se"
                    },
                    "N": {
                        "type": "long",
                        "sensitive": true
                    },
                    "BOOL": {
                        "type": "boolean",
                        "sensitive": true
                    },
                    "SS": {
                        "type": "list",
                        "member": {
                            "shape": "Se"
                        },
                        "sensitive": true
                    }
                },
                "union": true
            }
        },
        "Se": {
            "type": "string",
            "sensitive": true
        },
        "Sm": {
            "type": "string",
            "sensitive": true
        },
        "Sn": {
            "type": "string",
            "sensitive": true
        },
        "So": {
            "type": "string",
            "sensitive": true
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "Sx": {
            "type": "string",
            "sensitive": true
        },
        "S10": {
            "type": "string",
            "sensitive": true
        },
        "S15": {
            "type": "string",
            "sensitive": true
        },
        "S1d": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "SAMAccountName"
                ],
                "members": {
                    "SID": {},
                    "SAMAccountName": {},
                    "DistinguishedName": {
                        "shape": "Sx"
                    },
                    "GroupType": {},
                    "GroupScope": {},
                    "OtherAttributes": {
                        "shape": "Sb"
                    }
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "SAMAccountName"
                ],
                "members": {
                    "SID": {},
                    "SAMAccountName": {},
                    "DistinguishedName": {
                        "shape": "Sx"
                    },
                    "UserPrincipalName": {
                        "shape": "S10"
                    },
                    "EmailAddress": {
                        "shape": "Sm"
                    },
                    "GivenName": {
                        "shape": "Sn"
                    },
                    "Surname": {
                        "shape": "So"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "OtherAttributes": {
                        "shape": "Sb"
                    }
                }
            }
        },
        "S1o": {
            "type": "string",
            "sensitive": true
        }
    },
    "xmlNamespace": "http://directoryservicedata.amazonaws.com/doc/2023-05-31/"
}