{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-11-01",
        "endpointPrefix": "discovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Application Discovery Service",
        "serviceId": "Application Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSPoseidonService_V2015_11_01",
        "uid": "discovery-2015-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
        ]
    },
    "operations": {
        "AssociateConfigurationItemsToApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationConfigurationId",
                    "configurationIds"
                ],
                "members": {
                    "applicationConfigurationId": {},
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "BatchDeleteImportData": {
            "input": {
                "type": "structure",
                "required": [
                    "importTaskIds"
                ],
                "members": {
                    "importTaskIds": {
                        "type": "list",
                        "member": {}
                    },
                    "deleteHistory": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "importTaskId": {},
                                "errorCode": {},
                                "errorDescription": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "CreateTags": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds",
                    "tags"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DeleteApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DeleteTags": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeAgents": {
            "input": {
                "type": "structure",
                "members": {
                    "agentIds": {
                        "shape": "Sv"
                    },
                    "filters": {
                        "shape": "Sx"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "hostName": {},
                                "agentNetworkInfoList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ipAddress": {},
                                            "macAddress": {}
                                        }
                                    }
                                },
                                "connectorId": {},
                                "version": {},
                                "health": {},
                                "lastHealthPingTime": {},
                                "collectionStatus": {},
                                "agentType": {},
                                "registeredTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeContinuousExports": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "descriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exportId": {},
                                "status": {},
                                "statusDetail": {},
                                "s3Bucket": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "stopTime": {
                                    "type": "timestamp"
                                },
                                "dataSource": {},
                                "schemaStorageConfig": {
                                    "shape": "S1q"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeExportConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "shape": "S1t"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportsInfo": {
                        "shape": "S1v"
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeExportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "shape": "S1t"
                    },
                    "filters": {
                        "shape": "S23"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportsInfo": {
                        "shape": "S1v"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeImportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tasks": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DescribeTags": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configurationType": {},
                                "configurationId": {},
                                "key": {},
                                "value": {},
                                "timeOfCreation": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "DisassociateConfigurationItemsFromApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationConfigurationId",
                    "configurationIds"
                ],
                "members": {
                    "applicationConfigurationId": {},
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ExportConfigurations": {
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {}
                }
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "GetDiscoverySummary": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "servers": {
                        "type": "long"
                    },
                    "applications": {
                        "type": "long"
                    },
                    "serversMappedToApplications": {
                        "type": "long"
                    },
                    "serversMappedtoTags": {
                        "type": "long"
                    },
                    "agentSummary": {
                        "type": "structure",
                        "required": [
                            "activeAgents",
                            "healthyAgents",
                            "blackListedAgents",
                            "shutdownAgents",
                            "unhealthyAgents",
                            "totalAgents",
                            "unknownAgents"
                        ],
                        "members": {
                            "activeAgents": {
                                "type": "integer"
                            },
                            "healthyAgents": {
                                "type": "integer"
                            },
                            "blackListedAgents": {
                                "type": "integer"
                            },
                            "shutdownAgents": {
                                "type": "integer"
                            },
                            "unhealthyAgents": {
                                "type": "integer"
                            },
                            "totalAgents": {
                                "type": "integer"
                            },
                            "unknownAgents": {
                                "type": "integer"
                            }
                        }
                    },
                    "connectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeConnectors",
                            "healthyConnectors",
                            "blackListedConnectors",
                            "shutdownConnectors",
                            "unhealthyConnectors",
                            "totalConnectors",
                            "unknownConnectors"
                        ],
                        "members": {
                            "activeConnectors": {
                                "type": "integer"
                            },
                            "healthyConnectors": {
                                "type": "integer"
                            },
                            "blackListedConnectors": {
                                "type": "integer"
                            },
                            "shutdownConnectors": {
                                "type": "integer"
                            },
                            "unhealthyConnectors": {
                                "type": "integer"
                            },
                            "totalConnectors": {
                                "type": "integer"
                            },
                            "unknownConnectors": {
                                "type": "integer"
                            }
                        }
                    },
                    "meCollectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeMeCollectors",
                            "healthyMeCollectors",
                            "denyListedMeCollectors",
                            "shutdownMeCollectors",
                            "unhealthyMeCollectors",
                            "totalMeCollectors",
                            "unknownMeCollectors"
                        ],
                        "members": {
                            "activeMeCollectors": {
                                "type": "integer"
                            },
                            "healthyMeCollectors": {
                                "type": "integer"
                            },
                            "denyListedMeCollectors": {
                                "type": "integer"
                            },
                            "shutdownMeCollectors": {
                                "type": "integer"
                            },
                            "unhealthyMeCollectors": {
                                "type": "integer"
                            },
                            "totalMeCollectors": {
                                "type": "integer"
                            },
                            "unknownMeCollectors": {
                                "type": "integer"
                            }
                        }
                    },
                    "agentlessCollectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeAgentlessCollectors",
                            "healthyAgentlessCollectors",
                            "denyListedAgentlessCollectors",
                            "shutdownAgentlessCollectors",
                            "unhealthyAgentlessCollectors",
                            "totalAgentlessCollectors",
                            "unknownAgentlessCollectors"
                        ],
                        "members": {
                            "activeAgentlessCollectors": {
                                "type": "integer"
                            },
                            "healthyAgentlessCollectors": {
                                "type": "integer"
                            },
                            "denyListedAgentlessCollectors": {
                                "type": "integer"
                            },
                            "shutdownAgentlessCollectors": {
                                "type": "integer"
                            },
                            "unhealthyAgentlessCollectors": {
                                "type": "integer"
                            },
                            "totalAgentlessCollectors": {
                                "type": "integer"
                            },
                            "unknownAgentlessCollectors": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationType"
                ],
                "members": {
                    "configurationType": {},
                    "filters": {
                        "shape": "Sx"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "orderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldName"
                            ],
                            "members": {
                                "fieldName": {},
                                "sortOrder": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "ListServerNeighbors": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationId"
                ],
                "members": {
                    "configurationId": {},
                    "portInformationNeeded": {
                        "type": "boolean"
                    },
                    "neighborConfigurationIds": {
                        "shape": "S3"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "neighbors"
                ],
                "members": {
                    "neighbors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sourceServerId",
                                "destinationServerId",
                                "connectionsCount"
                            ],
                            "members": {
                                "sourceServerId": {},
                                "destinationServerId": {},
                                "destinationPort": {
                                    "type": "integer"
                                },
                                "transportProtocol": {},
                                "connectionsCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "knownDependencyCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "StartContinuousExport": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "s3Bucket": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "dataSource": {},
                    "schemaStorageConfig": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "StartDataCollectionByAgentIds": {
            "input": {
                "type": "structure",
                "required": [
                    "agentIds"
                ],
                "members": {
                    "agentIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentsConfigurationStatus": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "StartExportTask": {
            "input": {
                "type": "structure",
                "members": {
                    "exportDataFormat": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "shape": "S23"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "preferences": {
                        "type": "structure",
                        "members": {
                            "ec2RecommendationsPreferences": {
                                "type": "structure",
                                "members": {
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "cpuPerformanceMetricBasis": {
                                        "shape": "S3s"
                                    },
                                    "ramPerformanceMetricBasis": {
                                        "shape": "S3s"
                                    },
                                    "tenancy": {},
                                    "excludedInstanceTypes": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "preferredRegion": {},
                                    "reservedInstanceOptions": {
                                        "type": "structure",
                                        "required": [
                                            "purchasingOption",
                                            "offeringClass",
                                            "termLength"
                                        ],
                                        "members": {
                                            "purchasingOption": {},
                                            "offeringClass": {},
                                            "termLength": {}
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "StartImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "importUrl"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "importUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "task": {
                        "shape": "S2g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/AKUPMFDIIWTB2HAWSGQMAIKHMJBOGY4BMQGLFNGXVAMHCLNECQHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WEVUROLFFXXWVNQZKE4VI6VPMDSSFJHSPBDJJJPKRE6FTCLKEG5A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HAGJEVXQHGJ532J7HJC2LSG2WO3GSIUCOWCTGBV62WEMO7THGDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/46OPKQRPAFUAJS76SG6IZTMADU4SRS3JCAFGETFHN3NSOMLDMWIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7JRDB7ERNOVGXZ2JB6WGTKB6POFC4ZFD2XQNVUS34N3MXXIYLTEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SFYUI4Z4YTGDNNHA2RACTG6GJD23LELNUKIZ6USFU3VOII4PCOLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLK47KEOGIXELHVYJEE34LG37ZVKMQUEUVDQMNUW2QP5SCPFIONQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/444XIUZR7IR2XQT2DRYSKRDHK3FDA6YKOSBBFDDLXFKQ6NLTQ5DQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH5OB4BDR3XMILRZ2SFGKH24ILRQT4AVQAWSEZJVLHPBCESAAOKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LBGJLMIXW5BF36U4WTF4XTAZXS2FLJ3WIXOU75TWRTWUIQ64Z5IA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZD3RFEMI3UY2HOH7HG6ZWN3BYYBHERXSHPDGGIHKXCBJJ66F2EQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6JFQZEARGM67ZH3NIB4WHZK4FTKUUIVTUNEWLB5B2JZG2UCYUDMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QPWEREMJYYQ35R526ZJW6D74PZEP7YII5ZRO4ZLCNKZD5XLYBTJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/42SIXNHTVOGAHOGTLZ564SOHVRBUIRFORBROQVM5U62GOMGWLXLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMXN7DISLRVQH2KU6IMNTBUHAFB5LA2JHO5W43LS4QVLOKUMQOKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SPRKWIFP2AYLEF76AZMVHHEBOBLQ5647VWU53LX3HTTTM3JPOEQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/CJGSPV53RT2ANOASYSERQPYKYIMPGAOWY2ZUNMER6LVJHYNDVV4A/vendors.js"
            ]
        },
        "StopContinuousExport": {
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "stopTime": {
                        "type": "timestamp"
                    }
                }
[...]
