{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-11-01",
        "endpointPrefix": "discovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Application Discovery Service",
        "serviceId": "Application Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSPoseidonService_V2015_11_01",
        "uid": "discovery-2015-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHBP5DKA45O3LXIFJZFVBX3PAT37NWZVTOPN64PYE4NR2N53CUXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AssociateConfigurationItemsToApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationConfigurationId",
                    "configurationIds"
                ],
                "members": {
                    "applicationConfigurationId": {},
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "BatchDeleteImportData": {
            "input": {
                "type": "structure",
                "required": [
                    "importTaskIds"
                ],
                "members": {
                    "importTaskIds": {
                        "type": "list",
                        "member": {}
                    },
                    "deleteHistory": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "importTaskId": {},
                                "errorCode": {},
                                "errorDescription": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateTags": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds",
                    "tags"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTags": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeAgents": {
            "input": {
                "type": "structure",
                "members": {
                    "agentIds": {
                        "shape": "Sv"
                    },
                    "filters": {
                        "shape": "Sx"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "hostName": {},
                                "agentNetworkInfoList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ipAddress": {},
                                            "macAddress": {}
                                        }
                                    }
                                },
                                "connectorId": {},
                                "version": {},
                                "health": {},
                                "lastHealthPingTime": {},
                                "collectionStatus": {},
                                "agentType": {},
                                "registeredTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeContinuousExports": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "descriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exportId": {},
                                "status": {},
                                "statusDetail": {},
                                "s3Bucket": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "stopTime": {
                                    "type": "timestamp"
                                },
                                "dataSource": {},
                                "schemaStorageConfig": {
                                    "shape": "S1q"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeExportConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "shape": "S1t"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportsInfo": {
                        "shape": "S1v"
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeExportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "shape": "S1t"
                    },
                    "filters": {
                        "shape": "S23"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportsInfo": {
                        "shape": "S1v"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeImportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tasks": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeTags": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configurationType": {},
                                "configurationId": {},
                                "key": {},
                                "value": {},
                                "timeOfCreation": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DisassociateConfigurationItemsFromApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationConfigurationId",
                    "configurationIds"
                ],
                "members": {
                    "applicationConfigurationId": {},
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ExportConfigurations": {
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {}
                }
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetDiscoverySummary": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "servers": {
                        "type": "long"
                    },
                    "applications": {
                        "type": "long"
                    },
                    "serversMappedToApplications": {
                        "type": "long"
                    },
                    "serversMappedtoTags": {
                        "type": "long"
                    },
                    "agentSummary": {
                        "type": "structure",
                        "required": [
                            "activeAgents",
                            "healthyAgents",
                            "blackListedAgents",
                            "shutdownAgents",
                            "unhealthyAgents",
                            "totalAgents",
                            "unknownAgents"
                        ],
                        "members": {
                            "activeAgents": {
                                "type": "integer"
                            },
                            "healthyAgents": {
                                "type": "integer"
                            },
                            "blackListedAgents": {
                                "type": "integer"
                            },
                            "shutdownAgents": {
                                "type": "integer"
                            },
                            "unhealthyAgents": {
                                "type": "integer"
                            },
                            "totalAgents": {
                                "type": "integer"
                            },
                            "unknownAgents": {
                                "type": "integer"
                            }
                        }
                    },
                    "connectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeConnectors",
                            "healthyConnectors",
                            "blackListedConnectors",
                            "shutdownConnectors",
                            "unhealthyConnectors",
                            "totalConnectors",
                            "unknownConnectors"
                        ],
                        "members": {
                            "activeConnectors": {
                                "type": "integer"
                            },
                            "healthyConnectors": {
                                "type": "integer"
                            },
                            "blackListedConnectors": {
                                "type": "integer"
                            },
                            "shutdownConnectors": {
                                "type": "integer"
                            },
                            "unhealthyConnectors": {
                                "type": "integer"
                            },
                            "totalConnectors": {
                                "type": "integer"
                            },
                            "unknownConnectors": {
                                "type": "integer"
                            }
                        }
                    },
                    "meCollectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeMeCollectors",
                            "healthyMeCollectors",
                            "denyListedMeCollectors",
                            "shutdownMeCollectors",
                            "unhealthyMeCollectors",
                            "totalMeCollectors",
                            "unknownMeCollectors"
                        ],
                        "members": {
                            "activeMeCollectors": {
                                "type": "integer"
                            },
                            "healthyMeCollectors": {
                                "type": "integer"
                            },
                            "denyListedMeCollectors": {
                                "type": "integer"
                            },
                            "shutdownMeCollectors": {
                                "type": "integer"
                            },
                            "unhealthyMeCollectors": {
                                "type": "integer"
                            },
                            "totalMeCollectors": {
                                "type": "integer"
                            },
                            "unknownMeCollectors": {
                                "type": "integer"
                            }
                        }
                    },
                    "agentlessCollectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeAgentlessCollectors",
                            "healthyAgentlessCollectors",
                            "denyListedAgentlessCollectors",
                            "shutdownAgentlessCollectors",
                            "unhealthyAgentlessCollectors",
                            "totalAgentlessCollectors",
                            "unknownAgentlessCollectors"
                        ],
                        "members": {
                            "activeAgentlessCollectors": {
                                "type": "integer"
                            },
                            "healthyAgentlessCollectors": {
                                "type": "integer"
                            },
                            "denyListedAgentlessCollectors": {
                                "type": "integer"
                            },
                            "shutdownAgentlessCollectors": {
                                "type": "integer"
                            },
                            "unhealthyAgentlessCollectors": {
                                "type": "integer"
                            },
                            "totalAgentlessCollectors": {
                                "type": "integer"
                            },
                            "unknownAgentlessCollectors": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationType"
                ],
                "members": {
                    "configurationType": {},
                    "filters": {
                        "shape": "Sx"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "orderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldName"
                            ],
                            "members": {
                                "fieldName": {},
                                "sortOrder": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListServerNeighbors": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationId"
                ],
                "members": {
                    "configurationId": {},
                    "portInformationNeeded": {
                        "type": "boolean"
                    },
                    "neighborConfigurationIds": {
                        "shape": "S3"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "neighbors"
                ],
                "members": {
                    "neighbors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sourceServerId",
                                "destinationServerId",
                                "connectionsCount"
                            ],
                            "members": {
                                "sourceServerId": {},
                                "destinationServerId": {},
                                "destinationPort": {
                                    "type": "integer"
                                },
                                "transportProtocol": {},
                                "connectionsCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "knownDependencyCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartContinuousExport": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "s3Bucket": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "dataSource": {},
                    "schemaStorageConfig": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartDataCollectionByAgentIds": {
            "input": {
                "type": "structure",
                "required": [
                    "agentIds"
                ],
                "members": {
                    "agentIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentsConfigurationStatus": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartExportTask": {
            "input": {
                "type": "structure",
                "members": {
                    "exportDataFormat": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "shape": "S23"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "preferences": {
                        "type": "structure",
                        "members": {
                            "ec2RecommendationsPreferences": {
                                "type": "structure",
                                "members": {
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "cpuPerformanceMetricBasis": {
                                        "shape": "S3s"
                                    },
                                    "ramPerformanceMetricBasis": {
                                        "shape": "S3s"
                                    },
                                    "tenancy": {},
                                    "excludedInstanceTypes": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "preferredRegion": {},
                                    "reservedInstanceOptions": {
                                        "type": "structure",
                                        "required": [
                                            "purchasingOption",
                                            "offeringClass",
                                            "termLength"
                                        ],
                                        "members": {
                                            "purchasingOption": {},
                                            "offeringClass": {},
                                            "termLength": {}
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StartImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "importUrl"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "importUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "task": {
                        "shape": "S2g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2FC7XH5AO2DPQVBO6CVAJKVDROGNCS636LQHGMUTUQ467W7QYOIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J2PP6YNUJNERRQNVEZ77PM5HG26XVRDXEP55IJLU5F7CNVJICXCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/76WHJK4OXNWNGG7MRA2E5GO7SIFMLCCO2PDN3RE5XVO5G3RGDKBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGQKEJORSVJ2WQILZ22J2BTFQZM7RFVC2JOGFVFDRQPEHEGFR6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SWEBJASZPCOOTQ53G27KBPVIMVUHFHUUEDSPFRQDBHDXXFLBAGNQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GIOGNQH7Q6DASJMEAWPJUROV5HJCPXMXKSZKW5QLTVJLE6B2BLVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NFB5P6RFO5OZXCKWAPC2DPQZELEPVFWOHRAWAPVDIJHDFHSDYA2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVUNXHQYWDGUECZ2IIQVIRRFTOSSTGJYST5VXDEQCXKUUWVJNNRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TETHN2XBJ5EHH6SOLULUWME52OWY2Q4ZAVZQPZRLO2QRR64X4XA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NZB2AIPCNDXMG5A44SGGQO5UFKUYHQDNB3BDFKHE5RDKDDIVSISQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDMDB4FCMZ3YMEITZPPDSZZMJDPEL5MWEDQCOQJVV2MSPJYZCNYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ROIAOO5I5YZ4AI2526V2E2S7MONQOL3HFQCQNFPYZNIEIBA554MQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CF7VYOJX3RKSUJYZFHNJPGGQ5PSJGATOZUGHDQX6PEGE4PBOI7CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StopContinuousExport": {
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "stopTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/O4R6ZII6AFIJQGICOBMJA6SGAHJ2JAQBK7AUTSRYHELMJNPAHNTA/vendors.js",
[...]
