{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-11-01",
        "endpointPrefix": "discovery",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "AWS Application Discovery Service",
        "serviceId": "Application Discovery Service",
        "signatureVersion": "v4",
        "targetPrefix": "AWSPoseidonService_V2015_11_01",
        "uid": "discovery-2015-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
        ]
    },
    "operations": {
        "AssociateConfigurationItemsToApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationConfigurationId",
                    "configurationIds"
                ],
                "members": {
                    "applicationConfigurationId": {},
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "BatchDeleteImportData": {
            "input": {
                "type": "structure",
                "required": [
                    "importTaskIds"
                ],
                "members": {
                    "importTaskIds": {
                        "type": "list",
                        "member": {}
                    },
                    "deleteHistory": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "importTaskId": {},
                                "errorCode": {},
                                "errorDescription": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {},
                    "description": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurationId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "CreateTags": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds",
                    "tags"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DeleteApplications": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DeleteTags": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeAgents": {
            "input": {
                "type": "structure",
                "members": {
                    "agentIds": {
                        "shape": "Sv"
                    },
                    "filters": {
                        "shape": "Sx"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "agentId": {},
                                "hostName": {},
                                "agentNetworkInfoList": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "ipAddress": {},
                                            "macAddress": {}
                                        }
                                    }
                                },
                                "connectorId": {},
                                "version": {},
                                "health": {},
                                "lastHealthPingTime": {},
                                "collectionStatus": {},
                                "agentType": {},
                                "registeredTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationIds"
                ],
                "members": {
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeContinuousExports": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "type": "list",
                        "member": {}
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "descriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "exportId": {},
                                "status": {},
                                "statusDetail": {},
                                "s3Bucket": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "stopTime": {
                                    "type": "timestamp"
                                },
                                "dataSource": {},
                                "schemaStorageConfig": {
                                    "shape": "S1q"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeExportConfigurations": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "shape": "S1t"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportsInfo": {
                        "shape": "S1v"
                    },
                    "nextToken": {}
                }
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeExportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "exportIds": {
                        "shape": "S1t"
                    },
                    "filters": {
                        "shape": "S23"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportsInfo": {
                        "shape": "S1v"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeImportTasks": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "tasks": {
                        "type": "list",
                        "member": {
                            "shape": "S2g"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DescribeTags": {
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "name",
                                "values"
                            ],
                            "members": {
                                "name": {},
                                "values": {
                                    "shape": "Sz"
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "configurationType": {},
                                "configurationId": {},
                                "key": {},
                                "value": {},
                                "timeOfCreation": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "DisassociateConfigurationItemsFromApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "applicationConfigurationId",
                    "configurationIds"
                ],
                "members": {
                    "applicationConfigurationId": {},
                    "configurationIds": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ExportConfigurations": {
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {}
                }
            },
            "deprecated": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "GetDiscoverySummary": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "servers": {
                        "type": "long"
                    },
                    "applications": {
                        "type": "long"
                    },
                    "serversMappedToApplications": {
                        "type": "long"
                    },
                    "serversMappedtoTags": {
                        "type": "long"
                    },
                    "agentSummary": {
                        "type": "structure",
                        "required": [
                            "activeAgents",
                            "healthyAgents",
                            "blackListedAgents",
                            "shutdownAgents",
                            "unhealthyAgents",
                            "totalAgents",
                            "unknownAgents"
                        ],
                        "members": {
                            "activeAgents": {
                                "type": "integer"
                            },
                            "healthyAgents": {
                                "type": "integer"
                            },
                            "blackListedAgents": {
                                "type": "integer"
                            },
                            "shutdownAgents": {
                                "type": "integer"
                            },
                            "unhealthyAgents": {
                                "type": "integer"
                            },
                            "totalAgents": {
                                "type": "integer"
                            },
                            "unknownAgents": {
                                "type": "integer"
                            }
                        }
                    },
                    "connectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeConnectors",
                            "healthyConnectors",
                            "blackListedConnectors",
                            "shutdownConnectors",
                            "unhealthyConnectors",
                            "totalConnectors",
                            "unknownConnectors"
                        ],
                        "members": {
                            "activeConnectors": {
                                "type": "integer"
                            },
                            "healthyConnectors": {
                                "type": "integer"
                            },
                            "blackListedConnectors": {
                                "type": "integer"
                            },
                            "shutdownConnectors": {
                                "type": "integer"
                            },
                            "unhealthyConnectors": {
                                "type": "integer"
                            },
                            "totalConnectors": {
                                "type": "integer"
                            },
                            "unknownConnectors": {
                                "type": "integer"
                            }
                        }
                    },
                    "meCollectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeMeCollectors",
                            "healthyMeCollectors",
                            "denyListedMeCollectors",
                            "shutdownMeCollectors",
                            "unhealthyMeCollectors",
                            "totalMeCollectors",
                            "unknownMeCollectors"
                        ],
                        "members": {
                            "activeMeCollectors": {
                                "type": "integer"
                            },
                            "healthyMeCollectors": {
                                "type": "integer"
                            },
                            "denyListedMeCollectors": {
                                "type": "integer"
                            },
                            "shutdownMeCollectors": {
                                "type": "integer"
                            },
                            "unhealthyMeCollectors": {
                                "type": "integer"
                            },
                            "totalMeCollectors": {
                                "type": "integer"
                            },
                            "unknownMeCollectors": {
                                "type": "integer"
                            }
                        }
                    },
                    "agentlessCollectorSummary": {
                        "type": "structure",
                        "required": [
                            "activeAgentlessCollectors",
                            "healthyAgentlessCollectors",
                            "denyListedAgentlessCollectors",
                            "shutdownAgentlessCollectors",
                            "unhealthyAgentlessCollectors",
                            "totalAgentlessCollectors",
                            "unknownAgentlessCollectors"
                        ],
                        "members": {
                            "activeAgentlessCollectors": {
                                "type": "integer"
                            },
                            "healthyAgentlessCollectors": {
                                "type": "integer"
                            },
                            "denyListedAgentlessCollectors": {
                                "type": "integer"
                            },
                            "shutdownAgentlessCollectors": {
                                "type": "integer"
                            },
                            "unhealthyAgentlessCollectors": {
                                "type": "integer"
                            },
                            "totalAgentlessCollectors": {
                                "type": "integer"
                            },
                            "unknownAgentlessCollectors": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListConfigurations": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationType"
                ],
                "members": {
                    "configurationType": {},
                    "filters": {
                        "shape": "Sx"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "orderBy": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "fieldName"
                            ],
                            "members": {
                                "fieldName": {},
                                "sortOrder": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "configurations": {
                        "type": "list",
                        "member": {
                            "type": "map",
                            "key": {},
                            "value": {}
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "ListServerNeighbors": {
            "input": {
                "type": "structure",
                "required": [
                    "configurationId"
                ],
                "members": {
                    "configurationId": {},
                    "portInformationNeeded": {
                        "type": "boolean"
                    },
                    "neighborConfigurationIds": {
                        "shape": "S3"
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "neighbors"
                ],
                "members": {
                    "neighbors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "sourceServerId",
                                "destinationServerId",
                                "connectionsCount"
                            ],
                            "members": {
                                "sourceServerId": {},
                                "destinationServerId": {},
                                "destinationPort": {
                                    "type": "integer"
                                },
                                "transportProtocol": {},
                                "connectionsCount": {
                                    "type": "long"
                                }
                            }
                        }
                    },
                    "nextToken": {},
                    "knownDependencyCount": {
                        "type": "long"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "StartContinuousExport": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {},
                    "s3Bucket": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "dataSource": {},
                    "schemaStorageConfig": {
                        "shape": "S1q"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "StartDataCollectionByAgentIds": {
            "input": {
                "type": "structure",
                "required": [
                    "agentIds"
                ],
                "members": {
                    "agentIds": {
                        "shape": "Sv"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "agentsConfigurationStatus": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "StartExportTask": {
            "input": {
                "type": "structure",
                "members": {
                    "exportDataFormat": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "shape": "S23"
                    },
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "preferences": {
                        "type": "structure",
                        "members": {
                            "ec2RecommendationsPreferences": {
                                "type": "structure",
                                "members": {
                                    "enabled": {
                                        "type": "boolean"
                                    },
                                    "cpuPerformanceMetricBasis": {
                                        "shape": "S3s"
                                    },
                                    "ramPerformanceMetricBasis": {
                                        "shape": "S3s"
                                    },
                                    "tenancy": {},
                                    "excludedInstanceTypes": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "preferredRegion": {},
                                    "reservedInstanceOptions": {
                                        "type": "structure",
                                        "required": [
                                            "purchasingOption",
                                            "offeringClass",
                                            "termLength"
                                        ],
                                        "members": {
                                            "purchasingOption": {},
                                            "offeringClass": {},
                                            "termLength": {}
                                        }
                                    }
                                }
                            }
                        },
                        "union": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "exportId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "StartImportTask": {
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "importUrl"
                ],
                "members": {
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "name": {},
                    "importUrl": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "task": {
                        "shape": "S2g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IWENPIKEHBT3TJWS3BJBAJE5QF3JBIFORHRZ4DGBTPBLGD45T2IQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4G5XX66YKZWEYE3JJM4JEBBRCJCG52TWCL4M72KU35O72U2XUKRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXBAFGVDMR6VHFEVWFJ5JXCS3QIKYRCH5LQRSHOKZP7PWEZT5A7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYNZFDPQROSELHBEK53IZH476VOC6RY4SFHRDRORYZIMZVYYHSIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNUD6E4NRZC42TCEFHYNF3YNY5Y572RNZIJ6NRQ2ZPXF2SU7SA7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4F42KMOCWC2SSQX7KFLH2MNW6P35KIFNXDSUQ7BNIDWHSCFMZXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T5XIOKDDMIC3VREKCRCDDB2V3QZI4N66RX4WMKAW25F2SDBVKQRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LN3ME3XHLJROGOCT47OP3DTSCNXTU4QMA6YV3KPDVCLV2VQ2OFXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW32ETMIXVEDEILT6GU5ZQNUOCSKE7AMNY6DZFCEYOH2OUJN7I6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LG5KGVWTP42EEHEEEJH7LICTVSKEZ7C3FCTDKJYOD73ZVSMU4RVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BWZGO3FXUGJWBBAUPBTYQWM53C4T56ZCCA6LBL56RH34TBQZ2G7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PJMWDZXRWCAQMQ7VMUINNDQXLSEQSW5QRMAC3LCZP5KFQQIZLWMA/vendors.js"
            ]
        },
        "StopContinuousExport": {
            "input": {
                "type": "structure",
                "required": [
                    "exportId"
                ],
                "members": {
                    "exportId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "startTime": {
                        "type": "timestamp"
                    },
                    "stopTime": {
                        "type": "timestamp"
                    }
                }
            },
[...]
