{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-01-12",
        "endpointPrefix": "dlm",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon DLM",
        "serviceFullName": "Amazon Data Lifecycle Manager",
        "serviceId": "DLM",
        "signatureVersion": "v4",
        "signingName": "dlm",
        "uid": "dlm-2018-01-12",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6ISHW2GL5ZMJA2WVG74UXXOZ4XQDUIMYPYGCEJYXAMPZ2NND5ATQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
        ]
    },
    "operations": {
        "CreateLifecyclePolicy": {
            "http": {
                "requestUri": "/policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ExecutionRoleArn",
                    "Description",
                    "State",
                    "PolicyDetails"
                ],
                "members": {
                    "ExecutionRoleArn": {},
                    "Description": {},
                    "State": {},
                    "PolicyDetails": {
                        "shape": "S5"
                    },
                    "Tags": {
                        "shape": "S1w"
                    },
                    "DefaultPolicy": {},
                    "CreateInterval": {
                        "type": "integer"
                    },
                    "RetainInterval": {
                        "type": "integer"
                    },
                    "CopyTags": {
                        "type": "boolean"
                    },
                    "ExtendDeletion": {
                        "type": "boolean"
                    },
                    "CrossRegionCopyTargets": {
                        "shape": "S28"
                    },
                    "Exclusions": {
                        "shape": "S2b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PolicyId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "DeleteLifecyclePolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/policies/{policyId}/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {
                        "location": "uri",
                        "locationName": "policyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetLifecyclePolicies": {
            "http": {
                "method": "GET",
                "requestUri": "/policies"
            },
            "input": {
                "type": "structure",
                "members": {
                    "PolicyIds": {
                        "location": "querystring",
                        "locationName": "policyIds",
                        "type": "list",
                        "member": {}
                    },
                    "State": {
                        "location": "querystring",
                        "locationName": "state"
                    },
                    "ResourceTypes": {
                        "shape": "S7",
                        "location": "querystring",
                        "locationName": "resourceTypes"
                    },
                    "TargetTags": {
                        "location": "querystring",
                        "locationName": "targetTags",
                        "type": "list",
                        "member": {}
                    },
                    "TagsToAdd": {
                        "location": "querystring",
                        "locationName": "tagsToAdd",
                        "type": "list",
                        "member": {}
                    },
                    "DefaultPolicyType": {
                        "location": "querystring",
                        "locationName": "defaultPolicyType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policies": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "PolicyId": {},
                                "Description": {},
                                "State": {},
                                "Tags": {
                                    "shape": "S1w"
                                },
                                "PolicyType": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "GetLifecyclePolicy": {
            "http": {
                "method": "GET",
                "requestUri": "/policies/{policyId}/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {
                        "location": "uri",
                        "locationName": "policyId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Policy": {
                        "type": "structure",
                        "members": {
                            "PolicyId": {},
                            "Description": {},
                            "State": {},
                            "StatusMessage": {},
                            "ExecutionRoleArn": {},
                            "DateCreated": {
                                "shape": "S2g"
                            },
                            "DateModified": {
                                "shape": "S2g"
                            },
                            "PolicyDetails": {
                                "shape": "S5"
                            },
                            "Tags": {
                                "shape": "S1w"
                            },
                            "PolicyArn": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Tags": {
                        "shape": "S1w"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "Tags"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "Tags": {
                        "shape": "S1w"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ResourceArn",
                    "TagKeys"
                ],
                "members": {
                    "ResourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "TagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        },
        "UpdateLifecyclePolicy": {
            "http": {
                "method": "PATCH",
                "requestUri": "/policies/{policyId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PolicyId"
                ],
                "members": {
                    "PolicyId": {
                        "location": "uri",
                        "locationName": "policyId"
                    },
                    "ExecutionRoleArn": {},
                    "State": {},
                    "Description": {},
                    "PolicyDetails": {
                        "shape": "S5"
                    },
                    "CreateInterval": {
                        "type": "integer"
                    },
                    "RetainInterval": {
                        "type": "integer"
                    },
                    "CopyTags": {
                        "type": "boolean"
                    },
                    "ExtendDeletion": {
                        "type": "boolean"
                    },
                    "CrossRegionCopyTargets": {
                        "shape": "S28"
                    },
                    "Exclusions": {
                        "shape": "S2b"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KWUQ3JK7X7C2RQACMFHBX2IPYVFPQMU73CCQY455WLM6WIPHSVUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PLMMMXRL745MMJOAQ2XEQDHT36DL6S5L7TODDBD5HYHVHAUA5RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFUQLVTQPKVQKZJK4EMVF7IBXECZ4R4UJI4CKQGVMGYJBCUEGJ4A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G5RHLDISFOJ6VZDLLYKLO3IFCVGYVXK3J44YDBSJB4IC7SGQZWIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLOXWYOYC3IOHZ6GV36A4MHXYCRHDGJ4I6DAJV7QB656ZU4CPZRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIKLBMGCVRS7X46A6TGGDA4JPCAEDDHEIW6EAOLSTYEDI26MNPYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "members": {
                "PolicyType": {},
                "ResourceTypes": {
                    "shape": "S7"
                },
                "ResourceLocations": {
                    "type": "list",
                    "member": {}
                },
                "TargetTags": {
                    "type": "list",
                    "member": {
                        "shape": "Sc"
                    }
                },
                "Schedules": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "Name": {},
                            "CopyTags": {
                                "type": "boolean"
                            },
                            "TagsToAdd": {
                                "type": "list",
                                "member": {
                                    "shape": "Sc"
                                }
                            },
                            "VariableTags": {
                                "type": "list",
                                "member": {
                                    "shape": "Sc"
                                }
                            },
                            "CreateRule": {
                                "type": "structure",
                                "members": {
                                    "Location": {},
                                    "Interval": {
                                        "type": "integer"
                                    },
                                    "IntervalUnit": {},
                                    "Times": {
                                        "type": "list",
                                        "member": {}
                                    },
                                    "CronExpression": {}
                                }
                            },
                            "RetainRule": {
                                "type": "structure",
                                "members": {
                                    "Count": {
                                        "type": "integer"
                                    },
                                    "Interval": {
                                        "type": "integer"
                                    },
                                    "IntervalUnit": {}
                                }
                            },
                            "FastRestoreRule": {
                                "type": "structure",
                                "required": [
                                    "AvailabilityZones"
                                ],
                                "members": {
                                    "Count": {
                                        "type": "integer"
                                    },
                                    "Interval": {
                                        "type": "integer"
                                    },
                                    "IntervalUnit": {},
                                    "AvailabilityZones": {
                                        "type": "list",
                                        "member": {}
                                    }
                                }
                            },
                            "CrossRegionCopyRules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Encrypted"
                                    ],
                                    "members": {
                                        "TargetRegion": {},
                                        "Target": {},
                                        "Encrypted": {
                                            "type": "boolean"
                                        },
                                        "CmkArn": {},
                                        "CopyTags": {
                                            "type": "boolean"
                                        },
                                        "RetainRule": {
                                            "shape": "S16"
                                        },
                                        "DeprecateRule": {
                                            "type": "structure",
                                            "members": {
                                                "Interval": {
                                                    "type": "integer"
                                                },
                                                "IntervalUnit": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "ShareRules": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "TargetAccounts"
                                    ],
                                    "members": {
                                        "TargetAccounts": {
                                            "type": "list",
                                            "member": {}
                                        },
                                        "UnshareInterval": {
                                            "type": "integer"
                                        },
                                        "UnshareIntervalUnit": {}
                                    }
                                }
                            },
                            "DeprecateRule": {
                                "type": "structure",
                                "members": {
                                    "Count": {
                                        "type": "integer"
                                    },
                                    "Interval": {
                                        "type": "integer"
                                    },
                                    "IntervalUnit": {}
                                }
                            },
                            "ArchiveRule": {
                                "type": "structure",
                                "required": [
                                    "RetainRule"
                                ],
                                "members": {
                                    "RetainRule": {
                                        "type": "structure",
                                        "required": [
                                            "RetentionArchiveTier"
                                        ],
                                        "members": {
                                            "RetentionArchiveTier": {
                                                "type": "structure",
                                                "members": {
                                                    "Count": {
                                                        "type": "integer"
                                                    },
                                                    "Interval": {
                                                        "type": "integer"
                                                    },
                                                    "IntervalUnit": {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "Parameters": {
                    "type": "structure",
                    "members": {
                        "ExcludeBootVolume": {
                            "type": "boolean"
                        },
                        "NoReboot": {
                            "type": "boolean"
                        },
                        "ExcludeDataVolumeTags": {
                            "type": "list",
                            "member": {
                                "shape": "Sc"
                            }
                        }
                    }
                },
                "EventSource": {
                    "type": "structure",
                    "required": [
                        "Type"
                    ],
                    "members": {
                        "Type": {},
                        "Parameters": {
                            "type": "structure",
                            "required": [
                                "EventType",
                                "SnapshotOwner",
                                "DescriptionRegex"
                            ],
                            "members": {
                                "EventType": {},
                                "SnapshotOwner": {
                                    "type": "list",
                                    "member": {}
                                },
                                "DescriptionRegex": {}
                            }
                        }
                    }
                },
                "Actions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "Name",
                            "CrossRegionCopy"
                        ],
                        "members": {
                            "Name": {},
                            "CrossRegionCopy": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "required": [
                                        "Target",
                                        "EncryptionConfiguration"
                                    ],
                                    "members": {
                                        "Target": {},
                                        "EncryptionConfiguration": {
                                            "type": "structure",
                                            "required": [
                                                "Encrypted"
                                            ],
                                            "members": {
                                                "Encrypted": {
                                                    "type": "boolean"
                                                },
                                                "CmkArn": {}
                                            }
                                        },
                                        "RetainRule": {
                                            "shape": "S16"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S7": {
            "type": "list",
            "member": {}
        },
        "Sc": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S16": {
            "type": "structure",
            "members": {
                "Interval": {
                    "type": "integer"
                },
                "IntervalUnit": {}
            }
        },
        "S1w": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2g": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S14": {
            "type": "structure",
            "members": {
                "Interval": {
                    "type": "integer"
                },
                "IntervalUnit": {}
            }
        },
        "S1o": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S28": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1q": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2a": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "Sa": {
            "type": "structure",
            "required": [
                "Key",
                "Value"
            ],
            "members": {
                "Key": {},
                "Value": {}
            }
        },
        "S12": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S1m": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S1f": {
            "type": "structure",
            "members": {
                "Interval": {
                    "type": "integer"
                },
                "IntervalUnit": {}
            }
        },
        "S25": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "S2p": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        },
        "S2b": {
            "type": "structure",
            "members": {
                "ExcludeBootVolumes": {
                    "type": "boolean"
                },
                "ExcludeVolumeTypes": {
                    "type": "list",
                    "member": {}
                },
                "ExcludeTags": {
                    "type": "list",
                    "member": {
                        "shape": "Sc"
                    }
                }
            }
        },
        "S33": {
            "type": "timestamp",
            "timestampFormat": "iso8601"
        }
    }
}