{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-28",
        "endpointPrefix": "docdb-elastic",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "DocDB Elastic",
        "serviceFullName": "Amazon DocumentDB Elastic Clusters",
        "serviceId": "DocDB Elastic",
        "signatureVersion": "v4",
        "signingName": "docdb-elastic",
        "uid": "docdb-elastic-2022-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/IIW5DM7Q4VV5IURTXO2L2MIXMRSDUJEU7S5ZYE5ZRBY647LMBKQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminUserName",
                    "adminUserPassword",
                    "authType",
                    "clusterName",
                    "shardCapacity",
                    "shardCount"
                ],
                "members": {
                    "adminUserName": {},
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterName": {},
                    "kmsKeyId": {},
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "CreateClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn",
                    "snapshotName"
                ],
                "members": {
                    "clusterArn": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "DeleteClusterSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "GetCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "GetClusterSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "ListClusterSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "snapshotArn",
                                "snapshotCreationTime",
                                "snapshotName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "snapshotArn": {},
                                "snapshotCreationTime": {},
                                "snapshotName": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "clusterName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "clusterName": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "RestoreClusterFromSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/restore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "snapshotArn"
                ],
                "members": {
                    "clusterName": {},
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "UpdateCluster": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2AYPKZ6FIDPGQG7YH5WVAE2YQRQJKPQOPAIIR5GQOMHRBGPL7QVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7EUQLM4EXQZ7Z5LXR5ZXHCL4VSKQXNAVSSJL5VBCEOEDP2ETENNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3NFWSDZCV33OQMRAATM537YCJNVK5MEB377LFWF27G27IONSJ2YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWPPQ2R5HQMGSYXPCJUTP4TWYGNFAXCNMDW5D2F7HYHBPBPSJ4Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JRU5PJM7OU2QHMNMNNK5APWGQSECFQQZ5YGMYPRVPWGTC56E6EFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X34LQ3R73EUVRBA3CTTQGXLQBTJBYTZWOLU2UPCHXN4SZAHKD2QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUYRBI4XC4SRFR7HIOYR2FD44CE7XMIWTAY2FJQN3W3CXJMGFOEA/main.js"
            ]
        },
        "CopyClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn",
                    "descrption",
                    "targetParameterGroupName"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "descrption": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "targetParameterGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "CopyClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn",
                    "targetSnapshotName"
                ],
                "members": {
                    "copyTags": {
                        "type": "boolean"
                    },
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "targetSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sc"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "CreateClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupEngineVersion",
                    "clusterParameterGroupName",
                    "description"
                ],
                "members": {
                    "clusterParameterGroupEngineVersion": {},
                    "clusterParameterGroupName": {},
                    "description": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "DeleteClusterParameterGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "GetClusterParameterGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup",
                    "parameters"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    },
                    "nextToken": {},
                    "parameters": {
                        "shape": "S15"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "ListClusterParameterGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroups"
                ],
                "members": {
                    "clusterParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "ResetClusterParameterGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/reset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "parameters": {
                        "shape": "S15"
                    },
                    "resetAllParameters": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "StartCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "StopCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "DeletionStatus": {},
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        },
        "UpdateClusterParameterGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn",
                    "parameters"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "parameters": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js"
            ]
        }
    },
    "shapes": {
        "S3": {
            "type": "string",
            "sensitive": true
        },
        "S6": {
            "type": "list",
            "member": {}
        },
        "S7": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sb": {
            "type": "structure",
            "required": [
                "adminUserName",
                "authType",
                "clusterArn",
                "clusterEndpoint",
                "clusterName",
                "createTime",
                "kmsKeyId",
                "preferredMaintenanceWindow",
                "shardCapacity",
                "shardCount",
                "status",
                "subnetIds",
                "vpcSecurityGroupIds"
            ],
            "members": {
                "adminUserName": {},
                "authType": {},
                "clusterArn": {},
                "clusterEndpoint": {},
                "clusterName": {},
                "createTime": {},
                "kmsKeyId": {},
                "preferredMaintenanceWindow": {},
                "shardCapacity": {
                    "type": "integer"
                },
                "shardCount": {
                    "type": "integer"
                },
                "status": {},
                "subnetIds": {
                    "shape": "S6"
                },
                "vpcSecurityGroupIds": {
                    "shape": "S6"
                }
            }
        },
        "Sg": {
            "type": "structure",
            "required": [
                "adminUserName",
                "clusterArn",
                "clusterCreationTime",
                "kmsKeyId",
                "snapshotArn",
                "snapshotCreationTime",
                "snapshotName",
                "status",
                "subnetIds",
                "vpcSecurityGroupIds"
            ],
            "members": {
                "adminUserName": {},
                "clusterArn": {},
                "clusterCreationTime": {},
                "kmsKeyId": {},
                "snapshotArn": {},
                "snapshotCreationTime": {},
                "snapshotName": {},
                "status": {},
                "subnetIds": {
                    "shape": "S6"
                },
                "vpcSecurityGroupIds": {
                    "shape": "S6"
                }
            }
        },
        "Sc": {
            "type": "structure",
            "required": [
                "adminUserName",
                "clusterArn",
                "clusterCreationTime",
                "kmsKeyId",
                "snapshotArn",
                "snapshotCreationTime",
                "snapshotName",
                "snapshotType",
                "status",
                "subnetIds",
                "vpcSecurityGroupIds"
            ],
            "members": {
                "adminUserName": {},
                "clusterArn": {},
                "clusterCreationTime": {},
                "kmsKeyId": {},
                "snapshotArn": {},
                "snapshotCreationTime": {},
                "snapshotName": {},
                "snapshotType": {
                    "internalonly": true
                },
                "status": {},
                "subnetIds": {
                    "shape": "Sf"
                },
                "vpcSecurityGroupIds": {
                    "shape": "Sf"
                }
            }
        },
        "Sf": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "string",
            "sensitive": true
        },
        "Sl": {
            "type": "structure",
            "required": [
                "adminUserName",
                "authType",
                "backupRetentionPeriod",
                "clusterArn",
                "clusterEndpoint",
                "clusterName",
                "createTime",
                "kmsKeyId",
                "preferredBackupWindow",
                "preferredMaintenanceWindow",
                "shardCapacity",
                "shardCount",
                "shardInstanceCount",
                "shards",
                "status",
                "subnetIds",
                "vpcSecurityGroupIds"
            ],
            "members": {
                "adminUserName": {},
                "authType": {},
                "backupRetentionPeriod": {
                    "internalonly": true,
                    "type": "integer"
                },
                "clusterArn": {},
                "clusterEndpoint": {},
                "clusterName": {},
                "createTime": {},
                "kmsKeyId": {},
                "preferredBackupWindow": {
                    "internalonly": true
                },
                "preferredMaintenanceWindow": {},
                "shardCapacity": {
                    "type": "integer"
                },
                "shardCount": {
                    "type": "integer"
                },
                "shardInstanceCount": {
                    "type": "integer"
                },
                "shards": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "required": [
                            "createTime",
                            "shardId",
                            "status"
                        ],
                        "members": {
                            "createTime": {},
                            "shardId": {},
                            "status": {}
                        }
                    }
                },
                "status": {},
                "subnetIds": {
                    "shape": "Sf"
                },
                "vpcSecurityGroupIds": {
                    "shape": "Sf"
                }
            }
        },
        "S15": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "allowedValues": {},
                    "applyMethod": {},
                    "applyType": {},
                    "dataType": {},
                    "description": {},
                    "isModifiable": {
                        "type": "boolean"
                    },
                    "minimumEngineVersion": {},
                    "parameterName": {},
                    "parameterValue": {},
                    "source": {}
                }
            }
        }
    }
}