{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-28",
        "endpointPrefix": "docdb-elastic",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "DocDB Elastic",
        "serviceFullName": "Amazon DocumentDB Elastic Clusters",
        "serviceId": "DocDB Elastic",
        "signatureVersion": "v4",
        "signingName": "docdb-elastic",
        "uid": "docdb-elastic-2022-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminUserName",
                    "adminUserPassword",
                    "authType",
                    "clusterName",
                    "shardCapacity",
                    "shardCount"
                ],
                "members": {
                    "adminUserName": {},
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterName": {},
                    "kmsKeyId": {},
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    },
                    "clusterParameterGroupArn": {
                        "internalonly": true
                    },
                    "engineVersion": {
                        "internalonly": true
                    },
                    "osPatchVersion": {
                        "internalonly": true
                    },
                    "enginePatchVersion": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "CreateClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn",
                    "snapshotName"
                ],
                "members": {
                    "clusterArn": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DeleteClusterSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetClusterSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListClusterSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "snapshotType": {
                        "location": "querystring",
                        "locationName": "snapshotType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "snapshotArn",
                                "snapshotCreationTime",
                                "snapshotName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "snapshotArn": {},
                                "snapshotCreationTime": {},
                                "snapshotName": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "clusterName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "clusterName": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "RestoreClusterFromSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/restore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "snapshotArn"
                ],
                "members": {
                    "clusterName": {},
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    },
                    "clusterParameterGroupArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "UpdateCluster": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    },
                    "applyMethod": {
                        "internalonly": true
                    },
                    "applyOn": {
                        "internalonly": true
                    },
                    "clusterParameterGroupArn": {
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "CopyClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn",
                    "descrption",
                    "targetParameterGroupName"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "descrption": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "targetParameterGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "CopyClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn",
                    "targetSnapshotName"
                ],
                "members": {
                    "copyTags": {
                        "type": "boolean"
                    },
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "targetSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sc"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "CreateClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupEngineVersion",
                    "clusterParameterGroupName",
                    "description"
                ],
                "members": {
                    "clusterParameterGroupEngineVersion": {},
                    "clusterParameterGroupName": {},
                    "description": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "DeleteClusterParameterGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "GetClusterParameterGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup",
                    "parameters"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    },
                    "nextToken": {},
                    "parameters": {
                        "shape": "S15"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ListClusterParameterGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroups"
                ],
                "members": {
                    "clusterParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "ResetClusterParameterGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/reset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "parameters": {
                        "shape": "S15"
                    },
                    "resetAllParameters": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DTHMYF6YDBPCNPH5V2ZAUADHG3IIO4RPLTOVHUNMIVPPAMARHMA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUNLGFSM47BISABSWY5HUHORZZ4VJZSH64QQXCP3EWCUQ2TMXBKA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J6L3NAOEZILDXFSL4J7HCTRTSTYS63OXQ6COYV6Y5A2BGOAGX2NA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B54BDU74HR4SWTEMZY77JKAFPGM6OFSUAM7FRJYE2HS3UY7OYULA/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YU2LPMF32AQDNO2XCQPIBSZK6AGJIDSHN2NF7IPIF5ST53LO3M7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "StartCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PPNKVQU5TEWWUKUHL6PDJA2DDSJL6246LFOL2KSFQ2A2NLN7ACPQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVUD23EWE2IEQJIRP3B4VY5MNAEVEQIF434WPCH64XWO75B7YVXQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VV336KUKHNC2YFHNKG65EGDMAK7SKKS5F3T4QIHHWJBMZQAWTJ6Q/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V36IZAQTQUEXVZU3ALCU3NONNH5NDXFAJ5OKVW5AM3CBQ3IYUL7A/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDVQEGIBPLZEAFDGONMWZ6GG73NUXQKQHYNHLIG233W7VRUTDBTQ/300.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3I4J2MP5647DR6L6FB5CIGIP5ZTUPRXWEQWAH2JZXEFA3B2PPJA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAES2I5YFFPPQDPEWCTGC7BA52ES7TV5H5YSIAYFOCG45JWGPX3Q/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YAOOR464WX3RBEV7VUJOX24HBMCIEX6RKC2G5KJ4SNQHA4YBKQA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDGEG5SYPLF35VKWAOLKZE6OPUX7VMPJHDFJEAREZM3TPLRQMSIQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EN4M26W65GYRXEEFJKWTXSMRJ6EWHCA25H5YGBGLFMHCQIT4FMGQ/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFG2XOIP6D3OCTGVEHIDJBY7ZTJCAETYUSTYD7UKBRLJ5O2BQVAA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBHZMGDQNZCZPYEIG3WCNGGAEERHOECZXDQDX77T6MAEAMQ2UBFA/876.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W74XJRJVCMXZWHGEVOVG4I22TJQUDGVBPY5CGXTS3VCHGMLOSYSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OGFKRAEOMEVNNWCERANK2JGZHKH7HTYHJGX54JR5S3QU77PM3PBA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BV4USZZWWKAEN3DATSGCSYXYIW67LWHE22RQEFFPKA2OHV4RWZSQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PP35CMMO3HDAL4DQTSZD2GQQWJQ4L444LYRY5XG3Q5YNV4M47WEQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/36GARLBI7YJAUEA324D5WT72APEI6LZXIPYBXPH6EBRHJBR6736A/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FJFSNDHLLVYBF25IOWMPHURJLQYOBAFD73TBEQ3MMKDFH3FINWRA/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMWOIETUBCQTU2UMYHIBI7Z7RJNUXYQJ3R34ER24IFA3IJIRSXDQ/748.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/748.js"
            ]
        },
        "StopCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
[...]
