{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2014-10-31",
        "endpointPrefix": "rds",
        "protocol": "query",
        "serviceAbbreviation": "Amazon DocDB",
        "serviceFullName": "Amazon DocumentDB with MongoDB compatibility",
        "serviceId": "DocDB",
        "signatureVersion": "v4",
        "signingName": "rds",
        "uid": "docdb-2014-10-31",
        "xmlNamespace": "http://rds.amazonaws.com/doc/2014-10-31/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
        ]
    },
    "operations": {
        "AddSourceIdentifierToSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName",
                    "SourceIdentifier"
                ],
                "members": {
                    "SubscriptionName": {},
                    "SourceIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceName",
                    "Tags"
                ],
                "members": {
                    "ResourceName": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "ApplyPendingMaintenanceAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceIdentifier",
                    "ApplyAction",
                    "OptInType"
                ],
                "members": {
                    "ResourceIdentifier": {},
                    "ApplyAction": {},
                    "OptInType": {}
                }
            },
            "output": {
                "resultWrapper": "ApplyPendingMaintenanceActionResult",
                "type": "structure",
                "members": {
                    "ResourcePendingMaintenanceActions": {
                        "shape": "Sd"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CopyDBClusterParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceDBClusterParameterGroupIdentifier",
                    "TargetDBClusterParameterGroupIdentifier",
                    "TargetDBClusterParameterGroupDescription"
                ],
                "members": {
                    "SourceDBClusterParameterGroupIdentifier": {},
                    "TargetDBClusterParameterGroupIdentifier": {},
                    "TargetDBClusterParameterGroupDescription": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CopyDBClusterParameterGroupResult",
                "type": "structure",
                "members": {
                    "DBClusterParameterGroup": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CopyDBClusterSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceDBClusterSnapshotIdentifier",
                    "TargetDBClusterSnapshotIdentifier"
                ],
                "members": {
                    "SourceDBClusterSnapshotIdentifier": {},
                    "TargetDBClusterSnapshotIdentifier": {},
                    "KmsKeyId": {},
                    "PreSignedUrl": {},
                    "CopyTags": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CopyDBClusterSnapshotResult",
                "type": "structure",
                "members": {
                    "DBClusterSnapshot": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateDBCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterIdentifier",
                    "Engine"
                ],
                "members": {
                    "AvailabilityZones": {
                        "shape": "So"
                    },
                    "BackupRetentionPeriod": {
                        "type": "integer"
                    },
                    "DBClusterIdentifier": {},
                    "DBClusterParameterGroupName": {},
                    "VpcSecurityGroupIds": {
                        "shape": "Ss"
                    },
                    "DBSubnetGroupName": {},
                    "Engine": {},
                    "EngineVersion": {},
                    "Port": {
                        "type": "integer"
                    },
                    "MasterUsername": {},
                    "MasterUserPassword": {},
                    "PreferredBackupWindow": {},
                    "PreferredMaintenanceWindow": {},
                    "Tags": {
                        "shape": "S9"
                    },
                    "StorageEncrypted": {
                        "type": "boolean"
                    },
                    "KmsKeyId": {},
                    "PreSignedUrl": {},
                    "EnableCloudwatchLogsExports": {
                        "shape": "St"
                    },
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "GlobalClusterIdentifier": {},
                    "StorageType": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBClusterResult",
                "type": "structure",
                "members": {
                    "DBCluster": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateDBClusterParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterParameterGroupName",
                    "DBParameterGroupFamily",
                    "Description"
                ],
                "members": {
                    "DBClusterParameterGroupName": {},
                    "DBParameterGroupFamily": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBClusterParameterGroupResult",
                "type": "structure",
                "members": {
                    "DBClusterParameterGroup": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateDBClusterSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterSnapshotIdentifier",
                    "DBClusterIdentifier"
                ],
                "members": {
                    "DBClusterSnapshotIdentifier": {},
                    "DBClusterIdentifier": {},
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBClusterSnapshotResult",
                "type": "structure",
                "members": {
                    "DBClusterSnapshot": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateDBInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier",
                    "DBInstanceClass",
                    "Engine",
                    "DBClusterIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {},
                    "DBInstanceClass": {},
                    "Engine": {},
                    "AvailabilityZone": {},
                    "PreferredMaintenanceWindow": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    },
                    "DBClusterIdentifier": {},
                    "CopyTagsToSnapshot": {
                        "type": "boolean"
                    },
                    "PromotionTier": {
                        "type": "integer"
                    },
                    "EnablePerformanceInsights": {
                        "type": "boolean"
                    },
                    "PerformanceInsightsKMSKeyId": {},
                    "CACertificateIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "CreateDBInstanceResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateDBSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSubnetGroupName",
                    "DBSubnetGroupDescription",
                    "SubnetIds"
                ],
                "members": {
                    "DBSubnetGroupName": {},
                    "DBSubnetGroupDescription": {},
                    "SubnetIds": {
                        "shape": "S1l"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateDBSubnetGroupResult",
                "type": "structure",
                "members": {
                    "DBSubnetGroup": {
                        "shape": "S1c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateEventSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName",
                    "SnsTopicArn"
                ],
                "members": {
                    "SubscriptionName": {},
                    "SnsTopicArn": {},
                    "SourceType": {},
                    "EventCategories": {
                        "shape": "S6"
                    },
                    "SourceIds": {
                        "shape": "S5"
                    },
                    "Enabled": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateEventSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "CreateGlobalCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalClusterIdentifier"
                ],
                "members": {
                    "GlobalClusterIdentifier": {},
                    "SourceDBClusterIdentifier": {},
                    "Engine": {},
                    "EngineVersion": {},
                    "DeletionProtection": {
                        "type": "boolean"
                    },
                    "DatabaseName": {},
                    "StorageEncrypted": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateGlobalClusterResult",
                "type": "structure",
                "members": {
                    "GlobalCluster": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteDBCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterIdentifier"
                ],
                "members": {
                    "DBClusterIdentifier": {},
                    "SkipFinalSnapshot": {
                        "type": "boolean"
                    },
                    "FinalDBSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBClusterResult",
                "type": "structure",
                "members": {
                    "DBCluster": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteDBClusterParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterParameterGroupName"
                ],
                "members": {
                    "DBClusterParameterGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteDBClusterSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterSnapshotIdentifier"
                ],
                "members": {
                    "DBClusterSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBClusterSnapshotResult",
                "type": "structure",
                "members": {
                    "DBClusterSnapshot": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteDBInstance": {
            "input": {
                "type": "structure",
                "required": [
                    "DBInstanceIdentifier"
                ],
                "members": {
                    "DBInstanceIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteDBInstanceResult",
                "type": "structure",
                "members": {
                    "DBInstance": {
                        "shape": "S1a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteDBSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "DBSubnetGroupName"
                ],
                "members": {
                    "DBSubnetGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteEventSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "SubscriptionName"
                ],
                "members": {
                    "SubscriptionName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteEventSubscriptionResult",
                "type": "structure",
                "members": {
                    "EventSubscription": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DeleteGlobalCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalClusterIdentifier"
                ],
                "members": {
                    "GlobalClusterIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteGlobalClusterResult",
                "type": "structure",
                "members": {
                    "GlobalCluster": {
                        "shape": "S1r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2Z3M7BRHQ5XE6YH6T4UWRXAFNM4LH6VFZYB4KGLV6KV6SQTINEBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BLYQQ2G2XDE4MQMWNMQDARWW6XDL3YRNAC7HJ3DVT5OC62PRZP5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B34NDEDHFIDFJFW56QXTFZTZBZBSGWC4RDJ6NLBIIB4IM2GT434Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH2RWA4LA4X33TJAICBIFEBTVH7KSJUWTHKFWXJICSOQ2SZP2VKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeCertificates": {
            "input": {
                "type": "structure",
                "members": {
                    "CertificateIdentifier": {},
                    "Filters": {
                        "shape": "S28"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeCertificatesResult",
                "type": "structure",
                "members": {
                    "Certificates": {
                        "type": "list",
                        "member": {
                            "locationName": "Certificate",
                            "type": "structure",
                            "members": {
                                "CertificateIdentifier": {},
                                "CertificateType": {},
                                "Thumbprint": {},
                                "ValidFrom": {
                                    "type": "timestamp"
                                },
                                "ValidTill": {
                                    "type": "timestamp"
                                },
                                "CertificateArn": {}
                            },
                            "wrapper": true
                        }
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeDBClusterParameterGroups": {
            "input": {
                "type": "structure",
                "members": {
                    "DBClusterParameterGroupName": {},
                    "Filters": {
                        "shape": "S28"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBClusterParameterGroupsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBClusterParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "Sj",
                            "locationName": "DBClusterParameterGroup"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeDBClusterParameters": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterParameterGroupName"
                ],
                "members": {
                    "DBClusterParameterGroupName": {},
                    "Source": {},
                    "Filters": {
                        "shape": "S28"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBClusterParametersResult",
                "type": "structure",
                "members": {
                    "Parameters": {
                        "shape": "S2j"
                    },
                    "Marker": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeDBClusterSnapshotAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "DBClusterSnapshotIdentifier"
                ],
                "members": {
                    "DBClusterSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeDBClusterSnapshotAttributesResult",
                "type": "structure",
                "members": {
                    "DBClusterSnapshotAttributesResult": {
                        "shape": "S2o"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CGIWKKAFIJ5W6Z4Z4JMG6I5IJWAYQDWYG6KJUFLOF772RYRNGSDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NCRXTRBSNMOLDQUG6V5PVRSXZ74X5XHXFHCIZZNW7Y6EAQ7H654Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MPAUKASQM26PTK2JPCK4277LVTODLTR3PBGZ3VHCNWZFPJLMOTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNMH7KLTFGFMRXRYYSZ6SS7N5UNAEGAUEU5HDKHYLPAOWWBPDQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLQXHGRTIRXS6EKCIADUYAFEWV5V55WTIPR34VXLXVT2GL2B7ETA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDL4OZJV57M3FLKNRTZICQ2DZ6SVAOAIAOR2W4V37V3MWPWTY5GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K6KPGVTE5E6LE6X25GLJRIF2UHSMHNKMNBYC7KZ2NWAZ7BLFKLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF5FSLXREG5M4AX4R43TQKRVBPPQBLCDMHEP2N4XPKNYOCVFPS6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMO7TF7PZFNDGF5LE5XBA6A73N3IGLIP5MAME7RJZGRHXOHQ5YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FIRBO6IDU5RL6DLPYHVDBUMNUFSCRBMIA2ZYRLK2QXPRIM5ZPXEA/vendors.js"
            ]
        },
        "DescribeDBClusterSnapshots": {
            "input": {
                "type": "structure",
                "members": {
                    "DBClusterIdentifier": {},
                    "DBClusterSnapshotIdentifier": {},
                    "SnapshotType": {},
                    "Filters": {
                        "shape": "S28"
                    },
                    "MaxRecords": {
                        "type": "integer"
                    },
                    "Marker": {},
                    "IncludeShared": {
                        "type": "boolean"
                    },
                    "IncludePublic": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeDBClusterSnapshotsResult",
                "type": "structure",
                "members": {
                    "Marker": {},
                    "DBClusterSnapshots": {
                        "type": "list",
                        "member": {
                            "shape": "Sn",
                            "locationName": "DBClusterSnapshot"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOSG47XTLFWYMFWRUALTNXT2CTGQS6ZZQTNMR3YTXDBD5EHLEGOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3HX4Z4WEZOVGHDNDM5ZYBHLAXUMMDN2CGZYIMPH4ZDH7UHQQA4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EZURAWTJVQVPYWLCUOZX2BBPE2QVXNKLY3S6XT4TLVU5EJR73DVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GJW63IMCU4CCJE6KPKOGXLECYFHGD4ROJQEUXH7WIFMRTICJNDA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IGKIWQLF7SXRPDQBWPVCM24MJCVYHEYD4I4ZXGRVTSYAGEMRRB5Q/vendors.js",
[...]
