{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-28",
        "endpointPrefix": "docdb-elastic",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "DocDB Elastic",
        "serviceFullName": "Amazon DocumentDB Elastic Clusters",
        "serviceId": "DocDB Elastic",
        "signatureVersion": "v4",
        "signingName": "docdb-elastic",
        "uid": "docdb-elastic-2022-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminUserName",
                    "adminUserPassword",
                    "authType",
                    "clusterName",
                    "shardCapacity",
                    "shardCount"
                ],
                "members": {
                    "adminUserName": {},
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterName": {},
                    "kmsKeyId": {},
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn",
                    "snapshotName"
                ],
                "members": {
                    "clusterArn": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteClusterSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "GetClusterSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClusterSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "snapshotType": {
                        "location": "querystring",
                        "locationName": "snapshotType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "snapshotArn",
                                "snapshotCreationTime",
                                "snapshotName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "snapshotArn": {},
                                "snapshotCreationTime": {},
                                "snapshotName": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "clusterName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "clusterName": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "RestoreClusterFromSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/restore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "snapshotArn"
                ],
                "members": {
                    "clusterName": {},
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "UpdateCluster": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CopyClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn",
                    "descrption",
                    "targetParameterGroupName"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "descrption": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "targetParameterGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "CopyClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn",
                    "targetSnapshotName"
                ],
                "members": {
                    "copyTags": {
                        "type": "boolean"
                    },
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "targetSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sc"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupEngineVersion",
                    "clusterParameterGroupName",
                    "description"
                ],
                "members": {
                    "clusterParameterGroupEngineVersion": {},
                    "clusterParameterGroupName": {},
                    "description": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "DeleteClusterParameterGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "GetClusterParameterGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup",
                    "parameters"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    },
                    "nextToken": {},
                    "parameters": {
                        "shape": "S15"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "ListClusterParameterGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroups"
                ],
                "members": {
                    "clusterParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "ResetClusterParameterGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/reset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "parameters": {
                        "shape": "S15"
                    },
                    "resetAllParameters": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js"
            ]
        },
        "StartCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BAELE22SK4LRKKRDWWV6V7VQ3IRE6X57SHHIYY535RLVU4XUMDSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSCEDZXK3YL5KH2DVGHB3KQQADTZZN72IXC6DQ7ZKWYELEI6CQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DPTJ752IASVDIUBAPVNY6V6CFBQXURC2BED24RONPEHT2BRL4JLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DV47BKANYAH5K3O3FH4AK6JZLL536EDAV7DQXVQYZA4TFFMOMQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SK7MNHKBY6C7E2CP4EPAZOM5ISZGMLSEZAKUOJWJRQC5HWDBE4QQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VH4W4P3WIFFVLZLGF3ERFIIRYXDERX6PPIXXD7TFJLG7PBQRNGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7EBXDRWJK54Q6OE4GZRLU25PC6EE7KSHRY6LHMISVG5JKQC5XHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CKQX7QE742EMIYLU7YLFM5HENAKYRS5RJWBUMMLBXSWFEBQ3CMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CALIZHDBPXL7KBWNBXBPVB5JN4DDQX2HXA6ZEF6DBLPB5PBMIRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIVWJRDUWWS7KMGUQHEUNLARA2TCNEQ5LM5AKJFLYVUNXNYHM6KA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2NGFM7MMR4YVPI5ZNSVIWIH3IKZBQQFU4BYZYIBJKNQMFTKSL5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FBX2UTBDUZGVGQ5X4LHPMZMN4HGBLNFE7JD2K2GLFMVWA7Z57PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YB2FKLAIGGYMOFY37EJFO4YJ5UVAOJATEP723LY2UX6CIUFOIWUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKKYYU4KTC3DQOILJQY4R5LJIZA6XKHJZ7USMD7GVQZLZOQQAJYQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FRNA72AP6R7RYABNY7VIUOSEEFSZ67UKNUHFGTRO2IUEEMFFWBJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVXAVZR5THZUGJVYPCYDI442CWTG5WI44PWULK2WQPQ3HC4RWSAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HO666KAO3T4XTK33EUOLC3HTPWX2WGMH4IZYSR52RITJNJWKKDDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZEFNJICDFOVQU7A2Z5WXTQ7CTNZSH4A5MGQD5G3S2PANWPDSCG4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GNUY46DOLYAPXUFUMQLGRMMJ6GXSGQ6G37JLSC6JANO3XFATHSJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "StopCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
[...]
