{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-28",
        "endpointPrefix": "docdb-elastic",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "DocDB Elastic",
        "serviceFullName": "Amazon DocumentDB Elastic Clusters",
        "serviceId": "DocDB Elastic",
        "signatureVersion": "v4",
        "signingName": "docdb-elastic",
        "uid": "docdb-elastic-2022-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminUserName",
                    "adminUserPassword",
                    "authType",
                    "clusterName",
                    "shardCapacity",
                    "shardCount"
                ],
                "members": {
                    "adminUserName": {},
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterName": {},
                    "kmsKeyId": {},
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "CreateClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn",
                    "snapshotName"
                ],
                "members": {
                    "clusterArn": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "DeleteClusterSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "GetCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "GetClusterSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "ListClusterSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "snapshotType": {
                        "location": "querystring",
                        "locationName": "snapshotType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "snapshotArn",
                                "snapshotCreationTime",
                                "snapshotName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "snapshotArn": {},
                                "snapshotCreationTime": {},
                                "snapshotName": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "clusterName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "clusterName": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "RestoreClusterFromSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/restore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "snapshotArn"
                ],
                "members": {
                    "clusterName": {},
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "UpdateCluster": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJJXDHQW73DLCG37FSCXBG2HOTMXFL43K3W4RQ5ETKGEMO4A66JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DGW3BAUY67A7FT3TMEOQQLBTDKISRYBVXTT5TURY3E3EKKQMAZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LYE7Y5FX3UQL2XUL2CSSX6MEBS6WCCWJAR72JC5GS4JF6K2555AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVBSYYFZ5RITITFAVNU7F44WZXXHACV7EW2KEJEHKNQOUDO2PLIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "CopyClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn",
                    "descrption",
                    "targetParameterGroupName"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "descrption": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "targetParameterGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "CopyClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn",
                    "targetSnapshotName"
                ],
                "members": {
                    "copyTags": {
                        "type": "boolean"
                    },
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "targetSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sc"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "CreateClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupEngineVersion",
                    "clusterParameterGroupName",
                    "description"
                ],
                "members": {
                    "clusterParameterGroupEngineVersion": {},
                    "clusterParameterGroupName": {},
                    "description": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "DeleteClusterParameterGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "GetClusterParameterGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup",
                    "parameters"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    },
                    "nextToken": {},
                    "parameters": {
                        "shape": "S15"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "ListClusterParameterGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroups"
                ],
                "members": {
                    "clusterParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "ResetClusterParameterGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/reset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "parameters": {
                        "shape": "S15"
                    },
                    "resetAllParameters": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLCDB2UXCK4LFGH34LBASZM3CW5HKWRXK6SWPCAR7K57DYQXW3DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZE4I5SF6QQCGOFRKJJDHAQXFFWJG35GD5FDUBFXIABIGPMBWW2AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "StartCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHSCGCTFAKMKNBI4WRA52UUCZAXRU42W2L363XM3IQOXD334UPQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YP27PJAGDQQH2TYZ5YMDZRHT5RLHEXOUVGPF3MHA3Z3WIPQ2GY6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7IKYXKJVPCAALNWJY2CKGZFGORQSHQ3NXVTNUMOM7XJKLSPTUENQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/722UV4NMXTCYZGIRMF4VH24JLYUTT4RIJGJBN6GTCJUSPDQ6X7XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7UDUY7JCZ24ZLDTWBAJDCJAICV2M3HAN4LKJSE6VUKYQJICTIGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIIVRSC76HU4AN3ID6EWTFHTCFDBDA3XGI34M4CFWBNKUNRDVVZA/main.js"
            ]
        },
        "StopCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B3DOHHWUUQ6K2YDIBWDJ77CAPWW3AHCTHKMLJP4WUNPKAQHSPUBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQCHENQ4DTPGWYVHU7Q4UMTTG3MQZY4MNJ65B3G3ONCLFRLI3JUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CJXXXW2KZESAZWDKEUCEDKQKE5G77MLCBA2CX4K73PRO2IZSCKRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GUE3A46UN42OHCIP2QC7UYF36VWC7PFDOX2TKSJXSCUATHESTNPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MLXZOCETTWKAPKNNWRBRQ22MYQ3KW4L37JTPDP3YMAMBUBCCGI5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X43CDK5JJ2YGPYFRQZTIGQXTO7AYW6MSFUN6VH7QTRKFHIS34MIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5RYPDBXOGDEYWXE2GJ6RHCKJYRLQT2ASE7TSJKE32WHAIMXQQY5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGAWJKJJVIGC5C2VAZASYCSEXZV74WLEDHVR6HVRO7WF7KRWPRWQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X5HO46I7F6MHKSJFG3W73JO6WH3PH6NSY6ITEWIVFBDT42PZC5IQ/main.js",
[...]
