{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2022-11-28",
        "endpointPrefix": "docdb-elastic",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "DocDB Elastic",
        "serviceFullName": "Amazon DocumentDB Elastic Clusters",
        "serviceId": "DocDB Elastic",
        "signatureVersion": "v4",
        "signingName": "docdb-elastic",
        "uid": "docdb-elastic-2022-11-28",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU5TPI3Z4WQQSMZIYAPXIVQGND5MUPTAUAYBXBMFVSOIZDBGE5DA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "CreateCluster": {
            "http": {
                "requestUri": "/cluster",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "adminUserName",
                    "adminUserPassword",
                    "authType",
                    "clusterName",
                    "shardCapacity",
                    "shardCount"
                ],
                "members": {
                    "adminUserName": {},
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterName": {},
                    "kmsKeyId": {},
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn",
                    "snapshotName"
                ],
                "members": {
                    "clusterArn": {},
                    "snapshotName": {},
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "DeleteClusterSnapshot": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "GetClusterSnapshot": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshot/{snapshotArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn"
                ],
                "members": {
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sg"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListClusterSnapshots": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-snapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "clusterArn": {
                        "location": "querystring",
                        "locationName": "clusterArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "snapshotType": {
                        "location": "querystring",
                        "locationName": "snapshotType"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "snapshots": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "snapshotArn",
                                "snapshotCreationTime",
                                "snapshotName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "snapshotArn": {},
                                "snapshotCreationTime": {},
                                "snapshotName": {},
                                "status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "clusterArn",
                                "clusterName",
                                "status"
                            ],
                            "members": {
                                "clusterArn": {},
                                "clusterName": {},
                                "status": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "RestoreClusterFromSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/restore",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "snapshotArn"
                ],
                "members": {
                    "clusterName": {},
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "tags": {
                        "shape": "S7"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S7"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UpdateCluster": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster/{clusterArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "adminUserPassword": {
                        "shape": "S3"
                    },
                    "authType": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    },
                    "preferredMaintenanceWindow": {},
                    "shardCapacity": {
                        "type": "integer"
                    },
                    "shardCount": {
                        "type": "integer"
                    },
                    "subnetIds": {
                        "shape": "S6"
                    },
                    "vpcSecurityGroupIds": {
                        "shape": "S6"
                    },
                    "backupRetentionPeriod": {
                        "internalonly": true,
                        "type": "integer"
                    },
                    "preferredBackupWindow": {
                        "internalonly": true
                    },
                    "shardInstanceCount": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sb"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JX3TO3LBHDYQ3TX5FT6I57XNXZ4FO7JFVMIXCALBLIOV5KJNID5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMW63WQ5KS2NOWMG4SFZRLADAL55ZMYDLES2Z53EDUWIAFBGIMFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2ZCWQYK4FLLFGDSEMWYBJBRBEHBCBZ2V23DQZRFTICFSGBFVCEQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L24HHEPD2FURN4IJL5QA6FKNQY3CRZMUFPP6V3MKL2SB4PAPKPMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJO23KFOMOXKS46NUKXVXJLSTCMJYN7WMLKP2LRMXA3OZR2DFQPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q3KXMEER5VV3JFE44OYN2JLDOLB4OIDXDSUPAMTYMMEITCZITMTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MEB6GZWMUOWIYP4L444MMXS6H5X6AERLKJTBV74X373MPHV57MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPMKSEIOY46C32C3Z7JSDORQ6UNKRRW66PFLY4OF7AVYVPBEAZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CQ6KDKM445MODQRC2KJ6RSKY4FWRQYYY7MTPTYUGYCXI77CZPTDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TRNM7YEJFD6CCSMSB5ISHAS7YDACCKS3IINHLU3Y5B3QELNHPROQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CopyClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn",
                    "descrption",
                    "targetParameterGroupName"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "descrption": {},
                    "tags": {
                        "shape": "S3"
                    },
                    "targetParameterGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "CopyClusterSnapshot": {
            "http": {
                "requestUri": "/cluster-snapshot/{snapshotArn}/copy",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "snapshotArn",
                    "targetSnapshotName"
                ],
                "members": {
                    "copyTags": {
                        "type": "boolean"
                    },
                    "kmsKeyId": {},
                    "snapshotArn": {
                        "location": "uri",
                        "locationName": "snapshotArn"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "targetSnapshotName": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "snapshot"
                ],
                "members": {
                    "snapshot": {
                        "shape": "Sc"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "CreateClusterParameterGroup": {
            "http": {
                "requestUri": "/cluster-parameter-group",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupEngineVersion",
                    "clusterParameterGroupName",
                    "description"
                ],
                "members": {
                    "clusterParameterGroupEngineVersion": {},
                    "clusterParameterGroupName": {},
                    "description": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "DeleteClusterParameterGroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "GetClusterParameterGroup": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup",
                    "parameters"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    },
                    "nextToken": {},
                    "parameters": {
                        "shape": "S15"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "ListClusterParameterGroups": {
            "http": {
                "method": "GET",
                "requestUri": "/cluster-parameter-groups",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroups"
                ],
                "members": {
                    "clusterParameterGroups": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "ResetClusterParameterGroup": {
            "http": {
                "method": "PUT",
                "requestUri": "/cluster-parameter-group/{clusterParameterGroupArn}/reset",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterParameterGroupArn"
                ],
                "members": {
                    "clusterParameterGroupArn": {
                        "location": "uri",
                        "locationName": "clusterParameterGroupArn"
                    },
                    "parameters": {
                        "shape": "S15"
                    },
                    "resetAllParameters": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "clusterParameterGroup"
                ],
                "members": {
                    "clusterParameterGroup": {
                        "shape": "S7"
                    }
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js"
            ]
        },
        "StartCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "StopCluster": {
            "http": {
                "requestUri": "/cluster/{clusterArn}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterArn"
                ],
                "members": {
                    "clusterArn": {
                        "location": "uri",
                        "locationName": "clusterArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "cluster"
                ],
                "members": {
                    "cluster": {
                        "shape": "Sl"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GSMABTBH2QCUONLAXDTKRZIMKDYSUMS3X3PVXE5Q5B4BRL23DTRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3UCQMBRLJEAHJZ7E3G2W4QF24H6TMA32JAWEQVUDGPG5F2IBT2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BD3TRE3I45NIIIXMGK6TZRS44NVXXDTVEEPMFYXLOUU6HR6TTSJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZLWTSQVS4Z3TRVAS246RGFHT3BRQ3QGQ43IDNVJ7LC37ES25J4IQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FMTSMTKZFL37A3AM4I2GHBMZVOE76EFVEHUHNMIKU4FGWGLXD3GQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADC5UKGCQ75QLXTBC54YRP7L36RSS5PYQ4EJHQCVU4ZPHWV2EJ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MDZIL6J26XNIAVBLVCVQDQKYSCGQDYM4KJSGL2KMY74GNJV23PA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XYHEMKN4HM67RWX3TEERXVGSYROQ6TVKTUX6JBFKI654M6446TA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSWILR7RES7BS3VRRBEQRQEGWGW4JR3PTJHXVPZSA7RXAETKBNDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSDFCEHWD5JB2J4DQ33YXKBH7KF4CJTBFQNUZBUGT225EU2GD3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4RU6MECGKELYUGL4IH4XBBMCIUIXMM3K5N37AE443MN35RUXCOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5Z5FYMEDDR25YXTL2SWM5GI6UQRQA37GNOILOAXUFDR5BXKUPVA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVG7XJD3WZDZUPIVN4OTG3YMFBCEFRCP6CJTVJTHLX3L3VKFUF2A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJ57GZXOUUTL3LMXDTRJHFAN3E4ET4OC3BTCQIPOXUY773LUZJ5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VY4NZ3CR7JE6ANV7T4ZLYDF4KCL5UYJDOBXCZQRRSUCDIUVGLJIQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HJ5NHPB23L2WXMTGGI6JGPXRIT32EGDORPQSWISPWXOQZOF5O4LA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "DeletionStatus": {},
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GF3WZWVHX4T4ABPPLIWHALEEBNJUCQMFNWTDDHGCZ6VZ4QVG44BA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXNJQ54CA55ERMDYOKM6JET2SRICRDDF46C32KUBL5452FXI5ZUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3WCFJRNHPZ7W5SWEJFQ6ZJYKD7HQRI3DPGD465I5MDGABRTRAJMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E4OY4PEO77CQOV27CB3RC6NVLJ3MKEUCTPHJVBPVDZS2TYXAU7AQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMJUFHTGO4MKZME5QOX3QOI2HV2YTZHKUAR4ZKHNYN5FSHZGQRRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/US2P7OXAIKTL7NCM443F2ZMBBW5RX22WSK6RLT4TIJHTQ7NZSRLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2JTQW6QDWLXSTQUGRLALKXYKHGE7MFWM7DOQ4B7ABHF3Z5XOKUJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIQQKQUJMXOMQHNF6SZOAOTOXPGCGKJGMBLG54CARSD6DO5I5XNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HC5FVFH2WZWUJIV367SE4VLQ2WVETZ5SFRRZT57OEOOFMNZNYPTA/main.js",
[...]
