{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-02-26",
        "endpointPrefix": "drs",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "drs",
        "serviceFullName": "Elastic Disaster Recovery Service",
        "serviceId": "drs",
        "signatureVersion": "v4",
        "signingName": "drs",
        "uid": "drs-2020-02-26",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
        ]
    },
    "operations": {
        "CreateExtendedSourceServer": {
            "http": {
                "requestUri": "/CreateExtendedSourceServer",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerArn"
                ],
                "members": {
                    "sourceServerArn": {},
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "sourceServer": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "CreateReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/CreateReplicationConfigurationTemplate",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "associateDefaultSecurityGroup",
                    "bandwidthThrottling",
                    "createPublicIP",
                    "dataPlaneRouting",
                    "defaultLargeStagingDiskType",
                    "ebsEncryption",
                    "pitPolicy",
                    "replicationServerInstanceType",
                    "replicationServersSecurityGroupsIDs",
                    "stagingAreaSubnetId",
                    "stagingAreaTags",
                    "useDedicatedReplicationServer"
                ],
                "members": {
                    "associateDefaultSecurityGroup": {
                        "type": "boolean"
                    },
                    "bandwidthThrottling": {
                        "type": "long"
                    },
                    "createPublicIP": {
                        "type": "boolean"
                    },
                    "dataPlaneRouting": {},
                    "defaultLargeStagingDiskType": {},
                    "ebsEncryption": {},
                    "ebsEncryptionKeyArn": {},
                    "pitPolicy": {
                        "shape": "S1l"
                    },
                    "replicationServerInstanceType": {},
                    "replicationServersSecurityGroupsIDs": {
                        "shape": "S1p"
                    },
                    "stagingAreaSubnetId": {},
                    "stagingAreaTags": {
                        "shape": "S3"
                    },
                    "tags": {
                        "shape": "S3"
                    },
                    "useDedicatedReplicationServer": {
                        "type": "boolean"
                    },
                    "autoReplicateNewDisks": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S1s"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteJob": {
            "http": {
                "requestUri": "/DeleteJob",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobID"
                ],
                "members": {
                    "jobID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteRecoveryInstance": {
            "http": {
                "requestUri": "/DeleteRecoveryInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "recoveryInstanceID"
                ],
                "members": {
                    "recoveryInstanceID": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteReplicationConfigurationTemplate": {
            "http": {
                "requestUri": "/DeleteReplicationConfigurationTemplate",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "replicationConfigurationTemplateID"
                ],
                "members": {
                    "replicationConfigurationTemplateID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DeleteSourceServer": {
            "http": {
                "requestUri": "/DeleteSourceServer",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeJobLogItems": {
            "http": {
                "requestUri": "/DescribeJobLogItems",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "jobID"
                ],
                "members": {
                    "jobID": {},
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "event": {},
                                "eventData": {
                                    "type": "structure",
                                    "members": {
                                        "conversionProperties": {
                                            "type": "structure",
                                            "members": {
                                                "dataTimestamp": {},
                                                "forceUefi": {
                                                    "type": "boolean"
                                                },
                                                "rootVolumeName": {},
                                                "volumeToConversionMap": {
                                                    "type": "map",
                                                    "key": {},
                                                    "value": {
                                                        "type": "map",
                                                        "key": {},
                                                        "value": {}
                                                    }
                                                },
                                                "volumeToVolumeSize": {
                                                    "type": "map",
                                                    "key": {},
                                                    "value": {
                                                        "type": "long"
                                                    }
                                                }
                                            }
                                        },
                                        "conversionServerID": {},
                                        "rawError": {},
                                        "sourceServerID": {},
                                        "targetInstanceID": {}
                                    }
                                },
                                "logDateTime": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeJobs": {
            "http": {
                "requestUri": "/DescribeJobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "fromDate": {},
                            "jobIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "toDate": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S2i"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeRecoveryInstances": {
            "http": {
                "requestUri": "/DescribeRecoveryInstances",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "recoveryInstanceIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "sourceServerIDs": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "dataReplicationInfo": {
                                    "type": "structure",
                                    "members": {
                                        "dataReplicationError": {
                                            "type": "structure",
                                            "members": {
                                                "error": {},
                                                "rawError": {}
                                            }
                                        },
                                        "dataReplicationInitiation": {
                                            "type": "structure",
                                            "members": {
                                                "startDateTime": {},
                                                "steps": {
                                                    "type": "list",
                                                    "member": {
                                                        "type": "structure",
                                                        "members": {
                                                            "name": {},
                                                            "status": {}
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "dataReplicationState": {},
                                        "etaDateTime": {},
                                        "lagDuration": {},
                                        "replicatedDisks": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "backloggedStorageBytes": {
                                                        "type": "long"
                                                    },
                                                    "deviceName": {},
                                                    "replicatedStorageBytes": {
                                                        "type": "long"
                                                    },
                                                    "rescannedStorageBytes": {
                                                        "type": "long"
                                                    },
                                                    "totalStorageBytes": {
                                                        "type": "long"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "ec2InstanceID": {},
                                "ec2InstanceState": {},
                                "failback": {
                                    "type": "structure",
                                    "members": {
                                        "agentLastSeenByServiceDateTime": {},
                                        "elapsedReplicationDuration": {},
                                        "failbackClientID": {},
                                        "failbackClientLastSeenByServiceDateTime": {},
                                        "failbackInitiationTime": {},
                                        "failbackJobID": {},
                                        "failbackLaunchType": {},
                                        "failbackToOriginalServer": {
                                            "type": "boolean"
                                        },
                                        "firstByteDateTime": {},
                                        "state": {}
                                    }
                                },
                                "isDrill": {
                                    "type": "boolean"
                                },
                                "jobID": {},
                                "originEnvironment": {},
                                "pointInTimeSnapshotDateTime": {},
                                "recoveryInstanceID": {},
                                "recoveryInstanceProperties": {
                                    "type": "structure",
                                    "members": {
                                        "cpus": {
                                            "shape": "S12"
                                        },
                                        "disks": {
                                            "type": "list",
                                            "member": {
                                                "type": "structure",
                                                "members": {
                                                    "bytes": {
                                                        "type": "long"
                                                    },
                                                    "ebsVolumeID": {},
                                                    "internalDeviceName": {}
                                                }
                                            }
                                        },
                                        "identificationHints": {
                                            "shape": "S16"
                                        },
                                        "lastUpdatedDateTime": {},
                                        "networkInterfaces": {
                                            "shape": "S18"
                                        },
                                        "os": {
                                            "shape": "S1c"
                                        },
                                        "ramBytes": {
                                            "type": "long"
                                        }
                                    }
                                },
                                "sourceServerID": {},
                                "tags": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeRecoverySnapshots": {
            "http": {
                "requestUri": "/DescribeRecoverySnapshots",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "fromDateTime": {},
                            "toDateTime": {}
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "order": {},
                    "sourceServerID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "expectedTimestamp",
                                "snapshotID",
                                "sourceServerID"
                            ],
                            "members": {
                                "ebsSnapshots": {
                                    "type": "list",
                                    "member": {}
                                },
                                "expectedTimestamp": {},
                                "snapshotID": {},
                                "sourceServerID": {},
                                "timestamp": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeReplicationConfigurationTemplates": {
            "http": {
                "requestUri": "/DescribeReplicationConfigurationTemplates",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "replicationConfigurationTemplateIDs": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S1s"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DescribeSourceServers": {
            "http": {
                "requestUri": "/DescribeSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "filters": {
                        "type": "structure",
                        "members": {
                            "hardwareId": {},
                            "sourceServerIDs": {
                                "type": "list",
                                "member": {}
                            },
                            "stagingAccountIDs": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "shape": "S7"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DisconnectRecoveryInstance": {
            "http": {
                "requestUri": "/DisconnectRecoveryInstance",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "recoveryInstanceID"
                ],
                "members": {
                    "recoveryInstanceID": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "DisconnectSourceServer": {
            "http": {
                "requestUri": "/DisconnectSourceServer",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "S7"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "GetFailbackReplicationConfiguration": {
            "http": {
                "requestUri": "/GetFailbackReplicationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "recoveryInstanceID"
                ],
                "members": {
                    "recoveryInstanceID": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "recoveryInstanceID"
                ],
                "members": {
                    "bandwidthThrottling": {
                        "type": "long"
                    },
                    "name": {},
                    "recoveryInstanceID": {},
                    "usePrivateIP": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "GetLaunchConfiguration": {
            "http": {
                "requestUri": "/GetLaunchConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "S43"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "GetReplicationConfiguration": {
            "http": {
                "requestUri": "/GetReplicationConfiguration",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "S49"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "InitializeService": {
            "http": {
                "requestUri": "/InitializeService",
                "responseCode": 204
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "ListExtensibleSourceServers": {
            "http": {
                "requestUri": "/ListExtensibleSourceServers",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "stagingAccountID"
                ],
                "members": {
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {},
                    "stagingAccountID": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "items": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "arn": {},
                                "hostname": {},
                                "tags": {
                                    "shape": "S3"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "ListStagingAccounts": {
            "http": {
                "method": "GET",
                "requestUri": "/ListStagingAccounts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accounts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountID": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S3"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/5RGF4HYNL3RKO6F2WXIY7ZCENHDPLOOIOW6L6AZSISQX4JZV4F3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/M7BNNGDSDTGREZWAD4KL3U2IVIXQWH6XMLBX7KVGDS4R5IPSDQ4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/LDW52UE74CMUQ7R3ADUY663EVIEBYQ7FH3K6IKDDBCMYKI5PHGGA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RHGKJMIDDDMGLFVG3AQ7LD42EWG46XHQFJIKBYWKJP7DEWX5MZVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNUMKOZ2OG2K6ONC2FMHSAOCJYTY3UOYRYOFZKXEJJPBHQ5NKWAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PRFX4CR4653YN6U37TCODJFIKE2FQQFY6REBI36M52YF53DGXVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2E5PFBDEGXWCQXSK45LZQRFD3FHGF4OWBJ6AQ75ICA54IKUFEKIQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JAPC53EBSOA3G6X6ZOCNKRG5EEX3YVLDQ5BFNII2A4IYPKTXTGLA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TZXHYIFL7N3VWSJKGT5BZWTQGWVP753RJBTPH6ABOOJFJ534M65A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TYF7FAH6DTGC3UWK7ZTS2NIVJ4WD7L3AGZGWN6P7QFQ4YO3DNNPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DTHVNCSQGDJEZK4D56HZUERLEAKN3HFKDFCQ22IOYSXZPOGW6Z3A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/BT32IF73ORFEDYTQUKFR6G26NFFVH6B3YAJJ2JVBC4M5P2VDGJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ORYBZ4RR7TYNCZQOIEUCPYEW7IRPLOHE2FXKDTOJAR2AMI2FGI6A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js"
            ]
        },
        "RetryDataReplication": {
            "http": {
                "requestUri": "/RetryDataReplication",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "sourceServerID"
                ],
                "members": {
                    "sourceServerID": {}
                }
            },
            "output": {
                "shape": "S7"
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/VVTCSAM5INGN5GSPBYOX77L3C4PH2N4CP7SE3CETZRZVBYCX6GOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM334XUKFKNC7UDARJS4S5OKYZR27XC3DTOMNC2WDJ3I4AMYU3KQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VJ64IPIXWFHZMFXXCQ2JF62MMI3FCOIN7VOFMQBF2LXSP5AD5ZPQ/vendors.js",
[...]
