{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-16",
        "endpointPrefix": "ds",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Directory Service",
        "serviceFullName": "AWS Directory Service",
        "serviceId": "Directory Service",
        "signatureVersion": "v4",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "ds-2015-04-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S30"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeClientAuthenticationSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientAuthenticationSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Status": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MPHIJ7Q6YW35C7HLF2U6ZKG6EHJOGHOJ5A3BZMAMRKI4275X5E2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GOFUCLJDINV3Z6K4MZOXPGDJZ4JYHJHJYSNES52YIMGQ5RC7B46Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCAVOP5XSUW3W4A2GHARMUB7QLKLX5MA646RPAGQVE6TNE62JKAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeConditionalForwarders": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConditionalForwarders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RemoteDomainName": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "ReplicationScope": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKGUMF6TEMGPFL67NZDQMUMOXQT7I5AHTVSGBNOJRHT5G5SA76EQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W5B6JWCKO3XY4TPFZCPQJTI2XHCFTBWY62L3V52UDIZWLSDLRUEA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGYMPCO3FCW6U2CVKA6GUJPGXOHG5OMSYI2SJ4FEL3XPHLTZCZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2QN3NBXXLVLSK6YEB22HKLGWDVVNYYD4YPJMEI2QJQQWD4T3BAAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EDX2P2DEL44VDA626XH4EIPHJKH3EZB46WYISL2R4B3PO5NPTVSQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WPL4EUOECR4TSB3UUXUTZJYKOTED4JSPEFNN7PTCIWKMPMGBRC4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5O7RNIFK7QVK6YJHKAF32T2E2QLBRW3OFB42QWODU2ZFILEKMZQA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IE7F5NX7XGJYTPH56IJEQH76FSLAPCHFX4RVI46RX47YV56WXNCQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2MCT65FU6ND3UHOGS477GW3UQVSDXNE5B2EUVG522XATC42GRHBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V7GONRATRACEC7GMWKC4FUWWIQQRG3IBOYZW6JADS5EX3LYCFZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI44TZJC5DXKGQHYMJTUHPI664TSHGV6FR25DOJCSMOTNNDSV6FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ABL3YGTGSEIST7ECHPFKM5LP5X4OMYFET6MJLI6ARRRCSY6JJVQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CABOM5SVQOZVIQOCIUAC7FQN2GTEU26AFR4NRHZWQYWA2NS45UMA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BTMRI7HKPRDP4UYC5HTAEQNNF7ESBNJC5IMCZIPMK64IOAZPN3MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/43VPW2QTNOI6YOEW4XQV657OARWMDZKYITRJXT2QXVHQATENXGEA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MCOOYYLTBEKORM4LAUAJHQZVGST2BLJ3ZCWI6WTZGQXNZVNXB2FQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/32JX5H6WSSX2HJQL7GSVKVYV2YPSEDNZJFIDZRDAP2LOZEV6QMYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "ShortName": {},
                                "Size": {},
                                "Edition": {},
                                "Alias": {},
                                "AccessUrl": {},
                                "Description": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "Stage": {},
                                "ShareStatus": {},
                                "ShareMethod": {},
                                "ShareNotes": {
                                    "shape": "S8"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StageLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "VpcSettings": {
                                    "shape": "S3q"
                                },
                                "ConnectSettings": {
                                    "type": "structure",
                                    "members": {
                                        "VpcId": {},
                                        "SubnetIds": {
                                            "shape": "Sm"
                                        },
                                        "CustomerUserName": {},
                                        "SecurityGroupId": {},
                                        "AvailabilityZones": {
                                            "shape": "S3s"
                                        },
                                        "ConnectIps": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "RadiusSettings": {
                                    "shape": "S3w"
                                },
                                "RadiusStatus": {},
                                "StageReason": {},
                                "SsoEnabled": {
                                    "type": "boolean"
                                },
                                "DesiredNumberOfDomainControllers": {
                                    "type": "integer"
                                },
                                "OwnerDirectoryDescription": {
                                    "type": "structure",
                                    "members": {
                                        "DirectoryId": {},
                                        "AccountId": {},
                                        "DnsIpAddrs": {
                                            "shape": "S15"
                                        },
                                        "VpcSettings": {
                                            "shape": "S3q"
                                        },
                                        "RadiusSettings": {
                                            "shape": "S3w"
                                        },
                                        "RadiusStatus": {}
                                    }
                                },
                                "RegionsInfo": {
                                    "type": "structure",
                                    "members": {
                                        "PrimaryRegion": {},
                                        "AdditionalRegions": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "OsVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WGBMJMTKBHM5JXR2HYF755LVSXZITILBTY6OAVI6Z2Y4UNEQZG6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZK3AIUFYAEVSLIXGUHZRBG6RM7M5C4K4DX3TVGBFWW62P4K6QHQ/vendor-sdk.js",
[...]
