{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-16",
        "endpointPrefix": "ds",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Directory Service",
        "serviceFullName": "AWS Directory Service",
        "serviceId": "Directory Service",
        "signatureVersion": "v4",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "ds-2015-04-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R224BQ67ZOVX5YHKP2A4TZZSWU6TSZR3EI4JDOUVQCV5WFUYAMBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R224BQ67ZOVX5YHKP2A4TZZSWU6TSZR3EI4JDOUVQCV5WFUYAMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S30"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DescribeClientAuthenticationSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientAuthenticationSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Status": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WE6ACHZFQ57DCDBWEZIP26Y5Z5IGO7EQOAFLNT3Q35UC5DSLXNHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R224BQ67ZOVX5YHKP2A4TZZSWU6TSZR3EI4JDOUVQCV5WFUYAMBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js"
            ]
        },
        "DescribeConditionalForwarders": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConditionalForwarders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RemoteDomainName": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "ReplicationScope": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HIXJYLZKSHYRTTCHVTI4UE2ZTNTYFG5QDTQ3YSDFATZ4FOAB3ETA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OZXSIOX5HXCB7YFUNK3F73CCLQA7FH6ZVXMR74S5DK3EHDRLJVA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFNXR4U3A4EOCEGOQZAZE2N65YKER7YD5MZIT2V4QE2F4Q55NNUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YV3AUCTRLG3YV5YRFBUD3AATNKWGRACUP627LMDHPIX523HLWX2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCCAB6RK5EVEBBNNM6K375FY3PVSUJK6ZJLN6H4NKRGN3P32EDTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W3P4HSLV55F4IJMKSGGUORVATGADA3J5SIJQAG3XAQ4SNLVAXWEQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DUUF7GE56TZAX32IEUJDNDVXU4P3LJS7GRKKJDKHKFONSRYNWHQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RPSC5MERV3Y2C7A3GBC3W6NC3HEU6ZPRHUO2NBJMAS5J6ZEAMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GJO5QOAXAATHIIEB5PV6TKXKYEC7DARB2Q765EJ5AS6NCXHXQ2Q/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z6QDBXU5NTK3LIKBFMYI55CNSBLFTGZRVJDRI6NS4YTVR7ZO6DGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CPYPM7MUINNWF42WJGIJF24J366OZS5WOEMB6Z43BD7ET2E4IAFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5ENGY32GUWOWLISDF76OS2GZDBAKF4XYRSOWZUU26IRATPEU3LQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UB5MCIUOOUP4VHVLHPR45ENE5ADZUNHWY3QATEULKUPNFS3MWMTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XLZ2YEDS7Y2ML65AXRFZ6CZREQ2OUTSFSLTESZZTV5EG3VHC5KPA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TWNEO5MFPJ4RWEWYRHIIRROMFBAII3TKGANI2ZXVJKF7X4XWR4QQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HD434GSMJ4ZVETVKFIRY6WYFBP6JKIAEL6QRU2YFCNTOMVVSX2JA/main.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "ShortName": {},
                                "Size": {},
                                "Edition": {},
                                "Alias": {},
                                "AccessUrl": {},
                                "Description": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "Stage": {},
                                "ShareStatus": {},
                                "ShareMethod": {},
                                "ShareNotes": {
                                    "shape": "S8"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StageLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "VpcSettings": {
                                    "shape": "S3q"
                                },
                                "ConnectSettings": {
                                    "type": "structure",
                                    "members": {
                                        "VpcId": {},
                                        "SubnetIds": {
                                            "shape": "Sm"
                                        },
                                        "CustomerUserName": {},
                                        "SecurityGroupId": {},
                                        "AvailabilityZones": {
                                            "shape": "S3s"
                                        },
                                        "ConnectIps": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "RadiusSettings": {
                                    "shape": "S3w"
                                },
                                "RadiusStatus": {},
                                "StageReason": {},
                                "SsoEnabled": {
                                    "type": "boolean"
                                },
                                "DesiredNumberOfDomainControllers": {
                                    "type": "integer"
                                },
                                "OwnerDirectoryDescription": {
                                    "type": "structure",
                                    "members": {
                                        "DirectoryId": {},
                                        "AccountId": {},
                                        "DnsIpAddrs": {
                                            "shape": "S15"
                                        },
                                        "VpcSettings": {
                                            "shape": "S3q"
                                        },
                                        "RadiusSettings": {
                                            "shape": "S3w"
                                        },
                                        "RadiusStatus": {}
                                    }
                                },
                                "RegionsInfo": {
                                    "type": "structure",
                                    "members": {
                                        "PrimaryRegion": {},
                                        "AdditionalRegions": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "OsVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4SBJY4MEDF4W5NVMPWD7D54BJPROHWS27ESONCDNKIJK3PVFJLXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YO4JZUSQPAAOXYSV3FBM37UEW35QOP2HS5U344ZYP3WTYDVHZQCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWEXZR7IQP4E2KP6IO3WZSDM343W3DKW4KWGY6RYTMZXBWVHVX7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMESQ36WHB4CDMBWONX2Z5WVQHX7KUBKOEOA3EB462IWSUPXX5MA/vendors.js",
[...]
