{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-16",
        "endpointPrefix": "ds",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Directory Service",
        "serviceFullName": "AWS Directory Service",
        "serviceId": "Directory Service",
        "signatureVersion": "v4",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "ds-2015-04-16",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S30"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeClientAuthenticationSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientAuthenticationSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Status": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeConditionalForwarders": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConditionalForwarders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RemoteDomainName": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "ReplicationScope": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "ShortName": {},
                                "Size": {},
                                "Edition": {},
                                "Alias": {},
                                "AccessUrl": {},
                                "Description": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "Stage": {},
                                "ShareStatus": {},
                                "ShareMethod": {},
                                "ShareNotes": {
                                    "shape": "S8"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StageLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "VpcSettings": {
                                    "shape": "S3q"
                                },
                                "ConnectSettings": {
                                    "type": "structure",
                                    "members": {
                                        "VpcId": {},
                                        "SubnetIds": {
                                            "shape": "Sm"
                                        },
                                        "CustomerUserName": {},
                                        "SecurityGroupId": {},
                                        "AvailabilityZones": {
                                            "shape": "S3s"
                                        },
                                        "ConnectIps": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "RadiusSettings": {
                                    "shape": "S3w"
                                },
                                "RadiusStatus": {},
                                "StageReason": {},
                                "SsoEnabled": {
                                    "type": "boolean"
                                },
                                "DesiredNumberOfDomainControllers": {
                                    "type": "integer"
                                },
                                "OwnerDirectoryDescription": {
                                    "type": "structure",
                                    "members": {
                                        "DirectoryId": {},
                                        "AccountId": {},
                                        "DnsIpAddrs": {
                                            "shape": "S15"
                                        },
                                        "VpcSettings": {
                                            "shape": "S3q"
                                        },
                                        "RadiusSettings": {
                                            "shape": "S3w"
                                        },
                                        "RadiusStatus": {}
                                    }
                                },
                                "RegionsInfo": {
                                    "type": "structure",
                                    "members": {
                                        "PrimaryRegion": {},
                                        "AdditionalRegions": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "OsVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeDomainControllers": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "DomainControllerIds": {
                        "type": "list",
                        "member": {}
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainControllers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "DomainControllerId": {},
                                "DnsIpAddr": {},
                                "VpcId": {},
                                "SubnetId": {},
                                "AvailabilityZone": {},
                                "Status": {},
                                "StatusReason": {},
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StatusLastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeEventTopics": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "TopicNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventTopics": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "TopicName": {},
                                "TopicArn": {},
                                "CreatedDateTime": {
                                    "type": "timestamp"
                                },
                                "Status": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeLDAPSSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LDAPSSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "LDAPSStatus": {},
                                "LDAPSStatusReason": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBZE25ETCV4OQBQIPQDJTRSYLEQSXYFHYBVJ72MIDE5YIQTSMZKQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeRegions": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RegionsDescription": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "RegionName": {},
                                "RegionType": {},
                                "Status": {},
                                "VpcSettings": {
                                    "shape": "Sk"
                                },
                                "DesiredNumberOfDomainControllers": {
                                    "type": "integer"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StatusLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PHWOGBC5BRZ7O5Z3RHGNEI5WZ64BWRLVCZCMBI4LBU522Z4CHPMA/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Status": {},
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "SettingEntries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Name": {},
                                "AllowedValues": {},
                                "AppliedValue": {},
                                "RequestedValue": {},
                                "RequestStatus": {},
                                "RequestDetailedStatus": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "RequestStatusMessage": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "LastRequestedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/65QTBZEXZCKCW4NFK77JDFJCC2JTGTLQ4FUJFYR5LIPFVZLCVVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUNIFJVPYZHB7NO7A5327USEKJJNDUK27UPEP6QWNFQEOXNJ2GTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/D76DDFJ4UNU4LZFNAT5E2PCETHVDC37I7I3SWPAJKJBOL4H3DUCA/vendors.js"
            ]
        },
        "DescribeSharedDirectories": {
            "input": {
                "type": "structure",
                "required": [
                    "OwnerDirectoryId"
                ],
                "members": {
                    "OwnerDirectoryId": {},
                    "SharedDirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectories": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYGYPYOXYCJR7KQDLYTSO22T5M3VRPSQF7J5BT22DBKU4C2WLS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D775AABTYGBKJ6R5EKTXUZYV5MHIQJMLU2QAM6FOPBCXQKRBHYUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHFAYMWC2EZLOZYHRCNNVESUSBU2BM3GEI4CCPZ7HR44RD77UJZQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IY5NR2P2J5EYEQX762MIMM4XM4JMTGQHMW363MO4OQF3GB3KM4QQ/vendor-sdk.js",
[...]
