{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-16",
        "endpointPrefix": "ds",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Directory Service",
        "serviceFullName": "AWS Directory Service",
        "serviceId": "Directory Service",
        "signatureVersion": "v4",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "ds-2015-04-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C75DTQBUG2GU3R5XE52SZVWXSY4T6ZYI3CCDZMGPK45HQLJ52VGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S30"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DescribeClientAuthenticationSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientAuthenticationSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Status": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3UVIPQDOJ4DRLGO46MLKXW55TGX3SI3BCDDIVHLFMPCFWSY72RSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXSNUINEVPGPPAIAZ4H4CPSSY6HAC3BZPB6WWGA3WXVQ46FFDEPA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3BLFHV7AGN2KINF6WSSFY3AYJ7L6A6BDER64BI5MD7ITDR4K2LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C75DTQBUG2GU3R5XE52SZVWXSY4T6ZYI3CCDZMGPK45HQLJ52VGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZA2RA4YTKE7CYEPLHHY4QAOWSMFQJOCCBPQMCVKKPKHV7QESOX3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DescribeConditionalForwarders": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConditionalForwarders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RemoteDomainName": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "ReplicationScope": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLZPB7S2OZSGQLEID5U6ECYLGYLE335R3VFBVCRKDGBPWHLKXS7Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFEFNHLHPSYNH2EQKZJH5MKTN4M4JIALM3CUNIJSBRI4GS5KIPLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N3WYKTANBYZATCEWRSMCFG7A36M7ZLGHBR3MCPR6WULTT6JCBGYA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQHIS7Y2I6ONNZFSNXQP6FHYB4HIK2MIDPWCS3MQG7NZBPJXVOGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IXFCD63UJ2CRLCORNEJGOD4JGYPABSAQR5323GAPIKVRBIOL2QRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GGR6BDXVFHKMIJY4TTHCBDL2C67UIGPXHJ6D4HOOOUGFKOQYFUZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L43DKA6Q2XOZTXXMHFMLNHEM52WSZPSD2Y2LYOBI34AHHQ2NLUXA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CKQZL4Q3RASFJ464AQDTHXK2XQKAHLDG27QNTVAWD2UYEDG4FHGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6DXL4FJ6ZNUTVRI2MWU43R2TYSUCCWL3XYIF77XQXSIUNVDX2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/42WAUS2WV7474GFZBXMMFUMJLQWTXFFSWSTI5FTYF6F5PSNWNG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHYQCHRKU7GNTAXYOLTOJCEVGBSOPE3M46UIUTI35LDCPL2FJHNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GIKJQRMQQLDQJFMMSUMA6NGRGPI6KKZI226QL4WFE32RQFIZ7FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VDQAD4DWMQQX5Z3XSSVTTGWPT5UKL6IBT2ALAQ7SMA3LMI5XDDFA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DSOPJ6MYCZVJ7VYH5JMG53IBGCAWQTZ3WO6F7TYX76YOSLM75BKA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B2I6NKCOCVU63MDXUYPZAT4DWJI5CXAOJNONRF3OQSND6OBSUTIQ/vendors.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "ShortName": {},
                                "Size": {},
                                "Edition": {},
                                "Alias": {},
                                "AccessUrl": {},
                                "Description": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "Stage": {},
                                "ShareStatus": {},
                                "ShareMethod": {},
                                "ShareNotes": {
                                    "shape": "S8"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StageLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "VpcSettings": {
                                    "shape": "S3q"
                                },
                                "ConnectSettings": {
                                    "type": "structure",
                                    "members": {
                                        "VpcId": {},
                                        "SubnetIds": {
                                            "shape": "Sm"
                                        },
                                        "CustomerUserName": {},
                                        "SecurityGroupId": {},
                                        "AvailabilityZones": {
                                            "shape": "S3s"
                                        },
                                        "ConnectIps": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "RadiusSettings": {
                                    "shape": "S3w"
                                },
                                "RadiusStatus": {},
                                "StageReason": {},
                                "SsoEnabled": {
                                    "type": "boolean"
                                },
                                "DesiredNumberOfDomainControllers": {
                                    "type": "integer"
                                },
                                "OwnerDirectoryDescription": {
                                    "type": "structure",
                                    "members": {
                                        "DirectoryId": {},
                                        "AccountId": {},
                                        "DnsIpAddrs": {
                                            "shape": "S15"
                                        },
                                        "VpcSettings": {
                                            "shape": "S3q"
                                        },
                                        "RadiusSettings": {
                                            "shape": "S3w"
                                        },
                                        "RadiusStatus": {}
                                    }
                                },
                                "RegionsInfo": {
                                    "type": "structure",
                                    "members": {
                                        "PrimaryRegion": {},
                                        "AdditionalRegions": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "OsVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZR3NGLMQVNE44JZWLI7RITCN336G54PZBWSCV7TXDOGIGTLNALA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4TLDZYLFJEMF4CSHOM4MELYLCOOGOWJQHIT7EJUIGBYBG5KMHMMA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZL2DJ5K6B2PXZQ2O4CMFETNNO4HWMJ36BAJDNF2XK7PM2VLDG7SQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5SOUHJ7WNK6VARU26BOKSNCSE3AFWKQELCESK3YNO2ZA3TTIPJ5Q/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXBFQVAXBDPNGIOBC4KRV7VIN3MKBSZQN5742ZQUJXYPMG7CO3FA/vendors.js",
[...]
