{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-16",
        "endpointPrefix": "ds",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Directory Service",
        "serviceFullName": "AWS Directory Service",
        "serviceId": "Directory Service",
        "signatureVersion": "v4",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "ds-2015-04-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S30"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeClientAuthenticationSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientAuthenticationSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Status": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D7QNVWY3VYKPN3BEBBQ25ZKPVZXOF4MO3UF7QG56AHJJPKGGUC2A/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeConditionalForwarders": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConditionalForwarders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RemoteDomainName": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "ReplicationScope": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26X7O4UZB7J6N3VWPIQM2OBUAJIFZ26OPRHB7M2Q3T3ZEY3CNOAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7BZIAS54RGTANCQ7WRBDJ7ASEQRAVHG35QHBI3MTB7Q4URENBJUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHRPJZU4KSU6C2YTTANCCNWXP3I3CGN2CRQKSYUEELEC5XRINF6A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KHMDUCOWVKH3YTBLKV7WSG64IX2MVSOV74IVZNR2PDXJPKTRZIUQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2YXVAZ7XKBSIH6XYCSRZKYRQTCM7KFWOAF2IB2N4D4KVSLLZZKZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJUQ2ZPZ352M73M64BTRCHEMSU4R7RJAIDBFQMG6GXPMX7JWLICA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZQK67FIDYRCBUQWXRD5VGKMNWMKTAI2DDCK63GHLRS7BGOMHMZAA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MQMRDOR5IH7X2REJCLDF6Z3D2QH3N37CPOZEXKUUCCNVQ4DHXN7A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYSL7QNEZMTLR2GFXXNEKHCW4NOJLTIMYBUF6MWZJFKYDIJ6QITA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7FZNDIS2GG6AYLX54DWCMTPCDIEX7UBKGTPRYRXEDLVKXQNHPYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DF6SOVIFLEJ7RYVCTII3DRPGUU3EZ6VOCZW5PXCRBQNQ2XNU57QA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TKIBK5NJI54GBQSQKN74P5NRY73VNCPULQYHWWNGZQUXRSTU33CQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTAKAQGWTBRVGFB3IOQWJXKXYDBNO7JC2UQOTC3QOKJS3JKE3O7Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ADXOFQZTGBIG4FVRE7L7OGGOKAEGUTRXQ6L3CQYKYQWNGHXTZ23Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IEDGPMWMOXOBOIPRHY6M7XCVFTYFIA5Z7GLZC7M7WD4J3HGDSMYA/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DIRMUG67FA2VQJHOOO6ROXVLE65YVPN5WQKQXCRBGU7EDIZNM4Q/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EAQV7W666CELKT3RNPK2HNJL6VHQBWFTNTH6O4ROHMQTZHWADSSQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QFVEFSMQBHKDWULZ4L6FPESO4K5P4NT76F7PPLQJ6ZABGCBESOOA/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XACHYLMZTU5T3RHBDRVPN3347IFAPGRYDCBVRI52LQ4I6N6YTL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CRBD23IA4XVXWMDNLVJYUIAX3TPZAZYJGNYYVJUHEOEBPIO3YTVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "ShortName": {},
                                "Size": {},
                                "Edition": {},
                                "Alias": {},
                                "AccessUrl": {},
                                "Description": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "Stage": {},
                                "ShareStatus": {},
                                "ShareMethod": {},
                                "ShareNotes": {
                                    "shape": "S8"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StageLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
[...]
