{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-04-16",
        "endpointPrefix": "ds",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "Directory Service",
        "serviceFullName": "AWS Directory Service",
        "serviceId": "Directory Service",
        "signatureVersion": "v4",
        "targetPrefix": "DirectoryService_20150416",
        "uid": "ds-2015-04-16",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A6SKLNLWSBDHFXX7MFHMF5GCUMTFGNWWD5IIQLPDOLK5C5ONWTTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
        ]
    },
    "operations": {
        "AcceptSharedDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "SharedDirectoryId"
                ],
                "members": {
                    "SharedDirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SharedDirectory": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "AddIpRoutes": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "IpRoutes"
                ],
                "members": {
                    "DirectoryId": {},
                    "IpRoutes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "CidrIp": {},
                                "Description": {}
                            }
                        }
                    },
                    "UpdateSecurityGroupForDirectoryControllers": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "AddRegion": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RegionName",
                    "VPCSettings"
                ],
                "members": {
                    "DirectoryId": {},
                    "RegionName": {},
                    "VPCSettings": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A6SKLNLWSBDHFXX7MFHMF5GCUMTFGNWWD5IIQLPDOLK5C5ONWTTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js"
            ]
        },
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceId",
                    "Tags"
                ],
                "members": {
                    "ResourceId": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CancelSchemaExtension": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "SchemaExtensionId"
                ],
                "members": {
                    "DirectoryId": {},
                    "SchemaExtensionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "ConnectDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size",
                    "ConnectSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S12"
                    },
                    "Description": {},
                    "Size": {},
                    "ConnectSettings": {
                        "type": "structure",
                        "required": [
                            "VpcId",
                            "SubnetIds",
                            "CustomerDnsIps",
                            "CustomerUserName"
                        ],
                        "members": {
                            "VpcId": {},
                            "SubnetIds": {
                                "shape": "Sm"
                            },
                            "CustomerDnsIps": {
                                "shape": "S15"
                            },
                            "CustomerUserName": {}
                        }
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateAlias": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "Alias"
                ],
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {},
                    "Alias": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateComputer": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "ComputerName",
                    "Password"
                ],
                "members": {
                    "DirectoryId": {},
                    "ComputerName": {},
                    "Password": {
                        "type": "string",
                        "sensitive": true
                    },
                    "OrganizationalUnitDistinguishedName": {},
                    "ComputerAttributes": {
                        "shape": "S1g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Computer": {
                        "type": "structure",
                        "members": {
                            "ComputerId": {},
                            "ComputerName": {},
                            "ComputerAttributes": {
                                "shape": "S1g"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "DnsIpAddrs"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "DnsIpAddrs": {
                        "shape": "S15"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "Size"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "Size": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "LogGroupName"
                ],
                "members": {
                    "DirectoryId": {},
                    "LogGroupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateMicrosoftAD": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Password",
                    "VpcSettings"
                ],
                "members": {
                    "Name": {},
                    "ShortName": {},
                    "Password": {
                        "shape": "S1r"
                    },
                    "Description": {},
                    "VpcSettings": {
                        "shape": "Sk"
                    },
                    "Edition": {},
                    "Tags": {
                        "shape": "Sr"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "CreateTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName",
                    "TrustPassword",
                    "TrustDirection"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {},
                    "TrustPassword": {
                        "type": "string",
                        "sensitive": true
                    },
                    "TrustDirection": {},
                    "TrustType": {},
                    "ConditionalForwarderIpAddrs": {
                        "shape": "S15"
                    },
                    "SelectiveAuth": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeleteConditionalForwarder": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "RemoteDomainName"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeleteDirectory": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeleteLogSubscription": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SnapshotId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeleteTrust": {
            "input": {
                "type": "structure",
                "required": [
                    "TrustId"
                ],
                "members": {
                    "TrustId": {},
                    "DeleteAssociatedConditionalForwarder": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TrustId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeregisterCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DeregisterEventTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "TopicName"
                ],
                "members": {
                    "DirectoryId": {},
                    "TopicName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DescribeCertificate": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId",
                    "CertificateId"
                ],
                "members": {
                    "DirectoryId": {},
                    "CertificateId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Certificate": {
                        "type": "structure",
                        "members": {
                            "CertificateId": {},
                            "State": {},
                            "StateReason": {},
                            "CommonName": {},
                            "RegisteredDateTime": {
                                "type": "timestamp"
                            },
                            "ExpiryDateTime": {
                                "type": "timestamp"
                            },
                            "Type": {},
                            "ClientCertAuthSettings": {
                                "shape": "S30"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DescribeClientAuthenticationSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "Type": {},
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ClientAuthenticationSettingsInfo": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Type": {},
                                "Status": {},
                                "LastUpdatedDateTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6VVKGMHQ7IYVXB6WCBWSHOGRH5BYT4AID4G4DT6RLDVDBQR7J47A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZYR5IUAPQE2KADS7T5GQLCDTHJQM2JIU2PXZRRZ5XUHQ2WZIFOQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js"
            ]
        },
        "DescribeConditionalForwarders": {
            "input": {
                "type": "structure",
                "required": [
                    "DirectoryId"
                ],
                "members": {
                    "DirectoryId": {},
                    "RemoteDomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConditionalForwarders": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "RemoteDomainName": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "ReplicationScope": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XWEZHFX322BQBC3HNNYEKP6IP3YBE66MCVPNYA7PVIG2ECKRIGVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4MYQZDGZSHWGWGVHPAACJRZHUSW4LN3Y2C7UZLRAACK2X63UZZDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PAJHZ6UDQY22ATJTUS5U6CHVVWUI4Z2UM2IXYARQZEP52YDGMUMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NILZY3JFTCO3FLGHDBV53UECNEYVNEXVFGZAL3ZT3XG5PNOI6KOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2EDNEF4ARW6NYBSVKX7YBFNSV6BUW5XFNASQ5LTA7R2X3UTBT6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75A2CVGD2YKU774SFIPORFCFQNPCVNFRLWBGOCKPPZNG3N3UAAQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J75BFKMXGJZ44TQOXDA53EPYGFYMMCNDUKJEAJWESXWNJR57KNXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5RZRLYUC5YW4L7KEH2EIVSWO5QDNVSC5RLHNXSG7D3LVPPRJZKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/63IE42NDSVGKPDPVGPWBME7DSHG3RMIYOQQVFQ6PIUVQD6LFFXCQ/vendor-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L3O4YKYMYM5NKUCHSARH6KCYF3K26UHNCUUHD5QID6N26X47FN4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DTCS3AEXHMYRZ2K4FUVTAW6HQOON4N53DHMHMX42NE2VZ57AGY6Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYEQAT4A2F6W5WTOPWKWI3BCIOBOV5HJS5CAXKYXKR7Q2DTWUHGA/vendors.js"
            ]
        },
        "DescribeDirectories": {
            "input": {
                "type": "structure",
                "members": {
                    "DirectoryIds": {
                        "shape": "S3h"
                    },
                    "NextToken": {},
                    "Limit": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DirectoryDescriptions": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "DirectoryId": {},
                                "Name": {},
                                "ShortName": {},
                                "Size": {},
                                "Edition": {},
                                "Alias": {},
                                "AccessUrl": {},
                                "Description": {},
                                "DnsIpAddrs": {
                                    "shape": "S15"
                                },
                                "Stage": {},
                                "ShareStatus": {},
                                "ShareMethod": {},
                                "ShareNotes": {
                                    "shape": "S8"
                                },
                                "LaunchTime": {
                                    "type": "timestamp"
                                },
                                "StageLastUpdatedDateTime": {
                                    "type": "timestamp"
                                },
                                "Type": {},
                                "VpcSettings": {
                                    "shape": "S3q"
                                },
                                "ConnectSettings": {
                                    "type": "structure",
                                    "members": {
                                        "VpcId": {},
                                        "SubnetIds": {
                                            "shape": "Sm"
                                        },
                                        "CustomerUserName": {},
                                        "SecurityGroupId": {},
                                        "AvailabilityZones": {
                                            "shape": "S3s"
                                        },
                                        "ConnectIps": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "RadiusSettings": {
                                    "shape": "S3w"
                                },
                                "RadiusStatus": {},
                                "StageReason": {},
                                "SsoEnabled": {
                                    "type": "boolean"
                                },
                                "DesiredNumberOfDomainControllers": {
                                    "type": "integer"
                                },
                                "OwnerDirectoryDescription": {
                                    "type": "structure",
                                    "members": {
                                        "DirectoryId": {},
                                        "AccountId": {},
                                        "DnsIpAddrs": {
                                            "shape": "S15"
                                        },
                                        "VpcSettings": {
                                            "shape": "S3q"
                                        },
                                        "RadiusSettings": {
                                            "shape": "S3w"
                                        },
                                        "RadiusStatus": {}
                                    }
                                },
                                "RegionsInfo": {
                                    "type": "structure",
                                    "members": {
                                        "PrimaryRegion": {},
                                        "AdditionalRegions": {
                                            "type": "list",
                                            "member": {}
                                        }
                                    }
                                },
                                "OsVersion": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FDX6GQ5OUTUQJCABFUFRAMTP3LC4NJVVULBC3HAGNSSPQBT2MJTQ/vendor.sdk.js",
[...]
