{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2012-08-10",
        "endpointPrefix": "dynamodb",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "DynamoDB",
        "serviceFullName": "Amazon DynamoDB",
        "serviceId": "DynamoDB",
        "signatureVersion": "v4",
        "targetPrefix": "DynamoDB_20120810",
        "uid": "dynamodb-2012-08-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
        ]
    },
    "operations": {
        "BatchExecuteStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Statements"
                ],
                "members": {
                    "Statements": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Statement"
                            ],
                            "members": {
                                "Statement": {},
                                "Parameters": {
                                    "shape": "S5"
                                },
                                "ConsistentRead": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "ReturnConsumedCapacity": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Responses": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Error": {
                                    "type": "structure",
                                    "members": {
                                        "Code": {},
                                        "Message": {}
                                    }
                                },
                                "TableName": {},
                                "Item": {
                                    "shape": "Sq"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "BatchGetItem": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestItems"
                ],
                "members": {
                    "RequestItems": {
                        "shape": "Ss"
                    },
                    "ReturnConsumedCapacity": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Responses": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "shape": "S13"
                        }
                    },
                    "UnprocessedKeys": {
                        "shape": "Ss"
                    },
                    "ConsumedCapacity": {
                        "shape": "S14"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "BatchWriteItem": {
            "input": {
                "type": "structure",
                "required": [
                    "RequestItems"
                ],
                "members": {
                    "RequestItems": {
                        "shape": "S1b"
                    },
                    "ReturnConsumedCapacity": {},
                    "ReturnItemCollectionMetrics": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "UnprocessedItems": {
                        "shape": "S1b"
                    },
                    "ItemCollectionMetrics": {
                        "shape": "S1j"
                    },
                    "ConsumedCapacity": {
                        "shape": "S14"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName",
                    "BackupName"
                ],
                "members": {
                    "TableName": {},
                    "BackupName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupDetails": {
                        "shape": "S1s"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateGlobalTable": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalTableName",
                    "ReplicationGroup"
                ],
                "members": {
                    "GlobalTableName": {},
                    "ReplicationGroup": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalTableDescription": {
                        "shape": "S24"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "CreateTable": {
            "input": {
                "type": "structure",
                "required": [
                    "AttributeDefinitions",
                    "TableName",
                    "KeySchema"
                ],
                "members": {
                    "AttributeDefinitions": {
                        "shape": "S2i"
                    },
                    "TableName": {},
                    "KeySchema": {
                        "shape": "S2m"
                    },
                    "LocalSecondaryIndexes": {
                        "shape": "S2p"
                    },
                    "GlobalSecondaryIndexes": {
                        "shape": "S2v"
                    },
                    "BillingMode": {},
                    "ProvisionedThroughput": {
                        "shape": "S2x"
                    },
                    "StreamSpecification": {
                        "shape": "S2z"
                    },
                    "SSESpecification": {
                        "shape": "S32"
                    },
                    "Tags": {
                        "shape": "S35"
                    },
                    "TableClass": {},
                    "DeletionProtectionEnabled": {
                        "type": "boolean"
                    },
                    "TableThroughputMode": {},
                    "Replicas": {
                        "shape": "S4k"
                    },
                    "ReplicaCreations": {
                        "type": "list",
                        "member": {
                            "shape": "S4s"
                        }
                    },
                    "ResourcePolicy": {},
                    "TableId": {},
                    "OnDemandThroughput": {
                        "shape": "S3a"
                    },
                    "WarmThroughput": {
                        "shape": "S3c"
                    },
                    "GlobalTableMetadataSpecification": {
                        "type": "structure",
                        "members": {
                            "StronglyConsistentReplicationGeneration": {
                                "type": "long"
                            },
                            "StronglyConsistentReplicationStartMaxWriteTimeInMicros": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableDescription": {
                        "shape": "S3a"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupArn"
                ],
                "members": {
                    "BackupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupDescription": {
                        "shape": "S3y"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteItem": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName",
                    "Key"
                ],
                "members": {
                    "TableName": {},
                    "Key": {
                        "shape": "Sv"
                    },
                    "Expected": {
                        "shape": "S4b"
                    },
                    "ConditionalOperator": {},
                    "ReturnValues": {},
                    "ReturnConsumedCapacity": {},
                    "ReturnItemCollectionMetrics": {},
                    "ConditionExpression": {},
                    "ExpressionAttributeNames": {
                        "shape": "Sy"
                    },
                    "ExpressionAttributeValues": {
                        "shape": "S4j"
                    },
                    "ReturnValuesOnConditionCheckFailure": {},
                    "WorkloadProfileName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Attributes": {
                        "shape": "Sq"
                    },
                    "ConsumedCapacity": {
                        "shape": "S15"
                    },
                    "ItemCollectionMetrics": {
                        "shape": "S1l"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DeleteTable": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {},
                    "TableId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableDescription": {
                        "shape": "S3a"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeBackup": {
            "input": {
                "type": "structure",
                "required": [
                    "BackupArn"
                ],
                "members": {
                    "BackupArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "BackupDescription": {
                        "shape": "S3y"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeContinuousBackups": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ContinuousBackupsDescription": {
                        "shape": "S4s"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeContributorInsights": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {},
                    "IndexName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableName": {},
                    "IndexName": {},
                    "ContributorInsightsRuleList": {
                        "type": "list",
                        "member": {}
                    },
                    "ContributorInsightsStatus": {},
                    "LastUpdateDateTime": {
                        "type": "timestamp"
                    },
                    "FailureException": {
                        "type": "structure",
                        "members": {
                            "ExceptionName": {},
                            "ExceptionDescription": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeEndpoints": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "required": [
                    "Endpoints"
                ],
                "members": {
                    "Endpoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Address",
                                "CachePeriodInMinutes"
                            ],
                            "members": {
                                "Address": {},
                                "CachePeriodInMinutes": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "endpointoperation": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeExport": {
            "input": {
                "type": "structure",
                "required": [
                    "ExportArn"
                ],
                "members": {
                    "ExportArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ExportDescription": {
                        "shape": "S5c"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeGlobalTable": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalTableName"
                ],
                "members": {
                    "GlobalTableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalTableDescription": {
                        "shape": "S24"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeGlobalTableSettings": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalTableName"
                ],
                "members": {
                    "GlobalTableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "GlobalTableName": {},
                    "ReplicaSettings": {
                        "shape": "S5w"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeKinesisStreamingDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableName": {},
                    "KinesisDataStreamDestinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "StreamArn": {},
                                "DestinationStatus": {},
                                "DestinationStatusDescription": {}
                            }
                        }
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeLimits": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "AccountMaxReadCapacityUnits": {
                        "type": "long"
                    },
                    "AccountMaxWriteCapacityUnits": {
                        "type": "long"
                    },
                    "TableMaxReadCapacityUnits": {
                        "type": "long"
                    },
                    "TableMaxWriteCapacityUnits": {
                        "type": "long"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeTable": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Table": {
                        "shape": "S3a"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeTableReplicaAutoScaling": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TableAutoScalingDescription": {
                        "shape": "S6i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DescribeTimeToLive": {
            "input": {
                "type": "structure",
                "required": [
                    "TableName"
                ],
                "members": {
                    "TableName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "TimeToLiveDescription": {
                        "shape": "S47"
                    }
                }
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSW5R5KY5T7YHNR2YVWW74622G2XER4IXZ4BWQB3FPYDGLA4KN7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "DisableKinesisStreamingDestination": {
            "input": {
                "shape": "S6p"
            },
            "output": {
                "shape": "S6q"
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "EnableKinesisStreamingDestination": {
            "input": {
                "shape": "S6p"
            },
            "output": {
                "shape": "S6q"
            },
            "endpointdiscovery": {},
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJP4W4SGBFMIR2I2AIMHA2YH3JSVASCS37EZHPLSZAF7NJUT6S7Q/vendors.js"
            ]
        },
        "ExecuteStatement": {
            "input": {
                "type": "structure",
                "required": [
                    "Statement"
                ],
                "members": {
                    "Statement": {},
                    "Parameters": {
                        "shape": "S5"
                    },
                    "ConsistentRead": {
                        "type": "boolean"
                    },
                    "NextToken": {},
                    "ReturnConsumedCapacity": {},
                    "Limit": {
                        "type": "integer"
                    },
                    "ReturnValuesOnConditionCheckFailure": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Items": {
                        "shape": "S13"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ACDUE5BLJDFC6Y6Z6AWR2XCYEWMOQXHJAQIAMEO45WJOUEZ5QMLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RCYYBUS4C4PPBZWCBOXEBPTA2M52GS3G5NS7JDY6ITOBJV3WAKTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TLKLTMAM3NFYTVJ6CBOL4WDZ6K74MLI5CLRYUT5BY2V2NNKBXKSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G27WLE36TD6Y6EAMKZUOC7DZXNVEP2OJ7A6UZBJT2E2NO62VVG2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7FAAVGBLPNSSIBH5GF5YXV57IZ3TQVRKDMUYYVO4ZWYSI5XLPUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WVFU367HZSYD477AFZLCSVZHRFCOM7XVQBVVRWIS2WC2IYEI4CSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4RZBR5EVKCFU55SHJITZ3N5IZSGJ7H46V3IUYVSTOL2SXJPFO3Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LOJPGLZBWO7NKGA2KNCPMDNLABR2EXYLASCK43EWG2GD7UTGUI4A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UGJPVOQZGJBAK6LKJIZI5KKSJRKI72NZEUOH5C2ZZXFCZXT5W7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6NCKZG6KR5CBXWVYLLMM2R6FYUEDEQ4SUFNAHKBMHE52S77KPQJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CTQRF5UXQRX3L6QN73KLVUTUM5HJ4MWWOO6C7ULRK62PPF6MNCCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ISOLQWH3H66IBM32GRR5ZJNPQ6DVX3PPZIVBKFQ4Z2FUUIEYDSAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GHJ2NJGKPILISQJZVLB6SRZ5U46AMLOUBRSJOSGLQYN6DI26YAJA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5GBH2A3SPKX6KHA46JM2O5K7BHEEU7SGIQFIDTBDV7ZDWFELXL2Q/bundle.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TT7C43LLCGQPMUW4LFOPUZFSAZYF66325Y6VMYA7DTMAAAIPC2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRWS2EEZIMAFNLIC44AMKYCCT5H6PYX7VB3PZLYQKC4BUDSV7TZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMPJXA3RWQIEZTCLRA7FN2OHNIGNPTWKVAVI6UH5HNMWO66ORKJQ/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4YPQGCNRYPTNC4P2IV7WHLKTDHCSURDPDMJZLSNGQIUHQ4QKADQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57HQU34C3VLRSUJPQ54NLKXJ5D7FEMYA7DPHI47GYUOOBLTRRAQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XJOFDG22JZY2JJMQLYKUYY6WPD3MQR6ISCJF3OH44WKQRFUSJKMQ/vendors.js",
[...]
