{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-11-02",
        "endpointPrefix": "ebs",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon EBS",
        "serviceFullName": "Amazon Elastic Block Store",
        "serviceId": "EBS",
        "signatureVersion": "v4",
        "uid": "ebs-2019-11-02",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "CompleteSnapshot": {
            "http": {
                "requestUri": "/snapshots/completion/{snapshotId}",
                "responseCode": 202
            },
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId",
                    "ChangedBlocksCount"
                ],
                "members": {
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "snapshotId"
                    },
                    "ChangedBlocksCount": {
                        "location": "header",
                        "locationName": "x-amz-ChangedBlocksCount",
                        "type": "integer"
                    },
                    "Checksum": {
                        "location": "header",
                        "locationName": "x-amz-Checksum"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-Checksum-Algorithm"
                    },
                    "ChecksumAggregationMethod": {
                        "location": "header",
                        "locationName": "x-amz-Checksum-Aggregation-Method"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "GetSnapshotBlock": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots/{snapshotId}/blocks/{blockIndex}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId",
                    "BlockIndex",
                    "BlockToken"
                ],
                "members": {
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "snapshotId"
                    },
                    "BlockIndex": {
                        "location": "uri",
                        "locationName": "blockIndex",
                        "type": "integer"
                    },
                    "BlockToken": {
                        "location": "querystring",
                        "locationName": "blockToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DataLength": {
                        "location": "header",
                        "locationName": "x-amz-Data-Length",
                        "type": "integer"
                    },
                    "BlockData": {
                        "shape": "Se"
                    },
                    "Checksum": {
                        "location": "header",
                        "locationName": "x-amz-Checksum"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-Checksum-Algorithm"
                    }
                },
                "payload": "BlockData"
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListChangedBlocks": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots/{secondSnapshotId}/changedblocks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SecondSnapshotId"
                ],
                "members": {
                    "FirstSnapshotId": {
                        "location": "querystring",
                        "locationName": "firstSnapshotId"
                    },
                    "SecondSnapshotId": {
                        "location": "uri",
                        "locationName": "secondSnapshotId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "pageToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "StartingBlockIndex": {
                        "location": "querystring",
                        "locationName": "startingBlockIndex",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangedBlocks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BlockIndex": {
                                    "type": "integer"
                                },
                                "FirstBlockToken": {},
                                "SecondBlockToken": {}
                            },
                            "sensitive": true
                        }
                    },
                    "ExpiryTime": {
                        "type": "timestamp"
                    },
                    "VolumeSize": {
                        "type": "long"
                    },
                    "BlockSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListSnapshotBlocks": {
            "http": {
                "method": "GET",
                "requestUri": "/snapshots/{snapshotId}/blocks"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId"
                ],
                "members": {
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "snapshotId"
                    },
                    "NextToken": {
                        "location": "querystring",
                        "locationName": "pageToken"
                    },
                    "MaxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "StartingBlockIndex": {
                        "location": "querystring",
                        "locationName": "startingBlockIndex",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Blocks": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "BlockIndex": {
                                    "type": "integer"
                                },
                                "BlockToken": {}
                            }
                        },
                        "sensitive": true
                    },
                    "ExpiryTime": {
                        "type": "timestamp"
                    },
                    "VolumeSize": {
                        "type": "long"
                    },
                    "BlockSize": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "PutSnapshotBlock": {
            "http": {
                "method": "PUT",
                "requestUri": "/snapshots/{snapshotId}/blocks/{blockIndex}",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotId",
                    "BlockIndex",
                    "BlockData",
                    "DataLength",
                    "Checksum",
                    "ChecksumAlgorithm"
                ],
                "members": {
                    "SnapshotId": {
                        "location": "uri",
                        "locationName": "snapshotId"
                    },
                    "BlockIndex": {
                        "location": "uri",
                        "locationName": "blockIndex",
                        "type": "integer"
                    },
                    "BlockData": {
                        "shape": "Se"
                    },
                    "DataLength": {
                        "location": "header",
                        "locationName": "x-amz-Data-Length",
                        "type": "integer"
                    },
                    "Progress": {
                        "location": "header",
                        "locationName": "x-amz-Progress",
                        "type": "integer"
                    },
                    "Checksum": {
                        "location": "header",
                        "locationName": "x-amz-Checksum"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-Checksum-Algorithm"
                    }
                },
                "payload": "BlockData"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Checksum": {
                        "location": "header",
                        "locationName": "x-amz-Checksum"
                    },
                    "ChecksumAlgorithm": {
                        "location": "header",
                        "locationName": "x-amz-Checksum-Algorithm"
                    }
                }
            },
            "authtype": "v4-unsigned-body",
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "StartSnapshot": {
            "http": {
                "requestUri": "/snapshots",
                "responseCode": 201
            },
            "input": {
                "type": "structure",
                "required": [
                    "VolumeSize"
                ],
                "members": {
                    "VolumeSize": {
                        "type": "long"
                    },
                    "ParentSnapshotId": {},
                    "Tags": {
                        "shape": "Sw"
                    },
                    "Description": {},
                    "ClientToken": {
                        "idempotencyToken": true
                    },
                    "Encrypted": {
                        "type": "boolean"
                    },
                    "KmsKeyArn": {
                        "shape": "S13"
                    },
                    "Timeout": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Description": {},
                    "SnapshotId": {},
                    "OwnerId": {},
                    "Status": {},
                    "StartTime": {
                        "type": "timestamp"
                    },
                    "VolumeSize": {
                        "type": "long"
                    },
                    "BlockSize": {
                        "type": "integer"
                    },
                    "Tags": {
                        "shape": "Sw"
                    },
                    "ParentSnapshotId": {},
                    "KmsKeyArn": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "blob",
            "sensitive": true,
            "streaming": true
        },
        "Sw": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "Value": {}
                }
            }
        },
        "S13": {
            "type": "string",
            "sensitive": true
        }
    }
}