{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-02",
        "endpointPrefix": "ec2-instance-connect",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "EC2 Instance Connect",
        "serviceFullName": "AWS EC2 Instance Connect",
        "serviceId": "EC2 Instance Connect",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEC2InstanceConnectService",
        "uid": "ec2-instance-connect-2018-04-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NROT57ILMMG67TDRMPI3SKE2WKNZRLQ3O47FWJCF2OXEQ424F7WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FISVKNKDLCJFTEVLCYK6PL2HQKJIVP4G7H5BNG2FM2JZMRGRC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q73XRB5NXYFQ6O4ZQ6UFBD5PR6LKABDRJQIJQJTL6DPOOOGKZQZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGAMPIDRMD5CGCLXRNDILWZGCFI5UYSK7KFOYSDXN5ZBZGEWJU2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OD5XCRPUDWOVERSR3DPPLG2WFGB3AZ34T32G6UMQM2TUX54CQ2BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNFDYWCBJKMZK4SGP7SHYFN57E5LAGXKMW5XV3BLB6RJFEY2VC5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2TXLFRF7VCZOI44FYX2GNQNMNCB3ITLDTBTBB7GGX3TSPBRIDBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COCTWF5CVDMHCIFG23KLXOO52VVNJ3NV3L4GHUD5ECP6FMDHQOZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXUSIDUMXDC3LIRZZE4HOYYIT4QYZGQGXTVTCI72CC2XOEAXSDSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3IUSF3S5B7SJNWJIL7ORY3LLEG2OQX3BHITSOBK7OFGDJ2HXJ3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIZAJKVZKJOV57ZM34OY6V2TISCQVUIVZS4JLZUZ7R6A2GRE3KWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q7LKLFVPDLTNOE5QMBXFTDHDGTS34NLCCWTCPZ5WZ5UEQXUXY4PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DD6P5POBZ76E4B6Z6GNNCBKRF2TQYLBTT5M7DT4WUEAISHED3RHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L2DI5ZKZEOPFTXEBQN4KCI7K4CXT7NA6CJ7RUVP4XVV2RN2ARQHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AIRC53YYRCZAB33PXHQPWCWYFMGV4LD2DMKNI2AXHZMJTQJHMTZQ/vendors.js"
        ]
    },
    "operations": {
        "SendSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InstanceOSUser",
                    "SSHPublicKey"
                ],
                "members": {
                    "InstanceId": {},
                    "InstanceOSUser": {},
                    "SSHPublicKey": {},
                    "AvailabilityZone": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NROT57ILMMG67TDRMPI3SKE2WKNZRLQ3O47FWJCF2OXEQ424F7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FISVKNKDLCJFTEVLCYK6PL2HQKJIVP4G7H5BNG2FM2JZMRGRC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q73XRB5NXYFQ6O4ZQ6UFBD5PR6LKABDRJQIJQJTL6DPOOOGKZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAMPIDRMD5CGCLXRNDILWZGCFI5UYSK7KFOYSDXN5ZBZGEWJU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5XCRPUDWOVERSR3DPPLG2WFGB3AZ34T32G6UMQM2TUX54CQ2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNFDYWCBJKMZK4SGP7SHYFN57E5LAGXKMW5XV3BLB6RJFEY2VC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2TXLFRF7VCZOI44FYX2GNQNMNCB3ITLDTBTBB7GGX3TSPBRIDBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COCTWF5CVDMHCIFG23KLXOO52VVNJ3NV3L4GHUD5ECP6FMDHQOZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXUSIDUMXDC3LIRZZE4HOYYIT4QYZGQGXTVTCI72CC2XOEAXSDSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3IUSF3S5B7SJNWJIL7ORY3LLEG2OQX3BHITSOBK7OFGDJ2HXJ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIZAJKVZKJOV57ZM34OY6V2TISCQVUIVZS4JLZUZ7R6A2GRE3KWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7LKLFVPDLTNOE5QMBXFTDHDGTS34NLCCWTCPZ5WZ5UEQXUXY4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DD6P5POBZ76E4B6Z6GNNCBKRF2TQYLBTT5M7DT4WUEAISHED3RHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2DI5ZKZEOPFTXEBQN4KCI7K4CXT7NA6CJ7RUVP4XVV2RN2ARQHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIRC53YYRCZAB33PXHQPWCWYFMGV4LD2DMKNI2AXHZMJTQJHMTZQ/vendors.js"
            ]
        },
        "SendSerialConsoleSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SSHPublicKey"
                ],
                "members": {
                    "InstanceId": {},
                    "SerialPort": {
                        "type": "integer"
                    },
                    "SSHPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKXBL3MFANIVL2WSQDVWBWLUBBPKCSEUPLNO3YOFAUWW4VTCLNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVMPNZVME3UZMYQMW5MYVRGXM5FXBETU4OXKEDG3IHJBLURBBMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NROT57ILMMG67TDRMPI3SKE2WKNZRLQ3O47FWJCF2OXEQ424F7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FISVKNKDLCJFTEVLCYK6PL2HQKJIVP4G7H5BNG2FM2JZMRGRC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q73XRB5NXYFQ6O4ZQ6UFBD5PR6LKABDRJQIJQJTL6DPOOOGKZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAMPIDRMD5CGCLXRNDILWZGCFI5UYSK7KFOYSDXN5ZBZGEWJU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5XCRPUDWOVERSR3DPPLG2WFGB3AZ34T32G6UMQM2TUX54CQ2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNFDYWCBJKMZK4SGP7SHYFN57E5LAGXKMW5XV3BLB6RJFEY2VC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2TXLFRF7VCZOI44FYX2GNQNMNCB3ITLDTBTBB7GGX3TSPBRIDBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COCTWF5CVDMHCIFG23KLXOO52VVNJ3NV3L4GHUD5ECP6FMDHQOZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXUSIDUMXDC3LIRZZE4HOYYIT4QYZGQGXTVTCI72CC2XOEAXSDSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3IUSF3S5B7SJNWJIL7ORY3LLEG2OQX3BHITSOBK7OFGDJ2HXJ3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIZAJKVZKJOV57ZM34OY6V2TISCQVUIVZS4JLZUZ7R6A2GRE3KWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q7LKLFVPDLTNOE5QMBXFTDHDGTS34NLCCWTCPZ5WZ5UEQXUXY4PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DD6P5POBZ76E4B6Z6GNNCBKRF2TQYLBTT5M7DT4WUEAISHED3RHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L2DI5ZKZEOPFTXEBQN4KCI7K4CXT7NA6CJ7RUVP4XVV2RN2ARQHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIRC53YYRCZAB33PXHQPWCWYFMGV4LD2DMKNI2AXHZMJTQJHMTZQ/vendors.js"
            ]
        }
    },
    "shapes": {}
}