{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-02",
        "endpointPrefix": "ec2-instance-connect",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "EC2 Instance Connect",
        "serviceFullName": "AWS EC2 Instance Connect",
        "serviceId": "EC2 Instance Connect",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEC2InstanceConnectService",
        "uid": "ec2-instance-connect-2018-04-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/SJ3RZ7BMMDE7TBQVX437ON47GKIHABC4UTLDQZTT72MZXQFVD2ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3XP4ASCFDA5N6HHF76OEA7ZBYVWPW75XOVZI5ULBAK7NOXUMLD3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFM5KB4G2F2KH6AGNGPK2NPH4NQMEPTLSV3QRQMLIVOS7LOGJYAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ECLFYE5PAPHU22ABG7HCGPUUU2PZ7N5I2DRQV2NWJPLQFBHTV4UA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JA7BEDAXE2F3CELBYHU23TBS3VZT4CB3RBDTCRMOXE3HMDDDCBSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIKXBL3MFANIVL2WSQDVWBWLUBBPKCSEUPLNO3YOFAUWW4VTCLNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SVMPNZVME3UZMYQMW5MYVRGXM5FXBETU4OXKEDG3IHJBLURBBMQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NROT57ILMMG67TDRMPI3SKE2WKNZRLQ3O47FWJCF2OXEQ424F7WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FISVKNKDLCJFTEVLCYK6PL2HQKJIVP4G7H5BNG2FM2JZMRGRC25Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q73XRB5NXYFQ6O4ZQ6UFBD5PR6LKABDRJQIJQJTL6DPOOOGKZQZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JGAMPIDRMD5CGCLXRNDILWZGCFI5UYSK7KFOYSDXN5ZBZGEWJU2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OD5XCRPUDWOVERSR3DPPLG2WFGB3AZ34T32G6UMQM2TUX54CQ2BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WNFDYWCBJKMZK4SGP7SHYFN57E5LAGXKMW5XV3BLB6RJFEY2VC5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U2TXLFRF7VCZOI44FYX2GNQNMNCB3ITLDTBTBB7GGX3TSPBRIDBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COCTWF5CVDMHCIFG23KLXOO52VVNJ3NV3L4GHUD5ECP6FMDHQOZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VXUSIDUMXDC3LIRZZE4HOYYIT4QYZGQGXTVTCI72CC2XOEAXSDSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O3IUSF3S5B7SJNWJIL7ORY3LLEG2OQX3BHITSOBK7OFGDJ2HXJ3A/vendors.js"
        ]
    },
    "operations": {
        "SendSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InstanceOSUser",
                    "SSHPublicKey"
                ],
                "members": {
                    "InstanceId": {},
                    "InstanceOSUser": {},
                    "SSHPublicKey": {},
                    "AvailabilityZone": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XP4ASCFDA5N6HHF76OEA7ZBYVWPW75XOVZI5ULBAK7NOXUMLD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFM5KB4G2F2KH6AGNGPK2NPH4NQMEPTLSV3QRQMLIVOS7LOGJYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLFYE5PAPHU22ABG7HCGPUUU2PZ7N5I2DRQV2NWJPLQFBHTV4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA7BEDAXE2F3CELBYHU23TBS3VZT4CB3RBDTCRMOXE3HMDDDCBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKXBL3MFANIVL2WSQDVWBWLUBBPKCSEUPLNO3YOFAUWW4VTCLNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVMPNZVME3UZMYQMW5MYVRGXM5FXBETU4OXKEDG3IHJBLURBBMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NROT57ILMMG67TDRMPI3SKE2WKNZRLQ3O47FWJCF2OXEQ424F7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FISVKNKDLCJFTEVLCYK6PL2HQKJIVP4G7H5BNG2FM2JZMRGRC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q73XRB5NXYFQ6O4ZQ6UFBD5PR6LKABDRJQIJQJTL6DPOOOGKZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAMPIDRMD5CGCLXRNDILWZGCFI5UYSK7KFOYSDXN5ZBZGEWJU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5XCRPUDWOVERSR3DPPLG2WFGB3AZ34T32G6UMQM2TUX54CQ2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNFDYWCBJKMZK4SGP7SHYFN57E5LAGXKMW5XV3BLB6RJFEY2VC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2TXLFRF7VCZOI44FYX2GNQNMNCB3ITLDTBTBB7GGX3TSPBRIDBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COCTWF5CVDMHCIFG23KLXOO52VVNJ3NV3L4GHUD5ECP6FMDHQOZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXUSIDUMXDC3LIRZZE4HOYYIT4QYZGQGXTVTCI72CC2XOEAXSDSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3IUSF3S5B7SJNWJIL7ORY3LLEG2OQX3BHITSOBK7OFGDJ2HXJ3A/vendors.js"
            ]
        },
        "SendSerialConsoleSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SSHPublicKey"
                ],
                "members": {
                    "InstanceId": {},
                    "SerialPort": {
                        "type": "integer"
                    },
                    "SSHPublicKey": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SJ3RZ7BMMDE7TBQVX437ON47GKIHABC4UTLDQZTT72MZXQFVD2ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3XP4ASCFDA5N6HHF76OEA7ZBYVWPW75XOVZI5ULBAK7NOXUMLD3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFM5KB4G2F2KH6AGNGPK2NPH4NQMEPTLSV3QRQMLIVOS7LOGJYAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ECLFYE5PAPHU22ABG7HCGPUUU2PZ7N5I2DRQV2NWJPLQFBHTV4UA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JA7BEDAXE2F3CELBYHU23TBS3VZT4CB3RBDTCRMOXE3HMDDDCBSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIKXBL3MFANIVL2WSQDVWBWLUBBPKCSEUPLNO3YOFAUWW4VTCLNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SVMPNZVME3UZMYQMW5MYVRGXM5FXBETU4OXKEDG3IHJBLURBBMQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NROT57ILMMG67TDRMPI3SKE2WKNZRLQ3O47FWJCF2OXEQ424F7WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FISVKNKDLCJFTEVLCYK6PL2HQKJIVP4G7H5BNG2FM2JZMRGRC25Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q73XRB5NXYFQ6O4ZQ6UFBD5PR6LKABDRJQIJQJTL6DPOOOGKZQZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JGAMPIDRMD5CGCLXRNDILWZGCFI5UYSK7KFOYSDXN5ZBZGEWJU2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OD5XCRPUDWOVERSR3DPPLG2WFGB3AZ34T32G6UMQM2TUX54CQ2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WNFDYWCBJKMZK4SGP7SHYFN57E5LAGXKMW5XV3BLB6RJFEY2VC5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U2TXLFRF7VCZOI44FYX2GNQNMNCB3ITLDTBTBB7GGX3TSPBRIDBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COCTWF5CVDMHCIFG23KLXOO52VVNJ3NV3L4GHUD5ECP6FMDHQOZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VXUSIDUMXDC3LIRZZE4HOYYIT4QYZGQGXTVTCI72CC2XOEAXSDSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O3IUSF3S5B7SJNWJIL7ORY3LLEG2OQX3BHITSOBK7OFGDJ2HXJ3A/vendors.js"
            ]
        }
    },
    "shapes": {}
}