{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-04-02",
        "endpointPrefix": "ec2-instance-connect",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceAbbreviation": "EC2 Instance Connect",
        "serviceFullName": "AWS EC2 Instance Connect",
        "serviceId": "EC2 Instance Connect",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEC2InstanceConnectService",
        "uid": "ec2-instance-connect-2018-04-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/VVYQX26E7QO3L5VGO3AFQWBE7L57KEXNVFBUUJCCDIUBAJNEBNLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RK7U46U2COSSU7HS6BG6DIR2JR4OH57IEDU4ADOYT4BZOVJBCOEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/433EZTW7U67JGI3JXULQM4ON4XXJQ3X2DRTEXNQTYSFIPGHNQEUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L5YI6LLVLR3A2UILYP5GHBMLW3Q3N2VN4CLCPJ7PQT22DQ7EQ6RQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SHOABICLQGWEBA54HL2EEU2FV3UA6BNABESLW3TDO6TOAZFYGQ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C5ZP4UZJLH5J35JF35S2CEVL6JL2TSTBZJ4Z3LBOLJBRWYUC54EQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IBFLSXBOI2U2AGFYETAXPQMS5MRXPAUVXMZMQFZUHUBUJGXSD4SQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4P3JXCNZ23A6ZETCRTFPSO4GZIOPWQHI56HUG35KXOTOJQXMBZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJUFABWPNSJS5X3OT7VU6QQ74MBIUT3BSVHEV5OEMBMW7L4MMI5Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K55RD44OOGNECHNEGIHS2U6D4MCTBOTT55L5BO43ZW6XHI5SOURQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EB6IEXNE4DZAX5GHG64JR4VPYVZBFQHZGL34YHH73UZL5F4TVYKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
        ]
    },
    "operations": {
        "SendSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "InstanceOSUser",
                    "SSHPublicKey"
                ],
                "members": {
                    "InstanceId": {},
                    "InstanceOSUser": {},
                    "SSHPublicKey": {},
                    "AvailabilityZone": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UCKI75QHPYYQIMEZC6C34BPYNBPSRKWNF4RSUZAQRQJ2UEWQG5VQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK7U46U2COSSU7HS6BG6DIR2JR4OH57IEDU4ADOYT4BZOVJBCOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/433EZTW7U67JGI3JXULQM4ON4XXJQ3X2DRTEXNQTYSFIPGHNQEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5YI6LLVLR3A2UILYP5GHBMLW3Q3N2VN4CLCPJ7PQT22DQ7EQ6RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOABICLQGWEBA54HL2EEU2FV3UA6BNABESLW3TDO6TOAZFYGQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5ZP4UZJLH5J35JF35S2CEVL6JL2TSTBZJ4Z3LBOLJBRWYUC54EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBFLSXBOI2U2AGFYETAXPQMS5MRXPAUVXMZMQFZUHUBUJGXSD4SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P3JXCNZ23A6ZETCRTFPSO4GZIOPWQHI56HUG35KXOTOJQXMBZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SB7ZJOX6SO2FHERG4HCTCAB6CL3QT2TOY6CRL6VZFZ44LCB5C7ZA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJREHUB3XYV3DYGZJEXOVRUX5EUIVBQE25HYMYA22WYPKOF45BYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJUFABWPNSJS5X3OT7VU6QQ74MBIUT3BSVHEV5OEMBMW7L4MMI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K55RD44OOGNECHNEGIHS2U6D4MCTBOTT55L5BO43ZW6XHI5SOURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EB6IEXNE4DZAX5GHG64JR4VPYVZBFQHZGL34YHH73UZL5F4TVYKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        },
        "SendSerialConsoleSSHPublicKey": {
            "input": {
                "type": "structure",
                "required": [
                    "InstanceId",
                    "SSHPublicKey"
                ],
                "members": {
                    "InstanceId": {},
                    "SerialPort": {
                        "type": "integer"
                    },
                    "SSHPublicKey": {},
                    "MonitorMode": {
                        "type": "boolean"
                    },
                    "Layout": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "RequestId": {},
                    "Success": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/TYT2KVOBAV7X454YUK7CG2S25DREW7GKIHNBRP2H6LOZCMJRU6OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFSIY6YDHKJQQH7TCH5UURPFF4FCLAB36BFIEWXMEZQIO7DCJSMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K5BDPMDRHKR7CAVE7F7HXNC4UELRNYKYYCFQAOW7YJP4KPB46KIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IU6IIWCHOOQQQIUB2M6SVWVRY6ANHPHD74G3NOVCUYW33YI4VEJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NSQKRRGBURSTU7EXEIT4PG6QNMS5BGOM7VO5TSDILQLHMFYYF5OA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ROWWFULUI4MQX3PB5QDDF2C7ZX7UKILU3FRMG2WJPNPD4GYVWINQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PKVRBW5XSPVSJE6J4NKB64B64VDVXH2CHAOFAXZHGO5H3HDBICXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P5Y3Y6QSKBDVQBFBOHSW4J3HMB4GK6ISH6YDB4H7GXWAJB3FCDXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RK7U46U2COSSU7HS6BG6DIR2JR4OH57IEDU4ADOYT4BZOVJBCOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/433EZTW7U67JGI3JXULQM4ON4XXJQ3X2DRTEXNQTYSFIPGHNQEUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L5YI6LLVLR3A2UILYP5GHBMLW3Q3N2VN4CLCPJ7PQT22DQ7EQ6RQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SHOABICLQGWEBA54HL2EEU2FV3UA6BNABESLW3TDO6TOAZFYGQ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C5ZP4UZJLH5J35JF35S2CEVL6JL2TSTBZJ4Z3LBOLJBRWYUC54EQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IBFLSXBOI2U2AGFYETAXPQMS5MRXPAUVXMZMQFZUHUBUJGXSD4SQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4P3JXCNZ23A6ZETCRTFPSO4GZIOPWQHI56HUG35KXOTOJQXMBZMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJUFABWPNSJS5X3OT7VU6QQ74MBIUT3BSVHEV5OEMBMW7L4MMI5Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K55RD44OOGNECHNEGIHS2U6D4MCTBOTT55L5BO43ZW6XHI5SOURQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EB6IEXNE4DZAX5GHG64JR4VPYVZBFQHZGL34YHH73UZL5F4TVYKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js"
            ]
        }
    },
    "shapes": {}
}