{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ec2sparkedplambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing EC2SparkEDPLambda",
        "serviceId": "EC2SparkEDPLambda",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "ec2sparkedplambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UTWRTDBZOUPI7MLNWOLTESDL2HGHUPJZL7UAHPON43M2VIOZ2PTA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL52S5QEWEL3JZHTVFWODWQVT6J57HHNMT77FGWIWMPDKYPA4SEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A56YZGFTE7JQFCKJHN3KV2IE6SJ64ECLOQ5EEFUJYSGOPL7J6NMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R7IN7RNPWDTSGYCL7ISEEENX5EMDYF3XF37AMVNTCP2JNTHHWDRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FB63V3FVYBYELGMSQQHC4ZPYIJLVFQPWC3ELPMU352US5P4IVU4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OKG46P5LUU7EMQN5OS4WDFX53WPVFJDQHCS5EC4C3CGRRK7VT6DQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MS6UDFEWWHZX46FCFTVTYC6BXYBGV7BPP3C2IZB245TKNHDH2HA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK5MRW7O5WAHY22VJ4R76KHBF27YB2W266DQMR3OY4TQMYYELJJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2PWI4G4R5KCCJEGTLAXIUHS5J4FX2KFRMVECDWRPW5ZK3MXCV57Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LVVGO5HOAZPTOEDTHQSLOEERF5VIZIQ5PNH6ZKA3UZDCTJ6KMLPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JFP7M2OBRHU2DQLPGVG75OABTV4FOVWYMKESUPCRROHMUCRPMY7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J5X2QKYKDTRU3OZUCYF4TWZW6HTMEU2HLZJSI7XK7SSQ2FI32MSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2LA3CDRIJXUCSUFGQYMIAUEGQ4V5IW2HDXIIKYZ6NLQQYHHIRDPA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UEXZWT6NDOQSUYDLLSCME3MZDSHSOBZ7XDEGVUMMKKBOZWR6ZP5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DH6ETGLILMBEOYFEGQMQUAE26VT25ZRVRDESX2IV4UZYOQNKOCXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D6GMRIPWUIO7QM7EEGJ26XTGAUS4T3HILACLUZGSRH2NKJDVDCZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SGF7ROTMT5BSV5ZRXX3KRPMK3GC6IBI2MJTVGO7XEO2D367JWXXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUQZ734D7BB37Q754TG3MS7JP2B5ASZ3GOAY5G2WTHOU7IL5UK6Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIJJUYQCQJAIDQD4WN2VZC6QUNNTSXXQNWMHDTZOEGEPAXAKL5SA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDPMFUFMQ3A3F575A3XT6RMEHE4MOFWRBHGJGQZTEKOT7OJES42A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6CEJIMOW3R6N35MR6C5SAKH3YDUXGSIAW2QSBT6HJRFSJYMCMPHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MO55CFSLJ27FEUL63RKNAGRMX2VKQM5FKX7VW6HBLCA4NZDBTSKA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SLTI2DRLUURUS5727NBPGVNHUFP6N2NGHGMPWQAH4KP6VOGUMQ5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VYGOV5HSYS75D3AQ5OBLMPKO7Y7B3LNPKJNY6Y2O4WICFGDQOXSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MK22BKUQT4HA3OXDDZ6JVA3PDOFKP7WMJBZ4I7DRQWHPUJR3LFNA/main.js"
        ]
    },
    "operations": {
        "describeAccountUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/describeAccountUsage/{accountId}/SPLAFilter/{filter}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "filter"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "filter": {
                        "location": "uri",
                        "locationName": "filter"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountResult": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL52S5QEWEL3JZHTVFWODWQVT6J57HHNMT77FGWIWMPDKYPA4SEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A56YZGFTE7JQFCKJHN3KV2IE6SJ64ECLOQ5EEFUJYSGOPL7J6NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7IN7RNPWDTSGYCL7ISEEENX5EMDYF3XF37AMVNTCP2JNTHHWDRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB63V3FVYBYELGMSQQHC4ZPYIJLVFQPWC3ELPMU352US5P4IVU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKG46P5LUU7EMQN5OS4WDFX53WPVFJDQHCS5EC4C3CGRRK7VT6DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MS6UDFEWWHZX46FCFTVTYC6BXYBGV7BPP3C2IZB245TKNHDH2HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5MRW7O5WAHY22VJ4R76KHBF27YB2W266DQMR3OY4TQMYYELJJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PWI4G4R5KCCJEGTLAXIUHS5J4FX2KFRMVECDWRPW5ZK3MXCV57Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVVGO5HOAZPTOEDTHQSLOEERF5VIZIQ5PNH6ZKA3UZDCTJ6KMLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFP7M2OBRHU2DQLPGVG75OABTV4FOVWYMKESUPCRROHMUCRPMY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5X2QKYKDTRU3OZUCYF4TWZW6HTMEU2HLZJSI7XK7SSQ2FI32MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LA3CDRIJXUCSUFGQYMIAUEGQ4V5IW2HDXIIKYZ6NLQQYHHIRDPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEXZWT6NDOQSUYDLLSCME3MZDSHSOBZ7XDEGVUMMKKBOZWR6ZP5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH6ETGLILMBEOYFEGQMQUAE26VT25ZRVRDESX2IV4UZYOQNKOCXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GMRIPWUIO7QM7EEGJ26XTGAUS4T3HILACLUZGSRH2NKJDVDCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGF7ROTMT5BSV5ZRXX3KRPMK3GC6IBI2MJTVGO7XEO2D367JWXXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUQZ734D7BB37Q754TG3MS7JP2B5ASZ3GOAY5G2WTHOU7IL5UK6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIJJUYQCQJAIDQD4WN2VZC6QUNNTSXXQNWMHDTZOEGEPAXAKL5SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDPMFUFMQ3A3F575A3XT6RMEHE4MOFWRBHGJGQZTEKOT7OJES42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CEJIMOW3R6N35MR6C5SAKH3YDUXGSIAW2QSBT6HJRFSJYMCMPHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO55CFSLJ27FEUL63RKNAGRMX2VKQM5FKX7VW6HBLCA4NZDBTSKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLTI2DRLUURUS5727NBPGVNHUFP6N2NGHGMPWQAH4KP6VOGUMQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYGOV5HSYS75D3AQ5OBLMPKO7Y7B3LNPKJNY6Y2O4WICFGDQOXSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK22BKUQT4HA3OXDDZ6JVA3PDOFKP7WMJBZ4I7DRQWHPUJR3LFNA/main.js"
            ]
        },
        "describeTeamUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/describeTeamUsage/{accountId}/billingProduct/{billingProduct}/start/{startUsageTime}/end/{endUsageTime}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "billingProduct",
                    "endUsageTime",
                    "startUsageTime"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "amzSSOToken": {
                        "location": "header",
                        "locationName": "X-FORWARDED-MIDWAY-TOKEN"
                    },
                    "billingProduct": {
                        "location": "uri",
                        "locationName": "billingProduct"
                    },
                    "endUsageTime": {
                        "location": "uri",
                        "locationName": "endUsageTime",
                        "type": "long"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "startUsageTime": {
                        "location": "uri",
                        "locationName": "startUsageTime",
                        "type": "long"
                    },
                    "userAlias": {
                        "location": "header",
                        "locationName": "X-FORWARDED-USER"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "teamUsage": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountCostCenter": {},
                                "accountDescription": {},
                                "accountId": {},
                                "accountOwnerManager": {},
                                "accountOwnerSupervisorChain": {},
                                "accountPaidStatus": {},
                                "classification": {},
                                "fleet": {},
                                "licensingCost": {
                                    "type": "double"
                                },
                                "parentFleet": {},
                                "parentFleetOwner": {},
                                "primaryAccountOwner": {},
                                "tagAttribute": {},
                                "usage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL52S5QEWEL3JZHTVFWODWQVT6J57HHNMT77FGWIWMPDKYPA4SEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A56YZGFTE7JQFCKJHN3KV2IE6SJ64ECLOQ5EEFUJYSGOPL7J6NMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R7IN7RNPWDTSGYCL7ISEEENX5EMDYF3XF37AMVNTCP2JNTHHWDRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB63V3FVYBYELGMSQQHC4ZPYIJLVFQPWC3ELPMU352US5P4IVU4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OKG46P5LUU7EMQN5OS4WDFX53WPVFJDQHCS5EC4C3CGRRK7VT6DQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MS6UDFEWWHZX46FCFTVTYC6BXYBGV7BPP3C2IZB245TKNHDH2HA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK5MRW7O5WAHY22VJ4R76KHBF27YB2W266DQMR3OY4TQMYYELJJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2PWI4G4R5KCCJEGTLAXIUHS5J4FX2KFRMVECDWRPW5ZK3MXCV57Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LVVGO5HOAZPTOEDTHQSLOEERF5VIZIQ5PNH6ZKA3UZDCTJ6KMLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JFP7M2OBRHU2DQLPGVG75OABTV4FOVWYMKESUPCRROHMUCRPMY7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J5X2QKYKDTRU3OZUCYF4TWZW6HTMEU2HLZJSI7XK7SSQ2FI32MSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2LA3CDRIJXUCSUFGQYMIAUEGQ4V5IW2HDXIIKYZ6NLQQYHHIRDPA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UEXZWT6NDOQSUYDLLSCME3MZDSHSOBZ7XDEGVUMMKKBOZWR6ZP5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DH6ETGLILMBEOYFEGQMQUAE26VT25ZRVRDESX2IV4UZYOQNKOCXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D6GMRIPWUIO7QM7EEGJ26XTGAUS4T3HILACLUZGSRH2NKJDVDCZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SGF7ROTMT5BSV5ZRXX3KRPMK3GC6IBI2MJTVGO7XEO2D367JWXXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUQZ734D7BB37Q754TG3MS7JP2B5ASZ3GOAY5G2WTHOU7IL5UK6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIJJUYQCQJAIDQD4WN2VZC6QUNNTSXXQNWMHDTZOEGEPAXAKL5SA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDPMFUFMQ3A3F575A3XT6RMEHE4MOFWRBHGJGQZTEKOT7OJES42A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CEJIMOW3R6N35MR6C5SAKH3YDUXGSIAW2QSBT6HJRFSJYMCMPHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MO55CFSLJ27FEUL63RKNAGRMX2VKQM5FKX7VW6HBLCA4NZDBTSKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SLTI2DRLUURUS5727NBPGVNHUFP6N2NGHGMPWQAH4KP6VOGUMQ5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VYGOV5HSYS75D3AQ5OBLMPKO7Y7B3LNPKJNY6Y2O4WICFGDQOXSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MK22BKUQT4HA3OXDDZ6JVA3PDOFKP7WMJBZ4I7DRQWHPUJR3LFNA/main.js"
            ]
        }
    },
    "shapes": {}
}