{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ec2sparkedplambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing EC2SparkEDPLambda",
        "serviceId": "EC2SparkEDPLambda",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "ec2sparkedplambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYFUVJS7APBMFCKC77N6ZDGFA5I2RHR7KPJPPWZLNXLUD4KNV3YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOVARNWYRY6YELHX2GBSCMH3TKJFMUG5NIZ2F3F3KGPLUGGKFOEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJDDSO6PCKHONUGPGZEVVVSYE6LXJYXPGAYYJ74XSLFF6BH6LNMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNJ5RMVTRFP74RSB2TUD7TH3BQY4K6UUDECG2SBBL6IERR2ERXEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BE7AXNNQU33D3YHUAWSM2BF4OE52CU67ZUB4MLIKW5EZUMDXDTZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LCAFURJPGGSYYOL2ADMRYD27NFUMGZM53OW36REV2DNU3C3K3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOFO3XVX4MUWL4AFSRTGXSHPJ7XCEFEJM4EAE4F35XC4B323W5JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZ2LAZ7IRHE7M6LNKDDG7NBG4BLAPQBCQD47FU5NHH7XXGDQ6ZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRDKITMZJHASSVMHFI5SJPJCDCIQIHJFT3NJGSCKDAK5OXFGW2IA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IH6IBLOUVEEVIWQFHSUP3MZKNHBEZPNGG2KWYUL662CY6AQIC3NQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SN5W5VWAUE3PHCIYXTL5YE7NCWRAYUXAKRBQOQHRHRVVTRC3J5JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QCQO2B7LF3CBMBLKKZJDRAACGBAMP52ZHI2BD4JXHPORYEGN5RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3LMGIHBHBJSN4OAOVJQZY5KP5XUMQXV2EOB7IC4ZMVCBH6WUBZNA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TVSTSREB6V32II5SAFEULHSNGBQV3G266TMPRACZQL4PS5PX5WVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOS2CVVLYFM2Q4FCY3UO2KK7IRB5LYZJDJRBQ7LVYD6PFUD7AZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZV46AZOJRNXJGHIYBLX3XSDUOQ2AKEJ4VDE2RLOIKOQ5K3KZMNVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CIVACKSMWUEQI7PATFROW7MCRPPBRSQOYKYLEQ36DIJWFCMJO3LA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CSKOOLL2YBBLFKPUNOXPMMFRS5V7WLTAB3QXN2VEAYSNJ2DEH4FA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARFEPG37RIJO3N3YOP5GXAFHFXOWXAI7ZX72Y3UYQPPYJ55FPTMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F3YAORA2STGD3QGIZPO2UBFE4OYJZRXDWXDUW7BWXHZZKMIEUTSQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TAZPGL6QPVATWZZBR7WSO5TSWWDPVZTTIWA7ULMZYGEHXB36GTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DV6FMALC54Q5TEZT2MR3DEVNRW7HWIGRZPTU4Q3FBXYWVBFMW4JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DBCVTJST5KORRUFKSUOXULGJBLEGXFLTXW5MLVDXB3BMLTNDKUEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EWU2S6HFGYBEGMVVILYBQSL5RFIKUWMHIPZ4KH2BLTKIBGZ4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KMIUOGNW56R3QDSQYW6OP677L7MIMF2UXIBQI53FX4RBPXS7QZNQ/main.js"
        ]
    },
    "operations": {
        "describeAccountUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/describeAccountUsage/{accountId}/SPLAFilter/{filter}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "filter"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "filter": {
                        "location": "uri",
                        "locationName": "filter"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountResult": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOVARNWYRY6YELHX2GBSCMH3TKJFMUG5NIZ2F3F3KGPLUGGKFOEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJDDSO6PCKHONUGPGZEVVVSYE6LXJYXPGAYYJ74XSLFF6BH6LNMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNJ5RMVTRFP74RSB2TUD7TH3BQY4K6UUDECG2SBBL6IERR2ERXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BE7AXNNQU33D3YHUAWSM2BF4OE52CU67ZUB4MLIKW5EZUMDXDTZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LCAFURJPGGSYYOL2ADMRYD27NFUMGZM53OW36REV2DNU3C3K3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOFO3XVX4MUWL4AFSRTGXSHPJ7XCEFEJM4EAE4F35XC4B323W5JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZ2LAZ7IRHE7M6LNKDDG7NBG4BLAPQBCQD47FU5NHH7XXGDQ6ZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRDKITMZJHASSVMHFI5SJPJCDCIQIHJFT3NJGSCKDAK5OXFGW2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IH6IBLOUVEEVIWQFHSUP3MZKNHBEZPNGG2KWYUL662CY6AQIC3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SN5W5VWAUE3PHCIYXTL5YE7NCWRAYUXAKRBQOQHRHRVVTRC3J5JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QCQO2B7LF3CBMBLKKZJDRAACGBAMP52ZHI2BD4JXHPORYEGN5RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LMGIHBHBJSN4OAOVJQZY5KP5XUMQXV2EOB7IC4ZMVCBH6WUBZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVSTSREB6V32II5SAFEULHSNGBQV3G266TMPRACZQL4PS5PX5WVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOS2CVVLYFM2Q4FCY3UO2KK7IRB5LYZJDJRBQ7LVYD6PFUD7AZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV46AZOJRNXJGHIYBLX3XSDUOQ2AKEJ4VDE2RLOIKOQ5K3KZMNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVACKSMWUEQI7PATFROW7MCRPPBRSQOYKYLEQ36DIJWFCMJO3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSKOOLL2YBBLFKPUNOXPMMFRS5V7WLTAB3QXN2VEAYSNJ2DEH4FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARFEPG37RIJO3N3YOP5GXAFHFXOWXAI7ZX72Y3UYQPPYJ55FPTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YAORA2STGD3QGIZPO2UBFE4OYJZRXDWXDUW7BWXHZZKMIEUTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TAZPGL6QPVATWZZBR7WSO5TSWWDPVZTTIWA7ULMZYGEHXB36GTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV6FMALC54Q5TEZT2MR3DEVNRW7HWIGRZPTU4Q3FBXYWVBFMW4JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBCVTJST5KORRUFKSUOXULGJBLEGXFLTXW5MLVDXB3BMLTNDKUEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EWU2S6HFGYBEGMVVILYBQSL5RFIKUWMHIPZ4KH2BLTKIBGZ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMIUOGNW56R3QDSQYW6OP677L7MIMF2UXIBQI53FX4RBPXS7QZNQ/main.js"
            ]
        },
        "describeTeamUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/describeTeamUsage/{accountId}/billingProduct/{billingProduct}/start/{startUsageTime}/end/{endUsageTime}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "billingProduct",
                    "endUsageTime",
                    "startUsageTime"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "amzSSOToken": {
                        "location": "header",
                        "locationName": "X-FORWARDED-MIDWAY-TOKEN"
                    },
                    "billingProduct": {
                        "location": "uri",
                        "locationName": "billingProduct"
                    },
                    "endUsageTime": {
                        "location": "uri",
                        "locationName": "endUsageTime",
                        "type": "long"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "startUsageTime": {
                        "location": "uri",
                        "locationName": "startUsageTime",
                        "type": "long"
                    },
                    "userAlias": {
                        "location": "header",
                        "locationName": "X-FORWARDED-USER"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "teamUsage": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountCostCenter": {},
                                "accountDescription": {},
                                "accountId": {},
                                "accountOwnerManager": {},
                                "accountOwnerSupervisorChain": {},
                                "accountPaidStatus": {},
                                "classification": {},
                                "fleet": {},
                                "licensingCost": {
                                    "type": "double"
                                },
                                "parentFleet": {},
                                "parentFleetOwner": {},
                                "primaryAccountOwner": {},
                                "tagAttribute": {},
                                "usage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOVARNWYRY6YELHX2GBSCMH3TKJFMUG5NIZ2F3F3KGPLUGGKFOEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJDDSO6PCKHONUGPGZEVVVSYE6LXJYXPGAYYJ74XSLFF6BH6LNMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNJ5RMVTRFP74RSB2TUD7TH3BQY4K6UUDECG2SBBL6IERR2ERXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BE7AXNNQU33D3YHUAWSM2BF4OE52CU67ZUB4MLIKW5EZUMDXDTZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LCAFURJPGGSYYOL2ADMRYD27NFUMGZM53OW36REV2DNU3C3K3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOFO3XVX4MUWL4AFSRTGXSHPJ7XCEFEJM4EAE4F35XC4B323W5JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZ2LAZ7IRHE7M6LNKDDG7NBG4BLAPQBCQD47FU5NHH7XXGDQ6ZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRDKITMZJHASSVMHFI5SJPJCDCIQIHJFT3NJGSCKDAK5OXFGW2IA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IH6IBLOUVEEVIWQFHSUP3MZKNHBEZPNGG2KWYUL662CY6AQIC3NQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SN5W5VWAUE3PHCIYXTL5YE7NCWRAYUXAKRBQOQHRHRVVTRC3J5JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QCQO2B7LF3CBMBLKKZJDRAACGBAMP52ZHI2BD4JXHPORYEGN5RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LMGIHBHBJSN4OAOVJQZY5KP5XUMQXV2EOB7IC4ZMVCBH6WUBZNA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TVSTSREB6V32II5SAFEULHSNGBQV3G266TMPRACZQL4PS5PX5WVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOS2CVVLYFM2Q4FCY3UO2KK7IRB5LYZJDJRBQ7LVYD6PFUD7AZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZV46AZOJRNXJGHIYBLX3XSDUOQ2AKEJ4VDE2RLOIKOQ5K3KZMNVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CIVACKSMWUEQI7PATFROW7MCRPPBRSQOYKYLEQ36DIJWFCMJO3LA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CSKOOLL2YBBLFKPUNOXPMMFRS5V7WLTAB3QXN2VEAYSNJ2DEH4FA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARFEPG37RIJO3N3YOP5GXAFHFXOWXAI7ZX72Y3UYQPPYJ55FPTMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F3YAORA2STGD3QGIZPO2UBFE4OYJZRXDWXDUW7BWXHZZKMIEUTSQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TAZPGL6QPVATWZZBR7WSO5TSWWDPVZTTIWA7ULMZYGEHXB36GTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DV6FMALC54Q5TEZT2MR3DEVNRW7HWIGRZPTU4Q3FBXYWVBFMW4JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DBCVTJST5KORRUFKSUOXULGJBLEGXFLTXW5MLVDXB3BMLTNDKUEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3EWU2S6HFGYBEGMVVILYBQSL5RFIKUWMHIPZ4KH2BLTKIBGZ4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMIUOGNW56R3QDSQYW6OP677L7MIMF2UXIBQI53FX4RBPXS7QZNQ/main.js"
            ]
        }
    },
    "shapes": {}
}