{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "ec2sparkedplambda",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "A beautiful and amazing EC2SparkEDPLambda",
        "serviceId": "EC2SparkEDPLambda",
        "signatureVersion": "v4",
        "signingName": "execute-api",
        "uid": "ec2sparkedplambda-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/760b4aa65f03c2c28942ffdbec8cc50751a89e3f53d2f7db2b6dd741f14daef0/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYFUVJS7APBMFCKC77N6ZDGFA5I2RHR7KPJPPWZLNXLUD4KNV3YA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SOVARNWYRY6YELHX2GBSCMH3TKJFMUG5NIZ2F3F3KGPLUGGKFOEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJDDSO6PCKHONUGPGZEVVVSYE6LXJYXPGAYYJ74XSLFF6BH6LNMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CNJ5RMVTRFP74RSB2TUD7TH3BQY4K6UUDECG2SBBL6IERR2ERXEQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BE7AXNNQU33D3YHUAWSM2BF4OE52CU67ZUB4MLIKW5EZUMDXDTZQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5LCAFURJPGGSYYOL2ADMRYD27NFUMGZM53OW36REV2DNU3C3K3XA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOFO3XVX4MUWL4AFSRTGXSHPJ7XCEFEJM4EAE4F35XC4B323W5JQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZZ2LAZ7IRHE7M6LNKDDG7NBG4BLAPQBCQD47FU5NHH7XXGDQ6ZYQ/main.js"
        ]
    },
    "operations": {
        "describeAccountUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/describeAccountUsage/{accountId}/SPLAFilter/{filter}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "filter"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "filter": {
                        "location": "uri",
                        "locationName": "filter"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accountResult": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/760b4aa65f03c2c28942ffdbec8cc50751a89e3f53d2f7db2b6dd741f14daef0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYFUVJS7APBMFCKC77N6ZDGFA5I2RHR7KPJPPWZLNXLUD4KNV3YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOVARNWYRY6YELHX2GBSCMH3TKJFMUG5NIZ2F3F3KGPLUGGKFOEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJDDSO6PCKHONUGPGZEVVVSYE6LXJYXPGAYYJ74XSLFF6BH6LNMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNJ5RMVTRFP74RSB2TUD7TH3BQY4K6UUDECG2SBBL6IERR2ERXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BE7AXNNQU33D3YHUAWSM2BF4OE52CU67ZUB4MLIKW5EZUMDXDTZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LCAFURJPGGSYYOL2ADMRYD27NFUMGZM53OW36REV2DNU3C3K3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOFO3XVX4MUWL4AFSRTGXSHPJ7XCEFEJM4EAE4F35XC4B323W5JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZ2LAZ7IRHE7M6LNKDDG7NBG4BLAPQBCQD47FU5NHH7XXGDQ6ZYQ/main.js"
            ]
        },
        "describeTeamUsage": {
            "http": {
                "method": "GET",
                "requestUri": "/describeTeamUsage/{accountId}/billingProduct/{billingProduct}/start/{startUsageTime}/end/{endUsageTime}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "billingProduct",
                    "endUsageTime",
                    "startUsageTime"
                ],
                "members": {
                    "accountId": {
                        "location": "uri",
                        "locationName": "accountId"
                    },
                    "amzSSOToken": {
                        "location": "header",
                        "locationName": "X-FORWARDED-MIDWAY-TOKEN"
                    },
                    "billingProduct": {
                        "location": "uri",
                        "locationName": "billingProduct"
                    },
                    "endUsageTime": {
                        "location": "uri",
                        "locationName": "endUsageTime",
                        "type": "long"
                    },
                    "limit": {
                        "location": "querystring",
                        "locationName": "limit",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "NextToken"
                    },
                    "startUsageTime": {
                        "location": "uri",
                        "locationName": "startUsageTime",
                        "type": "long"
                    },
                    "userAlias": {
                        "location": "header",
                        "locationName": "X-FORWARDED-USER"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nextToken": {},
                    "teamUsage": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "accountCostCenter": {},
                                "accountDescription": {},
                                "accountId": {},
                                "accountOwnerManager": {},
                                "accountOwnerSupervisorChain": {},
                                "accountPaidStatus": {},
                                "classification": {},
                                "fleet": {},
                                "licensingCost": {
                                    "type": "double"
                                },
                                "parentFleet": {},
                                "parentFleetOwner": {},
                                "primaryAccountOwner": {},
                                "tagAttribute": {},
                                "usage": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/760b4aa65f03c2c28942ffdbec8cc50751a89e3f53d2f7db2b6dd741f14daef0/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYFUVJS7APBMFCKC77N6ZDGFA5I2RHR7KPJPPWZLNXLUD4KNV3YA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SOVARNWYRY6YELHX2GBSCMH3TKJFMUG5NIZ2F3F3KGPLUGGKFOEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJDDSO6PCKHONUGPGZEVVVSYE6LXJYXPGAYYJ74XSLFF6BH6LNMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CNJ5RMVTRFP74RSB2TUD7TH3BQY4K6UUDECG2SBBL6IERR2ERXEQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BE7AXNNQU33D3YHUAWSM2BF4OE52CU67ZUB4MLIKW5EZUMDXDTZQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5LCAFURJPGGSYYOL2ADMRYD27NFUMGZM53OW36REV2DNU3C3K3XA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOFO3XVX4MUWL4AFSRTGXSHPJ7XCEFEJM4EAE4F35XC4B323W5JQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZZ2LAZ7IRHE7M6LNKDDG7NBG4BLAPQBCQD47FU5NHH7XXGDQ6ZYQ/main.js"
            ]
        }
    },
    "shapes": {}
}