{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-01",
        "endpointPrefix": "eks",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon EKS",
        "serviceFullName": "Amazon Elastic Kubernetes Service",
        "serviceId": "EKS",
        "signatureVersion": "v4",
        "signingName": "eks",
        "uid": "eks-2017-11-01",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateEncryptionConfig": {
            "http": {
                "requestUri": "/clusters/{name}/encryption-config/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "encryptionConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "encryptionConfig": {
                        "shape": "S3"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "AssociateIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "oidc"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "oidc": {
                        "type": "structure",
                        "required": [
                            "identityProviderConfigName",
                            "issuerUrl",
                            "clientId"
                        ],
                        "members": {
                            "identityProviderConfigName": {},
                            "issuerUrl": {},
                            "clientId": {},
                            "usernameClaim": {},
                            "usernamePrefix": {},
                            "groupsClaim": {},
                            "groupsPrefix": {},
                            "requiredClaims": {
                                "shape": "Sk"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "CreateAddon": {
            "http": {
                "requestUri": "/clusters/{name}/addons"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {},
                    "addonVersion": {},
                    "serviceAccountRoleArn": {},
                    "resolveConflicts": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "configurationValues": {},
                    "podIdentityAssociations": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "CreateCluster": {
            "http": {
                "requestUri": "/clusters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "resourcesVpcConfig"
                ],
                "members": {
                    "name": {},
                    "version": {},
                    "roleArn": {},
                    "resourcesVpcConfig": {
                        "shape": "S14"
                    },
                    "kubernetesNetworkConfig": {
                        "type": "structure",
                        "members": {
                            "serviceIpv4Cidr": {},
                            "ipFamily": {}
                        }
                    },
                    "logging": {
                        "shape": "S18"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "encryptionConfig": {
                        "shape": "S3"
                    },
                    "outpostConfig": {
                        "type": "structure",
                        "required": [
                            "outpostArns",
                            "controlPlaneInstanceType"
                        ],
                        "members": {
                            "outpostArns": {
                                "shape": "S5"
                            },
                            "controlPlaneInstanceType": {},
                            "controlPlanePlacement": {
                                "type": "structure",
                                "members": {
                                    "groupName": {}
                                }
                            }
                        }
                    },
                    "enableClusterCreatorAdminPermissions": {
                        "type": "boolean"
                    },
                    "computeConfig": {
                        "shape": "S1n"
                    },
                    "accessConfig": {
                        "type": "structure",
                        "members": {
                            "bootstrapClusterCreatorAdminPermissions": {
                                "type": "boolean"
                            },
                            "authenticationMode": {}
                        }
                    },
                    "bootstrapSelfManagedAddons": {
                        "type": "boolean"
                    },
                    "upgradePolicy": {
                        "shape": "S1r"
                    },
                    "capabilitiesConfig": {
                        "shape": "S1t"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "CreateFargateProfile": {
            "http": {
                "requestUri": "/clusters/{name}/fargate-profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "fargateProfileName",
                    "clusterName",
                    "podExecutionRoleArn"
                ],
                "members": {
                    "fargateProfileName": {},
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "podExecutionRoleArn": {},
                    "subnets": {
                        "shape": "S5"
                    },
                    "selectors": {
                        "shape": "S1w"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "CreateNodegroup": {
            "http": {
                "requestUri": "/clusters/{name}/node-groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName",
                    "subnets",
                    "nodeRole"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {},
                    "scalingConfig": {
                        "shape": "S23"
                    },
                    "diskSize": {
                        "type": "integer"
                    },
                    "subnets": {
                        "shape": "S5"
                    },
                    "instanceTypes": {
                        "shape": "S5"
                    },
                    "amiType": {},
                    "remoteAccess": {
                        "shape": "S28"
                    },
                    "nodeRole": {},
                    "labels": {
                        "shape": "S29"
                    },
                    "taints": {
                        "shape": "S2c"
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "launchTemplate": {
                        "shape": "S2h"
                    },
                    "updateConfig": {
                        "shape": "S2i"
                    },
                    "capacityType": {},
                    "version": {},
                    "releaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeleteAddon": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/addons/{addonName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    },
                    "preserve": {
                        "location": "querystring",
                        "locationName": "preserve",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeleteFargateProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "fargateProfileName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "fargateProfileName": {
                        "location": "uri",
                        "locationName": "fargateProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeleteNodegroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DeregisterCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-registrations/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeAddon": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/addons/{addonName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeAddonVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/addons/supported-versions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "kubernetesVersion": {
                        "location": "querystring",
                        "locationName": "kubernetesVersion"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    },
                    "types": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "types"
                    },
                    "publishers": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "publishers"
                    },
                    "owners": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "owners"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addons": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "addonName": {},
                                "type": {},
                                "addonVersions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "addonVersion": {},
                                            "architecture": {
                                                "shape": "S5"
                                            },
                                            "compatibilities": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "clusterVersion": {},
                                                        "platformVersions": {
                                                            "shape": "S5"
                                                        },
                                                        "defaultVersion": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "requiresConfiguration": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "publisher": {},
                                "owner": {},
                                "marketplaceInformation": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeFargateProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "fargateProfileName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "fargateProfileName": {
                        "location": "uri",
                        "locationName": "fargateProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/describe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "identityProviderConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "identityProviderConfig": {
                        "shape": "S3m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "identityProviderConfig": {
                        "type": "structure",
                        "members": {
                            "oidc": {
                                "type": "structure",
                                "members": {
                                    "identityProviderConfigName": {},
                                    "identityProviderConfigArn": {},
                                    "clusterName": {},
                                    "issuerUrl": {},
                                    "clientId": {},
                                    "usernameClaim": {},
                                    "usernamePrefix": {},
                                    "groupsClaim": {},
                                    "groupsPrefix": {},
                                    "requiredClaims": {
                                        "shape": "Sk"
                                    },
                                    "tags": {
                                        "shape": "Sn"
                                    },
                                    "status": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeNodegroup": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DescribeUpdate": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/updates/{updateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "updateId"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "updateId": {
                        "location": "uri",
                        "locationName": "updateId"
                    },
                    "nodegroupName": {
                        "location": "querystring",
                        "locationName": "nodegroupName"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "DisassociateIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/disassociate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "identityProviderConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "identityProviderConfig": {
                        "shape": "S3m"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListAddons": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/addons"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addons": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/HAVMF3MJMZQQLYP53DL4VQFTJBCLMQD7AKRKWV5POLZS5OB4Q4TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3FDDSYGGVY2AIS4SUECSS4H6A4PJ2FXOCO4YWOKID6YQT3YF4DXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5BR5SVH6AUQC55ZHGVESTD5Q2OD5WD2FTLORFDOOD2FMNG3GBZTQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SGY4A6VNPUALWY6YDSGRYS7AEFJABYW5AD7RN6HIJRDU2AJFIBFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "include": {
                        "location": "querystring",
                        "locationName": "include",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOM4KLVYY4MQLRAQTGJQRJVJ4H2FT755MAHDNIRLLVEVHUAKG2KQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PLGKH6WNIGJDL2QEOC7SAQLQWZQAZFAVNR2PTY553NUX6MZOW26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H4E7NL4YYJ4QOQ6I4TJ7YNATKL2DYCPCCG544WN5E5FSQKA4B7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XTSQKALOPPTF6D44YE2ZYRSBNXU47ZBCNCQJJPCLHXYMVMQXTRHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URIWIJEOCRCOPLLV46SRKTS6U34YVC45GWPO6WRIQEJ6U4XE5DDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HUGFFQXFEYJETJARZAVKRKA73Y365KWO7R7K7WBSY3CN4RDUV5JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URVTNW7MAW4DGGFAZE6G46T4WMDFBD6ULVQWY4CBCH7FEVLHSAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OP3UHZ2EFWXZLLU6GHB3CIOC3NH7HUPDEUJQNBTPNSQE3DSTWPJA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UYIXZYQOMAXITKDD2JAGUS675TIGYP4BPIZZT6LEH7R6LVNFB7MQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XKTRDSSL4HACGOLP3UMJGCAKGA6BWERAOSWEHUVF6LCGQNWV7VBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXWKR5Q6ZBWB46CPT7ARAHFHANZEV6MXDHCYUVJLAXA3XJXRAKYQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PEVLS7PXASA76JYXUYLHWTRXE3LUC5RZFTU3LV3STMCEQSJAUVVQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TGYWHTC473VS4OH36REC5HBILBHPJWKDC6CE2BNQU35C7K7VLI3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AS6KDKXL5BWMPFSY6XMRRFSNZF6W7BDNZZO7NFWKZTU5CGRRUDHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V4BS5MLTPZODBKMLYAQMN4UGC63YMTI3D7SUHCTWA5WNGPGIQFIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2CET6CURUTEEKLVLR5WKYQHHXOATWFW62NOIW5Z2OWQWSIQZBGCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7YN4G3Q3IDM7BN7SNX3ADLNN4HXFQK7X5FHYCF53Z5UZ3BC4WAAQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/PRANVRKIGQRPMTGCVGPTDMF3KCOZKLA7ELNTT6CGAIEJXMAXO6BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OOP2UD7VDJFKWUFTZFUZ7STTM4LLWJPV76CJRNZ5MXBWIA2UR5WQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FTXOYLDBCBUCZ4QKB5B7CPNXQX42XVAPSNTXC6OTUUEK5PJ2TCHQ/vendors.js"
            ]
        },
        "ListFargateProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/fargate-profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfileNames": {
                        "shape": "S5"
                    },
[...]
