{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-01",
        "endpointPrefix": "eks",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon EKS",
        "serviceFullName": "Amazon Elastic Kubernetes Service",
        "serviceId": "EKS",
        "signatureVersion": "v4",
        "signingName": "eks",
        "uid": "eks-2017-11-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js"
        ]
    },
    "operations": {
        "AssociateEncryptionConfig": {
            "http": {
                "requestUri": "/clusters/{name}/encryption-config/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "encryptionConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "encryptionConfig": {
                        "shape": "S3"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "AssociateIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "oidc"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "oidc": {
                        "type": "structure",
                        "required": [
                            "identityProviderConfigName",
                            "issuerUrl",
                            "clientId"
                        ],
                        "members": {
                            "identityProviderConfigName": {},
                            "issuerUrl": {},
                            "clientId": {},
                            "usernameClaim": {},
                            "usernamePrefix": {},
                            "groupsClaim": {},
                            "groupsPrefix": {},
                            "requiredClaims": {
                                "shape": "Sk"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "CreateAddon": {
            "http": {
                "requestUri": "/clusters/{name}/addons"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {},
                    "addonVersion": {},
                    "serviceAccountRoleArn": {},
                    "resolveConflicts": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "configurationValues": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "CreateCluster": {
            "http": {
                "requestUri": "/clusters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "resourcesVpcConfig"
                ],
                "members": {
                    "name": {},
                    "version": {},
                    "roleArn": {},
                    "resourcesVpcConfig": {
                        "shape": "S14"
                    },
                    "kubernetesNetworkConfig": {
                        "type": "structure",
                        "members": {
                            "serviceIpv4Cidr": {},
                            "ipFamily": {}
                        }
                    },
                    "logging": {
                        "shape": "S18"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "encryptionConfig": {
                        "shape": "S3"
                    },
                    "outpostConfig": {
                        "type": "structure",
                        "required": [
                            "outpostArns",
                            "controlPlaneInstanceType"
                        ],
                        "members": {
                            "outpostArns": {
                                "shape": "S5"
                            },
                            "controlPlaneInstanceType": {},
                            "controlPlanePlacement": {
                                "type": "structure",
                                "members": {
                                    "groupName": {}
                                }
                            }
                        }
                    },
                    "enableClusterCreatorAdminPermissions": {
                        "type": "boolean"
                    },
                    "computeConfig": {
                        "shape": "S1n"
                    },
                    "accessConfig": {
                        "type": "structure",
                        "members": {
                            "bootstrapClusterCreatorAdminPermissions": {
                                "type": "boolean"
                            },
                            "authenticationMode": {}
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "CreateFargateProfile": {
            "http": {
                "requestUri": "/clusters/{name}/fargate-profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "fargateProfileName",
                    "clusterName",
                    "podExecutionRoleArn"
                ],
                "members": {
                    "fargateProfileName": {},
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "podExecutionRoleArn": {},
                    "subnets": {
                        "shape": "S5"
                    },
                    "selectors": {
                        "shape": "S1w"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "CreateNodegroup": {
            "http": {
                "requestUri": "/clusters/{name}/node-groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName",
                    "subnets",
                    "nodeRole"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {},
                    "scalingConfig": {
                        "shape": "S23"
                    },
                    "diskSize": {
                        "type": "integer"
                    },
                    "subnets": {
                        "shape": "S5"
                    },
                    "instanceTypes": {
                        "shape": "S5"
                    },
                    "amiType": {},
                    "remoteAccess": {
                        "shape": "S28"
                    },
                    "nodeRole": {},
                    "labels": {
                        "shape": "S29"
                    },
                    "taints": {
                        "shape": "S2c"
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "launchTemplate": {
                        "shape": "S2h"
                    },
                    "updateConfig": {
                        "shape": "S2i"
                    },
                    "capacityType": {},
                    "version": {},
                    "releaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DeleteAddon": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/addons/{addonName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    },
                    "preserve": {
                        "location": "querystring",
                        "locationName": "preserve",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DeleteFargateProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "fargateProfileName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "fargateProfileName": {
                        "location": "uri",
                        "locationName": "fargateProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DeleteNodegroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DeregisterCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-registrations/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQIC5OPKPHK2IFDDBYWJTOOM5GTLDEROAG74I2B7R7JUL77VBMCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GXZLXMOGNGEB22U4VSHW5XH35JMYOKV43WPB65HH45LEWKN2UVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js"
            ]
        },
        "DescribeAddon": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/addons/{addonName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DescribeAddonVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/addons/supported-versions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "kubernetesVersion": {
                        "location": "querystring",
                        "locationName": "kubernetesVersion"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    },
                    "types": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "types"
                    },
                    "publishers": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "publishers"
                    },
                    "owners": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "owners"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addons": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "addonName": {},
                                "type": {},
                                "addonVersions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "addonVersion": {},
                                            "architecture": {
                                                "shape": "S5"
                                            },
                                            "compatibilities": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "clusterVersion": {},
                                                        "platformVersions": {
                                                            "shape": "S5"
                                                        },
                                                        "defaultVersion": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "requiresConfiguration": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "publisher": {},
                                "owner": {},
                                "marketplaceInformation": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DescribeFargateProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "fargateProfileName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "fargateProfileName": {
                        "location": "uri",
                        "locationName": "fargateProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DescribeIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/describe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "identityProviderConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "identityProviderConfig": {
                        "shape": "S3m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "identityProviderConfig": {
                        "type": "structure",
                        "members": {
                            "oidc": {
                                "type": "structure",
                                "members": {
                                    "identityProviderConfigName": {},
                                    "identityProviderConfigArn": {},
                                    "clusterName": {},
                                    "issuerUrl": {},
                                    "clientId": {},
                                    "usernameClaim": {},
                                    "usernamePrefix": {},
                                    "groupsClaim": {},
                                    "groupsPrefix": {},
                                    "requiredClaims": {
                                        "shape": "Sk"
                                    },
                                    "tags": {
                                        "shape": "Sn"
                                    },
                                    "status": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "DescribeNodegroup": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DescribeUpdate": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/updates/{updateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "updateId"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "updateId": {
                        "location": "uri",
                        "locationName": "updateId"
                    },
                    "nodegroupName": {
                        "location": "querystring",
                        "locationName": "nodegroupName"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "DisassociateIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/disassociate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "identityProviderConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "identityProviderConfig": {
                        "shape": "S3m"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListAddons": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/addons"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addons": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XT3LXPHB4FQLF7Y542XEDQOQ4H3FMDF4ALCLRZLXXPAQD2A7NHSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YEOLHPLUZ2FDCAN7XCW74VPUJT7R4J3PAB67O26ZU6OC7HZAJYQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IZVLCLQSGTZEQZ6KRGZO355MX6FPGVL65L3QCDINK6BKGNQXPOQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QQVXODUZTKHUFWPLIVXTL2CZCE3K7FDMWSMUZNEG7KA373ID4RNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "include": {
                        "location": "querystring",
                        "locationName": "include",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLV7UQ4HHURH2PWMWUTI4TRE3RZVPZQ3ROTXW6757R54ULXT4D3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RM7OZLRQIUTHBMQKCFHZAQITPN2BWFL37DNSFRFWCIMHQU4TCL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HEFRCVKQJFB2ZTVIB32QFO6HMYKXRR2XECIGWPFHCP5I52KXSFVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNIU3665QM4KXXNIJZKLLC52CPESK6GFGNYQTKGF2SR7TH47VWVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NJFLRIB4PJOOY7BABX5WZ3FRLLGPRPSZ6ZHMO5E2ZCUQX7NLIUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OABCTK4UZNWLYRFS3ZP7YIVIJINTL35GOLQA3TT6OWO2BZKVHNJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NASSVW64R6AOR4I6TFUPY2JSAQPP3HB2HUTMGAXHXXPUSXFBN64A/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MDT36HMDGID7UIKTYFTX23FIESEMO45TPL636T72IXNGOPWDNBLQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XOGL3322JCCPZDBIZ2ZEVFLI3CWK5A5O7BDO624KS7AYOASGL3NA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WJY7AXOEJ6EY7SZ6GX6POSVY3TUQFB4VZEXGZIVHCEY5WSMWKUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js"
            ]
        },
        "ListFargateProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/fargate-profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfileNames": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5FKMJDJ36MFKATQNLIWZAASCZCQBNO6U5JVBBVEVVVN4ANEG3XMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EVS7KQXDZIXWYFGTKHNNVY5LOPSBDUNGWTSEOMOA3C2WDYXD6E5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AR4IEGYRUCEHTTWXP6KRIADHQ72WVJNWFKHC4KU5BCKDR2D4FVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YM7RRLSBTEZFJ2XOKIINUJ6KADUHNS6CSP6COWS2M5MUUISBZQMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLFM5LVIYCGG2PKNUNAUZSPOT2BI4W5RPXLZMOQKWL53JDYFYRRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SDN6YKO2DLJ2OWCH47KPNNA3FMOXZDPTNMKHRP6MMOL6VOLJQLOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LS22N7AKYDBXIIKKXEZS2UIJ6CMZYJSBOPMOPAFP4FOHVIGY5RLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CONTSGMMJHRI3A5R7ZZGTJRNVCDOVYXLBXWXDIX4GKVD22PNL47Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WASEEISZ4UT2M3QFTIJROSDMUXCN7IECE53U46S34JIGAPULSOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
[...]
