{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-11-01",
        "endpointPrefix": "eks",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon EKS",
        "serviceFullName": "Amazon Elastic Kubernetes Service",
        "serviceId": "EKS",
        "signatureVersion": "v4",
        "signingName": "eks",
        "uid": "eks-2017-11-01",
        "download_location": [
            "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
            "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
            "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
        ]
    },
    "operations": {
        "AssociateEncryptionConfig": {
            "http": {
                "requestUri": "/clusters/{name}/encryption-config/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "encryptionConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "encryptionConfig": {
                        "shape": "S3"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AssociateIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/associate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "oidc"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "oidc": {
                        "type": "structure",
                        "required": [
                            "identityProviderConfigName",
                            "issuerUrl",
                            "clientId"
                        ],
                        "members": {
                            "identityProviderConfigName": {},
                            "issuerUrl": {},
                            "clientId": {},
                            "usernameClaim": {},
                            "usernamePrefix": {},
                            "groupsClaim": {},
                            "groupsPrefix": {},
                            "requiredClaims": {
                                "shape": "Sk"
                            }
                        }
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateAddon": {
            "http": {
                "requestUri": "/clusters/{name}/addons"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {},
                    "addonVersion": {},
                    "serviceAccountRoleArn": {},
                    "resolveConflicts": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateCluster": {
            "http": {
                "requestUri": "/clusters"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "roleArn",
                    "resourcesVpcConfig"
                ],
                "members": {
                    "name": {},
                    "version": {},
                    "roleArn": {},
                    "resourcesVpcConfig": {
                        "shape": "S14"
                    },
                    "kubernetesNetworkConfig": {
                        "type": "structure",
                        "members": {
                            "serviceIpv4Cidr": {},
                            "ipFamily": {}
                        }
                    },
                    "logging": {
                        "shape": "S18"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "encryptionConfig": {
                        "shape": "S3"
                    },
                    "outpostConfig": {
                        "type": "structure",
                        "required": [
                            "outpostArns",
                            "controlPlaneInstanceType"
                        ],
                        "members": {
                            "outpostArns": {
                                "shape": "S5"
                            },
                            "controlPlaneInstanceType": {},
                            "controlPlanePlacement": {
                                "type": "structure",
                                "members": {
                                    "groupName": {}
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateFargateProfile": {
            "http": {
                "requestUri": "/clusters/{name}/fargate-profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "fargateProfileName",
                    "clusterName",
                    "podExecutionRoleArn"
                ],
                "members": {
                    "fargateProfileName": {},
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "podExecutionRoleArn": {},
                    "subnets": {
                        "shape": "S5"
                    },
                    "selectors": {
                        "shape": "S1w"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "CreateNodegroup": {
            "http": {
                "requestUri": "/clusters/{name}/node-groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName",
                    "subnets",
                    "nodeRole"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {},
                    "scalingConfig": {
                        "shape": "S23"
                    },
                    "diskSize": {
                        "type": "integer"
                    },
                    "subnets": {
                        "shape": "S5"
                    },
                    "instanceTypes": {
                        "shape": "S5"
                    },
                    "amiType": {},
                    "remoteAccess": {
                        "shape": "S28"
                    },
                    "nodeRole": {},
                    "labels": {
                        "shape": "S29"
                    },
                    "taints": {
                        "shape": "S2c"
                    },
                    "tags": {
                        "shape": "Sn"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "launchTemplate": {
                        "shape": "S2h"
                    },
                    "updateConfig": {
                        "shape": "S2i"
                    },
                    "capacityType": {},
                    "version": {},
                    "releaseVersion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteAddon": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/addons/{addonName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    },
                    "preserve": {
                        "location": "querystring",
                        "locationName": "preserve",
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteFargateProfile": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "fargateProfileName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "fargateProfileName": {
                        "location": "uri",
                        "locationName": "fargateProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeleteNodegroup": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DeregisterCluster": {
            "http": {
                "method": "DELETE",
                "requestUri": "/cluster-registrations/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeAddon": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/addons/{addonName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addon": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeAddonVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/addons/supported-versions"
            },
            "input": {
                "type": "structure",
                "members": {
                    "kubernetesVersion": {
                        "location": "querystring",
                        "locationName": "kubernetesVersion"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    },
                    "types": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "types"
                    },
                    "publishers": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "publishers"
                    },
                    "owners": {
                        "shape": "S5",
                        "location": "querystring",
                        "locationName": "owners"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addons": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "addonName": {},
                                "type": {},
                                "addonVersions": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "addonVersion": {},
                                            "architecture": {
                                                "shape": "S5"
                                            },
                                            "compatibilities": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "clusterVersion": {},
                                                        "platformVersions": {
                                                            "shape": "S5"
                                                        },
                                                        "defaultVersion": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                }
                                            },
                                            "requiresConfiguration": {
                                                "type": "boolean"
                                            }
                                        }
                                    }
                                },
                                "publisher": {},
                                "owner": {},
                                "marketplaceInformation": {
                                    "shape": "S12"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeCluster": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeFargateProfile": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/fargate-profiles/{fargateProfileName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "fargateProfileName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "fargateProfileName": {
                        "location": "uri",
                        "locationName": "fargateProfileName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfile": {
                        "shape": "S20"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/describe"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "identityProviderConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "identityProviderConfig": {
                        "shape": "S3m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "identityProviderConfig": {
                        "type": "structure",
                        "members": {
                            "oidc": {
                                "type": "structure",
                                "members": {
                                    "identityProviderConfigName": {},
                                    "identityProviderConfigArn": {},
                                    "clusterName": {},
                                    "issuerUrl": {},
                                    "clientId": {},
                                    "usernameClaim": {},
                                    "usernamePrefix": {},
                                    "groupsClaim": {},
                                    "groupsPrefix": {},
                                    "requiredClaims": {
                                        "shape": "Sk"
                                    },
                                    "tags": {
                                        "shape": "Sn"
                                    },
                                    "status": {}
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeNodegroup": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroup": {
                        "shape": "S2n"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DescribeUpdate": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/updates/{updateId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "updateId"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "updateId": {
                        "location": "uri",
                        "locationName": "updateId"
                    },
                    "nodegroupName": {
                        "location": "querystring",
                        "locationName": "nodegroupName"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "DisassociateIdentityProviderConfig": {
            "http": {
                "requestUri": "/clusters/{name}/identity-provider-configs/disassociate"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "identityProviderConfig"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "identityProviderConfig": {
                        "shape": "S3m"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListAddons": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/addons"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addons": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListClusters": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters"
            },
            "input": {
                "type": "structure",
                "members": {
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "include": {
                        "location": "querystring",
                        "locationName": "include",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusters": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListFargateProfiles": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/fargate-profiles"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "fargateProfileNames": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListIdentityProviderConfigs": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/identity-provider-configs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "identityProviderConfigs": {
                        "type": "list",
                        "member": {
                            "shape": "S3m"
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListNodegroups": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/node-groups"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "nodegroups": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "ListUpdates": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/updates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "querystring",
                        "locationName": "nodegroupName"
                    },
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "updateIds": {
                        "shape": "S5"
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "RegisterCluster": {
            "http": {
                "requestUri": "/cluster-registrations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "connectorConfig"
                ],
                "members": {
                    "name": {},
                    "connectorConfig": {
                        "type": "structure",
                        "required": [
                            "roleArn",
                            "provider"
                        ],
                        "members": {
                            "roleArn": {},
                            "provider": {}
                        }
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "cluster": {
                        "shape": "S1g"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateAddon": {
            "http": {
                "requestUri": "/clusters/{name}/addons/{addonName}/update"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "addonName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "addonName": {
                        "location": "uri",
                        "locationName": "addonName"
                    },
                    "addonVersion": {},
                    "serviceAccountRoleArn": {},
                    "resolveConflicts": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateClusterConfig": {
            "http": {
                "requestUri": "/clusters/{name}/update-config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "resourcesVpcConfig": {
                        "shape": "S14"
                    },
                    "logging": {
                        "shape": "S18"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateClusterVersion": {
            "http": {
                "requestUri": "/clusters/{name}/updates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "name",
                    "version"
                ],
                "members": {
                    "name": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "version": {},
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateNodegroupConfig": {
            "http": {
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}/update-config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    },
                    "labels": {
                        "type": "structure",
                        "members": {
                            "addOrUpdateLabels": {
                                "shape": "S29"
                            },
                            "removeLabels": {
                                "type": "list",
                                "member": {}
                            }
                        }
                    },
                    "taints": {
                        "type": "structure",
                        "members": {
                            "addOrUpdateTaints": {
                                "shape": "S2c"
                            },
                            "removeTaints": {
                                "shape": "S2c"
                            }
                        }
                    },
                    "scalingConfig": {
                        "shape": "S23"
                    },
                    "updateConfig": {
                        "shape": "S2i"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "UpdateNodegroupVersion": {
            "http": {
                "requestUri": "/clusters/{name}/node-groups/{nodegroupName}/update-version"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "nodegroupName"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "nodegroupName": {
                        "location": "uri",
                        "locationName": "nodegroupName"
                    },
                    "version": {},
                    "releaseVersion": {},
                    "launchTemplate": {
                        "shape": "S2h"
                    },
                    "force": {
                        "type": "boolean"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "update": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://dj1z41g2qjql6.cloudfront.net/714b4ed217f18a803e4988c7f8dbfd696775025a/main.js",
                "https://dj1z41g2qjql6.cloudfront.net/b5538d2439cb439e582e6b031f0326592a835b54/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHSDOR4DRUKTXUBV7JEPPVASFMTATDMS5SQENQES3VH3PFJFEJBQ/vendors.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/X7YUN4VNIIPZFTIYDPJ72ZYMO2SH6YV7X4QHAN7JAE5YZAZI4LTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D53VIAVXUTD6TSIYVS5O5KG7DH66KU2HRSQLJFOPZLLTRFS7KVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R5QJ2MX2GKCR3E2LC4DNPS6A2VFYTIRLBMTVUXGMXASTDMWAO7YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLN7OL7A5LDEZ34EOBHLIENFH444G57FGKOCNGM54BJPEMWGA6GA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EEIT5GAATJJVCC7JDSRWLDQC754MNPHPHOQTE7IM3BJNP4UGLWKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FQUMICPKMAR3SBLFRA2DPLEI64PCFPUNE6KFRRWSFOQHFA26BKBA/vendors.js"
            ]
        },
        "AssociateAccessPolicy": {
            "http": {
                "requestUri": "/clusters/{name}/access-entries/{principalArn}/access-policies"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "principalArn",
                    "policyArn",
                    "accessScope"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "principalArn": {
                        "location": "uri",
                        "locationName": "principalArn"
                    },
                    "policyArn": {},
                    "accessScope": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "clusterName": {},
                    "principalArn": {},
                    "associatedAccessPolicy": {
                        "shape": "S7"
                    }
                }
            },
            "download_location": [
                "https://d363dv9t4dnbqy.cloudfront.net/16fa9e0674c4b23d1fd4350021405f6d16855890/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js"
            ]
        },
        "CreateAccessEntry": {
            "http": {
                "requestUri": "/clusters/{name}/access-entries"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "principalArn"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "principalArn": {},
                    "kubernetesGroups": {
                        "shape": "S5"
                    },
                    "tags": {
                        "shape": "Ss"
                    },
                    "clientRequestToken": {
                        "idempotencyToken": true
                    },
                    "username": {},
                    "type": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessEntry": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://d363dv9t4dnbqy.cloudfront.net/16fa9e0674c4b23d1fd4350021405f6d16855890/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js"
            ]
        },
        "DeleteAccessEntry": {
            "http": {
                "method": "DELETE",
                "requestUri": "/clusters/{name}/access-entries/{principalArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "principalArn"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "principalArn": {
                        "location": "uri",
                        "locationName": "principalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://d363dv9t4dnbqy.cloudfront.net/16fa9e0674c4b23d1fd4350021405f6d16855890/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js"
            ]
        },
        "DescribeAccessEntry": {
            "http": {
                "method": "GET",
                "requestUri": "/clusters/{name}/access-entries/{principalArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "clusterName",
                    "principalArn"
                ],
                "members": {
                    "clusterName": {
                        "location": "uri",
                        "locationName": "name"
                    },
                    "principalArn": {
                        "location": "uri",
                        "locationName": "principalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "accessEntry": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://d363dv9t4dnbqy.cloudfront.net/16fa9e0674c4b23d1fd4350021405f6d16855890/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js"
            ]
        },
        "DescribeAddonConfiguration": {
            "http": {
                "method": "GET",
                "requestUri": "/addons/configuration-schemas"
            },
            "input": {
                "type": "structure",
                "required": [
                    "addonName",
                    "addonVersion"
                ],
                "members": {
                    "addonName": {
                        "location": "querystring",
                        "locationName": "addonName"
                    },
                    "addonVersion": {
                        "location": "querystring",
                        "locationName": "addonVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "addonName": {},
                    "addonVersion": {},
                    "configurationSchema": {},
                    "serviceAccountRoleConfiguration": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "serviceAccountName": {},
                                "requiredIamPolicies": {
                                    "shape": "S5"
                                },
                                "requiredIamPermissions": {
                                    "shape": "S5"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://d363dv9t4dnbqy.cloudfront.net/16fa9e0674c4b23d1fd4350021405f6d16855890/main.js",
                "https://d363dv9t4dnbqy.cloudfront.net/d607bdbf82cea5c66f136e446a148b9ef58dc9f1/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCTMOVGQJWI3A3G4EPPYQHN7D7PLNQ3BJXP6ADVFZEGEFIESPFCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NVZ7KSEA46V5R4GISUJUDM6JIJPT4VVBCB4BCQVXBAGTDV3OSL3A/vendors.sdk.js",
[...]
