{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-12-01",
        "endpointPrefix": "elasticbeanstalk",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Elastic Beanstalk",
        "serviceFullName": "AWS Elastic Beanstalk",
        "serviceId": "Elastic Beanstalk",
        "signatureVersion": "v4",
        "targetPrefix": "AWSElasticBeanstalkService",
        "uid": "elasticbeanstalk-2010-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/XGM4LWK5YKR35PYJLB2X2JY5CHNL5DQKUJODUAETFTZWLMSVFQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
        ]
    },
    "operations": {
        "AbortEnvironmentUpdate": {
            "input": {
                "type": "structure",
                "members": {
                    "EnvironmentId": {},
                    "EnvironmentName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "ApplyEnvironmentManagedAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionId"
                ],
                "members": {
                    "EnvironmentName": {},
                    "EnvironmentId": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionId": {},
                    "ActionDescription": {},
                    "ActionType": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "AssociateEnvironmentOperationsRole": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName",
                    "OperationsRole"
                ],
                "members": {
                    "EnvironmentName": {},
                    "OperationsRole": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CheckDNSAvailability": {
            "input": {
                "type": "structure",
                "required": [
                    "CNAMEPrefix"
                ],
                "members": {
                    "CNAMEPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Available": {
                        "type": "boolean"
                    },
                    "FullyQualifiedCNAME": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "ComposeEnvironments": {
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationName": {},
                    "GroupName": {},
                    "VersionLabels": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "Description": {},
                    "ResourceLifecycleConfig": {
                        "shape": "S1f"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S1p"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateApplicationVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "VersionLabel"
                ],
                "members": {
                    "ApplicationName": {},
                    "VersionLabel": {},
                    "Description": {},
                    "SourceBuildInformation": {
                        "shape": "S1v"
                    },
                    "SourceBundle": {
                        "shape": "S1z"
                    },
                    "SourceBundleUrl": {},
                    "BuildConfiguration": {
                        "type": "structure",
                        "required": [
                            "CodeBuildServiceRole",
                            "Image"
                        ],
                        "members": {
                            "ArtifactName": {},
                            "CodeBuildServiceRole": {},
                            "ComputeType": {},
                            "Image": {},
                            "TimeoutInMinutes": {
                                "type": "integer"
                            }
                        }
                    },
                    "AutoCreateApplication": {
                        "type": "boolean"
                    },
                    "Process": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S28"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateConfigurationTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "TemplateName"
                ],
                "members": {
                    "ApplicationName": {},
                    "TemplateName": {},
                    "Description": {},
                    "Compiled": {
                        "type": "boolean"
                    },
                    "Compact": {
                        "type": "boolean"
                    },
                    "Tier": {
                        "shape": "S18"
                    },
                    "SolutionStackName": {},
                    "PlatformArn": {},
                    "SourceConfiguration": {
                        "shape": "S2g"
                    },
                    "EnvironmentId": {},
                    "OptionSettings": {
                        "shape": "S2h"
                    },
                    "OptionsToRemove": {
                        "shape": "S2n"
                    },
                    "VersionLabel": {},
                    "TemplateSpecification": {
                        "shape": "S2p"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S34"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "EnvironmentName": {},
                    "GroupName": {},
                    "Description": {},
                    "CNAMEPrefix": {},
                    "Tier": {
                        "shape": "S18"
                    },
                    "Tags": {
                        "shape": "S1l"
                    },
                    "VersionLabel": {},
                    "TemplateName": {},
                    "SolutionStackName": {},
                    "PlatformArn": {},
                    "OptionSettings": {
                        "shape": "S2h"
                    },
                    "OptionsToRemove": {
                        "shape": "S2n"
                    },
                    "TemplateSpecification": {
                        "shape": "S2p"
                    },
                    "EnvironmentLinkConfigurations": {
                        "shape": "S37"
                    },
                    "ServiceRegistries": {
                        "shape": "S3d"
                    },
                    "OperationsRole": {}
                }
            },
            "output": {
                "shape": "Sm"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateEnvironmentLinks": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentLinkConfigurations"
                ],
                "members": {
                    "EnvironmentLinkConfigurations": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentLinks": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateHealthGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "HealthGroupName"
                ],
                "members": {
                    "HealthGroupName": {},
                    "HealthGroupId": {
                        "idempotencyToken": true
                    },
                    "NotificationConfiguration": {
                        "shape": "S3u"
                    },
                    "LogStreamingConfiguration": {
                        "shape": "S3z"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthGroupDescription": {
                        "shape": "S41"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreatePlatformVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformName",
                    "PlatformVersion",
                    "PlatformDefinitionBundle"
                ],
                "members": {
                    "PlatformName": {},
                    "PlatformVersion": {},
                    "PlatformDefinitionBundle": {
                        "shape": "S1z"
                    },
                    "EnvironmentName": {},
                    "OptionSettings": {
                        "shape": "S2h"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PlatformSummary": {
                        "shape": "S4d"
                    },
                    "Builder": {
                        "type": "structure",
                        "members": {
                            "ARN": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateServerlessEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName"
                ],
                "members": {
                    "EnvironmentName": {},
                    "Description": {},
                    "NotificationConfiguration": {
                        "shape": "S4t"
                    },
                    "MonitoringConfiguration": {
                        "shape": "S4v"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S4x"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "CreateStorageLocation": {
            "output": {
                "type": "structure",
                "members": {
                    "S3Bucket": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "TerminateEnvByForce": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteApplicationVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "VersionLabel"
                ],
                "members": {
                    "ApplicationName": {},
                    "VersionLabel": {},
                    "DeleteSourceBundle": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteConfigurationTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "TemplateName"
                ],
                "members": {
                    "ApplicationName": {},
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteEnvironmentConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "EnvironmentName"
                ],
                "members": {
                    "ApplicationName": {},
                    "EnvironmentName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteEnvironmentLinks": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentLinkArns"
                ],
                "members": {
                    "EnvironmentLinkArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentLinks": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteHealthGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "HealthGroupArn"
                ],
                "members": {
                    "HealthGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeletePlatformVersion": {
            "input": {
                "type": "structure",
                "members": {
                    "PlatformArn": {},
                    "DeleteResources": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PlatformSummary": {
                        "shape": "S4d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteResourceSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceSnapshotArn"
                ],
                "members": {
                    "ResourceSnapshotArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSnapshot": {
                        "shape": "S5i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteServerlessEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerlessEnvironmentArn"
                ],
                "members": {
                    "ServerlessEnvironmentArn": {}
                }
            },
            "output": {
                "shape": "S4x"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeleteServiceLinkedRole": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomSuffix": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeployApplicationVersion": {
            "input": {
                "type": "structure",
                "members": {
                    "EnvironmentId": {},
                    "EnvironmentName": {},
                    "VersionLabel": {},
                    "EbExtensionsChanged": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Sm"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeregisterHealthGroupTarget": {
            "input": {
                "type": "structure",
                "required": [
                    "HealthGroupArn",
                    "ResourceArn"
                ],
                "members": {
                    "HealthGroupArn": {},
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JI2TIK6J4D3ZWJ7SLH5UOOODPL6WRQ7S7HJ3GQBONO32L6XKDXJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGWHURNGFM5FXE7GNXRZQJ7ALA53CEHRJYRPS5LWFNS2Z4CJQJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S6JD2OV3GYS7X52IYUTMAOU2KZQQ5SNAY6GXF4Y2NMHOBUKRAUZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DHOCASFZ7HUWBC3NS42KRXWGKP6SO2OMVR5JBEXUEQPMTP64TDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6WSBXV73SYO5B4HTKHTO7JSU4RHNNDZS4ABHBERGZNAYQKPUKQGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QB442M76OT2FXXWTZDY2ZNZG5JEV52DDJ6XADTVJPKPCSILVJVXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NBC2MK32PPQFFHAE6GEP4ANYLNIN2OSU5H7ZJH7SMSZQHYAFTF3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J34K6OKHMAU56HUTA5FEHW3CVDZJHQHQYKRB6SIMLLRWKI3YVLFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJES5C3Y4ZX4QA7JTM6XILCVBDLMAUTBJJ6QWO6WF524PUIDOLGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M2GZ2WNE35HG4TPKST4QQ4WZ5TK63TPXKURVQWLN7QLGTOD2KLIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TABF7IDAOT7SNYLHPFL2E7RMBJSTWVXEBYNK2WLPTQ4WDVBNEJ3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZJXWDNDJF2IRQNICOYHCV4WKY4FHT7L64PPFSC3LWVHA2PMZYXPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6APOEVBCEXFCEXFY5EEYRTL6B3X5HSSTJS3XSLCKEYY3P25PALUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/624DLCEBRQCNLCIBGKD2CQBQPM7AA76AUD5TD56EJ2LZ6HGM6H2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KEZQMIZ352WFWD6WO2YLNV52YXRQK4A6MSTVWOOMWPOYGDZKSOMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2VIT2VG4R66ZCWAS46EEWSIM6VNJBU3MQXMDARYCO75S2UZSS66A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JAY2C5RD65KLZR7XCVEMJIJYQLXKBWYCHE7F6PJDQBWT7GENIL4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7ODOEZX6HRDQZH5CUYLYNRC7UARV3MOKXTANCT4KJ4BMDG7NHBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZOVWO24HE4NJK3AOLQEUU7PO4J4AQXKFNQDFZ4AYGB3F4LNL3YCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CWZWFYKTQLYHPSJJIUJ3V43AL4NIDYF6ID4FUKM5VXKGYETJ2ECQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6BU2OVWITECZLA2AEEBL7Z25ITOW2KJMHEOI2Z36CTMWZX6WVNIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UHSQ4TV62VA6N3PGHUOHERNPWICOZML7IZUGMJ2CVMCULU6UOS2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZLTD6Z6OJNF4URPYEMKZZM7RQGIJOUVS5BA4S2MWAOGDLWX3AKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7C7STGHAFMYJ7EMMYPWQMLZWT57HJQ4DA2CABOVYRD3UULRGRRQ/vendors.js"
            ]
        },
        "DeregisterResource": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentArn",
                    "ResourceArn"
                ],
                "members": {
[...]
