{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-02-02",
        "endpointPrefix": "elasticache",
        "protocol": "query",
        "serviceFullName": "Amazon ElastiCache",
        "serviceId": "ElastiCache",
        "signatureVersion": "v4",
        "uid": "elasticache-2015-02-02",
        "xmlNamespace": "http://elasticache.amazonaws.com/doc/2015-02-02/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceName",
                    "Tags"
                ],
                "members": {
                    "ResourceName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S5",
                "resultWrapper": "AddTagsToResourceResult"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "AuthorizeCacheSecurityGroupIngress": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSecurityGroupName",
                    "EC2SecurityGroupName",
                    "EC2SecurityGroupOwnerId"
                ],
                "members": {
                    "CacheSecurityGroupName": {},
                    "EC2SecurityGroupName": {},
                    "EC2SecurityGroupOwnerId": {}
                }
            },
            "output": {
                "resultWrapper": "AuthorizeCacheSecurityGroupIngressResult",
                "type": "structure",
                "members": {
                    "CacheSecurityGroup": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "BatchApplyUpdateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceUpdateName"
                ],
                "members": {
                    "ReplicationGroupIds": {
                        "shape": "Sc"
                    },
                    "CacheClusterIds": {
                        "shape": "Sd"
                    },
                    "ServiceUpdateName": {}
                }
            },
            "output": {
                "shape": "Se",
                "resultWrapper": "BatchApplyUpdateActionResult"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "BatchStopUpdateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceUpdateName"
                ],
                "members": {
                    "ReplicationGroupIds": {
                        "shape": "Sc"
                    },
                    "CacheClusterIds": {
                        "shape": "Sd"
                    },
                    "ServiceUpdateName": {}
                }
            },
            "output": {
                "shape": "Se",
                "resultWrapper": "BatchStopUpdateActionResult"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CompleteMigration": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "CompleteMigrationResult",
                "type": "structure",
                "members": {
                    "ReplicationGroup": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CopySnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceSnapshotName",
                    "TargetSnapshotName"
                ],
                "members": {
                    "SourceSnapshotName": {},
                    "TargetSnapshotName": {},
                    "TargetBucket": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "resultWrapper": "CopySnapshotResult",
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateCacheCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheClusterId"
                ],
                "members": {
                    "CacheClusterId": {},
                    "ReplicationGroupId": {},
                    "AZMode": {},
                    "PreferredAvailabilityZone": {},
                    "PreferredAvailabilityZones": {
                        "shape": "S1n"
                    },
                    "NumCacheNodes": {
                        "type": "integer"
                    },
                    "CacheNodeType": {},
                    "Engine": {},
                    "EngineVersion": {},
                    "CacheParameterGroupName": {},
                    "CacheSubnetGroupName": {},
                    "CacheSecurityGroupNames": {
                        "shape": "S1o"
                    },
                    "SecurityGroupIds": {
                        "shape": "S1p"
                    },
                    "Tags": {
                        "shape": "S3"
                    },
                    "SnapshotArns": {
                        "shape": "S1q"
                    },
                    "SnapshotName": {},
                    "PreferredMaintenanceWindow": {},
                    "Port": {
                        "type": "integer"
                    },
                    "NotificationTopicArn": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "SnapshotRetentionLimit": {
                        "type": "integer"
                    },
                    "SnapshotWindow": {},
                    "AuthToken": {},
                    "OutpostMode": {},
                    "PreferredOutpostArn": {},
                    "PreferredOutpostArns": {
                        "shape": "S1s"
                    },
                    "LogDeliveryConfigurations": {
                        "shape": "S27"
                    },
                    "TransitEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "NetworkType": {},
                    "IpDiscovery": {}
                }
            },
            "output": {
                "resultWrapper": "CreateCacheClusterResult",
                "type": "structure",
                "members": {
                    "CacheCluster": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateCacheParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheParameterGroupName",
                    "CacheParameterGroupFamily",
                    "Description"
                ],
                "members": {
                    "CacheParameterGroupName": {},
                    "CacheParameterGroupFamily": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateCacheParameterGroupResult",
                "type": "structure",
                "members": {
                    "CacheParameterGroup": {
                        "shape": "S27"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateCacheSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSecurityGroupName",
                    "Description"
                ],
                "members": {
                    "CacheSecurityGroupName": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateCacheSecurityGroupResult",
                "type": "structure",
                "members": {
                    "CacheSecurityGroup": {
                        "shape": "S8"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateCacheSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSubnetGroupName",
                    "CacheSubnetGroupDescription",
                    "SubnetIds"
                ],
                "members": {
                    "CacheSubnetGroupName": {},
                    "CacheSubnetGroupDescription": {},
                    "SubnetIds": {
                        "shape": "S2b"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateCacheSubnetGroupResult",
                "type": "structure",
                "members": {
                    "CacheSubnetGroup": {
                        "shape": "S2d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateGlobalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalReplicationGroupIdSuffix",
                    "PrimaryReplicationGroupId"
                ],
                "members": {
                    "GlobalReplicationGroupIdSuffix": {},
                    "GlobalReplicationGroupDescription": {},
                    "PrimaryReplicationGroupId": {}
                }
            },
            "output": {
                "resultWrapper": "CreateGlobalReplicationGroupResult",
                "type": "structure",
                "members": {
                    "GlobalReplicationGroup": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId",
                    "ReplicationGroupDescription"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "ReplicationGroupDescription": {},
                    "GlobalReplicationGroupId": {},
                    "PrimaryClusterId": {},
                    "AutomaticFailoverEnabled": {
                        "type": "boolean"
                    },
                    "MultiAZEnabled": {
                        "type": "boolean"
                    },
                    "NumCacheClusters": {
                        "type": "integer"
                    },
                    "PreferredCacheClusterAZs": {
                        "shape": "S1j"
                    },
                    "NumNodeGroups": {
                        "type": "integer"
                    },
                    "ReplicasPerNodeGroup": {
                        "type": "integer"
                    },
                    "NodeGroupConfiguration": {
                        "type": "list",
                        "member": {
                            "shape": "S1h",
                            "locationName": "NodeGroupConfiguration"
                        }
                    },
                    "CacheNodeType": {},
                    "Engine": {},
                    "EngineVersion": {},
                    "CacheParameterGroupName": {},
                    "CacheSubnetGroupName": {},
                    "CacheSecurityGroupNames": {
                        "shape": "S1o"
                    },
                    "SecurityGroupIds": {
                        "shape": "S1p"
                    },
                    "Tags": {
                        "shape": "S3"
                    },
                    "SnapshotArns": {
                        "shape": "S1q"
                    },
                    "SnapshotName": {},
                    "PreferredMaintenanceWindow": {},
                    "Port": {
                        "type": "integer"
                    },
                    "NotificationTopicArn": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "SnapshotRetentionLimit": {
                        "type": "integer"
                    },
                    "SnapshotWindow": {},
                    "AuthToken": {},
                    "TransitEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "AtRestEncryptionEnabled": {
                        "type": "boolean"
                    },
                    "KmsKeyId": {},
                    "UserGroupIds": {
                        "type": "list",
                        "member": {}
                    },
                    "LogDeliveryConfigurations": {
                        "shape": "S27"
                    },
                    "DataTieringEnabled": {
                        "type": "boolean"
                    },
                    "NetworkType": {},
                    "IpDiscovery": {},
                    "TransitEncryptionMode": {},
                    "ClusterMode": {},
                    "ServerlessCacheSnapshotName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateReplicationGroupResult",
                "type": "structure",
                "members": {
                    "ReplicationGroup": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotName"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "CacheClusterId": {},
                    "SnapshotName": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateSnapshotResult",
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "UserName",
                    "Engine",
                    "AccessString"
                ],
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "Engine": {},
                    "Passwords": {
                        "shape": "S2z"
                    },
                    "AccessString": {},
                    "NoPasswordRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S3"
                    },
                    "AuthenticationMode": {
                        "shape": "S3i"
                    }
                }
            },
            "output": {
                "shape": "S31",
                "resultWrapper": "CreateUserResult"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateUserGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "UserGroupId",
                    "Engine"
                ],
                "members": {
                    "UserGroupId": {},
                    "Engine": {},
                    "UserIds": {
                        "shape": "S35"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S36",
                "resultWrapper": "CreateUserGroupResult"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DecreaseNodeGroupsInGlobalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalReplicationGroupId",
                    "NodeGroupCount",
                    "ApplyImmediately"
                ],
                "members": {
                    "GlobalReplicationGroupId": {},
                    "NodeGroupCount": {
                        "type": "integer"
                    },
                    "GlobalNodeGroupsToRemove": {
                        "shape": "S3b"
                    },
                    "GlobalNodeGroupsToRetain": {
                        "shape": "S3b"
                    },
                    "ApplyImmediately": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DecreaseNodeGroupsInGlobalReplicationGroupResult",
                "type": "structure",
                "members": {
                    "GlobalReplicationGroup": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DecreaseReplicaCount": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId",
                    "ApplyImmediately"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "NewReplicaCount": {
                        "type": "integer"
                    },
                    "ReplicaConfiguration": {
                        "shape": "S3e"
                    },
                    "ReplicasToRemove": {
                        "type": "list",
                        "member": {}
                    },
                    "ApplyImmediately": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DecreaseReplicaCountResult",
                "type": "structure",
                "members": {
                    "ReplicationGroup": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteCacheCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheClusterId"
                ],
                "members": {
                    "CacheClusterId": {},
                    "FinalSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteCacheClusterResult",
                "type": "structure",
                "members": {
                    "CacheCluster": {
                        "shape": "S1u"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteCacheParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheParameterGroupName"
                ],
                "members": {
                    "CacheParameterGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteCacheSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSecurityGroupName"
                ],
                "members": {
                    "CacheSecurityGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteCacheSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSubnetGroupName"
                ],
                "members": {
                    "CacheSubnetGroupName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteGlobalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalReplicationGroupId",
                    "RetainPrimaryReplicationGroup"
                ],
                "members": {
                    "GlobalReplicationGroupId": {},
                    "RetainPrimaryReplicationGroup": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "DeleteGlobalReplicationGroupResult",
                "type": "structure",
                "members": {
                    "GlobalReplicationGroup": {
                        "shape": "S2k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2D34TN3JLORZGLEDF72KTRO4ZQQCB7R2B6UPHHZKL6NVYSEI6WHQ/app.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "RetainPrimaryCluster": {
                        "type": "boolean"
                    },
                    "FinalSnapshotIdentifier": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReplicationGroupResult",
                "type": "structure",
                "members": {
                    "ReplicationGroup": {
                        "shape": "So"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotName"
                ],
                "members": {
                    "SnapshotName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteSnapshotResult",
                "type": "structure",
                "members": {
                    "Snapshot": {
                        "shape": "S1e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZPCXDEVN4MKQ475PFRXURHRNBPFB5WLJY2OJUXMWDF4EXUGZ7PQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
[...]
