{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-12-01",
        "endpointPrefix": "elasticbeanstalk",
        "jsonVersion": "1.0",
        "protocol": "json",
        "serviceAbbreviation": "Elastic Beanstalk",
        "serviceFullName": "AWS Elastic Beanstalk",
        "serviceId": "Elastic Beanstalk",
        "signatureVersion": "v4",
        "targetPrefix": "AWSElasticBeanstalkService",
        "uid": "elasticbeanstalk-2010-12-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALPOBC47DK2K7O4A2PIGMV5XIOJIZBX5MKYSVKKZKMEM3CQ4JWIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
        ]
    },
    "operations": {
        "AbortEnvironmentUpdate": {
            "input": {
                "type": "structure",
                "members": {
                    "EnvironmentId": {},
                    "EnvironmentName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "ApplyEnvironmentManagedAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ActionId"
                ],
                "members": {
                    "EnvironmentName": {},
                    "EnvironmentId": {},
                    "ActionId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ActionId": {},
                    "ActionDescription": {},
                    "ActionType": {},
                    "Status": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "AssociateEnvironmentOperationsRole": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName",
                    "OperationsRole"
                ],
                "members": {
                    "EnvironmentName": {},
                    "OperationsRole": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CheckDNSAvailability": {
            "input": {
                "type": "structure",
                "required": [
                    "CNAMEPrefix"
                ],
                "members": {
                    "CNAMEPrefix": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Available": {
                        "type": "boolean"
                    },
                    "FullyQualifiedCNAME": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "ComposeEnvironments": {
            "input": {
                "type": "structure",
                "members": {
                    "ApplicationName": {},
                    "GroupName": {},
                    "VersionLabels": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "shape": "Sk"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "Description": {},
                    "ResourceLifecycleConfig": {
                        "shape": "S1f"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S1p"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateApplicationVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "VersionLabel"
                ],
                "members": {
                    "ApplicationName": {},
                    "VersionLabel": {},
                    "Description": {},
                    "SourceBuildInformation": {
                        "shape": "S1v"
                    },
                    "SourceBundle": {
                        "shape": "S1z"
                    },
                    "SourceBundleUrl": {},
                    "BuildConfiguration": {
                        "type": "structure",
                        "required": [
                            "CodeBuildServiceRole",
                            "Image"
                        ],
                        "members": {
                            "ArtifactName": {},
                            "CodeBuildServiceRole": {},
                            "ComputeType": {},
                            "Image": {},
                            "TimeoutInMinutes": {
                                "type": "integer"
                            }
                        }
                    },
                    "AutoCreateApplication": {
                        "type": "boolean"
                    },
                    "Process": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S28"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateConfigurationTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "TemplateName"
                ],
                "members": {
                    "ApplicationName": {},
                    "TemplateName": {},
                    "Description": {},
                    "Compiled": {
                        "type": "boolean"
                    },
                    "Compact": {
                        "type": "boolean"
                    },
                    "Tier": {
                        "shape": "S18"
                    },
                    "SolutionStackName": {},
                    "PlatformArn": {},
                    "SourceConfiguration": {
                        "shape": "S2g"
                    },
                    "EnvironmentId": {},
                    "OptionSettings": {
                        "shape": "S2h"
                    },
                    "OptionsToRemove": {
                        "shape": "S2n"
                    },
                    "VersionLabel": {},
                    "TemplateSpecification": {
                        "shape": "S2p"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S34"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "EnvironmentName": {},
                    "GroupName": {},
                    "Description": {},
                    "CNAMEPrefix": {},
                    "Tier": {
                        "shape": "S18"
                    },
                    "Tags": {
                        "shape": "S1l"
                    },
                    "VersionLabel": {},
                    "TemplateName": {},
                    "SolutionStackName": {},
                    "PlatformArn": {},
                    "OptionSettings": {
                        "shape": "S2h"
                    },
                    "OptionsToRemove": {
                        "shape": "S2n"
                    },
                    "TemplateSpecification": {
                        "shape": "S2p"
                    },
                    "EnvironmentLinkConfigurations": {
                        "shape": "S37"
                    },
                    "ServiceRegistries": {
                        "shape": "S3d"
                    },
                    "OperationsRole": {}
                }
            },
            "output": {
                "shape": "Sm"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateEnvironmentLinks": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentLinkConfigurations"
                ],
                "members": {
                    "EnvironmentLinkConfigurations": {
                        "shape": "S37"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentLinks": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateHealthGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "HealthGroupName"
                ],
                "members": {
                    "HealthGroupName": {},
                    "HealthGroupId": {
                        "idempotencyToken": true
                    },
                    "NotificationConfiguration": {
                        "shape": "S3u"
                    },
                    "LogStreamingConfiguration": {
                        "shape": "S3z"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "HealthGroupDescription": {
                        "shape": "S41"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreatePlatformVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "PlatformName",
                    "PlatformVersion",
                    "PlatformDefinitionBundle"
                ],
                "members": {
                    "PlatformName": {},
                    "PlatformVersion": {},
                    "PlatformDefinitionBundle": {
                        "shape": "S1z"
                    },
                    "EnvironmentName": {},
                    "OptionSettings": {
                        "shape": "S2h"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PlatformSummary": {
                        "shape": "S4d"
                    },
                    "Builder": {
                        "type": "structure",
                        "members": {
                            "ARN": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateServerlessEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentName"
                ],
                "members": {
                    "EnvironmentName": {},
                    "Description": {},
                    "NotificationConfiguration": {
                        "shape": "S4t"
                    },
                    "MonitoringConfiguration": {
                        "shape": "S4v"
                    },
                    "Tags": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "shape": "S4x"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "CreateStorageLocation": {
            "output": {
                "type": "structure",
                "members": {
                    "S3Bucket": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteApplication": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName"
                ],
                "members": {
                    "ApplicationName": {},
                    "TerminateEnvByForce": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteApplicationVersion": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "VersionLabel"
                ],
                "members": {
                    "ApplicationName": {},
                    "VersionLabel": {},
                    "DeleteSourceBundle": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteConfigurationTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "TemplateName"
                ],
                "members": {
                    "ApplicationName": {},
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteEnvironmentConfiguration": {
            "input": {
                "type": "structure",
                "required": [
                    "ApplicationName",
                    "EnvironmentName"
                ],
                "members": {
                    "ApplicationName": {},
                    "EnvironmentName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteEnvironmentLinks": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentLinkArns"
                ],
                "members": {
                    "EnvironmentLinkArns": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EnvironmentLinks": {
                        "shape": "S3k"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteHealthGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "HealthGroupArn"
                ],
                "members": {
                    "HealthGroupArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeletePlatformVersion": {
            "input": {
                "type": "structure",
                "members": {
                    "PlatformArn": {},
                    "DeleteResources": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PlatformSummary": {
                        "shape": "S4d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteResourceSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceSnapshotArn"
                ],
                "members": {
                    "ResourceSnapshotArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ResourceSnapshot": {
                        "shape": "S5i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteServerlessEnvironment": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerlessEnvironmentArn"
                ],
                "members": {
                    "ServerlessEnvironmentArn": {}
                }
            },
            "output": {
                "shape": "S4x"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeleteServiceLinkedRole": {
            "input": {
                "type": "structure",
                "members": {
                    "CustomSuffix": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeployApplicationVersion": {
            "input": {
                "type": "structure",
                "members": {
                    "EnvironmentId": {},
                    "EnvironmentName": {},
                    "VersionLabel": {},
                    "EbExtensionsChanged": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Sm"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeregisterHealthGroupTarget": {
            "input": {
                "type": "structure",
                "required": [
                    "HealthGroupArn",
                    "ResourceArn"
                ],
                "members": {
                    "HealthGroupArn": {},
                    "ResourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIAHCUCPQ3TNU57VZKXHYO6UDEZSOQ36JVZ4FO6XKSBMV5I34TWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLDNEGDDTT5QIL6H6JTKG3SWXC5PVQWDYHKWWIRTFKS2QJZZNAVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G36JQPAPQMSOTIMTO5VTY6DDA4V63WICUEUCTE2CA4LBN2VJDGBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MI3LFIWTNAA2UGPYR7WRXKMJQQPQ5BBVXKKHM55OTOB7OWL7ITQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWTTA4ZIURTZ4KY47MSZKCSKITLFKRLGPEQVWK2QO56JJ7NMRJ7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NRPOZXR23E3EUZUASR2QFL3Y2VWZWLC75I4GWNN7FYGD52PKDVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2TVRLZBH6BZHCFF2RHR3ALMBA3IWVDT236JS632JWOLMGRHTB2BQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KPJWJDUARYZJQSSDUQRRJHWVPKPC6UG26VLQICEEOPIKOBJKYFRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQYEQZD4CIFLZVD6CYSB52KIDC7FIWLQJFON3L2NVXTVFZVQ7XHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AXVG6JTWVKKVVE2RCS2Q76MYJLWVBSHSAGZ2VV2VYXCAE6DQPBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7SOPLTIUC2KCIVJSVVOJOR4QHIUMJ7X5EQ5ZTAPEHDX67S3DZ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FZJ34OVVGWJULXPF3PPMWLJ7VGFSSC4EFJYIRCV3C5JEZGYBWFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ARG3GWUMNVYNINLJKVQINW2CXIQQUFJLAHPVGIDRVM6XRE3TTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6B2MHZRIBSHJFKTVHK7JX6YWOPB5HE55B4BABQMTCFQUHE24U4TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4NJXYRP4XKDL6EGXAFOG2ZRREIXVXEZZ6GOIFQUJN4R34PSKYTTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UDQVAPJEA4SFVP2Z4ASNDIS5EX4LB2KOU5XMHETX35CBZJFJFYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JPS34GBKGYGI3SJDNBRKW4ILETSZVASZ3VDALSIUH7KSVYVV3CTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HXKHES55YK2KSRA7Z7QR2SKWA7DSPC75UCS6IAPAPPZ2TZIWMI3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DNBZ46RCBCS7QAJIEYNTWPNIJXG2QLI77MVX73WMHZMY2WMNXYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDX2JSAJ3WKEOZIOH6IX4TBOXLZU5AO74PPFWRXMASEKWFNNINNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y5EREMTD4KALGBAV6XEFH4L2J4W43WJNL7SMKOHWX5IVST6VYXFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVVUEYOHCPUG2LTUANEHGFHIXP5F6XHCN23POVXK7IIFLTPFFIIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZBIA7WW67VIJV4X4RUX6PMMCDSQHRRCCSQ5YLJ7ZCYO5JUEI7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W666RKXM6ANO5H6IOJKYFVISVLKDVBT44EZPQZKTBRI2XDUFINXA/vendors.js"
            ]
        },
        "DeregisterResource": {
            "input": {
                "type": "structure",
                "required": [
                    "EnvironmentArn",
                    "ResourceArn"
                ],
                "members": {
[...]
