{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-02-02",
        "endpointPrefix": "elasticache",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon ElastiCache",
        "serviceId": "ElastiCache",
        "signatureVersion": "v4",
        "targetPrefix": "AmazonElastiCacheV9",
        "uid": "elasticache-2015-02-02",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/N4K372UECJ63EESJTDKFOAHFED3LNXDOFVYBVZ5VRJI4DY2NEBAA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
        ]
    },
    "operations": {
        "AddTagsToResource": {
            "input": {
                "type": "structure",
                "required": [
                    "ResourceName",
                    "Tags"
                ],
                "members": {
                    "ResourceName": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S5"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "ApproveVpcPeeringConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomerId",
                    "VPCPeeringConnectionId"
                ],
                "members": {
                    "CustomerId": {},
                    "VPCPeeringConnectionId": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ApprovedVpcPeeringConnectionId"
                ],
                "members": {
                    "ApprovedVpcPeeringConnectionId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "AssociateGlobalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalReplicationGroupId",
                    "ReplicationGroupId"
                ],
                "members": {
                    "GlobalReplicationGroupId": {},
                    "ReplicationGroupId": {}
                }
            },
            "output": {
                "shape": "S9"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "AuthorizeCacheSecurityGroupIngress": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSecurityGroupName",
                    "EC2SecurityGroupName",
                    "EC2SecurityGroupOwnerId"
                ],
                "members": {
                    "CacheSecurityGroupName": {},
                    "EC2SecurityGroupName": {},
                    "EC2SecurityGroupOwnerId": {}
                }
            },
            "output": {
                "shape": "Sh"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "BatchApplyUpdateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceUpdateName"
                ],
                "members": {
                    "ReplicationGroupIds": {
                        "shape": "Sl"
                    },
                    "CacheClusterIds": {
                        "shape": "Sm"
                    },
                    "ServiceUpdateName": {}
                }
            },
            "output": {
                "shape": "Sn"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "BatchStopUpdateAction": {
            "input": {
                "type": "structure",
                "required": [
                    "ServiceUpdateName"
                ],
                "members": {
                    "ReplicationGroupIds": {
                        "shape": "Sl"
                    },
                    "CacheClusterIds": {
                        "shape": "Sm"
                    },
                    "ServiceUpdateName": {}
                }
            },
            "output": {
                "shape": "Sn"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CancelMigration": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId"
                ],
                "members": {
                    "ReplicationGroupId": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplicationGroup": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CompleteMigration": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplicationGroup": {
                        "shape": "Sw"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "ConfigureVpcForGlobalReplication": {
            "input": {
                "type": "structure",
                "required": [
                    "CustomerId",
                    "GlobalReplicationGroupId",
                    "PeerMember",
                    "MemberToBeConfigured",
                    "ConfigurationType"
                ],
                "members": {
                    "CustomerId": {},
                    "GlobalReplicationGroupId": {},
                    "PeerMember": {
                        "shape": "S24"
                    },
                    "MemberToBeConfigured": {
                        "shape": "S24"
                    },
                    "ConfigurationType": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CopySnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SourceSnapshotName",
                    "TargetSnapshotName"
                ],
                "members": {
                    "SourceSnapshotName": {},
                    "TargetSnapshotName": {},
                    "TargetBucket": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S28"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateCacheCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheClusterId"
                ],
                "members": {
                    "CacheClusterId": {},
                    "ReplicationGroupId": {},
                    "AZMode": {},
                    "PreferredAvailabilityZone": {},
                    "PreferredAvailabilityZones": {
                        "shape": "S2h"
                    },
                    "NumCacheNodes": {
                        "type": "integer"
                    },
                    "CacheNodeType": {},
                    "NetworkType": {},
                    "IpDiscovery": {},
                    "Engine": {},
                    "EngineVersion": {},
                    "CacheParameterGroupName": {},
                    "CacheSubnetGroupName": {},
                    "CacheSecurityGroupNames": {
                        "shape": "S2i"
                    },
                    "SecurityGroupIds": {
                        "shape": "S2j"
                    },
                    "Tags": {
                        "shape": "S3"
                    },
                    "SnapshotArns": {
                        "shape": "S2k"
                    },
                    "SnapshotName": {},
                    "PreferredMaintenanceWindow": {},
                    "Port": {
                        "type": "integer"
                    },
                    "NotificationTopicArn": {},
                    "AutoMinorVersionUpgrade": {
                        "type": "boolean"
                    },
                    "SnapshotRetentionLimit": {
                        "type": "integer"
                    },
                    "SnapshotWindow": {},
                    "AuthToken": {},
                    "OutpostMode": {},
                    "PreferredOutpostArn": {},
                    "PreferredOutpostArns": {
                        "shape": "S2m"
                    },
                    "DeleteProtection": {
                        "type": "boolean"
                    },
                    "LogDeliveryConfigurations": {
                        "shape": "S2n"
                    },
                    "SnapshotTarget": {},
                    "SnapshotTargetOutpostArn": {},
                    "TransitEncryptionEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S2p"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateCacheParameterGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheParameterGroupName",
                    "CacheParameterGroupFamily",
                    "Description"
                ],
                "members": {
                    "CacheParameterGroupName": {},
                    "CacheParameterGroupFamily": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S31"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateCacheSecurityGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSecurityGroupName",
                    "Description"
                ],
                "members": {
                    "CacheSecurityGroupName": {},
                    "Description": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "Sh"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateCacheSubnetGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheSubnetGroupName",
                    "CacheSubnetGroupDescription",
                    "SubnetIds"
                ],
                "members": {
                    "CacheSubnetGroupName": {},
                    "CacheSubnetGroupDescription": {},
                    "SubnetIds": {
                        "shape": "S34"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S35"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateCertificateRelation": {
            "input": {
                "type": "structure",
                "required": [
                    "CertificateArn",
                    "Resource",
                    "DecryptPrincipal"
                ],
                "members": {
                    "CertificateArn": {},
                    "Resource": {},
                    "DecryptPrincipal": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Status": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateGlobalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalReplicationGroupIdSuffix",
                    "PrimaryReplicationGroupId"
                ],
                "members": {
                    "GlobalReplicationGroupIdSuffix": {},
                    "GlobalReplicationGroupDescription": {},
                    "PrimaryReplicationGroupId": {}
                }
            },
            "output": {
                "shape": "S9"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateInternalNodes": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId",
                    "SliceGroupId",
                    "AddNodesCount",
                    "CustomerId"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "SliceGroupId": {},
                    "AddNodesCount": {
                        "type": "integer"
                    },
                    "CustomerId": {}
                }
            },
            "output": {
                "shape": "Sw"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateInternalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupMessage",
                    "CustomerId"
                ],
                "members": {
                    "ReplicationGroupMessage": {
                        "shape": "S3g"
                    },
                    "CustomerId": {},
                    "IsServerless": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Sw"
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateReplicationGroup": {
            "input": {
                "shape": "S3g"
            },
            "output": {
                "shape": "Sw"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateServerlessCache": {
            "input": {
                "type": "structure",
                "required": [
                    "ServerlessCacheName",
                    "SubnetGroupName"
                ],
                "members": {
                    "ServerlessCacheName": {},
                    "Description": {},
                    "Engine": {},
                    "EngineVersion": {},
                    "KmsKeyId": {},
                    "SubnetGroupName": {},
                    "SecurityGroupIds": {
                        "shape": "S2j"
                    },
                    "UserGroupId": {},
                    "ScalingLimitsConfiguration": {
                        "shape": "S3n"
                    },
                    "SnapshotArns": {
                        "shape": "S2n"
                    },
                    "Tags": {
                        "shape": "S3"
                    },
                    "SubnetIds": {
                        "shape": "S3p"
                    },
                    "SnapshotRetentionLimit": {
                        "type": "integer"
                    },
                    "DailySnapshotTime": {},
                    "MajorEngineVersion": {},
                    "CacheCapacityLimit": {
                        "shape": "S3n"
                    },
                    "SnapshotArnsToRestore": {
                        "shape": "S2o"
                    },
                    "CacheUsageLimits": {
                        "shape": "S3o"
                    }
                }
            },
            "output": {
                "shape": "S3k"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateSnapshot": {
            "input": {
                "type": "structure",
                "required": [
                    "SnapshotName"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "CacheClusterId": {},
                    "SnapshotName": {},
                    "KmsKeyId": {},
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S28"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateUser": {
            "input": {
                "type": "structure",
                "required": [
                    "UserId",
                    "UserName",
                    "Engine",
                    "AccessString"
                ],
                "members": {
                    "UserId": {},
                    "UserName": {},
                    "Engine": {},
                    "Passwords": {
                        "shape": "S3q"
                    },
                    "AccessString": {},
                    "NoPasswordRequired": {
                        "type": "boolean"
                    },
                    "Tags": {
                        "shape": "S3"
                    },
                    "AuthenticationMode": {
                        "shape": "S3s"
                    }
                }
            },
            "output": {
                "shape": "S3u"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "CreateUserGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "UserGroupId",
                    "Engine"
                ],
                "members": {
                    "UserGroupId": {},
                    "Engine": {},
                    "UserIds": {
                        "shape": "S3y"
                    },
                    "Tags": {
                        "shape": "S3"
                    }
                }
            },
            "output": {
                "shape": "S3z"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "DecreaseNodeGroupsInGlobalReplicationGroup": {
            "input": {
                "type": "structure",
                "required": [
                    "GlobalReplicationGroupId",
                    "NodeGroupCount",
                    "ApplyImmediately"
                ],
                "members": {
                    "GlobalReplicationGroupId": {},
                    "NodeGroupCount": {
                        "type": "integer"
                    },
                    "GlobalNodeGroupsToRemove": {
                        "shape": "S44"
                    },
                    "GlobalNodeGroupsToRetain": {
                        "shape": "S44"
                    },
                    "ApplyImmediately": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "S9"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "DecreaseReplicaCount": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplicationGroupId",
                    "ApplyImmediately"
                ],
                "members": {
                    "ReplicationGroupId": {},
                    "NewReplicaCount": {
                        "type": "integer"
                    },
                    "ReplicaConfiguration": {
                        "shape": "S46"
                    },
                    "ReplicasToRemove": {
                        "type": "list",
                        "member": {}
                    },
                    "ApplyImmediately": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "shape": "Sw"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/POK2RN7TX3IST2HUM3WWKBSU3CCCSJALIMHTQFLB4D5PZNDIRGRA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/2G52OJJBLOVOXBJUEW3U6EA3EWH6FZPDTKKNXWKXUQF2HNLCAGPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GABRSBJAFHOOTPPQ3NXOX5NX74SN3PYYB2HAP7ZYN2PUBZ6VK42Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HZNNK2NU4X72TQADWMSV77UCKNEJFEJ7JXESQWEVW7ITUR7F5P5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/HYWRF5EEIA3ZQWDAIZLJKD2UYHA5JBQUGGRBSL4VP53JRBRCWPPA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/44ZYOCF3XFLWSUHRII64BPIA6KFOZVHFS2BHH3SDM3S5NTAKZYDA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/JYVO7XE4FLFVZQF2FD667NYLDNPYYEZXK4SGY4N7MDU32KA6SXBQ/main.js"
            ]
        },
        "DeleteCacheCluster": {
            "input": {
                "type": "structure",
                "required": [
                    "CacheClusterId"
                ],
                "members": {
                    "CacheClusterId": {},
                    "FinalSnapshotIdentifier": {}
                }
            },
            "output": {
                "shape": "S2p"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UJWHFMJSFYARTUS5NFMNQCHTLDVRNWTD4ZD2ZSD7POP6HQ4IFPSA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/POT5HMCCHTMNWKCJSSZL3XHMN4M7UZLCELLI5O2FX6RMVBFDWR7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ERVEUZEMQ35LGEW37HGHM7ECFL5UWYNRAFUTMAHLT4N5WRBOV5KQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TPZF5GLFOITUKJU6OTDWAFPPBYRC6E5X4JSKQB2HRORNFFOCKHDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BIAHKNZI2HHANYWLRWQT2PGB52L4AE6SISMU225FGFPMSP2GAJWA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XUOJJE6OB34VUMCHXRLFFBPO72A5UFSXKQSWIGAV3AJSV3MHRRXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWODBTK4BL3WUZXPX3AG7BT66QJGSD76AJIA4MHNC7Q7YFZ2KOZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OFPYDDNX5IRSOFDBFRX4ULC5UBHUEMDGA63Q7ZLK7I7MW6764R2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVKY6UW2XNICWUA27JLQ6OGKYNJDPNZVXQQRQJQVA4T5LH7EFUOQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25MDKDYMEJDOI7BC3WHWCCFYYJZZWVMLHFNNFFPAII5JINLXIYCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/C6OQ2JKP3IAG7LJB4KMXNREXVQPBPCHHKXMREAIMRNF6THT22B4Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/WJBTIVDYA5MWA7U3CH3ZYQQR772GQEKMV5XXSWT3BOITD7RFMA5Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/QG54DZYEUT7K5DYPG4KHXRZWLVJJ3Y35RWAPT4RGVJOM62MZUNNA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/IO7H7JASM7XKPZR5EPTXLMPUP3PRPDHRP4UXZCHQGA3DP72JZCSQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GSFLYWH6HUTKB5Z7K3BR6ZH756D2MB2KDOBZPO5UEQ7EKS2ZFKEQ/main.js",
[...]
