{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2017-07-25",
        "endpointPrefix": "api.elastic-inference",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Amazon Elastic Inference",
        "serviceFullName": "Amazon Elastic  Inference",
        "serviceId": "Elastic Inference",
        "signatureVersion": "v4",
        "signingName": "elastic-inference",
        "uid": "elastic-inference-2017-07-25",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AS4GWRE6IE7QRXDPYRKWYYS7NPTX4AOKY5HQSCKNPSXQUBGYR4CQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
        ]
    },
    "operations": {
        "DescribeAcceleratorOfferings": {
            "http": {
                "requestUri": "/describe-accelerator-offerings"
            },
            "input": {
                "type": "structure",
                "required": [
                    "locationType"
                ],
                "members": {
                    "locationType": {},
                    "acceleratorTypes": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceleratorTypeOfferings": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "acceleratorType": {},
                                "locationType": {},
                                "location": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DescribeAcceleratorTypes": {
            "http": {
                "method": "GET",
                "requestUri": "/describe-accelerator-types"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceleratorTypes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "acceleratorTypeName": {},
                                "memoryInfo": {
                                    "type": "structure",
                                    "members": {
                                        "sizeInMiB": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "throughputInfo": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "key": {},
                                            "value": {
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "DescribeAccelerators": {
            "http": {
                "requestUri": "/describe-accelerators"
            },
            "input": {
                "type": "structure",
                "members": {
                    "acceleratorIds": {
                        "type": "list",
                        "member": {}
                    },
                    "filters": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "name": {},
                                "values": {
                                    "type": "list",
                                    "member": {}
                                }
                            }
                        }
                    },
                    "maxResults": {
                        "type": "integer"
                    },
                    "nextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "acceleratorSet": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "acceleratorHealth": {
                                    "type": "structure",
                                    "members": {
                                        "status": {}
                                    }
                                },
                                "acceleratorType": {},
                                "acceleratorId": {},
                                "availabilityZone": {},
                                "attachedResource": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "S13"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJ6GX7JF7E6XOF3OG6RJUDP5LTD5QIVQIBN3WDXUHAGWNBCSU42A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GTRRA2HNGO64XI6CNQQ2TKLYGIVCU3IQJK5ZVIJAQ6HAEJA2GD3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MS2VOF6F3QDQGV43ADLQKT4OKASSYRLDSAPXBNN7XQ4CVFTJ56TQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FNLFGCAYNGF6LC5OIPPSKCT3ABJC6PWBZVVE4KS46LLGQN7SMWQQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HWCJONNN3Y4XJ3HP7KR6LXG56O6K7FP5WDMJE2RT3G4LWDCKU5TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6UXOST22HTBI7Y2YX426T2NOWONFBHV4AMQPKHPMSJCDXC2MGVVA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H24YEM6ZUEBZRG3GKSNR3PW254T6BTCTCZYPFS2IQKSKOZCWHJSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IV5HGIL7XYTVR6BFEMCXZPHOFVUJLL42QSP4FTSZH4ZGHEINEI5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YVQYRSSBUA3YN5KREZ5IHPSAQHSJUAQDTIINRBJOEFLYNZGQAC6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5K3SOMSMUTPMD767W2S4APVJUJDMZ7OJBWD3SJWW7ZY3JRAZTPLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7OH73N3EHQYFFUGLTPLZWZVV5JS4AAAAN3TL2MTMAOPKS3ETESUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BX6A2XEQ6VGFBGFBUVM6TJYV7K6LH7JRKIEBAGSK4B5PAF26XQZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ALHZGCPVKJUIXCPENZP2VNZ6KQT5WCT5M3VFWE3JGCUENK455QYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AMH2WLPL3SWKVANGRC75UC4LK6V7VK4PNJAEPRKVU6SKKUREMAAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2KBVCSZWBI4RXHTJT67W236BKOPGK6SI652PKGOMKK2VCJU4N7ZA/main.min.js"
            ]
        }
    },
    "shapes": {
        "S13": {
            "type": "map",
            "key": {},
            "value": {}
        }
    }
}