{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-12-01",
        "endpointPrefix": "email",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SES",
        "serviceFullName": "Amazon Simple Email Service",
        "serviceId": "SES",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-2010-12-01",
        "xmlNamespace": "http://ses.amazonaws.com/doc/2010-12-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
        ]
    },
    "operations": {
        "CloneReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "OriginalRuleSetName"
                ],
                "members": {
                    "RuleSetName": {},
                    "OriginalRuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CloneReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSet"
                ],
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "TrackingOptions"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "Filter"
                ],
                "members": {
                    "Filter": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Rule"
                ],
                "members": {
                    "RuleSetName": {},
                    "After": {},
                    "Rule": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "CreateTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Template"
                ],
                "members": {
                    "Template": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteIdentityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyName"
                ],
                "members": {
                    "Identity": {},
                    "PolicyName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityPolicyResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterName"
                ],
                "members": {
                    "FilterName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DeleteVerifiedEmailAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeActiveReceiptRuleSet": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "DescribeActiveReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2t"
                    },
                    "Rules": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "ConfigurationSetAttributeNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    },
                    "EventDestinations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "TrackingOptions": {
                        "shape": "Sp"
                    },
                    "DeliveryOptions": {
                        "shape": "S31"
                    },
                    "ReputationOptions": {
                        "type": "structure",
                        "members": {
                            "SendingEnabled": {
                                "type": "boolean"
                            },
                            "ReputationMetricsEnabled": {
                                "type": "boolean"
                            },
                            "LastFreshStart": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleResult",
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "DescribeReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2t"
                    },
                    "Rules": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetAccountSendingEnabled": {
            "output": {
                "resultWrapper": "GetAccountSendingEnabledResult",
                "type": "structure",
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KG2SMUEOYKTRL6IBRRMBQJH7KYT2FW35EDVDFFTNRTVJPXDVNSBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SPB5754GPVVYDCRTDQXVSNANFKVW3KXTIQCDX7KOOKOCKV5VTBZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JMEHUJSRU2SVMNJIN77QFPE2E3X4QRT7O34IYXIJUVGOW37LNLEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EMZOSWO47ZN6J23VEEY6EBCGGNVTUAVYSSTUSVEIYY2RUBB2ABIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P222VTAORXZMMQYB47M5WD6NBX5WE35UTKJWZC7ISXILH6U4NVHA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4AYQLA4AOOPIRUGVOGTO6BSOIDNYASJU6OVER5PXJMQYLOUTEVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B567ZXOUDF6DQABZNTMYXFGL3RV543DPPDUMSLJOC6TROXYEWG7Q/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ABSI2XZLIJ6A4YFLW7WR5OHYGWT2PCEOL3FMKIZSWXEQHAQCSSZA/vendors.js"
            ]
        },
        "GetCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "GetCustomVerificationEmailTemplateResult",
                "type": "structure",
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6IUOZMUV2VZA5ZCATX2P5CC5AGFSUNBFGG47AM64Z2QJZ66WNE7Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H35CSOQO7OQKHX6C2OSZLME7GFTHHT2CQLZMU5TKG6OTWM5RGC7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKEHLKITFTFTXT2YX22BCHD6GFZUQ4Q77SBZFXSR3KI5LBB57L3A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XEBSSNBUS32ZA66NXLKH346PWDSOOY3MXWBK4S2MJAGCBIDWGWMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AUU3OX3DHY7APKJ3LMD6PWGCFIKNWP23RVUAHUX777HELUUZOLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ORBQ3DPQFCE6FXMS4FBMIRZWOYIDLERC2XMNSDDO5HZWJMCCJGQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KIOJZZKKAGMOQ6SWEIO6H4N6X47O6V77KUVHX64U7E3YSOTFPSQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7DHQHBBFJS63QC22MDOV7Z3TKWS7N3IQVAC5LCMOS2MWUQMJEZBA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E5EU4OPI3UR2PZBTL6PBIXLQDOYUUOM5RKS25EB3BM4LLOBT4F3Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IDMUKZ2R56EZWUZWV767JQZORNQIEKI3LOF6VBQQFYLG7PHA7QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TFZUGCUKSMT56NNGA27QTFYRBVXSRANTWO7BOEYXVULDYHU3HS2A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DAZK2UDYHXWWXYGNZUVWGYOJW47ACCTKVJH2KEJJZILYRBN7KQ2A/main.js",
[...]
