{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-12-01",
        "endpointPrefix": "email",
        "protocol": "query",
        "protocols": [
            "query"
        ],
        "serviceAbbreviation": "Amazon SES - V1 Internal",
        "serviceFullName": "Amazon Simple Email Service - V1 Internal",
        "serviceId": "ses",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-v1-2010-12-01",
        "xmlNamespace": "http://ses.amazonaws.com/doc/2010-12-01/",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFPSVPIC55CAQL647YD45A5GRX66B5XRORCYM4GX2VV7JK7FP7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
        ]
    },
    "operations": {
        "CloneReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "OriginalRuleSetName"
                ],
                "members": {
                    "RuleSetName": {},
                    "OriginalRuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CloneReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSet"
                ],
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "TrackingOptions"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "Filter"
                ],
                "members": {
                    "Filter": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Rule"
                ],
                "members": {
                    "RuleSetName": {},
                    "After": {},
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Template"
                ],
                "members": {
                    "Template": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteIdentityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyName"
                ],
                "members": {
                    "Identity": {},
                    "PolicyName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityPolicyResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterName"
                ],
                "members": {
                    "FilterName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteVerifiedEmailAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DescribeActiveReceiptRuleSet": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "DescribeActiveReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2x"
                    },
                    "Rules": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DescribeConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "ConfigurationSetAttributeNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    },
                    "EventDestinations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "TrackingOptions": {
                        "shape": "Sq"
                    },
                    "DeliveryOptions": {
                        "shape": "S35"
                    },
                    "ReputationOptions": {
                        "type": "structure",
                        "members": {
                            "SendingEnabled": {
                                "type": "boolean"
                            },
                            "ReputationMetricsEnabled": {
                                "type": "boolean"
                            },
                            "LastFreshStart": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DescribeReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleResult",
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DescribeReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2x"
                    },
                    "Rules": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetAccountSendingEnabled": {
            "output": {
                "resultWrapper": "GetAccountSendingEnabledResult",
                "type": "structure",
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetComplianceData": {
            "output": {
                "resultWrapper": "GetComplianceDataResult",
                "type": "structure",
                "members": {
                    "complianceVerdict": {},
                    "complianceStatuses": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "status": {},
                                "expectedEndDate": {
                                    "type": "timestamp"
                                },
                                "message": {}
                            }
                        }
                    },
                    "metricsMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "rate": {
                                    "type": "double"
                                },
                                "eventCount": {
                                    "type": "long"
                                },
                                "eligibleVolume": {
                                    "type": "long"
                                },
                                "totalVolume": {
                                    "type": "long"
                                },
                                "remainingVolume": {
                                    "type": "long"
                                },
                                "volumeDaySpan": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
[...]
