{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-04-01",
        "endpointPrefix": "email-internal",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SES - Internal",
        "serviceFullName": "Amazon Simple Email Service - Internal",
        "serviceId": "ses",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-internal-2010-04-01",
        "xmlNamespace": "http://email.amazon.com/doc/2010-04-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFPSVPIC55CAQL647YD45A5GRX66B5XRORCYM4GX2VV7JK7FP7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
        ]
    },
    "operations": {
        "ForceVerifyIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "ForceVerifyIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "ListCrossAccountIdentityNotificationAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListCrossAccountIdentityNotificationAttributesResult",
                "type": "structure",
                "members": {
                    "CrossAccountNotificationAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identity": {},
                                "NotificationAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "BounceTopic",
                                        "ComplaintTopic",
                                        "DeliveryTopic",
                                        "ForwardingEnabled"
                                    ],
                                    "members": {
                                        "BounceTopic": {},
                                        "ComplaintTopic": {},
                                        "DeliveryTopic": {},
                                        "ForwardingEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInBounceNotificationsEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInComplaintNotificationsEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInDeliveryNotificationsEnabled": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "RedirectReceivedEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Destinations",
                    "RawMessage",
                    "SendingAccount"
                ],
                "members": {
                    "Destinations": {
                        "shape": "Se"
                    },
                    "ReturnPath": {},
                    "ReturnPathArn": {},
                    "RawMessage": {
                        "shape": "Sh"
                    },
                    "SendingAccount": {}
                }
            },
            "output": {
                "resultWrapper": "RedirectReceivedEmailInternalResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEP6NBPAPRRAW26TKXBXP53GP5A54SFFRB252VMDYBCWQBS4R4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEBNISPIFKYRFJHC7SDXMUAYVXBJ72FLIASSZ4Z73HFQNQ5ESPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QX74GGC6FI6AQZ2SZ4TBRW3FQNVK7AQHFSKAJH3ZILMOVZKGTDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AO2Q2OBNJABZO2KVYYKWFF76T3RZVHJ74W7U5KETLANH6TX5VEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3EWA6KHL3VZQOHN4JKEMD43USKRSLWSNTZFD74L5U2OU2P3MUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJCE4R4KFUXT74W4SK6Y67LIHLHKSTXITQ42OUR7OFG6DNXM2LAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LUMRSTE5MUKJRXBTSTDFOOUEOXOIWEWJELVUSSZTNNNJVH5H4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJR32S5FYDR2S77MTNQBNXOYV3YLQ4RPKCC7AFUZA6HIRRY4W2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UD3LF7DI7DK7ZCCQ2SQVYLNX7NLEWZVMW6BD2BJ2DWTPCZHH5NLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3REM2AZURN4DMLKFASGXNNLYE5GRRPHVESQQC4QTQPZ64SNNJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHAFSUYF2KAAJGNTPAZKF4FYGZU4ZSGJMHIRNR4MOLPGKEU4WOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETC5UIB3F7ZV2ZKU5FMO4NUNRIO3BC2P2GHZDMPMQTLW4O5VEVTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DV3SW5MTXJWDDFHYEYTPYDC7HFXO3P3NX36DDO7VD5JUC2UMYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4X6QJB5EPR4OSTCRW2RW5X43Z4QWTEE6PGAENJHM4UAAPHD5YVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/634YMIVG7NXBVEXK5LFOID33UF3VTNBWNJNYDNVYHGT7JEWRXGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YPN5J4DDBE5XFVAXXKRDPASG73BHVCRHBPMMA7C4DHVH6UIJZW7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7RX5KZZJUIXAWBTCY4GR66YD2PZLI73EHW5IB7QCSWAQFQX2O2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV7YVWKWEGEEZKLLCFG3YHFXWJPCFJOQVBA42XVBKSK32LRYLDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXEAPC376D3WPFFHK3IGOHQHJNFWZ25JAO327QKUZEQAFDD6XF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6U5HHHRNPC266KEE5RKX4AKIVHLO25KZ3R2NROJQKWQAWWJ5R2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PU7BQIY3D3QR366NVFHUFMBDQ5I5FX2EWGU4KCMLW2RAJR72EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY723GQIZZQ7WE5FWRJPZIFU3FV7OYSJWFAUMEOAGM5V6SKJUPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWB24NGEHIXXO66VNAMLH5MZOW3JJYL4ID22JDU66C6YPTYE4XBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKC23URUOCOQ7Z2PNFJUL7SCRF3ORNIFHM6VLJWNIKE7T7V3NO3A/vendors.js"
            ]
        },
        "RedriveEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "output": {
                "resultWrapper": "RedriveEmailResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "SendEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "RawMessage",
                    "SendingAccount"
                ],
                "members": {
                    "Source": {},
                    "Destinations": {
                        "shape": "Se"
                    },
                    "RawMessage": {
                        "shape": "Sh"
                    },
                    "Tags": {
                        "shape": "Sp"
                    },
                    "FromArn": {},
                    "SourceArn": {},
                    "SenderArn": {},
                    "ReturnPathArn": {},
                    "SendingAccount": {},
                    "OverrideSource": {
                        "type": "boolean"
                    },
                    "EmailMetaData": {
                        "type": "structure",
                        "members": {
                            "InboundMessageId": {}
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "SendEmailInternalResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "SendInboundEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "OriginalMessageId",
                    "BounceSender",
                    "BouncedRecipientInfoList"
                ],
                "members": {
                    "AwsAccountId": {},
                    "OriginalMessageId": {},
                    "BounceSender": {},
                    "Explanation": {},
                    "MessageDsn": {
                        "type": "structure",
                        "members": {
                            "ReportingMta": {},
                            "ArrivalDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S12"
                            }
                        }
                    },
                    "BouncedRecipientInfoList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Recipient"
                            ],
                            "members": {
                                "Recipient": {},
                                "RecipientArn": {},
                                "BounceType": {},
                                "RecipientDsnFields": {
                                    "type": "structure",
                                    "required": [
                                        "Action",
                                        "Status"
                                    ],
                                    "members": {
                                        "FinalRecipient": {},
                                        "Action": {},
                                        "RemoteMta": {},
                                        "Status": {},
                                        "DiagnosticCode": {},
                                        "LastAttemptDate": {
                                            "type": "timestamp"
                                        },
                                        "ExtensionFields": {
                                            "shape": "S12"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "IncludeOriginalBody": {
                        "type": "boolean"
                    },
                    "BounceSenderArn": {}
                }
            },
            "output": {
                "resultWrapper": "SendInboundEmailInternalResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "SendTemplatedEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "Destination",
                    "TemplateData",
                    "SendingAccount"
                ],
                "members": {
                    "Source": {},
                    "Destination": {
                        "type": "structure",
                        "members": {
                            "ToAddresses": {
                                "shape": "Se"
                            },
                            "CcAddresses": {
                                "shape": "Se"
                            },
                            "BccAddresses": {
                                "shape": "Se"
                            }
                        }
                    },
                    "ReplyToAddresses": {
                        "shape": "Se"
                    },
                    "ReturnPath": {},
                    "SourceArn": {},
                    "ReturnPathArn": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "ConfigurationSetName": {},
                    "Template": {},
                    "TemplateArn": {},
                    "TemplateData": {},
                    "PayerToken": {},
                    "HttpRemoteAddress": {},
                    "SendingAccount": {},
                    "SendingArn": {},
                    "ProductCodeOverride": {},
                    "SourceTlsVersion": {},
                    "Headers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    },
                    "EndpointId": {}
                }
            },
            "output": {
                "resultWrapper": "SendTemplatedEmailInternalResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "resultWrapper": "LockServiceLinkedRoleResult",
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "resultWrapper": "UnlockServiceLinkedRoleResult",
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "SendMailManagerBounce": {
            "input": {
                "type": "structure",
                "required": [
                    "OriginalMessageId",
                    "BounceSender",
                    "BouncedRecipientInfoList"
                ],
                "members": {
                    "OriginalMessageId": {},
                    "BounceSender": {},
                    "Explanation": {},
                    "MessageDsn": {
                        "shape": "S14"
                    },
                    "BouncedRecipientInfoList": {
                        "shape": "S1b"
                    },
                    "BounceSenderArn": {}
                }
            },
            "output": {
                "resultWrapper": "SendMailManagerBounceResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetArchiveReferencedConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "ArchiveId"
                ],
                "members": {
                    "AwsAccountId": {},
                    "ArchiveId": {}
                }
            },
            "output": {
                "resultWrapper": "GetArchiveReferencedConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ReferencedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetRelayReferencedConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "RelayId"
                ],
                "members": {
                    "AwsAccountId": {},
                    "RelayId": {}
                }
            },
            "output": {
                "resultWrapper": "GetRelayReferencedConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ReferencedResources": {
                        "shape": "S8"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "required": [
                "ReportingMta"
            ],
            "members": {
                "ReportingMta": {},
                "ArrivalDate": {
                    "type": "timestamp"
                },
                "ExtensionFields": {
                    "shape": "S17"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Recipient"
                ],
                "members": {
                    "Recipient": {},
                    "RecipientArn": {},
                    "BounceType": {},
                    "RecipientDsnFields": {
                        "type": "structure",
                        "required": [
                            "Action",
                            "Status"
                        ],
                        "members": {
                            "FinalRecipient": {},
                            "Action": {},
                            "RemoteMta": {},
                            "Status": {},
                            "DiagnosticCode": {},
                            "LastAttemptDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S17"
                            }
                        }
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {}
        },
        "Sv": {
            "type": "list",
            "member": {}
        },
        "Sy": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S19": {
            "type": "structure",
            "required": [
                "ReportingMta"
            ],
            "members": {
                "ReportingMta": {},
                "ArrivalDate": {
                    "type": "timestamp"
                },
                "ExtensionFields": {
                    "shape": "S1c"
                }
            }
        },
        "S1c": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1g": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Recipient"
                ],
                "members": {
                    "Recipient": {},
                    "RecipientArn": {},
                    "BounceType": {},
                    "RecipientDsnFields": {
                        "type": "structure",
                        "required": [
                            "Action",
                            "Status"
                        ],
                        "members": {
                            "FinalRecipient": {},
                            "Action": {},
                            "RemoteMta": {},
                            "Status": {},
                            "DiagnosticCode": {},
                            "LastAttemptDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S1c"
                            }
                        }
                    }
                }
            }
        },
        "S1v": {
            "type": "list",
            "member": {}
        },
        "S8": {
            "type": "list",
            "member": {}
        },
        "S11": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1f": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1y": {
            "type": "list",
            "member": {}
        }
    }
}