{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-27",
        "endpointPrefix": "email",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Pinpoint Email",
        "serviceFullName": "Amazon Pinpoint Email Service",
        "serviceId": "Pinpoint Email",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-2019-09-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
        ]
    },
    "operations": {
        "BatchGetMetricData": {
            "http": {
                "requestUri": "/v2/email/metrics/batch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Queries"
                ],
                "members": {
                    "Queries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "Namespace",
                                "Metric",
                                "StartDate",
                                "EndDate"
                            ],
                            "members": {
                                "Id": {},
                                "Namespace": {},
                                "Metric": {},
                                "Dimensions": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "StartDate": {
                                    "type": "timestamp"
                                },
                                "EndDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Timestamps": {
                                    "type": "list",
                                    "member": {
                                        "type": "timestamp"
                                    }
                                },
                                "Values": {
                                    "type": "list",
                                    "member": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateConfigurationSet": {
            "http": {
                "requestUri": "/v2/email/configuration-sets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sn"
                    },
                    "DeliveryOptions": {
                        "shape": "Sp"
                    },
                    "ReputationOptions": {
                        "shape": "S15"
                    },
                    "SendingOptions": {
                        "shape": "S17"
                    },
                    "Tags": {
                        "shape": "S18"
                    },
                    "SuppressionOptions": {
                        "shape": "S1c"
                    },
                    "VdmOptions": {
                        "shape": "S1f"
                    },
                    "ArchivingOptions": {
                        "shape": "S1o"
                    },
                    "RecipientValidationOptions": {
                        "shape": "S1q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "http": {
                "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestinationName": {},
                    "EventDestination": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateContact": {
            "http": {
                "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName",
                    "EmailAddress"
                ],
                "members": {
                    "ContactListName": {
                        "location": "uri",
                        "locationName": "ContactListName"
                    },
                    "EmailAddress": {},
                    "TopicPreferences": {
                        "shape": "S22"
                    },
                    "UnsubscribeAll": {
                        "type": "boolean"
                    },
                    "AttributesData": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateContactList": {
            "http": {
                "requestUri": "/v2/email/contact-lists"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName"
                ],
                "members": {
                    "ContactListName": {},
                    "Topics": {
                        "shape": "S2a"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "http": {
                "requestUri": "/v2/email/custom-verification-email-templates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {},
                    "CancelSuccessRedirectionURL": {},
                    "CancelFailureRedirectionURL": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateDedicatedIpPool": {
            "http": {
                "requestUri": "/v2/email/dedicated-ip-pools"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PoolName"
                ],
                "members": {
                    "PoolName": {},
                    "Tags": {
                        "shape": "S18"
                    },
                    "ScalingMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateDeliverabilityTestReport": {
            "http": {
                "requestUri": "/v2/email/deliverability-dashboard/test"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FromEmailAddress",
                    "Content"
                ],
                "members": {
                    "ReportName": {},
                    "FromEmailAddress": {},
                    "Content": {
                        "shape": "S2t"
                    },
                    "Tags": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ReportId",
                    "DeliverabilityTestStatus"
                ],
                "members": {
                    "ReportId": {},
                    "DeliverabilityTestStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateEmailIdentity": {
            "http": {
                "requestUri": "/v2/email/identities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity"
                ],
                "members": {
                    "EmailIdentity": {},
                    "Tags": {
                        "shape": "S18"
                    },
                    "DkimSigningAttributes": {
                        "shape": "S38"
                    },
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityType": {},
                    "VerifiedForSendingStatus": {
                        "type": "boolean"
                    },
                    "DkimAttributes": {
                        "shape": "S3e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateEmailIdentityPolicy": {
            "http": {
                "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity",
                    "PolicyName",
                    "Policy"
                ],
                "members": {
                    "EmailIdentity": {
                        "location": "uri",
                        "locationName": "EmailIdentity"
                    },
                    "PolicyName": {
                        "location": "uri",
                        "locationName": "PolicyName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateEmailTemplate": {
            "http": {
                "requestUri": "/v2/email/templates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "TemplateContent"
                ],
                "members": {
                    "TemplateName": {},
                    "TemplateContent": {
                        "shape": "S3o"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateImportJob": {
            "http": {
                "requestUri": "/v2/email/import-jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImportDestination",
                    "ImportDataSource"
                ],
                "members": {
                    "ImportDestination": {
                        "shape": "S3t"
                    },
                    "ImportDataSource": {
                        "shape": "S3y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestinationName": {
                        "location": "uri",
                        "locationName": "EventDestinationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteContact": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName",
                    "EmailAddress"
                ],
                "members": {
                    "ContactListName": {
                        "location": "uri",
                        "locationName": "ContactListName"
                    },
                    "EmailAddress": {
                        "location": "uri",
                        "locationName": "EmailAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteContactList": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/contact-lists/{ContactListName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName"
                ],
                "members": {
                    "ContactListName": {
                        "location": "uri",
                        "locationName": "ContactListName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "TemplateName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteDedicatedIpPool": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/dedicated-ip-pools/{PoolName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PoolName"
                ],
                "members": {
                    "PoolName": {
                        "location": "uri",
                        "locationName": "PoolName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteEmailAddressSuppression": {
            "http": {
                "method": "PUT",
                "requestUri": "/v2/email/internal/suppressions/{EmailAddress}/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "RequestMetadata": {
                        "shape": "S4g"
                    },
                    "EmailAddress": {
                        "location": "uri",
                        "locationName": "EmailAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteEmailIdentity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/identities/{EmailIdentity}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity"
                ],
                "members": {
                    "EmailIdentity": {
                        "location": "uri",
                        "locationName": "EmailIdentity"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteEmailIdentityPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity",
                    "PolicyName"
                ],
                "members": {
                    "EmailIdentity": {
                        "location": "uri",
                        "locationName": "EmailIdentity"
                    },
                    "PolicyName": {
                        "location": "uri",
                        "locationName": "PolicyName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteEmailTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/templates/{TemplateName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "TemplateName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteSuppressedDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/suppression/addresses/{EmailAddress}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {
                        "location": "uri",
                        "locationName": "EmailAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "GetAccount": {
            "http": {
                "method": "GET",
                "requestUri": "/v2/email/account"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DedicatedIpAutoWarmupEnabled": {
                        "type": "boolean"
                    },
                    "EnforcementStatus": {},
                    "ProductionAccessEnabled": {
                        "type": "boolean"
                    },
                    "SendQuota": {
                        "shape": "S4v"
                    },
                    "SendingEnabled": {
                        "type": "boolean"
                    },
                    "SuppressionAttributes": {
                        "type": "structure",
                        "members": {
                            "SuppressedReasons": {
                                "shape": "S1d"
                            }
                        }
                    },
                    "Details": {
                        "type": "structure",
                        "members": {
                            "MailType": {},
                            "WebsiteURL": {
                                "shape": "S52"
                            },
                            "ContactLanguage": {},
                            "UseCaseDescription": {
                                "shape": "S54"
                            },
                            "AdditionalContactEmailAddresses": {
                                "shape": "S55"
                            },
                            "ReviewDetails": {
                                "type": "structure",
                                "members": {
                                    "Status": {},
                                    "CaseId": {}
                                }
                            }
                        }
                    },
                    "VdmAttributes": {
                        "shape": "S5a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
[...]
