{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-12-01",
        "endpointPrefix": "email",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SES",
        "serviceFullName": "Amazon Simple Email Service",
        "serviceId": "SES",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-2010-12-01",
        "xmlNamespace": "http://ses.amazonaws.com/doc/2010-12-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
        ]
    },
    "operations": {
        "CloneReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "OriginalRuleSetName"
                ],
                "members": {
                    "RuleSetName": {},
                    "OriginalRuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CloneReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSet"
                ],
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "TrackingOptions"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sp"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "Filter"
                ],
                "members": {
                    "Filter": {
                        "shape": "S10"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Rule"
                ],
                "members": {
                    "RuleSetName": {},
                    "After": {},
                    "Rule": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "CreateTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Template"
                ],
                "members": {
                    "Template": {
                        "shape": "S20"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteIdentityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyName"
                ],
                "members": {
                    "Identity": {},
                    "PolicyName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityPolicyResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterName"
                ],
                "members": {
                    "FilterName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DeleteVerifiedEmailAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DescribeActiveReceiptRuleSet": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "DescribeActiveReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2t"
                    },
                    "Rules": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DescribeConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "ConfigurationSetAttributeNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    },
                    "EventDestinations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "TrackingOptions": {
                        "shape": "Sp"
                    },
                    "DeliveryOptions": {
                        "shape": "S31"
                    },
                    "ReputationOptions": {
                        "type": "structure",
                        "members": {
                            "SendingEnabled": {
                                "type": "boolean"
                            },
                            "ReputationMetricsEnabled": {
                                "type": "boolean"
                            },
                            "LastFreshStart": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DescribeReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleResult",
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S18"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "DescribeReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2t"
                    },
                    "Rules": {
                        "shape": "S2v"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetAccountSendingEnabled": {
            "output": {
                "resultWrapper": "GetAccountSendingEnabledResult",
                "type": "structure",
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VOKRUTXEAVEV4EX7CKANAYVYG3UAVD4KFBUNVZK5BDZ6DAXZNLFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DKE7DLHNYKD6JAJHWGLE76KU4HVNSKCMVC4Z4NXOIKAKAZLTIT2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MTLJT7MJCTPNRHLLC3FTR732VMIQ5MFWDWKXNPIYMFYVCBVRSVOA/tangerine.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCPQS36RABZ4HZZV5GYUG5IRAL2HWQWV7UAMBXF2FO7ABOXEYSJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A4UOLGY4CGOJNGDWDXEIHON7VPU5EQXJTXRFUWWZBY4JJ6HQEZYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DMDY4DAW6B6RU6DJZRXYHXYCAQ7ZA2GIOC4QRQ2SSOD52N257THA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RLEW7TIIOMRXHFVAULDZHEB4XOXI46BBZCEOO7PNEZYQNGEBIT6A/app.js"
            ]
        },
        "GetCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "GetCustomVerificationEmailTemplateResult",
                "type": "structure",
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXGFJ7DXLIOTKS6IRUZIVYBRML2SE5KSDMGDBWXOEE66MKEWVXRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URZAN53F7F7HKVY23VQWEDW6AYEA54QPM2E4E4QUNWAH7VPEAGCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WCFTSNJG5VPZAGSQPYDIZN746QV3GWF2JI475FOHTTMZWZHQ4YMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KYJWFE7T2HJUQ4OCVNRXXHJXD5KJBEDHLDW7LLXI3NFSIKH3HE7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IRWODOWZ47M5YUIX2ZGWKQ77FEDZPMWTXATMJGFACWN7YK6XX7TA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QGZBCNEMG6K5R5WYOH7JSKSPAQLN4U5C5ZYNDAGUULVBJPV62HLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26DBZ6YZIL6LJNZEVZGAQ3RLXPC2MPNEV6F7UYQATZU4YCE2VTEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3TXWKKQGATLOYXW7D6ONOJXOOD3QOIZGG5GHXVPQ4CWID67BFSMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H7PM4RJH7724332J5JTNLDJKRFY7FQVDER7TLAE6GVNWJJIHDUDQ/sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FWIHMBPJDRCCJRKNHK76MEFMQD5UNYWIH7XJTONZPS3V4XNB3PIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DW7AHBVPMUKAL5W37CAPDD7C5HGJUMXOFOX4UN32PYQRUFPGCQXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E64SMBAHB4K3QGYUKUL6BPBS6MKI6GG34UVFPCKG4OH3IPSOI4JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WMWBOVJXTMCKF3YGOF7ZFWE5CZIYQPVMNQ6QW56KAWHZFVC6PKCQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/GUIQ5G6FBIVDXGBYO5MLONLNLZVBD4UMIQR6LTXJEKWZ3RVTXLRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJXUDWUMQGYXRWLMVDAPS44RHTMAKLS3I7KHCCQLDFLEMQQUGJZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y347CUI2GNBA4GB5TZMRLNQ2XCFKD7FFGBXWJP62Z4BJRXXU7SRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VFSF27AMIMHH6KR6XS4FSUJJTUOLDPVIATWJBGAGE5VOIB4XFCMQ/vendors.sdk.js",
[...]
