{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-12-01",
        "endpointPrefix": "email",
        "protocol": "query",
        "protocols": [
            "query"
        ],
        "serviceAbbreviation": "Amazon SES - V1 Internal",
        "serviceFullName": "Amazon Simple Email Service - V1 Internal",
        "serviceId": "ses",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-v1-2010-12-01",
        "xmlNamespace": "http://ses.amazonaws.com/doc/2010-12-01/",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
        ]
    },
    "operations": {
        "CloneReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "OriginalRuleSetName"
                ],
                "members": {
                    "RuleSetName": {},
                    "OriginalRuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CloneReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSet"
                ],
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "TrackingOptions"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "Filter"
                ],
                "members": {
                    "Filter": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Rule"
                ],
                "members": {
                    "RuleSetName": {},
                    "After": {},
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "CreateTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Template"
                ],
                "members": {
                    "Template": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteIdentityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyName"
                ],
                "members": {
                    "Identity": {},
                    "PolicyName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityPolicyResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterName"
                ],
                "members": {
                    "FilterName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DeleteVerifiedEmailAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DescribeActiveReceiptRuleSet": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "DescribeActiveReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2x"
                    },
                    "Rules": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DescribeConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "ConfigurationSetAttributeNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    },
                    "EventDestinations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "TrackingOptions": {
                        "shape": "Sq"
                    },
                    "DeliveryOptions": {
                        "shape": "S35"
                    },
                    "ReputationOptions": {
                        "type": "structure",
                        "members": {
                            "SendingEnabled": {
                                "type": "boolean"
                            },
                            "ReputationMetricsEnabled": {
                                "type": "boolean"
                            },
                            "LastFreshStart": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DescribeReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleResult",
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "DescribeReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2x"
                    },
                    "Rules": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "GetAccountSendingEnabled": {
            "output": {
                "resultWrapper": "GetAccountSendingEnabledResult",
                "type": "structure",
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "GetComplianceData": {
            "output": {
                "resultWrapper": "GetComplianceDataResult",
                "type": "structure",
                "members": {
                    "complianceVerdict": {},
                    "complianceStatuses": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "status": {},
                                "expectedEndDate": {
                                    "type": "timestamp"
                                },
                                "message": {}
                            }
                        }
                    },
                    "metricsMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "rate": {
                                    "type": "double"
                                },
                                "eventCount": {
                                    "type": "long"
                                },
                                "eligibleVolume": {
                                    "type": "long"
                                },
                                "totalVolume": {
                                    "type": "long"
                                },
                                "remainingVolume": {
                                    "type": "long"
                                },
                                "volumeDaySpan": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "GetCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
[...]
