{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-04-01",
        "endpointPrefix": "email-internal",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SES - Internal",
        "serviceFullName": "Amazon Simple Email Service - Internal",
        "serviceId": "ses",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-internal-2010-04-01",
        "xmlNamespace": "http://email.amazon.com/doc/2010-04-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AO7R2MXDK2WIXXFJWR4FXWLEPO7BJAVTABPRM56PDWX42JIGKUQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
        ]
    },
    "operations": {
        "ForceVerifyIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "ForceVerifyIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "ListCrossAccountIdentityNotificationAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListCrossAccountIdentityNotificationAttributesResult",
                "type": "structure",
                "members": {
                    "CrossAccountNotificationAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identity": {},
                                "NotificationAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "BounceTopic",
                                        "ComplaintTopic",
                                        "DeliveryTopic",
                                        "ForwardingEnabled"
                                    ],
                                    "members": {
                                        "BounceTopic": {},
                                        "ComplaintTopic": {},
                                        "DeliveryTopic": {},
                                        "ForwardingEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInBounceNotificationsEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInComplaintNotificationsEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInDeliveryNotificationsEnabled": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "RedirectReceivedEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Destinations",
                    "RawMessage",
                    "SendingAccount"
                ],
                "members": {
                    "Destinations": {
                        "shape": "Se"
                    },
                    "ReturnPath": {},
                    "ReturnPathArn": {},
                    "RawMessage": {
                        "shape": "Sh"
                    },
                    "SendingAccount": {}
                }
            },
            "output": {
                "resultWrapper": "RedirectReceivedEmailInternalResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEP6NBPAPRRAW26TKXBXP53GP5A54SFFRB252VMDYBCWQBS4R4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEBNISPIFKYRFJHC7SDXMUAYVXBJ72FLIASSZ4Z73HFQNQ5ESPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QX74GGC6FI6AQZ2SZ4TBRW3FQNVK7AQHFSKAJH3ZILMOVZKGTDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AO2Q2OBNJABZO2KVYYKWFF76T3RZVHJ74W7U5KETLANH6TX5VEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3EWA6KHL3VZQOHN4JKEMD43USKRSLWSNTZFD74L5U2OU2P3MUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJCE4R4KFUXT74W4SK6Y67LIHLHKSTXITQ42OUR7OFG6DNXM2LAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LUMRSTE5MUKJRXBTSTDFOOUEOXOIWEWJELVUSSZTNNNJVH5H4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJR32S5FYDR2S77MTNQBNXOYV3YLQ4RPKCC7AFUZA6HIRRY4W2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UD3LF7DI7DK7ZCCQ2SQVYLNX7NLEWZVMW6BD2BJ2DWTPCZHH5NLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3REM2AZURN4DMLKFASGXNNLYE5GRRPHVESQQC4QTQPZ64SNNJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHAFSUYF2KAAJGNTPAZKF4FYGZU4ZSGJMHIRNR4MOLPGKEU4WOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETC5UIB3F7ZV2ZKU5FMO4NUNRIO3BC2P2GHZDMPMQTLW4O5VEVTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DV3SW5MTXJWDDFHYEYTPYDC7HFXO3P3NX36DDO7VD5JUC2UMYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4X6QJB5EPR4OSTCRW2RW5X43Z4QWTEE6PGAENJHM4UAAPHD5YVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/634YMIVG7NXBVEXK5LFOID33UF3VTNBWNJNYDNVYHGT7JEWRXGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YPN5J4DDBE5XFVAXXKRDPASG73BHVCRHBPMMA7C4DHVH6UIJZW7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7RX5KZZJUIXAWBTCY4GR66YD2PZLI73EHW5IB7QCSWAQFQX2O2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV7YVWKWEGEEZKLLCFG3YHFXWJPCFJOQVBA42XVBKSK32LRYLDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXEAPC376D3WPFFHK3IGOHQHJNFWZ25JAO327QKUZEQAFDD6XF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6U5HHHRNPC266KEE5RKX4AKIVHLO25KZ3R2NROJQKWQAWWJ5R2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PU7BQIY3D3QR366NVFHUFMBDQ5I5FX2EWGU4KCMLW2RAJR72EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY723GQIZZQ7WE5FWRJPZIFU3FV7OYSJWFAUMEOAGM5V6SKJUPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWB24NGEHIXXO66VNAMLH5MZOW3JJYL4ID22JDU66C6YPTYE4XBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKC23URUOCOQ7Z2PNFJUL7SCRF3ORNIFHM6VLJWNIKE7T7V3NO3A/vendors.js"
            ]
        },
        "RedriveEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "output": {
                "resultWrapper": "RedriveEmailResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "SendEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "RawMessage",
                    "SendingAccount"
                ],
                "members": {
                    "Source": {},
                    "Destinations": {
                        "shape": "Se"
                    },
                    "RawMessage": {
                        "shape": "Sh"
                    },
                    "Tags": {
                        "shape": "Sp"
                    },
                    "FromArn": {},
                    "SourceArn": {},
                    "SenderArn": {},
                    "ReturnPathArn": {},
                    "SendingAccount": {},
                    "OverrideSource": {
                        "type": "boolean"
                    },
                    "EmailMetaData": {
                        "type": "structure",
                        "members": {
                            "InboundMessageId": {}
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "SendEmailInternalResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "SendInboundEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "OriginalMessageId",
                    "BounceSender",
                    "BouncedRecipientInfoList"
                ],
                "members": {
                    "AwsAccountId": {},
                    "OriginalMessageId": {},
                    "BounceSender": {},
                    "Explanation": {},
                    "MessageDsn": {
                        "type": "structure",
                        "members": {
                            "ReportingMta": {},
                            "ArrivalDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S12"
                            }
                        }
                    },
                    "BouncedRecipientInfoList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Recipient"
                            ],
                            "members": {
                                "Recipient": {},
                                "RecipientArn": {},
                                "BounceType": {},
                                "RecipientDsnFields": {
                                    "type": "structure",
                                    "required": [
                                        "Action",
                                        "Status"
                                    ],
                                    "members": {
                                        "FinalRecipient": {},
                                        "Action": {},
                                        "RemoteMta": {},
                                        "Status": {},
                                        "DiagnosticCode": {},
                                        "LastAttemptDate": {
                                            "type": "timestamp"
                                        },
                                        "ExtensionFields": {
                                            "shape": "S12"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "IncludeOriginalBody": {
                        "type": "boolean"
                    },
                    "BounceSenderArn": {}
                }
            },
            "output": {
                "resultWrapper": "SendInboundEmailInternalResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "SendTemplatedEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "Destination",
                    "TemplateData",
                    "SendingAccount"
                ],
                "members": {
                    "Source": {},
                    "Destination": {
                        "type": "structure",
                        "members": {
                            "ToAddresses": {
                                "shape": "Se"
                            },
                            "CcAddresses": {
                                "shape": "Se"
                            },
                            "BccAddresses": {
                                "shape": "Se"
                            }
                        }
                    },
                    "ReplyToAddresses": {
                        "shape": "Se"
                    },
                    "ReturnPath": {},
                    "SourceArn": {},
                    "ReturnPathArn": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "ConfigurationSetName": {},
                    "Template": {},
                    "TemplateArn": {},
                    "TemplateData": {},
                    "PayerToken": {},
                    "HttpRemoteAddress": {},
                    "SendingAccount": {},
                    "SendingArn": {},
                    "ProductCodeOverride": {},
                    "SourceTlsVersion": {},
                    "Headers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "SendTemplatedEmailInternalResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "resultWrapper": "LockServiceLinkedRoleResult",
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "resultWrapper": "UnlockServiceLinkedRoleResult",
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        },
        "SendMailManagerBounce": {
            "input": {
                "type": "structure",
                "required": [
                    "OriginalMessageId",
                    "BounceSender",
                    "BouncedRecipientInfoList"
                ],
                "members": {
                    "OriginalMessageId": {},
                    "BounceSender": {},
                    "Explanation": {},
                    "MessageDsn": {
                        "shape": "S14"
                    },
                    "BouncedRecipientInfoList": {
                        "shape": "S1b"
                    },
                    "BounceSenderArn": {}
                }
            },
            "output": {
                "resultWrapper": "SendMailManagerBounceResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/H64HH5EZJUWSN5S2YYQ353VXTRKV6EXW7ISO5VZN3UQ46LSBCIAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRWKFC7Q5U6Q2XA6KFPOP6764HXFK43B7MZLJNGI5L7YZSXYBWSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EIHTKFICGTWUAX5QIX5WCRCUP3LJQSLYRXQ4BKDJM5W6SWYAG6XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GJS3VEUE7H4P5INIUB7AQQLV4RH6ATX2LMR55NMARXHWGJRKC7LQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7T3B562K573ZSJTK7RGGHGW5KW5PTG3TJH62Z6VQ2SFNQBDCG2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFDPVMRZHGB5ZKECZC37WIKZRNKH5FOJR2UEXQCBIGL3BHJBEBUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELHZVDBF5X3RC7C4VBVDUFR6OEBSINRFV5DDAEV7ZEISE4N7V5NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R66PIQSVS3J4OHMGQ7JPNYIL76L4IHWAUK2JJH7W5BDNT227YGOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LNPX4PLFHAFWUNO6EAM62I7FYFAYKQPXNILZZGHWSMXVLQCP3Z2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WZNVFICEZKJ7B7ZNNJGK5OK576NQO2YYTIVLH3PPD7EJE3ISDYIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GEKJ4DYTBMOKWAZMREOE6DL46WMM6AFK4UQ6TOUDCDOV5XOT225Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CP4EHUQ5UMP57JM2CBC6RRTVHUC5L2Z5HNG5BFOMVULQHORKMI2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJR6GQIURIUHXEQGEY5Z2GWXDLX6R7DY5CU3OC2UEYTJGTT32S5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y7Y4YWWIMYZRRA7CB4LAVIDN4BGXL7LFDFT2XR7RHTR2ITYY4OPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5FWVVJY4SC5VS2OPD44WAZK7PGS2ASKV6WC4BKDMCETCN7S7T7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/56HAIPB54XCXBV2MQO425UBNDQDKKELQJ5HBAF7SWXBWVOSBLUDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O567VLA4MOSJJDEUQGQKVJV5ZPSPZW7CZWGZHUJPFQSKXHELQBRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XO3HCKBVD55M2HTIMFL3ARWRT5LXJLM4K4LJN4P6LAC7ZZBHM55Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2N2LRZ4ZSPKHZ6L6T5GZ6FLNOC3TQ5E3XIKML5RAGPPK63KMKSRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XG3MCFDBUATPA7LZVTMUKFAUQVE6MX6NSOBPWZNQ3MLJMLH6VXIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EYAQ2TY5W6MIBJDQZXLPWPNR4VODQW3CGR4BKXZCVJZHNPLDPKSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AHIDO2SJVGWE6E27HSLMB5XI4AOVJVLW57SKKM5YE2UERJDSTX4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PGSM3WMPZECEBLQ2ZEKHISEL523M3FTYZP4KBOO3EVD5PD33SBWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HZHJJHY7YDGYFOFWKCHUYXN4URD5VBXXHB46XLFWE7523OMDVWCA/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        },
        "S14": {
            "type": "structure",
            "required": [
                "ReportingMta"
            ],
            "members": {
                "ReportingMta": {},
                "ArrivalDate": {
                    "type": "timestamp"
                },
                "ExtensionFields": {
                    "shape": "S17"
                }
            }
        },
        "S1b": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Recipient"
                ],
                "members": {
                    "Recipient": {},
                    "RecipientArn": {},
                    "BounceType": {},
                    "RecipientDsnFields": {
                        "type": "structure",
                        "required": [
                            "Action",
                            "Status"
                        ],
                        "members": {
                            "FinalRecipient": {},
                            "Action": {},
                            "RemoteMta": {},
                            "Status": {},
                            "DiagnosticCode": {},
                            "LastAttemptDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S17"
                            }
                        }
                    }
                }
            }
        },
        "S1q": {
            "type": "list",
            "member": {}
        }
    }
}