{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2019-09-27",
        "endpointPrefix": "email",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "Pinpoint Email",
        "serviceFullName": "Amazon Pinpoint Email Service",
        "serviceId": "Pinpoint Email",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-2019-09-27",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/WTFPSVPIC55CAQL647YD45A5GRX66B5XRORCYM4GX2VV7JK7FP7Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
        ]
    },
    "operations": {
        "BatchGetMetricData": {
            "http": {
                "requestUri": "/v2/email/metrics/batch"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Queries"
                ],
                "members": {
                    "Queries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Id",
                                "Namespace",
                                "Metric",
                                "StartDate",
                                "EndDate"
                            ],
                            "members": {
                                "Id": {},
                                "Namespace": {},
                                "Metric": {},
                                "Dimensions": {
                                    "type": "map",
                                    "key": {},
                                    "value": {}
                                },
                                "StartDate": {
                                    "type": "timestamp"
                                },
                                "EndDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Timestamps": {
                                    "type": "list",
                                    "member": {
                                        "type": "timestamp"
                                    }
                                },
                                "Values": {
                                    "type": "list",
                                    "member": {
                                        "type": "long"
                                    }
                                }
                            }
                        }
                    },
                    "Errors": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Id": {},
                                "Code": {},
                                "Message": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateConfigurationSet": {
            "http": {
                "requestUri": "/v2/email/configuration-sets"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sn"
                    },
                    "DeliveryOptions": {
                        "shape": "Sp"
                    },
                    "ReputationOptions": {
                        "shape": "S15"
                    },
                    "SendingOptions": {
                        "shape": "S17"
                    },
                    "Tags": {
                        "shape": "S18"
                    },
                    "SuppressionOptions": {
                        "shape": "S1c"
                    },
                    "VdmOptions": {
                        "shape": "S1f"
                    },
                    "ArchivingOptions": {
                        "shape": "S1o"
                    },
                    "RecipientValidationOptions": {
                        "shape": "S1q"
                    },
                    "RelayOptions": {
                        "shape": "S1q"
                    },
                    "EmailAddressInsightsOptions": {
                        "shape": "S1v"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "http": {
                "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestinationName": {},
                    "EventDestination": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateContact": {
            "http": {
                "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName",
                    "EmailAddress"
                ],
                "members": {
                    "ContactListName": {
                        "location": "uri",
                        "locationName": "ContactListName"
                    },
                    "EmailAddress": {},
                    "TopicPreferences": {
                        "shape": "S22"
                    },
                    "UnsubscribeAll": {
                        "type": "boolean"
                    },
                    "AttributesData": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateContactList": {
            "http": {
                "requestUri": "/v2/email/contact-lists"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName"
                ],
                "members": {
                    "ContactListName": {},
                    "Topics": {
                        "shape": "S2a"
                    },
                    "Description": {},
                    "Tags": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "http": {
                "requestUri": "/v2/email/custom-verification-email-templates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {},
                    "CancelSuccessRedirectionURL": {},
                    "CancelFailureRedirectionURL": {},
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateDedicatedIpPool": {
            "http": {
                "requestUri": "/v2/email/dedicated-ip-pools"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PoolName"
                ],
                "members": {
                    "PoolName": {},
                    "Tags": {
                        "shape": "S18"
                    },
                    "ScalingMode": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateDeliverabilityTestReport": {
            "http": {
                "requestUri": "/v2/email/deliverability-dashboard/test"
            },
            "input": {
                "type": "structure",
                "required": [
                    "FromEmailAddress",
                    "Content"
                ],
                "members": {
                    "ReportName": {},
                    "FromEmailAddress": {},
                    "Content": {
                        "shape": "S2t"
                    },
                    "Tags": {
                        "shape": "S18"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ReportId",
                    "DeliverabilityTestStatus"
                ],
                "members": {
                    "ReportId": {},
                    "DeliverabilityTestStatus": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateEmailIdentity": {
            "http": {
                "requestUri": "/v2/email/identities"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity"
                ],
                "members": {
                    "EmailIdentity": {},
                    "Tags": {
                        "shape": "S18"
                    },
                    "DkimSigningAttributes": {
                        "shape": "S38"
                    },
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IdentityType": {},
                    "VerifiedForSendingStatus": {
                        "type": "boolean"
                    },
                    "DkimAttributes": {
                        "shape": "S3e"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateEmailIdentityPolicy": {
            "http": {
                "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity",
                    "PolicyName",
                    "Policy"
                ],
                "members": {
                    "EmailIdentity": {
                        "location": "uri",
                        "locationName": "EmailIdentity"
                    },
                    "PolicyName": {
                        "location": "uri",
                        "locationName": "PolicyName"
                    },
                    "Policy": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateEmailTemplate": {
            "http": {
                "requestUri": "/v2/email/templates"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "TemplateContent"
                ],
                "members": {
                    "TemplateName": {},
                    "TemplateContent": {
                        "shape": "S3o"
                    },
                    "Tags": {
                        "shape": "S1e"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "CreateImportJob": {
            "http": {
                "requestUri": "/v2/email/import-jobs"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ImportDestination",
                    "ImportDataSource"
                ],
                "members": {
                    "ImportDestination": {
                        "shape": "S3t"
                    },
                    "ImportDataSource": {
                        "shape": "S3y"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "JobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {
                        "location": "uri",
                        "locationName": "ConfigurationSetName"
                    },
                    "EventDestinationName": {
                        "location": "uri",
                        "locationName": "EventDestinationName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteContact": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName",
                    "EmailAddress"
                ],
                "members": {
                    "ContactListName": {
                        "location": "uri",
                        "locationName": "ContactListName"
                    },
                    "EmailAddress": {
                        "location": "uri",
                        "locationName": "EmailAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteContactList": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/contact-lists/{ContactListName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ContactListName"
                ],
                "members": {
                    "ContactListName": {
                        "location": "uri",
                        "locationName": "ContactListName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/custom-verification-email-templates/{TemplateName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "TemplateName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteDedicatedIpPool": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/dedicated-ip-pools/{PoolName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PoolName"
                ],
                "members": {
                    "PoolName": {
                        "location": "uri",
                        "locationName": "PoolName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteEmailAddressSuppression": {
            "http": {
                "method": "PUT",
                "requestUri": "/v2/email/internal/suppressions/{EmailAddress}/"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "RequestMetadata": {
                        "shape": "S4g"
                    },
                    "EmailAddress": {
                        "location": "uri",
                        "locationName": "EmailAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteEmailIdentity": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/identities/{EmailIdentity}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity"
                ],
                "members": {
                    "EmailIdentity": {
                        "location": "uri",
                        "locationName": "EmailIdentity"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteEmailIdentityPolicy": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailIdentity",
                    "PolicyName"
                ],
                "members": {
                    "EmailIdentity": {
                        "location": "uri",
                        "locationName": "EmailIdentity"
                    },
                    "PolicyName": {
                        "location": "uri",
                        "locationName": "PolicyName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteEmailTemplate": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/templates/{TemplateName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {
                        "location": "uri",
                        "locationName": "TemplateName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "DeleteSuppressedDestination": {
            "http": {
                "method": "DELETE",
                "requestUri": "/v2/email/suppression/addresses/{EmailAddress}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {
                        "location": "uri",
                        "locationName": "EmailAddress"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WRICGOBSGRWMUCD5Q3PGTPV2STQTLSFBW6KN47BNV5KFYSNVEAXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSCNCI6DG5LE2D6PHB4MWFOXLUGJQOFKSXYNDXGANOU6MVYNNKQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WG5INMYJF6SQMCZ2MGLKFQ22DC54ZHCZPSOUM3B2ONCPTI2CVSLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N323UJ34U4UD7L52QJD2L7IBL3FGXFPLAG2NC4MLA3TQGRR7ISXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UILAMAKWTAMQPMHDZ7KHHDAQY6IWVRE4S3MQY3UNODIHGRYW5CIA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5ZIADHYYKDVNOLU7ASOQMJP55E5FUMMBM7AFJJG2YC55WGHCNTKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MOJFVNHH6G26R5OSZWI5VVMPBKYZF47JH43XHO3AWMYVAZSBWV3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RODFIWDL3UJZW625QCGU66BLYXAYHMRPE5VDOM5M2NBFUB4LWSWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S7262GW37BGA46UBG3QS6C7IVVDFTYOJTPLE4U32FTDHIMNJ3P3Q/vendors.js"
            ]
        },
        "GetAccount": {
            "http": {
                "method": "GET",
                "requestUri": "/v2/email/account"
            },
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "type": "structure",
                "members": {
                    "DedicatedIpAutoWarmupEnabled": {
                        "type": "boolean"
                    },
                    "EnforcementStatus": {},
                    "ProductionAccessEnabled": {
                        "type": "boolean"
                    },
                    "SendQuota": {
                        "shape": "S4v"
                    },
                    "SendingEnabled": {
                        "type": "boolean"
                    },
                    "SuppressionAttributes": {
                        "type": "structure",
                        "members": {
                            "SuppressedReasons": {
                                "shape": "S1d"
                            }
                        }
                    },
                    "Details": {
                        "type": "structure",
                        "members": {
                            "MailType": {},
                            "WebsiteURL": {
                                "shape": "S52"
                            },
                            "ContactLanguage": {},
                            "UseCaseDescription": {
                                "shape": "S54"
                            },
                            "AdditionalContactEmailAddresses": {
                                "shape": "S55"
                            },
                            "ReviewDetails": {
                                "type": "structure",
                                "members": {
                                    "Status": {},
                                    "CaseId": {}
                                }
                            }
                        }
                    },
                    "VdmAttributes": {
                        "shape": "S5a"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CH7LMVYAR3FAAZ4XZEI2XJRZYOHM5RSXWDDNTYNNCUU66ZAOORDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WQQYO6V5E6UXHXINWIQQ2MKFBFMXAYG7ZB6FAQZ5TEMKEW6JKDWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OQKPUNKU3BD63D652CBBH5XIOJXI3AGFJJZBPUG4JDD7KG3JLFLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KRCLSI2EVXHPFZOU5ALQUYZMD25XURTUEOA6WQ6TMMFSXQCTQNBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q56VH7S5ATSP5QACCOWQQMPYBZCMPD4S5ZDMACOFSZYPKCHGIVJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VUX7F47TOKF55KRELB74CX5IB5PCVKO6665UZ2DAKCCT5DR5OTEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F5PLGQZGADKDYXQCMLTRFSUXNX6MZLNPHTPW5SPZ5YU6MG5YWPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KQ6E4U466YBCNZDV2DBA4MGQXR7VOGZPNHOFQT6OT2YZ2Z5F33CA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RDXQOIWE3UWBY4NSVS4JJYWGEP52ER2O3AUPL5ALENFY6S5Z5NRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WULP2T26RBAE4E2DNGH6YUJCHBCUXH6B7OCFKSDN55EN5LCKED7A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNFIGOWEKZBLGPZGM3EI2NDBVGGG2XTJ2BQCHCO2QEQARWAZ6VGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/24CTZASWY32AGQ2QSSU2QS7JTPOMPAAHESQAAAHLFOC7IBBIJX2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G7KMJKQPXNRTXCJN3FVR63HZX35MBDVTOEPTG52AOZVLGZ23BOEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Q5R63BURVFRCWBOD43RWTSTK23KQPLAMKBGEKGJ7DGKXVNFBN2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7M32XHMEVWDSK5WQY6E4AJIMPSNP7IFD5AUYHEHTIZQGJF5CENQQ/vendors.js",
[...]
