{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-04-01",
        "endpointPrefix": "email-v1",
        "protocol": "query",
        "protocols": [
            "query"
        ],
        "serviceAbbreviation": "Amazon SES - V1 Internal",
        "serviceFullName": "Amazon Simple Email Service - V1 Internal",
        "serviceId": "ses",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-v1-2010-04-01",
        "xmlNamespace": "http://ses.amazonaws.com/doc/2010-12-01/",
        "auth": [
            "aws.auth#sigv4"
        ],
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
        ]
    },
    "operations": {
        "CloneReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "OriginalRuleSetName"
                ],
                "members": {
                    "RuleSetName": {},
                    "OriginalRuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CloneReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSet"
                ],
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "TrackingOptions"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "FromEmailAddress",
                    "TemplateSubject",
                    "TemplateContent",
                    "SuccessRedirectionURL",
                    "FailureRedirectionURL"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "Filter"
                ],
                "members": {
                    "Filter": {
                        "shape": "S11"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Rule"
                ],
                "members": {
                    "RuleSetName": {},
                    "After": {},
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "CreateReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "CreateTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Template"
                ],
                "members": {
                    "Template": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "resultWrapper": "CreateTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestinationName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestinationName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteIdentityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyName"
                ],
                "members": {
                    "Identity": {},
                    "PolicyName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteIdentityPolicyResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteReceiptFilter": {
            "input": {
                "type": "structure",
                "required": [
                    "FilterName"
                ],
                "members": {
                    "FilterName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptFilterResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "DeleteTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DeleteVerifiedEmailAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DescribeActiveReceiptRuleSet": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "DescribeActiveReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2x"
                    },
                    "Rules": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DescribeConfigurationSet": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "ConfigurationSetAttributeNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "DescribeConfigurationSetResult",
                "type": "structure",
                "members": {
                    "ConfigurationSet": {
                        "shape": "S5"
                    },
                    "EventDestinations": {
                        "type": "list",
                        "member": {
                            "shape": "S9"
                        }
                    },
                    "TrackingOptions": {
                        "shape": "Sq"
                    },
                    "DeliveryOptions": {
                        "shape": "S35"
                    },
                    "ReputationOptions": {
                        "type": "structure",
                        "members": {
                            "SendingEnabled": {
                                "type": "boolean"
                            },
                            "ReputationMetricsEnabled": {
                                "type": "boolean"
                            },
                            "LastFreshStart": {
                                "type": "timestamp"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DescribeReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleResult",
                "type": "structure",
                "members": {
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "DescribeReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName"
                ],
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "DescribeReceiptRuleSetResult",
                "type": "structure",
                "members": {
                    "Metadata": {
                        "shape": "S2x"
                    },
                    "Rules": {
                        "shape": "S2z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetAccountSendingEnabled": {
            "output": {
                "resultWrapper": "GetAccountSendingEnabledResult",
                "type": "structure",
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetComplianceData": {
            "output": {
                "resultWrapper": "GetComplianceDataResult",
                "type": "structure",
                "members": {
                    "complianceVerdict": {},
                    "complianceStatuses": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "status": {},
                                "expectedEndDate": {
                                    "type": "timestamp"
                                },
                                "message": {}
                            }
                        }
                    },
                    "metricsMetadata": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "rate": {
                                    "type": "double"
                                },
                                "eventCount": {
                                    "type": "long"
                                },
                                "eligibleVolume": {
                                    "type": "long"
                                },
                                "totalVolume": {
                                    "type": "long"
                                },
                                "remainingVolume": {
                                    "type": "long"
                                },
                                "volumeDaySpan": {
                                    "type": "double"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "GetCustomVerificationEmailTemplateResult",
                "type": "structure",
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetIdentityDkimAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "Identities"
                ],
                "members": {
                    "Identities": {
                        "shape": "S46"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetIdentityDkimAttributesResult",
                "type": "structure",
                "required": [
                    "DkimAttributes"
                ],
                "members": {
                    "DkimAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "DkimEnabled",
                                "DkimVerificationStatus"
                            ],
                            "members": {
                                "DkimEnabled": {
                                    "type": "boolean"
                                },
                                "DkimVerificationStatus": {},
                                "DkimTokens": {
                                    "shape": "S4b"
                                },
                                "SigningKeyOrigin": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetIdentityMailFromDomainAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "Identities"
                ],
                "members": {
                    "Identities": {
                        "shape": "S46"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetIdentityMailFromDomainAttributesResult",
                "type": "structure",
                "required": [
                    "MailFromDomainAttributes"
                ],
                "members": {
                    "MailFromDomainAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "MailFromDomain",
                                "MailFromDomainStatus",
                                "BehaviorOnMXFailure"
                            ],
                            "members": {
                                "MailFromDomain": {},
                                "MailFromDomainStatus": {},
                                "BehaviorOnMXFailure": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetIdentityNotificationAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "Identities"
                ],
                "members": {
                    "Identities": {
                        "shape": "S46"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetIdentityNotificationAttributesResult",
                "type": "structure",
                "required": [
                    "NotificationAttributes"
                ],
                "members": {
                    "NotificationAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "BounceTopic",
                                "ComplaintTopic",
                                "DeliveryTopic",
                                "ForwardingEnabled"
                            ],
                            "members": {
                                "BounceTopic": {},
                                "ComplaintTopic": {},
                                "DeliveryTopic": {},
                                "ForwardingEnabled": {
                                    "type": "boolean"
                                },
                                "HeadersInBounceNotificationsEnabled": {
                                    "type": "boolean"
                                },
                                "HeadersInComplaintNotificationsEnabled": {
                                    "type": "boolean"
                                },
                                "HeadersInDeliveryNotificationsEnabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetIdentityPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyNames"
                ],
                "members": {
                    "Identity": {},
                    "PolicyNames": {
                        "shape": "S4r"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetIdentityPoliciesResult",
                "type": "structure",
                "required": [
                    "Policies"
                ],
                "members": {
                    "Policies": {
                        "type": "map",
                        "key": {},
                        "value": {}
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetIdentityVerificationAttributes": {
            "input": {
                "type": "structure",
                "required": [
                    "Identities"
                ],
                "members": {
                    "Identities": {
                        "shape": "S46"
                    }
                }
            },
            "output": {
                "resultWrapper": "GetIdentityVerificationAttributesResult",
                "type": "structure",
                "required": [
                    "VerificationAttributes"
                ],
                "members": {
                    "VerificationAttributes": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "required": [
                                "VerificationStatus"
                            ],
                            "members": {
                                "VerificationStatus": {},
                                "VerificationToken": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetSendQuota": {
            "output": {
                "resultWrapper": "GetSendQuotaResult",
                "type": "structure",
                "members": {
                    "Max24HourSend": {
                        "type": "double"
                    },
                    "MaxSendRate": {
                        "type": "double"
                    },
                    "SentLast24Hours": {
                        "type": "double"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetSendStatistics": {
            "output": {
                "resultWrapper": "GetSendStatisticsResult",
                "type": "structure",
                "members": {
                    "SendDataPoints": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Timestamp": {
                                    "type": "timestamp"
                                },
                                "DeliveryAttempts": {
                                    "type": "long"
                                },
                                "Bounces": {
                                    "type": "long"
                                },
                                "Complaints": {
                                    "type": "long"
                                },
                                "Rejects": {
                                    "type": "long"
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "GetTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {}
                }
            },
            "output": {
                "resultWrapper": "GetTemplateResult",
                "type": "structure",
                "members": {
                    "Template": {
                        "shape": "S24"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListConfigurationSets": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListConfigurationSetsResult",
                "type": "structure",
                "members": {
                    "ConfigurationSets": {
                        "type": "list",
                        "member": {
                            "shape": "S5"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListCustomVerificationEmailTemplates": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxResults": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListCustomVerificationEmailTemplatesResult",
                "type": "structure",
                "members": {
                    "CustomVerificationEmailTemplates": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "TemplateName": {},
                                "FromEmailAddress": {},
                                "TemplateSubject": {},
                                "SuccessRedirectionURL": {},
                                "FailureRedirectionURL": {}
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListIdentities": {
            "input": {
                "type": "structure",
                "members": {
                    "IdentityType": {},
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListIdentitiesResult",
                "type": "structure",
                "required": [
                    "Identities"
                ],
                "members": {
                    "Identities": {
                        "shape": "S46"
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListIdentityPolicies": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "ListIdentityPoliciesResult",
                "type": "structure",
                "required": [
                    "PolicyNames"
                ],
                "members": {
                    "PolicyNames": {
                        "shape": "S4r"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListReceiptFilters": {
            "input": {
                "type": "structure",
                "members": {}
            },
            "output": {
                "resultWrapper": "ListReceiptFiltersResult",
                "type": "structure",
                "members": {
                    "Filters": {
                        "type": "list",
                        "member": {
                            "shape": "S11"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListReceiptRuleSets": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {}
                }
            },
            "output": {
                "resultWrapper": "ListReceiptRuleSetsResult",
                "type": "structure",
                "members": {
                    "RuleSets": {
                        "type": "list",
                        "member": {
                            "shape": "S2x"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListTemplates": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListTemplatesResult",
                "type": "structure",
                "members": {
                    "TemplatesMetadata": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "CreatedTimestamp": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ListVerifiedEmailAddresses": {
            "output": {
                "resultWrapper": "ListVerifiedEmailAddressesResult",
                "type": "structure",
                "members": {
                    "VerifiedEmailAddresses": {
                        "shape": "S5z"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "PutConfigurationSetDeliveryOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "DeliveryOptions": {
                        "shape": "S35"
                    }
                }
            },
            "output": {
                "resultWrapper": "PutConfigurationSetDeliveryOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "PutIdentityPolicy": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "PolicyName",
                    "Policy"
                ],
                "members": {
                    "Identity": {},
                    "PolicyName": {},
                    "Policy": {}
                }
            },
            "output": {
                "resultWrapper": "PutIdentityPolicyResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "RedirectReceivedEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "Destinations",
                    "RawMessage"
                ],
                "members": {
                    "Destinations": {
                        "shape": "S5z"
                    },
                    "RawMessage": {
                        "shape": "S65"
                    },
                    "ReturnPath": {},
                    "ReturnPathArn": {},
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "RedirectReceivedEmailResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "ReorderReceiptRuleSet": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleNames"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "resultWrapper": "ReorderReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SendBounce": {
            "input": {
                "type": "structure",
                "required": [
                    "OriginalMessageId",
                    "BounceSender",
                    "BouncedRecipientInfoList"
                ],
                "members": {
                    "OriginalMessageId": {},
                    "BounceSender": {},
                    "Explanation": {},
                    "MessageDsn": {
                        "type": "structure",
                        "required": [
                            "ReportingMta"
                        ],
                        "members": {
                            "ReportingMta": {},
                            "ArrivalDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S6h"
                            }
                        }
                    },
                    "BouncedRecipientInfoList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Recipient"
                            ],
                            "members": {
                                "Recipient": {},
                                "RecipientArn": {},
                                "BounceType": {},
                                "RecipientDsnFields": {
                                    "type": "structure",
                                    "required": [
                                        "Action",
                                        "Status"
                                    ],
                                    "members": {
                                        "FinalRecipient": {},
                                        "Action": {},
                                        "RemoteMta": {},
                                        "Status": {},
                                        "DiagnosticCode": {},
                                        "LastAttemptDate": {
                                            "type": "timestamp"
                                        },
                                        "ExtensionFields": {
                                            "shape": "S6h"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "BounceSenderArn": {}
                }
            },
            "output": {
                "resultWrapper": "SendBounceResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SendBulkTemplatedEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "Template",
                    "Destinations"
                ],
                "members": {
                    "Source": {},
                    "SourceArn": {},
                    "ReplyToAddresses": {
                        "shape": "S5z"
                    },
                    "ReturnPath": {},
                    "ReturnPathArn": {},
                    "ConfigurationSetName": {},
                    "DefaultTags": {
                        "shape": "S6w"
                    },
                    "Template": {},
                    "TemplateArn": {},
                    "DefaultTemplateData": {},
                    "Destinations": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Destination"
                            ],
                            "members": {
                                "Destination": {
                                    "shape": "S73"
                                },
                                "ReplacementTags": {
                                    "shape": "S6w"
                                },
                                "ReplacementTemplateData": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "SendBulkTemplatedEmailResult",
                "type": "structure",
                "required": [
                    "Status"
                ],
                "members": {
                    "Status": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Status": {},
                                "Error": {},
                                "MessageId": {}
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SendCustomVerificationEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress",
                    "TemplateName"
                ],
                "members": {
                    "EmailAddress": {},
                    "TemplateName": {},
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "SendCustomVerificationEmailResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SendEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "Destination",
                    "Message"
                ],
                "members": {
                    "Source": {},
                    "Destination": {
                        "shape": "S73"
                    },
                    "Message": {
                        "type": "structure",
                        "required": [
                            "Subject",
                            "Body"
                        ],
                        "members": {
                            "Subject": {
                                "shape": "S7e"
                            },
                            "Body": {
                                "type": "structure",
                                "members": {
                                    "Text": {
                                        "shape": "S7e"
                                    },
                                    "Html": {
                                        "shape": "S7e"
                                    }
                                }
                            }
                        }
                    },
                    "ReplyToAddresses": {
                        "shape": "S5z"
                    },
                    "ReturnPath": {},
                    "SourceArn": {},
                    "ReturnPathArn": {},
                    "Tags": {
                        "shape": "S6w"
                    },
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "SendEmailResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SendRawEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "RawMessage"
                ],
                "members": {
                    "Source": {},
                    "Destinations": {
                        "shape": "S74"
                    },
                    "RawMessage": {
                        "shape": "S65"
                    },
                    "FromArn": {},
                    "SourceArn": {},
                    "SenderArn": {},
                    "ReturnPathArn": {},
                    "Tags": {
                        "shape": "S6w"
                    },
                    "ConfigurationSetName": {}
                }
            },
            "output": {
                "resultWrapper": "SendRawEmailResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SendTemplatedEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "Destination",
                    "Template",
                    "TemplateData"
                ],
                "members": {
                    "Source": {},
                    "Destination": {
                        "shape": "S73"
                    },
                    "ReplyToAddresses": {
                        "shape": "S5z"
                    },
                    "ReturnPath": {},
                    "SourceArn": {},
                    "ReturnPathArn": {},
                    "Tags": {
                        "shape": "S6w"
                    },
                    "ConfigurationSetName": {},
                    "Template": {},
                    "TemplateArn": {},
                    "TemplateData": {}
                }
            },
            "output": {
                "resultWrapper": "SendTemplatedEmailResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetActiveReceiptRuleSet": {
            "input": {
                "type": "structure",
                "members": {
                    "RuleSetName": {}
                }
            },
            "output": {
                "resultWrapper": "SetActiveReceiptRuleSetResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetIdentityDkimEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "DkimEnabled"
                ],
                "members": {
                    "Identity": {},
                    "DkimEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "SetIdentityDkimEnabledResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetIdentityEmailNotificationEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "EmailNotificationType",
                    "EmailNotificationEnabled"
                ],
                "members": {
                    "Identity": {},
                    "EmailNotificationType": {},
                    "EmailNotificationEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "SetIdentityEmailNotificationEnabledResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetIdentityFeedbackForwardingEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "ForwardingEnabled"
                ],
                "members": {
                    "Identity": {},
                    "ForwardingEnabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "SetIdentityFeedbackForwardingEnabledResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetIdentityHeadersInNotificationsEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "NotificationType",
                    "Enabled"
                ],
                "members": {
                    "Identity": {},
                    "NotificationType": {},
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "SetIdentityHeadersInNotificationsEnabledResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetIdentityMailFromDomain": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {},
                    "MailFromDomain": {},
                    "BehaviorOnMXFailure": {}
                }
            },
            "output": {
                "resultWrapper": "SetIdentityMailFromDomainResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetIdentityNotificationTopic": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity",
                    "NotificationType"
                ],
                "members": {
                    "Identity": {},
                    "NotificationType": {},
                    "SnsTopic": {}
                }
            },
            "output": {
                "resultWrapper": "SetIdentityNotificationTopicResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetReceiptRulePosition": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "RuleName"
                ],
                "members": {
                    "RuleSetName": {},
                    "RuleName": {},
                    "After": {}
                }
            },
            "output": {
                "resultWrapper": "SetReceiptRulePositionResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "SetSendQuota": {
            "input": {
                "type": "structure",
                "required": [
                    "sendQuota"
                ],
                "members": {
                    "sendQuota": {
                        "type": "structure",
                        "required": [
                            "dailyQuota",
                            "maxTPS"
                        ],
                        "members": {
                            "dailyQuota": {
                                "type": "long"
                            },
                            "maxTPS": {
                                "type": "long"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "TestRenderTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName",
                    "TemplateData"
                ],
                "members": {
                    "TemplateName": {},
                    "TemplateData": {}
                }
            },
            "output": {
                "resultWrapper": "TestRenderTemplateResult",
                "type": "structure",
                "members": {
                    "RenderedTemplate": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateAccountSendingEnabled": {
            "input": {
                "type": "structure",
                "members": {
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateConfigurationSetEventDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "EventDestination"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "EventDestination": {
                        "shape": "S9"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateConfigurationSetEventDestinationResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateConfigurationSetReputationMetricsEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "Enabled"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateConfigurationSetSendingEnabled": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "Enabled"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "Enabled": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateConfigurationSetTrackingOptions": {
            "input": {
                "type": "structure",
                "required": [
                    "ConfigurationSetName",
                    "TrackingOptions"
                ],
                "members": {
                    "ConfigurationSetName": {},
                    "TrackingOptions": {
                        "shape": "Sq"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateConfigurationSetTrackingOptionsResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateCustomVerificationEmailTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "TemplateName"
                ],
                "members": {
                    "TemplateName": {},
                    "FromEmailAddress": {},
                    "TemplateSubject": {},
                    "TemplateContent": {},
                    "SuccessRedirectionURL": {},
                    "FailureRedirectionURL": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateReceiptRule": {
            "input": {
                "type": "structure",
                "required": [
                    "RuleSetName",
                    "Rule"
                ],
                "members": {
                    "RuleSetName": {},
                    "Rule": {
                        "shape": "S19"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateReceiptRuleResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "UpdateTemplate": {
            "input": {
                "type": "structure",
                "required": [
                    "Template"
                ],
                "members": {
                    "Template": {
                        "shape": "S24"
                    }
                }
            },
            "output": {
                "resultWrapper": "UpdateTemplateResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "VerifyDomainDkim": {
            "input": {
                "type": "structure",
                "required": [
                    "Domain"
                ],
                "members": {
                    "Domain": {}
                }
            },
            "output": {
                "resultWrapper": "VerifyDomainDkimResult",
                "type": "structure",
                "required": [
                    "DkimTokens"
                ],
                "members": {
                    "DkimTokens": {
                        "shape": "S4b"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "VerifyDomainIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Domain"
                ],
                "members": {
                    "Domain": {},
                    "DisableEmailNotifications": {
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "resultWrapper": "VerifyDomainIdentityResult",
                "type": "structure",
                "required": [
                    "VerificationToken"
                ],
                "members": {
                    "VerificationToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "VerifyEmailAddress": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        },
        "VerifyEmailIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "EmailAddress"
                ],
                "members": {
                    "EmailAddress": {}
                }
            },
            "output": {
                "resultWrapper": "VerifyEmailIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CZ6AAS4XA5GL7SDDK2FJH7XX2HPZDUDGPKTXHFB52R6MSWZU4IPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZIO4UQ564ATBMON56KQHDGA75ENBRVFOZYD7BZLSIRBYF46OYY5A/vendors.js"
            ]
        }
    },
    "shapes": {
        "S5": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "Name": {}
            }
        },
        "S9": {
            "type": "structure",
            "required": [
                "Name",
                "MatchingEventTypes"
            ],
            "members": {
                "Name": {},
                "Enabled": {
                    "type": "boolean"
                },
                "MatchingEventTypes": {
                    "type": "list",
                    "member": {}
                },
                "KinesisFirehoseDestination": {
                    "type": "structure",
                    "required": [
                        "IAMRoleARN",
                        "DeliveryStreamARN"
                    ],
                    "members": {
                        "IAMRoleARN": {},
                        "DeliveryStreamARN": {}
                    }
                },
                "CloudWatchDestination": {
                    "type": "structure",
                    "required": [
                        "DimensionConfigurations"
                    ],
                    "members": {
                        "DimensionConfigurations": {
                            "type": "list",
                            "member": {
                                "type": "structure",
                                "required": [
                                    "DimensionName",
                                    "DimensionValueSource",
                                    "DefaultDimensionValue"
                                ],
                                "members": {
                                    "DimensionName": {},
                                    "DimensionValueSource": {},
                                    "DefaultDimensionValue": {}
                                }
                            }
                        }
                    }
                },
                "CloudWatchLogsDestination": {
                    "type": "structure",
                    "required": [
                        "IAMRoleARN"
                    ],
                    "members": {
                        "IAMRoleARN": {}
                    }
                },
                "SNSDestination": {
                    "type": "structure",
                    "required": [
                        "TopicARN"
                    ],
                    "members": {
                        "TopicARN": {}
                    }
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "CustomRedirectDomain": {}
            }
        },
        "S11": {
            "type": "structure",
            "required": [
                "Name",
                "IpFilter"
            ],
            "members": {
                "Name": {},
                "IpFilter": {
                    "type": "structure",
                    "required": [
                        "Policy",
                        "Cidr"
                    ],
                    "members": {
                        "Policy": {},
                        "Cidr": {}
                    }
                }
            }
        },
        "S19": {
            "type": "structure",
            "required": [
                "Name"
            ],
            "members": {
                "Name": {},
                "Enabled": {
                    "type": "boolean"
                },
                "TlsPolicy": {},
                "Recipients": {
                    "type": "list",
                    "member": {}
                },
                "Actions": {
                    "type": "list",
                    "member": {
                        "type": "structure",
                        "members": {
                            "S3Action": {
                                "type": "structure",
                                "required": [
                                    "BucketName"
                                ],
                                "members": {
                                    "TopicArn": {},
                                    "BucketName": {},
                                    "ObjectKeyPrefix": {},
                                    "KmsKeyArn": {},
                                    "IamRoleArn": {}
                                }
                            },
                            "BounceAction": {
                                "type": "structure",
                                "required": [
                                    "SmtpReplyCode",
                                    "Message",
                                    "Sender"
                                ],
                                "members": {
                                    "TopicArn": {},
                                    "SmtpReplyCode": {},
                                    "StatusCode": {},
                                    "Message": {},
                                    "Sender": {}
                                }
                            },
                            "WorkmailAction": {
                                "type": "structure",
                                "required": [
                                    "OrganizationArn"
                                ],
                                "members": {
                                    "TopicArn": {},
                                    "OrganizationArn": {}
                                }
                            },
                            "LambdaAction": {
                                "type": "structure",
                                "required": [
                                    "FunctionArn"
                                ],
                                "members": {
                                    "TopicArn": {},
                                    "FunctionArn": {},
                                    "InvocationType": {}
                                }
                            },
                            "StopAction": {
                                "type": "structure",
                                "required": [
                                    "Scope"
                                ],
                                "members": {
                                    "Scope": {},
                                    "TopicArn": {}
                                }
                            },
                            "AddHeaderAction": {
                                "type": "structure",
                                "required": [
                                    "HeaderName",
                                    "HeaderValue"
                                ],
                                "members": {
                                    "HeaderName": {},
                                    "HeaderValue": {}
                                }
                            },
                            "SNSAction": {
                                "type": "structure",
                                "required": [
                                    "TopicArn"
                                ],
                                "members": {
                                    "TopicArn": {},
                                    "Encoding": {}
                                }
                            },
                            "ConnectAction": {
                                "type": "structure",
                                "required": [
                                    "InstanceARN",
                                    "IAMRoleARN"
                                ],
                                "members": {
                                    "InstanceARN": {},
                                    "IAMRoleARN": {}
                                }
                            }
                        }
                    }
                },
                "ScanEnabled": {
                    "type": "boolean"
                }
            }
        },
        "S24": {
            "type": "structure",
            "required": [
                "TemplateName"
            ],
            "members": {
                "TemplateName": {},
                "SubjectPart": {},
                "TextPart": {},
                "HtmlPart": {}
            }
        },
        "S2x": {
            "type": "structure",
            "members": {
                "Name": {},
                "CreatedTimestamp": {
                    "type": "timestamp"
                }
            }
        },
        "S2z": {
            "type": "list",
            "member": {
                "shape": "S19"
            }
        },
        "S35": {
            "type": "structure",
            "members": {
                "MaxRetryMinutes": {
                    "type": "integer"
                },
                "TlsPolicy": {},
                "RoutingServer": {
                    "type": "structure",
                    "required": [
                        "ServerName",
                        "Port",
                        "Enabled",
                        "RoutingServerAuthentication"
                    ],
                    "members": {
                        "ServerName": {},
                        "Port": {
                            "type": "integer"
                        },
                        "Enabled": {
                            "type": "boolean"
                        },
                        "Status": {},
                        "RoutingServerAuthentication": {
                            "type": "structure",
                            "members": {
                                "Credentials": {
                                    "type": "structure",
                                    "required": [
                                        "Username",
                                        "Password"
                                    ],
                                    "members": {
                                        "Username": {},
                                        "Password": {}
                                    }
                                },
                                "Certificate": {
                                    "type": "structure",
                                    "required": [
                                        "CertificateARN"
                                    ],
                                    "members": {
                                        "CertificateARN": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "S46": {
            "type": "list",
            "member": {}
        },
        "S4b": {
            "type": "list",
            "member": {}
        },
        "S4r": {
            "type": "list",
            "member": {}
        },
        "S5z": {
            "type": "list",
            "member": {}
        },
        "S65": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "S6h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S6w": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S73": {
            "type": "structure",
            "members": {
                "ToAddresses": {
                    "shape": "S74"
                },
                "CcAddresses": {
                    "shape": "S74"
                },
                "BccAddresses": {
                    "shape": "S74"
                }
            }
        },
        "S74": {
            "type": "list",
            "member": {}
        },
        "S7e": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {},
                "Charset": {}
            }
        }
    }
}