{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2010-04-01",
        "endpointPrefix": "email-internal",
        "protocol": "query",
        "serviceAbbreviation": "Amazon SES - Internal",
        "serviceFullName": "Amazon Simple Email Service - Internal",
        "serviceId": "ses",
        "signatureVersion": "v4",
        "signingName": "ses",
        "uid": "email-internal-2010-04-01",
        "xmlNamespace": "http://email.amazon.com/doc/2010-04-01/",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RD3DCH4BF5UM47HOJMIINAVTRTSJ5HIHTXMODQ6RFSHEBM7PZMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
        ]
    },
    "operations": {
        "ForceVerifyIdentity": {
            "input": {
                "type": "structure",
                "required": [
                    "Identity"
                ],
                "members": {
                    "Identity": {}
                }
            },
            "output": {
                "resultWrapper": "ForceVerifyIdentityResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "ListCrossAccountIdentityNotificationAttributes": {
            "input": {
                "type": "structure",
                "members": {
                    "NextToken": {},
                    "MaxItems": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "resultWrapper": "ListCrossAccountIdentityNotificationAttributesResult",
                "type": "structure",
                "members": {
                    "CrossAccountNotificationAttributes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "Identity": {},
                                "NotificationAttributes": {
                                    "type": "structure",
                                    "required": [
                                        "BounceTopic",
                                        "ComplaintTopic",
                                        "DeliveryTopic",
                                        "ForwardingEnabled"
                                    ],
                                    "members": {
                                        "BounceTopic": {},
                                        "ComplaintTopic": {},
                                        "DeliveryTopic": {},
                                        "ForwardingEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInBounceNotificationsEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInComplaintNotificationsEnabled": {
                                            "type": "boolean"
                                        },
                                        "HeadersInDeliveryNotificationsEnabled": {
                                            "type": "boolean"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "RedirectReceivedEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Destinations",
                    "RawMessage",
                    "SendingAccount"
                ],
                "members": {
                    "Destinations": {
                        "shape": "Se"
                    },
                    "ReturnPath": {},
                    "ReturnPathArn": {},
                    "RawMessage": {
                        "shape": "Sh"
                    },
                    "SendingAccount": {}
                }
            },
            "output": {
                "resultWrapper": "RedirectReceivedEmailInternalResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/FEP6NBPAPRRAW26TKXBXP53GP5A54SFFRB252VMDYBCWQBS4R4NA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CEBNISPIFKYRFJHC7SDXMUAYVXBJ72FLIASSZ4Z73HFQNQ5ESPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QX74GGC6FI6AQZ2SZ4TBRW3FQNVK7AQHFSKAJH3ZILMOVZKGTDNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4AO2Q2OBNJABZO2KVYYKWFF76T3RZVHJ74W7U5KETLANH6TX5VEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D3EWA6KHL3VZQOHN4JKEMD43USKRSLWSNTZFD74L5U2OU2P3MUTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KJCE4R4KFUXT74W4SK6Y67LIHLHKSTXITQ42OUR7OFG6DNXM2LAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3LUMRSTE5MUKJRXBTSTDFOOUEOXOIWEWJELVUSSZTNNNJVH5H4JQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKJR32S5FYDR2S77MTNQBNXOYV3YLQ4RPKCC7AFUZA6HIRRY4W2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UD3LF7DI7DK7ZCCQ2SQVYLNX7NLEWZVMW6BD2BJ2DWTPCZHH5NLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U3REM2AZURN4DMLKFASGXNNLYE5GRRPHVESQQC4QTQPZ64SNNJPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RHAFSUYF2KAAJGNTPAZKF4FYGZU4ZSGJMHIRNR4MOLPGKEU4WOBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ETC5UIB3F7ZV2ZKU5FMO4NUNRIO3BC2P2GHZDMPMQTLW4O5VEVTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F5DV3SW5MTXJWDDFHYEYTPYDC7HFXO3P3NX36DDO7VD5JUC2UMYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N4X6QJB5EPR4OSTCRW2RW5X43Z4QWTEE6PGAENJHM4UAAPHD5YVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/634YMIVG7NXBVEXK5LFOID33UF3VTNBWNJNYDNVYHGT7JEWRXGFQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YPN5J4DDBE5XFVAXXKRDPASG73BHVCRHBPMMA7C4DHVH6UIJZW7Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7RX5KZZJUIXAWBTCY4GR66YD2PZLI73EHW5IB7QCSWAQFQX2O2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UV7YVWKWEGEEZKLLCFG3YHFXWJPCFJOQVBA42XVBKSK32LRYLDJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZXEAPC376D3WPFFHK3IGOHQHJNFWZ25JAO327QKUZEQAFDD6XF6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6U5HHHRNPC266KEE5RKX4AKIVHLO25KZ3R2NROJQKWQAWWJ5R2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PU7BQIY3D3QR366NVFHUFMBDQ5I5FX2EWGU4KCMLW2RAJR72EDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EY723GQIZZQ7WE5FWRJPZIFU3FV7OYSJWFAUMEOAGM5V6SKJUPBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MWB24NGEHIXXO66VNAMLH5MZOW3JJYL4ID22JDU66C6YPTYE4XBQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MKC23URUOCOQ7Z2PNFJUL7SCRF3ORNIFHM6VLJWNIKE7T7V3NO3A/vendors.js"
            ]
        },
        "RedriveEmail": {
            "input": {
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "output": {
                "resultWrapper": "RedriveEmailResult",
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "SendEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "RawMessage",
                    "SendingAccount"
                ],
                "members": {
                    "Source": {},
                    "Destinations": {
                        "shape": "Se"
                    },
                    "RawMessage": {
                        "shape": "Sh"
                    },
                    "Tags": {
                        "shape": "Sp"
                    },
                    "FromArn": {},
                    "SourceArn": {},
                    "SenderArn": {},
                    "ReturnPathArn": {},
                    "SendingAccount": {},
                    "OverrideSource": {
                        "type": "boolean"
                    },
                    "EmailMetaData": {
                        "type": "structure",
                        "members": {
                            "InboundMessageId": {}
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "SendEmailInternalResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "SendInboundEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "AwsAccountId",
                    "OriginalMessageId",
                    "BounceSender",
                    "BouncedRecipientInfoList"
                ],
                "members": {
                    "AwsAccountId": {},
                    "OriginalMessageId": {},
                    "BounceSender": {},
                    "Explanation": {},
                    "MessageDsn": {
                        "type": "structure",
                        "members": {
                            "ReportingMta": {},
                            "ArrivalDate": {
                                "type": "timestamp"
                            },
                            "ExtensionFields": {
                                "shape": "S12"
                            }
                        }
                    },
                    "BouncedRecipientInfoList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Recipient"
                            ],
                            "members": {
                                "Recipient": {},
                                "RecipientArn": {},
                                "BounceType": {},
                                "RecipientDsnFields": {
                                    "type": "structure",
                                    "required": [
                                        "Action",
                                        "Status"
                                    ],
                                    "members": {
                                        "FinalRecipient": {},
                                        "Action": {},
                                        "RemoteMta": {},
                                        "Status": {},
                                        "DiagnosticCode": {},
                                        "LastAttemptDate": {
                                            "type": "timestamp"
                                        },
                                        "ExtensionFields": {
                                            "shape": "S12"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "IncludeOriginalBody": {
                        "type": "boolean"
                    },
                    "BounceSenderArn": {}
                }
            },
            "output": {
                "resultWrapper": "SendInboundEmailInternalResult",
                "type": "structure",
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "SendTemplatedEmailInternal": {
            "input": {
                "type": "structure",
                "required": [
                    "Source",
                    "Destination",
                    "TemplateData",
                    "SendingAccount"
                ],
                "members": {
                    "Source": {},
                    "Destination": {
                        "type": "structure",
                        "members": {
                            "ToAddresses": {
                                "shape": "Se"
                            },
                            "CcAddresses": {
                                "shape": "Se"
                            },
                            "BccAddresses": {
                                "shape": "Se"
                            }
                        }
                    },
                    "ReplyToAddresses": {
                        "shape": "Se"
                    },
                    "ReturnPath": {},
                    "SourceArn": {},
                    "ReturnPathArn": {},
                    "Tags": {
                        "shape": "Sp"
                    },
                    "ConfigurationSetName": {},
                    "Template": {},
                    "TemplateArn": {},
                    "TemplateData": {},
                    "PayerToken": {},
                    "HttpRemoteAddress": {},
                    "SendingAccount": {},
                    "SendingArn": {},
                    "ProductCodeOverride": {},
                    "SourceTlsVersion": {},
                    "Headers": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "Name",
                                "Value"
                            ],
                            "members": {
                                "Name": {},
                                "Value": {}
                            }
                        }
                    }
                }
            },
            "output": {
                "resultWrapper": "SendTemplatedEmailInternalResult",
                "type": "structure",
                "required": [
                    "MessageId"
                ],
                "members": {
                    "MessageId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/L65F2DO5ENNU4CCZ3NQAEVX4PAJPVV37FKYMFFT5F7GXAC7Q52BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3QVL74RLFLSMZPL2BMPMZWJKB4OO62V7SBXWCQAUU6DJCZG3YJFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VW7XOZJLQBPB4OEMMW4KAZ3EHN2X7YTT7LYTHOWZKSESFSCOLJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ANPS4IPJ5KG4QH6AGSCWCTINVQEREXIDTZ5P56CUNNLWTR2YT2PA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DEXCCD4UM3GY56GFJ34MTY2OBYVWFNLWO2JRHD7HD5PCWTAZC26A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3AJNMBR743NNW22GJVD4CCLEXUGYROON2Q2EEXKK2XOULQPRYEVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DFMTRQM7SOO2TBMOIIVCH52GR3MLSIPWMXIJAF3MKXMTB43CMDYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BCUU6HCOT3TH2USMJOS4GL2YNVFGJ7KLWVKOVYE7NZQ7E6ZWOFPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5AH6DCYWNMRG4KRTNN3RMFX7KV5DDWZRT5TCA65LFQQ7EODX5W3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3GGPWM3K3SAYRI6SLMJIKC65OG5DFDTF7GPP2PGCLOZUAJQVLKUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "LockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "resultWrapper": "LockServiceLinkedRoleResult",
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "resultWrapper": "UnlockServiceLinkedRoleResult",
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/LLMRCRAECPCH7TN7M256P3KBO2QPVUBZFQMEEII6SFYDHDEMGXWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7KSDT4PWVRB3REFB2OV5E462SIMRQNXGCBVZXI44ARRFC4O4YERA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JTOCKYOOH2FSMCFWDM6MM4OOFQ5OP77VKVIQCDHBZBQT5BGHWJUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WSVKCT4APKUR7EQKKW47BQPBH75CK463BYJSVOPAQ6ZQEHLXGKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LJTBFAST3YK3DNI6RUII6AJKOMFSWKDRTQ4P76FUEGGVEWO5WHZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPFBHLY3OYGYPKJJ7H53AQ2E73UKZGKPPFVPWLB3KR4JZ35BK6ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B4OJFMIYOK6UQREEAP3YST6ELFQPXH573JQ4CUSNIDJKDZ7MMJ2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OAGWUIMPQAFGGMRR72JXZEBR57PFWUKZOJOY35GUQJYRKH373TRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZPAVQLHIK3AVLDCHHOIPSCOHYNJGHZBI43VJ5AZCXICWYKL3OYQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JH2GOFSIA5ZT3VJGNDMZJ3USNWPMLROZQZ2SGYYRJFIQPZPKXI5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js"
            ]
        }
    },
    "shapes": {
        "Se": {
            "type": "list",
            "member": {}
        },
        "Sh": {
            "type": "structure",
            "required": [
                "Data"
            ],
            "members": {
                "Data": {
                    "type": "blob"
                }
            }
        },
        "Sp": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S12": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1j": {
            "type": "list",
            "member": {}
        },
        "Si": {
            "type": "list",
            "member": {}
        },
        "Sl": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S10": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {}
        },
        "Ss": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S17": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "Name",
                    "Value"
                ],
                "members": {
                    "Name": {},
                    "Value": {}
                }
            }
        },
        "S1o": {
            "type": "list",
            "member": {}
        }
    }
}