{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-07-13",
        "endpointPrefix": "emr-serverless",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "EMR Serverless",
        "serviceId": "EMR Serverless",
        "signatureVersion": "v4",
        "signingName": "emr-serverless",
        "uid": "emr-serverless-2021-07-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3RCQXXOMQ7KW4F2V5TW7DGOKLRABVXYGT2NTNKJ6WAQFYZGTLZPQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
        ]
    },
    "operations": {
        "CancelJobRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {},
                    "jobRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "releaseLabel",
                    "type",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "releaseLabel": {},
                    "type": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "initialCapacity": {
                        "shape": "Sa"
                    },
                    "maximumCapacity": {
                        "shape": "Si"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "autoStartConfiguration": {
                        "shape": "Sm"
                    },
                    "autoStopConfiguration": {
                        "shape": "So"
                    },
                    "networkConfiguration": {
                        "shape": "Sq"
                    },
                    "architecture": {},
                    "imageConfiguration": {
                        "shape": "Sw"
                    },
                    "workerTypeSpecifications": {
                        "shape": "Sy"
                    },
                    "autoStartConfig": {
                        "shape": "Sm"
                    },
                    "autoStopConfig": {
                        "shape": "So"
                    },
                    "runtimeConfiguration": {
                        "shape": "S11",
                        "internalonly": true
                    },
                    "monitoringConfiguration": {
                        "shape": "S15",
                        "internalonly": true
                    },
                    "interactiveEndpointEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "interactiveConfiguration": {
                        "shape": "S1g",
                        "internalonly": true
                    },
                    "securityConfiguration": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "arn"
                ],
                "members": {
                    "applicationId": {},
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "application"
                ],
                "members": {
                    "application": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetDashboardForJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}/dashboard",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "dashboardType": {
                        "location": "querystring",
                        "locationName": "type",
                        "type": "string",
                        "internalonly": true
                    },
                    "action": {
                        "location": "querystring",
                        "locationName": "action",
                        "type": "string",
                        "internalonly": true
                    },
                    "urlType": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "urlType",
                        "type": "string"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "GetJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRun"
                ],
                "members": {
                    "jobRun": {
                        "type": "structure",
                        "required": [
                            "applicationId",
                            "jobRunId",
                            "arn",
                            "createdBy",
                            "createdAt",
                            "updatedAt",
                            "executionRole",
                            "state",
                            "stateDetails",
                            "releaseLabel",
                            "jobDriver"
                        ],
                        "members": {
                            "applicationId": {},
                            "jobRunId": {},
                            "name": {},
                            "arn": {},
                            "createdBy": {},
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "updatedAt": {
                                "type": "timestamp"
                            },
                            "executionRole": {},
                            "state": {},
                            "stateDetails": {},
                            "releaseLabel": {},
                            "configurationOverrides": {
                                "shape": "S1g"
                            },
                            "jobDriver": {
                                "shape": "S1q"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "totalResourceUtilization": {
                                "type": "structure",
                                "members": {
                                    "vCPUHour": {
                                        "type": "double"
                                    },
                                    "memoryGBHour": {
                                        "type": "double"
                                    },
                                    "storageGBHour": {
                                        "type": "double"
                                    }
                                }
                            },
                            "networkConfiguration": {
                                "shape": "Sq"
                            },
                            "totalExecutionDurationSeconds": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applications"
                ],
                "members": {
                    "applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "arn",
                                "releaseLabel",
                                "type",
                                "state",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "releaseLabel": {},
                                "type": {},
                                "state": {},
                                "stateDetails": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "architecture": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListJobRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "createdAtAfter": {
                        "location": "querystring",
                        "locationName": "createdAtAfter",
                        "type": "timestamp"
                    },
                    "createdAtBefore": {
                        "location": "querystring",
                        "locationName": "createdAtBefore",
                        "type": "timestamp"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRuns"
                ],
                "members": {
                    "jobRuns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationId",
                                "id",
                                "arn",
                                "createdBy",
                                "createdAt",
                                "updatedAt",
                                "executionRole",
                                "state",
                                "stateDetails",
                                "releaseLabel"
                            ],
                            "members": {
                                "applicationId": {},
                                "id": {},
                                "name": {},
                                "arn": {},
                                "createdBy": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "executionRole": {},
                                "state": {},
                                "stateDetails": {},
                                "releaseLabel": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StartApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "startInteractiveEndpoint": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StartJobRun": {
            "http": {
                "requestUri": "/applications/{applicationId}/jobruns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "clientToken",
                    "executionRoleArn"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "executionRoleArn": {},
                    "jobDriver": {
                        "shape": "S1q"
                    },
                    "configurationOverrides": {
                        "shape": "S1g"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "executionTimeoutMinutes": {
                        "type": "long"
                    },
                    "name": {},
                    "runTimeout": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId",
                    "arn"
                ],
                "members": {
                    "applicationId": {},
                    "jobRunId": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "StopApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "method": "PATCH",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "clientToken"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "initialCapacity": {
                        "shape": "Sa"
                    },
                    "maximumCapacity": {
                        "shape": "Si"
                    },
                    "autoStartConfiguration": {
                        "shape": "Sm"
                    },
                    "autoStopConfiguration": {
                        "shape": "So"
                    },
                    "networkConfiguration": {
                        "shape": "Sq"
                    },
                    "architecture": {},
                    "imageConfiguration": {
                        "shape": "Sw"
                    },
                    "workerTypeSpecifications": {
                        "shape": "Sy"
                    },
                    "autoStartConfig": {
                        "shape": "Sm"
                    },
                    "autoStopConfig": {
                        "shape": "So"
                    },
                    "releaseLabel": {},
                    "runtimeConfiguration": {
                        "shape": "S11",
                        "internalonly": true
                    },
                    "monitoringConfiguration": {
                        "shape": "S15",
                        "internalonly": true
                    },
                    "interactiveEndpointEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "interactiveConfiguration": {
                        "shape": "S1g",
                        "internalonly": true
                    },
                    "securityConfiguration": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "application"
                ],
                "members": {
                    "application": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTJ2YMDUUF2C3CZJKTSAFTXYXNJYQNOQMKB2EDWLTGZ3U4SRPRXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V43VOPFGYKUMO2GBNRG6GSHZ6SWGLGNOHZ65FOFBALF6GDNOTDGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PUKTU6NFHEWOF4GRPLCRICLFATBSJQVLP3YBRYFJ33IGO3S5YJOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z2NMJUXNRB7ZZ3GET5VUX6YY3345OL3WUPK747DR3CI5UDMEANZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZO6RHO26VHHUMDRQGYM5HUDSKGBE3RZTDZJ7YD3T2GICPUSZCKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JG7VMOLQ5XPFXC2J3L74LRSVTQAAECLOFUJIW4VZBAGCFUZ67ZOA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SNDRJOPS5T4HVTRLXTYRZZHFSNXCEVCKXOJ2YP67RQNUSY5RRMCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q27Y5ARBI3N4A4637MUZ4LXWFMQM5DIOV3PKVFDTF47XGJGK6DFQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OXJRTCAPNOKMBQ2V6H2FFNETN27A25BDAOAY2T6TDEIGXJUJVLPQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z34GXOAA6NDA2L4OLV3SS7U27C3NCAF2AMBOGO3FSATG2AGPVAKA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BOWRRKLRULPGKQFI4GK47QEJ3FX5W7GJBF7O76CNRZKQGATI65CA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PYLBXPQDKA3SH5W5W4B6WKDHHSLL2OBJ5CIF6KGGLZIOL2BNRWGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AWKCXAY7SAXRNGX2H47UQJ2R2CWH6MQZKQIZ6SSHFFIW3POOHFXA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GM7LAZGOVGYTZ65ZJSJEQ3MYQDQQXIHZJSW6HKUMW5F2YLIOJJFQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B7YQ7YSGSCPHJF6T6TGQZYUIXKNCZCNQG5IBGUAXFD4YI32CXVIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OF2AKNBC3RYQCM4WBAGFISCYLORUVOWZOXGI6MCPMVDWLGDQDHCQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4HWCOQI3V4NWVBL7ZWP4LKFGLN6MBZQUQIQKUHB4Z3JZ3DEHVDJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X2LMG4HDNHJUYYERLMIJYTYI5MHSVVNAVNEDBW3IHOT5JYB6RVCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFMI47WO3PAH2OJNWBDBVOIWSXXBFSDRBCOYJVS5XDPC7CI4754Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MBHWQUZZ5JWRBBE7NEUVL6IINALQRKH3D4J3ORTFFCZP56AA3VLA/vendors.sdk.js"
            ]
        },
        "CreateInteractiveEndpointXENI": {
            "http": {
                "requestUri": "/applications/{applicationId}/createInteractiveEndpointXENI",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "applicationId",
                    "studioInstanceId"
                ],
                "members": {
                    "accountId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "studioInstanceId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "availabilityZoneId": {
                        "shape": "S1q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "xENIId",
                    "xENIMACAddress",
                    "vpcCIDR",
                    "availabilityZoneId"
                ],
                "members": {
                    "xENIId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "xENIMACAddress": {
                        "type": "string",
                        "internalonly": true
                    },
                    "vpcCIDR": {
                        "type": "string",
                        "internalonly": true
                    },
                    "availabilityZoneId": {
                        "shape": "S1q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XJ5AXVVBSG47W2IXVZY2PDFXUB5SFQSR6G5BKPLBKHVBB4ZMQEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN6R2F3BPMSX426S5DNP6UXCG5LZGYWGUJ4QNZIA6E3M5PE6XNDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNVDMMCJ67JQ7H75PIM6D3H3MDBZSSAQRP7NHHWMHEQV4XHNPDPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE2QQONKPOR6LWXGSJWMVP5L4XPMYB7QIKOKPS3VPVMMYUEEXC6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNJEITVIH6XXKPDOT5IGD5G6PMRRPL3ODDM7DGQNI7Y3AJ6MH76Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2YNAQ7WG6LRRSAOZDQVFVKSJRHU2FQFRUAD2KZV3I7FO7OBLKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHLPW6WENMFTJX7K5QKCERKQ3TIQHMIS5OWCFNWPXUWPCZLY352A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FEBCZSRCQW7U66BPCSRFEVMNOFSY5QG3DMR73P7WXD2AEKP3OMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZJ4NXTE32L63WVSG4KGHICACB327BV7U3EMI5LIGJH2RILLVRPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QY2AHFC34QXGY3SKG3KRTATFWHEOE5RLRLSA3FYT5FDA3QCSY5AQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFSODYPZJLRMU3TS2Z4KHKIMJ4WKQBQK3PV54NNEU6GF4VV7QK3Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT7PLWWJDW3KTOKDWJCFPZ52QCNN2VBHYLFJIRIT6XE2D77SBWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY7CBAB4DAOANLV4ZV56ZB7XXWHDMKHAPOX64SJQ3BIEGSHY6Z2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPTGOJJ53VIHMRT7DWGLKSPYZV3MWPKUW7CLAEKMEUNSJISB5CBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QG2VAVX4TMCTE5NAABCYLDCH7OWNVJ2HYBJE4NQOYZLD6CJPSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3NURMXESV4TSDPSX7HNYWFSA4DU6PGSQTIY5I5PENBB5R2VPEVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E77NYGHEL4ONIHALLLV7PWHTEWMSNAJ2WTUD4RB46CISR2GRF3QA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTR6LTRKKFZ3TBXC5BM3OP2XKRXTRNLSG5NIWA5EOGFH7YHJ2JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMIX5CCKNLYQ44YKCW6WXGKHWMXEEUE7KRBKAQDZY7TI5AL6VD4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYHWZRGSXXYKW62FKMNAR7MCFBIOU362MNCZQP7TVDRUINEVUZJA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCQXXOMQ7KW4F2V5TW7DGOKLRABVXYGT2NTNKJ6WAQFYZGTLZPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XJ5AXVVBSG47W2IXVZY2PDFXUB5SFQSR6G5BKPLBKHVBB4ZMQEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN6R2F3BPMSX426S5DNP6UXCG5LZGYWGUJ4QNZIA6E3M5PE6XNDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNVDMMCJ67JQ7H75PIM6D3H3MDBZSSAQRP7NHHWMHEQV4XHNPDPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE2QQONKPOR6LWXGSJWMVP5L4XPMYB7QIKOKPS3VPVMMYUEEXC6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNJEITVIH6XXKPDOT5IGD5G6PMRRPL3ODDM7DGQNI7Y3AJ6MH76Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2YNAQ7WG6LRRSAOZDQVFVKSJRHU2FQFRUAD2KZV3I7FO7OBLKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHLPW6WENMFTJX7K5QKCERKQ3TIQHMIS5OWCFNWPXUWPCZLY352A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FEBCZSRCQW7U66BPCSRFEVMNOFSY5QG3DMR73P7WXD2AEKP3OMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZJ4NXTE32L63WVSG4KGHICACB327BV7U3EMI5LIGJH2RILLVRPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QY2AHFC34QXGY3SKG3KRTATFWHEOE5RLRLSA3FYT5FDA3QCSY5AQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFSODYPZJLRMU3TS2Z4KHKIMJ4WKQBQK3PV54NNEU6GF4VV7QK3Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT7PLWWJDW3KTOKDWJCFPZ52QCNN2VBHYLFJIRIT6XE2D77SBWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY7CBAB4DAOANLV4ZV56ZB7XXWHDMKHAPOX64SJQ3BIEGSHY6Z2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPTGOJJ53VIHMRT7DWGLKSPYZV3MWPKUW7CLAEKMEUNSJISB5CBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QG2VAVX4TMCTE5NAABCYLDCH7OWNVJ2HYBJE4NQOYZLD6CJPSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3NURMXESV4TSDPSX7HNYWFSA4DU6PGSQTIY5I5PENBB5R2VPEVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E77NYGHEL4ONIHALLLV7PWHTEWMSNAJ2WTUD4RB46CISR2GRF3QA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTR6LTRKKFZ3TBXC5BM3OP2XKRXTRNLSG5NIWA5EOGFH7YHJ2JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMIX5CCKNLYQ44YKCW6WXGKHWMXEEUE7KRBKAQDZY7TI5AL6VD4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYHWZRGSXXYKW62FKMNAR7MCFBIOU362MNCZQP7TVDRUINEVUZJA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCQXXOMQ7KW4F2V5TW7DGOKLRABVXYGT2NTNKJ6WAQFYZGTLZPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2XJ5AXVVBSG47W2IXVZY2PDFXUB5SFQSR6G5BKPLBKHVBB4ZMQEA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KN6R2F3BPMSX426S5DNP6UXCG5LZGYWGUJ4QNZIA6E3M5PE6XNDA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNVDMMCJ67JQ7H75PIM6D3H3MDBZSSAQRP7NHHWMHEQV4XHNPDPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LE2QQONKPOR6LWXGSJWMVP5L4XPMYB7QIKOKPS3VPVMMYUEEXC6A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNJEITVIH6XXKPDOT5IGD5G6PMRRPL3ODDM7DGQNI7Y3AJ6MH76Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PF2YNAQ7WG6LRRSAOZDQVFVKSJRHU2FQFRUAD2KZV3I7FO7OBLKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHLPW6WENMFTJX7K5QKCERKQ3TIQHMIS5OWCFNWPXUWPCZLY352A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FEBCZSRCQW7U66BPCSRFEVMNOFSY5QG3DMR73P7WXD2AEKP3OMQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZJ4NXTE32L63WVSG4KGHICACB327BV7U3EMI5LIGJH2RILLVRPA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QY2AHFC34QXGY3SKG3KRTATFWHEOE5RLRLSA3FYT5FDA3QCSY5AQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UFSODYPZJLRMU3TS2Z4KHKIMJ4WKQBQK3PV54NNEU6GF4VV7QK3Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VT7PLWWJDW3KTOKDWJCFPZ52QCNN2VBHYLFJIRIT6XE2D77SBWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GY7CBAB4DAOANLV4ZV56ZB7XXWHDMKHAPOX64SJQ3BIEGSHY6Z2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPTGOJJ53VIHMRT7DWGLKSPYZV3MWPKUW7CLAEKMEUNSJISB5CBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7QG2VAVX4TMCTE5NAABCYLDCH7OWNVJ2HYBJE4NQOYZLD6CJPSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C3NURMXESV4TSDPSX7HNYWFSA4DU6PGSQTIY5I5PENBB5R2VPEVA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E77NYGHEL4ONIHALLLV7PWHTEWMSNAJ2WTUD4RB46CISR2GRF3QA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CXTR6LTRKKFZ3TBXC5BM3OP2XKRXTRNLSG5NIWA5EOGFH7YHJ2JQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMIX5CCKNLYQ44YKCW6WXGKHWMXEEUE7KRBKAQDZY7TI5AL6VD4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYHWZRGSXXYKW62FKMNAR7MCFBIOU362MNCZQP7TVDRUINEVUZJA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3RCQXXOMQ7KW4F2V5TW7DGOKLRABVXYGT2NTNKJ6WAQFYZGTLZPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2GW57DBCAAG2MBBK3BODWXKEXB3FKAFVBLYJIHZWWRM5OSRX6TCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LHVGGASGSC6LI7KAVXFL47MV5QJYZ6IPHTNEAGUW4COCV77OICYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KHAPAXGBPEMSHRZMVVXO7HBCODSNMCIV6WNVNSLUHGQUYCY5LSA/amzn.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "workerCount"
                ],
                "members": {
                    "workerCount": {
                        "type": "long"
                    },
                    "workerConfiguration": {
                        "type": "structure",
                        "required": [
                            "cpu",
                            "memory"
                        ],
                        "members": {
                            "cpu": {},
                            "memory": {},
                            "disk": {}
                        }
                    }
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "cpu",
                "memory"
            ],
            "members": {
                "cpu": {},
                "memory": {},
                "disk": {}
            }
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                }
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                },
                "idleTimeoutMinutes": {
                    "type": "integer"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "subnetIds": {
                    "type": "list",
                    "member": {}
                },
                "securityGroupIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S12": {
            "type": "structure",
            "required": [
                "applicationId",
                "arn",
                "releaseLabel",
                "type",
                "state",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "applicationId": {},
                "name": {},
                "arn": {},
                "releaseLabel": {},
                "type": {},
                "state": {},
                "stateDetails": {},
                "initialCapacity": {
                    "shape": "Sa"
                },
                "maximumCapacity": {
                    "shape": "Si"
                },
                "createdAt": {
                    "type": "timestamp"
                },
                "updatedAt": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Sj"
                },
                "autoStartConfiguration": {
                    "shape": "Sm"
                },
                "autoStopConfiguration": {
                    "shape": "So"
                },
                "networkConfiguration": {
                    "shape": "Sq"
                },
                "architecture": {}
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "applicationConfiguration": {
                    "shape": "S1h"
                },
                "monitoringConfiguration": {
                    "type": "structure",
                    "members": {
                        "s3MonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "logUri": {},
                                "encryptionKeyArn": {}
                            }
                        },
                        "managedPersistenceMonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "encryptionKeyArn": {}
                            }
                        }
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "classification"
                ],
                "members": {
                    "classification": {},
                    "properties": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "configurations": {
                        "shape": "S1h"
                    }
                }
            }
        },
        "S1q": {
            "type": "structure",
            "members": {
                "sparkSubmit": {
                    "type": "structure",
                    "required": [
                        "entryPoint"
                    ],
                    "members": {
                        "entryPoint": {
                            "type": "string",
                            "sensitive": true
                        },
                        "entryPointArguments": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "sparkSubmitParameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "hive": {
                    "type": "structure",
                    "required": [
                        "query"
                    ],
                    "members": {
                        "query": {
                            "type": "string",
                            "sensitive": true
                        },
                        "initQueryFile": {
                            "type": "string",
                            "sensitive": true
                        },
                        "parameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            },
            "union": true
        },
        "Sw": {
            "type": "structure",
            "members": {
                "imageUri": {}
            }
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "imageConfiguration": {
                        "shape": "Sw"
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "applicationId",
                "arn",
                "releaseLabel",
                "type",
                "state",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "applicationId": {},
                "name": {},
                "arn": {},
                "releaseLabel": {},
                "type": {},
                "state": {},
                "stateDetails": {},
                "initialCapacity": {
                    "shape": "Sa"
                },
                "maximumCapacity": {
                    "shape": "Si"
                },
                "createdAt": {
                    "type": "timestamp"
                },
                "updatedAt": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Sj"
                },
                "autoStartConfiguration": {
                    "shape": "Sm"
                },
                "autoStopConfiguration": {
                    "shape": "So"
                },
                "networkConfiguration": {
                    "shape": "Sq"
                },
                "architecture": {},
                "imageConfiguration": {
                    "shape": "S1a"
                },
                "workerTypeSpecifications": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
                            "imageConfiguration": {
                                "shape": "S1a"
                            }
                        }
                    }
                }
            }
        },
        "S1a": {
            "type": "structure",
            "required": [
                "imageUri"
            ],
            "members": {
                "imageUri": {},
                "resolvedImageDigest": {}
            }
        },
        "S1o": {
            "type": "structure",
            "members": {
                "applicationConfiguration": {
                    "shape": "S1p"
                },
                "monitoringConfiguration": {
                    "type": "structure",
                    "members": {
                        "s3MonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "logUri": {},
                                "encryptionKeyArn": {}
                            }
                        },
                        "managedPersistenceMonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "encryptionKeyArn": {}
                            }
                        }
                    }
                }
            }
        },
        "S1p": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "classification"
                ],
                "members": {
                    "classification": {},
                    "properties": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "configurations": {
                        "shape": "S1p"
                    }
                }
            }
        },
        "S1y": {
            "type": "structure",
            "members": {
                "sparkSubmit": {
                    "type": "structure",
                    "required": [
                        "entryPoint"
                    ],
                    "members": {
                        "entryPoint": {
                            "type": "string",
                            "sensitive": true
                        },
                        "entryPointArguments": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "sparkSubmitParameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "hive": {
                    "type": "structure",
                    "required": [
                        "query"
                    ],
                    "members": {
[...]
