{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-07-13",
        "endpointPrefix": "emr-serverless",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "EMR Serverless",
        "serviceId": "EMR Serverless",
        "signatureVersion": "v4",
        "signingName": "emr-serverless",
        "uid": "emr-serverless-2021-07-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
        ]
    },
    "operations": {
        "CancelJobRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {},
                    "jobRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "releaseLabel",
                    "type",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "releaseLabel": {},
                    "type": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "initialCapacity": {
                        "shape": "Sa"
                    },
                    "maximumCapacity": {
                        "shape": "Si"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "autoStartConfiguration": {
                        "shape": "Sm"
                    },
                    "autoStopConfiguration": {
                        "shape": "So"
                    },
                    "networkConfiguration": {
                        "shape": "Sq"
                    },
                    "architecture": {},
                    "imageConfiguration": {
                        "shape": "Sw"
                    },
                    "workerTypeSpecifications": {
                        "shape": "Sy"
                    },
                    "autoStartConfig": {
                        "shape": "Sm"
                    },
                    "autoStopConfig": {
                        "shape": "So"
                    },
                    "runtimeConfiguration": {
                        "shape": "S11",
                        "internalonly": true
                    },
                    "monitoringConfiguration": {
                        "shape": "S15",
                        "internalonly": true
                    },
                    "interactiveEndpointEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "interactiveConfiguration": {
                        "shape": "S1g",
                        "internalonly": true
                    },
                    "securityConfiguration": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "arn"
                ],
                "members": {
                    "applicationId": {},
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "application"
                ],
                "members": {
                    "application": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "GetDashboardForJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}/dashboard",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "dashboardType": {
                        "location": "querystring",
                        "locationName": "type",
                        "type": "string",
                        "internalonly": true
                    },
                    "action": {
                        "location": "querystring",
                        "locationName": "action",
                        "type": "string",
                        "internalonly": true
                    },
                    "urlType": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "urlType",
                        "type": "string"
                    },
                    "attempt": {
                        "location": "querystring",
                        "locationName": "attempt",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "GetJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "attempt": {
                        "location": "querystring",
                        "locationName": "attempt",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRun"
                ],
                "members": {
                    "jobRun": {
                        "type": "structure",
                        "required": [
                            "applicationId",
                            "jobRunId",
                            "arn",
                            "createdBy",
                            "createdAt",
                            "updatedAt",
                            "executionRole",
                            "state",
                            "stateDetails",
                            "releaseLabel",
                            "jobDriver"
                        ],
                        "members": {
                            "applicationId": {},
                            "jobRunId": {},
                            "name": {},
                            "arn": {},
                            "createdBy": {},
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "updatedAt": {
                                "type": "timestamp"
                            },
                            "executionRole": {},
                            "state": {},
                            "stateDetails": {},
                            "releaseLabel": {},
                            "configurationOverrides": {
                                "shape": "S1g"
                            },
                            "jobDriver": {
                                "shape": "S1q"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "totalResourceUtilization": {
                                "type": "structure",
                                "members": {
                                    "vCPUHour": {
                                        "type": "double"
                                    },
                                    "memoryGBHour": {
                                        "type": "double"
                                    },
                                    "storageGBHour": {
                                        "type": "double"
                                    }
                                }
                            },
                            "networkConfiguration": {
                                "shape": "Sq"
                            },
                            "totalExecutionDurationSeconds": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applications"
                ],
                "members": {
                    "applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "arn",
                                "releaseLabel",
                                "type",
                                "state",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "releaseLabel": {},
                                "type": {},
                                "state": {},
                                "stateDetails": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "architecture": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "ListJobRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "createdAtAfter": {
                        "location": "querystring",
                        "locationName": "createdAtAfter",
                        "type": "timestamp"
                    },
                    "createdAtBefore": {
                        "location": "querystring",
                        "locationName": "createdAtBefore",
                        "type": "timestamp"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    },
                    "mode": {
                        "location": "querystring",
                        "locationName": "mode"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRuns"
                ],
                "members": {
                    "jobRuns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationId",
                                "id",
                                "arn",
                                "createdBy",
                                "createdAt",
                                "updatedAt",
                                "executionRole",
                                "state",
                                "stateDetails",
                                "releaseLabel"
                            ],
                            "members": {
                                "applicationId": {},
                                "id": {},
                                "name": {},
                                "arn": {},
                                "createdBy": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "executionRole": {},
                                "state": {},
                                "stateDetails": {},
                                "releaseLabel": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "StartApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "startInteractiveEndpoint": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "StartJobRun": {
            "http": {
                "requestUri": "/applications/{applicationId}/jobruns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "clientToken",
                    "executionRoleArn"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "executionRoleArn": {},
                    "jobDriver": {
                        "shape": "S1q"
                    },
                    "configurationOverrides": {
                        "shape": "S1g"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "executionTimeoutMinutes": {
                        "type": "long"
                    },
                    "name": {},
                    "runTimeout": {},
                    "mode": {},
                    "retryPolicy": {
                        "shape": "S2r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId",
                    "arn"
                ],
                "members": {
                    "applicationId": {},
                    "jobRunId": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "StopApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "method": "PATCH",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "clientToken"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "initialCapacity": {
                        "shape": "Sa"
                    },
                    "maximumCapacity": {
                        "shape": "Si"
                    },
                    "autoStartConfiguration": {
                        "shape": "Sm"
                    },
                    "autoStopConfiguration": {
                        "shape": "So"
                    },
                    "networkConfiguration": {
                        "shape": "Sq"
                    },
                    "architecture": {},
                    "imageConfiguration": {
                        "shape": "Sw"
                    },
                    "workerTypeSpecifications": {
                        "shape": "Sy"
                    },
                    "autoStartConfig": {
                        "shape": "Sm"
                    },
                    "autoStopConfig": {
                        "shape": "So"
                    },
                    "releaseLabel": {},
                    "runtimeConfiguration": {
                        "shape": "S11",
                        "internalonly": true
                    },
                    "monitoringConfiguration": {
                        "shape": "S15",
                        "internalonly": true
                    },
                    "interactiveEndpointEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "interactiveConfiguration": {
                        "shape": "S1g",
                        "internalonly": true
                    },
                    "securityConfiguration": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "application"
                ],
                "members": {
                    "application": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OUQJK7CWYYLNZ33U3PISYHN7V26XO3IGOP7FELY6OB2GN23HSAUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/47B3BWSTVWFSVK2VLANMVZYNHTQJVDTND7EN5ZGE3URZHC5WEU3Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FVUA3GS5SUNXJNEP3ZICGZZN6NYIBOCQBCPORAQKC5U4M7XKWZPA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "CreateInteractiveEndpointXENI": {
            "http": {
                "requestUri": "/applications/{applicationId}/createInteractiveEndpointXENI",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "applicationId",
                    "studioInstanceId"
                ],
                "members": {
                    "accountId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "studioInstanceId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "availabilityZoneId": {
                        "shape": "S1q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "xENIId",
                    "xENIMACAddress",
                    "vpcCIDR",
                    "availabilityZoneId"
                ],
                "members": {
                    "xENIId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "xENIMACAddress": {
                        "type": "string",
                        "internalonly": true
                    },
                    "vpcCIDR": {
                        "type": "string",
                        "internalonly": true
                    },
                    "availabilityZoneId": {
                        "shape": "S1q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3X45EWYG7MSHPWVUTK7YBOTBREUTRDJ3ZVXOLSG6NCCXMXV6LKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNRREZMSXXIWVXEOULSIJKXKXO4IC3PZIOFIEJKJJWFQ6ODBQIKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2PLWYLE2WD5SB2XRNSZ4WGFPUOKA4CFTF4HSBFASJWPXOCFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GTSPQD4B2QFDH66MAZ4ERR4XVLNLDNWY7SJTJWH23BKVQSQA4XA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIENRXMH5IAHWFXZVNN5KXVLXAUMH6A32BAPEHEQHTDET7QIAKPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUOKXB52SVXWKG5W7XXWCNOEMIWOAO4UQBEFWCI6SBXGZ653WJJA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK7XOPI5JG4Y2OVWPA53NTYBG36636Z424BWKYFVKOJA4KIXDUYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4DVYBZJCG7ZEYGIEYGYRUK77CVOJOE5PBAHYVRMEI2HCG56FA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAISK2UAZJZC6ZPIKM25H64XRH2XRZLTRHCKS2GBTXBO4EHE3RQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3X45EWYG7MSHPWVUTK7YBOTBREUTRDJ3ZVXOLSG6NCCXMXV6LKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNRREZMSXXIWVXEOULSIJKXKXO4IC3PZIOFIEJKJJWFQ6ODBQIKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2PLWYLE2WD5SB2XRNSZ4WGFPUOKA4CFTF4HSBFASJWPXOCFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GTSPQD4B2QFDH66MAZ4ERR4XVLNLDNWY7SJTJWH23BKVQSQA4XA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIENRXMH5IAHWFXZVNN5KXVLXAUMH6A32BAPEHEQHTDET7QIAKPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUOKXB52SVXWKG5W7XXWCNOEMIWOAO4UQBEFWCI6SBXGZ653WJJA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK7XOPI5JG4Y2OVWPA53NTYBG36636Z424BWKYFVKOJA4KIXDUYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4DVYBZJCG7ZEYGIEYGYRUK77CVOJOE5PBAHYVRMEI2HCG56FA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAISK2UAZJZC6ZPIKM25H64XRH2XRZLTRHCKS2GBTXBO4EHE3RQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3X45EWYG7MSHPWVUTK7YBOTBREUTRDJ3ZVXOLSG6NCCXMXV6LKCQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JNRREZMSXXIWVXEOULSIJKXKXO4IC3PZIOFIEJKJJWFQ6ODBQIKQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TIX2PLWYLE2WD5SB2XRNSZ4WGFPUOKA4CFTF4HSBFASJWPXOCFOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4GTSPQD4B2QFDH66MAZ4ERR4XVLNLDNWY7SJTJWH23BKVQSQA4XA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AIENRXMH5IAHWFXZVNN5KXVLXAUMH6A32BAPEHEQHTDET7QIAKPQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WUOKXB52SVXWKG5W7XXWCNOEMIWOAO4UQBEFWCI6SBXGZ653WJJA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XK7XOPI5JG4Y2OVWPA53NTYBG36636Z424BWKYFVKOJA4KIXDUYQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFK4DVYBZJCG7ZEYGIEYGYRUK77CVOJOE5PBAHYVRMEI2HCG56FA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XBAISK2UAZJZC6ZPIKM25H64XRH2XRZLTRHCKS2GBTXBO4EHE3RQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5KHCTNXXLUZPWKLJ5AUXQEYIKXKJ2U7AV4XJUYMQ7KPRLCGXXLSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CBSZUTAIBRNNFVSYKRQOD7AKNF5ZKUXQ7UCTZT4LOP4TAYVIIBLQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E2ZJHFRVUSDQXHZCDFGTJ6Q325AN5XZJYVVDPO6F2KVZFIOZ5S2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G6WZ7TIWUWY2T5DQ2M4U7YRW5HHUWKLQ32WYKEXFNDS4WIVKQMOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZR364ZRSNASJVSLDDQVYL5OASJO4I2IGUHGJZMMG45WC6A5YJYBA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T4W73SJBFIQOQJQGHL4XYTZK4ZVJZW25F4KA3TULKS6AGZQPAWUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HPGGWHZDPLX3UQFR2RZDJ3G376NWFL4MHKVDOO75BMY6YWWAVJ4Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUAQKLE4UPQ3VBBMOSX43I6H6DGJLCMTKP4FVDUYXBOP6XE66Q2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SXYNF64Q4GPB2IPIT5TMCN6RKINMOJ3I4BF7YHE3APJGGQTFAM5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HLNYE6BUS4CHVUDFD5HG2ZBRO6QLPRBX2QTK7KS4ZJQ27G3V4Q7Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GKJBH7DYGHD7J3QNR3V4QLDBOYYYOD5FU6LXNTJZV4JROLRC6K6Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MJIETOLLSUUVA6WOA5BFHPM3V7V6X6ODNN5C66ERFTSUNNLMAIAQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KTD4P7HXZTLXMC7RREPL3IWD4P75SOOMM73W4GOVLPA373DVM2GA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DU5EE7HG75HGEQJEZOPGNVX5DJMKUHXG543XKMMSVJVBQZXWVM2A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BDJVJVTOHZLQBIMD4L5INR4BBLN7E2OSTAYBEPJWHTCVIVH4SKEQ/amzn.js"
            ]
        },
        "ListJobRunAttempts": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}/attempts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRunAttempts"
                ],
                "members": {
                    "jobRunAttempts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationId",
                                "id",
                                "arn",
                                "createdBy",
                                "jobCreatedAt",
                                "createdAt",
                                "updatedAt",
                                "executionRole",
                                "state",
                                "stateDetails",
                                "releaseLabel"
                            ],
                            "members": {
                                "applicationId": {},
                                "id": {},
                                "name": {},
                                "mode": {},
                                "arn": {},
                                "createdBy": {},
                                "jobCreatedAt": {
                                    "type": "timestamp"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "executionRole": {},
                                "state": {},
                                "stateDetails": {},
                                "releaseLabel": {},
                                "type": {},
                                "attempt": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "workerCount"
                ],
                "members": {
                    "workerCount": {
                        "type": "long"
                    },
                    "workerConfiguration": {
                        "type": "structure",
                        "required": [
                            "cpu",
                            "memory"
                        ],
                        "members": {
                            "cpu": {},
                            "memory": {},
                            "disk": {}
                        }
                    }
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "cpu",
                "memory"
            ],
            "members": {
                "cpu": {},
                "memory": {},
                "disk": {}
            }
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                }
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                },
                "idleTimeoutMinutes": {
                    "type": "integer"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "subnetIds": {
                    "type": "list",
                    "member": {}
                },
                "securityGroupIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S12": {
            "type": "structure",
            "required": [
                "applicationId",
                "arn",
                "releaseLabel",
                "type",
                "state",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "applicationId": {},
                "name": {},
                "arn": {},
                "releaseLabel": {},
                "type": {},
                "state": {},
                "stateDetails": {},
                "initialCapacity": {
                    "shape": "Sa"
                },
                "maximumCapacity": {
                    "shape": "Si"
                },
                "createdAt": {
                    "type": "timestamp"
                },
                "updatedAt": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Sj"
                },
                "autoStartConfiguration": {
                    "shape": "Sm"
                },
                "autoStopConfiguration": {
                    "shape": "So"
                },
                "networkConfiguration": {
                    "shape": "Sq"
                },
                "architecture": {}
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "applicationConfiguration": {
                    "shape": "S1h"
                },
                "monitoringConfiguration": {
                    "type": "structure",
                    "members": {
                        "s3MonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "logUri": {},
                                "encryptionKeyArn": {}
                            }
                        },
                        "managedPersistenceMonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "encryptionKeyArn": {}
                            }
                        }
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "classification"
                ],
                "members": {
                    "classification": {},
                    "properties": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "configurations": {
                        "shape": "S1h"
                    }
                }
            }
        },
        "S1q": {
            "type": "structure",
            "members": {
                "sparkSubmit": {
                    "type": "structure",
                    "required": [
                        "entryPoint"
                    ],
                    "members": {
                        "entryPoint": {
                            "type": "string",
                            "sensitive": true
                        },
                        "entryPointArguments": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "sparkSubmitParameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "hive": {
                    "type": "structure",
                    "required": [
                        "query"
                    ],
                    "members": {
                        "query": {
                            "type": "string",
                            "sensitive": true
                        },
                        "initQueryFile": {
                            "type": "string",
                            "sensitive": true
                        },
                        "parameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            },
            "union": true
        },
        "Sw": {
            "type": "structure",
            "members": {
                "imageUri": {}
            }
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "imageConfiguration": {
                        "shape": "Sw"
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "applicationId",
                "arn",
                "releaseLabel",
                "type",
                "state",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "applicationId": {},
                "name": {},
                "arn": {},
                "releaseLabel": {},
                "type": {},
                "state": {},
                "stateDetails": {},
                "initialCapacity": {
                    "shape": "Sa"
                },
                "maximumCapacity": {
                    "shape": "Si"
                },
                "createdAt": {
                    "type": "timestamp"
                },
                "updatedAt": {
                    "type": "timestamp"
                },
                "tags": {
[...]
