{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2021-07-13",
        "endpointPrefix": "emr-serverless",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "EMR Serverless",
        "serviceId": "EMR Serverless",
        "signatureVersion": "v4",
        "signingName": "emr-serverless",
        "uid": "emr-serverless-2021-07-13",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5JZIP6U77F5U6CURWNUKR6AHXWSW5WVGP5T2WLYP7WUPUDOQBJUA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
        ]
    },
    "operations": {
        "CancelJobRun": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {},
                    "jobRunId": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "CreateApplication": {
            "http": {
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "releaseLabel",
                    "type",
                    "clientToken"
                ],
                "members": {
                    "name": {},
                    "releaseLabel": {},
                    "type": {},
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "initialCapacity": {
                        "shape": "Sa"
                    },
                    "maximumCapacity": {
                        "shape": "Si"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "autoStartConfiguration": {
                        "shape": "Sm"
                    },
                    "autoStopConfiguration": {
                        "shape": "So"
                    },
                    "networkConfiguration": {
                        "shape": "Sq"
                    },
                    "architecture": {},
                    "imageConfiguration": {
                        "shape": "Sw"
                    },
                    "workerTypeSpecifications": {
                        "shape": "Sy"
                    },
                    "autoStartConfig": {
                        "shape": "Sm"
                    },
                    "autoStopConfig": {
                        "shape": "So"
                    },
                    "runtimeConfiguration": {
                        "shape": "S11",
                        "internalonly": true
                    },
                    "monitoringConfiguration": {
                        "shape": "S15",
                        "internalonly": true
                    },
                    "interactiveEndpointEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "interactiveConfiguration": {
                        "shape": "S1g",
                        "internalonly": true
                    },
                    "securityConfiguration": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "arn"
                ],
                "members": {
                    "applicationId": {},
                    "name": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "DeleteApplication": {
            "http": {
                "method": "DELETE",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "GetApplication": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "application"
                ],
                "members": {
                    "application": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "GetDashboardForJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}/dashboard",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "dashboardType": {
                        "location": "querystring",
                        "locationName": "type",
                        "type": "string",
                        "internalonly": true
                    },
                    "action": {
                        "location": "querystring",
                        "locationName": "action",
                        "type": "string",
                        "internalonly": true
                    },
                    "urlType": {
                        "internalonly": true,
                        "location": "querystring",
                        "locationName": "urlType",
                        "type": "string"
                    },
                    "attempt": {
                        "location": "querystring",
                        "locationName": "attempt",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "url": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "GetJobRun": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "attempt": {
                        "location": "querystring",
                        "locationName": "attempt",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRun"
                ],
                "members": {
                    "jobRun": {
                        "type": "structure",
                        "required": [
                            "applicationId",
                            "jobRunId",
                            "arn",
                            "createdBy",
                            "createdAt",
                            "updatedAt",
                            "executionRole",
                            "state",
                            "stateDetails",
                            "releaseLabel",
                            "jobDriver"
                        ],
                        "members": {
                            "applicationId": {},
                            "jobRunId": {},
                            "name": {},
                            "arn": {},
                            "createdBy": {},
                            "createdAt": {
                                "type": "timestamp"
                            },
                            "updatedAt": {
                                "type": "timestamp"
                            },
                            "executionRole": {},
                            "state": {},
                            "stateDetails": {},
                            "releaseLabel": {},
                            "configurationOverrides": {
                                "shape": "S1g"
                            },
                            "jobDriver": {
                                "shape": "S1q"
                            },
                            "tags": {
                                "shape": "Sj"
                            },
                            "totalResourceUtilization": {
                                "type": "structure",
                                "members": {
                                    "vCPUHour": {
                                        "type": "double"
                                    },
                                    "memoryGBHour": {
                                        "type": "double"
                                    },
                                    "storageGBHour": {
                                        "type": "double"
                                    }
                                }
                            },
                            "networkConfiguration": {
                                "shape": "Sq"
                            },
                            "totalExecutionDurationSeconds": {
                                "type": "integer"
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "ListApplications": {
            "http": {
                "method": "GET",
                "requestUri": "/applications",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applications"
                ],
                "members": {
                    "applications": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "id",
                                "arn",
                                "releaseLabel",
                                "type",
                                "state",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "id": {},
                                "name": {},
                                "arn": {},
                                "releaseLabel": {},
                                "type": {},
                                "state": {},
                                "stateDetails": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "architecture": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "ListJobRuns": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "createdAtAfter": {
                        "location": "querystring",
                        "locationName": "createdAtAfter",
                        "type": "timestamp"
                    },
                    "createdAtBefore": {
                        "location": "querystring",
                        "locationName": "createdAtBefore",
                        "type": "timestamp"
                    },
                    "states": {
                        "location": "querystring",
                        "locationName": "states",
                        "type": "list",
                        "member": {}
                    },
                    "mode": {
                        "location": "querystring",
                        "locationName": "mode"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRuns"
                ],
                "members": {
                    "jobRuns": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationId",
                                "id",
                                "arn",
                                "createdBy",
                                "createdAt",
                                "updatedAt",
                                "executionRole",
                                "state",
                                "stateDetails",
                                "releaseLabel"
                            ],
                            "members": {
                                "applicationId": {},
                                "id": {},
                                "name": {},
                                "arn": {},
                                "createdBy": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "executionRole": {},
                                "state": {},
                                "stateDetails": {},
                                "releaseLabel": {},
                                "type": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "StartApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/start",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "startInteractiveEndpoint": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "StartJobRun": {
            "http": {
                "requestUri": "/applications/{applicationId}/jobruns",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "clientToken",
                    "executionRoleArn"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "executionRoleArn": {},
                    "jobDriver": {
                        "shape": "S1q"
                    },
                    "configurationOverrides": {
                        "shape": "S1g"
                    },
                    "tags": {
                        "shape": "Sj"
                    },
                    "executionTimeoutMinutes": {
                        "type": "long"
                    },
                    "name": {},
                    "runTimeout": {},
                    "mode": {},
                    "retryPolicy": {
                        "shape": "S2r"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId",
                    "arn"
                ],
                "members": {
                    "applicationId": {},
                    "jobRunId": {},
                    "arn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "StopApplication": {
            "http": {
                "requestUri": "/applications/{applicationId}/stop",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "Sj"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "UpdateApplication": {
            "http": {
                "method": "PATCH",
                "requestUri": "/applications/{applicationId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "clientToken"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "initialCapacity": {
                        "shape": "Sa"
                    },
                    "maximumCapacity": {
                        "shape": "Si"
                    },
                    "autoStartConfiguration": {
                        "shape": "Sm"
                    },
                    "autoStopConfiguration": {
                        "shape": "So"
                    },
                    "networkConfiguration": {
                        "shape": "Sq"
                    },
                    "architecture": {},
                    "imageConfiguration": {
                        "shape": "Sw"
                    },
                    "workerTypeSpecifications": {
                        "shape": "Sy"
                    },
                    "autoStartConfig": {
                        "shape": "Sm"
                    },
                    "autoStopConfig": {
                        "shape": "So"
                    },
                    "releaseLabel": {},
                    "runtimeConfiguration": {
                        "shape": "S11",
                        "internalonly": true
                    },
                    "monitoringConfiguration": {
                        "shape": "S15",
                        "internalonly": true
                    },
                    "interactiveEndpointEnabled": {
                        "internalonly": true,
                        "type": "boolean"
                    },
                    "interactiveConfiguration": {
                        "shape": "S1g",
                        "internalonly": true
                    },
                    "securityConfiguration": {
                        "shape": "S1h",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "application"
                ],
                "members": {
                    "application": {
                        "shape": "S12"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "CreateInteractiveEndpointXENI": {
            "http": {
                "requestUri": "/applications/{applicationId}/createInteractiveEndpointXENI",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "accountId",
                    "applicationId",
                    "studioInstanceId"
                ],
                "members": {
                    "accountId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "studioInstanceId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "availabilityZoneId": {
                        "shape": "S1q"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "xENIId",
                    "xENIMACAddress",
                    "vpcCIDR",
                    "availabilityZoneId"
                ],
                "members": {
                    "xENIId": {
                        "type": "string",
                        "internalonly": true
                    },
                    "xENIMACAddress": {
                        "type": "string",
                        "internalonly": true
                    },
                    "vpcCIDR": {
                        "type": "string",
                        "internalonly": true
                    },
                    "availabilityZoneId": {
                        "shape": "S1q"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5ZC5UQSRP6GCL3CCS4VWJJWPK72I4EECZNVIKKJWTGSVFNO5OSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNQUZ3CDUL3LHGBIRUWS2SHPPXNUBNS43ICR5B22FLPYKA572KOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYDKDOTSWKXZJKGZKCF7EK7BGGWFDGFSDGGAD5NR62RPCBUD3E3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZIP6U77F5U6CURWNUKR6AHXWSW5WVGP5T2WLYP7WUPUDOQBJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "LockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/lock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn",
                    "Timeout"
                ],
                "members": {
                    "RoleArn": {},
                    "Timeout": {
                        "type": "long"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "CanBeDeleted"
                ],
                "members": {
                    "CanBeDeleted": {
                        "type": "boolean"
                    },
                    "ReasonOfFailure": {},
                    "RelatedResources": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5ZC5UQSRP6GCL3CCS4VWJJWPK72I4EECZNVIKKJWTGSVFNO5OSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNQUZ3CDUL3LHGBIRUWS2SHPPXNUBNS43ICR5B22FLPYKA572KOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYDKDOTSWKXZJKGZKCF7EK7BGGWFDGFSDGGAD5NR62RPCBUD3E3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZIP6U77F5U6CURWNUKR6AHXWSW5WVGP5T2WLYP7WUPUDOQBJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "UnlockServiceLinkedRole": {
            "http": {
                "requestUri": "/slr-deletion/unlock",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "RoleArn"
                ],
                "members": {
                    "RoleArn": {},
                    "DeletionStatus": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5ZC5UQSRP6GCL3CCS4VWJJWPK72I4EECZNVIKKJWTGSVFNO5OSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNQUZ3CDUL3LHGBIRUWS2SHPPXNUBNS43ICR5B22FLPYKA572KOQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FYDKDOTSWKXZJKGZKCF7EK7BGGWFDGFSDGGAD5NR62RPCBUD3E3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5JZIP6U77F5U6CURWNUKR6AHXWSW5WVGP5T2WLYP7WUPUDOQBJUA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OYUNFD66QHPBSM3POOIBHYEVF5JQOXDHESJL4JXT2WB6LU5T2X3A/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BT24G63G5FRQSZ6QJL2PTUS36ETL3ZMWZHPOMJRPKZ73O72UNVBQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UKTF7D34XNFBLUMPJIXXTOPKEJB3QG5Q32SYG5UKHDBWXGAZSIOA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4PLIZCEB4DFUFYG56HU7Q36NXKZMVA3UM6KE4ACSDFZ3XJZZMASQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XMWESOGW5PNDHJMRBTPNJ5ILTX2AKVG52NES4AKPKAYXQZUW27XQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E6KT3WX3ENV73NFJ7KUXJYNXYUT6WVW7VL2AS3PCNKJYOCSLYIDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVCMPAPWV6SOPSZVKGVED7QZO54GR3DHCW5GWVRDP7WV5VZBL7MA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV6VOABYQG5WROZLDF3ZYLWH77GX7C4ZW3LPCMXIMGSJDTIRXSA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVU7R6NRCI6A6NEAXY45L4ZNVS6RNE46FKFPMVI5MCORWXTWFSCA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/URLHQR7FFTYYVVPSOFM3KPQK2U4UJYMA626SDKHH4D6MQCCJCHDQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PBEYKJMFHCHOVWVGKW5EFWJAGCUCNZU3YWVFSPEXRQX4TWYI7DHA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CYDP4YIGUJW6ZBWMIKH4OLXWO2KR4FLRJVRRDIEOL6J5HNRCI7TA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FCMJS642IXOIZ3GIOLYPHCQDZH2EM5I3NGOWXQFIDGZEZCHBMMKA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QC5UUFPA3GK322T3IFIFN6TDL5YYJDJV5MIATTLMKGPK6KA2BZA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EJLWJLK2SZA3OHF3NL7V53KLJZOAHUNVEVOSXIGOFETWAWPNHO5Q/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OHJQGCUPCW6J4VPQMTOM62DJKD3TOLE6BUIBBQG2N4SDQUQXLGIA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VRWF2P5D6575UBTTBRKBYIHRFUZZJFHYDZMUDDINN3XR3GMHJPGA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K536JGZU4WU6NAPD457K2RJ3OGM7XL7LMMQLVCHH2LSDJISTZACQ/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNKM3CTWP546LAHWTHFJ7ZWM3E3HDCQTMHEFO6OQRX72OX7JVPLA/amzn.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q6NYSYCHIVPMGAYVLLB76DRZRWNZJOQDWAIGZOWG2HACVTNEOP2A/amzn.js"
            ]
        },
        "ListJobRunAttempts": {
            "http": {
                "method": "GET",
                "requestUri": "/applications/{applicationId}/jobruns/{jobRunId}/attempts",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "applicationId",
                    "jobRunId"
                ],
                "members": {
                    "applicationId": {
                        "location": "uri",
                        "locationName": "applicationId"
                    },
                    "jobRunId": {
                        "location": "uri",
                        "locationName": "jobRunId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobRunAttempts"
                ],
                "members": {
                    "jobRunAttempts": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "applicationId",
                                "id",
                                "arn",
                                "createdBy",
                                "jobCreatedAt",
                                "createdAt",
                                "updatedAt",
                                "executionRole",
                                "state",
                                "stateDetails",
                                "releaseLabel"
                            ],
                            "members": {
                                "applicationId": {},
                                "id": {},
                                "name": {},
                                "mode": {},
                                "arn": {},
                                "createdBy": {},
                                "jobCreatedAt": {
                                    "type": "timestamp"
                                },
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                },
                                "executionRole": {},
                                "state": {},
                                "stateDetails": {},
                                "releaseLabel": {},
                                "type": {},
                                "attempt": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/3BRGZ27Q7EPGVNTS66DDAETR37WQSGVDOFMYSLHMG5P423MUK3KQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6QOGNHFZOTO4VZTD3MAPJHEJCLPHGFJWEVOQGCILZE4BQQH6BPRA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NZVLPSTBXA2EVGNWFPA7TJV5R7CHXBFVE2QOYVKNMIJ7QMT7DOJQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHQF3J6OISAZUO7HEKTQROOOGUAXHM6DM7MRLUW3CLR4KX2NPTHA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2OCTJV6D22SI2Y65BP7YF7QWIVOPVTYSQEILPCHRWCACYEYLAAFA/vendors.sdk.js"
            ]
        }
    },
    "shapes": {
        "Sa": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "required": [
                    "workerCount"
                ],
                "members": {
                    "workerCount": {
                        "type": "long"
                    },
                    "workerConfiguration": {
                        "type": "structure",
                        "required": [
                            "cpu",
                            "memory"
                        ],
                        "members": {
                            "cpu": {},
                            "memory": {},
                            "disk": {}
                        }
                    }
                }
            }
        },
        "Si": {
            "type": "structure",
            "required": [
                "cpu",
                "memory"
            ],
            "members": {
                "cpu": {},
                "memory": {},
                "disk": {}
            }
        },
        "Sj": {
            "type": "map",
            "key": {},
            "value": {}
        },
        "Sm": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                }
            }
        },
        "So": {
            "type": "structure",
            "members": {
                "enabled": {
                    "type": "boolean"
                },
                "idleTimeoutMinutes": {
                    "type": "integer"
                }
            }
        },
        "Sq": {
            "type": "structure",
            "members": {
                "subnetIds": {
                    "type": "list",
                    "member": {}
                },
                "securityGroupIds": {
                    "type": "list",
                    "member": {}
                }
            }
        },
        "S12": {
            "type": "structure",
            "required": [
                "applicationId",
                "arn",
                "releaseLabel",
                "type",
                "state",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "applicationId": {},
                "name": {},
                "arn": {},
                "releaseLabel": {},
                "type": {},
                "state": {},
                "stateDetails": {},
                "initialCapacity": {
                    "shape": "Sa"
                },
                "maximumCapacity": {
                    "shape": "Si"
                },
                "createdAt": {
                    "type": "timestamp"
                },
                "updatedAt": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Sj"
                },
                "autoStartConfiguration": {
                    "shape": "Sm"
                },
                "autoStopConfiguration": {
                    "shape": "So"
                },
                "networkConfiguration": {
                    "shape": "Sq"
                },
                "architecture": {}
            }
        },
        "S1g": {
            "type": "structure",
            "members": {
                "applicationConfiguration": {
                    "shape": "S1h"
                },
                "monitoringConfiguration": {
                    "type": "structure",
                    "members": {
                        "s3MonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "logUri": {},
                                "encryptionKeyArn": {}
                            }
                        },
                        "managedPersistenceMonitoringConfiguration": {
                            "type": "structure",
                            "members": {
                                "enabled": {
                                    "type": "boolean"
                                },
                                "encryptionKeyArn": {}
                            }
                        }
                    }
                }
            }
        },
        "S1h": {
            "type": "list",
            "member": {
                "type": "structure",
                "required": [
                    "classification"
                ],
                "members": {
                    "classification": {},
                    "properties": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "configurations": {
                        "shape": "S1h"
                    }
                }
            }
        },
        "S1q": {
            "type": "structure",
            "members": {
                "sparkSubmit": {
                    "type": "structure",
                    "required": [
                        "entryPoint"
                    ],
                    "members": {
                        "entryPoint": {
                            "type": "string",
                            "sensitive": true
                        },
                        "entryPointArguments": {
                            "type": "list",
                            "member": {
                                "type": "string",
                                "sensitive": true
                            }
                        },
                        "sparkSubmitParameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                },
                "hive": {
                    "type": "structure",
                    "required": [
                        "query"
                    ],
                    "members": {
                        "query": {
                            "type": "string",
                            "sensitive": true
                        },
                        "initQueryFile": {
                            "type": "string",
                            "sensitive": true
                        },
                        "parameters": {
                            "type": "string",
                            "sensitive": true
                        }
                    }
                }
            },
            "union": true
        },
        "Sw": {
            "type": "structure",
            "members": {
                "imageUri": {}
            }
        },
        "Sy": {
            "type": "map",
            "key": {},
            "value": {
                "type": "structure",
                "members": {
                    "imageConfiguration": {
                        "shape": "Sw"
                    }
                }
            }
        },
        "S16": {
            "type": "structure",
            "required": [
                "applicationId",
                "arn",
                "releaseLabel",
                "type",
                "state",
                "createdAt",
                "updatedAt"
            ],
            "members": {
                "applicationId": {},
                "name": {},
                "arn": {},
                "releaseLabel": {},
                "type": {},
                "state": {},
                "stateDetails": {},
                "initialCapacity": {
                    "shape": "Sa"
                },
                "maximumCapacity": {
                    "shape": "Si"
                },
                "createdAt": {
                    "type": "timestamp"
                },
                "updatedAt": {
                    "type": "timestamp"
                },
                "tags": {
                    "shape": "Sj"
                },
                "autoStartConfiguration": {
                    "shape": "Sm"
                },
                "autoStopConfiguration": {
                    "shape": "So"
                },
                "networkConfiguration": {
                    "shape": "Sq"
                },
                "architecture": {},
                "imageConfiguration": {
                    "shape": "S1a"
                },
                "workerTypeSpecifications": {
                    "type": "map",
                    "key": {},
                    "value": {
                        "type": "structure",
                        "members": {
[...]
