{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "entityresolution",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSEntityResolution",
        "serviceFullName": "AWS EntityResolution",
        "serviceId": "EntityResolution",
        "signatureVersion": "v4",
        "signingName": "entityresolution",
        "uid": "entityresolution-2018-05-10",
        "download_location": [
            "https://c.d.cdn.console.awsstatic.com/a/v1/DS5VCII4UEBTGTYACBKTKKXHVMNBJWEJHI6BKHWTH76S6K36OY4Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
        ]
    },
    "operations": {
        "CreateMatchingWorkflow": {
            "http": {
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    },
                    "dataPreparationConfig": {
                        "shape": "S29",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "CreateSchemaMapping": {
            "http": {
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "description",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "DeleteMatchingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "DeleteSchemaMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "GetMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/matches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "record"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "record": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "applyNormalization": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "matchId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "GetMatchingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "matchIDs": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "type": "structure",
                        "members": {
                            "errorMessage": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "GetMatchingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "GetPartnerComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/partnercomponents/{partnerName}/{partnerComponentName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnerName",
                    "partnerComponentName"
                ],
                "members": {
                    "partnerName": {
                        "location": "uri",
                        "locationName": "partnerName"
                    },
                    "partnerComponentName": {
                        "location": "uri",
                        "locationName": "partnerComponentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerName",
                    "partnerComponentName",
                    "partnerComponentArn",
                    "partnerEndpointConfiguration",
                    "preserveInputData"
                ],
                "members": {
                    "partnerName": {},
                    "partnerComponentName": {},
                    "partnerComponentArn": {},
                    "partnerAdditionalPropertiesSchema": {
                        "shape": "Sp"
                    },
                    "partnerEndpointConfiguration": {
                        "type": "structure",
                        "members": {
                            "dataExchangeConfiguration": {
                                "type": "structure",
                                "required": [
                                    "dataSetId",
                                    "revisionId",
                                    "assetId",
                                    "marketplaceProductId"
                                ],
                                "members": {
                                    "dataSetId": {},
                                    "revisionId": {},
                                    "assetId": {},
                                    "marketplaceProductId": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "preserveInputData": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JY54GU7OOLJ5NMQT66L22UU46TSDLYD52VQHRXYDDSL76XTABPCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CU37TBLEQ5IEEFDJQDVAWMVVBGIUXKYLQ4JERZ5OCOHWB6TE6LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAUK7SK5ZFD4ZSWBDPPB4DL6DNMFJGCSKNHI5IIDWI4NIZIRUDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ2LQRBM2HBY7W42O5MZESFYWM65WTO2TBHALIDVDGMCD4MFSYDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT2GFSLS3OIQVM7WBCS2LBLBUOSRB2M6DL5KNHZBWREKCWJK5NUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27QM7D3635QFJ6C2IEYFMPNT5CSP6ZJ7AIIPAJY46PBFKGZJL3BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7HEACT466SA4GJXB5XIEY7NW6DFQG4URBGKTHOFGTG33FXKHL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWXKJCT4ECECO7HIPGVV6I4CR2EW4QMD5MVKBNOEGWMXWZLDIC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GEXWED7QG33MSXKLR5UH4EI5GLEPJERAC6PL7H65YZ75JHEERRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C56QOP65JSAOKRP6FDHNC6POX5DJYFB5PYWG55UCPLSKBYXUGGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX3IGFA5W7F4DHVBU45EEFGKYP6OPELHFISJAOO3LPLVWAKINOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6UQ2P5NVONPNEKPRJBDWXJBXDUVYIMOGAGMDXZRGZ6LPTVOLNNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KETXYN7SPJFWDWUZMDP7LS5UP4TYWIS3YEJ2ODD65HGOEDFJ2HAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KVGOJQCSG276LPZ74JBBNSQGXWCAY7RYEU7EEZLLBSNKZ3CAD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZWVDCOGEH5QZDEISXDVI372FRJNXCISKDFV64H5C6NGN246ZVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PMHSVFMT7OSEJTSTQMDTZDF6K6FI4GS3ILLT67ZOCYHTQYULLKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTJB3VZN4X3C4A3YPLGD2UGNFU6S2WK6Z4JC5PPYZHPZFCMJ4QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K6U6P36RGASVBSJL5FOYX4ZMB4AIMEBFEMCHVQA4HUQHHJZE2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6YEX4B7JZRWC2DEJ2K6GA46Q4NQ6UC3RJGXP6J3II2CP6SZ4UTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZUVZQFS5OS4LQNNONM7PSU63FUSLIPHSEUD7DZY7R6L6MRMAQSQ/main.js"
            ]
        },
        "GetSchemaMapping": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields",
                    "createdAt",
                    "updatedAt",
                    "hasWorkflows"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "hasWorkflows": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "ListMatchingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "status",
                                "startTime"
                            ],
                            "members": {
                                "jobId": {},
                                "status": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "ListMatchingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "ListPartnerComponents": {
            "http": {
                "method": "GET",
                "requestUri": "/partnercomponents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "origin": {
                        "location": "querystring",
                        "locationName": "origin"
                    },
                    "partnerName": {
                        "location": "querystring",
                        "locationName": "partnerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "partnerComponentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partnerComponentArn",
                                "partnerName",
                                "partnerComponentName"
                            ],
                            "members": {
                                "partnerComponentArn": {},
                                "partnerName": {},
                                "partnerComponentName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JY54GU7OOLJ5NMQT66L22UU46TSDLYD52VQHRXYDDSL76XTABPCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CU37TBLEQ5IEEFDJQDVAWMVVBGIUXKYLQ4JERZ5OCOHWB6TE6LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAUK7SK5ZFD4ZSWBDPPB4DL6DNMFJGCSKNHI5IIDWI4NIZIRUDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ2LQRBM2HBY7W42O5MZESFYWM65WTO2TBHALIDVDGMCD4MFSYDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT2GFSLS3OIQVM7WBCS2LBLBUOSRB2M6DL5KNHZBWREKCWJK5NUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27QM7D3635QFJ6C2IEYFMPNT5CSP6ZJ7AIIPAJY46PBFKGZJL3BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7HEACT466SA4GJXB5XIEY7NW6DFQG4URBGKTHOFGTG33FXKHL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWXKJCT4ECECO7HIPGVV6I4CR2EW4QMD5MVKBNOEGWMXWZLDIC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GEXWED7QG33MSXKLR5UH4EI5GLEPJERAC6PL7H65YZ75JHEERRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C56QOP65JSAOKRP6FDHNC6POX5DJYFB5PYWG55UCPLSKBYXUGGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX3IGFA5W7F4DHVBU45EEFGKYP6OPELHFISJAOO3LPLVWAKINOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6UQ2P5NVONPNEKPRJBDWXJBXDUVYIMOGAGMDXZRGZ6LPTVOLNNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KETXYN7SPJFWDWUZMDP7LS5UP4TYWIS3YEJ2ODD65HGOEDFJ2HAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KVGOJQCSG276LPZ74JBBNSQGXWCAY7RYEU7EEZLLBSNKZ3CAD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZWVDCOGEH5QZDEISXDVI372FRJNXCISKDFV64H5C6NGN246ZVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PMHSVFMT7OSEJTSTQMDTZDF6K6FI4GS3ILLT67ZOCYHTQYULLKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTJB3VZN4X3C4A3YPLGD2UGNFU6S2WK6Z4JC5PPYZHPZFCMJ4QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K6U6P36RGASVBSJL5FOYX4ZMB4AIMEBFEMCHVQA4HUQHHJZE2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6YEX4B7JZRWC2DEJ2K6GA46Q4NQ6UC3RJGXP6J3II2CP6SZ4UTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZUVZQFS5OS4LQNNONM7PSU63FUSLIPHSEUD7DZY7R6L6MRMAQSQ/main.js"
            ]
        },
        "ListSchemaMappings": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "schemaName",
                                "schemaArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "schemaName": {},
                                "schemaArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "StartMatchingJob": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "UpdateMatchingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "dataPreparationConfig": {
                        "shape": "S29",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "UpdateSchemaMapping": {
            "http": {
                "method": "PUT",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ECNXTNDXZ4RHIB32V3KHTYQXCZGJ4NNSHUNWFLTYEKAJLPFLHCQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZNILZ7MMQWWNWXSGXY2GPVLTIWJJWKYBDVE45MRYWNWSG4FPZDBA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/O3GASDI22KLCXKBKUHYFFBSGISQSEZINHUHDMJNGQEP32D4N5UMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CFJUPYH6P2QCYXRSWGMXVF5XYKGRVYBWKJ5KM2SEYB6AUFXFUSHA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/V3LCHVQ4BOR2R5NKYWQQAJZPRQ7B4GLB2Y3FENPZYLCMD6MYPSPQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SOXK7FFKT3RIB74SEL4ZFGE4BEEWNRKA5PJX7GQBA7SU7DUKXQ2Q/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/NLMCOVYXDFE64Y7LY4TI5NOOZYVEIGRH2VRDDLYYE6HFRNY7HOWQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/MGSAOXZR5ZGWUUKVCLZ536JNFJ2VD2CMJNQABBPQMJBRHJONML4A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSVNQQUGL7W3LD5ICSEXJHJPFGXWUF3WX6LLLYYIDGARFE6V5HBQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/FMR24BB3R2HWXXZ6JWFAWIXLUCCUBTMJPGWKFDS2Z66R2ZJNIUCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JM7IMNOVSO72SOXF7J5MRIDM2FRNSWZXLETA2M4XRWMULE74FJLQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/3HFNACRANPK4UB2FNKU6YOYJLLNPC5OVSHDLE5ZKULBPIAVKB3CQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3PA3IJNK4C4C6TOSDM6RJLJKQKFRBCK4AKE5VOW2HMK7DMNNPVQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/RPFMUKGNZC5TO5EIOX4H3BKD7GSAMYSRKFOKMGBKNZB53MTCQK2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BQNDFSRGAXGIID2FL74KAHPM7NUVEUDKZJ46RSQKD6JTZJWPXWQQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/UQUWL62AKPJHSKXQ6PLIW4KE3IMDB6IAAJKPIFHD5GUGAANMTTIA/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EBBFPNFXVOCOOEKDN3VBMPV4DN4O2TAIIKNE6MOZ5VVLTLDYUAHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C7MCHQSYRUWF5JGA3KPAIV4KKZZP42HEMRNUORNVQJVNWUYQV4QA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/DBQVN5UN4B65JVAWRSL5Y3E3DCKOAXL7CJXPF35GT4BT5W22KYOQ/main.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/U3RSC4FGHTOCK7YNGEYI4BL7RJ7O536QVX36I3V3HYLHXS2MU2JA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R3DNVI7YMVE6FU7RRXNNIH7VTRXD2DY5JQFKMUJ2PB4FD3NO4ZZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J3A5FO7URGGTOH2U5FLT33EA665G6QRKK75WHCIVBSNBRXZHA4EQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/OQHMETQK27NNRFKIRL3JEYS5XO24Q5QTG2QSYXBJRBKZSYAJ2THA/main.js"
            ]
        },
        "CreateTranslationWorkflow": {
            "http": {
                "requestUri": "/translationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "translationTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S15"
                    },
                    "outputSourceConfig": {
                        "shape": "S18"
                    },
                    "translationTechniques": {
                        "shape": "Sf"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S15"
                    },
                    "outputSourceConfig": {
                        "shape": "S18"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "roleArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "DeleteTranslationWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/translationworkflows/{workflowId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "GetTranslationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows/{workflowId}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "jobId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        },
                        "internalonly": true
                    },
                    "errorDetails": {
                        "shape": "S1w"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "GetTranslationWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows/{workflowId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S15"
                    },
                    "outputSourceConfig": {
                        "shape": "S18"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "ListTranslationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows/{workflowId}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "S2g"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "ListTranslationWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
[...]
