{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2018-05-10",
        "endpointPrefix": "entityresolution",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceAbbreviation": "AWSEntityResolution",
        "serviceFullName": "AWS EntityResolution",
        "serviceId": "EntityResolution",
        "signatureVersion": "v4",
        "signingName": "entityresolution",
        "uid": "entityresolution-2018-05-10",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMRQBVOBUUB4AYWZCWWSODPOWK7QVBPUSPUWVSUELF2KPD4C7H7A/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js"
        ]
    },
    "operations": {
        "CreateMatchingWorkflow": {
            "http": {
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateSchemaMapping": {
            "http": {
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    },
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "description",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteMatchingWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "DeleteSchemaMapping": {
            "http": {
                "method": "DELETE",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetMatchId": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/matches",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "record"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "record": {
                        "type": "map",
                        "key": {},
                        "value": {},
                        "sensitive": true
                    },
                    "applyNormalization": {
                        "internalonly": true,
                        "type": "boolean"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "matchId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetMatchingJob": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "jobId"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "matchIDs": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        }
                    },
                    "errorDetails": {
                        "type": "structure",
                        "members": {
                            "errorMessage": {}
                        }
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetMatchingWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "GetPartnerComponent": {
            "http": {
                "method": "GET",
                "requestUri": "/partnercomponents/{partnerName}/{partnerComponentName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "partnerName",
                    "partnerComponentName"
                ],
                "members": {
                    "partnerName": {
                        "location": "uri",
                        "locationName": "partnerName"
                    },
                    "partnerComponentName": {
                        "location": "uri",
                        "locationName": "partnerComponentName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "partnerName",
                    "partnerComponentName",
                    "partnerComponentArn",
                    "partnerEndpointConfiguration",
                    "preserveInputData"
                ],
                "members": {
                    "partnerName": {},
                    "partnerComponentName": {},
                    "partnerComponentArn": {},
                    "partnerAdditionalPropertiesSchema": {
                        "shape": "Sp"
                    },
                    "partnerEndpointConfiguration": {
                        "type": "structure",
                        "members": {
                            "dataExchangeConfiguration": {
                                "type": "structure",
                                "required": [
                                    "dataSetId",
                                    "revisionId",
                                    "assetId",
                                    "marketplaceProductId"
                                ],
                                "members": {
                                    "dataSetId": {},
                                    "revisionId": {},
                                    "assetId": {},
                                    "marketplaceProductId": {}
                                }
                            }
                        },
                        "union": true
                    },
                    "preserveInputData": {
                        "type": "boolean"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JY54GU7OOLJ5NMQT66L22UU46TSDLYD52VQHRXYDDSL76XTABPCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CU37TBLEQ5IEEFDJQDVAWMVVBGIUXKYLQ4JERZ5OCOHWB6TE6LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAUK7SK5ZFD4ZSWBDPPB4DL6DNMFJGCSKNHI5IIDWI4NIZIRUDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ2LQRBM2HBY7W42O5MZESFYWM65WTO2TBHALIDVDGMCD4MFSYDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT2GFSLS3OIQVM7WBCS2LBLBUOSRB2M6DL5KNHZBWREKCWJK5NUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27QM7D3635QFJ6C2IEYFMPNT5CSP6ZJ7AIIPAJY46PBFKGZJL3BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7HEACT466SA4GJXB5XIEY7NW6DFQG4URBGKTHOFGTG33FXKHL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWXKJCT4ECECO7HIPGVV6I4CR2EW4QMD5MVKBNOEGWMXWZLDIC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GEXWED7QG33MSXKLR5UH4EI5GLEPJERAC6PL7H65YZ75JHEERRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C56QOP65JSAOKRP6FDHNC6POX5DJYFB5PYWG55UCPLSKBYXUGGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX3IGFA5W7F4DHVBU45EEFGKYP6OPELHFISJAOO3LPLVWAKINOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6UQ2P5NVONPNEKPRJBDWXJBXDUVYIMOGAGMDXZRGZ6LPTVOLNNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KETXYN7SPJFWDWUZMDP7LS5UP4TYWIS3YEJ2ODD65HGOEDFJ2HAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KVGOJQCSG276LPZ74JBBNSQGXWCAY7RYEU7EEZLLBSNKZ3CAD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZWVDCOGEH5QZDEISXDVI372FRJNXCISKDFV64H5C6NGN246ZVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PMHSVFMT7OSEJTSTQMDTZDF6K6FI4GS3ILLT67ZOCYHTQYULLKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTJB3VZN4X3C4A3YPLGD2UGNFU6S2WK6Z4JC5PPYZHPZFCMJ4QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K6U6P36RGASVBSJL5FOYX4ZMB4AIMEBFEMCHVQA4HUQHHJZE2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6YEX4B7JZRWC2DEJ2K6GA46Q4NQ6UC3RJGXP6J3II2CP6SZ4UTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZUVZQFS5OS4LQNNONM7PSU63FUSLIPHSEUD7DZY7R6L6MRMAQSQ/main.js"
            ]
        },
        "GetSchemaMapping": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields",
                    "createdAt",
                    "updatedAt",
                    "hasWorkflows"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "hasWorkflows": {
                        "type": "boolean"
                    },
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListMatchingJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "jobId",
                                "status",
                                "startTime"
                            ],
                            "members": {
                                "jobId": {},
                                "status": {},
                                "startTime": {
                                    "type": "timestamp"
                                },
                                "endTime": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListMatchingWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/matchingworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflowSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "workflowName",
                                "workflowArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "workflowName": {},
                                "workflowArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListPartnerComponents": {
            "http": {
                "method": "GET",
                "requestUri": "/partnercomponents",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    },
                    "origin": {
                        "location": "querystring",
                        "locationName": "origin"
                    },
                    "partnerName": {
                        "location": "querystring",
                        "locationName": "partnerName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "partnerComponentSummaries": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "partnerComponentArn",
                                "partnerName",
                                "partnerComponentName"
                            ],
                            "members": {
                                "partnerComponentArn": {},
                                "partnerName": {},
                                "partnerComponentName": {}
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/JY54GU7OOLJ5NMQT66L22UU46TSDLYD52VQHRXYDDSL76XTABPCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6CU37TBLEQ5IEEFDJQDVAWMVVBGIUXKYLQ4JERZ5OCOHWB6TE6LQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TAUK7SK5ZFD4ZSWBDPPB4DL6DNMFJGCSKNHI5IIDWI4NIZIRUDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZ2LQRBM2HBY7W42O5MZESFYWM65WTO2TBHALIDVDGMCD4MFSYDQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RT2GFSLS3OIQVM7WBCS2LBLBUOSRB2M6DL5KNHZBWREKCWJK5NUA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/27QM7D3635QFJ6C2IEYFMPNT5CSP6ZJ7AIIPAJY46PBFKGZJL3BQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U7HEACT466SA4GJXB5XIEY7NW6DFQG4URBGKTHOFGTG33FXKHL2Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YWXKJCT4ECECO7HIPGVV6I4CR2EW4QMD5MVKBNOEGWMXWZLDIC6Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GEXWED7QG33MSXKLR5UH4EI5GLEPJERAC6PL7H65YZ75JHEERRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/C56QOP65JSAOKRP6FDHNC6POX5DJYFB5PYWG55UCPLSKBYXUGGOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX3IGFA5W7F4DHVBU45EEFGKYP6OPELHFISJAOO3LPLVWAKINOIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6UQ2P5NVONPNEKPRJBDWXJBXDUVYIMOGAGMDXZRGZ6LPTVOLNNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KETXYN7SPJFWDWUZMDP7LS5UP4TYWIS3YEJ2ODD65HGOEDFJ2HAQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KVGOJQCSG276LPZ74JBBNSQGXWCAY7RYEU7EEZLLBSNKZ3CAD7A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PZWVDCOGEH5QZDEISXDVI372FRJNXCISKDFV64H5C6NGN246ZVRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5PMHSVFMT7OSEJTSTQMDTZDF6K6FI4GS3ILLT67ZOCYHTQYULLKA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WTJB3VZN4X3C4A3YPLGD2UGNFU6S2WK6Z4JC5PPYZHPZFCMJ4QBQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6K6U6P36RGASVBSJL5FOYX4ZMB4AIMEBFEMCHVQA4HUQHHJZE2YQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K6YEX4B7JZRWC2DEJ2K6GA46Q4NQ6UC3RJGXP6J3II2CP6SZ4UTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZUVZQFS5OS4LQNNONM7PSU63FUSLIPHSEUD7DZY7R6L6MRMAQSQ/main.js"
            ]
        },
        "ListSchemaMappings": {
            "http": {
                "method": "GET",
                "requestUri": "/schemas",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "schemaList": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "required": [
                                "schemaName",
                                "schemaArn",
                                "createdAt",
                                "updatedAt"
                            ],
                            "members": {
                                "schemaName": {},
                                "schemaArn": {},
                                "createdAt": {
                                    "type": "timestamp"
                                },
                                "updatedAt": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "nextToken": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "ListTagsForResource": {
            "http": {
                "method": "GET",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "tags"
                ],
                "members": {
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "StartMatchingJob": {
            "http": {
                "requestUri": "/matchingworkflows/{workflowName}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId"
                ],
                "members": {
                    "jobId": {}
                }
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "TagResource": {
            "http": {
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tags"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UntagResource": {
            "http": {
                "method": "DELETE",
                "requestUri": "/tags/{resourceArn}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "resourceArn",
                    "tagKeys"
                ],
                "members": {
                    "resourceArn": {
                        "location": "uri",
                        "locationName": "resourceArn"
                    },
                    "tagKeys": {
                        "location": "querystring",
                        "locationName": "tagKeys",
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateMatchingWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/matchingworkflows/{workflowName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {
                        "location": "uri",
                        "locationName": "workflowName"
                    },
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S4"
                    },
                    "outputSourceConfig": {
                        "shape": "S8"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "incrementalRunConfig": {
                        "shape": "Sq"
                    },
                    "roleArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "UpdateSchemaMapping": {
            "http": {
                "method": "PUT",
                "requestUri": "/schemas/{schemaName}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {
                        "location": "uri",
                        "locationName": "schemaName"
                    },
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "schemaName",
                    "schemaArn",
                    "mappedInputFields"
                ],
                "members": {
                    "schemaName": {},
                    "schemaArn": {},
                    "description": {},
                    "mappedInputFields": {
                        "shape": "Sz"
                    }
                }
            },
            "idempotent": true,
            "download_location": [
                "https://c.d.cdn.console.awsstatic.com/a/v1/SKSMNDDQ5XCEAP676F5ZDAC3MHLNR4V2JZ2HJ3OX6YBCL6Z7KQIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OMQDX7EEOJVRRAIE2YJVCAXTIPGHQUNGABJZKU4HGBOLVHHYG2GQ/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/SZYTBGHQGL5ZQVOAN7TB7SVXWWDGPRWM3WP546FGJWKZFXQSUKNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z46NGIVS6QE34QAVOVAU3XUQUFHBQC2K2EZQPQES6C3LA7Q4PIHQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KUILOQUOSL3UEIOFCO3B5YE6KBAAGRTEDOIGQEVI6ITH4IYQCGAA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/T3DLRBHFMS3D7TZ5MZSISTVQV7KORZWJCZ7ILPK6SDPULPMXHIOA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BVBW7WQGF45LNNZBNTXK2QJTTC7D2FEFP2GDXUXNZUSWRJBZHXWA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/P5DGS43DT3ZR5IIL4TLZOSU7CJBCHNVBXNGEDR5UPYUETLHKDCRA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EWZ3RG4C3HWJXFKQ7NOOQAZPDSWYOSKCA3M6PMOPMKHNFBM5J4IQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AKTGKJ7KRGYY5SOW34Z7OCPMDOQ4OYPZZ4RSAMWDSF53GURGMYYA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZEMRBXNBPW52VHK56LSNRYGYD4OZKHBUAJRQPWMGAFZW5QGRBCMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/I5ZYJZU7IZLE3N5HSDO4HO76VCAMLAFV3ORJ75SQORQZXEYLIQXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M66UYB7TB2WWE2T6PPHHMVWPKIY4ARQG2KAJUW66DCZ3W6DNZENA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6PPZN5QYMR6RDDF5PAI6MLHNDSLE3IPZOA235FQW53DUVVJONDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/VUIM465TIOWFKHKJ2EI3XWYMSMT5DNMVMJL6FJXX6S7I2UXHHXTQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DP767K7FKCHHTLZ6ELBVZVWWHYHT6EGLXISICIYHZUMHL6EJ5WNA/vendors.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/EVLVGZFNXEY56T3VP5VHDWWOXG4CPRKHANK3RFHY5ROJ7X7PRDHA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EGF6GI2TKPRUA7LTZWDWRDLQ5UZR3SL37XEIIC4WXA3I5CHYIIRA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
            ]
        },
        "CreateTranslationWorkflow": {
            "http": {
                "requestUri": "/translationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "translationTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S15"
                    },
                    "outputSourceConfig": {
                        "shape": "S18"
                    },
                    "translationTechniques": {
                        "shape": "Sf"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S15"
                    },
                    "outputSourceConfig": {
                        "shape": "S18"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "roleArn": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "DeleteTranslationWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/translationworkflows/{workflowId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "message"
                ],
                "members": {
                    "message": {}
                }
            },
            "idempotent": true,
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "GetTranslationJob": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows/{workflowId}/jobs/{jobId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "jobId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "jobId": {
                        "location": "uri",
                        "locationName": "jobId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "jobId",
                    "status",
                    "startTime"
                ],
                "members": {
                    "jobId": {},
                    "status": {},
                    "startTime": {
                        "type": "timestamp"
                    },
                    "endTime": {
                        "type": "timestamp"
                    },
                    "metrics": {
                        "type": "structure",
                        "members": {
                            "inputRecords": {
                                "type": "integer"
                            },
                            "totalRecordsProcessed": {
                                "type": "integer"
                            },
                            "recordsNotProcessed": {
                                "type": "integer"
                            }
                        },
                        "internalonly": true
                    },
                    "errorDetails": {
                        "shape": "S1w"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "GetTranslationWorkflow": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows/{workflowId}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "workflowName",
                    "workflowArn",
                    "inputSourceConfig",
                    "outputSourceConfig",
                    "resolutionTechniques",
                    "createdAt",
                    "updatedAt",
                    "roleArn"
                ],
                "members": {
                    "workflowName": {},
                    "workflowArn": {},
                    "description": {},
                    "inputSourceConfig": {
                        "shape": "S15"
                    },
                    "outputSourceConfig": {
                        "shape": "S18"
                    },
                    "resolutionTechniques": {
                        "shape": "Sf"
                    },
                    "createdAt": {
                        "type": "timestamp"
                    },
                    "updatedAt": {
                        "type": "timestamp"
                    },
                    "roleArn": {},
                    "tags": {
                        "shape": "St"
                    }
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "ListTranslationJobs": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows/{workflowId}/jobs",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "jobs": {
                        "shape": "S2g"
                    },
                    "nextToken": {}
                }
            },
            "internalonly": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEKFBJO4L6HNG5ZPNEHMDV72BW2IBGNIR3QJNXFAJZ4VXBGNUPIQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VKZ2BKW3AJJ7TBEQGICZE25HZIQTMV4XL7DOBZXHNYFJVF3MLEGQ/main.js"
            ]
        },
        "ListTranslationWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/translationworkflows",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "nextToken": {
                        "location": "querystring",
                        "locationName": "nextToken"
                    },
                    "maxResults": {
                        "location": "querystring",
                        "locationName": "maxResults",
[...]
