{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-08",
        "endpointPrefix": "workspaces-web",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon WorkSpaces Web",
        "serviceId": "WorkSpaces Web",
        "signatureName": "v4",
        "signingName": "workspaces-web",
        "uid": "erminecontrolplaneservice-2020-07-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
        ]
    },
    "operations": {
        "AssociateBrowserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "browserSettingsArn": {
                        "location": "querystring",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "browserSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "AssociateIpAccessSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "ipAccessSettingsArn": {
                        "location": "querystring",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "ipAccessSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "AssociateNetworkSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "networkSettingsArn": {
                        "location": "querystring",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "networkSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "AssociateTrustStore": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "trustStoreArn": {
                        "location": "querystring",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {},
                    "trustStoreArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "AssociateUserAccessLoggingSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userAccessLoggingSettingsArn": {
                        "location": "querystring",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "AssociateUserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userSettingsArn": {
                        "location": "querystring",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateBrowserSettings": {
            "http": {
                "requestUri": "/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserPolicy"
                ],
                "members": {
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "browserPolicy": {
                        "shape": "Sm"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateIdentityProvider": {
            "http": {
                "requestUri": "/identityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "identityProviderName",
                    "identityProviderType",
                    "identityProviderDetails"
                ],
                "members": {
                    "portalArn": {},
                    "identityProviderName": {
                        "shape": "Sq"
                    },
                    "identityProviderType": {},
                    "identityProviderDetails": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateIpAccessSettings": {
            "http": {
                "requestUri": "/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipRules"
                ],
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "description": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "ipRules": {
                        "shape": "Sy"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateNetworkSettings": {
            "http": {
                "requestUri": "/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S14"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "authenticationType": {},
                    "instanceType": {},
                    "maxConcurrentSessions": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "portalEndpoint"
                ],
                "members": {
                    "portalArn": {},
                    "portalEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateTrustStore": {
            "http": {
                "requestUri": "/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateList"
                ],
                "members": {
                    "certificateList": {
                        "shape": "S1e"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateUserAccessLoggingSettings": {
            "http": {
                "requestUri": "/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "kinesisStreamArn"
                ],
                "members": {
                    "kinesisStreamArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "CreateUserSettings": {
            "http": {
                "requestUri": "/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "copyAllowed",
                    "pasteAllowed",
                    "downloadAllowed",
                    "uploadAllowed",
                    "printAllowed"
                ],
                "members": {
                    "copyAllowed": {},
                    "pasteAllowed": {},
                    "downloadAllowed": {},
                    "uploadAllowed": {},
                    "printAllowed": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "disconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "idleDisconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "cookieSynchronizationConfiguration": {
                        "shape": "S1o"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "deepLinkEnabled": {},
                    "deepLinkAllowed": {},
                    "adminToolbarConfiguration": {
                        "shape": "S2g"
                    },
                    "toolbarConfiguration": {
                        "shape": "S2g"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/browserSettings/{browserSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {
                        "location": "uri",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteIdentityProvider": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identityProviders/{identityProviderArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {
                        "location": "uri",
                        "locationName": "identityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ipAccessSettings/{ipAccessSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {
                        "location": "uri",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteNetworkSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networkSettings/{networkSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {
                        "location": "uri",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeletePortal": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteTrustStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustStores/{trustStoreArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {
                        "location": "uri",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteUserAccessLoggingSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {
                        "location": "uri",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DeleteUserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userSettings/{userSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {
                        "location": "uri",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DisassociateBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GYQC7QUTEZBMQMT4OB4FAU34CM42NG5CEJWE66JBGE4TH6WYJHMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SO3RAT5VGA3LKSTQKISDQXNKPO3BCEFXB44YQCWCGWMWATM7DCEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CLXMMTBZ6DD6P76CEJWVW3S623NQ6GCM2AZQ5ED6H4NKIUTBXG6A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DZZ3T4NATUS6FFCWFYNWFKL4A2Y3Q7YBLZKSJPWCVQKWXLOMA2SA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SUMSHWWSY2TZ74WLIZCO7S6TQ6AGWFWPJQCXZKDHYKXWQCRXARJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JSHNYLZFOLB4FZOALCBMJYT5FEQVMYLTXI74D2RXVUSDYJRIC7JA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFYG3F7EONPJZ4PYTNJQZLD2SCUHG25OXPQ32YVX4H6GK4MEOWLQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AG44BWU2WAZY7NLVIXWXOUZ4HIBZVUPG7CRTSJ4ZUUOWSCP6H2KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NPBDZR5U7KPOVUUP5KKEEN2IZAORCO6YQ3AGBO3EQCJWMUA7YVPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FLOFLJQHY6GCYMQPG66DC3PAYC23KF7V7FYE4RZTRQPB7RWC7TCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HSUTHQQP5NT2XJQVRCUKZTR5XNL6PEUC3N4STPM7VWRNQNM2LYHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TNTI3OXSBR6KCZ6DXOY6PXZEENGEUK6ZXQAKLR535KIQB6H5ZM5Q/vendors.js"
            ]
        },
        "DisassociateIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZX65SCBCHOVD7PLRYJE3NJOBPGNEPGB7WGAJ5HDUKJLWLGAK3VQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MVD3DHB6JGYENI2OOSINCV3VSDKZQNPHPFRMQ3TECT5IUTQWEOEA/vendors.js",
[...]
