{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-08",
        "endpointPrefix": "workspaces-web",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon WorkSpaces Web",
        "serviceId": "WorkSpaces Web",
        "signatureName": "v4",
        "signingName": "workspaces-web",
        "uid": "erminecontrolplaneservice-2020-07-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/LB2ILT4RRK7JQAQWYOZBA6V4IIFV44WPQKTYAK7TM56XUBW5RK2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateBrowserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "browserSettingsArn": {
                        "location": "querystring",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "browserSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "AssociateIpAccessSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "ipAccessSettingsArn": {
                        "location": "querystring",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "ipAccessSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "AssociateNetworkSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "networkSettingsArn": {
                        "location": "querystring",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "networkSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "AssociateTrustStore": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "trustStoreArn": {
                        "location": "querystring",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {},
                    "trustStoreArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "AssociateUserAccessLoggingSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userAccessLoggingSettingsArn": {
                        "location": "querystring",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "AssociateUserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userSettingsArn": {
                        "location": "querystring",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateBrowserSettings": {
            "http": {
                "requestUri": "/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserPolicy"
                ],
                "members": {
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "browserPolicy": {
                        "shape": "Sm"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateIdentityProvider": {
            "http": {
                "requestUri": "/identityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "identityProviderName",
                    "identityProviderType",
                    "identityProviderDetails"
                ],
                "members": {
                    "portalArn": {},
                    "identityProviderName": {
                        "shape": "Sq"
                    },
                    "identityProviderType": {},
                    "identityProviderDetails": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateIpAccessSettings": {
            "http": {
                "requestUri": "/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipRules"
                ],
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "description": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "ipRules": {
                        "shape": "Sy"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateNetworkSettings": {
            "http": {
                "requestUri": "/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S14"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "authenticationType": {},
                    "instanceType": {},
                    "maxConcurrentSessions": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "portalEndpoint"
                ],
                "members": {
                    "portalArn": {},
                    "portalEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateTrustStore": {
            "http": {
                "requestUri": "/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateList"
                ],
                "members": {
                    "certificateList": {
                        "shape": "S1e"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateUserAccessLoggingSettings": {
            "http": {
                "requestUri": "/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "kinesisStreamArn"
                ],
                "members": {
                    "kinesisStreamArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "CreateUserSettings": {
            "http": {
                "requestUri": "/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "copyAllowed",
                    "pasteAllowed",
                    "downloadAllowed",
                    "uploadAllowed",
                    "printAllowed"
                ],
                "members": {
                    "copyAllowed": {},
                    "pasteAllowed": {},
                    "downloadAllowed": {},
                    "uploadAllowed": {},
                    "printAllowed": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "disconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "idleDisconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "cookieSynchronizationConfiguration": {
                        "shape": "S1o"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "deepLinkEnabled": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/browserSettings/{browserSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {
                        "location": "uri",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteIdentityProvider": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identityProviders/{identityProviderArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {
                        "location": "uri",
                        "locationName": "identityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ipAccessSettings/{ipAccessSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {
                        "location": "uri",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteNetworkSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networkSettings/{networkSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {
                        "location": "uri",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeletePortal": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteTrustStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustStores/{trustStoreArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {
                        "location": "uri",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteUserAccessLoggingSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {
                        "location": "uri",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DeleteUserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userSettings/{userSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {
                        "location": "uri",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DisassociateBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX7GTGEA2X4RG6OFIM3T5JQGVRBFPOPJZA3LDLGDEZ5OHJIKE74A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FG6NBCHYZYD37VFNFM6EBQVY6PCG3TEWYNFAVXPW4Q3YGORHNRAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKMVOT3IC2YFGE5DOX6RSRTSBJ6AWL4XG36OOMTDDEBDC74W6QSQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4ROFIGEWK2ERKFS6SDNWUU4ENNJKFQEP6SFLARPTCCAE6I2OZRPA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F4XGYZN4ELPTTOZNRPJWYDNCCAESYDWIV6TADLOIYNCOHXJCDHAA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/25T5ZZ5F5YL62VG53Q6Y2XQE7F2JUUMJ77JJKMOY6VYPERHFX6GQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PM2DRPC3H3IJPOVNILMDMWY44ZENG7YY53DD2TGL662UN2LQ36WA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H3YM7LHEM6ZA57T7QUDAHX3Y5D3IX3CCKZD2FYHBMIN7QBX2WH3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7NKWKN3CCRFKULCC37OTJ7ZNHCBM7SRIIILBMMR3Z7XQEHNRRKSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7VXK5UE7H43ATHEVFINREBEXZ6EYQSHRZYWJGIZRRGQGJK3EOJLQ/vendors.js"
            ]
        },
        "DisassociateIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/YGJZM356BNVAAGDUEV6EPWCRD473DCGY7LX4FJJMDFFW7GOVTWJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R2BRWXYZDNRTTE27HKLD5KTUPUL3QEP2CQXUMD5ZDE4PDQO6MPSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVFITT5YFI7CZ2GBVTVR5DQ7RCGPL2KI637Q3SLDWZN22FH5QPQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QH7MQA2K6FELQOIR4E4GX2MPS6KQCM4VOW2FB45V62RDMGEUOWOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YKSETQSSEBZKF4H7EXIIVDAABWPGF6J3T3EA3ADYXRNRZZWSTZXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M3RO4CR6VQHCTTTRAM6RMJMPXEBDVHV323RT7WPXTDTZGDF5TNNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JS2OEFMFCCBQYFAXFKBKTC7BNWDB7L7QBFPATAXXEPFDSNIPHUCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QOHBIW5D4W2CMYYLMCRD2WMDDIVFBZCC4DORX4Q7T436T6G7MFKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y3ZMNMFYJ7UZJLEVRUWRQJRMDUUJXYDO7IJJZJCORHF5ZTKHDX3A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNDXS3GWCBWXO23FJPXGRBMHQ74ZHLOWVCSM2LPJUF7CVVI7RLAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5MNJPVT5NE6EFE2UH6QXBGZ5AT4CRCVGNEG5F7VIO6HJUMSSKTQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XVJBC27BLLMXFYLOV3OZ5KPQWASRPSP2LACIGVRUNRFLQGVP7OKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QWQMNE7N3TTADYEFFOF4Y6ZBERRRLDRIUBXAULIS4ZGO7KP23OXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E3RPHSQX2NV3NBLZ5GF5PD3HSSAQRDPTLB5PTOCCNFEBQJ67YEZA/vendors.js",
[...]
