{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-08",
        "endpointPrefix": "workspaces-web",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon WorkSpaces Web",
        "serviceId": "WorkSpaces Web",
        "signatureName": "v4",
        "signingName": "workspaces-web",
        "uid": "erminecontrolplaneservice-2020-07-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/QC4LKUL67423UTSNL3FBMLGI5FL7QAIWA2DGVSUT72ZVVL2ZBAYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateBrowserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "browserSettingsArn": {
                        "location": "querystring",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "browserSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "AssociateIpAccessSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "ipAccessSettingsArn": {
                        "location": "querystring",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "ipAccessSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "AssociateNetworkSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "networkSettingsArn": {
                        "location": "querystring",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "networkSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "AssociateTrustStore": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "trustStoreArn": {
                        "location": "querystring",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {},
                    "trustStoreArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "AssociateUserAccessLoggingSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userAccessLoggingSettingsArn": {
                        "location": "querystring",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "AssociateUserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userSettingsArn": {
                        "location": "querystring",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateBrowserSettings": {
            "http": {
                "requestUri": "/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserPolicy"
                ],
                "members": {
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "browserPolicy": {
                        "shape": "Sm"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateIdentityProvider": {
            "http": {
                "requestUri": "/identityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "identityProviderName",
                    "identityProviderType",
                    "identityProviderDetails"
                ],
                "members": {
                    "portalArn": {},
                    "identityProviderName": {
                        "shape": "Sq"
                    },
                    "identityProviderType": {},
                    "identityProviderDetails": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateIpAccessSettings": {
            "http": {
                "requestUri": "/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipRules"
                ],
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "description": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "ipRules": {
                        "shape": "Sy"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateNetworkSettings": {
            "http": {
                "requestUri": "/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S14"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "authenticationType": {},
                    "instanceType": {},
                    "maxConcurrentSessions": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "portalEndpoint"
                ],
                "members": {
                    "portalArn": {},
                    "portalEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateTrustStore": {
            "http": {
                "requestUri": "/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateList"
                ],
                "members": {
                    "certificateList": {
                        "shape": "S1e"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateUserAccessLoggingSettings": {
            "http": {
                "requestUri": "/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "kinesisStreamArn"
                ],
                "members": {
                    "kinesisStreamArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "CreateUserSettings": {
            "http": {
                "requestUri": "/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "copyAllowed",
                    "pasteAllowed",
                    "downloadAllowed",
                    "uploadAllowed",
                    "printAllowed"
                ],
                "members": {
                    "copyAllowed": {},
                    "pasteAllowed": {},
                    "downloadAllowed": {},
                    "uploadAllowed": {},
                    "printAllowed": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "disconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "idleDisconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "cookieSynchronizationConfiguration": {
                        "shape": "S1o"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "deepLinkEnabled": {},
                    "deepLinkAllowed": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/browserSettings/{browserSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {
                        "location": "uri",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteIdentityProvider": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identityProviders/{identityProviderArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {
                        "location": "uri",
                        "locationName": "identityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ipAccessSettings/{ipAccessSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {
                        "location": "uri",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteNetworkSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networkSettings/{networkSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {
                        "location": "uri",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeletePortal": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteTrustStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustStores/{trustStoreArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {
                        "location": "uri",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteUserAccessLoggingSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {
                        "location": "uri",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DeleteUserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userSettings/{userSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {
                        "location": "uri",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DisassociateBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YSHH5M7QIDRIQFJ4DYJ2OATEGKPOYOXQMNZZV5POMNRG3JJLRMGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FB2RUKQMW6PQFDEC3UHH2UQI3KCDXHVR7EMPXAWVCXUI62QOSYWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js"
            ]
        },
        "DisassociateIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OLIVKHEPZQFFNJRUCOTBMAVXFYTZPL6VMSSMS55OEVPGT6PRXYKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V6DVL4FLJJAT7KFXMA3MQC2EQ6ENBMQUPDGD5I6W5SHHEV4UPOAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34BC6LPSP6W2Y23UQFZECRQZRPWQ3YAPKL7CVO5SMKPGMNSYDNCA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RVHXLBWWXUQUL6MSVRCYXDZ4DK5EWLUCWTSLVHD2UE5JSLP2NLQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/X6JYNPX24NZSTDB75FCJRBJXUYUE2M6M7GH5DST6SHEKFVTUK57A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6A4WUSN3DFGKFMMBY53XFETAFVZHAJNJXELTE45HAVLTTTKNJ6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TD733FJHCMCAGETPDNB7FNW5K4ME2VOCHX5TCN6ZEEDM5H53B5XQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3G5FN4U3ABOUSCTVM2QIQMG3AVKM6FEHDZRZ4XHZCQIJ7NGL2ZRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QI3IKBDW5QYODCBV2EKM3IT6AE7ZNKI4A3JPH35F3LIS5APPGNWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GAGTUJJAPICJAKOXZOADCL65EZWQYPEUPQ4BZUYPC37WB57R7TKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WFNUEEUR3PM4UTGXGB5LQ6URG4GZ2WOPUZLYOXPMI54DVYWR2VIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3OK42QYWOTHWK54UXMG3KKUP3MGGV7K3NL2VOOMFSLLWICGVCU4Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/A7AJXRDMZOOV262JBKZOVJMRQ3PRSZORZAFF7JXYV53AO5JS53FQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VCHOJEA4SOZUCDWYHLVIG2OJGRJJUMKB2GJE6CDBN3IG575TBEDA/vendors.js",
[...]
