{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-08",
        "endpointPrefix": "workspaces-web",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon WorkSpaces Web",
        "serviceId": "WorkSpaces Web",
        "signatureName": "v4",
        "signingName": "workspaces-web",
        "uid": "erminecontrolplaneservice-2020-07-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/EUS7TZ7D4BPIL6SQSIU3ON7HQLB47Z75IET4D5LIXVL432BDMODA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
        ]
    },
    "operations": {
        "AssociateBrowserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "browserSettingsArn": {
                        "location": "querystring",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "browserSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "AssociateIpAccessSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "ipAccessSettingsArn": {
                        "location": "querystring",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "ipAccessSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "AssociateNetworkSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "networkSettingsArn": {
                        "location": "querystring",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "networkSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "AssociateTrustStore": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "trustStoreArn": {
                        "location": "querystring",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {},
                    "trustStoreArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "AssociateUserAccessLoggingSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userAccessLoggingSettingsArn": {
                        "location": "querystring",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "AssociateUserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userSettingsArn": {
                        "location": "querystring",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateBrowserSettings": {
            "http": {
                "requestUri": "/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserPolicy"
                ],
                "members": {
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "browserPolicy": {
                        "shape": "Sm"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateIdentityProvider": {
            "http": {
                "requestUri": "/identityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "identityProviderName",
                    "identityProviderType",
                    "identityProviderDetails"
                ],
                "members": {
                    "portalArn": {},
                    "identityProviderName": {
                        "shape": "Sq"
                    },
                    "identityProviderType": {},
                    "identityProviderDetails": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "tags": {
                        "shape": "Sf"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateIpAccessSettings": {
            "http": {
                "requestUri": "/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipRules"
                ],
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "description": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "ipRules": {
                        "shape": "Sy"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateNetworkSettings": {
            "http": {
                "requestUri": "/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S14"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "authenticationType": {},
                    "instanceType": {},
                    "maxConcurrentSessions": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "portalEndpoint"
                ],
                "members": {
                    "portalArn": {},
                    "portalEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateTrustStore": {
            "http": {
                "requestUri": "/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateList"
                ],
                "members": {
                    "certificateList": {
                        "shape": "S1e"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateUserAccessLoggingSettings": {
            "http": {
                "requestUri": "/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "kinesisStreamArn"
                ],
                "members": {
                    "kinesisStreamArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "CreateUserSettings": {
            "http": {
                "requestUri": "/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "copyAllowed",
                    "pasteAllowed",
                    "downloadAllowed",
                    "uploadAllowed",
                    "printAllowed"
                ],
                "members": {
                    "copyAllowed": {},
                    "pasteAllowed": {},
                    "downloadAllowed": {},
                    "uploadAllowed": {},
                    "printAllowed": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "disconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "idleDisconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "cookieSynchronizationConfiguration": {
                        "shape": "S1o"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "deepLinkEnabled": {},
                    "deepLinkAllowed": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/browserSettings/{browserSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {
                        "location": "uri",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteIdentityProvider": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identityProviders/{identityProviderArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {
                        "location": "uri",
                        "locationName": "identityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ipAccessSettings/{ipAccessSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {
                        "location": "uri",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteNetworkSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networkSettings/{networkSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {
                        "location": "uri",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeletePortal": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteTrustStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustStores/{trustStoreArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {
                        "location": "uri",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteUserAccessLoggingSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {
                        "location": "uri",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DeleteUserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userSettings/{userSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {
                        "location": "uri",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DisassociateBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RW3PM6ADPULA5JQAZO7C3L4N5JWXNKYXWYYDJCUMU7WZVPZRPDCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AQUULCOO5VO54RRBBJ2QIJGOKXFKX665FHYNAKIVDEX2MUZVKMWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIAWNKUCQPRN4BDRQN5CG5SMDYS67FPVO6SKABPO5JAMH4SQZHOQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QIZ3N2G6DQSC6ZFEHJ2ZZOSNKEBADNU7AVHAX4P3K7SYUNP26OGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TJY6VDSRF44PCFS46TB6E2W3DWQ4XIOFVCWU7AWSOUAP35ERLQQA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IMF3IFPHNUFJFJQD7ZBB4MNGWOT5QI37JESALGKSSUTF6F6IX7TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PO7O4F3CTUSGB3RB5U67KSGFEWCBPWEIRV7J3K2OT4VM4LMKQJKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2VQ37JGG5DMZVJW6D64PCIT7PSSCYNLGZEHQMXYSJCQXAAIHYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VMIB5FLRAAL6K2FVKZVZPOYXHUIP2RNINT7DCQQNMFQPEX4YO4YA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K4YJNDDCLZFS7YNJJGDOJWWF2YMH5DEHLKPMKYJNEADRAOJUSELQ/vendors.js"
            ]
        },
        "DisassociateIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4VWR35FGDU5GIKSR4CO4KHUVZLJ45WGZGGAQIFCDXNAX2ZDRFT2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PVASYA7OUXHDQ27ZC5U6WQFT2J57YQHPAYSH2JO4QNWRSZLF3QRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PNFFXHUASGIR6O435HYDA45KGPFTAHDYBAAJZ6A42HSEGTUTV3TQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NMYZHWR5VNMFOASC3NQVBDO2KKPNVQZJWJC4F2LXTQXENJ6VDJNA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5YWR7QTTJN27DCIEWOFPLKZCEJHHEXRXF6OHFYF7AQ34FWMIEKGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QRHGMJ3SCG34D6OOWBAMNWEYZBHE7YLTHNZUKAQC6JQZIQP5BSYQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L52AFGQRFFRCO6L2P6OQF444WE4E6QAQMX2KFCYFLYABLYAURARQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/756Z7V23COGIHLL4ERQYPS63AEA2B2GP4G27WTVRFAI4EMRG2BHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IUG7W2GDTRJEMR3GBIONCZ4T4SNAHAC5EXAOBLL6FQ6GXJ2HBSAQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4DOYJU2NAIJSETHWTK3MLUDNHQWVXRZHFMQ2UH35K6D6B4YMFUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JQVYS6RHESLROWQE6A2BUGPQI3PQQ3OTTHGLKMAIIRY2AUG7M6KA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XDDY3RLHHNWY6EHCUE3XCZM4OB6C4DEPOLHXG6ZIOS6BFJNL4LTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BYDTZ4B34VH7MGPMM4VZRPV2OLRE2MAOM7QIR6MTC4YMBHFQOUEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YXVJ6Y7KZKSR5CIWDBJP65RCR3O6QTANAF5ODF3EXKUFBEFSC3OA/vendors.js",
[...]
