{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2020-07-08",
        "endpointPrefix": "workspaces-web",
        "jsonVersion": "1.1",
        "protocol": "rest-json",
        "serviceFullName": "Amazon WorkSpaces Web",
        "serviceId": "WorkSpaces Web",
        "signatureName": "v4",
        "signingName": "workspaces-web",
        "uid": "erminecontrolplaneservice-2020-07-08",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
        ]
    },
    "operations": {
        "AssociateBrowserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "browserSettingsArn": {
                        "location": "querystring",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "browserSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "browserSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "AssociateIpAccessSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "ipAccessSettingsArn": {
                        "location": "querystring",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "ipAccessSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "AssociateNetworkSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "networkSettingsArn": {
                        "location": "querystring",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "networkSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "networkSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "AssociateTrustStore": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "trustStoreArn": {
                        "location": "querystring",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "trustStoreArn"
                ],
                "members": {
                    "portalArn": {},
                    "trustStoreArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "AssociateUserAccessLoggingSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userAccessLoggingSettingsArn": {
                        "location": "querystring",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "AssociateUserSettings": {
            "http": {
                "method": "PUT",
                "requestUri": "/portals/{portalArn+}/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    },
                    "userSettingsArn": {
                        "location": "querystring",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "userSettingsArn"
                ],
                "members": {
                    "portalArn": {},
                    "userSettingsArn": {}
                }
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateBrowserSettings": {
            "http": {
                "requestUri": "/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserPolicy"
                ],
                "members": {
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "browserPolicy": {
                        "shape": "Sm"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateIdentityProvider": {
            "http": {
                "requestUri": "/identityProviders",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "identityProviderName",
                    "identityProviderType",
                    "identityProviderDetails"
                ],
                "members": {
                    "portalArn": {},
                    "identityProviderName": {
                        "shape": "Sq"
                    },
                    "identityProviderType": {},
                    "identityProviderDetails": {
                        "shape": "Ss"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateIpAccessSettings": {
            "http": {
                "requestUri": "/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipRules"
                ],
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "description": {
                        "shape": "Sx"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "ipRules": {
                        "shape": "Sy"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateNetworkSettings": {
            "http": {
                "requestUri": "/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "vpcId",
                    "subnetIds",
                    "securityGroupIds"
                ],
                "members": {
                    "vpcId": {},
                    "subnetIds": {
                        "shape": "S14"
                    },
                    "securityGroupIds": {
                        "shape": "S16"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreatePortal": {
            "http": {
                "requestUri": "/portals",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "members": {
                    "displayName": {
                        "shape": "Sw"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "authenticationType": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "portalArn",
                    "portalEndpoint"
                ],
                "members": {
                    "portalArn": {},
                    "portalEndpoint": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateTrustStore": {
            "http": {
                "requestUri": "/trustStores",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "certificateList"
                ],
                "members": {
                    "certificateList": {
                        "shape": "S1e"
                    },
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateUserAccessLoggingSettings": {
            "http": {
                "requestUri": "/userAccessLoggingSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "kinesisStreamArn"
                ],
                "members": {
                    "kinesisStreamArn": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "CreateUserSettings": {
            "http": {
                "requestUri": "/userSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "copyAllowed",
                    "pasteAllowed",
                    "downloadAllowed",
                    "uploadAllowed",
                    "printAllowed"
                ],
                "members": {
                    "copyAllowed": {},
                    "pasteAllowed": {},
                    "downloadAllowed": {},
                    "uploadAllowed": {},
                    "printAllowed": {},
                    "tags": {
                        "shape": "Sf"
                    },
                    "disconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "idleDisconnectTimeoutInMinutes": {
                        "type": "integer"
                    },
                    "clientToken": {
                        "idempotencyToken": true
                    },
                    "cookieSynchronizationConfiguration": {
                        "shape": "S1o"
                    },
                    "customerManagedKey": {},
                    "additionalEncryptionContext": {
                        "shape": "Sk"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/browserSettings/{browserSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "browserSettingsArn"
                ],
                "members": {
                    "browserSettingsArn": {
                        "location": "uri",
                        "locationName": "browserSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteIdentityProvider": {
            "http": {
                "method": "DELETE",
                "requestUri": "/identityProviders/{identityProviderArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "identityProviderArn"
                ],
                "members": {
                    "identityProviderArn": {
                        "location": "uri",
                        "locationName": "identityProviderArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/ipAccessSettings/{ipAccessSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "ipAccessSettingsArn"
                ],
                "members": {
                    "ipAccessSettingsArn": {
                        "location": "uri",
                        "locationName": "ipAccessSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteNetworkSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/networkSettings/{networkSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "networkSettingsArn"
                ],
                "members": {
                    "networkSettingsArn": {
                        "location": "uri",
                        "locationName": "networkSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeletePortal": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteTrustStore": {
            "http": {
                "method": "DELETE",
                "requestUri": "/trustStores/{trustStoreArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "trustStoreArn"
                ],
                "members": {
                    "trustStoreArn": {
                        "location": "uri",
                        "locationName": "trustStoreArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteUserAccessLoggingSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userAccessLoggingSettings/{userAccessLoggingSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userAccessLoggingSettingsArn"
                ],
                "members": {
                    "userAccessLoggingSettingsArn": {
                        "location": "uri",
                        "locationName": "userAccessLoggingSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DeleteUserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/userSettings/{userSettingsArn+}",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "userSettingsArn"
                ],
                "members": {
                    "userSettingsArn": {
                        "location": "uri",
                        "locationName": "userSettingsArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DisassociateBrowserSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/browserSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DisassociateIpAccessSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/ipAccessSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6C4SRYDMNU5KOQCIUI5FUISBYPFGFDPOB5ZHR3THFE6KYKOFKE2A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KF7IH43UCEP77WZ4VWH3SQADJGVPDVBAUJPCZVFYVM45TNLDTNTA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M5XHY36FEOK6JFMLTFRED6PTB4GE42IFLFERGAWYUVWUSLXC6BBA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GZPMI7XQJFSBVBRXOS5O6DS3CMFOJG37RQGQWEDEDN4NUR4DHBUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K2AGEF42I4XAMICDOYY5D56NSNVC4JUZ62WHSXHYNRGVAOGXFLUA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHMH24KGD44MQ3GGH6JILGICKW3YGHUWWOGWFC6QQG5J2HYZODGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TS27WVQ4VZUE2QPKHATSGWJIZNYIZIEDPC3EER7IH2C3BFEJC23A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PX6QRO6HNCGFDCNIGZWZK5JXEI4Z5GJ3VNCFNGQ6L3LMZEKT3MLA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7FRLM2TOUDS74UMT57TJZWUWGAMLYNL5M5HKBDWULRUMQJHTNKOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V5NKH5P4HLVT4WYAHBEQGNNEAV2RG35GNGOYBZKZREOGL6KMSOHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VJPTDNT5V57DJIJF7KWE65H2GMSMHYYCU5RGAGC62Q43HYIANH3Q/vendors.js"
            ]
        },
        "DisassociateNetworkSettings": {
            "http": {
                "method": "DELETE",
                "requestUri": "/portals/{portalArn+}/networkSettings",
                "responseCode": 200
            },
            "input": {
                "type": "structure",
                "required": [
                    "portalArn"
                ],
                "members": {
                    "portalArn": {
                        "location": "uri",
                        "locationName": "portalArn"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "idempotent": true,
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/5A6PVLDWWEX2RHXHXBPDIWX4LEG5MKR6N6DWJL4KPG22KFKMFUGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PG5PPFCV7LRZBOF2WCJOCSPAT73NKH6D77NDALINRPDDHQ6T43AQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LPAFASNI2AMYPFFHC5YM44IT4QXVHCUK77A6TKEA6WHZFXT57MRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WBTHYAU2I77PXWSALZRH4ZNGJ5ZP4XL3NH7MNXHCMIAV6OBRZ7RA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AUPANDYHNEHNK6H54W42AF2KOZVKZZWLL2ER5BI7H53WHDU6CKDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZBINJHSAPHINBHDBLW5ULDD4U2Z7GRCHRCDVGDVU2QH66M2FD63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7WPA4X3ZG7UAMH2B4IE3FCQPV6OKD3DD2BSYDNQHNMHMT7EOK34Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S4FFDNMOUWJMZE4BMZ3C6W4ESPWKBRHQYEA2DXL7FALXIGVS4QSA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/64HXI5MGUE5R7YY3YENRGFHZJRRJKG2STDVO434KQEBBPTQEMIGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/U4A3WSHMBFXYWT5H7KL2OQ6J4LU2FZRKQ4JRUVI7VD5SPR2ADYCQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OCFRZMFQXMCD3FUWRT62IH46BWCZTWP2TQ7IQHPWTMGO2DYC3DFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZGEFLT2FUY34HSZFUTHI4RWWTDISPDJXE2QADVZG2NAPVFV5HNGQ/vendors.js",
[...]
