{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-01-01",
        "endpointPrefix": "es",
        "protocol": "rest-json",
        "serviceFullName": "Amazon Elasticsearch Service",
        "serviceId": "Elasticsearch Service",
        "signatureVersion": "v4",
        "uid": "es-2015-01-01",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/AAHB5NX5QLAZYOA4NXACU2PPWKPZVHMTXQFP5IKXL2ANPQKKYTMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
        ]
    },
    "operations": {
        "AcceptInboundCrossClusterSearchConnection": {
            "http": {
                "method": "PUT",
                "requestUri": "/2015-01-01/es/ccs/inboundConnection/{ConnectionId}/accept"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CrossClusterSearchConnectionId"
                ],
                "members": {
                    "CrossClusterSearchConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossClusterSearchConnection": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AddTags": {
            "http": {
                "requestUri": "/2015-01-01/tags"
            },
            "input": {
                "type": "structure",
                "required": [
                    "ARN",
                    "TagList"
                ],
                "members": {
                    "ARN": {},
                    "TagList": {
                        "shape": "Se"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AssociatePackage": {
            "http": {
                "requestUri": "/2015-01-01/packages/associate/{PackageID}/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PackageID",
                    "DomainName"
                ],
                "members": {
                    "PackageID": {
                        "location": "uri",
                        "locationName": "PackageID"
                    },
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainPackageDetails": {
                        "shape": "Sl"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "AuthorizeVpcEndpointAccess": {
            "http": {
                "requestUri": "/2015-01-01/es/domain/{DomainName}/authorizeVpcEndpointAccess"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName",
                    "Account"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "AuthorizedPrincipal"
                ],
                "members": {
                    "AuthorizedPrincipal": {
                        "shape": "Sy"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D276AMDDVTKNWIAA53UL34KBQYFJFBQWGTSFDUUOH7R4KIWZAHWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIQVITQXE2DTNT2RIG5XCCIUPNCOBAL2MTKITV43K77DEIPMMXWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFENU5DHCVSPAHZR53AH2QREQJADXJQIAMTATXT2Z2PW4VXPR3CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2AOXU6OTSH32NC7UZHNMP4D6YC3GQEUWEPD2I3JEPVTSO5YNL5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAHB5NX5QLAZYOA4NXACU2PPWKPZVHMTXQFP5IKXL2ANPQKKYTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CancelElasticsearchServiceSoftwareUpdate": {
            "http": {
                "requestUri": "/2015-01-01/es/serviceSoftwareUpdate/cancel"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ServiceSoftwareOptions": {
                        "shape": "S13"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateElasticsearchDomain": {
            "http": {
                "requestUri": "/2015-01-01/es/domain"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {},
                    "ElasticsearchVersion": {},
                    "ElasticsearchClusterConfig": {
                        "shape": "S19"
                    },
                    "EBSOptions": {
                        "shape": "S1f"
                    },
                    "AccessPolicies": {},
                    "SnapshotOptions": {
                        "shape": "S1i"
                    },
                    "VPCOptions": {
                        "shape": "S1j"
                    },
                    "CognitoOptions": {
                        "shape": "S1l"
                    },
                    "EncryptionAtRestOptions": {
                        "shape": "S1p"
                    },
                    "NodeToNodeEncryptionOptions": {
                        "shape": "S1r"
                    },
                    "AdvancedOptions": {
                        "shape": "S1s"
                    },
                    "LogPublishingOptions": {
                        "shape": "S1t"
                    },
                    "DomainEndpointOptions": {
                        "shape": "S1x"
                    },
                    "AdvancedSecurityOptions": {
                        "shape": "S20"
                    },
                    "AutoTuneOptions": {
                        "type": "structure",
                        "members": {
                            "DesiredState": {},
                            "MaintenanceSchedules": {
                                "shape": "S2b"
                            }
                        }
                    },
                    "TagList": {
                        "shape": "Se"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateOutboundCrossClusterSearchConnection": {
            "http": {
                "requestUri": "/2015-01-01/es/ccs/outboundConnection"
            },
            "input": {
                "type": "structure",
                "required": [
                    "SourceDomainInfo",
                    "DestinationDomainInfo",
                    "ConnectionAlias"
                ],
                "members": {
                    "SourceDomainInfo": {
                        "shape": "S5"
                    },
                    "DestinationDomainInfo": {
                        "shape": "S5"
                    },
                    "ConnectionAlias": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "SourceDomainInfo": {
                        "shape": "S5"
                    },
                    "DestinationDomainInfo": {
                        "shape": "S5"
                    },
                    "ConnectionAlias": {},
                    "ConnectionStatus": {
                        "shape": "S2y"
                    },
                    "CrossClusterSearchConnectionId": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreatePackage": {
            "http": {
                "requestUri": "/2015-01-01/packages"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PackageName",
                    "PackageType",
                    "PackageSource"
                ],
                "members": {
                    "PackageName": {},
                    "PackageType": {},
                    "PackageDescription": {},
                    "PackageSource": {
                        "shape": "S32"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PackageDetails": {
                        "shape": "S36"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "CreateVpcEndpoint": {
            "http": {
                "requestUri": "/2015-01-01/es/vpcEndpoints"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainArn",
                    "VpcOptions"
                ],
                "members": {
                    "DomainArn": {},
                    "VpcOptions": {
                        "shape": "S1j"
                    },
                    "ClientToken": {}
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcEndpoint"
                ],
                "members": {
                    "VpcEndpoint": {
                        "shape": "S3d"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D276AMDDVTKNWIAA53UL34KBQYFJFBQWGTSFDUUOH7R4KIWZAHWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIQVITQXE2DTNT2RIG5XCCIUPNCOBAL2MTKITV43K77DEIPMMXWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFENU5DHCVSPAHZR53AH2QREQJADXJQIAMTATXT2Z2PW4VXPR3CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2AOXU6OTSH32NC7UZHNMP4D6YC3GQEUWEPD2I3JEPVTSO5YNL5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAHB5NX5QLAZYOA4NXACU2PPWKPZVHMTXQFP5IKXL2ANPQKKYTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteElasticsearchDomain": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-01-01/es/domain/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "DomainStatus": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteElasticsearchServiceRole": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-01-01/es/role"
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteInboundCrossClusterSearchConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-01-01/es/ccs/inboundConnection/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CrossClusterSearchConnectionId"
                ],
                "members": {
                    "CrossClusterSearchConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossClusterSearchConnection": {
                        "shape": "S4"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteOutboundCrossClusterSearchConnection": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-01-01/es/ccs/outboundConnection/{ConnectionId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "CrossClusterSearchConnectionId"
                ],
                "members": {
                    "CrossClusterSearchConnectionId": {
                        "location": "uri",
                        "locationName": "ConnectionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossClusterSearchConnection": {
                        "shape": "S3n"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeletePackage": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-01-01/packages/{PackageID}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "PackageID"
                ],
                "members": {
                    "PackageID": {
                        "location": "uri",
                        "locationName": "PackageID"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "PackageDetails": {
                        "shape": "S36"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DeleteVpcEndpoint": {
            "http": {
                "method": "DELETE",
                "requestUri": "/2015-01-01/es/vpcEndpoints/{VpcEndpointId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "VpcEndpointId"
                ],
                "members": {
                    "VpcEndpointId": {
                        "location": "uri",
                        "locationName": "VpcEndpointId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "VpcEndpointSummary"
                ],
                "members": {
                    "VpcEndpointSummary": {
                        "shape": "S3s"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D276AMDDVTKNWIAA53UL34KBQYFJFBQWGTSFDUUOH7R4KIWZAHWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIQVITQXE2DTNT2RIG5XCCIUPNCOBAL2MTKITV43K77DEIPMMXWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFENU5DHCVSPAHZR53AH2QREQJADXJQIAMTATXT2Z2PW4VXPR3CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2AOXU6OTSH32NC7UZHNMP4D6YC3GQEUWEPD2I3JEPVTSO5YNL5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAHB5NX5QLAZYOA4NXACU2PPWKPZVHMTXQFP5IKXL2ANPQKKYTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeDomainAutoTunes": {
            "http": {
                "method": "GET",
                "requestUri": "/2015-01-01/es/domain/{DomainName}/autoTunes"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "AutoTunes": {
                        "type": "list",
                        "member": {
                            "type": "structure",
                            "members": {
                                "AutoTuneType": {},
                                "AutoTuneDetails": {
                                    "type": "structure",
                                    "members": {
                                        "ScheduledAutoTuneDetails": {
                                            "type": "structure",
                                            "members": {
                                                "Date": {
                                                    "type": "timestamp"
                                                },
                                                "ActionType": {},
                                                "Action": {},
                                                "Severity": {}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIQVITQXE2DTNT2RIG5XCCIUPNCOBAL2MTKITV43K77DEIPMMXWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFENU5DHCVSPAHZR53AH2QREQJADXJQIAMTATXT2Z2PW4VXPR3CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2AOXU6OTSH32NC7UZHNMP4D6YC3GQEUWEPD2I3JEPVTSO5YNL5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAHB5NX5QLAZYOA4NXACU2PPWKPZVHMTXQFP5IKXL2ANPQKKYTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GU4AUEKAGXE3LAIB5JRCTJXO6SZAUBCSQ33TP23IYLX7OQDZVPJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeDomainChangeProgress": {
            "http": {
                "method": "GET",
                "requestUri": "/2015-01-01/es/domain/{DomainName}/progress"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    },
                    "ChangeId": {
                        "location": "querystring",
                        "locationName": "changeid"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ChangeProgressStatus": {
                        "type": "structure",
                        "members": {
                            "ChangeId": {},
                            "StartTime": {
                                "type": "timestamp"
                            },
                            "Status": {},
                            "PendingProperties": {
                                "shape": "S1k"
                            },
                            "CompletedProperties": {
                                "shape": "S1k"
                            },
                            "TotalNumberOfStages": {
                                "type": "integer"
                            },
                            "ChangeProgressStages": {
                                "type": "list",
                                "member": {
                                    "type": "structure",
                                    "members": {
                                        "Name": {},
                                        "Status": {},
                                        "Description": {},
                                        "LastUpdated": {
                                            "type": "timestamp"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D276AMDDVTKNWIAA53UL34KBQYFJFBQWGTSFDUUOH7R4KIWZAHWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WIQVITQXE2DTNT2RIG5XCCIUPNCOBAL2MTKITV43K77DEIPMMXWA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YFENU5DHCVSPAHZR53AH2QREQJADXJQIAMTATXT2Z2PW4VXPR3CQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/S2AOXU6OTSH32NC7UZHNMP4D6YC3GQEUWEPD2I3JEPVTSO5YNL5Q/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AAHB5NX5QLAZYOA4NXACU2PPWKPZVHMTXQFP5IKXL2ANPQKKYTMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3VBNOMNKKZL33RGW7AF3RTJ7SVNC4YPFCILQPO4JGHTL45IDBMPA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeElasticsearchDomain": {
            "http": {
                "method": "GET",
                "requestUri": "/2015-01-01/es/domain/{DomainName}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainStatus"
                ],
                "members": {
                    "DomainStatus": {
                        "shape": "S2i"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeElasticsearchDomainConfig": {
            "http": {
                "method": "GET",
                "requestUri": "/2015-01-01/es/domain/{DomainName}/config"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainName"
                ],
                "members": {
                    "DomainName": {
                        "location": "uri",
                        "locationName": "DomainName"
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainConfig"
                ],
                "members": {
                    "DomainConfig": {
                        "shape": "S4l"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeElasticsearchDomains": {
            "http": {
                "requestUri": "/2015-01-01/es/domain-info"
            },
            "input": {
                "type": "structure",
                "required": [
                    "DomainNames"
                ],
                "members": {
                    "DomainNames": {
                        "type": "list",
                        "member": {}
                    }
                }
            },
            "output": {
                "type": "structure",
                "required": [
                    "DomainStatusList"
                ],
                "members": {
                    "DomainStatusList": {
                        "type": "list",
                        "member": {
                            "shape": "S2i"
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeElasticsearchInstanceTypeLimits": {
            "http": {
                "method": "GET",
                "requestUri": "/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "InstanceType",
                    "ElasticsearchVersion"
                ],
                "members": {
                    "DomainName": {
                        "location": "querystring",
                        "locationName": "domainName"
                    },
                    "InstanceType": {
                        "location": "uri",
                        "locationName": "InstanceType"
                    },
                    "ElasticsearchVersion": {
                        "location": "uri",
                        "locationName": "ElasticsearchVersion"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "LimitsByRole": {
                        "type": "map",
                        "key": {},
                        "value": {
                            "type": "structure",
                            "members": {
                                "StorageTypes": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "StorageTypeName": {},
                                            "StorageSubTypeName": {},
                                            "StorageTypeLimits": {
                                                "type": "list",
                                                "member": {
                                                    "type": "structure",
                                                    "members": {
                                                        "LimitName": {},
                                                        "LimitValues": {
                                                            "shape": "S5m"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "InstanceLimits": {
                                    "type": "structure",
                                    "members": {
                                        "InstanceCountLimits": {
                                            "type": "structure",
                                            "members": {
                                                "MinimumInstanceCount": {
                                                    "type": "integer"
                                                },
                                                "MaximumInstanceCount": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                },
                                "AdditionalLimits": {
                                    "type": "list",
                                    "member": {
                                        "type": "structure",
                                        "members": {
                                            "LimitName": {},
                                            "LimitValues": {
                                                "shape": "S5m"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeInboundCrossClusterSearchConnections": {
            "http": {
                "requestUri": "/2015-01-01/es/ccs/inboundConnection/search"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S5v"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossClusterSearchConnections": {
                        "type": "list",
                        "member": {
                            "shape": "S4"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EQH7DWKPFGT3YHK6A6I6MI4STXJDM2THTMWM7FEH7JLPHPARLFZQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZ7NJDTN6QTBZV3C4MKZWINYDL2QP5SHIBPXAJ35Y47TS4VU6WVQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PIP2X73J5DLTR7AP4OOEV3XNFG5LGRDEKLLCLHXVAADL4TYOIY4A/vendor.js"
            ]
        },
        "DescribeOutboundCrossClusterSearchConnections": {
            "http": {
                "requestUri": "/2015-01-01/es/ccs/outboundConnection/search"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Filters": {
                        "shape": "S5v"
                    },
                    "MaxResults": {
                        "type": "integer"
                    },
                    "NextToken": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "CrossClusterSearchConnections": {
                        "type": "list",
                        "member": {
                            "shape": "S3n"
                        }
                    },
                    "NextToken": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/26Z6YOVFPBXSVTBS54WR4TZQZJBT6H3NZ6AW5JAC2GQAX5DBFCYA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5TDD4ZE2IMYJDT5KLQZ6BA3NOTDFXT7FJGX7R2MYFJXUFQHIKBUQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LW3VMEZ3FAY3V3P72RQYDWSEVUQQ4J3FKBMAEMS2KASQPPHGRQTA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TW6BH5TXYLTHE7VIQXQLL5ZHTMK2JML6VKYYY6YIXAGACSSSIFIA/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/TFSLR4KS5BG34ZEVHJX76OLMDNI3RGGHHA5P23MEWCIKMJ5CGHJQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7T7PBGIX7FMWAC5UZEEWPNKJ3H4TUIFUETM2PJVVP7QNFPKQ3JTA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VL3IAPP7AJJ565MPI54UKNA4JJLB7BCBX6W4JGWXMLEG5L4XVIUQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4LSHY3MS6O5JWSORACPS5LYYCVHMDVMV62T72Z2OJ27UI6KMQYWA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PEFFT64QGQT4ORJ3T3ENSLRFS2CP64EGBLAZTZC55DG2EOYSJBYQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OTOUG5TT4GYYXHQGV4IJSE62ATPMO6XPDBERCJLIHIOB7647T7TA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://c.d.cdn.console.awsstatic.com/a/v1/ZWO5JMG4XIG3EXXYNUYJEL2NAVRFWUG55J2PYHAPXKUBHKWIK2UQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/GQ6A5X3GPFOJ7CDQLQEDK6IZBKNDZHVCVYCRMRNN3EWDLSE2ZHLA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YEVMO6ZPP4DWVWHX5NVGFND25RCW7NRR2A62BC4HZD6ATC26KNQA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/T3KA2KYBCMBQKRH57CM2ZP66RWQPEXSXCWYD4GJDYUG3XTPTOGMA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4WSE75D6IB56XVYWC7F57SFKYDIA5JYAL5RZFFBIK25VH7GIPTQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MIT7HTDRERQLDB6GV5DATJRC6ZJBGUN2S3HCDPSSA4PN6N3LJ5XA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HOTE2PMM75DZ4VFAAFW3X3DD4CRWOKCZJ4VVZ2HR3E22ZVQQVWKQ/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E7LWAVPLXDKKBSOXBCLPSFSJWO3AFE24ARW3Q4PZXDNTS5LVZKRA/vendor.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
[...]
