{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "events",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon EventBridge",
        "serviceId": "EventBridge",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEvents",
        "uid": "eventbridge-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
        ]
    },
    "operations": {
        "ActivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CancelReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayArn": {},
                    "State": {},
                    "StateReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ConnectionArn",
                    "InvocationEndpoint",
                    "HttpMethod"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "ApiDestinationState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName",
                    "EventSourceArn"
                ],
                "members": {
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "KmsKeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AuthorizationType",
                    "AuthParameters"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "AuthorizationType": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ClientParameters",
                                    "AuthorizationEndpoint",
                                    "HttpMethod"
                                ],
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "required": [
                                            "ClientID",
                                            "ClientSecret"
                                        ],
                                        "members": {
                                            "ClientID": {},
                                            "ClientSecret": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ApiKeyName",
                                    "ApiKeyValue"
                                ],
                                "members": {
                                    "ApiKeyName": {},
                                    "ApiKeyValue": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "InvocationConnectivityParameters": {
                        "shape": "S1l"
                    },
                    "KmsKeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoutingConfig",
                    "EventBuses"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreateEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventSourceName": {},
                    "Tags": {
                        "shape": "S24"
                    },
                    "KmsKeyIdentifier": {
                        "internalonly": true
                    },
                    "Description": {
                        "internalonly": true
                    },
                    "DeadLetterConfig": {
                        "shape": "S28",
                        "internalonly": true
                    },
                    "LogConfig": {
                        "shape": "S2d"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventBusArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "CreatePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeactivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeauthorizeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeletePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "Name": {},
                    "Description": {},
                    "ApiDestinationState": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "State": {},
                    "StateReason": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "SizeBytes": {
                        "type": "long"
                    },
                    "EventCount": {
                        "type": "long"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "Name": {},
                    "Description": {},
                    "ConnectionState": {},
                    "StateReason": {},
                    "AuthorizationType": {},
                    "SecretArn": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "Username": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "members": {
                                            "ClientID": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ApiKeyName": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "HomeRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "EndpointId": {},
                    "EndpointUrl": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7DSQEDIPJTA7URV4SDPENNFO22KB5PDMV5DKVKDQM6FHOCZ2H3Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeEventBus": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedBy": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExpirationTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IF2S4WNJVWZ4IL3FDZQRDNMK56BEJNYOH3B5JUQDGVZKI5ZXELDA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y4DGXWGTQQGVQIISR62JHO5SEHBPHVDMBL7H367AXIXWJJFICOIQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JJK4IKQDIKLFW2MPI2OU33D7MRUQRH5QQ6UIRHFB6ZZY3L65RIEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2FYSK7UA6RO6IBJSRLBY4KH6JAUE2VGDNYY2J4A5KPZGVGU6GSRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/TBV4MUCRYMUQK7IJCMDECWOAWUKZRIVHXUGAK6EN3YSHSWTAOF5Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7R6AAZAF3DEL3PJV6ZYSHREARSCTDDXCLAM5IG5IQURUHULVOJNQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMWEHUVDV3QVMSC6EJ62YVYO6ZJKC4ZKSOJA476ZYXBYMWSWUVSQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5CKPQZVNNETEDHV6V2TZ2NVWC3KETABQEFRHHAHCY63VEW4VKLLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7TGVDX2VSMJCWZNGYNFDPWUQJHPGQW4P4RVDDAHTZE2S6JOP5YCA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZUEZA7FHCJNKSFC4WZVHDE6SNALIPP35UJVS6EDNOQHEO6C4UVMQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UIOSQNM6L7VTULBHNSUSMSYH6NAVS2U6T7GFB4GHJI6FOMVTWTUQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IC2LUNWYPJW7TTTEIKA5TRF5APL5J6KDCA4ET5FIOG4NQ7APJFZA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/R42RKHSAIJNKNVPRIJODZO4KOPQNQLIY3TASQBS4MGEQ5PPEC6VQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7H3TMQX6RBTLIC7X2PVJIV6J6K2FNOIX66LMUYEJY6CXVTXGKGUQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KNT5FNC5PPZTG5WDZGCSILHTIK7MWPOM66Q5DY3S3VHSVVY7ROWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RJYUIDC6G2DINKVSH2DE6ORO7IH5QFFOKE2D3N5OQVFSEBY5FZFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K3IV73ODHGEOBZPOKQZNUV73EM6XLGPRIK3TSP2KHSOQIFIGD4LA/main.js"
            ]
        },
        "DescribeReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayName": {},
                    "ReplayArn": {},
                    "Description": {},
                    "State": {},
                    "StateReason": {},
                    "EventSourceArn": {},
                    "Destination": {
                        "shape": "S3m"
                    },
                    "EventStartTime": {
                        "type": "timestamp"
                    },
                    "EventEndTime": {
                        "type": "timestamp"
                    },
                    "EventLastReplayedTime": {
                        "type": "timestamp"
                    },
                    "ReplayStartTime": {
                        "type": "timestamp"
                    },
                    "ReplayEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4KK57GAQARBMNGHW6TUVEJHNPU3TD73FHW6T3QK237BO7IICFQOA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/WKT46BKNWSTORCGMWMIGKXGVL2Z2ODGHKLYMXNUN3DNHKMLNRZLA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LZMBPGH46BG6GX6E62BDULNJRN3566FRONZBLZSAI45CAPDSZHRQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CDNG556EBXGEVYENPXHBWXJZQIDFNFU3U5RXESRQXEBDG4LMY4OQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JYWVADDIMQ5DHNTIX3VSBEV26OKZRFSR2OJ6YIFJLGRRZXIFCVXA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RZSQZFUAKSVPHTXBM6DFAZHZONKAJ6HPZSMUMV6CDWL63VD4W6SA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7GSRIXBJ3EEOCBIWE5H53GD53RR7KU5BZL5Y3DHQAW6FFNZTX7OQ/main.js",
[...]
