{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "events",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon EventBridge",
        "serviceId": "EventBridge",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEvents",
        "uid": "eventbridge-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DUMRQYCXBWFE46VZSCWOOHFBAJANOLX3HE2QP56RYFEXGYJ7HCOQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
        ]
    },
    "operations": {
        "ActivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CancelReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayArn": {},
                    "State": {},
                    "StateReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CreateApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ConnectionArn",
                    "InvocationEndpoint",
                    "HttpMethod"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "ApiDestinationState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName",
                    "EventSourceArn"
                ],
                "members": {
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "RetentionDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AuthorizationType",
                    "AuthParameters"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "AuthorizationType": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ClientParameters",
                                    "AuthorizationEndpoint",
                                    "HttpMethod"
                                ],
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "required": [
                                            "ClientID",
                                            "ClientSecret"
                                        ],
                                        "members": {
                                            "ClientID": {},
                                            "ClientSecret": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ApiKeyName",
                                    "ApiKeyValue"
                                ],
                                "members": {
                                    "ApiKeyName": {},
                                    "ApiKeyValue": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoutingConfig",
                    "EventBuses"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CreateEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventSourceName": {},
                    "Tags": {
                        "shape": "S24"
                    },
                    "KmsKeyIdentifier": {
                        "internalonly": true
                    },
                    "Description": {
                        "internalonly": true
                    },
                    "DeadLetterConfig": {
                        "shape": "S28",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventBusArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "CreatePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeactivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeauthorizeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeleteApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeleteEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeleteEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeletePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "Name": {},
                    "Description": {},
                    "ApiDestinationState": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "State": {},
                    "StateReason": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "SizeBytes": {
                        "type": "long"
                    },
                    "EventCount": {
                        "type": "long"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "Name": {},
                    "Description": {},
                    "ConnectionState": {},
                    "StateReason": {},
                    "AuthorizationType": {},
                    "SecretArn": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "Username": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "members": {
                                            "ClientID": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ApiKeyName": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "HomeRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "EndpointId": {},
                    "EndpointUrl": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/COESPSODC6UWVYGOG7RLE45QBHDYLGY4PKUS3IIJWBAJH6OWL5DA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2F63ISU2QCDSERGYV6VYPD5YYQJPU6VDMCSTKOCST2YKWU4O4CBA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/W6CE3MT7NH3ORDGK24XCPMBMDXDNU7T6CT7H2KFF4PDXXZEB6KTQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ET6BSN67JSVM4DDV47XN5VG7D6LONEBENJNATAZNEC4TR3QBKGMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H6TTSEFZ4BALPQ3BANCYVIF6B7QCFUAYU26LAODTRMACRZDMXQGQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeEventBus": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedBy": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExpirationTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UVLHGSTZKL33XPHUJVTGXT3CYCIO6PM3D7RG5OZIYLUXENX7WYUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFMOI7752J4YGZ3H3WXVLIQ2BRYCRPRRNN6P2H5LW3MX53KUDZRQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZTAUVXLSOCF5XDX5ZDRAQCXPR3LTP6EKQTPMTJ6MYV3MAOC3UQNQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OG2VKACCB73ZTRB24STN5XCNJJ2HJPRIBBRC45CMGMPSPZR7TYVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JZNU6NX7FULHJCIBCRSVDAJIJ6WOPBPSK73AKAEDQ2RXH35GUFLQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/OW3YRNKALCSGQ7PGH4UN7G7BP2XN7XW47AVGCLWTW5NCLNZJRYXA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XW5O2AZUJEMZHGTRE27FQ3ZXDATMBLGKJU6Q2NFU2OGJFASFJABQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QO455IE2HQKURU52ANNDHXOTL45MCPZFQHQCGHLO6I2WCNX77BEQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/HFZUQ5ZO7N4E3V24HUYTYTXG4OKX7QSJWQ3SVQMZYXR7OTMWUYIA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/4N7J5NJMBZ6UTJDHFHZ3UOEZMATWWE6QSNJDSLRPKVNCZML5XYRQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/72DQHUWZYA2HIE7WYY6TDSO6JESIDUTF5X2FZILY46E4PDYYSWEA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KK7GJ6K7EZYJWDNLK7A2IEFTKVQXEBXU2LGHWEBP7BPFSS7JSIDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L4MJ2X2MROG6Y2LXCEMRCVCQX7MYZ6N5N3SE6CQZWMIEG6765KNQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/K7PKFOOL4QEH57UBSREYHKDS4ZKPIIOQVK7PRU2DX2UJTNHANDKA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VPCJPEWQJ5CVLHPZCDWEORI5GWLPWQMATDJKQ37WFYUQWEJBHHJA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/G575DYOIC7LLV6B2PP5WUIISB3RQEZFCHKLHC75MHNJ7XF5A3SDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RX3MHDMQFT6TKBYCVB77O7W6XQW7R4ZATVZMOMZ624VKSEYVNONQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BSNQGYJFD5LXXRZNZQ6WV2MKG4G345XN2AZB4HBO7CJYS3IPWOOQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/LD66QUU5CE5QEDXKQYMIPJ4F5AJRUXOMZTAOSQL7AH4ZIWRVIRJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O7IZHACYWGW445YED5YUGHH3YKU2QNUEUY5DJTICIXSN27EWQNGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/34FMAKKY75B35KWDTBA7VYPGG2RL6KG75WLAAC52XAGOBYFDDARQ/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RASM5DJZD7MSG42NIJ5DIX23HUJQXH44ZJEBHQZ4O3AU7BVNQI7Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F7TVZOMY2NYPI64VJ6IARREU7VOWTI2FT5V255NOYPJ2ZPWBB7QQ/vendors.sdk.js"
            ]
        },
        "DescribeReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayName": {},
                    "ReplayArn": {},
                    "Description": {},
                    "State": {},
                    "StateReason": {},
                    "EventSourceArn": {},
                    "Destination": {
                        "shape": "S3m"
                    },
                    "EventStartTime": {
                        "type": "timestamp"
                    },
                    "EventEndTime": {
                        "type": "timestamp"
                    },
                    "EventLastReplayedTime": {
                        "type": "timestamp"
                    },
                    "ReplayStartTime": {
                        "type": "timestamp"
                    },
                    "ReplayEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/7O5S2Z7IVMH63XTKXDDTMRBSNSGG3WPUNIIIY6QZ47DFBQTMXOPQ/aws-sdk.js",
[...]
