{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "events",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon EventBridge",
        "serviceId": "EventBridge",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEvents",
        "uid": "eventbridge-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js"
        ]
    },
    "operations": {
        "ActivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "CancelReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayArn": {},
                    "State": {},
                    "StateReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ConnectionArn",
                    "InvocationEndpoint",
                    "HttpMethod"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "ApiDestinationState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName",
                    "EventSourceArn"
                ],
                "members": {
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "RetentionDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AuthorizationType",
                    "AuthParameters"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "AuthorizationType": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ClientParameters",
                                    "AuthorizationEndpoint",
                                    "HttpMethod"
                                ],
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "required": [
                                            "ClientID",
                                            "ClientSecret"
                                        ],
                                        "members": {
                                            "ClientID": {},
                                            "ClientSecret": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ApiKeyName",
                                    "ApiKeyValue"
                                ],
                                "members": {
                                    "ApiKeyName": {},
                                    "ApiKeyValue": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoutingConfig",
                    "EventBuses"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E52MRCUFHND5NI7X6VES7ZPSEPSGQQQVNJG76UXQ3BBQPFTGETTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "CreateEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventSourceName": {},
                    "Tags": {
                        "shape": "S24"
                    },
                    "KmsKeyIdentifier": {
                        "internalonly": true
                    },
                    "Description": {
                        "internalonly": true
                    },
                    "DeadLetterConfig": {
                        "shape": "S28",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventBusArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "CreatePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DeactivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DeauthorizeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DeleteEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E52MRCUFHND5NI7X6VES7ZPSEPSGQQQVNJG76UXQ3BBQPFTGETTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "DeleteEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DeletePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "Name": {},
                    "Description": {},
                    "ApiDestinationState": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "State": {},
                    "StateReason": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "SizeBytes": {
                        "type": "long"
                    },
                    "EventCount": {
                        "type": "long"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "Name": {},
                    "Description": {},
                    "ConnectionState": {},
                    "StateReason": {},
                    "AuthorizationType": {},
                    "SecretArn": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "Username": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "members": {
                                            "ClientID": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ApiKeyName": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js"
            ]
        },
        "DescribeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "HomeRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "EndpointId": {},
                    "EndpointUrl": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/NC2AH7VTSQAJTZPWXZGOFSVYKZEW6YPEYWRPV74DHDEGICG5A63Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MSPAUZ63S5THBFGKRDATHEGE57HFG5R5QD4HPFXGNHYSMPJSUUMA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/E52MRCUFHND5NI7X6VES7ZPSEPSGQQQVNJG76UXQ3BBQPFTGETTA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Q5WUFVEKZ6KL7EUKXUDBWSD4V3SLI3UWQT3S4XDPPUAFK76ML7GQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SBZLRMKAIB6LKZXLWRMNFQDC7FKILXUZLH33L3YWXJIRDHHJ7U6Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/P2DC5I6IPD7HMPWQLLG6OSQZEX6B5BA5GKAXJIBTUZTGK6CP4Y4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZYWTJ2HPJOL3SG56CBRR4EAEZAV3MN6OHHRD7CQ47MEW7VFFKVTQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/UMZVWNANN7BKDO4CLVJ4MM6JCNUY7R2PKQVI2O5IGE3VX4QKLQWA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EF6JPJXKZMCC4FTCP4KPGRM2RRGHXQ2X7OTZFLTA5LJYHCUPQRFA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js"
            ]
        },
        "DescribeEventBus": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedBy": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExpirationTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/QZEX7VUXHCO6GDQSBZFQPQESOJWM6JQW3DLTTMDG54CT6MZDUJGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/57GHCA5B5UYCN4P42Y5UJP5BJDEGLSNQ2OGDF4B76MOZUE4NDSDA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/L6RLZLBVVJGKEXIX3QOFXIBHP5OC33KM4P4WYBR2RZGD4AFOOSMQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7AQDBJ2J5BTNSMFFJJOMQSVUJ363YEUIJTOB75A6W3W2USEPQ2BA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SRGDT3TMJOFPQ5BDTLHRH4NAQKUMMTWKB4QPGLDCC5LUMO72QEKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KVOQ6MYRB6X7EXFZ34LOTS4DRENQHDD66SCEFVMOBXHATEO6GSTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YOJ5PITXGE57HUK7DBBVC2Q46RGKMNXXUHH324SFPRAODRY3CEFA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IFZBZH7BX5XGZB2MMSENB35CIR6QSLMDERAZ2WIFBTKO4TPUBIYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/YZZP4I2KK4IPTNRDNI3OLMQP7626KUJRDNDCDFAOPBAEYRB6IUCQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZW45PXKTX3C6FBYPZYVBEZSIHNZSFPRRVAXI3KLQFJX34TJPIMUQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6DOTQGWA5DITTJQJSS4F65OAG6HWNOFOSZGCLTCXDF4K5MZDEUJQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZKRAMBXBAB2D7PZCVBFRCLTR7T66MATA3GDLSAEYMWMIIQ4UQXVQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/DVFLIIUWI3YZJ7XXFVUZSQZZ4OUXRZA4T4LC6KDXYERFDP6VGZEQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FKOJX3JKCRYQPYLMZWGXJFKZQIXOIZQAHTDMYAZWZD2NKQ3U7VJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JXDCUPT7PS2W2ULUL3YSKZJHYHV5PDB6DAKVKGMPXCPPUKOUOTMQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6MSEPMS5IZDTAZSNE7SWK3WJSBENDJBDQP3LE2MKDR2HYNHKA7AA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/VHH3YGQ7NDZDIL5DA367GL3NC6I6TPJ7MQNNMUX2I2ZSXS66AQEA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/COKJKBKG5X2ZNINJ6T6KI2T44HMVKDQPIGKJNQ2RC5O6UU32ILZQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XHEL5CT2TTA2PNE7WU3NU2UQJVTYNMTRYRRJJ3OYXCZ5WNTRH5ZQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3F6Z5RY3E2RWETMFGRMALDPI3ZRXXKNEQ43PIWXMO477SEN7WKWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J7C4BH2JRLEGK3D7LNTBX2CV7BMXWYPEVH6HH67F7A6ZAEG6JERA/main.js"
            ]
        },
        "DescribeReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayName": {},
                    "ReplayArn": {},
                    "Description": {},
                    "State": {},
                    "StateReason": {},
                    "EventSourceArn": {},
                    "Destination": {
                        "shape": "S3m"
                    },
                    "EventStartTime": {
                        "type": "timestamp"
                    },
                    "EventEndTime": {
                        "type": "timestamp"
                    },
                    "EventLastReplayedTime": {
                        "type": "timestamp"
                    },
                    "ReplayStartTime": {
                        "type": "timestamp"
                    },
                    "ReplayEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z5RKPOJYRFHOR2HFGUEHB6CFTA7EYERINUXBK3REPWYGWT6MVOCA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XP63CZEGP5WT5DUWSS4Q76JAWRJBNUX7BT6RRZ4I7KZXDFK53KYQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2COSSGGOB7C3WGH4YNDOVVNG7FYEMEE6MQFQYQJSKYPYTNYWEQQQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3KH6I24YKVTYSNJ63DFBGROHGLY2FEY46ZQELGIVA5MGL3DSBWHQ/vendors.js",
[...]
