{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "events",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon EventBridge",
        "serviceId": "EventBridge",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEvents",
        "uid": "eventbridge-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
        ]
    },
    "operations": {
        "ActivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CancelReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayArn": {},
                    "State": {},
                    "StateReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ConnectionArn",
                    "InvocationEndpoint",
                    "HttpMethod"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "ApiDestinationState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName",
                    "EventSourceArn"
                ],
                "members": {
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "KmsKeyIdentifier": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AuthorizationType",
                    "AuthParameters"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "AuthorizationType": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ClientParameters",
                                    "AuthorizationEndpoint",
                                    "HttpMethod"
                                ],
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "required": [
                                            "ClientID",
                                            "ClientSecret"
                                        ],
                                        "members": {
                                            "ClientID": {},
                                            "ClientSecret": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ApiKeyName",
                                    "ApiKeyValue"
                                ],
                                "members": {
                                    "ApiKeyName": {},
                                    "ApiKeyValue": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "InvocationConnectivityParameters": {
                        "shape": "S1l"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "RoutingConfig",
                    "EventBuses"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreateEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventSourceName": {},
                    "Tags": {
                        "shape": "S24"
                    },
                    "KmsKeyIdentifier": {
                        "internalonly": true
                    },
                    "Description": {
                        "internalonly": true
                    },
                    "DeadLetterConfig": {
                        "shape": "S28",
                        "internalonly": true
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventBusArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "CreatePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeactivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeauthorizeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeletePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "Name": {},
                    "Description": {},
                    "ApiDestinationState": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "State": {},
                    "StateReason": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "SizeBytes": {
                        "type": "long"
                    },
                    "EventCount": {
                        "type": "long"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "Name": {},
                    "Description": {},
                    "ConnectionState": {},
                    "StateReason": {},
                    "AuthorizationType": {},
                    "SecretArn": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "Username": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "members": {
                                            "ClientID": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ApiKeyName": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEndpoint": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "HomeRegion": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Description": {},
                    "Arn": {},
                    "RoutingConfig": {
                        "shape": "S1n"
                    },
                    "ReplicationConfig": {
                        "shape": "S1t"
                    },
                    "EventBuses": {
                        "shape": "S1v"
                    },
                    "RoleArn": {},
                    "EndpointId": {},
                    "EndpointUrl": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/OWESAMRJD5YWTWY5QMGZ2KQIBDQH6SGDZWBPZTT2KUBUH25PGKJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HIWOQWKEWTXPN36AKSODUOR24OHZWSWHZSP2YAQFATYNHABO67Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Z7SA7BQP4KO7LL4O4K3K3A7FVK3NF2RSQACMDMOJGO5PUYTNJNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7ONCPNLO23IOEHICNDSUWWT62456IVYLFOFVHBWRIGCOWBNJQQ5A/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NYZYCHQO3UNCD3T5EIVD7F6XHJK4FYDC6DCEAOMOLGZ4BAENMDGQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CCPJBJZRZNQSCA55GROITCEMWSIC4SVJ3ECHZHGD5FQ4KZP7XGLA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/2E6O6AHS6XRBX4B4N3Z5UA2C5FZIRO54W5GGEK5TG3G4HYMKW2RA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ELWI7UAARHYDKH7RG6FKABVH4M3S4RFP4KYBHJVXG3OSETLOJWMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventBus": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedBy": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExpirationTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/D5TOK4HQCTJYCM56N2HLEIFA5TL24EWYCXN7FWA3MCDNNKPIZ53Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/Y6CF25ZUZY5Q6FWB6X4O55COMQCKJUKONA2DZHZ3GQRPMO23PNPQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/5Z322MPDRAZS2CHV56CDNFR7FXM5KMULNS7R5S7XD6WDTTBDXYLQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/26WPRHPNGUACH5VS5GCGL5PVSWGBNE7BCPIJSENUB7ULBOYESLPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/7HV2SU4IX2TA6UF5TC66S5XCMMD42OSZIWXZLITVWCDM6V2TDZ2Q/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/N5POMZ6QRGXNVWUYVQF6WXOQZT3RI25JOUP4Q65TLQUFQYXLKJ5A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/H72BNEUNSMC4URHQNP4VFE4TITWODFXHE5HWMFS2HIZXLM3HMQPQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/AE6QBZS36ZVF35BRBMHIL2KXLEUAROAQQYYWL2Z2F5VYLMCJG6RA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MGJ6VY2BWDD52FWAFY7I7QO4NWYMENW3UZT5EVLEHMAZYJVRLIRA/vendors1.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/F6KD23SBTUB5VY2OJY2DQBP2R4HXO5PAPY4X2ROWFMPNS6NLYSXQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHIVMWPRZOA2TVO4XIIOGKR3F5DVVAIHREY5XB6TYJAUFYZMLOJQ/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MD5R35KMSKREXZSM6YGWZZ5JCIBSLQS5DWWPYL6ZIHRB5HV2FQWQ/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3EZQ62GMFRUYBEV37QKMF5CEXC7JQBVQGFKFLLVJZLNX5NLSXPIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/JHDYHYMYYJY63KNTQFRUJNQALW7MCRYGYGS5EKGJD34I7ILUMNGA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/MV7FFC5ZINYPLDES2PGEMYQ7Q2HH6BN3HOPS2K5FZZ4BQEMOP3CA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZRERLX2BHDI4AGBBOXC2GSSXGQIBSPR6HQF3GTIP77K6DN57ZOJA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NQSY6WFYBUUNIVZHIVCJ7YN4AUF2RVMWEPPOIQZTVYQWBX2HZOUA/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/V2QOG4NG2FCIOMP5M6ELK2F2KNFSOUW2MQQQLTYQFZQTNWLZNGPQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XPPJSC332T2DQN24IMYWJMB2CYS7FVMPMUA3DVW4KIA4K5HATF5A/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EFL4G2XKIIQV7SNHW3CTMDFZVUNH2RXUFRW3J7GVZHXN67HSX34Q/vendors.sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/PDUM2LLTG7A2ZNKTLRUFQXHQBPCXQQSZMGCVXWLPHGSG5HNWNAHA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KD73ED3LKEXNUQPE3D3Y3MOZHZB5QST47GX64ID2LZ2EGUFU4NTQ/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EHN5JQIHC7GPBM4HYJBXEMBKES5OY5IVSW5EKLO5GTIF5Q7ACTQA/main.min.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZWA6BQMQQYKCWWZNGUS6EVSZC552453T3Z62DFNQI47HWTNUB23A/aws-sdk.js"
            ]
        },
        "DescribeReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayName": {},
                    "ReplayArn": {},
                    "Description": {},
                    "State": {},
                    "StateReason": {},
                    "EventSourceArn": {},
                    "Destination": {
                        "shape": "S3m"
                    },
                    "EventStartTime": {
                        "type": "timestamp"
                    },
                    "EventEndTime": {
                        "type": "timestamp"
                    },
                    "EventLastReplayedTime": {
                        "type": "timestamp"
                    },
                    "ReplayStartTime": {
                        "type": "timestamp"
                    },
                    "ReplayEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
[...]
