{
    "version": "2.0",
    "metadata": {
        "apiVersion": "2015-10-07",
        "endpointPrefix": "events",
        "jsonVersion": "1.1",
        "protocol": "json",
        "serviceFullName": "Amazon CloudWatch Events",
        "serviceId": "CloudWatch Events",
        "signatureVersion": "v4",
        "targetPrefix": "AWSEvents",
        "uid": "events-2015-10-07",
        "download_location": [
            "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
            "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
            "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
        ]
    },
    "operations": {
        "ActivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CancelReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayArn": {},
                    "State": {},
                    "StateReason": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "ConnectionArn",
                    "InvocationEndpoint",
                    "HttpMethod"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "ApiDestinationState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName",
                    "EventSourceArn"
                ],
                "members": {
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "RetentionDays": {
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "State": {},
                    "StateReason": {},
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "AuthorizationType",
                    "AuthParameters"
                ],
                "members": {
                    "Name": {},
                    "Description": {},
                    "AuthorizationType": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "Username",
                                    "Password"
                                ],
                                "members": {
                                    "Username": {},
                                    "Password": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ClientParameters",
                                    "AuthorizationEndpoint",
                                    "HttpMethod"
                                ],
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "required": [
                                            "ClientID",
                                            "ClientSecret"
                                        ],
                                        "members": {
                                            "ClientID": {},
                                            "ClientSecret": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "required": [
                                    "ApiKeyName",
                                    "ApiKeyValue"
                                ],
                                "members": {
                                    "ApiKeyName": {},
                                    "ApiKeyValue": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreateEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventSourceName": {},
                    "Tags": {
                        "shape": "S1m"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventBusArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "CreatePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "EventSourceArn": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeactivateEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeauthorizeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {}
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "ConnectionState": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteEventBus": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeletePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name",
                    "Account"
                ],
                "members": {
                    "Name": {},
                    "Account": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DeleteRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {},
                    "Force": {
                        "type": "boolean"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeApiDestination": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ApiDestinationArn": {},
                    "Name": {},
                    "Description": {},
                    "ApiDestinationState": {},
                    "ConnectionArn": {},
                    "InvocationEndpoint": {},
                    "HttpMethod": {},
                    "InvocationRateLimitPerSecond": {
                        "type": "integer"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeArchive": {
            "input": {
                "type": "structure",
                "required": [
                    "ArchiveName"
                ],
                "members": {
                    "ArchiveName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ArchiveArn": {},
                    "ArchiveName": {},
                    "EventSourceArn": {},
                    "Description": {},
                    "EventPattern": {},
                    "State": {},
                    "StateReason": {},
                    "RetentionDays": {
                        "type": "integer"
                    },
                    "SizeBytes": {
                        "type": "long"
                    },
                    "EventCount": {
                        "type": "long"
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeConnection": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ConnectionArn": {},
                    "Name": {},
                    "Description": {},
                    "ConnectionState": {},
                    "StateReason": {},
                    "AuthorizationType": {},
                    "SecretArn": {},
                    "AuthParameters": {
                        "type": "structure",
                        "members": {
                            "BasicAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "Username": {}
                                }
                            },
                            "OAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ClientParameters": {
                                        "type": "structure",
                                        "members": {
                                            "ClientID": {}
                                        }
                                    },
                                    "AuthorizationEndpoint": {},
                                    "HttpMethod": {},
                                    "OAuthHttpParameters": {
                                        "shape": "S14"
                                    }
                                }
                            },
                            "ApiKeyAuthParameters": {
                                "type": "structure",
                                "members": {
                                    "ApiKeyName": {}
                                }
                            },
                            "InvocationHttpParameters": {
                                "shape": "S14"
                            }
                        }
                    },
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "LastModifiedTime": {
                        "type": "timestamp"
                    },
                    "LastAuthorizedTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/4XJJ7VW4EWJBEE6SIXOPIVHE5B56ESNWQ5YKNGLO6VOLEGNSLHVA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/6YJO6CRESWY5VENDTMFDPFWE4IOQ4K3RN2YQGQNMBQEHX6MIS2AA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeEventBus": {
            "input": {
                "type": "structure",
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "Policy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "CreatedBy": {},
                    "CreationTime": {
                        "type": "timestamp"
                    },
                    "ExpirationTime": {
                        "type": "timestamp"
                    },
                    "Name": {},
                    "State": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribePartnerEventSource": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Arn": {},
                    "Name": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeReplay": {
            "input": {
                "type": "structure",
                "required": [
                    "ReplayName"
                ],
                "members": {
                    "ReplayName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "ReplayName": {},
                    "ReplayArn": {},
                    "Description": {},
                    "State": {},
                    "StateReason": {},
                    "EventSourceArn": {},
                    "Destination": {
                        "shape": "S2w"
                    },
                    "EventStartTime": {
                        "type": "timestamp"
                    },
                    "EventEndTime": {
                        "type": "timestamp"
                    },
                    "EventLastReplayedTime": {
                        "type": "timestamp"
                    },
                    "ReplayStartTime": {
                        "type": "timestamp"
                    },
                    "ReplayEndTime": {
                        "type": "timestamp"
                    }
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/B5XOXDH43GMFA2XS7R6EJJWUP7CCNJMG7OMU6MQGGQJDXSTPEJWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KMPBOSC7DMX32XXS4GAIZRPAB7RDK4UUL4FZFPHVHVZNAT7YHDMA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DescribeRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {}
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "Name": {},
                    "Arn": {},
                    "EventPattern": {},
                    "ScheduleExpression": {},
                    "State": {},
                    "Description": {},
                    "RoleArn": {},
                    "ManagedBy": {},
                    "EventBusName": {},
                    "CreatedBy": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "DisableRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RKHQJL4AU4L77BFSBOIENHPUPSKWMKLMPYUNP4QXXRKNKEWZ4FGA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/FT4OO2KXXZWQHFAB2ZSIIUKIFWZHVNRMIGOPEITKVVHGQJY4XSOA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BFQQW3HYMUCYUSFHLHWEOUVGMXD4TIHESFCQE5YJO537TQ5OOJYA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SFQOXKVSLED3OCT5CXHJZWENDN7CYOSDEVVQF6TYBEM6VP525B4A/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/J4SLRUZAZWWWH2UIO6KRIJW56UO4LV5WJDAJARQRBNN3YOBIWCMQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EK4SK5OEEWCP5XI477F6ZHNDFIMYBZQRJKGGY5TL5ELSIMCW7CIQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/BACENCN5LWLDZUB7XHBCEPEGPGNAWLMZAAVJH6CEMXMGRYEIPVKQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/XD4CZUZ3YYH3FGPEBQF5WMIW2J7DNZGADRLKLEDHGCKB5RTHEVIA/index.en.v2.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/SP2H6AE35TWFJDPZCT46CC3CBDEY6HTIK666YSOKEAGVSLLBMIFQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/KOAPLDOSZNVZBLXPFWC7PRZACGOG2SQQ45Q7Y7VD2VYBU2MYZOQQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3JXNTWH7H2QC5FVTEH6CDWKCAZT3SOKDYE5EOLGGID6OY2JWFBXQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/IPWIAK66WDE7KL4WWXJKNFVMC5XI5MR273ZZNB5XKFYL3KNYMVWQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CURHXOCJOQJVGV725PN3Y7QTLJY4LJUEFOOOKU2XC3PGTASMIDJQ/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/NV7JWCXCIE5OE6ISNIXSJ4DCDYM3OSIZOYPRP2NDJ463MVN22XDA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/46O4PM7Z46OBQNI4BSY5QHBBMIXY2YOB5URTUIFKUCZ5EWBQZ2EA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZFCNY4IDWL7OGL2YBP64QRCW5JL2WHWO3TCMSIUGPMI6MOFXRS5Q/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/EM5TEYXW2GPNHNBXGLJGFIL4GIRXMONC3E4ZMLRHFMOT55MSKGDQ/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/CW5EBPHDIY6BLCA6TL5IE5FT73DI73M7MCDQEEA4R5RI6RBQIHGA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/3HKFDYJPV7K4ZJNZXQLHF66ASQWNGOH4ISQQDKYWHXHZ5MPR74BA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/O6JM6HGXJ6PTOSSGF4B67BXNUVUV4467C73D263D5F6TFTEANDRQ/tangerine.js",
                "https://d29sfhxsuc7nqn.cloudfront.net/content/36430280-a7a9-44de-bf06-ab335cac0456/vendorv3.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/M6FW75KKKXX6M3M5KRIKTLD4MTAW37DZY6ZSM2TW2SLDK3N22DTA/vendors.js"
            ]
        },
        "EnableRule": {
            "input": {
                "type": "structure",
                "required": [
                    "Name"
                ],
                "members": {
                    "Name": {},
                    "EventBusName": {}
                }
            },
            "download_location": [
                "https://a.b.cdn.console.awsstatic.com/a/v1/UNSI3G7RET3K73R2NTBP2IW5FOGCESGCGFFOAUYWZM2UN3JTH6RA/main.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/ZY6AWY7LO2ETQQCBJ6YAKFFFTCYIW6I4AFSTZMETMCVLTNLZH5FA/vendors.js",
                "https://a.b.cdn.console.awsstatic.com/a/v1/RBIDR644AEQTCD6BN4HLT4IZCXJWTOUQL4WK5JEEUZF4OFAG3WFA/aws-sdk.js",
[...]
